@charset "utf-8";

.css-1o75n5t { padding-top: var(--chakra-space-8); padding-bottom: var(--chakra-space-8); background-color: var(--chakra-colors-white); background-size: cover; background-position: center center; color: var(--chakra-colors-black); }

@media screen and (min-width: 48rem) {
  .css-1o75n5t { padding-top: var(--chakra-space-16); padding-bottom: var(--chakra-space-16); }
}
