@charset "utf-8";

.css-1u6ezcd { cursor: pointer; text-decoration: none; outline: transparent solid 2px; outline-offset: 2px; color: var(--chakra-colors-text-link-light); transition: all 0.15s ease 0s; font-weight: var(--chakra-fontWeights-semibold); }

.css-1u6ezcd:hover, .css-1u6ezcd[data-hover] { text-decoration: none; color: var(--chakra-colors-primary-600); }

.css-1u6ezcd:focus, .css-1u6ezcd[data-focus] { box-shadow: var(--chakra-shadows-outline); }

.css-1u6ezcd svg { display: inline-block; vertical-align: initial; }
