@charset "utf-8";

a.cta_button { vertical-align: middle; box-sizing: content-box !important; }

.hs-breadcrumb-menu { list-style-type: none; margin: 0px; padding: 0px; }

.hs-breadcrumb-menu-item { float: left; padding: 10px 0px 10px 10px; }

.hs-breadcrumb-menu-divider::before { content: "›"; padding-left: 10px; }

.hs-featured-image-link { border: 0px; }

.hs-featured-image { float: right; margin: 0px 0px 20px 20px; max-width: 50%; }

@media (max-width: 568px) {
  .hs-featured-image { float: none; margin: 0px; width: 100%; max-width: 100%; }
}

.hs-screen-reader-text { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; width: 1px; position: absolute !important; }
