@charset "utf-8";

.ibu-verify-fastVip-wrap { position: fixed; width: 100%; top: 0px; z-index: 3000; }

.ibu-verify-fastVip { padding: 20px; font-family: PingFangSC-Regular, Arial, Helvetica, sans-serif; }

.ibu-verify-fastVip .form-submit { margin-top: 30px; }

.ibu-verify-fastVip .form-submit .change-vip-form { margin-top: 0px; }

.ibu-verify-fastVip .form-title { padding: 50px 10px 40px; color: rgb(17, 17, 17); font-size: 16px; line-height: 1.5; font-weight: 700; text-align: center; margin: 0px; }

.ibu-verify-fastVip .form-box { margin: 0px; padding: 0px; }

.ibu-verify-fastVip .form-box li { padding: 0px 0px 20px; list-style: none; }

.ibu-verify-fastVip .form-box li .checkbox-field { padding-bottom: 8px; }

.ibu-verify-fastVip .form-box li .checkbox-field:last-of-type { padding-bottom: 0px; }

.ibu-verify-fastVip .form-box li .input-wrap { display: flex; place-content: center; -webkit-box-pack: center; border-bottom: 1px solid rgb(204, 204, 204); }

.ibu-verify-fastVip .form-box li .input-wrap .focus { border-bottom-color: rgb(62, 143, 255); }

.ibu-verify-fastVip .form-box li .input-wrap .error { border-bottom-color: rgb(227, 6, 9); }

.ibu-verify-fastVip .form-box li .input-wrap input { -webkit-box-flex: 1; flex: 1 1 0%; }

.ibu-verify-fastVip .form-box .f-ipt { border: none; padding: 10px 0px; color: rgb(34, 34, 34); caret-color: rgb(1, 134, 228); font-size: 17px; }

.ibu-verify-fastVip .form-box .f-ipt :focus { outline: 0px; }

.ibu-verify-fastVip .form-box .f-ipt[readonly] { color: rgb(153, 153, 153); }

.ibu-verify-fastVip .form-box .f-ipt::-webkit-input-placeholder { color: rgb(204, 204, 204); }

.ibu-verify-fastVip .form-box .icon-group { box-sizing: border-box; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: end; justify-content: flex-end; padding-left: 10px; }

.ibu-verify-fastVip .form-box .ic-close { display: block; background: rgb(199, 199, 204); width: 17px; height: 17px; line-height: 17px; text-align: center; border-radius: 50%; font-size: 13px; color: rgb(255, 255, 255); bottom: 12px; position: static; }

.ibu-verify-fastVip-tip { padding: 50px 10px 40px; line-height: 1.5; color: rgb(153, 153, 153); font-size: 15px; margin: 0px; }

.ibu-verify-fastVip-tip .fastVip-verify-email { color: rgb(51, 51, 51); }

.email-box .email-code { font-size: 0px; text-align: center; margin: 20px 0px; }

.email-box .email-code .tit { font-size: 16px; margin-bottom: 10px; }

.email-box .email-code input { display: inline-block; width: 48px; height: 48px; border: 1px solid rgba(0, 0, 0, 0.12); background: rgb(234, 234, 234); box-sizing: border-box; text-align: center; margin-right: 4px; font-size: 20px; border-radius: 2px; }

.email-box .email-code input:focus { outline: none; }

.email-box .email-code input.focus { background: rgb(255, 255, 255); border-color: rgb(1, 134, 228); }

.email-box .error input { border-color: rgb(231, 76, 60); }

.email-box .error-txt { padding-left: 5px; text-align: left; color: rgb(231, 76, 60); font-size: 12px; margin-top: 8px; }

.ibu-verify-resendBlock { font-size: 14px; padding: 15px 0px; margin: 0px; text-align: center; }

.ibu-verify-resendBlock .ibu-verify-resendTime { color: rgb(153, 153, 153); }

.ibu-verify-resendBlock a { color: rgb(22, 157, 255) !important; }

.tomember-verify-slider-container { margin: 10px 0px; }

.tomember-verify-slider-container .cpt-choose-box-over { bottom: -115px !important; }
