@charset "utf-8";

._97b8b { box-sizing: border-box; display: flex; justify-content: flex-start; align-items: center; flex-direction: column; background: rgb(255, 255, 255); position: fixed; top: 55px; bottom: 0px; width: 100%; z-index: 4; height: 100%; overscroll-behavior: contain; overflow-y: scroll; pointer-events: auto; border-top: rgb(203, 203, 203); }

@media only screen and (min-width: 601px) {
  ._97b8b { width: 70%; min-height: calc(100vh - 65px); }
}

@media only screen and (min-width: 901px) {
  ._97b8b { width: 50%; }
}

@media only screen and (min-width: 1201px) {
  ._97b8b { display: none; }
}

._8440c { box-sizing: border-box; width: 100%; margin: 0px; }

._8440c li { display: flex; align-items: center; height: 50px; font-weight: 700; }

._8440c li:not(:last-child) { border-bottom: rgb(203, 203, 203); }

._8440c li:last-child { margin-bottom: 60px; }

.b6c17 { transform: rotate(-180deg); }

.lw-global-theme ._97b8b { right: 0px; }

.lw-global-theme ._8440c li { padding-left: 20px; }

.lw-global-theme ._21341, .lw-global-theme .b6c17 { display: inline-block; background: url("/assets/images/arrow-forward.svg") 50% center / contain no-repeat; width: 15px; height: 15px; }

.lw-global-theme .feee5 { width: 90%; }

.lw-global-theme ._1ce06, .lw-global-theme .feee5 { display: flex; justify-content: space-between; align-items: center; cursor: pointer; }

.lw-global-theme ._1ce06 { width: 50%; }

@media only screen and (min-width: 901px) {
  .lw-global-theme ._1ce06 { width: 35%; }
}

.laf-global-theme ._97b8b { left: 0px; }

.laf-global-theme ._8440c { padding-left: 20px; }

.laf-global-theme ._8440c li { padding-left: 0px; }

.laf-global-theme ._21341, .laf-global-theme .b6c17 { display: inline-block; width: 11px; height: 20px; background-image: inherit; background-position: inherit; background-size: inherit; background-repeat: inherit; background-attachment: inherit; background-origin: inherit; background-clip: inherit; background-color: rgb(255, 255, 255); -webkit-mask-image: url("/assets/images/arrow-forward.svg"); }

.laf-global-theme ._1ce06, .laf-global-theme .feee5 { display: flex; justify-content: space-between; align-items: center; color: rgb(255, 255, 255); font-weight: 400; cursor: pointer; }

@media (hover: hover) {
  .laf-global-theme ._1ce06:hover, .laf-global-theme .feee5:hover { color: rgb(185, 152, 63); border-bottom: none; }
}

@media (hover: hover) {
  .laf-global-theme ._1ce06:hover ._21341, .laf-global-theme ._1ce06:hover .b6c17, .laf-global-theme .feee5:hover ._21341, .laf-global-theme .feee5:hover .b6c17 { background-image: inherit; background-position: inherit; background-size: inherit; background-repeat: inherit; background-attachment: inherit; background-origin: inherit; background-clip: inherit; background-color: rgb(211, 174, 72); -webkit-mask-image: url("/assets/images/arrow-forward.svg"); }
}

.laf-global-theme .feee5 { width: 90%; }

.laf-global-theme ._1ce06 { width: 50%; }

@media only screen and (min-width: 901px) {
  .laf-global-theme ._1ce06 { width: 35%; }
}
