@charset "utf-8";

.gm-style .transit-container { background-color: white; max-width: 265px; overflow-x: hidden; }

.gm-style .transit-container .transit-title span { font-size: 14px; font-weight: 500; }

.gm-style .transit-container .transit-title { padding-bottom: 6px; }

.gm-style .transit-container .transit-wheelchair-icon { background: url("https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png") -5px -450px / 59px 492px transparent; display: inline-block; width: 13px; height: 13px; }

@media (-o-min-device-pixel-ratio:29/24), (-o-min-device-pixel-ratio:6/5), (-webkit-min-device-pixel-ratio: 1.2), (-webkit-min-device-pixel-ratio: 1.20833333333333), (min--moz-device-pixel-ratio:1.2), (min--moz-device-pixel-ratio:1.20833), (min-resolution: 1.2dppx), (min-resolution: 116dpi) {
  .gm-style .transit-container .transit-wheelchair-icon { background-image: url("https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6_hdpi.png"); background-size: 59px 492px; display: inline-block; background-position: -5px -449px; width: 13px; height: 13px; }
  .gm-style.gm-china .transit-container .transit-wheelchair-icon { background-image: url("http://maps.gstatic.cn/mapfiles/api-3/images/mapcnt6_hdpi.png"); }
}

.gm-style .transit-container div { background-color: white; font-size: 11px; font-weight: 300; line-height: 15px; }

.gm-style .transit-container .transit-line-group { overflow: hidden; margin-right: -6px; }

.gm-style .transit-container .transit-line-group-separator { border-top: 1px solid rgb(230, 230, 230); padding-top: 5px; }

.gm-style .transit-container .transit-nlines-more-msg { color: rgb(153, 153, 153); margin-top: -3px; padding-bottom: 6px; }

.gm-style .transit-container .transit-line-group-vehicle-icons { display: inline-block; padding-right: 10px; vertical-align: top; margin-top: 1px; }

.gm-style .transit-container .transit-line-group-content { display: inline-block; min-width: 100px; max-width: 228px; margin-bottom: -3px; }

.gm-style .transit-container .transit-clear-lines { clear: both; }

.gm-style .transit-container .transit-div-line-name { float: left; padding: 0px 6px 6px 0px; white-space: nowrap; }

.gm-style .transit-container .transit-div-line-name .gm-transit-long { width: 107px; }

.gm-style .transit-container .transit-div-line-name .gm-transit-medium { width: 50px; }

.gm-style .transit-container .transit-div-line-name .gm-transit-short { width: 37px; }

.gm-style .transit-div-line-name .renderable-component-icon { float: left; margin-right: 2px; }

.gm-style .transit-div-line-name .renderable-component-color-box { background-image: url("https://maps.gstatic.com/mapfiles/transparent.png"); height: 10px; width: 4px; float: left; margin-top: 3px; margin-right: 3px; margin-left: 1px; }

.gm-style.gm-china .transit-div-line-name .renderable-component-color-box { background-image: url("http://maps.gstatic.cn/mapfiles/transparent.png"); }

.gm-style .transit-div-line-name .renderable-component-text, .gm-style .transit-div-line-name .renderable-component-text-box { text-align: left; overflow: hidden; text-overflow: ellipsis; display: block; }

.gm-style .transit-div-line-name .renderable-component-text-box { font-size: 8pt; font-weight: 400; text-align: center; padding: 1px 2px; }

.gm-style .transit-div-line-name .renderable-component-text-box-white { border: 1px solid rgb(204, 204, 204); background-color: white; padding: 0px 2px; }

.gm-style .transit-div-line-name .renderable-component-bold { font-weight: 400; }

sentinel { }
