@charset "utf-8";

.gm-iw { text-align: left; }

.gm-iw .gm-numeric-rev { float: left; }

.gm-iw .gm-photos, .gm-iw .gm-rev { direction: ltr; }

.gm-iw .gm-stars-f, .gm-iw .gm-stars-b { background: url("https://maps.gstatic.com/mapfiles/api-3/images/review_stars.png") 0% 0% / 65px 26px no-repeat; float: left; }

.gm-iw .gm-stars-f { background-position: left -13px; }

.gm-iw .gm-sv-label, .gm-iw .gm-ph-label { left: 4px; }
