@charset "utf-8";

._6d1a0 { display: flex; justify-content: center; align-items: center; flex-shrink: 0; min-width: 278px; height: 330px; }

._2ea22 { display: none; }

._68c91 { font-size: 22px; height: 19px; }

._50272 { font-size: 18px; font-weight: 400; padding-top: 5px; }

._661b9 { display: flex; justify-content: center; align-items: center; flex-shrink: 0; width: 147px; min-width: 147px; height: 147px; }

._661b9 .c2c39 { padding-bottom: 10px; }

._661b9 ._2ea22 { display: block; font-size: 14px; }

._661b9 ._68c91 { font-size: 14px; }

._6d1a0, ._661b9 { border-radius: 3px; overflow: hidden; margin-right: 10px; background-color: rgb(216, 216, 216); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; }

._4c63e { width: 100%; height: 50%; bottom: -25%; background-image: linear-gradient(transparent 38%, rgb(0, 0, 0) 99%); display: flex; flex-direction: column; justify-content: flex-end; }

._4c63e, .c2c39 { position: relative; }

.c2c39 { padding-bottom: 15px; font-family: "Noto Serif", serif; text-align: center; bottom: 0px; font-weight: 700; color: rgb(255, 255, 255); }

._2d169 { height: 0px !important; }

.lw-global-theme ._6d1a0 ._68c91 { height: 30px; }

.laf-global-theme ._6d1a0 { height: 288px; width: 280px; margin-right: 5px; }

.laf-global-theme ._6d1a0 .c2c39 { font-family: Poppins, sans-serif; font-weight: 400; padding-bottom: 20px; }

.laf-global-theme ._6d1a0 ._68c91 { font-size: 35px; line-height: 38px; height: 38px; }

.laf-global-theme ._6d1a0 ._50272 { font-size: 16px; line-height: 24px; height: 25px; }

@media only screen and (min-width: 601px) {
  ._6d1a0 { }
  ._6d1a0, ._661b9 { margin-right: 10px; }
  .laf-global-theme ._6d1a0 { height: 288px; width: 386px; }
  .laf-global-theme ._6d1a0 ._68c91 { font-size: 28px; height: 33px; }
}

@media only screen and (min-width: 901px) {
  ._6d1a0, ._661b9 { margin: 0px 5px; }
  ._6d1a0 { min-width: 220px; width: calc(33.33% - 10px); }
  ._661b9 { min-width: auto; width: calc(25% - 10px); }
  .laf-global-theme ._6d1a0 { width: calc(33.33% - 5px); }
  .laf-global-theme ._6d1a0:first-child { margin-left: 0px; }
}

@media only screen and (min-width: 1401px) {
  ._6d1a0 { min-width: 292px; width: calc(25% - 10px); }
  ._661b9 { min-width: 147px; }
  .laf-global-theme ._6d1a0 { width: calc(25% - 5px); }
  .laf-global-theme ._68c91 { font-size: 35px; line-height: 50px; height: 38px; }
}

._21217 { background-color: rgb(216, 216, 216); }

.ecda6 { display: block; }

.a18c0 { height: fit-content; margin: 0px; }

.a18c0, .bf3b2 { position: relative; width: 100%; display: flex; }

.bf3b2 { flex-direction: row; align-items: center; overflow-x: scroll; }

._8d68f, .bf3b2::-webkit-scrollbar { display: none; }

.d8246 { cursor: pointer; }

._285cd { opacity: 0.3; }

._2e34b { margin-right: 15px; left: 0px; align-items: flex-start; padding: 0px 0px 0px 8px; }

.d0af6 { margin-left: 15px; align-items: flex-end; right: 0px; padding: 0px 8px 0px 0px; }

._69209 { height: fit-content; width: 100%; background-color: rgb(255, 255, 255); box-sizing: border-box; z-index: 1; }

._69209, ._69209 .a18c0 { position: relative; left: 0px; }

._69209 .d8e3f { display: none; }

._1e8a3 { background-color: rgb(255, 255, 255); box-sizing: border-box; position: absolute; width: 100%; z-index: 1; top: 0px; left: 0px; margin: 0px 0px 15px; }

._1e8a3 .d8e3f { width: 100%; font-size: 24px; line-height: 1; color: rgb(0, 0, 0); margin-bottom: 15px; }

._1e8a3 .d8e3f > span { font-family: "Noto Serif", serif; }

.lw-global-theme ._16e87 { position: relative; display: flex; flex-direction: column; justify-content: center; width: 42px; height: 42px; border-radius: 50%; box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 5px; border: 1px solid rgb(254, 254, 254); background-color: rgb(255, 255, 255); z-index: 4; }

.lw-global-theme ._60e74 { position: relative; left: 4px; z-index: 5; opacity: inherit; }

.lw-global-theme ._0efbf { display: inline-block; background: url("/assets/images/arrow-right-dark.svg") 50% center / contain no-repeat; width: 35px; height: 35px; }

.lw-global-theme ._868b6 { display: inline-block; background: url("/assets/images/arrow-left.svg") 50% center / contain no-repeat; width: 35px; height: 35px; }

.laf-global-theme ._69209 { background: none; }

.laf-global-theme ._69209 .d8e3f { display: block; font-family: Poppins, sans-serif; font-weight: 500; font-size: 26px; line-height: 33px; text-align: center; height: 68px; margin: 0px auto 22px; width: 280px; color: rgb(0, 0, 0); }

.laf-global-theme ._69209 .bf3b2 { height: 288px; padding: 3px 0px; }

.laf-global-theme ._16e87 { display: none; }

.laf-global-theme .d0af6 { padding: 0px; }

.laf-global-theme ._2e34b, .laf-global-theme .d0af6 { position: absolute; height: 100%; display: flex; margin: 0px; z-index: 1; }

.laf-global-theme ._60e74 { position: relative; z-index: 5; width: 28.5px; height: 14px; }

.laf-global-theme ._0efbf, .laf-global-theme ._868b6 { display: inline-block; background: url("/assets/images/laf-ptc-right-arrow.svg") 50% center / contain no-repeat; width: 14px; height: 28px; }

.laf-global-theme ._868b6 { transform: rotate(180deg); }

@media only screen and (min-width: 601px) {
  .a18c0 { overflow: hidden; }
  .bf3b2 { width: 100%; }
  .laf-global-theme ._69209 .ecda6 { display: inline-block; margin-right: 10px; }
  .laf-global-theme ._69209 .d8e3f { font-weight: 400; font-size: 35px; line-height: 50px; width: 100%; margin-bottom: 0px; }
}

@media only screen and (min-width: 901px) {
  ._1e8a3 { width: 100%; }
  .a18c0 { margin: auto; }
  .bf3b2 { overflow: hidden; width: 100%; padding: 3px; }
  ._8d68f { height: auto; width: 5%; display: flex; flex-direction: column; justify-content: center; }
  ._69209 { background-color: transparent; }
  .laf-global-theme ._69209 ._2e34b, .laf-global-theme ._69209 .a18c0 { padding: 0px; }
  .laf-global-theme ._69209 ._16e87 { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 55px; width: 55px; background: rgba(0, 0, 0, 0.6); cursor: pointer; }
}

@media only screen and (min-width: 1401px) {
  .bf3b2 { width: 100%; }
  ._2e34b, .d0af6 { margin: 0px; }
  ._69209 ._8d68f { width: 5%; }
  ._1e8a3 { width: 100%; }
  ._1e8a3 ._8d68f { width: 7%; }
  .lw-global-theme ._16e87 { width: 41px; height: 41px; }
}

@media only screen and (min-width: 1601px) {
  ._1e8a3 ._8d68f { width: 9%; }
  .lw-global-theme ._16e87 { width: 50px; height: 50px; }
  .lw-global-theme ._16e87 ._60e74 { left: 6px; }
  .laf-global-theme ._69209 .d8e3f { height: 48px; margin-bottom: 30px; }
}

@media only screen and (max-height: 480px) and (min-width: 480px) and (max-width: 823px) {
  .lw-global-theme ._16e87 { height: 31px; width: 31px; }
}
