@charset "utf-8";

.google-visualization-tooltip-action:hover { background-color: rgb(238, 238, 238); }

.google-visualization-tooltip { border: 1px solid rgb(189, 189, 189); border-radius: 2px; background-color: white; position: absolute; font-size: 12px; padding: 0px; box-shadow: rgba(204, 204, 204, 0.6) 0px 2px 2px 0px; z-index: 10000; }

.google-visualization-tooltip-action-list { list-style-type: none; margin: 0px; padding: 0.5em 0em; }

.google-visualization-tooltip-action { margin: 0px; cursor: pointer; padding: 0.5em 2em 0.5em 1em; }

.google-visualization-tooltip-action:hover { background-color: rgb(238, 238, 238); }

.google-visualization-tooltip-item-list { list-style-type: none; margin: 1em 0px; padding: 0em; }

.google-visualization-tooltip-item { margin: 0.65em 0em; padding: 0em 2em 0em 1em; }

.google-visualization-tooltip-item-list .google-visualization-tooltip-item:first-child { margin: 1em 0em; }

.google-visualization-tooltip-separator { margin: 0px; padding: 0px; height: 1px; background-color: rgb(221, 221, 221); }

.google-visualization-tooltip-square { display: inline-block; clear: none; width: 0.5em; height: 0.5em; margin: 0.16em 0.7em 0em 0em; border-bottom: 0.1em solid white; }
