@charset "utf-8";

.css-1h1ne2e { max-width: 100%; position: absolute; bottom: 0px; z-index: 2; display: flex; align-items: flex-end; will-change: width, height, transform, opacity; backface-visibility: hidden; padding: 0.8em 0.8em 0px; right: 0px; -webkit-box-pack: end; justify-content: flex-end; --primary-color:#2000F0; --secondary-color:#FFFFFF; --tertiary-color:#E3E3E3; }
