@charset "utf-8";

.css-1wsav5y { display: none; position: absolute; right: var(--chakra-space-2-5); left: auto; top: 0px; height: var(--chakra-sizes-16); }

@media screen and (min-width: 64rem) {
  .css-1wsav5y { display: block; }
}

.css-1ba0it8 { margin-bottom: var(--chakra-space-2); display: inline-block; vertical-align: top; margin-left: var(--chakra-space-2-5); }

.css-1ba0it8:first-of-type { margin-left: 0px; }

.css-ckao4t { position: relative; }

.css-ckao4t:focus-within > .NavigationDesktop-secondaryMenu { visibility: visible; opacity: 1; transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }

.css-ckao4t:hover > .NavigationDesktop-secondaryMenu, .css-ckao4t[data-hover] > .NavigationDesktop-secondaryMenu { visibility: visible; opacity: 1; transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }

.css-cype3o { line-height: 1.5; font-weight: var(--chakra-fontWeights-semibold); font-size: var(--chakra-fontSizes-base); position: relative; padding-inline-start: var(--chakra-space-2-5); padding-inline-end: var(--chakra-space-2-5); height: var(--chakra-sizes-16); color: var(--chakra-colors-white); margin: 0px; display: flex; -webkit-box-align: center; align-items: center; cursor: pointer; }

.css-cype3o:hover { color: var(--chakra-colors-primary-200); }

.css-cype3o:focus:not(:focus-visible) { outline: transparent solid 2px; outline-offset: 2px; box-shadow: var(--chakra-shadows-none); }

.css-7kekdq { padding-inline-start: var(--chakra-space-6); padding-inline-end: var(--chakra-space-6); padding-top: var(--chakra-space-5); padding-bottom: var(--chakra-space-5); position: absolute; top: var(--chakra-space-16); left: calc(50% - 0.25rem); transform: translateX(-50%); background: var(--chakra-colors-white); border-radius: var(--chakra-radii-lg); box-shadow: var(--chakra-shadows-md); visibility: hidden; opacity: 0; width: max-content; transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; text-align: left; }

.css-7kekdq::before { content: ""; position: absolute; top: -10px; left: 50%; width: var(--chakra-sizes-0); height: var(--chakra-sizes-0); margin-left: -6px; border-color: transparent transparent rgb(255, 255, 255); border-style: solid; border-width: 0px 0.75rem 0.625rem; }

.css-rgibpp { cursor: pointer; text-decoration: none; outline: transparent solid 2px; outline-offset: 2px; color: var(--chakra-colors-gray-900); transition: all 0.15s ease 0s; font-weight: var(--chakra-fontWeights-semibold); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: var(--chakra-fontSizes-base); display: block; padding-top: var(--chakra-space-2); padding-bottom: var(--chakra-space-2); }

.css-rgibpp:hover, .css-rgibpp[data-hover] { color: var(--chakra-colors-gray-600); }

.css-rgibpp:focus, .css-rgibpp[data-focus] { box-shadow: var(--chakra-shadows-outline); }

.css-rgibpp svg { display: inline-block; vertical-align: initial; }

.css-1wysba6 { cursor: pointer; text-decoration: none; outline: transparent solid 2px; outline-offset: 2px; color: var(--chakra-colors-white); transition: all 0.15s ease 0s; font-weight: var(--chakra-fontWeights-semibold); position: relative; padding-inline-start: var(--chakra-space-2-5); padding-inline-end: var(--chakra-space-2-5); height: var(--chakra-sizes-16); font-size: var(--chakra-fontSizes-base); margin: 0px; display: flex; -webkit-box-align: center; align-items: center; }

.css-1wysba6:hover, .css-1wysba6[data-hover] { text-decoration: none; color: var(--chakra-colors-primary-600); }

.css-1wysba6:focus, .css-1wysba6[data-focus] { box-shadow: var(--chakra-shadows-outline); }

.css-1wysba6 svg { display: inline-block; vertical-align: initial; }

.css-1wysba6:hover { color: var(--chakra-colors-primary-200); }

.css-1wysba6:focus:not(:focus-visible) { outline: transparent solid 2px; outline-offset: 2px; box-shadow: var(--chakra-shadows-none); }

.css-oqor5s { width: var(--chakra-sizes-6); height: var(--chakra-sizes-6); display: inline-block; line-height: 1em; flex-shrink: 0; color: currentcolor; vertical-align: middle; fill: currentcolor; margin-right: var(--chakra-space-0-5); }

.css-2lojbv { width: var(--chakra-sizes-6); height: var(--chakra-sizes-6); display: inline-block; line-height: 1em; flex-shrink: 0; color: currentcolor; vertical-align: middle; fill: currentcolor; margin-right: var(--chakra-space-1); }

.css-16r04a0 { margin-top: var(--chakra-space-8); display: block; }

@media screen and (min-width: 64rem) {
  .css-16r04a0 { width: 25%; margin-top: 0px; display: inline-block; vertical-align: top; }
}
