@charset "utf-8";

.css-vegizn { position: relative; color: var(--chakra-colors-black); background-color: var(--chakra-colors-white); padding-top: var(--chakra-space-8); padding-bottom: var(--chakra-space-8); }

@media screen and (min-width: 48rem) {
  .css-vegizn { padding-top: var(--chakra-space-16); padding-bottom: var(--chakra-space-16); }
}
