@charset "utf-8";

.css-1fgd3gy { display: inline-flex; place-content: space-between center; -webkit-box-pack: center; flex-wrap: wrap; }

.css-1fgd3gy > :not(style) ~ :not(style) { margin-inline-start: var(--chakra-space-2); }

@media screen and (min-width: 48rem) {
  .css-1fgd3gy > :not(style) ~ :not(style) { margin-inline-start: var(--chakra-space-4); }
}

@media screen and (min-width: 30rem) {
  .css-1fgd3gy { flex-wrap: nowrap; }
}
