@charset "utf-8";

.css-a3pv6u { padding-inline-start: var(--chakra-space-4); padding-inline-end: var(--chakra-space-4); margin-inline: auto; padding-left: var(--chakra-space-2-5); padding-right: var(--chakra-space-2-5); }

@media screen and (min-width: 48rem) {
  .css-a3pv6u { max-width: var(--chakra-sizes-container-tablet); }
}

@media screen and (min-width: 64rem) {
  .css-a3pv6u { max-width: 82rem; padding-left: 0px; padding-right: 0px; display: flex; -webkit-box-pack: justify; justify-content: space-between; }
}
