@charset "utf-8";

.HTMLForm_HTMLForm__sXvz_ { margin-top: 24px; }

.HTMLForm_HTMLForm__sXvz_ label { display: block; margin-bottom: var(--chakra-space-2,0.5rem); font-weight: var(--chakra-fontWeights-semibold); color: var(--chakra-colors-gray-600); }

.HTMLForm_HTMLForm__sXvz_ input, .HTMLForm_HTMLForm__sXvz_ select, .HTMLForm_HTMLForm__sXvz_ textarea { display: block; width: 100%; padding: 0 var(--chakra-space-2\.5,0.625rem); border-radius: 4px; border-width: 1px; border-style: solid; border-color: var(--chakra-colors-gray-200); outline: none; line-height: 2.7; }

.HTMLForm_HTMLForm__sXvz_ input:focus, .HTMLForm_HTMLForm__sXvz_ select:focus, .HTMLForm_HTMLForm__sXvz_ textarea:focus { border-color: var(--chakra-colors-green-700); }

.HTMLForm_HTMLForm__sXvz_ select { height: 2.7rem; }

.HTMLForm_HTMLForm__sXvz_ fieldset { border: none; }

.HTMLForm_HTMLForm__sXvz_ button, .HTMLForm_HTMLForm__sXvz_ input[type="submit"] { display: inline-flex; position: relative; appearance: none; align-items: center; justify-content: center; transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; user-select: none; white-space: nowrap; vertical-align: middle; outline: none; width: auto; margin-right: var(--chakra-space-4,1rem); margin-bottom: var(--chakra-space-4,1rem); border-radius: 50rem; border-width: 1px; border-style: solid; border-color: var(--chakra-colors-primary-default); padding-inline-start: var(--chakra-space-8,2rem); padding-inline-end: var(--chakra-space-8,2rem); padding-top: var(--chakra-space-2,0.5rem); padding-bottom: var(--chakra-space-2,0.5rem); font-weight: var(--chakra-fontWeights-semibold); font-size: var(--chakra-fontSizes-base,1rem); line-height: var(--chakra-lineHeights-base,1.5); background: var(--chakra-colors-primary-default); color: var(--chakra-colors-white); }

.HTMLForm_HTMLForm__sXvz_ button:hover, .HTMLForm_HTMLForm__sXvz_ input[type="submit"]:hover { background: var(--chakra-colors-primary-600); border-color: var(--chakra-colors-primary-600); color: var(--chakra-colors-white); }

.HTMLForm_HTMLForm__sXvz_ button:focus, .HTMLForm_HTMLForm__sXvz_ input[type="submit"]:focus { box-shadow: var(--chakra-shadows-outline); }
