@charset "utf-8";

.css-dzjjtl { position: relative; display: flex; width: 32px; height: 32px; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; --primary-color:#427fe1; --secondary-color:#fbfbfb; --tertiary-color:#fff; }
