@charset "utf-8";

package-card .grey { color: rgb(136, 136, 136); }

package-card img { width: 81px; height: auto; }

package-card .package-card--variable-price { max-width: 103px; }

package-card h1 { margin-top: 0px; }

package-card h2 { font-weight: normal; }

package-card .icon-info-new, package-card .icon-cal { vertical-align: sub; }
