@charset "utf-8";

@font-face { font-display: swap; font-family: Stuart; font-weight: 1 999; src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2"); }

@font-face { font-display: swap; font-family: Stuart; font-weight: 1 999; font-style: italic; src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2"); }

@font-face { font-display: swap; font-family: Graphik; font-weight: 1 999; src: url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2"); }

@font-face { font-display: swap; font-family: Graphik; font-weight: 1 999; font-style: italic; src: url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2"); }

@media (max-width: 767px) {
  body::after { content: "xs"; display: none; }
}

@media (min-width: 768px) and (max-width: 991px) {
  body::after { content: "s"; display: none; }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body::after { content: "m"; display: none; }
}

@media (min-width: 1200px) {
  body::after { content: "l"; display: none; }
}

.rei-toggle-button { cursor: pointer; display: block; position: absolute; width: calc(100% - 4px); inset: 1px; background-color: unset; border: unset; }

.rei-toggle-button:focus { outline: -webkit-focus-ring-color auto 1px; }

.rei-toggled-visible { display: block; visibility: visible; }

.ccsite-footer { -webkit-font-smoothing: antialiased; text-size-adjust: 100%; font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 400; letter-spacing: 0.08px; font-size: 16px; line-height: 26px; color: rgba(12, 11, 8, 0.75); }

.ccsite-footer .lazy-render { content-visibility: auto; }

.ccsite-footer__wrapper--light-gray { background-color: rgb(255, 255, 255); padding: 0px 16px; }

.ccsite-footer__wrapper--sand { background-color: rgb(244, 242, 237); padding: 0px 16px; }

.ccsite-footer__container { margin-left: auto; margin-right: auto; }

@media screen and (min-width: 992px) {
  .ccsite-footer__container { max-width: 1168px; }
}

.ccsite-footer .sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px; }

.ccsite-footer .flatten-sr-only { white-space: nowrap; font-size: 0px !important; }

@media screen and (min-width: 992px) {
  .ccsite-footer [data-visible="mobile"] { display: none !important; }
}

@media screen and (max-width: 991px) {
  .ccsite-footer [data-visible="desktop"] { display: none !important; }
  .ccsite-footer .sr-mobile { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px; }
  .ccsite-footer .flatten-sr-mobile { white-space: nowrap; font-size: 0px !important; }
}

.footer-icon { width: 24px; height: 24px; fill: rgb(146, 139, 128); flex: 0 0 auto; }

.ccsite-footer .feedback { text-align: center; width: 100%; padding-bottom: 16px; border-top: 1px solid rgb(220, 214, 203); font-family: Graphik, "Helvetica Neue", sans-serif; font-size: 16px; letter-spacing: -0.16px; line-height: 22px; color: rgba(12, 11, 8, 0.75); }

.ccsite-footer .feedback__header { margin: unset; padding-top: 16px; padding-bottom: 8px; }

.ccsite-footer .feedback__button-link { font-family: Graphik, "Helvetica Neue", sans-serif; font-size: 16px; letter-spacing: -0.16px; line-height: 22px; border: none; border-radius: 4px; padding: 0px; color: rgb(64, 110, 181); fill: rgb(64, 110, 181); background-color: transparent; text-decoration: underline; }

.ccsite-footer .feedback__button-link:hover { text-decoration: none; }

.ccsite-footer .feedback__button-link:focus { text-decoration: none; outline: -webkit-focus-ring-color solid 2px; outline-offset: 0px; color: rgb(11, 45, 96); }

.ccsite-footer .travel-legal { width: 100%; border-top: 1px solid rgb(220, 214, 203); padding: 32px 0px; }

.ccsite-footer .travel-legal__text { text-align: center; margin: unset; font-family: Graphik, "Helvetica Neue", sans-serif; letter-spacing: -0.16px; font-size: 14px; color: rgba(12, 11, 8, 0.75); line-height: 18px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .travel-legal__text { text-align: left; }
}

.ccsite-footer .email-signup { width: 100%; }

.ccsite-footer .email-signup__container { border-top: 1px solid rgb(220, 214, 203); width: 100%; padding: 32px 0px; vertical-align: top; position: relative; }

.ccsite-footer .email-signup__container .email-signup__captcha--privacy-link { color: rgb(0, 0, 0); font-size: 14px; }

.ccsite-footer .email-signup__container.recaptcha-loaded .email-signup__captcha { display: block; }

.ccsite-footer .email-signup__container.signed-up .email-signup__captcha, .ccsite-footer .email-signup__container.signed-up .email-signup__form, .ccsite-footer .email-signup__container.signed-up .email-signup__header-text, .ccsite-footer .email-signup__container.signed-up .email-signup__subheader-text { display: none; }

.ccsite-footer .email-signup__container.signed-up .email-signup__message--success { display: block; }

.ccsite-footer .email-signup__container.signed-up-fail .email-signup__captcha, .ccsite-footer .email-signup__container.signed-up-fail .email-signup__form, .ccsite-footer .email-signup__container.signed-up-fail .email-signup__header-text, .ccsite-footer .email-signup__container.signed-up-fail .email-signup__subheader-text { display: none; }

.ccsite-footer .email-signup__container.signed-up-fail .email-signup__message--failure { display: block; }

.ccsite-footer .email-signup__captcha, .ccsite-footer .email-signup__loading-image, .ccsite-footer .email-signup__message--failure, .ccsite-footer .email-signup__message--input-failure, .ccsite-footer .email-signup__message--success { text-align: center; display: none; }

.ccsite-footer .email-signup__header-text { text-align: center; color: rgb(41, 41, 41); margin: unset; font-family: Graphik, "Helvetica Neue", sans-serif; font-size: 20px; font-weight: 500; letter-spacing: -0.16px; line-height: 26px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .email-signup__header-text { text-align: left; }
}

.ccsite-footer .email-signup__subheader-text { text-align: center; color: rgb(41, 41, 41); margin: unset; font-family: Roboto, Graphik, "Helvetica Neue", sans-serif; font-size: 14px; letter-spacing: -0.16px; line-height: 24px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .email-signup__subheader-text { text-align: left; }
}

.ccsite-footer .email-signup__button-container { display: inline-block; margin-left: 16px; vertical-align: top; margin-top: 32px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .email-signup__button-container { width: 100%; margin: 0px; }
}

.ccsite-footer .email-signup__button { font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 500; letter-spacing: -0.08px; font-size: 16px; line-height: 22px; border: none; cursor: pointer; display: inline-flex; outline: none; overflow: visible; margin: 0px; text-align: left; text-decoration: none; text-transform: none; vertical-align: middle; transition: box-shadow 0.2s cubic-bezier(0.15, 0, 0.15, 0) 0s, background-color 0.2s cubic-bezier(0.15, 0, 0.15, 0) 0s, color 0.2s cubic-bezier(0.15, 0, 0.15, 0) 0s, fill 0.2s cubic-bezier(0.15, 0, 0.15, 0) 0s; border-radius: 4px; background-color: rgb(78, 77, 73); box-shadow: rgb(78, 77, 73) 0px 0px 0px 1px inset; color: rgb(249, 248, 246); fill: rgb(249, 248, 246); height: 40px; padding: 8px 12px; }

.ccsite-footer .email-signup__button:active, .ccsite-footer .email-signup__button:focus, .ccsite-footer .email-signup__button:hover { outline: none; outline-offset: 0px; text-decoration: none; }

.ccsite-footer .email-signup__button[disabled] { cursor: not-allowed; }

.ccsite-footer .email-signup__button:focus, .ccsite-footer .email-signup__button:hover { color: rgb(78, 77, 73); fill: rgb(78, 77, 73); background-color: rgb(237, 234, 227); box-shadow: rgb(78, 77, 73) 0px 0px 0px 3px inset, rgba(12, 11, 8, 0.2) 0px 0.2rem 0.2rem 0px; }

.ccsite-footer .email-signup__button:active { color: rgb(249, 248, 246); fill: rgb(249, 248, 246); background-color: rgb(78, 77, 73); }

.ccsite-footer .email-signup__button[disabled] { background-color: rgb(220, 214, 203); box-shadow: rgb(220, 214, 203) 0px 0px 0px 1px inset; color: rgb(255, 255, 255); fill: rgb(255, 255, 255); }

.ccsite-footer .email-signup__button:focus, .ccsite-footer .email-signup__button:hover { box-shadow: rgb(78, 77, 73) 0px 0px 0px 3px inset, rgba(12, 11, 8, 0.2) 0px 2px 2px 0px; }

.ccsite-footer .email-signup__button:active { box-shadow: rgb(78, 77, 73) 0px 0px 0px 3px inset, rgb(237, 234, 227) 0px 0px 0px 5px inset; }

@media screen and (max-width: 767px) {
  .ccsite-footer .email-signup__button { flex: 1 1 0%; text-align: center; display: table-cell; vertical-align: middle; width: 100%; }
}

.ccsite-footer .email-signup__form { display: block; text-align: center; justify-content: center; padding-top: 16px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .email-signup__form { flex-direction: column; }
}

.ccsite-footer .email-signup__form-innards { width: 366px; display: inline-block; text-align: left; }

@media screen and (max-width: 767px) {
  .ccsite-footer .email-signup__form-innards { margin-bottom: 16px; width: 100%; }
}

.ccsite-footer .email-signup__input-label { font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; letter-spacing: -0.16px; font-size: 14px; line-height: 18px; color: rgba(12, 11, 8, 0.75); font-weight: 400; }

.ccsite-footer .email-signup__input-container { margin-top: 8px; display: flex; position: relative; }

.ccsite-footer .email-signup__input-wrapper { display: inline-flex; position: relative; flex-grow: 1; }

.ccsite-footer .email-signup__input { font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; letter-spacing: -0.16px; font-weight: 500; color: rgb(32, 32, 29); border: 0px; background-color: rgba(244, 242, 237, 0.15); box-shadow: rgb(146, 139, 128) 0px 0px 0px 1px inset; fill: rgb(146, 139, 128); display: block; width: 100%; overflow: visible; margin: 0px; appearance: none; box-sizing: border-box; font-size: 16px; line-height: 22px; height: 40px; border-radius: 4px; padding: 8px 45px 8px 8px; }

.ccsite-footer .email-signup__input[type="number"]::-webkit-inner-spin-button, .ccsite-footer .email-signup__input[type="number"]::-webkit-outer-spin-button { appearance: none; margin: 0px; }

.ccsite-footer .email-signup__input:active, .ccsite-footer .email-signup__input:focus { outline: none; box-shadow: rgb(32, 32, 29) 0px 0px 0px 2px inset, rgba(12, 11, 8, 0.2) 0px 0.2rem 0.2rem 0px; }

.ccsite-footer .email-signup__input::placeholder { font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 400; letter-spacing: -0.16px; font-size: 1.6rem; line-height: 2.2rem; color: rgba(66, 59, 47, 0.75); }

.ccsite-footer .email-signup__input[disabled] { background-color: rgb(249, 248, 246); color: rgb(209, 203, 189); box-shadow: rgb(209, 203, 189) 0px 0px 0px 1px inset; }

.ccsite-footer .email-signup__input[disabled]:hover { box-shadow: rgb(209, 203, 189) 0px 0px 0px 1px inset; cursor: not-allowed; }

.ccsite-footer .email-signup__input[disabled]::placeholder { color: rgb(209, 203, 189); }

.ccsite-footer .email-signup__input:active, .ccsite-footer .email-signup__input:focus { box-shadow: rgb(32, 32, 29) 0px 0px 0px 2px inset, rgba(12, 11, 8, 0.2) 0px 2px 2px 0px; }

.ccsite-footer .email-signup__input:active + .email-signup__input-icon-wrapper .email-signup__input-icon, .ccsite-footer .email-signup__input:focus + .email-signup__input-icon-wrapper .email-signup__input-icon { fill: rgba(12, 11, 8, 0.75); color: rgba(12, 11, 8, 0.75); }

.ccsite-footer .email-signup__input-icon { display: block; position: absolute; top: 50%; right: 8px; transform: translateY(-50%); }

.ccsite-footer .email-signup .grecaptcha-badge { margin: 16px auto 0px; position: unset !important; }

.ccsite-footer .email-signup__message--input-failure { background-color: rgb(249, 229, 229); border-radius: 0px 0px 4px 4px; border-right: 1px solid rgb(204, 0, 0); border-bottom: 1px solid rgb(204, 0, 0); border-left: 1px solid rgb(204, 0, 0); border-image: initial; border-top: none; font-size: 16px; line-height: 22px; padding: 8px; color: rgb(0, 0, 0); }

.ccsite-footer .email-signup .has-error .email-signup__input-label { color: rgb(204, 0, 0); }

.ccsite-footer .email-signup__input--error-icon { width: 16px; height: 16px; fill: rgb(129, 24, 35); margin-bottom: -3px; }

.ccsite-footer .email-signup .success-message__header { display: inline; margin: 8px; vertical-align: 12px; }

.ccsite-footer .email-signup .failure-message__content, .ccsite-footer .email-signup .success-message__content { width: 66%; margin: auto; }

.ccsite-footer .email-signup .failure-message__header, .ccsite-footer .email-signup .success-message__header { font-style: normal; letter-spacing: -0.16px; margin-top: 0px; margin-bottom: 16px; font-size: 20px; font-weight: 600; line-height: 26px; }

.ccsite-footer .email-signup__container.wait-spinner .email-signup__loading-image { display: block; position: absolute; margin: auto; left: 0px; right: 0px; }

.ccsite-footer .email-signup__container.wait-spinner .email-signup__captcha, .ccsite-footer .email-signup__container.wait-spinner .email-signup__form, .ccsite-footer .email-signup__container.wait-spinner .email-signup__header-text, .ccsite-footer .email-signup__container.wait-spinner .email-signup__subheader-text { visibility: hidden; }

.ccsite-footer .engagement { display: flex; justify-content: space-between; width: 100%; gap: 16px 32px; padding-top: 36px; padding-bottom: 32px; border-bottom: 1px solid rgb(220, 214, 203); }

@media screen and (max-width: 991px) {
  .ccsite-footer .engagement { display: grid; grid-template-columns: calc(50% - 16px) calc(50% - 16px); }
}

@media screen and (max-width: 767px) {
  .ccsite-footer .engagement { display: grid; grid-template-columns: 100%; gap: 0px; padding-bottom: 0px; border-bottom: unset; }
}

.ccsite-footer .engagement .rei-toggle-button { display: none; position: unset; font-family: Graphik, "Helvetica Neue", sans-serif; font-size: 16px; line-height: 24px; font-weight: 600; color: rgba(12, 11, 8, 0.75); text-decoration: none; border-radius: 4px; letter-spacing: -0.08px; text-align: left; width: 100%; padding: 16px 32px 16px 16px; }

.ccsite-footer .engagement .rei-toggle-button:focus { outline: unset; border: 2px solid rgb(0, 0, 0); padding: 14px 30px 14px 14px; background-color: rgb(249, 248, 246); }

.ccsite-footer .engagement .rei-toggle-button-text::after { content: " "; transition: transform 0.3s cubic-bezier(0.32, 0.94, 0.6, 1) 0s; border-style: solid; border-color: rgb(146, 139, 128); border-image: initial; border-width: 0px 3px 3px 0px; padding: 3px; transform: rotate(45deg); position: absolute; right: 16px; top: 21px; pointer-events: none; }

@media screen and (max-width: 767px) {
  .ccsite-footer .engagement .rei-toggle-button { display: block; }
}

@media screen and (max-width: 767px) {
  .ccsite-footer .engagement .rei-toggled-open .engagement__column--content { max-height: 228px; padding: 8px 0px; }
  .ccsite-footer .engagement .rei-toggled-open .rei-toggle-button-text::after { transform: rotate(-135deg); top: 25px; }
  .ccsite-footer .engagement .rei-toggled-open .engagement__footer, .ccsite-footer .engagement .rei-toggled-open .engagement__text { display: block; }
}

.ccsite-footer .engagement__column { flex: 1 1 0%; }

@media screen and (max-width: 767px) {
  .ccsite-footer .engagement__column { overflow: hidden; }
  .ccsite-footer .engagement__column--content { max-height: 0px; transition: max-height 0.3s cubic-bezier(0.15, 0, 0.15, 0) 0s; }
  .ccsite-footer .engagement__column:hover .engagement__column--header { background-color: rgb(249, 248, 246); }
}

@media screen and (max-width: 767px) {
  .ccsite-footer .engagement__column--last { border-bottom: 1px solid rgb(220, 214, 203); }
}

.ccsite-footer .engagement__column--header { margin: 0px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .engagement__column--header { border-top: 1px solid rgb(220, 214, 203); position: relative; }
}

.ccsite-footer .engagement__header-text { font-family: Graphik, "Helvetica Neue", sans-serif; font-size: 18px; line-height: 24px; font-weight: 500; color: rgba(12, 11, 8, 0.75); margin: 0px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .engagement__header-text { display: none; }
}

.ccsite-footer .engagement__footer, .ccsite-footer .engagement__text { margin: unset; padding-top: 4px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .engagement__footer, .ccsite-footer .engagement__text { display: none; padding: 8px 16px; }
}

.ccsite-footer .engagement__text { font-style: normal; letter-spacing: 0.08px; font-size: 1.6rem; line-height: 26px; color: rgba(12, 11, 8, 0.75); }

.ccsite-footer .engagement__link, .ccsite-footer .engagement__text { font-family: Graphik, "Helvetica Neue", sans-serif; font-weight: 400; font-size: 16px; }

.ccsite-footer .engagement__link { color: rgb(64, 110, 181); letter-spacing: -0.16px; line-height: 22px; text-decoration: none; border-radius: 4px; }

.ccsite-footer .engagement__link:hover { text-decoration: underline; }

.ccsite-footer .engagement__link:active, .ccsite-footer .engagement__link:focus { text-decoration: underline; color: rgb(11, 45, 96); }

.ccsite-footer .engagement__link:focus { outline: -webkit-focus-ring-color solid 2px; outline-offset: 0px; }

.ccsite-footer .link-block-group { width: 100%; padding: 32px 0px; border-bottom: 1px solid rgb(220, 214, 203); }

.ccsite-footer .link-block-group__wrapper { margin: unset; padding: unset; list-style: none; display: grid; grid-template-columns: repeat(4, 1fr); gap: 40px 120px; }

@media screen and (max-width: 1231px) {
  .ccsite-footer .link-block-group__wrapper { column-gap: 64px; }
}

@media screen and (max-width: 991px) {
  .ccsite-footer .link-block-group__wrapper { gap: 32px 16px; }
}

@media screen and (max-width: 767px) {
  .ccsite-footer .link-block-group__wrapper { grid-template-columns: 1fr 1fr; }
}

@media screen and (min-width: 768px) {
  .ccsite-footer .link-block-group__section--column-1 { grid-column: 1 / auto; }
  .ccsite-footer .link-block-group__section--column-2 { grid-column: 2 / auto; }
  .ccsite-footer .link-block-group__section--column-3 { grid-column: 3 / auto; }
  .ccsite-footer .link-block-group__section--column-4 { grid-column: 4 / auto; }
  .ccsite-footer .link-block-group__section--row-1 { grid-row: 1 / auto; }
  .ccsite-footer .link-block-group__section--row-2 { grid-row: 2 / auto; }
  .ccsite-footer .link-block-group__section--row-3 { grid-row: 3 / auto; }
}

.ccsite-footer .link-block-group__header { color: rgba(12, 11, 8, 0.75); font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 600; letter-spacing: -0.08px; font-size: 18px; line-height: 24px; }

@media screen and (max-width: 991px) {
  .ccsite-footer .link-block-group__header { font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 600; letter-spacing: -0.08px; font-size: 16px; line-height: 22px; }
}

.ccsite-footer .link-block-group__body { margin: unset; padding: unset; list-style: none; }

.ccsite-footer .link-block-group__list-item { padding-top: 4px; }

.ccsite-footer .link-block-group__link { font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 400; letter-spacing: -0.16px; font-size: 16px; line-height: 22px; color: rgba(12, 11, 8, 0.75); text-decoration: none; border-radius: 4px; padding: 2px 0px; }

.ccsite-footer .link-block-group__link:hover { text-decoration: underline; }

.ccsite-footer .link-block-group__link:active { text-decoration: underline; color: rgb(11, 45, 96); }

.ccsite-footer .link-block-group__link:focus { text-decoration: underline; outline: -webkit-focus-ring-color solid 2px; outline-offset: 0px; color: rgb(11, 45, 96); }

.ccsite-footer .link-block-group .visible-xs-block { display: none; }

@media screen and (max-width: 767px) {
  .ccsite-footer .link-block-group .visible-xs-block { display: block; }
}

.ccsite-footer .contact { display: flex; width: 100%; border-bottom: 1px solid rgb(220, 214, 203); padding: 32px 0px; justify-content: space-between; }

@media screen and (max-width: 767px) {
  .ccsite-footer .contact { border: none; padding: 0px; display: grid; grid-template-columns: 100%; }
  .ccsite-footer .contact .hidden-sm, .ccsite-footer .contact .hidden-xs { display: none; }
}

.ccsite-footer .contact__column { margin-right: 16px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .contact__column { display: none; }
}

.ccsite-footer .contact__column--last { margin-right: 0px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .contact__button--mobile { display: block; width: 100%; border-radius: 4px; margin-right: 0px; padding: 32px 0px 8px; }
  .ccsite-footer .contact__button--mobile ~ .contact__button--mobile { padding-top: 0px; }
}

.ccsite-footer .contact__body { font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 400; letter-spacing: 0.08px; font-size: 16px; line-height: 26px; color: rgba(12, 11, 8, 0.75); }

@media screen and (max-width: 767px) {
  .ccsite-footer .contact__body { display: none; }
}

.ccsite-footer .contact__text { margin: unset; }

.ccsite-footer .contact__header-icon { margin-right: 10px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .contact__header-icon { display: none; }
}

.ccsite-footer .contact__icon-link { display: inline-flex; color: rgb(64, 110, 181); font-family: Graphik, "Helvetica Neue", sans-serif; font-weight: 400; font-size: 16px; letter-spacing: -0.16px; line-height: 22px; text-decoration: none; border-radius: 4px; }

.ccsite-footer .contact__icon-link:hover { text-decoration: underline; }

.ccsite-footer .contact__icon-link:active { text-decoration: underline; color: rgb(11, 45, 96); }

.ccsite-footer .contact__icon-link:focus { text-decoration: underline; outline: -webkit-focus-ring-color solid 2px; outline-offset: 0px; color: rgb(11, 45, 96); }

.ccsite-footer .contact__icon-link:focus .contact__header-icon, .ccsite-footer .contact__icon-link:hover .contact__header-icon { fill: rgb(97, 97, 97); color: rgb(97, 97, 97); }

@media screen and (max-width: 767px) {
  .ccsite-footer .contact__icon-link { font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 500; letter-spacing: -0.08px; font-size: 16px; line-height: 22px; border: none; cursor: pointer; outline: none; overflow: visible; margin: 0px; text-decoration: none; text-transform: none; vertical-align: middle; transition: box-shadow 0.2s cubic-bezier(0.15, 0, 0.15, 0) 0s, background-color 0.2s cubic-bezier(0.15, 0, 0.15, 0) 0s, color 0.2s cubic-bezier(0.15, 0, 0.15, 0) 0s, fill 0.2s cubic-bezier(0.15, 0, 0.15, 0) 0s; border-radius: 4px; padding: 8px 16px; background-color: rgb(249, 248, 246); box-shadow: rgb(146, 139, 128) 0px 0px 0px 1px inset; color: rgb(78, 77, 73); fill: rgb(146, 139, 128); box-sizing: border-box; width: 100%; display: inline-block; text-align: center; }
  .ccsite-footer .contact__icon-link:active, .ccsite-footer .contact__icon-link:focus, .ccsite-footer .contact__icon-link:hover { outline: none; outline-offset: 0px; text-decoration: none; }
  .ccsite-footer .contact__icon-link[disabled] { cursor: not-allowed; }
  .ccsite-footer .contact__icon-link:focus, .ccsite-footer .contact__icon-link:hover { color: rgb(78, 77, 73); fill: rgb(78, 77, 73); background-color: rgb(244, 242, 237); box-shadow: rgb(78, 77, 73) 0px 0px 0px 3px inset, rgba(12, 11, 8, 0.2) 0px 0.2rem 0.2rem 0px; }
  .ccsite-footer .contact__icon-link:active { color: rgb(249, 248, 246); fill: rgb(249, 248, 246); background-color: rgb(146, 139, 128); }
  .ccsite-footer .contact__icon-link[disabled] { background-color: rgb(249, 248, 246); box-shadow: rgb(220, 214, 203) 0px 0px 0px 1px inset; color: rgb(209, 203, 189); fill: rgb(209, 203, 189); }
  .ccsite-footer .contact__icon-link:focus, .ccsite-footer .contact__icon-link:hover { box-shadow: rgb(78, 77, 73) 0px 0px 0px 3px inset, rgba(12, 11, 8, 0.2) 0px 2px 2px 0px; }
  .ccsite-footer .contact__icon-link:active { box-shadow: rgb(146, 139, 128) 0px 0px 0px 3px inset, rgb(244, 242, 237) 0px 0px 0px 5px inset; }
}

.ccsite-footer .mobile-media-row { display: flex; justify-content: center; padding-top: 32px; gap: 32px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .mobile-media-row { flex-direction: column-reverse; }
}

.ccsite-footer .mobile-apps__body, .ccsite-footer .mobile-apps__header { display: flex; justify-content: center; }

.ccsite-footer .mobile-apps__image-link { margin: 8px; display: inline-grid; border-radius: 4px; }

.ccsite-footer .mobile-apps__image-link:focus { outline: -webkit-focus-ring-color solid 2px; outline-offset: 0px; }

.ccsite-footer .mobile-apps__image { width: 135px; }

.ccsite-footer .mobile-apps__link { font-family: Graphik, "Helvetica Neue", sans-serif; font-size: 16px; letter-spacing: -0.16px; line-height: 20px; font-weight: 500; color: rgb(41, 41, 41); text-decoration: none; border-radius: 4px; }

.ccsite-footer .mobile-apps__link:hover { text-decoration: underline; }

.ccsite-footer .mobile-apps__link:active, .ccsite-footer .mobile-apps__link:focus { text-decoration: underline; color: rgba(12, 11, 8, 0.75); }

.ccsite-footer .mobile-apps__link:focus { outline: -webkit-focus-ring-color solid 2px; outline-offset: 0px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .social-media { align-self: center; }
}

.ccsite-footer .social-media__list { height: 100%; margin: unset; padding: unset; list-style: none; display: flex; }

.ccsite-footer .social-media__list-item { padding: 0px 8px; align-self: center; }

@media screen and (max-width: 350px) {
  .ccsite-footer .social-media__list-item { padding: 0px 4px; }
}

.ccsite-footer .social-media__link { display: flex; border-radius: 4px; }

.ccsite-footer .social-media__link:focus .social-media__icon, .ccsite-footer .social-media__link:hover .social-media__icon { fill: rgb(97, 97, 97); color: rgb(97, 97, 97); }

.ccsite-footer .social-media__link:focus { outline: -webkit-focus-ring-color solid 2px; outline-offset: 0px; }

.ccsite-footer .social-media__icon { height: 32px; width: 32px; }

.ccsite-footer .legal { width: 100%; font-family: Graphik, "Helvetica Neue", sans-serif; letter-spacing: -0.16px; font-size: 14px; color: rgb(97, 97, 97); line-height: 18px; }

.ccsite-footer .legal__copyright { text-align: center; margin: unset; padding: 24px 0px 32px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .legal__copyright { text-align: left; }
}

.ccsite-footer .legal__list { margin: unset; padding-top: unset; padding-right: unset; padding-left: unset; list-style: none; text-align: center; padding-bottom: 32px; }

@media screen and (max-width: 767px) {
  .ccsite-footer .legal__list { padding-bottom: 16px; }
}

.ccsite-footer .legal__list-item { display: inline-block; padding: 4px 16px; }

.ccsite-footer .legal__button { cursor: pointer; font-family: Graphik, "Helvetica Neue", sans-serif; font-size: 14px; letter-spacing: -0.16px; border: none; background-color: rgb(244, 242, 237); padding: 0px; }

.ccsite-footer .legal__button, .ccsite-footer .legal__link { text-decoration: none; color: rgb(97, 97, 97); border-radius: 4px; }

.ccsite-footer .legal__button:hover, .ccsite-footer .legal__link:hover { text-decoration: underline; }

.ccsite-footer .legal__button:active, .ccsite-footer .legal__link:active { text-decoration: underline; color: rgb(41, 41, 41); }

.ccsite-footer .legal__button:focus, .ccsite-footer .legal__link:focus { text-decoration: underline; outline: -webkit-focus-ring-color solid 2px; outline-offset: 0px; color: rgb(41, 41, 41); }

.ccsite-footer .legal .ccpa-icon { vertical-align: middle; }
