@charset "utf-8";

.noOutline { outline: none !important; }

.wcagOutline:focus { outline: rgb(89, 89, 89) dashed 1px !important; outline-offset: 2px !important; transition: none 0s ease 0s !important; }
