@charset "utf-8";

.passenger-info__name-formfields[_ngcontent-noc-c199] { gap: 1rem; }

.assistance-types[_ngcontent-noc-c199] { display: grid; gap: 1rem; grid-template-columns: repeat(2, 1fr); }

@media (min-width: 768px) {
  .assistance-types[_ngcontent-noc-c199] { gap: 2rem; }
}

.pwd-disability-card[_ngcontent-noc-c199] { flex-basis: 48%; border: none; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center; border-radius: 3px; }

.pwd-disability-card.disabled[_ngcontent-noc-c199] { background-color: rgb(230, 233, 235) !important; }

.pwd-disability-card[_ngcontent-noc-c199] .disability-img[_ngcontent-noc-c199] { width: 8rem; }

.pwd-disability-card[_ngcontent-noc-c199] .hover-img[_ngcontent-noc-c199] { display: none; }

.pwd-disability-card.selected[_ngcontent-noc-c199] .default-img[_ngcontent-noc-c199], .pwd-disability-card[_ngcontent-noc-c199]:hover .default-img[_ngcontent-noc-c199] { display: none; }

.pwd-disability-card.selected[_ngcontent-noc-c199] .hover-img[_ngcontent-noc-c199], .pwd-disability-card[_ngcontent-noc-c199]:hover .hover-img[_ngcontent-noc-c199] { display: block; }

.link-line[_ngcontent-noc-c199] { font-weight: 600; color: rgb(22, 127, 166); font-size: 1.1rem; background-color: rgb(255, 255, 255); }

@media (min-width: 768px) {
  .link-line[_ngcontent-noc-c199] { font-size: 1.4rem; }
}

.link-line[_ngcontent-noc-c199]:hover { text-decoration: underline; }

[_nghost-noc-c199] .disableLabel { opacity: 0.5; cursor: default; }

.bodered-tabs[_ngcontent-noc-c199] .nav-tabs { border: 0.1rem solid rgb(216, 216, 216); border-radius: 0.3rem; display: flex; justify-content: center; align-items: stretch; }

.bodered-tabs[_ngcontent-noc-c199] .nav-tabs .nav-item { display: flex; align-items: center; justify-content: center; }

.bodered-tabs[_ngcontent-noc-c199] .nav-tabs .nav-item .nav-link { height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; padding: 1rem; }

.passenger-info__name-form[_ngcontent-noc-c199] .field-error[_ngcontent-noc-c199] { line-height: 12px; }
