@charset "utf-8";

.traveler-dropdown[_ngcontent-noc-c213] { width: 30rem; max-height: 57rem; }

@media (min-width: 992px) {
  .traveler-dropdown[_ngcontent-noc-c213] { max-height: none; }
}

.traveler-dropdown-button[_ngcontent-noc-c213] { padding: 0px; background-color: rgb(255, 255, 255); text-align: left; white-space: nowrap; color: rgb(0, 36, 54) !important; }

.traveler-dropdown-button[_ngcontent-noc-c213] img[_ngcontent-noc-c213] { width: 40px; }

.traveler-dropdown-button__number[_ngcontent-noc-c213] { font-size: 12px; margin-left: 10px; margin-right: -8px; }

.traveler-dropdown-button__title[_ngcontent-noc-c213] { opacity: 0.75; font-weight: 400; }

.traveler-dropdown__messages[_ngcontent-noc-c213] { min-height: 15px; display: block; width: 100%; }

.traveler-dropdown__messages[_ngcontent-noc-c213] .error[_ngcontent-noc-c213] { color: rgb(213, 43, 30); }

.traveler-dropdown__messages[_ngcontent-noc-c213] a[_ngcontent-noc-c213] { font-size: 1.1rem; }

.traveler-dropdown__messages[_ngcontent-noc-c213] p[_ngcontent-noc-c213] { font-size: 1.1rem; line-height: 15px; padding-top: 10px; }

.traveler-dropdown[_ngcontent-noc-c213] input[type="number"][_ngcontent-noc-c213] { border: none; }

.traveler-dropdown[_ngcontent-noc-c213] input[_ngcontent-noc-c213]::-webkit-outer-spin-button, .traveler-dropdown[_ngcontent-noc-c213] input[_ngcontent-noc-c213]::-webkit-inner-spin-button { appearance: none; margin: 0px; }

.traveler-dropdown[_ngcontent-noc-c213] .group-age[_ngcontent-noc-c213] { height: 17px; color: rgb(0, 38, 72); font-size: 16px; letter-spacing: 0.34px; line-height: 17px; padding-bottom: 0px; }

.traveler-dropdown[_ngcontent-noc-c213] .group-ages[_ngcontent-noc-c213] { font-family: OpenSans, Helvetica, Arial, "sans-serif"; font-size: 12px; line-height: 17px; color: rgb(0, 36, 54); height: 17px; font-weight: 200; letter-spacing: 0.26px; padding-bottom: 5px; }

.traveler-dropdown[_ngcontent-noc-c213] mdb-popover-container { font-size: 12px; }

.traveler-dropdown[_ngcontent-noc-c213] .travelers__discount[_ngcontent-noc-c213] { font-weight: 600; padding-top: 16px; text-align: right; }

.free-infant-text[_ngcontent-noc-c213] { line-height: 2.9rem; margin-top: -0.5rem; pointer-events: none; user-select: none; text-align: end; }

.txt[_ngcontent-noc-c213] { line-height: 2.9rem; }

.traveler-promo-container[_ngcontent-noc-c213] { font-family: OpenSans, Helvetica, Arial, "sans-serif"; font-weight: 300; position: relative; }

.traveler-promo-container[_ngcontent-noc-c213] .promocode-input[_ngcontent-noc-c213] { opacity: 1; color: rgb(115, 117, 117); font-size: 14px; letter-spacing: 0.3px; line-height: 17px; border-width: 0px 0px 1px; border-top-style: initial; border-top-color: initial; border-left-style: initial; border-left-color: initial; border-right-style: initial; border-right-color: initial; padding-left: 0px; font-weight: 200; padding-top: 8px; margin-top: 15px; width: 100%; border-bottom-style: solid; border-bottom-color: rgb(115, 117, 117); outline-offset: 1px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }

.traveler-promo-container[_ngcontent-noc-c213] .promocode-input[_ngcontent-noc-c213]:focus { border-bottom: 1px solid rgb(22, 127, 166); }

.traveler-promo-container[_ngcontent-noc-c213]:focus { color: rgb(0, 0, 0); border-width: 0px 0px 1px; border-top-style: initial; border-top-color: initial; border-left-style: initial; border-left-color: initial; border-right-style: initial; border-right-color: initial; border-bottom-style: solid; border-bottom-color: rgb(212, 216, 217); outline: rgb(0, 36, 54) dotted thin; }

.traveler-promo-container[_ngcontent-noc-c213] .messages[_ngcontent-noc-c213] { height: 15px; display: block; width: 100%; }

.traveler-promo-container[_ngcontent-noc-c213] .messages[_ngcontent-noc-c213] p[_ngcontent-noc-c213] { font-family: OpenSans, Helvetica, Arial, "sans-serif"; font-weight: 300; color: rgb(213, 43, 30); font-size: 11px; line-height: 15px; }

.traveler-promo-container[_ngcontent-noc-c213] .messages[_ngcontent-noc-c213] .hoffman-text[_ngcontent-noc-c213] { color: rgb(0, 36, 54) !important; }

[_nghost-noc-c213] .am-counter .value { width: 24px; font-size: 22px; line-height: 22px; }
