@charset "utf-8";

ngb-datepicker-month { display: block; }

.ngb-dp-week-number, .ngb-dp-weekday { line-height: 2rem; text-align: center; font-style: italic; }

.ngb-dp-weekday { color: var(--info); }

.ngb-dp-week { border-radius: 0.25rem; display: flex; }

.ngb-dp-weekdays { border-bottom: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0px; background-color: var(--light); }

.ngb-dp-day, .ngb-dp-week-number, .ngb-dp-weekday { width: 2rem; height: 2rem; }

.ngb-dp-day { cursor: pointer; }

.ngb-dp-day.disabled, .ngb-dp-day.hidden { cursor: default; pointer-events: none; }

.ngb-dp-day[tabindex="0"] { z-index: 1; }
