@charset "utf-8";

.page-link { background-color: transparent; border: none; }

.page-link:hover { background-color: transparent; }

.page-title__main-title.heading-2 { font-weight: 600; }

@media not all {
}

div.carousel { margin-top: 0px; margin-bottom: 0px; }
