@charset "utf-8";

.css-1y96hdu { margin-bottom: var(--chakra-space-px); margin-top: var(--chakra-space-5); margin-left: var(--chakra-space-8); font-size: var(--chakra-fontSizes-xs); }

@media screen and (min-width: 64rem) {
  .css-1y96hdu { margin-left: 0px; }
}

.css-1y96hdu:first-of-type { margin-top: var(--chakra-space-1); }

@media screen and (min-width: 64rem) {
  .css-1y96hdu:first-of-type { margin-top: var(--chakra-space-5); }
}
