@charset "utf-8";

.css-19v3lfq { line-height: 1.5; font-weight: 600; font-size: 1.5rem; margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: var(--chakra-space-6); text-align: center; }

@media screen and (min-width: 48rem) {
  .css-19v3lfq { margin-bottom: var(--chakra-space-8); }
}

@media screen and (min-width: 64rem) {
  .css-19v3lfq { font-size: 2rem; }
}
