# Ignore VS Code workspace settings
.vscode/
# Ignore virtual environment folders
.venv/
# Ignore JetBrains IDE project files
.idea/
# Ignore environment variable files
.env

# backend
/backend/.env/
/backend/app/__pycache__/
