@charset "utf-8";

.recorder-status[data-v-d6017700] { display: flex; flex: 1 1 0%; flex-direction: column; }

.status-text[data-v-d6017700] { align-self: center; display: flex; text-align: center; }

.volume-meter[data-v-d6017700] { display: flex; }

.volume-meter meter[data-v-d6017700] { display: flex; flex: 1 1 0%; height: 0.75rem; }

.processing-bar[data-v-d6017700] { height: 0.75rem; }

.audio-progress-bar[data-v-d6017700] { height: 0.75rem; }
