@charset "utf-8";

.app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP .app-components-Form-Atmos-DateOfBirth-styles__select--19qOA { width: 100%; padding: 0px 0px 1.2em; }

.app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP .app-components-Form-Atmos-DateOfBirth-styles__select--19qOA select { border-top: none; border-left: none; border-right: none; border-radius: unset; padding-left: 3px; color: rgb(102, 102, 102); height: 41px; }

@media (min-width: 720px) {
  .app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP .app-components-Form-Atmos-DateOfBirth-styles__select--19qOA { width: 65%; padding: 0px 0.5em 0px 0px; }
}

.app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP .app-components-Form-Atmos-DateOfBirth-styles__input--2YnlF input { height: 41px; padding-left: 3px; border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid gray; border-radius: 0px; }

.app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP .app-components-Form-Atmos-DateOfBirth-styles__input--2YnlF input:hover, .app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP .app-components-Form-Atmos-DateOfBirth-styles__input--2YnlF input:focus { border-color: rgb(98, 68, 187); border-width: 2px; }

.app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP.atm-is-error input { border-color: rgb(213, 0, 50); color: rgb(213, 0, 50); }

.app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP.atm-is-error input:hover, .app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP.atm-is-error input:focus { border-color: rgb(213, 0, 50); }

.app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP.atm-is-error input ::placeholder { color: rgb(213, 0, 50); opacity: 1; }

.app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP.atm-is-error input::-webkit-input-placeholder { color: rgb(213, 0, 50); opacity: 1; }

.app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP.atm-is-error select { border-color: rgb(213, 0, 50); color: rgb(213, 0, 50); }

.app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP.atm-is-error select:hover, .app-components-Form-Atmos-DateOfBirth-styles__legacyStyle--2jrFP.atm-is-error select:focus { border-color: rgb(213, 0, 50); }

#app-components-Form-Atmos-DateOfBirth-styles__label--2s2rY label, .app-components-Form-Atmos-DateOfBirth-styles__input--2YnlF label { font-size: 12px; color: rgb(98, 68, 187); font-weight: normal; }

.app-components-Form-Atmos-DateOfBirth-styles__body--nFb6- { display: flex; flex-wrap: wrap; }

.atm-is-error .atm-c-textfield__note.app-components-Form-Atmos-DateOfBirth-styles__errorField--3HSBK { display: block; }

.atm-is-error .atm-c-textfield__note.app-components-Form-Atmos-DateOfBirth-styles__errorField--3HSBK .app-components-Form-Atmos-DateOfBirth-styles__errorFieldIcon--2mi2z { display: inline-block; }

.app-components-Form-Atmos-DateOfBirth-styles__input--2YnlF { max-width: 100px; }

.app-components-Form-Atmos-DateOfBirth-styles__input--2YnlF input { font-style: normal; color: rgb(51, 51, 51); font-size: 16px; font-weight: 400; height: 41px; border: 1px solid gray; border-radius: 4px; outline: none; padding: 0.5rem; }

.app-components-Form-Atmos-DateOfBirth-styles__input--2YnlF input:focus { border-color: rgb(98, 68, 187); }

.app-components-Form-Atmos-DateOfBirth-styles__input--2YnlF input:hover { border-color: rgb(98, 68, 187); }

.app-components-Form-Atmos-DateOfBirth-styles__input--2YnlF input::-webkit-input-placeholder { font-style: normal; color: rgb(51, 51, 51); font-size: 16px; font-weight: 400; }

@media (min-width: 720px) {
  .app-components-Form-Atmos-DateOfBirth-styles__input--2YnlF { max-width: none; padding-left: 0.5em; }
}

.app-components-Form-Atmos-DateOfBirth-styles__monthField--39KHB { padding: 0px 0.5em 0px 0px; }

.app-components-Form-Atmos-DateOfBirth-styles__dayField--2eTxr { padding: 0px 0.5em 0px 0px; min-width: 2.25em; flex: 1 1 0%; }

.app-components-Form-Atmos-DateOfBirth-styles__dayField--2eTxr.app-components-Form-Atmos-DateOfBirth-styles__YYYY_MM_DD--1N0Uw { padding: 0px; }

.app-components-Form-Atmos-DateOfBirth-styles__yearField--29ksh { padding: 0px; min-width: 3.5em; flex: 1 1 0%; }

.app-components-Form-Atmos-DateOfBirth-styles__yearField--29ksh.app-components-Form-Atmos-DateOfBirth-styles__MM_DD_YYYY--1jdxz { padding-right: 0px; }

.app-components-Form-Atmos-DateOfBirth-styles__yearField--29ksh.app-components-Form-Atmos-DateOfBirth-styles__DD_MM_YYYY--thNJY { padding-right: 0px; }

.app-components-Form-Atmos-DateOfBirth-styles__yearField--29ksh.app-components-Form-Atmos-DateOfBirth-styles__YYYY_MM_DD--1N0Uw { padding: 0px 0.5em 0px 0px; }
