@charset "utf-8";

.atm-c-stepper { margin-bottom: 2rem; padding: 1rem; border-radius: 4px; border: 1px solid rgb(0, 34, 68); background: rgb(255, 255, 255); }

.atm-c-stepper__list { margin: -0.5rem 0px 0px; padding: 0px; list-style: none; display: flex; flex-wrap: wrap; width: fit-content; }

.atm-c-stepper.atm-is-small .atm-c-stepper__list { display: block; }

.atm-c-stepper__item { margin-top: 0.5rem; margin-right: 1rem; }

.atm-c-stepper__item.atm-is-current { display: list-item; }

.atm-c-stepper__item.atm-is-disabled { cursor: not-allowed; }

.atm-c-stepper.atm-is-small .atm-c-stepper__item { display: none; }

.atm-c-stepper.atm-is-small .atm-c-stepper__item.atm-is-current { display: flex; -webkit-box-align: baseline; align-items: baseline; }

.atm-c-stepper__item:last-child { margin-right: 0px; }

.atm-c-stepper.atm-is-small .atm-c-stepper__item.atm-is-current + .atm-c-stepper__item { display: flex; margin-top: 0px; font-size: 0.75rem; font-weight: 400; line-height: 1.66667; }

.atm-c-stepper__counter { display: none; font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; margin-right: 0.25rem; }

.atm-c-stepper.atm-is-small .atm-c-stepper__counter { display: block; }

.atm-c-stepper__next-step-label { display: none; }

.atm-c-stepper.atm-is-small .atm-c-stepper__next-step-label { display: inline; margin-right: 0.25rem; }

.atm-c-stepper__content { margin: 0px; padding: 0px; appearance: none; border: none; cursor: pointer; display: flex; -webkit-box-align: center; align-items: center; font-size: 0.875rem; }

.atm-c-stepper__content:focus { outline: rgb(98, 68, 187) solid 4px; }

.atm-c-stepper__item.atm-is-current .atm-c-stepper__content { pointer-events: none; }

.atm-c-stepper__item.atm-is-disabled .atm-c-stepper__content { pointer-events: none; }

.atm-c-stepper.atm-is-small .atm-c-stepper__content { -webkit-box-align: baseline; align-items: baseline; }

.atm-c-stepper.atm-is-small .atm-c-stepper__item.atm-is-current + .atm-c-stepper__item .atm-c-stepper__content { font-size: 0.75rem; font-weight: 400; line-height: 1.66667; }

div.atm-c-stepper__content { cursor: default; }

.atm-c-stepper__number { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; margin-right: 0.5rem; border: 1px solid rgb(0, 34, 68); color: rgb(0, 34, 68); background-color: rgb(255, 255, 255); border-radius: 50%; position: relative; width: 1.6rem; height: 1.6rem; }

.atm-c-stepper__item.atm-is-complete .atm-c-stepper__number { color: rgb(0, 34, 68); border: 1px solid rgb(0, 34, 68); }

.atm-c-stepper__item.atm-is-current .atm-c-stepper__number { display: none; color: rgb(255, 255, 255); background-color: rgb(0, 34, 68); border-color: rgb(0, 34, 68); font-weight: bold; }

.atm-c-stepper:not(.atm-is-small) .atm-c-stepper__item.atm-is-current .atm-c-stepper__number { display: flex; }

.atm-c-stepper.atm-is-small .atm-c-stepper__item.atm-is-current + .atm-c-stepper__item .atm-c-stepper__number { display: none; }

.atm-c-stepper__item.atm-is-disabled .atm-c-stepper__number { color: gray; background: rgb(230, 230, 230); border-color: rgb(230, 230, 230); }

.atm-c-stepper__icon { width: 1.6rem; height: 1.6rem; margin-right: 0.5rem; }

.atm-c-stepper__label { display: block; color: rgb(0, 34, 68); }

.atm-c-stepper__item.atm-is-current .atm-c-stepper__label { font-weight: bold; }

.atm-c-stepper.atm-is-medium .atm-c-stepper__item:not(.atm-is-current) .atm-c-stepper__label { position: absolute !important; overflow: hidden !important; width: 1px !important; height: 1px !important; padding: 0px !important; border: 0px !important; clip: rect(1px, 1px, 1px, 1px) !important; }

.atm-c-stepper__item.atm-is-disabled .atm-c-stepper__label { color: gray; }
