@charset "utf-8";

.app-components-Refunds-tabs-CheckStatus-CheckStatusFAQ-RefundCreditedMobile-styles__box--wX54W { border: 1px solid rgb(204, 204, 204); padding: 0px 16px 16px; border-radius: 4px; margin: 16px 0px; }

.app-components-Refunds-tabs-CheckStatus-CheckStatusFAQ-RefundCreditedMobile-styles__box--wX54W > h5 { margin-bottom: 4px; margin-top: 16px; font-size: 16px; font-weight: 600; line-height: 1.5; }

.app-components-Refunds-tabs-CheckStatus-CheckStatusFAQ-RefundCreditedMobile-styles__box--wX54W > p { margin: 0px; }
