@charset "utf-8";

.app-containers-LocalizationModal-localizationModalStyles__btnDefault--1eLEx { text-align: center; text-decoration: none; border-radius: 2px; height: 52px; line-height: 22px; width: 100%; font-size: 16px; }

@media (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__btnDefault--1eLEx { height: 56px; width: 160px; }
}

.app-containers-LocalizationModal-localizationModalStyles__btnDefault--1eLEx:hover, .app-containers-LocalizationModal-localizationModalStyles__btnDefault--1eLEx:focus { box-shadow: none; }

.app-containers-LocalizationModal-localizationModalStyles__btnDefault--1eLEx:disabled, .app-containers-LocalizationModal-localizationModalStyles__btnDefault--1eLEx[disabled] { box-shadow: none; border: none; background-color: rgb(230, 230, 230); color: rgb(102, 102, 102); }

.app-containers-LocalizationModal-localizationModalStyles__primaryButton--37vNl { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); border: 1px solid rgb(33, 114, 186); box-shadow: rgb(102, 102, 102) -1px 1px 1px 0px; }

.app-containers-LocalizationModal-localizationModalStyles__primaryButton--37vNl:hover, .app-containers-LocalizationModal-localizationModalStyles__primaryButton--37vNl:focus { border: 1px solid rgb(0, 48, 87); box-shadow: none; }

.app-containers-LocalizationModal-localizationModalStyles__ancillaryButton--2SkEb, .app-containers-LocalizationModal-localizationModalStyles__primaryButton--37vNl.app-containers-LocalizationModal-localizationModalStyles__ancillaryButton--2SkEb, .app-containers-LocalizationModal-localizationModalStyles__btnDefault--1eLEx.app-containers-LocalizationModal-localizationModalStyles__ancillaryButton--2SkEb { height: 30px; }

@media (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__ancillaryButton--2SkEb, .app-containers-LocalizationModal-localizationModalStyles__primaryButton--37vNl.app-containers-LocalizationModal-localizationModalStyles__ancillaryButton--2SkEb, .app-containers-LocalizationModal-localizationModalStyles__btnDefault--1eLEx.app-containers-LocalizationModal-localizationModalStyles__ancillaryButton--2SkEb { width: 160px; }
}

.app-containers-LocalizationModal-localizationModalStyles__secondaryButton--16-mt { background-color: rgb(237, 183, 43); color: rgb(0, 0, 0); border: 1px solid rgb(237, 183, 43); }

.app-containers-LocalizationModal-localizationModalStyles__secondaryButton--16-mt:hover { border: 1px solid rgb(0, 57, 100); box-shadow: none; }

.app-containers-LocalizationModal-localizationModalStyles__inputFieldBorder--2DpSo { border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid rgb(102, 102, 102); background: rgba(0, 0, 0, 0); border-radius: 0px; }

.app-containers-LocalizationModal-localizationModalStyles__textLink--qZnvs { font-size: 28px; letter-spacing: 0px; line-height: 18px; }

.app-containers-LocalizationModal-localizationModalStyles__textLink--qZnvs:link { color: rgb(0, 34, 68); }

.app-containers-LocalizationModal-localizationModalStyles__textLink--qZnvs:hover { color: rgb(33, 114, 186); border-bottom: 1px solid rgb(33, 114, 186); }

@media (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__textLink--qZnvs { font-size: 16px; }
}

.app-containers-LocalizationModal-localizationModalStyles__textLinkCTA--3A4vu { letter-spacing: 0px; }

.app-containers-LocalizationModal-localizationModalStyles__textLinkCTA--3A4vu:link { color: rgb(102, 102, 102); text-decoration: underline; }

.app-containers-LocalizationModal-localizationModalStyles__textLinkCTA--3A4vu:hover { color: rgb(0, 0, 0); }

@media (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__textLinkCTA--3A4vu { line-height: 22px; }
}

.app-containers-LocalizationModal-localizationModalStyles__inverse--3Sy1m { background-color: rgb(33, 114, 186); border-radius: 2px; color: rgb(255, 255, 255); }

.app-containers-LocalizationModal-localizationModalStyles__inverse--3Sy1m.app-containers-LocalizationModal-localizationModalStyles__secondary--2_Uyu { color: rgb(237, 183, 43); }

.app-containers-LocalizationModal-localizationModalStyles__inverse--3Sy1m input[type="text"], .app-containers-LocalizationModal-localizationModalStyles__inverse--3Sy1m input[type="password"], .app-containers-LocalizationModal-localizationModalStyles__inverse--3Sy1m input[type="tel"], .app-containers-LocalizationModal-localizationModalStyles__inverse--3Sy1m input[type="number"] { color: rgb(255, 255, 255); }

.app-containers-LocalizationModal-localizationModalStyles__inverse--3Sy1m input[type="text"].app-containers-LocalizationModal-localizationModalStyles__secondary--2_Uyu, .app-containers-LocalizationModal-localizationModalStyles__inverse--3Sy1m input[type="password"].app-containers-LocalizationModal-localizationModalStyles__secondary--2_Uyu, .app-containers-LocalizationModal-localizationModalStyles__inverse--3Sy1m input[type="tel"].app-containers-LocalizationModal-localizationModalStyles__secondary--2_Uyu, .app-containers-LocalizationModal-localizationModalStyles__inverse--3Sy1m input[type="number"].app-containers-LocalizationModal-localizationModalStyles__secondary--2_Uyu { color: rgb(237, 183, 43); }

.app-containers-LocalizationModal-localizationModalStyles__inverseDark--31XxA { background-color: rgb(0, 34, 68); font-size: 16px; color: rgb(255, 255, 255); }

.app-containers-LocalizationModal-localizationModalStyles__signInInput--3GOVF { font-size: 24px; letter-spacing: -0.2px; line-height: 32px; }

.app-containers-LocalizationModal-localizationModalStyles__roundedButton--3lrD-, .app-containers-LocalizationModal-localizationModalStyles__roundedButtonOn--1V-B1, .app-containers-LocalizationModal-localizationModalStyles__roundedButtonPrimary--6LTAv { font-size: 16px; letter-spacing: 0px; border: 1px solid; border-radius: 200px; height: 72px; width: 94px; text-align: center; }

@media (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__roundedButton--3lrD-, .app-containers-LocalizationModal-localizationModalStyles__roundedButtonOn--1V-B1, .app-containers-LocalizationModal-localizationModalStyles__roundedButtonPrimary--6LTAv { border-radius: 100px; height: 35px; }
}

.app-containers-LocalizationModal-localizationModalStyles__roundedButtonPrimary--6LTAv { color: rgb(153, 153, 153); border: 2px solid rgb(211, 211, 211); }

@media (min-width: 1184px) {
  .app-containers-LocalizationModal-localizationModalStyles__roundedButtonPrimary--6LTAv { border: 1px solid rgb(211, 211, 211); }
}

.app-containers-LocalizationModal-localizationModalStyles__roundedButtonPrimary--6LTAv:hover { color: rgb(102, 102, 102); border: 2px solid rgb(102, 102, 102); }

@media (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__roundedButtonPrimary--6LTAv:hover { border: 1px solid rgb(102, 102, 102); }
}

.app-containers-LocalizationModal-localizationModalStyles__roundedButtonOn--1V-B1 { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); }

.app-containers-LocalizationModal-localizationModalStyles__alert--1M5MM, .app-containers-LocalizationModal-localizationModalStyles__highLevelAlert--1EogR, .app-containers-LocalizationModal-localizationModalStyles__lowLevelAlert--1SMUG { border-radius: 3px; height: 60px; width: 100%; font-size: 16px; line-height: 18px; letter-spacing: 0px; padding-left: 55px; padding-top: 20px; }

.app-containers-LocalizationModal-localizationModalStyles__lowLevelAlert--1SMUG { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }

.app-containers-LocalizationModal-localizationModalStyles__highLevelAlert--1EogR { background-color: rgb(213, 0, 50); color: rgb(255, 255, 255); }

.app-containers-LocalizationModal-localizationModalStyles__alertTriangle--3iiFr, .app-containers-LocalizationModal-localizationModalStyles__low-alert-triangle--h7eO0, .app-containers-LocalizationModal-localizationModalStyles__highAlertTriangle--1H3tP { padding-left: 48px; height: 19.96px; width: 22.01px; content: "!"; }

.app-containers-LocalizationModal-localizationModalStyles__highAlertTriangle--1H3tP { color: rgb(255, 255, 255); }

.app-containers-LocalizationModal-localizationModalStyles__low-alert-triangle--h7eO0 { color: rgb(102, 102, 102); }

.app-containers-LocalizationModal-localizationModalStyles__dropdown--IWh_1 { width: 100%; height: 100%; border: 1px solid rgb(229, 229, 229); }

@media (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__dropdown--IWh_1 { border-radius: 3px; border: 1px solid rgb(200, 200, 200); box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px; }
}

.app-containers-LocalizationModal-localizationModalStyles__dropdownContent--3ynqN { font-size: 32px; line-height: 72px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-LocalizationModal-localizationModalStyles__dropdownContent--3ynqN:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

@media (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__dropdownContent--3ynqN { font-size: 10px; line-height: 40px; }
}

.app-containers-LocalizationModal-localizationModalStyles__dropdownExpand--RdJeF { font-size: 24px; line-height: 44px; color: rgb(0, 34, 68); letter-spacing: 0px; }

@media (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__dropdownExpand--RdJeF { font-size: 12px; line-height: 22px; }
}

.app-containers-LocalizationModal-localizationModalStyles__simpleDropdownDefault--2giRH, .app-containers-LocalizationModal-localizationModalStyles__simpleDropdownOnBackground--1xsWt { border: 1px solid rgb(148, 148, 148); border-radius: 4px; font-size: 28px; color: rgb(51, 51, 51); letter-spacing: 0px; line-height: 24px; }

@media (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__simpleDropdownDefault--2giRH, .app-containers-LocalizationModal-localizationModalStyles__simpleDropdownOnBackground--1xsWt { font-size: 16px; color: rgb(0, 34, 68); border: none; }
  .app-containers-LocalizationModal-localizationModalStyles__simpleDropdownDefault--2giRH:hover, .app-containers-LocalizationModal-localizationModalStyles__simpleDropdownOnBackground--1xsWt:hover { color: rgb(33, 114, 186); }
}

.app-containers-LocalizationModal-localizationModalStyles__simpleDropdownOnBackground--1xsWt { opacity: 0.5; border: 1px solid rgb(255, 255, 255); border-radius: 6px; color: rgb(255, 255, 255); }

.app-containers-LocalizationModal-localizationModalStyles__simpleDropdownActive--1Jzs5 { font-size: 16px; line-height: 40px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-LocalizationModal-localizationModalStyles__simpleDropdownActive--1Jzs5:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

.app-containers-LocalizationModal-localizationModalStyles__simpleDropdownActive--1Jzs5:checked { color: rgb(0, 34, 68); }

.app-containers-LocalizationModal-localizationModalStyles__checkboxWrapper--3o425 { position: relative; }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked), .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked), .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked { position: absolute; left: 0px; top: -1px; opacity: 0; }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked) + label, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked + label, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked) + label, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked + label { position: relative; cursor: pointer; font-size: 14px; }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked) + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked) + label::after, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked + label::after, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked) + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked) + label::after, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked + label::after { position: absolute; left: 0px; top: -1px; }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked) + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked) + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked + label::before { content: ""; border: 2px solid rgb(0, 57, 100); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px inset; }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked) + label::after, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked + label::after, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked) + label::after, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked + label::after { content: ""; display: block; border-style: solid; border-color: rgb(255, 255, 255); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(45deg); position: absolute; text-align: center; }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked), .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:disabled) + label::after, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked), .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:disabled) + label::after { opacity: 0; border-color: rgb(0, 34, 68); }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked + label::after, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked + label::after { opacity: 1; border-color: rgb(255, 255, 255); }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked + label::before { background: rgb(0, 34, 68); }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked) + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked) + label::before { background: rgb(255, 255, 255); }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:disabled:not(:checked) + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:disabled:checked + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:disabled:not(:checked) + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:disabled:checked + label::before { box-shadow: none; border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:disabled:checked + label::after, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:disabled:checked + label::after { color: rgb(153, 153, 153); }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:disabled + label, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:disabled + label { color: rgb(170, 170, 170); }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked:focus + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked):focus + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked:focus + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked):focus + label::before { outline: dotted 1px; }

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked) + label, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked + label { padding-left: 32px; line-height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked) + label, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked + label { padding-left: 26px; line-height: 18px; }
}

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked) + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked + label::before { width: 24px; height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked) + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked + label::before { width: 20px; height: 20px; }
}

.app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked) + label::after, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked + label::after { font-size: 14px; top: 5px; left: 9px; width: 5px; height: 11px; }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:not(:checked) + label::after, .app-containers-LocalizationModal-localizationModalStyles__customCheckbox--2mU3K:checked + label::after { left: 8px; top: 3px; }
}

.app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked) + label, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked + label { padding-left: 25px; font-size: 12px; line-height: 15px; }

.app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked) + label::before, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked + label::before { width: 15px; height: 15px; }

.app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked) + label::after, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked + label::after { font-size: 10px; left: 6px; top: 2px; width: 4px; height: 9px; }

.app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked) + label:hover, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked) + label:focus, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked + label:hover, .app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked + label:focus { color: rgb(0, 34, 68); }

.app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:not(:checked) + label { color: rgb(137, 137, 137); }

.app-containers-LocalizationModal-localizationModalStyles__customCheckboxSm--2tYeM:checked + label { color: rgb(0, 34, 68); }

.app-containers-LocalizationModal-localizationModalStyles__whiteAndBlackCustomCheckBox--23yhA:checked + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-LocalizationModal-localizationModalStyles__whiteAndBlackCustomCheckBox--23yhA:not(:checked) + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-LocalizationModal-localizationModalStyles__whiteAndBlackCustomCheckBox--23yhA:checked + label::after { border-color: rgb(0, 0, 0); top: 5px; left: 10px; }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__whiteAndBlackCustomCheckBox--23yhA:checked + label::after { top: 3px; left: 8px; }
}

.app-containers-LocalizationModal-localizationModalStyles__questionMarkToolTip--3DmXU::before { content: "?"; display: inline-block; vertical-align: top; text-align: center; font-weight: bold; width: 24px; height: 24px; font-size: 14px; line-height: 1.4; margin-top: 0px; margin-left: 8px; border: 1px solid rgb(255, 255, 255); border-radius: 50%; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__questionMarkToolTip--3DmXU::before { line-height: 1.3; margin-top: 4px; width: 16px; height: 16px; font-size: 10px; }
}

.app-containers-LocalizationModal-localizationModalStyles__floatingLabel--3cB01 { font-size: 12px; color: rgb(102, 102, 102); line-height: 13px; }

.app-containers-LocalizationModal-localizationModalStyles__formLink--Z8yYs { font-size: 16px; text-decoration: underline; }

.app-containers-LocalizationModal-localizationModalStyles__formLink--Z8yYs:hover { outline: rgb(33, 114, 186) dotted 1px; color: rgb(35, 82, 124); }

.app-containers-LocalizationModal-localizationModalStyles__fieldErrorMessage--3u0oI { position: absolute; bottom: 0px; color: rgb(213, 0, 50); letter-spacing: 0px; font-size: 13px; line-height: 1.5; text-align: center; }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__fieldErrorMessage--3u0oI { font-size: 11px; }
}

.app-containers-LocalizationModal-localizationModalStyles__homepageTextField--3dbcb { line-height: 1; }

.app-containers-LocalizationModal-localizationModalStyles__homepageTextField--3dbcb label { color: rgb(0, 34, 68); text-transform: none; font-weight: bold; font-size: 12px; letter-spacing: 1px; margin-bottom: -1px; }

.app-containers-LocalizationModal-localizationModalStyles__homepageTextField--3dbcb input { transition: color 0.4s ease 0s; color: rgb(0, 34, 68); height: 46px; }

.app-containers-LocalizationModal-localizationModalStyles__homepageTextField--3dbcb input::-webkit-input-placeholder { text-transform: none; font-style: normal; font-weight: normal; }

.app-containers-LocalizationModal-localizationModalStyles__homepageTextField--3dbcb:focus { color: rgb(33, 114, 186); border-color: rgb(33, 114, 186); }

.app-containers-LocalizationModal-localizationModalStyles__homepageTextField--3dbcb:focus > label { color: rgb(33, 114, 186); }

.app-containers-LocalizationModal-localizationModalStyles__homepageTextField--3dbcb .atm-c-field-note.atm-c-textfield__note { position: absolute; margin: 0px; bottom: -24px; }

.app-containers-LocalizationModal-localizationModalStyles__homepageTextField--3dbcb .atm-c-field-note.atm-c-textfield__note svg { display: none; }

.app-containers-LocalizationModal-localizationModalStyles__localizationModalWrapper--Pa-Re { position: relative; display: inline-block; }

.app-containers-LocalizationModal-localizationModalStyles__overlayClass--wZl-6 { position: absolute; inset: 0px; transition: opacity 0.4s ease 0s; z-index: 999998; }

@media screen and (min-width: 1184px) {
  .app-containers-LocalizationModal-localizationModalStyles__overlayClass--wZl-6 { display: none; }
}

.app-containers-LocalizationModal-localizationModalStyles__localizationModal--3CuuX { transform: translate3d(0px, 0px, 0px); z-index: 998; opacity: 1; }

.app-containers-LocalizationModal-localizationModalStyles__localizationModal--3CuuX .app-containers-LocalizationModal-localizationModalStyles__navWrapper--1LNLf { background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 100%) rgb(0, 34, 68); }

.app-containers-LocalizationModal-localizationModalStyles__controls--exaTP { order: -1; }

.app-containers-LocalizationModal-localizationModalStyles__localizationModal--3CuuX { position: absolute; top: 0px; right: 0px; width: 100%; height: 100vh; background-color: rgb(255, 255, 255); transition: right 0.4s ease 0s, opacity 0.2s ease 0s; padding: 25px; color: rgb(0, 34, 68); text-align: right; opacity: 1; display: flex; flex-flow: column; }

@media screen and (min-width: 1184px) {
  .app-containers-LocalizationModal-localizationModalStyles__localizationModal--3CuuX { display: none; }
}

.app-containers-LocalizationModal-localizationModalStyles__localizationModal--3CuuX.app-containers-LocalizationModal-localizationModalStyles__panelAfterOpen--3yekk { right: 0px; opacity: 1; overflow-y: auto; }

.app-containers-LocalizationModal-localizationModalStyles__localizationModal--3CuuX.app-containers-LocalizationModal-localizationModalStyles__panelBeforeClose--1PHDh { right: -100%; opacity: 0; }

.app-containers-LocalizationModal-localizationModalStyles__localizationModal--3CuuX:focus { border: none; box-shadow: none; }

.app-containers-LocalizationModal-localizationModalStyles__localizationModal--3CuuX .app-containers-LocalizationModal-localizationModalStyles__closeButton--2aPa- { padding: 0px; width: 20px; position: absolute; top: 20px; right: 20px; }

.app-containers-LocalizationModal-localizationModalStyles__localizationModal--3CuuX .app-containers-LocalizationModal-localizationModalStyles__closeButton--2aPa-::after { clear: both; }

.app-containers-LocalizationModal-localizationModalStyles__localizationModal--3CuuX .app-containers-LocalizationModal-localizationModalStyles__closeButton--2aPa- img { width: 100%; }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationModal-localizationModalStyles__localizationModal--3CuuX .app-containers-LocalizationModal-localizationModalStyles__closeButton--2aPa- { display: none; }
}
