@charset "utf-8";

.app-components-ContinuousImprovement-MileagePlusBlock-styles__nonMemberBlock--35P-b .app-components-ContinuousImprovement-MileagePlusBlock-styles__heading--MbEKj { margin: 0px; }

.app-components-ContinuousImprovement-MileagePlusBlock-styles__nonMemberBlock--35P-b.app-components-ContinuousImprovement-MileagePlusBlock-styles__innerSection--1lxHw { padding: 0px 24px; }

.app-components-ContinuousImprovement-MileagePlusBlock-styles__nonMemberBlock--35P-b.app-components-ContinuousImprovement-MileagePlusBlock-styles__innerSection--1lxHw.app-components-ContinuousImprovement-MileagePlusBlock-styles__memberBlock--2brdD p { margin: 0px 0px 16px; }
