@charset "utf-8";

.app-components-FlightBlock-FlightBlock-styles__blockWrapper--yBcc7 { display: flex; flex-direction: column; }

.app-components-FlightBlock-FlightBlock-styles__blockWrapper--yBcc7 .app-components-FlightBlock-FlightBlock-styles__segmentWrapper--3tBvD { display: flex; min-height: 100px; padding: 20px 0px; }

.app-components-FlightBlock-FlightBlock-styles__blockWrapper--yBcc7 .app-components-FlightBlock-FlightBlock-styles__segmentWrapper--3tBvD.app-components-FlightBlock-FlightBlock-styles__withSeparator--DKGcj:nth-last-of-type(2n+1) { border-top: 1px dashed rgb(153, 153, 153); }

.app-components-FlightBlock-FlightBlock-styles__blockWrapper--yBcc7 .app-components-FlightBlock-FlightBlock-styles__segmentWrapper--3tBvD > div { flex: 1 1 0%; }

.app-components-FlightBlock-FlightBlock-styles__blockWrapper--yBcc7 .app-components-FlightBlock-FlightBlock-styles__segmentWrapper--3tBvD > div + div { flex: 2 1 0%; }

@media (max-width: 944px) {
  .app-components-FlightBlock-FlightBlock-styles__blockWrapper--yBcc7 .app-components-FlightBlock-FlightBlock-styles__segmentWrapper--3tBvD { flex-direction: column; }
  .app-components-FlightBlock-FlightBlock-styles__blockWrapper--yBcc7 .app-components-FlightBlock-FlightBlock-styles__segmentWrapper--3tBvD > div { margin-right: 0px; height: 70px; }
}
