@charset "utf-8";

.app-components-Announcements-announcements__visuallyhidden--1bIPX { border: 0px; clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px; }
