@charset "utf-8";

.app-components-LoginButton-signInModal__btnDefault--1icYe { text-align: center; text-decoration: none; border-radius: 2px; height: 52px; line-height: 22px; width: 100%; font-size: 16px; }

@media (min-width: 944px) {
  .app-components-LoginButton-signInModal__btnDefault--1icYe { height: 56px; width: 160px; }
}

.app-components-LoginButton-signInModal__btnDefault--1icYe:hover, .app-components-LoginButton-signInModal__btnDefault--1icYe:focus { box-shadow: none; }

.app-components-LoginButton-signInModal__btnDefault--1icYe:disabled, .app-components-LoginButton-signInModal__btnDefault--1icYe[disabled] { box-shadow: none; border: none; background-color: rgb(230, 230, 230); color: rgb(102, 102, 102); }

.app-components-LoginButton-signInModal__primaryButton--1oqdl { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); border: 1px solid rgb(33, 114, 186); box-shadow: rgb(102, 102, 102) -1px 1px 1px 0px; }

.app-components-LoginButton-signInModal__primaryButton--1oqdl:hover, .app-components-LoginButton-signInModal__primaryButton--1oqdl:focus { border: 1px solid rgb(0, 48, 87); box-shadow: none; }

.app-components-LoginButton-signInModal__ancillaryButton--3eYWy, .app-components-LoginButton-signInModal__primaryButton--1oqdl.app-components-LoginButton-signInModal__ancillaryButton--3eYWy, .app-components-LoginButton-signInModal__btnDefault--1icYe.app-components-LoginButton-signInModal__ancillaryButton--3eYWy { height: 30px; }

@media (min-width: 944px) {
  .app-components-LoginButton-signInModal__ancillaryButton--3eYWy, .app-components-LoginButton-signInModal__primaryButton--1oqdl.app-components-LoginButton-signInModal__ancillaryButton--3eYWy, .app-components-LoginButton-signInModal__btnDefault--1icYe.app-components-LoginButton-signInModal__ancillaryButton--3eYWy { width: 160px; }
}

.app-components-LoginButton-signInModal__secondaryButton--1_5ap { background-color: rgb(237, 183, 43); color: rgb(0, 0, 0); border: 1px solid rgb(237, 183, 43); }

.app-components-LoginButton-signInModal__secondaryButton--1_5ap:hover { border: 1px solid rgb(0, 57, 100); box-shadow: none; }

.app-components-LoginButton-signInModal__inputFieldBorder--3pkqG { border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid rgb(102, 102, 102); background: rgba(0, 0, 0, 0); border-radius: 0px; }

.app-components-LoginButton-signInModal__textLink--2p1uK { font-size: 28px; letter-spacing: 0px; line-height: 18px; }

.app-components-LoginButton-signInModal__textLink--2p1uK:link { color: rgb(0, 34, 68); }

.app-components-LoginButton-signInModal__textLink--2p1uK:hover { color: rgb(33, 114, 186); border-bottom: 1px solid rgb(33, 114, 186); }

@media (min-width: 944px) {
  .app-components-LoginButton-signInModal__textLink--2p1uK { font-size: 16px; }
}

.app-components-LoginButton-signInModal__textLinkCTA--1CLMF { letter-spacing: 0px; }

.app-components-LoginButton-signInModal__textLinkCTA--1CLMF:link { color: rgb(102, 102, 102); text-decoration: underline; }

.app-components-LoginButton-signInModal__textLinkCTA--1CLMF:hover { color: rgb(0, 0, 0); }

@media (min-width: 944px) {
  .app-components-LoginButton-signInModal__textLinkCTA--1CLMF { line-height: 22px; }
}

.app-components-LoginButton-signInModal__inverse--3rTR0 { background-color: rgb(33, 114, 186); border-radius: 2px; color: rgb(255, 255, 255); }

.app-components-LoginButton-signInModal__inverse--3rTR0.app-components-LoginButton-signInModal__secondary--3qVU0 { color: rgb(237, 183, 43); }

.app-components-LoginButton-signInModal__inverse--3rTR0 input[type="text"], .app-components-LoginButton-signInModal__inverse--3rTR0 input[type="password"], .app-components-LoginButton-signInModal__inverse--3rTR0 input[type="tel"], .app-components-LoginButton-signInModal__inverse--3rTR0 input[type="number"] { color: rgb(255, 255, 255); }

.app-components-LoginButton-signInModal__inverse--3rTR0 input[type="text"].app-components-LoginButton-signInModal__secondary--3qVU0, .app-components-LoginButton-signInModal__inverse--3rTR0 input[type="password"].app-components-LoginButton-signInModal__secondary--3qVU0, .app-components-LoginButton-signInModal__inverse--3rTR0 input[type="tel"].app-components-LoginButton-signInModal__secondary--3qVU0, .app-components-LoginButton-signInModal__inverse--3rTR0 input[type="number"].app-components-LoginButton-signInModal__secondary--3qVU0 { color: rgb(237, 183, 43); }

.app-components-LoginButton-signInModal__inverseDark--3KPIR { background-color: rgb(0, 34, 68); font-size: 16px; color: rgb(255, 255, 255); }

.app-components-LoginButton-signInModal__signInInput--3bikg { font-size: 24px; letter-spacing: -0.2px; line-height: 32px; }

.app-components-LoginButton-signInModal__roundedButton--1pNv1, .app-components-LoginButton-signInModal__roundedButtonOn--wnEWe, .app-components-LoginButton-signInModal__roundedButtonPrimary--16Utd { font-size: 16px; letter-spacing: 0px; border: 1px solid; border-radius: 200px; height: 72px; width: 94px; text-align: center; }

@media (min-width: 944px) {
  .app-components-LoginButton-signInModal__roundedButton--1pNv1, .app-components-LoginButton-signInModal__roundedButtonOn--wnEWe, .app-components-LoginButton-signInModal__roundedButtonPrimary--16Utd { border-radius: 100px; height: 35px; }
}

.app-components-LoginButton-signInModal__roundedButtonPrimary--16Utd { color: rgb(153, 153, 153); border: 2px solid rgb(211, 211, 211); }

@media (min-width: 1184px) {
  .app-components-LoginButton-signInModal__roundedButtonPrimary--16Utd { border: 1px solid rgb(211, 211, 211); }
}

.app-components-LoginButton-signInModal__roundedButtonPrimary--16Utd:hover { color: rgb(102, 102, 102); border: 2px solid rgb(102, 102, 102); }

@media (min-width: 944px) {
  .app-components-LoginButton-signInModal__roundedButtonPrimary--16Utd:hover { border: 1px solid rgb(102, 102, 102); }
}

.app-components-LoginButton-signInModal__roundedButtonOn--wnEWe { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); }

.app-components-LoginButton-signInModal__alert--1HmVI, .app-components-LoginButton-signInModal__highLevelAlert--3V4KT, .app-components-LoginButton-signInModal__lowLevelAlert--3qxPQ { border-radius: 3px; height: 60px; width: 100%; font-size: 16px; line-height: 18px; letter-spacing: 0px; padding-left: 55px; padding-top: 20px; }

.app-components-LoginButton-signInModal__lowLevelAlert--3qxPQ { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }

.app-components-LoginButton-signInModal__highLevelAlert--3V4KT { background-color: rgb(213, 0, 50); color: rgb(255, 255, 255); }

.app-components-LoginButton-signInModal__alertTriangle--12GFm, .app-components-LoginButton-signInModal__low-alert-triangle--3W8wF, .app-components-LoginButton-signInModal__highAlertTriangle--3m_Oo { padding-left: 48px; height: 19.96px; width: 22.01px; content: "!"; }

.app-components-LoginButton-signInModal__highAlertTriangle--3m_Oo { color: rgb(255, 255, 255); }

.app-components-LoginButton-signInModal__low-alert-triangle--3W8wF { color: rgb(102, 102, 102); }

.app-components-LoginButton-signInModal__dropdown--125lA { width: 100%; height: 100%; border: 1px solid rgb(229, 229, 229); }

@media (min-width: 944px) {
  .app-components-LoginButton-signInModal__dropdown--125lA { border-radius: 3px; border: 1px solid rgb(200, 200, 200); box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px; }
}

.app-components-LoginButton-signInModal__dropdownContent--1frc5 { font-size: 32px; line-height: 72px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-components-LoginButton-signInModal__dropdownContent--1frc5:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

@media (min-width: 944px) {
  .app-components-LoginButton-signInModal__dropdownContent--1frc5 { font-size: 10px; line-height: 40px; }
}

.app-components-LoginButton-signInModal__dropdownExpand--3RWA6 { font-size: 24px; line-height: 44px; color: rgb(0, 34, 68); letter-spacing: 0px; }

@media (min-width: 944px) {
  .app-components-LoginButton-signInModal__dropdownExpand--3RWA6 { font-size: 12px; line-height: 22px; }
}

.app-components-LoginButton-signInModal__simpleDropdownDefault--1tyJD, .app-components-LoginButton-signInModal__simpleDropdownOnBackground--1HgIt { border: 1px solid rgb(148, 148, 148); border-radius: 4px; font-size: 28px; color: rgb(51, 51, 51); letter-spacing: 0px; line-height: 24px; }

@media (min-width: 944px) {
  .app-components-LoginButton-signInModal__simpleDropdownDefault--1tyJD, .app-components-LoginButton-signInModal__simpleDropdownOnBackground--1HgIt { font-size: 16px; color: rgb(0, 34, 68); border: none; }
  .app-components-LoginButton-signInModal__simpleDropdownDefault--1tyJD:hover, .app-components-LoginButton-signInModal__simpleDropdownOnBackground--1HgIt:hover { color: rgb(33, 114, 186); }
}

.app-components-LoginButton-signInModal__simpleDropdownOnBackground--1HgIt { opacity: 0.5; border: 1px solid rgb(255, 255, 255); border-radius: 6px; color: rgb(255, 255, 255); }

.app-components-LoginButton-signInModal__simpleDropdownActive--2DTbB { font-size: 16px; line-height: 40px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-components-LoginButton-signInModal__simpleDropdownActive--2DTbB:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

.app-components-LoginButton-signInModal__simpleDropdownActive--2DTbB:checked { color: rgb(0, 34, 68); }

.app-components-LoginButton-signInModal__checkboxWrapper--14qki { position: relative; }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked), .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked), .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked { position: absolute; left: 0px; top: -1px; opacity: 0; }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked) + label, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked + label, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked) + label, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked + label { position: relative; cursor: pointer; font-size: 14px; }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked) + label::before, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked) + label::after, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked + label::before, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked + label::after, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked) + label::before, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked) + label::after, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked + label::before, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked + label::after { position: absolute; left: 0px; top: -1px; }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked) + label::before, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked + label::before, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked) + label::before, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked + label::before { content: ""; border: 2px solid rgb(0, 57, 100); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px inset; }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked) + label::after, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked + label::after, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked) + label::after, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked + label::after { content: ""; display: block; border-style: solid; border-color: rgb(255, 255, 255); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(45deg); position: absolute; text-align: center; }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked), .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:disabled) + label::after, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked), .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:disabled) + label::after { opacity: 0; border-color: rgb(0, 34, 68); }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked + label::after, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked + label::after { opacity: 1; border-color: rgb(255, 255, 255); }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked + label::before, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked + label::before { background: rgb(0, 34, 68); }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked) + label::before, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked) + label::before { background: rgb(255, 255, 255); }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:disabled:not(:checked) + label::before, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:disabled:checked + label::before, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:disabled:not(:checked) + label::before, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:disabled:checked + label::before { box-shadow: none; border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:disabled:checked + label::after, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:disabled:checked + label::after { color: rgb(153, 153, 153); }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:disabled + label, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:disabled + label { color: rgb(170, 170, 170); }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked:focus + label::before, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked):focus + label::before, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked:focus + label::before, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked):focus + label::before { outline: dotted 1px; }

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked) + label, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked + label { padding-left: 32px; line-height: 24px; }

@media screen and (min-width: 944px) {
  .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked) + label, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked + label { padding-left: 26px; line-height: 18px; }
}

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked) + label::before, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked + label::before { width: 24px; height: 24px; }

@media screen and (min-width: 944px) {
  .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked) + label::before, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked + label::before { width: 20px; height: 20px; }
}

.app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked) + label::after, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked + label::after { font-size: 14px; top: 5px; left: 9px; width: 5px; height: 11px; }

@media screen and (min-width: 944px) {
  .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:not(:checked) + label::after, .app-components-LoginButton-signInModal__customCheckbox--CQAcQ:checked + label::after { left: 8px; top: 3px; }
}

.app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked) + label, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked + label { padding-left: 25px; font-size: 12px; line-height: 15px; }

.app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked) + label::before, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked + label::before { width: 15px; height: 15px; }

.app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked) + label::after, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked + label::after { font-size: 10px; left: 6px; top: 2px; width: 4px; height: 9px; }

.app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked) + label:hover, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked) + label:focus, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked + label:hover, .app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked + label:focus { color: rgb(0, 34, 68); }

.app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:not(:checked) + label { color: rgb(137, 137, 137); }

.app-components-LoginButton-signInModal__customCheckboxSm--2Cr2N:checked + label { color: rgb(0, 34, 68); }

.app-components-LoginButton-signInModal__whiteAndBlackCustomCheckBox--1zX4u:checked + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-components-LoginButton-signInModal__whiteAndBlackCustomCheckBox--1zX4u:not(:checked) + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-components-LoginButton-signInModal__whiteAndBlackCustomCheckBox--1zX4u:checked + label::after { border-color: rgb(0, 0, 0); top: 5px; left: 10px; }

@media screen and (min-width: 944px) {
  .app-components-LoginButton-signInModal__whiteAndBlackCustomCheckBox--1zX4u:checked + label::after { top: 3px; left: 8px; }
}

.app-components-LoginButton-signInModal__questionMarkToolTip--2V5eT::before { content: "?"; display: inline-block; vertical-align: top; text-align: center; font-weight: bold; width: 24px; height: 24px; font-size: 14px; line-height: 1.4; margin-top: 0px; margin-left: 8px; border: 1px solid rgb(255, 255, 255); border-radius: 50%; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); }

@media screen and (min-width: 944px) {
  .app-components-LoginButton-signInModal__questionMarkToolTip--2V5eT::before { line-height: 1.3; margin-top: 4px; width: 16px; height: 16px; font-size: 10px; }
}

.app-components-LoginButton-signInModal__floatingLabel--3vlzk { font-size: 12px; color: rgb(102, 102, 102); line-height: 13px; }

.app-components-LoginButton-signInModal__formLink--1xFuH { font-size: 16px; text-decoration: underline; }

.app-components-LoginButton-signInModal__formLink--1xFuH:hover { outline: rgb(33, 114, 186) dotted 1px; color: rgb(35, 82, 124); }

.app-components-LoginButton-signInModal__fieldErrorMessage--1OrKk { position: absolute; bottom: 0px; color: rgb(213, 0, 50); letter-spacing: 0px; font-size: 13px; line-height: 1.5; text-align: center; }

@media screen and (min-width: 944px) {
  .app-components-LoginButton-signInModal__fieldErrorMessage--1OrKk { font-size: 11px; }
}

.app-components-LoginButton-signInModal__homepageTextField--2xGO9 { line-height: 1; }

.app-components-LoginButton-signInModal__homepageTextField--2xGO9 label { color: rgb(0, 34, 68); text-transform: none; font-weight: bold; font-size: 12px; letter-spacing: 1px; margin-bottom: -1px; }

.app-components-LoginButton-signInModal__homepageTextField--2xGO9 input { transition: color 0.4s ease 0s; color: rgb(0, 34, 68); height: 46px; }

.app-components-LoginButton-signInModal__homepageTextField--2xGO9 input::-webkit-input-placeholder { text-transform: none; font-style: normal; font-weight: normal; }

.app-components-LoginButton-signInModal__homepageTextField--2xGO9:focus { color: rgb(33, 114, 186); border-color: rgb(33, 114, 186); }

.app-components-LoginButton-signInModal__homepageTextField--2xGO9:focus > label { color: rgb(33, 114, 186); }

.app-components-LoginButton-signInModal__homepageTextField--2xGO9 .atm-c-field-note.atm-c-textfield__note { position: absolute; margin: 0px; bottom: -24px; }

.app-components-LoginButton-signInModal__homepageTextField--2xGO9 .atm-c-field-note.atm-c-textfield__note svg { display: none; }

.app-components-LoginButton-signInModal__optiSignUpMsg--VDxiL { font-size: 16px; font-weight: 600; color: rgb(0, 0, 0); margin: 0px; }

.app-components-LoginButton-signInModal__OptiTooltiptext--3YVnS { text-align: center; }

.app-components-LoginButton-signInModal__OptiTooltiptext--3YVnS::after { content: ""; position: absolute; top: -24px; left: 75%; margin-left: -5px; border-width: 16px; border-style: solid; border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255); }

.app-components-LoginButton-signInModal__optiSignInButtonTT--KtRaH { margin-top: 16px; margin-left: 4px; width: 288px; height: auto; }

.app-components-LoginButton-signInModal__optiContinueAsGuestButtonTT--VfkNk { margin-top: 15px; margin-bottom: 5px; }

.app-components-LoginButton-signInModal__signInModal--1Gism { position: absolute !important; }

@media screen and (max-width: 944px) {
  .app-components-LoginButton-signInModal__signInModal--1Gism { right: calc(50vw - 245px); }
}

@media screen and (min-width: 944px) and (max-width: 1046px) {
  .app-components-LoginButton-signInModal__signInModal--1Gism { right: calc(50vw - 335px); }
}

@media screen and (min-width: 1046px) and (max-width: 1184px) {
  .app-components-LoginButton-signInModal__signInModal--1Gism { right: calc(50vw - 405px); }
}

@media screen and (min-width: 1184px) {
  .app-components-LoginButton-signInModal__signInModal--1Gism { right: calc(50vw - 450px); }
}

.app-components-LoginButton-signInModal__collapsedSignInModal--1vWDL { padding: 30px 30px 16px; }

.app-components-LoginButton-signInModal__collapsedSignInModal--1vWDL > button { width: 16px; }

.app-components-LoginButton-signInModal__optiOverlayClass--2G2PG { background-color: rgba(0, 0, 0, 0.4); position: absolute; inset: 0px; display: flex; align-items: center; justify-content: center; z-index: 10; }

.app-components-LoginButton-signInModal__expandedSignInModal--3dZyS { padding: 0px; border: none; }

.app-components-LoginButton-signInModal__expandedSignInModal--3dZyS > button { filter: grayscale(1) invert(1); width: 16px; height: 16px; }

.app-components-LoginButton-signInModal__expandedSignInModal--3dZyS section { border-radius: 5px; }

.app-components-LoginButton-signInModal__expandedSignInModal--3dZyS::after { content: ""; position: absolute; top: -24px; left: 77%; margin-left: -5px; border-width: 16px; border-style: solid; border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(0, 34, 68); }

@media screen and (min-width: 1184px) and (max-width: 1480px) {
  .app-components-LoginButton-signInModal__expandedSignInModal--3dZyS { right: calc(50vw - 430px); }
}

@media screen and (min-width: 3800px) {
  .app-components-LoginButton-signInModal__expandedSignInModal--3dZyS { right: calc(50vw - 445px); }
}

.app-components-LoginButton-signInModal__optiIsTISignInModalFixed--33f3C { position: relative; overflow: unset !important; }
