@charset "utf-8";

.app-components-ContinuousImprovement-FormControl-InputTextDate-styles__calendarWrapper--37jey label { text-transform: inherit; position: absolute; }

.app-components-ContinuousImprovement-FormControl-InputTextDate-styles__calendarWrapper--37jey input { border-bottom: 1px solid !important; }

.app-components-ContinuousImprovement-FormControl-InputTextDate-styles__calendarWrapper--37jey.app-components-ContinuousImprovement-FormControl-InputTextDate-styles__error--Bba7V input { border-bottom: 1px solid rgb(213, 0, 50) !important; }

.app-components-ContinuousImprovement-FormControl-InputTextDate-styles__calendarWrapper--37jey.app-components-ContinuousImprovement-FormControl-InputTextDate-styles__error--Bba7V input::placeholder { color: rgb(213, 0, 50); }

.app-components-ContinuousImprovement-FormControl-InputTextDate-styles__calendarWrapper--37jey .SingleDatePicker_picker.SingleDatePicker_picker__directionLeft { width: 100%; top: 66px !important; left: 0px !important; }

@media screen and (min-width: 720px) {
  .app-components-ContinuousImprovement-FormControl-InputTextDate-styles__calendarWrapper--37jey .SingleDatePicker_picker.SingleDatePicker_picker__directionLeft { width: auto; }
}

.app-components-ContinuousImprovement-FormControl-InputTextDate-styles__calendarWrapper--37jey .SingleDatePicker_picker::after { content: none; }

.app-components-ContinuousImprovement-FormControl-InputTextDate-styles__calendarWrapper--37jey .SingleDatePickerInput { height: 46px; }

.app-components-ContinuousImprovement-FormControl-InputTextDate-styles__calendarWrapper--37jey .SingleDatePickerInput .DateInput > svg { display: none; }

.app-components-ContinuousImprovement-FormControl-InputTextDate-styles__calendarWrapper--37jey .SingleDatePickerInput .DateInput .DateInput_input { font-size: 16px; }
