@charset "utf-8";

.app-components-AlertMessage-styles__box---gI4B { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); }

.app-components-AlertMessage-styles__header--Tk8Cc { display: flex; }

.app-components-AlertMessage-styles__iconContainer--1lEn2 { min-width: 25px; margin-right: 0.5em; }

.app-components-AlertMessage-styles__title--BIG4h { flex: 1 1 0%; line-height: 30px; position: relative; }

.app-components-AlertMessage-styles__closeButton--21iV4 { position: absolute; right: 16px; top: 8px; }

.app-components-AlertMessage-styles__closeButton--21iV4 img { width: 16px; height: 16px; }

.app-components-AlertMessage-styles__wrapper--3LkJO { flex: 1 1 0%; }

.app-components-AlertMessage-styles__wrapper--3LkJO.app-components-AlertMessage-styles__success--LKbBl { margin-top: 16px; width: 100%; }

.app-components-AlertMessage-styles__wrapper--3LkJO.app-components-AlertMessage-styles__success--LKbBl .app-components-AlertMessage-styles__header--Tk8Cc { display: flex; justify-content: center; }

@media screen and (min-width: 720px) {
  .app-components-AlertMessage-styles__wrapper--3LkJO.app-components-AlertMessage-styles__success--LKbBl .app-components-AlertMessage-styles__header--Tk8Cc { justify-content: normal; }
}

.app-components-AlertMessage-styles__wrapper--3LkJO.app-components-AlertMessage-styles__success--LKbBl .app-components-AlertMessage-styles__title--BIG4h { flex: 0 0 auto; color: rgb(68, 136, 62); }

.app-components-AlertMessage-styles__wrapper--3LkJO.app-components-AlertMessage-styles__success--LKbBl .app-components-AlertMessage-styles__icon--1ICAx { width: 1.6em; }

.app-components-AlertMessage-styles__wrapper--3LkJO.app-components-AlertMessage-styles__fade--2TfXu { animation: 0.5s ease 4s 1 normal forwards running app-components-AlertMessage-styles__cssAnimation--1wzDN; opacity: 1; visibility: visible; }

@keyframes app-components-AlertMessage-styles__cssAnimation--1wzDN { 
  100% { opacity: 0; }
  99% { visibility: visible; }
  100% { visibility: hidden; }
}

.app-components-AlertMessage-styles__childContainer--tVRv5 { margin-top: 1em; }

.app-components-AlertMessage-styles__icon--1ICAx { display: inline-block; max-width: none; }

@media screen and (min-width: 720px) {
  .app-components-AlertMessage-styles__wrapper--3LkJO.app-components-AlertMessage-styles__success--LKbBl { width: 160px; display: inline-block; margin-left: 24px; margin-top: 8px; text-align: left; }
}
