@charset "utf-8";

.atm-c-legend { display: inline-block; padding: 0px; border: none; font-size: 1rem; font-weight: 400; line-height: 1.5; margin-bottom: 0.25rem; }

.atm-c-legend__flag { font-size: 0.875rem; font-weight: 400; color: rgb(102, 102, 102); }

.atm-c-legend__after { display: inline-block; position: relative; top: 3px; margin-left: 0.5rem; }

@media (-ms-high-contrast: none) {
  .atm-c-legend__after { top: -6px; }
}
