@charset "utf-8";

.atm-c-textfield { position: relative; }

.atm-c-textfield__body { position: relative; margin-bottom: 0.25rem; }

.atm-is-disabled .atm-c-textfield__label { color: rgb(148, 148, 148); }

.atm-c-textfield__label-after { display: inherit; margin-left: 0.5rem; }

.atm-is-error .atm-c-textfield__input { border-color: rgb(213, 0, 50); }

.atm-is-disabled .atm-c-textfield__input { border-color: gray; background: rgb(242, 242, 242); color: rgb(148, 148, 148); cursor: not-allowed; }

.atm-is-error .atm-c-textfield__note { display: inline-flex; }

.atm-c-textfield__btn { position: absolute; top: 11px; right: 1rem; }

.atm-c-textfield__icon { position: absolute; top: 0.75rem; right: 1rem; }

.atm-is-error .atm-c-textfield__note-icon { margin-right: 0.5rem; fill: rgb(213, 0, 50); flex-shrink: 0; }

@-webkit-keyframes float-label { 
  0% { opacity: 0; transform: scale(0.65); }
  100% { opacity: 1; transform: translate(0px, -1rem) scale(0.65); }
}

@keyframes float-label { 
  0% { opacity: 0; transform: scale(0.65); }
  100% { opacity: 1; transform: translate(0px, -1rem) scale(0.65); }
}
