@charset "utf-8";

.app-components-Well-styles__wrapper--3Nhxk { background: rgb(247, 247, 247); padding: 18px 26px; border-radius: 4px; }

.app-components-Well-styles__wrapper--3Nhxk.app-components-Well-styles__hasBorder--2VCX5 { border: 1px solid rgb(102, 102, 102); }
