@charset "utf-8";

.atm-c-tooltip { display: inline-block; position: relative; overflow: visible; }

.atm-c-tooltip__trigger { display: inline-block; cursor: pointer; }

.atm-c-tooltip__trigger:focus { outline: rgb(98, 68, 187) solid 4px; }

.atm-c-tooltip__content { display: flex; -webkit-box-pack: center; justify-content: center; z-index: 1; position: absolute; bottom: 130%; left: 50%; margin-left: -96px; width: 12rem; padding: 0.5rem; background: rgb(0, 34, 68); box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px; color: rgb(255, 255, 255); border-radius: 4px; }

.atm-c-tooltip__content:focus { outline: rgb(98, 68, 187) solid 4px; }

.atm-c-tooltip--right .atm-c-tooltip__content { bottom: auto; top: -50%; left: 147%; margin-left: 0px; }

.atm-c-tooltip--below .atm-c-tooltip__content { bottom: inherit; }

.atm-c-tooltip--left .atm-c-tooltip__content { inset: -50% calc(130% + 5px) auto auto; }

.atm-c-tooltip__icon { fill: rgb(0, 34, 68); }
