@charset "utf-8";

.app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__upload--1ycsm label { display: initial; text-transform: inherit; font-weight: 400; }

.app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__upload--1ycsm .app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__previewDetails--aVwbI { margin: 10px 0px; }

.app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__upload--1ycsm .app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__previewDetails--aVwbI .app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__name--3B9Qi { font-weight: 600; word-break: break-word; }

.app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__upload--1ycsm .app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__alertWrapper--24PKv { margin: 20px 0px; }

.app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__upload--1ycsm .app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__alertWrapper--24PKv .app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__alertBox--1Mc6j { display: inline-flex; align-items: baseline; }

.app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__upload--1ycsm .app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__alertWrapper--24PKv .app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__formValidationError--qA0-i { color: rgb(213, 0, 50); }

.app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__upload--1ycsm .app-components-Refunds-tabs-RequestARefund-sections-Details-UploadFile-styles__button--k3jb9 { border: 2px solid rgb(98, 68, 187); color: rgb(98, 68, 187); background: rgb(255, 255, 255); }
