@charset "utf-8";

.app-components-Refunds-tabs-RefundsPolicies-PoliciesAccordion-styles__sectionHeading--1fsdd { font-size: 32px; font-weight: 600; line-height: 40px; }

.app-components-Refunds-tabs-RefundsPolicies-PoliciesAccordion-styles__sectionAccordion--1gqmv div > :first-child button { padding-left: 0px; }

.app-components-Refunds-tabs-RefundsPolicies-PoliciesAccordion-styles__sectionAccordion--1gqmv div > :not(:first-child) { margin-left: 0px; }

.app-components-Refunds-tabs-RefundsPolicies-PoliciesAccordion-styles__sectionAccordion--1gqmv h4 { font-size: 24px; font-weight: normal; margin-bottom: 10px; }
