@charset "utf-8";

.app-components-Refunds-tabs-RequestARefund-sections-SelectItems-AdditionalReceipts-styles__addItemsContainer--HVaf8 { margin-top: 36px; }

.app-components-Refunds-tabs-RequestARefund-sections-SelectItems-AdditionalReceipts-styles__errorIcon--1eU0T { margin-right: 0.5rem; padding-bottom: 2px; fill: rgb(213, 0, 50); display: inline; }

.app-components-Refunds-tabs-RequestARefund-sections-SelectItems-AdditionalReceipts-styles__disclaimerStyle--3PiNS { font-weight: 600; }

.app-components-Refunds-tabs-RequestARefund-sections-SelectItems-AdditionalReceipts-styles__refundsAlertLink--3dAIx { font-size: 16px; color: rgb(0, 96, 128); text-decoration: underline !important; }
