@charset "utf-8";

.app-components-Refunds-components-AncillaryItems-styles__listWrapper--1tyU_ { list-style-type: none; padding: 0px; max-width: 800px; margin: 24px 0px 0px 24px; }

.app-components-Refunds-components-AncillaryItems-styles__addReceiptButton--6-9Oc { text-decoration: none; }

.app-components-Refunds-components-AncillaryItems-styles__addReceiptButton--6-9Oc svg { color: rgb(0, 34, 68); }

.app-components-Refunds-components-AncillaryItems-styles__checkboxFieldItem--BOU7V label { font-size: 14px; color: rgb(102, 102, 102) !important; }
