@charset "utf-8";

#app-layout-alt { }

#app-layout-alt .banner { margin: 0px 0px 10px; }

#app-layout-alt .intro h2 { font-size: 19px; font-weight: bold; padding-bottom: 3px; border-bottom: 1px solid rgb(204, 204, 204); margin-bottom: 8px; clear: both; line-height: 1; }

#app-layout-alt .intro { font-size: 15px; font-weight: normal; color: rgb(51, 51, 51); line-height: 1.2; margin-bottom: 15px; }

#app-layout-alt .intro p { width: 75%; }

#app-layout-alt fieldset { position: relative; padding: 0px; }

#app-layout-alt fieldset .edit, #app-layout-alt fieldset .summary { width: 365px; margin: 0px 0px 0px 175px; padding: 10px 0px 15px; }

#app-layout-alt fieldset .summary { height: 50px; }

#app-layout-alt fieldset h2 { position: absolute; top: 9px; left: 10px; width: 150px; border-bottom: none; }

#app-layout-alt fieldset h3 { font-weight: normal; margin: 0px; }

#app-layout-alt fieldset h3.on { font-weight: bold; }

#app-layout-alt fieldset .controls { position: absolute; top: 10px; left: 540px; width: 160px; text-align: right; }

#app-layout-alt fieldset .controls a { font-size: 12px; color: rgb(0, 0, 0); font-weight: bold; padding: 0px 0px 0px 15px; margin: 0px; background-position: left center; background-repeat: no-repeat; }

#app-layout-alt fieldset .buttons { text-align: left; float: none; margin: 15px 0px 0px; padding: 0px; }

#app-layout-alt .toggle-content { display: none; padding: 0px 0px 15px 20px; }

#app-layout-alt .toggle-content p { font-size: 12px; }

#app-layout-alt .open { display: block; }
