@charset "utf-8";

.date_selector, .date_selector * { width: auto; height: auto; border: none; background: none; margin: 0px; padding: 0px; text-align: left; text-decoration: none; }

.date_selector { background: rgb(242, 242, 242); border: 1px solid rgb(187, 187, 187); padding: 0px; margin: -1px 0px 0px; position: absolute; z-index: 100000; display: none; }

.date_selector_ieframe { position: absolute; z-index: 99999; display: none; }

.date_selector .month_nav { margin: 0px; padding-bottom: 5px; display: block; }

.date_selector .month_name { padding-top: 5px; font-weight: bold; line-height: 20px; display: block; text-align: center; }

.month_nav { background: rgb(255, 255, 255); font-weight: bold; }

.date_selector .month_nav a { display: block; position: absolute; top: 5px; font-weight: bold; color: rgb(0, 0, 0); text-align: center; overflow: hidden; }

.date_selector .month_nav a:hover, .date_selector .month_nav a:focus { background: none; color: rgb(0, 0, 0); text-decoration: none; }

.date_selector .prev { left: 5px; }

.date_selector .next { right: 5px; }

.date_selector table { border-spacing: 0px; border-collapse: collapse; }

.date_selector th, .date_selector td { text-align: center; }

.date_selector th { font-size: 1em; font-weight: bold; width: 20px; height: 20px; background: rgb(255, 255, 255); }

.date_selector td { line-height: 2em; text-align: center; white-space: nowrap; background: rgb(230, 230, 230); }

.date_selector td.today { background: rgb(255, 254, 217); }

.date_selector td.unselected_month { color: rgb(204, 204, 204); }

.date_selector td a { display: block; color: rgb(0, 0, 0); text-align: center; text-decoration: none !important; }

.date_selector a { color: rgb(0, 0, 0); }

.date_selector td.today a { color: rgb(255, 255, 255); background-color: rgb(153, 153, 153); }

.date_selector td.selected a { background: rgb(216, 223, 229); font-weight: bold; }

.date_selector td a:hover { background-color: rgb(102, 0, 153); color: rgb(255, 255, 255); }
