@charset "utf-8";

#two-dot-o sup { font-weight: normal; position: relative; top: 0px; vertical-align: text-top; font-size: 9px; }

.cleaner { clear: both; height: 1px; font-size: 1px; border: none; margin: 0px; padding: 0px; background: transparent; }

#two-dot-o .calloutImagery { float: right; margin-left: 15px; margin-bottom: 5px; }

#two-dot-o .disclaimer { font-size: 0.8em; }

#two-dot-o .dualCols { float: left; width: 270px; }

#two-dot-o .dualCols strong { font-size: 12px; }

#two-dot-o .learnMore { font-size: 11px; background: url("../images/arrow_right_clean_purple.gif") right center no-repeat; padding-right: 9px; font-weight: bold; }

#two-dot-o .introCopy .learnMore { font-size: 15px; }

#two-dot-o .marginNone { margin: 0px !important; }

#two-dot-o .margin15px { margin-right: 15px; }

#two-dot-o .margin27px { margin-bottom: 27px; }

#two-dot-o .newCallout { color: rgb(255, 255, 255); background-color: rgb(0, 153, 204); font-size: 10px; padding: 0px 1px; margin-left: 5px; display: inline; }

#two-dot-o .noBGImage { background-image: none !important; }

#two-dot-o .noShow { display: none; }

#two-dot-o .sag { margin-bottom: 15px; }

#two-dot-o .tag { color: rgb(255, 255, 255); padding: 9px 8px; font-size: 14px; letter-spacing: 0px; line-height: 1em; margin-bottom: 15px; }

#two-dot-o .tag a { color: rgb(255, 255, 255); text-decoration: none; display: block; font-size: 10px; margin-top: 8px; line-height: 1; }

#two-dot-o .tagBlue { background: rgb(0, 153, 204); }

#two-dot-o .tagGray { background: rgb(117, 117, 117); }

#two-dot-o .tagPurple { background: rgb(102, 0, 153); }

#two-dot-o .triCols { float: left; width: 175px; }

#two-dot-o #breadCrumbs { color: rgb(102, 102, 102); margin-bottom: 4px; }

#two-dot-o #breadCrumbs a { text-decoration: none; color: rgb(102, 102, 102) !important; }

#two-dot-o #breadCrumbs a:hover { text-decoration: underline; }

#two-dot-o #copy { width: 745px; }

#two-dot-o #leftColumn { float: left; width: 175px; margin-right: 15px; font-size: 11px; overflow: hidden; }

#two-dot-o #leftColumn #subMenu { border-top: 1px solid rgb(204, 204, 204); margin-bottom: 30px; }

#two-dot-o #leftColumn #subMenu li { width: 160px; border-bottom: 1px solid rgb(204, 204, 204); padding-left: 15px; background: url("../images/icon_submenu.gif") 0px 5px no-repeat transparent; }

#two-dot-o #leftColumn #subMenu li.on { background: url("../images/icon_submenu_on.gif") 0px 5px no-repeat transparent; }

#two-dot-o #leftColumn #subMenu li a { color: rgb(15, 15, 15); text-decoration: none; width: 152px; padding: 4px 7px 4px 0px; display: block; }

#two-dot-o #leftColumn #subMenu li ul li { border-bottom-style: none; padding-left: 0px; background-image: url("none"); }

#two-dot-o #leftColumn #subMenu li ul li a { width: 147px; padding: 4px 0px 4px 13px; float: none; }

#two-dot-o #leftColumn #subMenu li ul li a:hover { background-image: none !important; }

#two-dot-o #leftColumn #subMenu li.menuActive ul { display: block; }

#two-dot-o #leftColumn #subMenu li a:hover { color: rgb(102, 0, 153); }

#two-dot-o #leftColumn #subMenu li a.sectionActive { font-weight: bold; color: rgb(102, 0, 153); }

#two-dot-o.sitelet #pageBanner.confirm { height: 130px; width: 743px; background-color: rgb(238, 238, 238); }

#two-dot-o #pageBanner { margin-bottom: 15px; background: rgb(102, 102, 102); height: 165px; width: 745px; }

#two-dot-o #pageBanner img { float: right; }

#two-dot-o #pageBanner.lgBanner { height: 200px; clear: both; }

#two-dot-o #pageBanner #bannerContent { padding: 12px 10px; width: 170px; height: 141px; float: left; color: rgb(255, 255, 255); font-size: 15px; overflow: hidden; }

#two-dot-o #pageBanner #bannerContent h1 { font-size: 28px; font-weight: bold; margin-bottom: 3px; letter-spacing: -1px; line-height: 1; color: rgb(255, 255, 255); }

#two-dot-o #rightColumn { float: left; width: 555px; font-size: 11px; overflow: hidden; }

#two-dot-o #rightColumn a { color: rgb(102, 0, 153); text-decoration: none; }

#two-dot-o #rightColumn a:hover { text-decoration: underline; }

#two-dot-o #rightColumn h1, #two-dot-o #rightColumn h2 { font-size: 19px; font-weight: bold; padding-bottom: 3px; border-bottom: 1px solid rgb(204, 204, 204); margin-bottom: 8px; clear: both; line-height: 1; }

#two-dot-o #rightColumn h3 { font-size: 12px; font-weight: bold; color: rgb(0, 0, 0); padding-bottom: 2px; }

#two-dot-o #rightColumn ol { margin-bottom: 12px; }

#two-dot-o #rightColumn ol li { list-style: decimal; margin-left: 20px; }

* html #two-dot-o #rightColumn ol li { margin-left: 23px; }

#two-dot-o #rightColumn p { margin-bottom: 12px; }

#two-dot-o #rightColumn ul { margin-bottom: 12px; list-style: disc; }

#two-dot-o #rightColumn ul li { margin-left: 16px; }

#two-dot-o #rightColumn.fullWidth { width: 745px; }

#two-dot-o #rightColumn .contentTabsCopy { display: none; }

#two-dot-o #rightColumn .introCopy { font-size: 15px; font-weight: normal; color: rgb(51, 51, 51); line-height: 1.2; margin-bottom: 27px; }

#two-dot-o #rightColumn.fullWidth .introCopy { width: 75%; }

#two-dot-o #rightColumn .portalContent { margin-bottom: 30px; }

#two-dot-o #rightColumn .portalContentImage img { float: right; }

#two-dot-o.sitelet { text-decoration: none; border-top: none; border-right: 1px solid rgb(102, 102, 102); border-bottom: 1px solid rgb(102, 102, 102); border-left: 1px solid rgb(102, 102, 102); width: 743px; }

#two-dot-o.sitelet #copy { width: 743px; }

#two-dot-o.sitelet .dualCols { width: 275px; }

#two-dot-o.sitelet #leftColumn { width: 167px; margin-left: 15px; display: inline; }

#two-dot-o.sitelet #leftColumn #subMenu li { width: 167px; }

#two-dot-o.sitelet #leftColumn #subMenu li a { width: 144px; }

#two-dot-o.sitelet #leftColumn #subMenu li ul li a { width: 139px; }

#two-dot-o.sitelet #rightColumn { width: 531px; }

#two-dot-o.sitelet #rightColumn.fullWidth { width: 713px; margin-left: 15px; float: none; }

#two-dot-o.sitelet #rightColumn.fullWidth .dualCols { width: 348px; }

#two-dot-o.sitelet #rightColumn .triCols { width: 167px; }

#two-dot-o.sitelet #rightColumn.fullWidth .triCols { width: 222px; }

#two-dot-o #rightColumn.fullWidth .triCols { width: 235px; }

#two-dot-o fieldset { margin: 0px 0px 27px; }

#two-dot-o fieldset h2 { font-size: 15px !important; border-bottom: 2px solid rgb(102, 0, 153) !important; margin: 0px !important; padding: 7px 7px 5px !important; }

.myfedex { background-color: rgb(255, 255, 255); margin: 0px 0px 15px; border: none !important; }

.myfedex h2 { background-color: rgb(102, 102, 102); color: rgb(255, 255, 255); width: 130px; padding: 5px 7px; display: block; height: 13px; font-size: 11px !important; margin: 0px !important; border: none !important; }

.myfedex .edit { border-right: 1px solid rgb(170, 179, 179); border-bottom: 1px solid rgb(170, 179, 179); border-left: 1px solid rgb(170, 179, 179); border-image: initial; border-top: none; background-color: rgb(245, 245, 245); padding: 7px; }

.myfedex .tools { border-left: 1px solid rgb(170, 179, 179); border-right: 1px solid rgb(170, 179, 179); border-top: 3px solid rgb(102, 102, 102); background-color: rgb(226, 226, 226); padding: 5px 7px; height: 15px; }

.myfedex a.help { float: right; margin: 3px 0px 0px; text-transform: capitalize; font-size: 12px; font-weight: bold; padding: 0px 0px 0px 15px; background-position: left center; background-repeat: no-repeat; background-image: url("../images/icon_help_small.gif"); color: rgb(0, 0, 0) !important; }

.myfedex .buttons { margin: 0px; padding: 10px 0px 5px; }

#two-dot-o .steps { margin: 0px !important; padding: 0px !important; }

#two-dot-o .steps li { margin: 0px 15px 0px 0px !important; padding: 0px !important; }

.you-have-it { background: url("../images/icon_check.gif") -10px 0px no-repeat; padding-left: 13px; }
