@charset "utf-8";

div, p, .content { margin: 0px; padding: 0px; color: rgb(32, 32, 32); }

p { margin-bottom: 10px; padding: 0px; }

table { margin: 0px; padding: 0px; }

th { vertical-align: top; font-size: 15px; text-align: left; }

td { vertical-align: top; font-size: 11px; }

ul { margin-top: 0px; margin-bottom: 0px; }

.appwrap { border-width: 13px 1px 1px; border-style: solid; border-color: rgb(102, 102, 102); border-image: initial; width: 745px; }

.appname { margin-bottom: 5px; }

p.denotereqfield { background: url("../images/icon_required.gif") 0px 2px no-repeat transparent; padding-left: 10px; margin: 0px 0px 5px; font-size: 11px; }

.alertwrap { font-size: 11pt; color: rgb(102, 0, 153); font-weight: bold; padding-left: 10px; }

.alertwrap2 { font-size: 14pt; color: rgb(102, 0, 153); font-weight: 500; padding-left: 10px; }

table.formmodule { width: 100%; }

.formmodule { background-color: rgb(245, 245, 245); border: 1px solid rgb(139, 80, 168); }

.formmodule th { text-align: left; border-bottom: 2px solid rgb(102, 0, 153); padding: 4px 7px; color: rgb(102, 0, 153); font-weight: bold; }

.formmodule td { vertical-align: top; padding: 4px 7px 0px; }

.formmodule td.prompt { padding: 8px 3px 2px 16px; width: 100px; }

.formmodule td.required { background: url("../images/icon_required.gif") 6px 10px no-repeat transparent; }

.optional { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); }

.optional th { border-bottom: 2px solid rgb(204, 204, 204); color: rgb(0, 0, 0); font-weight: normal; }

.alternate th { border-bottom: none; width: 161px; }

.formmodulesectionhead, h3.sectionhead { border-bottom: 1px solid rgb(0, 0, 0); margin: 0px 0px 5px; color: rgb(0, 0, 0); font-size: 13px; }

.formmodulesubhead, h3.subhead { margin: 0px; color: rgb(0, 0, 0); font-size: 13px; }

.formmodule .summary { font-weight: bold; }

.optional .summary { font-weight: normal; }

a.edit { padding: 0px 0px 0px 15px; background-position: left center; background-repeat: no-repeat; background-image: url("../images/icon_a_edit.gif"); color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; }

a.hide { padding: 0px 0px 0px 15px; background-position: left center; background-repeat: no-repeat; background-image: url("../images/icon_a_hide.gif"); color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; }

a.helpsmall { padding: 0px 0px 0px 15px; background-position: left center; background-repeat: no-repeat; background-image: url("../images/icon_a_help_small.gif"); font-size: 12px; font-weight: bold; color: rgb(0, 0, 0) !important; }

a:link, a:active { color: rgb(102, 0, 153); }

a:visited { color: rgb(153, 51, 153); }

a:link.newsalert, a:active.newsalert, a:visited.newsalert { font-size: 11px; color: rgb(255, 0, 0); }

a:link.white, a:active.white, a:visited.white { color: rgb(255, 255, 255); }

a.edit:visited, a.hide:visited, a.helpsmall:visited { color: rgb(0, 0, 0); }

.buttonpurple { border: 1px solid rgb(204, 204, 204); margin: 0px; padding: 0px; height: 20px; background: url("../images/bg_button_purple.gif") repeat-x rgb(102, 0, 153); color: rgb(255, 255, 255); font-weight: bold; font-size: 11px; }

.buttongray { border: 1px solid rgb(204, 204, 204); margin: 0px; padding: 0px; height: 20px; background: url("../images/bg_button_gray.gif") repeat-x rgb(102, 102, 102); color: rgb(255, 255, 255); font-weight: bold; font-size: 11px; }

input, select, textarea { font: 11px Arial, Helvetica, Verdana, sans-serif; }

.textfull { width: 214px; }

.texthalf { width: 106px; }

.text1quarter { width: 50px; }

.text3quarters { width: 173px; }

.text1third { width: 73px; }

.text2thirds { width: 153px; }

.selectfull { width: 220px; }

.selecthalf { width: 110px; }

.select1quarter { width: 57px; }

.select3quarters { width: 177px; }

.select1third { width: 77px; }

.select2thirds { width: 157px; }

.textareafull { width: 223px; }

.textareahalf { width: 113px; }

.textarea1quarter { width: 53px; }

.textarea3quarters { width: 173px; }

.textarea1third { width: 73px; }

.textarea2thirds { width: 153px; }

.error { color: rgb(255, 0, 0); font-weight: bold; }

.resultstable, .resultstablegray { border-top: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(204, 204, 204); }

.resultstable td, tr.resultswhite td, tr.resultswhitesmall td { padding: 2px; border-right: 1px solid rgb(204, 204, 204); background-color: rgb(242, 242, 242); }

tr.resultsgray td, tr.resultsgraysmall td, .resultstable tr.alt td { padding: 2px; border-right: 1px solid rgb(204, 204, 204); background-color: rgb(230, 230, 230); }

.resultstable .required, .resultstablegray .required { background: url("../images/icon_required.gif") 2px 5px no-repeat rgb(255, 255, 255); padding-left: 12px; }

.resultstable th, .resultstablegray th, td.resultstableheader, .resultsheader { vertical-align: top; text-align: left; padding: 4px 2px; border-right: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); color: rgb(32, 32, 32); font-weight: bold; font-size: 11px; }

.resultstable th a, .resultstablegray th a { color: rgb(32, 32, 32); }

td.center { text-align: center; }

.steps { list-style: none; margin: 5px 0px 0px; padding: 0px; }

.steps li { display: block; float: left; margin: 0px 15px 0px 0px; padding-top: 0px; height: 17px; line-height: 17px; font-size: 11px; }

.steps li.alt { display: none; }

.steps li a { color: rgb(102, 102, 102); text-decoration: none; }

.steps li span { padding: 0px 6px 0px 5px; font-size: 11px; }

.steps li.on { background: url("../images/icon_step_on.gif") left center no-repeat transparent; color: rgb(102, 0, 153); font-weight: bold; }

.steps li.on span { color: rgb(255, 255, 255); }

.steps li.off { background: url("../images/icon_step_off.gif") left center no-repeat transparent; color: rgb(102, 102, 102); }

.on:focus { outline: rgb(102, 0, 153) dashed 1px; }
