@charset "utf-8";

#home { width: 760px; height: 400px; background: url("../images/homepage_us.jpg") 190px 0px no-repeat rgb(255, 255, 255); }

#home h2 { font-size: 17px; font-weight: normal; color: rgb(102, 0, 153); margin-top: 0px; margin-bottom: 5px; padding: 0px; border-bottom: 2px solid rgb(102, 0, 153); }

#home label { font-weight: bold; }

#home input { margin: 3px 0px 5px; }

#home .col-left { width: 175px; }

.boldlink { font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: rgb(102, 0, 153); text-decoration: none; }

span.boldlink a { font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: rgb(102, 0, 153); text-decoration: none; }

#exploreController br { line-height: 5px; }

#exploreController a { text-decoration: none; color: rgb(102, 0, 153); }

#exploreController a:hover { text-decoration: underline; }

#exploreController p { margin: 0px; }

#exploreController ul { padding: 0px; margin: 0px; list-style-type: none; clear: both; }

#exploreController ul li ul { padding: 0px; margin: 0px; }

#exploreController ul li a, #exploreController ul li a:visited, #exploreController ul li a:hover { font-weight: bold; text-decoration: none; }

.ddcontainer { float: left; border: 1px solid rgb(204, 204, 204); width: 185px; margin-bottom: 10px; }

#exploreController .menu2 ul li a, #exploreController .menu2 ul li a:visited { display: block; float: left; text-decoration: none; color: rgb(102, 0, 153); }

#exploreController .menu2 ul li, .menu2 ul li { display: block; float: left; width: 100%; }

#exploreController .menu2 ul li a, #exploreController .menu2 ul li a:visited { width: 100%; min-width: 100%; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); text-decoration: none; border-bottom: 1px dotted rgb(229, 229, 229); padding: 3px 0px; }

#exploreController .menu2 ul li a:hover { display: block; position: relative; width: 100%; font-weight: bold; background-color: rgb(102, 0, 153); color: rgb(255, 255, 255); text-decoration: none; border-bottom: 1px dotted rgb(229, 229, 229); padding: 3px 0px; }
