@charset "utf-8";

.moduleSafariHide { position: absolute; top: -9999px; left: -9999px; }

.moduleSafariShow { position: inherit; }

.module { background: rgb(245, 245, 245); border: 1px solid rgb(139, 80, 168); float: left; font-family: arial; margin: 0px 0px 15px; width: 99.9%; }

.moduleOptional { background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); float: left; font-family: arial; margin: 0px 0px 15px; width: 99.9%; }

.modulePreference { background: rgb(242, 243, 255); border: 1px solid rgb(102, 102, 102); float: left; font-family: arial; margin: 0px 0px 15px; width: 99.9%; }

.moduleHeader { border-bottom: 2px solid rgb(102, 0, 153); cursor: pointer; float: left; font-weight: bold; width: 100%; }

.moduleOptionalHeader { border-bottom: 2px solid rgb(102, 102, 102); cursor: pointer; float: left; font-weight: normal; width: 100%; }

.moduleHeaderNonCollapsable { border-bottom: 2px solid rgb(102, 0, 153); float: left; font-weight: bold; width: 100%; }

.moduleOptionalHeaderNonCollapsable { border-bottom: 2px solid rgb(102, 102, 102); float: left; font-weight: normal; width: 100%; }

.moduleHeaderTitle { color: rgb(102, 0, 153); float: left; font-size: 15px; padding: 4px 7px; }

.moduleOptionalHeaderTitle { color: rgb(0, 0, 0); float: left; font-size: 15px; padding: 4px 7px; }

.moduleHeaderButtons { float: right; padding: 3px 7px 4px; }

.moduleHeaderHelp { background-image: url("/framework/image/module_help.gif"); background-repeat: no-repeat; color: rgb(0, 0, 0); cursor: pointer; float: left; font-size: 12px; font-weight: bold; margin: 2px 0px 0px 8px; padding-left: 15px; text-decoration: underline; }

.moduleHeaderHelp:focus { outline: rgb(102, 0, 153) dashed 1px; }

.moduleHeaderEdit { background-image: url("/framework/image/module_edit.gif"); background-repeat: no-repeat; color: rgb(0, 0, 0); cursor: pointer; display: none; float: left; font-size: 12px; font-weight: bold; margin: 2px 0px 0px 8px; padding-left: 15px; text-decoration: underline; }

.moduleHeaderHide { background-image: url("/framework/image/module_hide.gif"); background-repeat: no-repeat; color: rgb(0, 0, 0); cursor: pointer; display: block; float: left; font-size: 12px; font-weight: bold; margin: 2px 0px 0px 8px; padding-left: 15px; text-decoration: underline; }

.moduleExpanded { float: left; font-size: 11px; padding: 7px 0px 7px 3px; width: 98%; }

.moduleCollapsed { display: none; float: left; font-size: 11px; font-weight: bold; padding: 7px 0px 7px 3px; width: 98%; }

.moduleCollapsedOptional { display: none; float: left; font-size: 11px; font-weight: normal; padding: 7px 0px 7px 3px; width: 98%; }

.moduleExpandedDefaultCollapsedMode { float: left; font-size: 11px; padding: 7px 0px 7px 3px; width: 98%; }

.moduleCollapsedDefaultCollapsedMode { display: block; float: left; font-size: 11px; font-weight: bold; padding: 7px 0px 7px 3px; width: 98%; }

.moduleCollapsedOptionalDefaultCollapsedMode { display: block; float: left; font-size: 11px; font-weight: normal; padding: 7px 0px 7px 3px; width: 98%; }

.tableStyle { border-bottom: 1px solid rgb(0, 0, 0); border-top: 1px solid rgb(0, 0, 0); float: left; }

.tableContentsHeader { background: rgb(255, 255, 255); float: left; }

.tableContentsHeaderNotVisible { background: rgb(255, 255, 255); float: left; height: 0px; }

.tableContents { background: rgb(230, 230, 230); float: left; font-family: Arial, sans-serif; font-size: 11px; height: 100%; width: 100%; }

.tableContentsRows { float: left; height: 100%; overflow: auto; width: 100%; }

.tableRowOdd { background: rgb(230, 230, 230); float: left; }

.tableRowEven { background: rgb(242, 242, 242); float: left; }

.tableRuler { font-family: Arial, sans-serif; font-size: 11px; position: absolute; visibility: hidden; }

.tableNotLastCell { border-left: 1px solid rgb(204, 204, 204); color: rgb(0, 0, 0); float: left; font-family: Arial, sans-serif; font-size: 11px; overflow: hidden; padding: 2px; }

.tableLastCell { border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); color: rgb(0, 0, 0); float: left; font-family: Arial, sans-serif; font-size: 11px; overflow: hidden; padding: 2px; }

.tableNotLastHeaderCell { background-position: right top; background-repeat: no-repeat; border-left: 1px solid rgb(204, 204, 204); color: rgb(0, 0, 0); float: left; font-family: Arial, sans-serif; font-size: 11px; font-weight: bold; overflow: hidden; padding: 2px; }

.tableLastHeaderCell { background-position: right top; background-repeat: no-repeat; border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); color: rgb(0, 0, 0); float: left; font-family: Arial, sans-serif; font-size: 11px; font-weight: bold; overflow: hidden; padding: 2px; }

.tableEmpty { background: rgb(255, 255, 255); float: left; font-family: Arial, sans-serif; font-size: 11px; height: 100%; width: 100%; }

.tableEmptyHalf { height: 50%; width: 100%; }

.floatingWindow { background: rgb(255, 255, 255); border: 2px solid rgb(204, 204, 204); color: rgb(102, 102, 102); display: none; left: 0px; position: absolute; top: 0px; width: 100px; z-index: 2; }

.floatingWindowRate { background: rgb(245, 245, 245); border: 2px solid rgb(102, 0, 153); display: none; height: 100px; left: 0px; position: absolute; top: 0px; width: 100px; z-index: 2; }

.floatingWindowHeader { border-bottom: 1px solid rgb(204, 204, 204); color: rgb(32, 32, 32); float: left; font-weight: bold; width: 99.9%; }

.floatingWindowHeaderRate { background: rgb(102, 0, 153); color: rgb(255, 255, 255); float: left; font-weight: bold; width: 100%; }

.floatingWindowHeaderTitle { color: rgb(32, 32, 32); float: left; padding: 5px; }

.floatingWindowHeaderTitleRate { float: left; padding: 2px; }

.floatingWindowHeaderClose { cursor: pointer; float: right; padding: 5px; }

.floatingWindowContent { float: left; padding: 5px; width: 95%; }

.floatingWindowChooseMove { background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); color: rgb(102, 102, 102); display: none; left: 0px; position: absolute; top: 0px; width: 100px; z-index: 2; }

.floatingWindowHeaderChooseMove { color: rgb(32, 32, 32); float: left; font-weight: bold; margin: 0px 0px 5px; }

.floatingWindowHeaderCloseChooseMove { cursor: pointer; float: right; }

.floatingWindowHeaderChooseMoveColumn { background: rgb(102, 0, 153); border: 1px solid rgb(102, 102, 102); color: rgb(255, 255, 255); float: left; font-size: 12px; padding-left: 5px; width: 49%; }

.floatingWindowHeaderTitleChooseMove { font-family: arial; font-size: 11px; float: left; margin-left: 5px; margin-right: 5px; padding: 5px 0px; }

.floatingWindowChooseMoveMiddleContent { font-family: arial; float: left; margin-left: 5px; margin-right: 5px; width: 100%; }

.floatingWindowChooseMoveContent { background: rgb(230, 230, 230); border: 1px solid rgb(102, 102, 102); float: left; font-size: 11px; color: rgb(32, 32, 32); margin-bottom: 10px; }

.floatingWindowChooseMoveDraggableItem { background-color: rgb(230, 230, 230); border: 1px solid rgb(242, 242, 242); height: 20px; cursor: move; display: inline; position: absolute; vertical-align: middle; padding: 2px 0px 0px 5px; }

.floatingWindowChooseMoveAvailable { background-color: rgb(230, 230, 230); border: 1px solid rgb(242, 242, 242); height: 22px; vertical-align: middle; }

.floatingWindowAlertIcon { background-image: url("/framework/image/icon_alert_trans.gif"); background-repeat: no-repeat; color: rgb(102, 0, 153); float: left; height: 165px; font-size: 12px; font-weight: bold; padding-left: 25px; }

.floatingWindowAlertMessage { color: rgb(102, 0, 153); font-weight: normal; font-size: 12px; }

.floatingWindowContentFull { clear: both; float: none; font-size: 12px; background: rgb(230, 230, 230); border: 1px solid rgb(204, 204, 204); margin: 0px 0px 10px; padding: 5px 0px 5px 5px; }

.floatingWindowButtonFull { float: right; margin: 15px 0px 5px 5px; }

.floatingWindowButtonGrey { background: repeat-x rgb(102, 102, 102); border: 1px solid rgb(204, 204, 204); color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; height: 20px; padding: 0px; cursor: pointer; }

.floatingWindowButtonGrey:focus { outline: rgb(102, 0, 153) dashed 1px; }

.floatingWindowButtonDefault { background: repeat-x rgb(102, 0, 153); border: 1px solid rgb(204, 204, 204); color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; height: 20px; padding: 0px; margin: 0px 1px 0px 5px; cursor: pointer; }

.floatingWindowButtonDefault:focus { outline: rgb(102, 0, 153) dashed 1px; }

.chooseColumnsLink:focus { outline: rgb(102, 0, 153) dashed 1px; }

.floatingWindowChooseMove:focus { outline: rgb(102, 0, 153) dashed 1px; }

.floatingWindowCheckbox:focus { outline: rgb(102, 0, 153) dashed 1px; }

.calendarText { background-color: rgb(255, 255, 255); border: 1px solid rgb(148, 150, 148); float: left; margin: 0px 0px 2px; width: 120px; padding: 0px 0px 0px 4px; }

.calendarIcon { background: url("/framework/image/calendar_icon.gif") 0% center no-repeat scroll transparent; color: rgb(102, 0, 153); cursor: pointer; float: left; height: 20px; margin: 0px 0px 0px 3px; width: 20px; }

.calendarWindow { background-color: rgb(255, 255, 255); display: none; font-family: Arial, sans-serif; height: auto; left: 0px; position: absolute; text-align: center; top: 0px; width: 194px; font-size: 11px !important; }

.calendarHeader { border-top: 1px solid rgb(187, 187, 187); border-left: 1px solid rgb(187, 187, 187); border-right: 1px solid rgb(187, 187, 187); float: left; height: 20px; width: 192px; }

.calendarTitle { float: left; font-weight: bold; width: 156px; }

.calendarTitleWithYearButtons { float: left; font-weight: bold; width: 110px; }

.calendarEnablePreviousMonthButton { background: url("/framework/image/icon_arrow_enable_previous.gif") 50% center no-repeat scroll transparent; cursor: pointer; float: left; height: 20px; width: 18px; }

.calendarEnablePreviousMonthButton:focus { outline: rgb(102, 0, 153) dashed 1px; }

.calendarDisablePreviousMonthButton { background: url("/framework/image/icon_arrow_disable_previous.gif") 50% center no-repeat scroll transparent; float: left; height: 20px; width: 18px; }

.calendarDisableNextMonthButton { background: url("/framework/image/icon_arrow_disable_next.gif") 50% center no-repeat scroll transparent; float: left; height: 20px; width: 18px; }

.calendarEnableNextMonthButton { background: url("/framework/image/icon_arrow_enable_next.gif") 50% center no-repeat scroll transparent; cursor: pointer; float: left; height: 20px; width: 18px; }

.calendarEnableNextMonthButton:focus { outline: rgb(102, 0, 153) dashed 1px; }

.calendarEnablePreviousYearButton { background: url("/framework/image/icon_arrow_enable_previousyear.gif") 50% center no-repeat scroll transparent; cursor: pointer; float: left; height: 20px; width: 18px; }

.calendarEnablePreviousYearButton:focus { outline: rgb(102, 0, 153) dashed 1px; }

.calendarDisablePreviousYearButton { background: url("/framework/image/icon_arrow_disable_previousyear.gif") 50% center no-repeat scroll transparent; float: left; height: 20px; width: 18px; }

.calendarDisableNextYearButton { background: url("/framework/image/icon_arrow_disable_nextyear.gif") 50% center no-repeat scroll transparent; float: left; height: 20px; width: 18px; }

.calendarEnableNextYearButton { background: url("/framework/image/icon_arrow_enable_nextyear.gif") 50% center no-repeat scroll transparent; cursor: pointer; float: left; height: 20px; width: 18px; }

.calendarEnableNextYearButton:focus { outline: rgb(102, 0, 153) dashed 1px; }

.calendarDaysOfTheWeek { border-left: 1px solid rgb(187, 187, 187); border-right: 1px solid rgb(187, 187, 187); float: left; font-weight: bold; width: 192px; }

.calendarBody { border-bottom: 1px solid rgb(187, 187, 187); border-left: 1px solid rgb(187, 187, 187); border-right: 1px solid rgb(187, 187, 187); float: left; width: 192px; }

.calendarWeek { background-color: rgb(230, 230, 230); float: left; }

.calendarWeekDay { border: 1px solid rgb(255, 255, 255); float: left; height: 20px; text-align: center; width: 25px; font-family: Arial, sans-serif !important; font-size: 11px !important; }

.enabledDateStyle { border: 1px solid rgb(230, 230, 230); cursor: pointer; float: left; height: 20px; padding: 2px 0px 0px; text-align: center; width: 25px; font-family: Arial, sans-serif !important; font-size: 11px !important; }

.enabledDateStyle:focus { background-color: rgb(102, 0, 153); border: 1px solid rgb(102, 0, 153); cursor: pointer; float: left; height: 20px; padding: 2px 0px 0px; text-align: center; width: 25px; color: rgb(255, 255, 255) !important; font-family: Arial, sans-serif !important; font-size: 11px !important; }

.disabledDateStyle { border: 1px solid rgb(230, 230, 230); float: left; height: 20px; padding: 2px 0px 0px; text-align: center; width: 25px; color: rgb(170, 170, 170) !important; font-family: Arial, sans-serif !important; font-size: 11px !important; }

.selectedDateStyle { background-color: rgb(153, 153, 153); border: 1px solid rgb(153, 153, 153); cursor: pointer; float: left; height: 20px; padding: 2px 0px 0px; text-align: center; width: 25px; color: rgb(255, 255, 255) !important; font-family: Arial, sans-serif !important; font-size: 11px !important; }

.selectedDateStyle:focus { background-color: rgb(102, 0, 153); border: 1px solid rgb(102, 0, 153); cursor: pointer; float: left; height: 20px; padding: 2px 0px 0px; text-align: center; width: 25px; color: rgb(255, 255, 255) !important; font-family: Arial, sans-serif !important; font-size: 11px !important; }

.mouseOverDateStyle { background-color: rgb(102, 0, 153); border: 1px solid rgb(102, 0, 153); cursor: pointer; float: left; height: 20px; padding: 2px 0px 0px; text-align: center; width: 25px; color: rgb(255, 255, 255) !important; font-family: Arial, sans-serif !important; font-size: 11px !important; }

.menuBar { cursor: pointer; list-style-type: none; list-style-image: none; margin: 0px; padding: 0px; text-decoration: none; }

.menuBarContainer { float: none; padding: 0px; width: 745px; }

.mainMenuBarItem { background-color: rgb(245, 245, 245); border-top: 1px solid rgb(102, 102, 102); border-right: 1px solid rgb(102, 102, 102); border-left: 1px solid rgb(102, 102, 102); border-image: initial; border-bottom: none; float: left; list-style-type: none; list-style-image: none; margin: 0px 2px 0px 0px; padding: 2px 2px 2px 6px; position: relative; text-decoration: none; width: 150px; }

.mainMenuBarCurrentItem { background-color: rgb(102, 102, 102); border-top: 1px solid rgb(102, 102, 102); border-right: 1px solid rgb(102, 102, 102); border-left: 1px solid rgb(102, 102, 102); border-image: initial; border-bottom: none; float: left; list-style-type: none; list-style-image: none; margin: 0px 2px 0px 0px; padding: 2px 2px 2px 6px; position: relative; text-decoration: none; width: 150px; }

.menuCurrentItemDivWithItemsDown { background-color: rgb(102, 102, 102); background-position: right center; background-repeat: no-repeat; background-image: url("/framework/image/arrow_white_down.gif"); color: rgb(255, 255, 255); font-weight: bold; font-family: Arial, sans-serif; font-size: 12px; position: relative; text-decoration: none; }

.menuCurrentItemDivWithItemsUp { background-color: rgb(102, 102, 102); background-position: right center; background-repeat: no-repeat; background-image: url("/framework/image/arrow_white_up.gif"); color: rgb(255, 255, 255); font-weight: bold; font-family: Arial, sans-serif; font-size: 12px; position: relative; text-decoration: none; }

.menuCurrentItemDivNoItems { background-color: rgb(102, 102, 102); color: rgb(255, 255, 255); font-weight: bold; font-family: Arial, sans-serif; font-size: 12px; position: relative; text-decoration: none; }

.menuItemDivWithItemsDown { background-color: rgb(245, 245, 245); background-position: right center; background-repeat: no-repeat; background-image: url("/framework/image/arrow_down.gif"); font-family: Arial, sans-serif; font-size: 11px; position: relative; }

.menuItemDivWithItemsUp { background-color: rgb(245, 245, 245); background-position: right center; background-repeat: no-repeat; background-image: url("/framework/image/arrow_up.gif"); font-family: Arial, sans-serif; font-size: 11px; position: relative; }

.menuItemDivNoItems { font-family: Arial, sans-serif; font-size: 11px; position: relative; }

.menuItemDivNoItemsHighlighted { background-color: rgb(102, 0, 153); color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 11px; position: relative; }

.mainMenuBarItemHighlighted { background-color: rgb(102, 0, 153); border-top: 1px solid rgb(102, 102, 102); border-right: 1px solid rgb(102, 102, 102); border-left: 1px solid rgb(102, 102, 102); border-image: initial; border-bottom: none; color: rgb(255, 255, 255); float: left; font-family: Arial, sans-serif; font-size: 11px; list-style-type: none; list-style-image: none; margin: 0px 2px 0px 0px; padding: 2px 2px 2px 6px; text-decoration: none; }

.mainMenuBarItemNoItems { background-color: rgb(245, 245, 245); border-top: 1px solid rgb(102, 102, 102); border-right: 1px solid rgb(102, 102, 102); border-left: 1px solid rgb(102, 102, 102); border-image: initial; border-bottom: none; float: left; font-family: Arial, sans-serif; font-size: 11px; list-style-type: none; list-style-image: none; margin: 0px 2px 0px 0px; padding: 2px 2px 2px 6px; text-decoration: none; }

.firstMenuItemHighlighted { background-color: rgb(102, 0, 153); border: 1px solid rgb(102, 0, 153); color: rgb(255, 255, 255); display: block; font-size: 11px; font-weight: normal; list-style: outside none none; padding: 2px 2px 2px 6px; text-decoration: none; z-index: 1; }

.menuItemHighlighted { background-color: rgb(102, 0, 153); border-color: rgb(102, 0, 153); border-style: solid solid none; border-width: 1px 1px medium; color: rgb(255, 255, 255); display: block; font-size: 11px; font-weight: normal; list-style: outside none none; padding: 2px 2px 2px 6px; text-decoration: none; z-index: 1; }

.menuItemsContainer { display: none; border-bottom: none; left: 0pt; margin: 0pt; position: absolute; padding: 0pt; text-decoration: none; z-index: 1; }

.firstMenuItem { background-color: rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102); color: rgb(32, 32, 32); display: block; font-size: 11px; font-weight: normal; list-style: outside none none; padding: 2px 2px 2px 6px; text-decoration: none; z-index: 1; }

.menuItem { background-color: rgb(244, 244, 244); border-right: 1px solid rgb(102, 102, 102); border-bottom: 1px solid rgb(102, 102, 102); border-left: 1px solid rgb(102, 102, 102); border-image: initial; border-top: none; color: rgb(32, 32, 32); display: block; font-size: 11px; font-weight: normal; list-style: outside none none; padding: 2px 2px 2px 6px; text-decoration: none; z-index: 1; }

.helpMenuContainer { cursor: pointer; float: right; padding: 2px 0px 0px 15px; width: 160px; }

.helpMenuTitle { float: left; height: 20px; list-style: outside none none; margin-left: 0px; padding-left: 0px; text-decoration: none; }

.helpMenuIcon { background-repeat: no-repeat; background-image: url("/framework/image/icon_help.gif"); float: left; height: 20px; margin: 0pt; padding: 0pt; text-decoration: none; width: 18px; }

.helpMenuDivArrowDown { background-color: rgb(204, 204, 204); background-position: 95% center; background-repeat: no-repeat; background-image: url("/framework/image/arrow_down.gif"); font-family: Arial, sans-serif; font-size: 11px; height: 14px; padding: 2px; text-align: center; text-decoration: none; }

.helpMenuDivArrowUp { background-color: rgb(204, 204, 204); background-position: 95% center; background-repeat: no-repeat; background-image: url("/framework/image/arrow_up.gif"); font-family: Arial, sans-serif; font-size: 11px; height: 14px; padding: 2px; text-align: center; text-decoration: none; }

.helpfirstMenuItemHighlighted { background-color: rgb(102, 0, 153); border: 1px solid rgb(102, 0, 153); color: rgb(255, 255, 255); display: block; font-size: 11px; font-weight: normal; height: 15px; list-style: outside none none; padding: 2px 2px 2px 6px; text-decoration: none; }

.helpmenuItemHighlighted { background-color: rgb(102, 0, 153); border-color: rgb(102, 0, 153); border-style: solid solid none; border-width: 1px 1px medium; color: rgb(255, 255, 255); display: block; font-size: 11px; font-weight: normal; height: 15px; list-style: outside none none; padding: 2px 2px 2px 6px; text-decoration: none; }

.helpMenuItemsContainer { display: none; border-bottom: none; margin: 0pt; position: absolute; padding: 0pt; text-decoration: none; z-index: 1; }

.firstHelpMenuItem { background-color: rgb(244, 244, 244); border: 1px solid rgb(102, 102, 102); color: rgb(32, 32, 32); display: block; font-size: 11px; font-weight: normal; height: 15px; list-style: outside none none; padding: 2px 2px 2px 6px; text-decoration: none; }

.helpMenuItem { background-color: rgb(244, 244, 244); border-right: 1px solid rgb(102, 102, 102); border-bottom: 1px solid rgb(102, 102, 102); border-left: 1px solid rgb(102, 102, 102); border-image: initial; border-top: none; color: rgb(32, 32, 32); display: block; float: none; font-size: 11px; font-weight: normal; height: 15px; list-style: outside none none; padding: 2px 2px 2px 6px; text-decoration: none; }

.suggestPopup { position: relative; }

.suggestSearchable { margin-top: -2px; position: absolute; }

.leftAligned { float: left; margin: 2px; }

.firstLeftAligned { float: left; margin-right: 2px; }

.alphaChar { color: rgb(102, 0, 153); cursor: pointer; text-decoration: underline; font-weight: bold; float: left; margin: 2px; }

.alphaCharDisabled { color: rgb(0, 0, 0); font-weight: normal; float: left; margin: 2px; }

.alphaCharSelected { color: rgb(102, 0, 153); cursor: pointer; font-weight: bold; float: left; margin: 2px; }

.outerDiv { height: 95px; position: absolute; width: 280px; z-index: 3; }

.busyDiv { background-color: rgb(204, 204, 204); border: thin solid rgb(102, 102, 102); height: 85px; left: 0px; position: relative; top: 0px; width: 270px; z-index: 3; }

.indicator { background-image: url("/framework/image/busy.gif"); background-repeat: no-repeat; height: 19px; left: 25px; position: absolute; top: 20px; width: 220px; z-index: 3; }

.busyMessage { color: rgb(102, 0, 153); position: absolute; text-align: center; top: 45px; width: 100%; }

.shadowDiv { background-color: rgb(0, 0, 0); height: 85px; left: 10px; opacity: 0.5; position: absolute; top: 10px; width: 270px; }

.dropDownButton:focus, .calendarWindow:focus, .floatingWindowContentFull:focus, .calendarIcon:focus { outline: rgb(102, 0, 153) dashed 1px; }

.floatingWindowChooseMoveDraggableItem:focus { border: 1px dashed rgb(102, 0, 153); outline: none; }
