@charset "utf-8";

.smb-uikit__calendar { box-sizing: border-box; background: rgb(255, 255, 255); padding: 0.25rem; max-width: 12.25rem; flex: 1 1 0%; }

.smb-uikit__calendar > * { box-sizing: border-box; }

.smb-uikit__calendar__header { display: flex; flex: 1 1 0%; align-items: center; justify-content: space-between; margin-bottom: 1rem; height: 1.5rem; }

.smb-uikit__calendar__header-control { color: rgb(24, 164, 252); width: 1.5rem; font-size: 1.5rem; cursor: pointer; }

.smb-uikit__calendar__header-control.smb-uikit__control-left { text-align: left; }

.smb-uikit__calendar__header-control.smb-uikit__control-right { text-align: right; }

.smb-uikit__calendar__header-date { color: rgb(86, 105, 134); text-transform: uppercase; margin: 0px; flex: 1 1 0%; text-align: center; }

.smb-uikit__calendar__month { padding: 0px 0.5rem; }

.smb-uikit__calendar__month-day, .smb-uikit__calendar__month-date { display: flex; flex-wrap: wrap; }

.smb-uikit__calendar__month-day--label { flex: 0 0 14%; height: 1.5rem; display: flex; align-items: center; justify-content: center; font-size: 0.875rem; color: rgb(140, 158, 184); }

.smb-uikit__calendar__month-date { transition: all 0.25s ease 0s; }

.smb-uikit__calendar__month-date--label { flex: 0 0 14%; height: 1.5rem; display: flex; align-items: center; justify-content: center; font-size: 0.875rem; color: rgb(86, 105, 134); cursor: pointer; margin: 2px 0px; position: relative; z-index: 1; }

.smb-uikit__calendar__month-date--label:empty { cursor: initial; background-color: transparent !important; }

.smb-uikit__calendar__month-date--label[highlight-date="true"]::before { content: ""; position: absolute; width: 100%; height: 100%; z-index: -1; background-color: rgb(236, 249, 255); }

.smb-uikit__calendar__month-date--label[is-selected-date="true"], .smb-uikit__calendar__month-date--label[is-selected-comparison-date="true"] { color: rgb(255, 255, 255); }

.smb-uikit__calendar__month-date--label[is-selected-date="true"][highlight-direction="left"]::before { border-top-right-radius: 50%; border-bottom-right-radius: 50%; }

.smb-uikit__calendar__month-date--label[is-selected-date="true"][highlight-direction="right"]::before { border-top-left-radius: 50%; border-bottom-left-radius: 50%; }

.smb-uikit__calendar__month-date--label[is-selected-comparison-date="true"][highlight-direction="right"]::before { border-radius: 0px 50% 50% 0px; }

.smb-uikit__calendar__month-date--label[is-selected-comparison-date="true"][highlight-direction="left"]::before { border-radius: 50% 0px 0px 50%; }

.smb-uikit__calendar__month-date--label[is-selected-date="true"]::after, .smb-uikit__calendar__month-date--label[is-selected-comparison-date="true"]::after { content: ""; position: absolute; width: 100%; height: 100%; z-index: -1; background-color: rgb(24, 164, 252); border-radius: 50%; left: 0px; top: 0px; }
