@charset "utf-8";

.ib-booking-app__main .react-datepicker { border: none; box-shadow: rgba(58, 83, 119, 0.2) 0px 6px 8px 0px; padding: 0px 5px; }

.ib-booking-app__main .react-datepicker .react-datepicker__navigation { width: 0px; height: 0px; border: 7px solid transparent; }

.ib-booking-app__main .react-datepicker .react-datepicker__navigation--previous { border-right-color: var(--ib-booking-app-main-color); }

.ib-booking-app__main .react-datepicker .react-datepicker__navigation--next { border-left-color: var(--ib-booking-app-main-color); }

.ib-booking-app__main .react-datepicker__header { background: rgb(255, 255, 255); border-bottom: none; }

.ib-booking-app__main .react-datepicker__triangle { display: none; }

.ib-booking-app__main .react-datepicker__day-name, .ib-booking-app__main .react-datepicker__day, .ib-booking-app__main .react-datepicker__time-name { width: 25px; line-height: 25px; margin: 2px; font-size: 12px; }

.ib-booking-app__main .react-datepicker__current-month, .ib-booking-app__main .react-datepicker-time__header, .ib-booking-app__main .react-datepicker-year-header { font-size: 14px; }

.ib-booking-app__main .react-datepicker__current-month, .ib-booking-app__main .react-datepicker-time__header, .ib-booking-app__main .react-datepicker-year-header, .ib-booking-app__main .react-datepicker__day-name { color: rgb(105, 101, 103); font-weight: normal; }

.ib-booking-app__main .react-datepicker__month { font-weight: normal; }

.ib-booking-app__main .react-datepicker__month .react-datepicker__day--selected, .ib-booking-app__main .react-datepicker__month .react-datepicker__day--today { background-color: var(--ib-booking-app-main-color); font-weight: normal; color: rgb(255, 255, 255); border-radius: 20px; }

.ib-booking-app__main .react-datepicker__month .react-datepicker__day--today { background-color: var(--ib-booking-app-light-color); color: var(--ib-booking-app-main-color); }

.ib-booking-app__main .ib-booking_available-time { border: 1px solid rgb(241, 246, 251); }

.ib-booking-app__main .ib-booking_available-time .availability-week-nav { margin-bottom: 8px; padding-bottom: 10px; border-bottom: 1px solid rgb(248, 250, 252); }

.ib-booking-app__main .ib-booking_available-time .react-datepicker-wrapper { width: 100%; }

.ib-booking-app__main .ib-booking_available-time .react-datepicker-wrapper input { background-color: transparent; margin: 0px; padding: 0px; width: 100%; cursor: pointer; color: rgba(0, 0, 0, 0); border: none !important; }

.ib-booking-app__main .ib-booking_available-time .react-datepicker-wrapper input:focus { outline: none; }

.ib-booking-app__main .ib-booking_available-time a { text-decoration: none; color: rgb(85, 85, 85); }

.ib-booking-app__main .ib-booking_available-time .ib-booking_hidden { display: none; }

.ib-booking-app__main .ib-booking_available-time .ib-booking_times-table { display: flex; flex-wrap: wrap; justify-content: space-between; height: 255px; overflow-y: scroll; position: relative; }

.ib-booking-app__main .ib-booking_available-time .ib-booking_no-scroll { overflow: hidden; }

.ib-booking-app__main .ib-booking_available-time .ib-booking-column { width: 14%; text-align: center; }

.ib-booking-app__main .ib-booking_available-time .ib-booking-column > .ib-booking-active, .ib-booking-app__main .ib-booking_available-time .ib-booking-column > .ib-booking-disabled { position: sticky; top: 0px; background: var(--ib-booking-app-calendar-bg); z-index: 1; }

.ib-booking-app__main .ib-booking_available-time .ib-booking-dateNum, .ib-booking-app__main .ib-booking_available-time .ib-booking-day { display: block; text-transform: uppercase; font-size: var(--ib-booking-app-font-smallest); }

.ib-booking-app__main .ib-booking_available-time .ib-booking-day { color: rgb(105, 101, 103); }

.ib-booking-app__main .ib-booking_available-time .ib-booking-dateNum { font-size: var(--ib-booking-app-font-normal); line-height: 23px; margin-bottom: 10px; }

.ib-booking-app__main .ib-booking_available-time .ib-booking-time { display: block; margin-top: 8px; position: relative; }

.ib-booking-app__main .ib-booking_available-time .ib-booking-time span.ib-booking-active { border: 1px solid var(--ib-booking-app-times-border-color); border-radius: var(--ib-booking-app-times-border-radius); padding-top: 8px; padding-bottom: 6px; display: inline-block; width: 70px; font-size: var(--ib-booking-app-font-normal); cursor: pointer; position: sticky; color: var(--ib-booking-app-times-color); top: 0px; background: var(--ib-booking-app-times-bg); }

.ib-booking-app__main .ib-booking_available-time .ib-booking-time span.ib-booking-disabled { width: 72px; display: block; margin: 0px auto; color: rgb(153, 153, 153); }

.ib-booking-app__main .ib-booking_available-time .ib-booking-time span.ib-booking-selected { border: 1px solid var(--ib-booking-app-main-color); background-color: var(--ib-booking-app-time-selected-bg); color: var(--ib-booking-app-time-selected-text-color); font-weight: 600; }

.ib-booking-app__main .ib-booking_available-time .ib-booking_available-year { color: var(--ib-booking-app-celandar-available-year); font-weight: bold; font-size: var(--ib-booking-app-font-normal); margin: 2px auto 25px; position: relative; width: 165px; text-align: center; }

.ib-booking-app__main .ib-booking_available-time .ib-booking_available-year .ib-booking_triggerIcon { color: var(--ib-booking-app-main-color); margin-left: 6px; }

.ib-booking-app__main .ib-booking_available-time .ib-booking_available-year .ib-booking_calendar-position { position: absolute; top: 0px; z-index: 2; width: 100%; }

.ib-booking-app__main .ib-booking_available-time .ib-booking_availability-table { border-radius: 3px; color: rgb(51, 49, 50); width: 100%; margin-top: 15px; position: relative; }

.ib-booking-app__main .ib-booking_available-time .ib-booking_availability-table .ib-booking_nav-arrow { display: var(--app-calendar-nav-arrow); cursor: pointer; margin-bottom: 8px; position: absolute; font-size: 24px; width: 20px; text-align: center; top: 0px; z-index: 2; }

.ib-booking-app__main .ib-booking_available-time .ib-booking_availability-table .ib-booking_nav-arrow.ib-booking-active { color: var(--ib-booking-app-main-color); }

.ib-booking-app__main .ib-booking_available-time .ib-booking_availability-table .ib-booking_nav-arrow.ib-booking-disabled { color: rgb(230, 233, 237); }

.ib-booking-app__main .ib-booking_available-time .ib-booking_availability-table .ib-booking_nav-arrow-right { position: absolute; right: 0px; background: var(--ib-booking-app-calendar-bg); }

.ib-booking-app__main .loading-available-time { align-items: center; display: flex; justify-content: center; min-height: 300px; }

@media screen and (max-width: 1824px) {
  .ib-booking-app__main .ib-booking_available-time .ib-booking-column { width: 20%; }
}

@media screen and (max-width: 667px) {
  .ib-booking-app__main .ib-booking_h1 { font-size: 1.5em; }
  .ib-booking-app__main .ib-booking_wizard-progress .ib-booking_wizard-progress-bar { margin: 10% 0px; }
  .ib-booking-app__main .ib-booking_available-time .ib-booking-column { width: 33%; }
}

@media screen and (max-width: 319px) {
  .ib-booking-app__main .ib-booking_available-time .ib-booking-column { width: 100%; }
}
