@charset "utf-8";

.ib-booking-app__main .ib-booking_form .ib-booking_app-title { margin-bottom: 5px; }

.ib-booking-app__main .ib-booking_form .ib-booking-type_of_visit { display: none; }

.ib-booking-app__main .ib-booking_form .ib-booking-first_name, .ib-booking-app__main .ib-booking_form .ib-booking-last_name, .ib-booking-app__main .ib-booking_form .ib-booking-date_of_birth, .ib-booking-app__main .ib-booking_form .ib-booking-preferred_date, .ib-booking-app__main .ib-booking_form .ib-booking-second_preferred_date, .ib-booking-app__main .ib-booking_form .ib-booking-preferred_time { width: 47%; display: inline-block; vertical-align: top; }

.ib-booking-app__main .ib-booking_form .ib-booking-pet_name, .ib-booking-app__main .ib-booking_form .ib-booking-pet_species { width: 40%; }

.ib-booking-app__main .ib-booking_form .ib-booking-pet_breed { width: 85%; }

.ib-booking-app__main .ib-booking_form .ib-booking-second_preferred_date { vertical-align: bottom; }

.ib-booking-app__main .ib-booking_form .ib-booking-first_name, .ib-booking-app__main .ib-booking_form .ib-booking-preferred_date { margin-right: 6%; }

.ib-booking-app__main .ib-booking_form .ib-booking-phone, .ib-booking-app__main .ib-booking_form .ib-booking-preferred_time_of_day { width: 47%; }

.ib-booking-app__main .ib-booking_form .ib-booking_select-time { color: rgb(51, 49, 50); padding: 0px 10px; background-color: rgb(255, 255, 255); border: 1px solid rgb(230, 233, 237); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; display: flex; font-size: var(--ib-booking-app-font-normal); width: 100%; height: 37px; box-sizing: border-box; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field { margin-bottom: 20px; position: relative; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field .react-datepicker__input-container input::placeholder { font-style: normal; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field > div { width: 47%; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field textarea.ib-booking_input { font-family: var(--ib-booking-app-font); margin-bottom: 1.6rem; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field .ib-booking_radio-box-wrapper { background-color: rgb(255, 255, 255); border: 1px solid rgb(230, 233, 237); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; padding: 10px; width: 42.2%; display: inline-block; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field .ib-booking_radio-box-wrapper:first-child { margin-right: 5.5%; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field.ib-booking_form-2 { display: flex; justify-content: space-between; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field .react-datepicker-wrapper { width: 100%; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field .ib-booking_icon-calendar { position: absolute; top: 4px; left: 6px; z-index: 3; color: rgb(86, 105, 134); font-size: 20px; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field .ib-booking_icon-calendar img { width: 32px; height: 32px; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field .ib-booking_input, .ib-booking-app__main .ib-booking_form .ib-booking_input-field .react-datepicker__input-container input { background-color: rgb(255, 255, 255); border: 1px solid rgb(230, 233, 237); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; display: flex; font-size: var(--ib-booking-app-font-normal); width: 96%; padding: 10px 2%; box-sizing: content-box; height: auto; margin-bottom: 0px; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field .ib-booking_input.ib-booking_height100, .ib-booking-app__main .ib-booking_form .ib-booking_input-field .react-datepicker__input-container input.ib-booking_height100 { height: 50px; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field .ib-booking-comments-count { position: absolute; bottom: -20px; right: 0px; color: rgb(35, 44, 53); font-size: 14px; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field .mobile { padding-left: 40px; box-sizing: border-box; width: 100%; }

.ib-booking-app__main .ib-booking_form .ib-booking_input-field .react-datepicker__input-container input { width: 100%; padding-left: 40px; box-sizing: border-box; }

.ib-booking-app__main .ib-booking_form .ib-booking-app_margin-s1 { margin-top: 10px; }

.ib-booking-app__main .ib-booking_form .ib-booking_hasError { position: relative; }

.ib-booking-app__main .ib-booking_form .ib-booking_hasError .ib-booking_input { border-color: rgb(208, 2, 27); }

.ib-booking-app__main .ib-booking_form .ib-booking_hasError .ib-booking_app-title { display: flex; justify-content: space-between; }

.ib-booking-app__main .ib-booking_form .ib-booking_hasError .ib-booking_error { color: rgb(208, 2, 27); font-size: var(--ib-booking-app-font-small); display: block; padding-top: 2px; position: absolute; left: 0px; bottom: -15px; }

.ib-booking-app__main .ib-booking_form-error { display: block; color: rgb(208, 2, 27); }

@media screen and (max-width: 530px) {
  .ib-booking-app__main .ib-booking_form .ib-booking-first_name, .ib-booking-app__main .ib-booking_form .ib-booking-last_name, .ib-booking-app__main .ib-booking_form .ib-booking-date_of_birth, .ib-booking-app__main .ib-booking_form .ib-booking-preferred_date, .ib-booking-app__main .ib-booking_form .ib-booking-second_preferred_date, .ib-booking-app__main .ib-booking_form .ib-booking-preferred_time, .ib-booking-app__main .ib-booking_form .ib-booking-phone, .ib-booking-app__main .ib-booking_form .ib-booking-preferred_time_of_day { width: 100%; }
}

@media screen and (max-width: 320px) {
  .ib-booking-app__main .ib-booking_right-area { padding: 15px 10px; }
  .ib-booking-app__main #rc-imageselect { transform: scale(0.99); transform-origin: 0px 0px; }
}
