@charset "utf-8";

.ib-booking-app__main .ib-booking_header { text-align: center; padding: 0px 0px 30px; color: var(--ib-booking-app-header-text-color); position: relative; background: var(--ib-booking-app-header-bg); }

.ib-booking-app__main .ib-booking_header .ib-booking_sub-title { color: var(--ib-booking-app-header-subtitle-text-color); font-size: var(--ib-booking-app-font-subtitle); }

.ib-booking-app__main .ib-booking_header .ib-booking_preStep { position: absolute; top: 50%; left: 6%; font-size: var(--ib-booking-app-font-normal); }

.ib-booking-app__main .ib-booking_header .ib-booking_h1 { line-height: 1; margin: 0px; padding: 30px 0px 8px; font-size: var(--ib-booking-app-font-title); font-weight: var(--ib-booking-app-header-font-weight); }

.ib-booking-app__main .ib-booking_header .ib-booking_h1-no-bg { padding: 0px 0px 8px; font-size: 24px; color: rgb(29, 63, 101); font-weight: normal; margin: -6px 0px; }

.ib-booking-app__main .ib-booking_header .ib-booking_h1-no-bg .ib-booking_sub-title { font-size: 14px; }

.ib-booking-app__main .ib-booking_app-footer { width: 90%; margin: 0px auto; height: 50px; padding: 3% 0px; display: flex; background: var(--ib-booking-app-footer-bg); justify-content: flex-end; }

.ib-booking-app__main .ib-booking_app-footer .ib-booking_buttonContainer { display: flex; }

.ib-booking-app__main .ib-booking_outer-link { margin-left: 4px; cursor: pointer; text-decoration: none; color: var(--ib-booking-app-main-color); }

@media screen and (max-width: 1024px) {
  .ib-booking-app__main .ib-booking_header .ib-booking_outer-link .ib-booking_textDecoration { display: none; }
  .ib-booking-app__main .ib-booking_content.ib-booking_app-selected .ib-booking_r-border { padding: 2% !important; }
  .ib-booking-app__main .ib-booking-edit { width: 96%; }
  .ib-booking-app__main .ib-booking-box { width: 100%; }
  .ib-booking-app__main .ib-booking_app-footer { width: 100%; }
}

@media screen and (max-width: 500px) {
  .ib-booking-app__main .ib-booking_app-footer { width: 100%; }
  .ib-booking-app__main .ib-booking_app-footer .ib-booking_buttonContainer { width: 100%; }
  .ib-booking-app__main .ib-booking_app-footer .ib-booking_buttonContainer .ib-booking-primary-button { width: 100%; }
}
