PROJECT_NAME="Agent Security Platform"

FASTAPI_PORT=8000
FASTAPI_HOST=127.0.0.1

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=db_name
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456

SQLALCHEMY_ECHO=false