@charset "utf-8";

._9c2a3 { display: block; height: auto; width: 100%; }

.loa-global-theme .c1a95 { font-size: 16px; padding-top: 10px; text-align: center; width: 100%; font-weight: 700; }

.loa-global-theme .c1a95 ._6d6ce { color: rgb(23, 132, 235); text-decoration: none; }

.loa-global-theme .c1a95 ._6d6ce:hover { text-decoration: underline; }

.lw-global-theme .c1a95 { font-size: 16px; padding-top: 10px; text-align: center; width: 100%; font-weight: 700; }

.lw-global-theme .c1a95 ._6d6ce { color: rgb(250, 100, 1); text-decoration: none; }

.lw-global-theme .c1a95 ._6d6ce:hover { text-decoration: underline; }
