@charset "utf-8";

.gm-style .gm-style-iw { font-weight: 300; font-size: 13px; overflow: hidden; }

.gm-style .gm-style-iw-a { position: absolute; width: 9999px; height: 0px; }

.gm-style .gm-style-iw-t { position: absolute; width: 100%; }

.gm-style .gm-style-iw-tc { filter: drop-shadow(rgba(178, 178, 178, 0.4) 0px 4px 2px); height: 12px; left: 0px; position: absolute; top: 0px; transform: translateX(-50%); width: 25px; }

.gm-style .gm-style-iw-tc::after { background: rgb(255, 255, 255); clip-path: polygon(0px 0px, 50% 100%, 100% 0px); content: ""; height: 12px; left: 0px; position: absolute; top: -1px; width: 25px; }

.gm-style .gm-style-iw-c { position: absolute; box-sizing: border-box; overflow: hidden; top: 0px; left: 0px; transform: translate3d(-50%, -100%, 0px); background-color: white; border-radius: 8px; padding: 12px; box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 7px 1px; }

.gm-style .gm-style-iw-d { box-sizing: border-box; overflow: auto; }

.gm-style .gm-style-iw-d::-webkit-scrollbar { width: 18px; height: 12px; appearance: none; }

.gm-style .gm-style-iw-d::-webkit-scrollbar-track, .gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece { background: rgb(255, 255, 255); }

.gm-style .gm-style-iw-c .gm-style-iw-d::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.12); border: 6px solid transparent; border-radius: 9px; background-clip: content-box; }

.gm-style .gm-style-iw-c .gm-style-iw-d::-webkit-scrollbar-thumb:horizontal { border: 3px solid transparent; }

.gm-style .gm-style-iw-c .gm-style-iw-d::-webkit-scrollbar-thumb:hover { background-color: rgba(0, 0, 0, 0.3); }

.gm-style .gm-style-iw-c .gm-style-iw-d::-webkit-scrollbar-corner { background: transparent; }

.gm-style .gm-iw { color: rgb(44, 44, 44); }

.gm-style .gm-iw b { font-weight: 400; }

.gm-style .gm-iw a:link, .gm-style .gm-iw a:visited { color: rgb(66, 114, 219); text-decoration: none; }

.gm-style .gm-iw a:hover { color: rgb(66, 114, 219); text-decoration: underline; }

.gm-style .gm-iw .gm-title { font-weight: 400; margin-bottom: 1px; }

.gm-style .gm-iw .gm-basicinfo { line-height: 18px; padding-bottom: 12px; }

.gm-style .gm-iw .gm-website { padding-top: 6px; }

.gm-style .gm-iw .gm-photos { padding-bottom: 8px; user-select: none; }

.gm-style .gm-iw .gm-sv, .gm-style .gm-iw .gm-ph { cursor: pointer; height: 50px; width: 100px; position: relative; overflow: hidden; }

.gm-style .gm-iw .gm-sv { padding-right: 4px; }

.gm-style .gm-iw .gm-wsv { cursor: pointer; position: relative; overflow: hidden; }

.gm-style .gm-iw .gm-sv-label, .gm-style .gm-iw .gm-ph-label { cursor: pointer; position: absolute; bottom: 6px; color: rgb(255, 255, 255); font-weight: 400; text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 4px; font-size: 12px; }

.gm-style .gm-iw .gm-stars-b, .gm-style .gm-iw .gm-stars-f { height: 13px; font-size: 0px; }

.gm-style .gm-iw .gm-stars-b { position: relative; background-position: 0px 0px; width: 65px; top: 3px; margin: 0px 5px; }

.gm-style .gm-iw .gm-rev { line-height: 20px; user-select: none; }

.gm-style .gm-iw .gm-numeric-rev { font-size: 16px; color: rgb(221, 75, 57); font-weight: 400; }

.gm-style .gm-iw.gm-transit { margin-left: 15px; }

.gm-style .gm-iw.gm-transit td { vertical-align: top; }

.gm-style .gm-iw.gm-transit .gm-time { white-space: nowrap; color: rgb(103, 103, 103); font-weight: bold; }

.gm-style .gm-iw.gm-transit img { width: 15px; height: 15px; margin: 1px 5px 0px -20px; float: left; }

sentinel { }
