@charset "utf-8";

.poi-info-window div, .poi-info-window a { color: rgb(51, 51, 51); font-family: Roboto, Arial; font-size: 13px; background-color: white; user-select: text; }

.poi-info-window { cursor: default; }

.poi-info-window a:link { text-decoration: none; color: rgb(26, 115, 232); }

.poi-info-window .view-link, .poi-info-window a:visited { color: rgb(26, 115, 232); }

.poi-info-window .view-link:hover, .poi-info-window a:hover { cursor: pointer; text-decoration: underline; }

.poi-info-window .full-width { width: 180px; }

.poi-info-window .title { overflow: hidden; font-weight: 500; font-size: 14px; }

.poi-info-window .address { margin-top: 2px; color: rgb(85, 85, 85); }

sentinel { }
