@charset "utf-8";

.google-visualization-formatters-arrow-dr { background: url("arrow_dr.png") left center no-repeat; border: 1px solid rgb(238, 238, 238); padding-left: 13px !important; }

.google-visualization-formatters-arrow-ug { background: url("arrow_ug.png") left center no-repeat; border: 1px solid rgb(238, 238, 238); padding-left: 13px !important; }

.google-visualization-formatters-arrow-empty { border: 1px solid rgb(238, 238, 238); padding-left: 13px !important; }

.google-visualization-formatters-bars { padding: 0px; float: left; white-space: nowrap; }

.google-visualization-formatters-bars > span { display: inline-block; height: 12px; padding: 0px; background: url("bar_w.png") left bottom repeat-x; }

.google-visualization-formatters-bars > .google-charts-bar-b { background-image: url("bar_b.png"); }

.google-visualization-formatters-bars > .google-charts-bar-g { background-image: url("bar_g.png"); }

.google-visualization-formatters-bars > .google-charts-bar-r { background-image: url("bar_r.png"); }

.google-visualization-formatters-bars > .google-charts-bar-s { background-image: url("bar_s.png"); }

.google-visualization-formatters-bars > .google-charts-bar-w { background-image: url("bar_w.png"); }

.google-visualization-formatters-bars > .google-charts-bar-z { background-image: url("bar_z.png"); }
