@charset "utf-8";

.smb-uikit__check-box { box-sizing: border-box; display: flex; align-items: center; cursor: pointer; }

.smb-uikit__check-box > * { box-sizing: border-box; }

.smb-uikit__check-box.smb-uikit__disabled.smb-uikit__checked .smb-uikit__check-box__checkmark { border-color: rgb(24, 164, 252); }

.smb-uikit__check-box.smb-uikit__checked .smb-uikit__check-box__checkmark { background: rgb(24, 164, 252); border-color: rgb(24, 164, 252); box-shadow: rgba(145, 154, 164, 0.35) 0px 2px 4px 0px inset; }

.smb-uikit__check-box.smb-uikit__disabled { opacity: 0.5; cursor: not-allowed; }

.smb-uikit__check-box__checkmark { transition: all 0.25s ease 0s; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: rgb(255, 255, 255); border: 2px solid rgb(179, 197, 210); height: 18px; width: 18px; border-radius: 3px; box-shadow: rgba(179, 197, 210, 0.25) 0px 2px 4px 0px inset; }

.smb-uikit__check-box__checkmark:hover { background: rgb(255, 255, 255); border-color: rgb(147, 173, 191); }

.smb-uikit__check-box__checkmark-icon { color: rgb(255, 255, 255); font-size: 14px; }

.smb-uikit__check-box__label { margin-left: 0.5rem; color: rgb(95, 113, 142); text-transform: capitalize; }

.smb-uikit__check-box__native-input { position: absolute; opacity: 0; cursor: pointer; height: 0px; width: 0px; }
