@charset "utf-8";

.smb-uikit__dropdown-menu { box-sizing: border-box; display: flex; width: 100%; flex: 1 1 0%; z-index: 9; }

.smb-uikit__dropdown-menu > * { box-sizing: border-box; }

.smb-uikit__dropdown-menu[position="fill"] { position: relative; }

.smb-uikit__dropdown-menu[position="relative"] { position: absolute; top: calc(100% + 0.25rem); }

.smb-uikit__dropdown-menu__content { box-shadow: rgba(58, 83, 119, 0.2) 0px 6px 8px 0px; background-color: rgb(255, 255, 255); display: flex; flex-direction: column; margin: 0px; max-width: 100%; min-width: 100%; padding: 0.5rem 0px; flex: 1 1 0%; max-height: 25rem; overflow: auto; }
