@charset "utf-8";

.css-3f1ygx { position: relative; font-size: 0px; width: 60px; height: 60px; left: 0px; top: 40%; margin: 0px auto; vertical-align: middle; }

.css-ba8vy9 { position: absolute; width: 5px; height: 15px; margin: 2px; background-color: rgb(153, 153, 153); border-radius: 2px; transition: all 2s ease 0s; animation: 1.2s ease-in-out 0.12s infinite normal none running animation-p3pskt; top: 20px; left: 0px; }

@-webkit-keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

@keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

.css-4alsch { position: absolute; width: 5px; height: 15px; margin: 2px; background-color: rgb(153, 153, 153); border-radius: 2px; transition: all 2s ease 0s; animation: 1.2s ease-in-out 0.24s infinite normal none running animation-p3pskt; top: 13.6364px; left: 13.6364px; transform: rotate(-45deg); }

@-webkit-keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

@keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

.css-18qfhvy { position: absolute; width: 5px; height: 15px; margin: 2px; background-color: rgb(153, 153, 153); border-radius: 2px; transition: all 2s ease 0s; animation: 1.2s ease-in-out 0.36s infinite normal none running animation-p3pskt; top: 0px; left: 20px; transform: rotate(90deg); }

@-webkit-keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

@keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

.css-19awana { position: absolute; width: 5px; height: 15px; margin: 2px; background-color: rgb(153, 153, 153); border-radius: 2px; transition: all 2s ease 0s; animation: 1.2s ease-in-out 0.48s infinite normal none running animation-p3pskt; top: -13.6364px; left: 13.6364px; transform: rotate(45deg); }

@-webkit-keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

@keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

.css-1jwa8bx { position: absolute; width: 5px; height: 15px; margin: 2px; background-color: rgb(153, 153, 153); border-radius: 2px; transition: all 2s ease 0s; animation: 1.2s ease-in-out 0.6s infinite normal none running animation-p3pskt; top: -20px; left: 0px; }

@-webkit-keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

@keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

.css-2ico1c { position: absolute; width: 5px; height: 15px; margin: 2px; background-color: rgb(153, 153, 153); border-radius: 2px; transition: all 2s ease 0s; animation: 1.2s ease-in-out 0.72s infinite normal none running animation-p3pskt; top: -13.6364px; left: -13.6364px; transform: rotate(-45deg); }

@-webkit-keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

@keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

.css-mbll14 { position: absolute; width: 5px; height: 15px; margin: 2px; background-color: rgb(153, 153, 153); border-radius: 2px; transition: all 2s ease 0s; animation: 1.2s ease-in-out 0.84s infinite normal none running animation-p3pskt; top: 0px; left: -20px; transform: rotate(90deg); }

@-webkit-keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

@keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

.css-12ibkrj { position: absolute; width: 5px; height: 15px; margin: 2px; background-color: rgb(153, 153, 153); border-radius: 2px; transition: all 2s ease 0s; animation: 1.2s ease-in-out 0.96s infinite normal none running animation-p3pskt; top: 13.6364px; left: -13.6364px; transform: rotate(45deg); }

@-webkit-keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

@keyframes animation-p3pskt { 
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}
