@charset "utf-8";

.smb-uikit__dropdown-menu-warning { border: 0px; display: flex; flex-direction: row; max-width: 100%; min-height: 2.25rem; transition: all 0.25s ease 0s; box-sizing: border-box; color: rgb(53, 81, 100); cursor: initial; font-size: 0.8125rem; height: auto; letter-spacing: initial; line-height: 1.5; margin: 1rem 0px; padding: 0px 1.5rem; }

.smb-uikit__dropdown-menu-warning > * { box-sizing: border-box; }

.smb-uikit__dropdown-menu-warning:hover { background-color: rgb(241, 246, 251); }

.smb-uikit__dropdown-menu-warning:focus { outline-offset: 0px; }

.smb-uikit__dropdown-menu-warning:disabled { color: rgb(195, 204, 212); cursor: not-allowed; }

.smb-uikit__dropdown-menu-warning::placeholder { color: rgb(207, 217, 225); }

.smb-uikit__dropdown-menu-warning:hover { background-color: initial; }

.smb-uikit__dropdown-menu-warning__container { border: 1px solid rgb(255, 213, 94); border-radius: 4px; align-items: center; display: flex; flex: 1 1 0%; justify-content: flex-start; min-height: 2.25rem; }

.smb-uikit__dropdown-menu-warning__icon, .smb-uikit__dropdown-menu-warning__message { display: inline-flex; padding: 0.6rem; }

.smb-uikit__dropdown-menu-warning__icon { color: rgb(245, 166, 35); }
