@charset "utf-8";

.smb-uikit__time-picker { box-sizing: border-box; display: flex; flex: 1 1 0%; flex-direction: row; }

.smb-uikit__time-picker > * { box-sizing: border-box; }

.smb-uikit__time-picker__controls-time-inputs { display: flex; flex-direction: row; align-items: center; max-width: 9.5rem; margin-right: 1rem; }
