@charset "utf-8";

.ib-booking_off-state-wrap { border: 2px solid rgb(243, 247, 250); border-radius: 14px; width: 506px; padding: 30px 40px; margin: 56px auto; color: rgb(86, 105, 134); font-family: "Proxima Nova"; font-size: 20px; }
