@charset "utf-8";

.atm-c-floating-card { position: absolute; padding: 0.5rem 1rem 1rem; background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-radius: 4px; }

.atm-c-floating-card:focus { outline: rgb(98, 68, 187) solid 4px; }

.atm-c-price-graph .atm-c-floating-card__close-btn { display: none; }

.atm-c-floating-card__btn-container { display: flex; margin-bottom: 0.5rem; }

.atm-c-floating-card__close-btn { margin-left: auto; }
