@charset "utf-8";

.app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO { margin-top: 15px; display: flex; flex-direction: column; align-items: flex-start; }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO { display: block; text-align: center; }
}

@media screen and (min-width: 720px) {
  .app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO { align-items: center; }
}

.app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO.app-components-GlobalFooter-CoBrowse-styles__isOpen--17jrc { align-items: flex-start; background-color: rgb(255, 255, 255); padding: 0px 10px 10px; border: 1px solid rgb(212, 212, 208); border-radius: 5px; }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO.app-components-GlobalFooter-CoBrowse-styles__isOpen--17jrc { display: block; text-align: left; }
}

.app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO.app-components-GlobalFooter-CoBrowse-styles__isOpen--17jrc .app-components-GlobalFooter-CoBrowse-styles__content--PTeos { margin: 0px 15px; display: flex; flex-direction: column; }

@media screen and (min-width: 720px) {
  .app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO.app-components-GlobalFooter-CoBrowse-styles__isOpen--17jrc .app-components-GlobalFooter-CoBrowse-styles__content--PTeos { flex-direction: row; }
}

.app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO.app-components-GlobalFooter-CoBrowse-styles__isOpen--17jrc .app-components-GlobalFooter-CoBrowse-styles__content--PTeos .app-components-GlobalFooter-CoBrowse-styles__description--2wRwO { text-align: left; }

.app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO.app-components-GlobalFooter-CoBrowse-styles__isOpen--17jrc .app-components-GlobalFooter-CoBrowse-styles__content--PTeos .app-components-GlobalFooter-CoBrowse-styles__description--2wRwO > p { text-align: left; font-size: 16px; }

@media screen and (min-width: 720px) {
  .app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO.app-components-GlobalFooter-CoBrowse-styles__isOpen--17jrc .app-components-GlobalFooter-CoBrowse-styles__content--PTeos .app-components-GlobalFooter-CoBrowse-styles__pinNumber--ZIemn { min-width: 210px; margin: 0px 45px; }
}

.app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO.app-components-GlobalFooter-CoBrowse-styles__isOpen--17jrc .app-components-GlobalFooter-CoBrowse-styles__content--PTeos .app-components-GlobalFooter-CoBrowse-styles__pinNumberField--2Ygug { margin-bottom: 20px; }

.app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO.app-components-GlobalFooter-CoBrowse-styles__isOpen--17jrc .app-components-GlobalFooter-CoBrowse-styles__content--PTeos .app-components-GlobalFooter-CoBrowse-styles__pinNumberField--2Ygug > div > :nth-child(3) { font-weight: normal; }

.app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO .app-components-GlobalFooter-CoBrowse-styles__notAvailableMsg--AnHbN { display: flex; flex-direction: row; align-items: center; }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO .app-components-GlobalFooter-CoBrowse-styles__notAvailableMsg--AnHbN { display: block; }
  .app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO .app-components-GlobalFooter-CoBrowse-styles__notAvailableMsg--AnHbN > svg { display: inline; }
}

.app-components-GlobalFooter-CoBrowse-styles__cobrowseContainer--1U8yO .app-components-GlobalFooter-CoBrowse-styles__notAvailableIcon--2NiHm { margin-right: 5px; }
