@charset "utf-8";

.app-components-CommonShoppingCart-TravelOption-SAFCostBreakDown-styles__container--3bfhW { font-size: 14px; }

.app-components-CommonShoppingCart-TravelOption-SAFCostBreakDown-styles__container--3bfhW table { margin: 0px; width: 100%; }

.app-components-CommonShoppingCart-TravelOption-SAFCostBreakDown-styles__container--3bfhW table th, .app-components-CommonShoppingCart-TravelOption-SAFCostBreakDown-styles__container--3bfhW table td { width: 39%; padding: 5px 0px 0px; }

.app-components-CommonShoppingCart-TravelOption-SAFCostBreakDown-styles__container--3bfhW .app-components-CommonShoppingCart-TravelOption-SAFCostBreakDown-styles__safAccordionPanel--3ynNn { border-top: none; }

.app-components-CommonShoppingCart-TravelOption-SAFCostBreakDown-styles__container--3bfhW .app-components-CommonShoppingCart-TravelOption-SAFCostBreakDown-styles__safTable--3x2Yg .app-components-CommonShoppingCart-TravelOption-SAFCostBreakDown-styles__description--1pm69 { width: 68%; }

.app-components-CommonShoppingCart-TravelOption-SAFCostBreakDown-styles__container--3bfhW .app-components-CommonShoppingCart-TravelOption-SAFCostBreakDown-styles__safTable--3x2Yg .app-components-CommonShoppingCart-TravelOption-SAFCostBreakDown-styles__price--1l-dG { width: 16%; }
