@charset "utf-8";

.app-components-CommonShoppingCart-Fees-CostBreakdown-styles__itemContainer--KWvH2 { border-bottom: 1px solid rgb(102, 102, 102); padding-bottom: 16px; }

.app-components-CommonShoppingCart-Fees-CostBreakdown-styles__nonRefundableText--3-J_- { font-size: 12px; }

.app-components-CommonShoppingCart-Fees-CostBreakdown-styles__unmrItem--2d6_G:not(:last-child) { padding-bottom: 4px; }

.app-components-CommonShoppingCart-Fees-CostBreakdown-styles__changeFee--27O-a { margin-top: 32px; text-transform: uppercase; font-size: 16px; }

.app-components-CommonShoppingCart-Fees-CostBreakdown-styles__changeFee--27O-a div:not(:last-child) { font-weight: 900; font-size: 14px; }

.app-components-CommonShoppingCart-Fees-CostBreakdown-styles__indentDescription--3lM3j { text-align: left; margin-top: 4px; }

@media screen and (min-width: 944px) {
  .app-components-CommonShoppingCart-Fees-CostBreakdown-styles__indentDescription--3lM3j { margin-left: 48px; }
}
