@charset "utf-8";

@media (max-width: 767px) {
  body::after { content: "xs"; display: none; }
}

@media (min-width: 768px) and (max-width: 991px) {
  body::after { content: "s"; display: none; }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body::after { content: "m"; display: none; }
}

@media (min-width: 1200px) {
  body::after { content: "l"; display: none; }
}

@font-face { font-display: swap; font-family: Stuart; font-weight: 1 999; src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2"); }

@font-face { font-display: swap; font-family: Stuart; font-weight: 1 999; font-style: italic; src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2"); }

@font-face { font-display: swap; font-family: Graphik; font-weight: 1 999; src: url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2"); }

@font-face { font-display: swap; font-family: Graphik; font-weight: 1 999; font-style: italic; src: url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2"); }

.gnav { -webkit-font-smoothing: antialiased; text-size-adjust: 100%; z-index: 1000; background-color: rgb(244, 242, 237); box-shadow: rgba(26, 26, 26, 0.2) 0px 4px 4px; font-family: Graphik, "Helvetica Neue", sans-serif; color: rgba(12, 11, 8, 0.75); font-size: 16px; line-height: 16px; }

.gnav .sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px; }

@media screen and (min-width: 992px) {
  .gnav [data-visible="mobile"] { display: none !important; }
}

@media screen and (max-width: 991px) {
  .gnav [data-visible="desktop"] { display: none !important; }
  .gnav .sr-mobile { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px; }
}

@media screen and (max-width: 991px) {
  .no-scroll { position: fixed; width: 100%; overflow: hidden !important; }
}

.gnav-icon { width: 24px; height: 24px; fill: rgb(78, 77, 73); flex: 0 0 auto; }

@media screen and (max-width: 991px) {
  .gnav-icon { flex: 0 0 auto; }
  .gnav-icon, .gnav-icon--lighter { fill: rgb(78, 77, 73); }
}

@media screen and (max-width: 320px) {
  .masthead .gnav-icon { width: 22px; height: 22px; }
}

.gnav .icon-button, .gnav .icon-link { display: flex; align-items: center; color: rgba(12, 11, 8, 0.75); font-family: Graphik, "Helvetica Neue", sans-serif; padding: 12px; }

.gnav .icon-button:active, .gnav .icon-button:focus, .gnav .icon-link:active, .gnav .icon-link:focus { outline: none; color: rgba(12, 11, 8, 0.75); box-shadow: rgb(32, 32, 29) 0px 0px 0px 2px; border-radius: 2px; }

@media screen and (max-width: 991px) {
  .gnav .icon-button--caret, .gnav .icon-link--caret { width: 100%; justify-content: space-between; }
}

.gnav .icon-button__wrapper, .gnav .icon-link__wrapper { display: inline-flex; align-items: center; }

.gnav .icon-button__wrapper .gnav-icon, .gnav .icon-button__wrapper .icon-button__text, .gnav .icon-link__wrapper .gnav-icon, .gnav .icon-link__wrapper .icon-button__text { display: block; }

@media screen and (max-width: 991px) {
  .gnav .icon-button__wrapper .icon-button__text, .gnav .icon-link__wrapper .icon-button__text { white-space: nowrap; }
}

.gnav .icon-button__text, .gnav .icon-link__text { line-height: 14px; height: 14px; font-size: 14px; }

.gnav .icon-button__text--top, .gnav .icon-link__text--top { margin-top: unset; display: block; font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 400; letter-spacing: -0.08px; font-size: 12px; line-height: 16px; }

.gnav .icon-button__text--bottom-underline, .gnav .icon-link__text--bottom-underline { font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 400; letter-spacing: -0.16px; font-size: 14px; line-height: 18px; color: rgba(12, 11, 8, 0.75); text-decoration: underline; }

.gnav .icon-button__text[data-icon="right"], .gnav .icon-link__text[data-icon="right"] { margin-right: 4px; }

.gnav .icon-button__text[data-icon="left"], .gnav .icon-link__text[data-icon="left"] { margin-left: 4px; }

@media screen and (max-width: 991px) {
  .gnav .icon-button__text, .gnav .icon-link__text { color: rgba(12, 11, 8, 0.75); line-height: 24px; height: 24px; font-size: 16px; }
  .gnav .icon-button__text--blue, .gnav .icon-link__text--blue { color: rgb(64, 110, 181); }
  .gnav .icon-button__text[data-icon="right"], .gnav .icon-link__text[data-icon="right"] { margin-top: 0px; margin-right: 8px; }
  .gnav .icon-button__text[data-icon="left"], .gnav .icon-link__text[data-icon="left"] { margin-top: 0px; margin-left: 8px; }
}

.gnav .icon-button.two-story-text, .gnav .icon-link.two-story-text { padding: 7px 12px; }

.gnav .icon-button.two-story-text [data-icon="right"], .gnav .icon-link.two-story-text [data-icon="right"] { margin-right: 4px; }

.gnav .icon-button.two-story-text [data-icon="left"], .gnav .icon-link.two-story-text [data-icon="left"] { margin-left: 4px; }

.gnav .icon-button { border: none; background-color: transparent; cursor: pointer; }

@media screen and (max-width: 991px) {
  .gnav .icon-button { padding: 16px 16px 17px; }
}

.gnav .flatten-sr-only { font-size: 0px !important; }

@media screen and (max-width: 991px) {
  .gnav .flatten-sr-mobile { font-size: 0px !important; }
}

.gnav .icon-button__text--flatten, .gnav .icon-link__text--flatten { height: unset; }

@media screen and (max-width: 991px) {
  .gnav .icon-button__text--flatten[data-icon="right"], .gnav .icon-link__text--flatten[data-icon="right"] { margin-right: 0px; }
  .gnav .icon-button__text--flatten[data-icon="left"], .gnav .icon-link__text--flatten[data-icon="left"] { margin-left: 0px; }
}

.gnav .icon-button__text--flatten[data-icon="right"] .gnav-icon, .gnav .icon-link__text--flatten[data-icon="right"] .gnav-icon { margin-top: 0px; margin-right: unset; margin-left: 4px; }

@media screen and (max-width: 991px) {
  .gnav .icon-button__text--flatten[data-icon="right"] .gnav-icon, .gnav .icon-link__text--flatten[data-icon="right"] .gnav-icon { margin-left: 8px; }
}

.gnav .icon-button__text--flatten[data-icon="left"] .gnav-icon, .gnav .icon-link__text--flatten[data-icon="left"] .gnav-icon { margin-top: 0px; margin-left: unset; margin-right: 4px; }

@media screen and (max-width: 991px) {
  .gnav .icon-button__text--flatten[data-icon="left"] .gnav-icon, .gnav .icon-link__text--flatten[data-icon="left"] .gnav-icon { margin-right: 8px; }
}

@media screen and (max-width: 991px) {
  .gnav .icon-button__text--flatten.flatten-sr-mobile .gnav-icon, .gnav .icon-link__text--flatten.flatten-sr-mobile .gnav-icon { margin-right: unset; margin-left: unset; }
}

.gnav .icon-button__text--flatten .gnav-icon, .gnav .icon-link__text--flatten .gnav-icon { width: 24px; height: 24px; }

.gnav { position: relative; }

.gnav__container { margin-left: auto; margin-right: auto; max-width: 1232px; box-sizing: border-box; }

@media screen and (min-width: 992px) {
  .gnav__container { padding-left: 30px; padding-right: 30px; display: block; }
}

.gnav .masthead { display: flex; align-items: center; height: 80px; overflow: initial; border-bottom: 1px solid rgb(218, 218, 218); box-sizing: border-box; }

@media screen and (max-width: 767px) {
  .gnav .masthead { height: 64px; padding: 0px 12px 0px 16px; }
}

@media screen and (min-width: 768px) {
  .gnav .masthead { height: 72px; padding: 0px 16px; }
}

@media screen and (min-width: 992px) {
  .gnav .masthead { height: 80px; padding: unset; }
}

.gnav .masthead__left { display: flex; align-items: center; flex: 0 0 auto; }

@media screen and (max-width: 320px) {
  .gnav .masthead__left { margin-right: 2px; }
}

.gnav .masthead__middle { flex: 1 1 auto; min-width: 0px; }

.gnav .masthead__middle, .gnav .masthead__right { display: flex; align-items: center; justify-content: flex-end; }

@media screen and (min-width: 992px) {
  .gnav .masthead__right { padding-left: 6px; }
}

@media screen and (max-width: 991px) {
  .gnav .masthead .masthead__left, .gnav .masthead .masthead__right { visibility: visible; position: relative; left: 0px; width: auto; transition: left 0.6s ease 0s; min-width: 0px; flex-shrink: 0; }
  .gnav .masthead[data-expanded="true"]:not(.search-open-on-mobile) .masthead__left, .gnav .masthead[data-expanded="true"]:not(.search-open-on-mobile) .masthead__right { visibility: hidden; width: 0px; transition: left 0.6s ease 0s, visibility 0.6s step-end 0s; }
  .gnav .masthead[data-expanded="true"]:not(.search-open-on-mobile) .masthead__left { left: -100%; padding-right: 0px; }
  .gnav .masthead[data-expanded="true"]:not(.search-open-on-mobile) .masthead__right { left: 100%; padding-left: 0px; }
}

@media screen and (max-width: 991px) and (max-width: 991px) {
  .gnav .masthead.search-open-on-mobile { display: grid; height: unset; }
  .gnav .masthead.search-open-on-mobile .masthead__left { grid-area: 1 / 1 / auto / 2; }
  .gnav .masthead.search-open-on-mobile .masthead__middle { grid-area: 2 / 1 / auto / 3; }
  .gnav .masthead.search-open-on-mobile .masthead__right { grid-area: 1 / 2 / auto / 3; }
}

@media screen and (max-width: 991px) and (max-width: 767px) {
  .gnav .masthead.search-open-on-mobile { row-gap: 12px; padding: 12px; }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .gnav .masthead.search-open-on-mobile { row-gap: 16px; padding: 16px; }
}

.gnav .secondary-navigation { display: none; }

@media screen and (min-width: 992px) {
  .gnav .secondary-navigation, .gnav .secondary-navigation__left { display: flex; align-items: center; height: 48px; }
  .gnav .secondary-navigation__left { flex: 0 0 auto; margin: auto; }
  .gnav .secondary-navigation__middle { display: flex; align-items: center; flex: 1 1 auto; height: 48px; }
  .gnav .secondary-navigation__right { display: flex; flex: 0 0 auto; align-items: center; justify-content: flex-end; height: 48px; }
}

.gnav .logo { margin-right: 16px; fill: rgb(41, 41, 41); height: 40px; }

.gnav .logo:active, .gnav .logo:focus { outline: none; color: rgba(12, 11, 8, 0.75); box-shadow: rgb(32, 32, 29) 0px 0px 0px 2px; border-radius: 2px; }

@media screen and (min-width: 992px) {
  .gnav .logo { height: 48px; }
}

@media screen and (max-width: 320px) {
  .gnav .logo { margin-right: 10px; }
}

.gnav .logo__img { height: 40px; width: 64px; }

@media screen and (min-width: 992px) {
  .gnav .logo__img { height: 48px; width: 76px; }
}

@media screen and (max-width: 320px) {
  .gnav .logo__img { height: 35px; width: 63px; }
}

.gnav .subsite-title { font-family: Stuart, Georgia, serif; font-weight: 600; font-size: 18px; font-style: normal; line-height: 24px; white-space: nowrap; letter-spacing: 0.15px; text-decoration: none; color: rgb(41, 41, 41); position: relative; display: block; margin-bottom: -7px; }

.gnav .subsite-title:active, .gnav .subsite-title:focus { outline: none; color: rgba(12, 11, 8, 0.75); box-shadow: rgb(32, 32, 29) 0px 0px 0px 2px; border-radius: 2px; }

.gnav .subsite-title:active, .gnav .subsite-title:focus, .gnav .subsite-title:hover { text-decoration: none; color: rgb(41, 41, 41); }

.gnav .subsite-title:active::after, .gnav .subsite-title:focus::after, .gnav .subsite-title:hover::after { position: absolute; top: calc(100% + 18px); left: 0px; width: 100%; height: 4px; background-color: rgb(41, 41, 41); content: ""; }

@media screen and (max-width: 991px) {
  .gnav .subsite-title:active::after, .gnav .subsite-title:focus::after, .gnav .subsite-title:hover::after { top: calc(100% + 18px); }
}

@media screen and (max-width: 767px) {
  .gnav .subsite-title:active::after, .gnav .subsite-title:focus::after, .gnav .subsite-title:hover::after { top: calc(100% + 14px); }
}

@media screen and (max-width: 320px) {
  .gnav .subsite-title:active::after, .gnav .subsite-title:focus::after, .gnav .subsite-title:hover::after { top: calc(100% + 17px); }
}

@media screen and (min-width: 992px) {
  .gnav .subsite-title { font-size: 24px; line-height: 30px; letter-spacing: -0.16px; }
}

@media screen and (max-width: 991px) {
  .gnav .subsite-title { font-size: 18px; line-height: 24px; letter-spacing: 0.1px; }
}

@media screen and (max-width: 320px) {
  .gnav .subsite-title { font-size: 17px; margin-bottom: 0px; }
}

@media screen and (min-width: 992px) {
  .gnav-submenu-wrapper .subsite-navigation__link[data-nav-level="2"][data-is-leaf="true"], .secondary-navigation .gnav-submenu-title-level-2, .secondary-navigation .gnav-submenu-title-level-3 { color: rgba(12, 11, 8, 0.75); font-size: 14px; font-weight: 400; line-height: 18px; }
  .secondary-navigation .subsite-category.is-open .subsite-category__title::after, .secondary-navigation .subsite-category__button:active .subsite-category__title::after, .secondary-navigation .subsite-category__button:focus .subsite-category__title::after, .secondary-navigation .subsite-category__link:not([data-is-leaf="true"]):active .subsite-category__title::after, .secondary-navigation .subsite-category__link:not([data-is-leaf="true"]):focus .subsite-category__title::after, .secondary-navigation .subsite-category__link:not([data-is-leaf="true"]):hover .subsite-category__title::after { position: absolute; top: calc(100% + 12px); left: 0px; width: 100%; height: 4px; background-color: rgb(41, 41, 41); content: ""; }
  .gnav .subsite-navigation { height: 100%; letter-spacing: -0.16px; box-sizing: border-box; }
  .gnav .subsite-navigation__list { display: flex; list-style-type: none; padding: 0px; margin-bottom: 0px; margin-top: 0px; }
  .gnav .subsite-navigation__list[data-nav-level="3"] { border-top: 1px solid rgb(218, 218, 218); display: block; break-inside: avoid; }
  .gnav .subsite-navigation__item { list-style: none; display: block; break-inside: avoid; box-sizing: border-box; }
  .gnav .subsite-navigation__link { display: block; text-decoration: none; }
  .gnav .subsite-navigation__text { margin-bottom: 0px; }
}

@media screen and (min-width: 992px) and (max-width: 1075px) {
  .gnav .subsite-navigation.tablet-spacing .subsite-category__button { padding-right: 8px; }
  .gnav .subsite-navigation.tablet-spacing .subsite-category__title { font-size: 15px; }
}

@media screen and (min-width: 992px) {
  .gnav-submenu-wrapper { visibility: hidden; background-color: rgb(255, 255, 255); border-top: 1px solid rgb(218, 218, 218); box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0px; cursor: auto; opacity: 0; transition: opacity 0s cubic-bezier(0.32, 0.94, 0.6, 1) 325ms, visibility 0.4s cubic-bezier(0.32, 0.94, 0.6, 1) 325ms; box-sizing: border-box; padding: 32px; }
  .gnav-submenu-wrapper .gnav-submenu.columns-4, .gnav-submenu-wrapper .gnav-submenu.columns-5 { display: flex; flex-wrap: wrap; align-items: flex-start; }
  .gnav-submenu-wrapper .columns-5 { width: 100%; }
  .gnav-submenu-wrapper .subsite-navigation__link { font-family: Graphik, "Helvetica Neue", sans-serif; letter-spacing: -0.16px; }
  .gnav-submenu-wrapper .subsite-navigation__link:hover { text-decoration-line: underline; }
  .gnav-submenu-wrapper .subsite-navigation__link:active, .gnav-submenu-wrapper .subsite-navigation__link:focus { text-decoration-line: underline; outline: none; color: rgba(12, 11, 8, 0.75); box-shadow: rgb(32, 32, 29) 0px 0px 0px 1px; border-radius: 0px; }
}

@media screen and (min-width: 992px) {
  .gnav-submenu-wrapper > .subsite-navigation__list { flex: 0 0 calc(75% - 16px); gap: 24px 16px; }
}

@media screen and (min-width: 992px) {
  .gnav-submenu-wrapper > .extra { flex: 0 0 calc(25% - 16px); }
}

@media screen and (min-width: 992px) {
  .secondary-navigation #gnav-menu-list { height: 100%; }
  .secondary-navigation [data-ui="nav-level-3-wrapper"] { padding-top: 8px; padding-left: 0px; }
  .secondary-navigation .subsite-category { display: flex; height: 100%; align-items: center; padding: 0px; min-width: fit-content; }
  .secondary-navigation .subsite-category__link { padding: 16px 12px; }
  .secondary-navigation .subsite-category--first, .secondary-navigation .subsite-category--first .subsite-category__link, .secondary-navigation .subsite-category--first .subsite-navigation__link { padding-left: 0px; }
  .secondary-navigation .subsite-category__link[data-is-leaf="true"]:hover { color: rgba(12, 11, 8, 0.75); text-decoration-line: underline; text-shadow: rgba(12, 11, 8, 0.75) 0.5px 0px 0px; }
  .secondary-navigation .subsite-category__link[data-is-leaf="true"]:active, .secondary-navigation .subsite-category__link[data-is-leaf="true"]:focus { outline: none; color: rgba(12, 11, 8, 0.75); text-decoration-line: underline; text-shadow: rgba(12, 11, 8, 0.75) 0.5px 0px 0px; }
  .secondary-navigation .subsite-category__link[data-is-leaf="true"]:active .subsite-category__title, .secondary-navigation .subsite-category__link[data-is-leaf="true"]:focus .subsite-category__title { outline: none; color: rgba(12, 11, 8, 0.75); box-shadow: rgb(32, 32, 29) 0px 0px 0px 2px; border-radius: 0px; }
  .secondary-navigation .subsite-category__title { position: relative; display: block; font-size: 16px; line-height: 16px; font-family: Graphik, "Helvetica Neue", sans-serif; letter-spacing: 0.2px; color: rgba(12, 11, 8, 0.75); }
  .secondary-navigation .subsite-category__button { border: none; margin: 0px; background-color: transparent; padding: 16px 12px; cursor: pointer; }
  .secondary-navigation .subsite-category__button:active, .secondary-navigation .subsite-category__button:focus, .secondary-navigation .subsite-category__link:not([data-is-leaf="true"]):active, .secondary-navigation .subsite-category__link:not([data-is-leaf="true"]):focus { outline: none; }
  .secondary-navigation .subsite-category__button:active .subsite-category__title, .secondary-navigation .subsite-category__button:focus .subsite-category__title, .secondary-navigation .subsite-category__link:not([data-is-leaf="true"]):active .subsite-category__title, .secondary-navigation .subsite-category__link:not([data-is-leaf="true"]):focus .subsite-category__title { outline: none; color: rgba(12, 11, 8, 0.75); box-shadow: rgb(32, 32, 29) 0px 0px 0px 2px; border-radius: 0px; }
  .secondary-navigation .subsite-category.is-open .subsite-category__title { text-shadow: rgba(12, 11, 8, 0.75) 0.5px 0px 0px; }
  .secondary-navigation .subsite-category.is-open .subsite-category__custom--sale .subsite-category__title { text-shadow: rgb(199, 55, 15) 0.8px 0px 0px; }
  .secondary-navigation .subsite-category__custom--sale[data-nav-level="1"] .subsite-category__title { color: rgb(199, 55, 15); text-shadow: rgb(199, 55, 15) 0.5px 0px 0px; }
  .secondary-navigation .subsite-category__custom--sale[data-nav-level="1"]:hover { text-shadow: rgb(199, 55, 15) 0.8px 0px 0px; }
  .secondary-navigation .has-submenu-group { box-sizing: border-box; }
  .secondary-navigation .subsite-navigation__item[data-nav-level="2"], .secondary-navigation .subsite-navigation__item[data-nav-level="3"] { display: block; padding-bottom: 8px; }
  .secondary-navigation .subsite-navigation__item[data-nav-level="2"]:last-child, .secondary-navigation .subsite-navigation__item[data-nav-level="3"]:last-child { padding-bottom: 0px; }
  .secondary-navigation .subsite-navigation__list[data-nav-type="columns"] .has-submenu-group { padding-bottom: 16px; }
  .secondary-navigation .columns .gnav-submenu-title-level-2 { font-size: 14px; color: rgba(3, 3, 1, 0.9); font-weight: 600; line-height: 24px; }
  .secondary-navigation .section-break { padding-top: 24px; }
  .secondary-navigation .section-break::before { position: absolute; left: 0px; width: 100%; height: 1px; margin-top: -16px; background-color: rgb(218, 218, 218); content: ""; }
}

@media screen and (min-width: 992px) {
  .gnav-submenu-wrapper { pointer-events: none; }
}

@media screen and (min-width: 992px) {
  .is-open > .gnav-submenu-wrapper { visibility: visible; opacity: 1; pointer-events: unset; }
}

@media screen and (min-width: 992px) {
  .subsite-navigation__item[data-nav-level="2"], .subsite-navigation__item[data-nav-level="3"] { display: block; padding-left: 0px; }
}

@media screen and (min-width: 992px) {
  .gnav-submenu.columns-2 { column-count: 2; column-gap: 16px; }
  .gnav-submenu.columns-3 { column-count: 3; column-gap: 16px; }
  .gnav-submenu.columns-4 { column-count: 4; column-gap: 16px; }
  .gnav-submenu.columns-5 { column-count: 5; column-gap: 16px; }
}

@media screen and (min-width: 992px) {
  .secondary-navigation.two-level { white-space: nowrap; }
  .secondary-navigation.two-level .is-open > .gnav-submenu-wrapper { display: block; }
  .secondary-navigation.two-level .is-open > .gnav-submenu-wrapper.open-left { left: auto; right: 0px; margin: 0px auto; }
  .secondary-navigation.two-level .subsite-category--first.is-open > .gnav-submenu-wrapper { left: -10px; }
  .secondary-navigation.two-level .gnav-submenu-wrapper { position: absolute; z-index: -1; top: 100%; left: auto; right: auto; width: auto; margin: auto; padding: 16px 32px; display: none; }
}

@media screen and (min-width: 992px) and (min-width: 1232px) {
  .secondary-navigation.two-level .gnav-submenu-wrapper { column-gap: 32px; }
}

@media screen and (min-width: 992px) {
  .secondary-navigation.two-level [data-ui="nav-level-2-wrapper"] { display: block; }
}

@media screen and (min-width: 992px) {
  .secondary-navigation.two-level .subsite-category { position: relative; }
}

@media screen and (min-width: 992px) {
  .secondary-navigation.two-level .subsite-navigation__item[data-nav-level="2"], .secondary-navigation.two-level .subsite-navigation__item[data-nav-level="3"] { padding-right: 0px; }
}

@media screen and (min-width: 992px) {
  .secondary-navigation.three-level .gnav-submenu-wrapper { position: absolute; z-index: -1; top: 100%; right: 0px; left: 0px; width: 100%; max-width: 1200px; margin: 0px auto; display: flex; flex-wrap: wrap; gap: 32px; }
  .secondary-navigation.three-level .columns-4 > .subsite-navigation__item[data-nav-level="2"] { flex: 0 0 calc(25% - 12px); padding-bottom: 0px; }
  .secondary-navigation.three-level .columns-4 > .subsite-navigation__item[data-nav-level="2"] [data-is-leaf="true"] { white-space: normal; }
  .secondary-navigation.three-level .columns-5 { flex: 1 1 0%; }
  .secondary-navigation.three-level .columns-5 > .subsite-navigation__item[data-nav-level="2"] { flex: 0 0 calc(20% - 12.8px); padding-bottom: 0px; }
  .secondary-navigation.three-level .columns-5.full-width-4-col > .subsite-navigation__item[data-nav-level="2"] { flex: 0 0 calc(25% - 12px); }
  .secondary-navigation.three-level .subsite-navigation__item[data-nav-level="3"] { font-size: 14px; }
  .secondary-navigation.three-level .single-list.columns-5.columns > .subsite-navigation__item[data-nav-level="2"] { flex: 0 0 100%; }
  .secondary-navigation.three-level .single-list [data-ui="nav-level-3-wrapper"] { width: 100%; column-count: 5; }
}

@media screen and (min-width: 992px) {
  .gnav-submenu-wrapper__header { width: 100%; display: flex; justify-content: center; }
  .gnav-submenu-wrapper__header-link { box-shadow: rgb(146, 139, 128) 0px 0px 0px 1px inset; border: none; outline: none; border-radius: 4px; padding: 8px 12px; background-color: rgb(249, 248, 246); fill: rgb(78, 77, 73); color: rgb(78, 77, 73); font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; letter-spacing: -0.08px; font-size: 14px; line-height: 18px; font-weight: 500; text-decoration: none; vertical-align: middle; display: inline-flex; transition: box-shadow 0.2s cubic-bezier(0.15, 0, 0.15, 0) 0s, background-color 0.2s cubic-bezier(0.15, 0, 0.15, 0) 0s, color 0.2s cubic-bezier(0.15, 0, 0.15, 0) 0s, fill 0.2s cubic-bezier(0.15, 0, 0.15, 0) 0s; }
  .gnav-submenu-wrapper__header-link:focus, .gnav-submenu-wrapper__header-link:hover { outline: none; box-shadow: rgb(78, 77, 73) 0px 0px 0px 3px inset, rgba(12, 11, 8, 0.2) 0px 2px 2px 0px; background-color: rgb(244, 242, 237); fill: rgb(78, 77, 73); color: rgb(78, 77, 73); text-decoration: none; }
  .gnav-submenu-wrapper__header-link:active { fill: rgb(249, 248, 246); color: rgb(249, 248, 246); background-color: rgb(146, 139, 128); box-shadow: rgb(146, 139, 128) 0px 0px 0px 3px inset, rgb(244, 242, 237) 0px 0px 0px 5px inset; }
}

.gnav .actions--masthead { display: flex; align-items: center; justify-content: flex-end; margin-bottom: 0px; margin-top: 0px; padding-left: 0px; letter-spacing: -0.16px; }

.gnav .actions--masthead .actions__item { padding: 0px 2px; }

@media screen and (min-width: 992px) {
  .gnav .actions--masthead { margin-right: -8px; }
}

@media screen and (max-width: 991px) {
  .gnav .actions--masthead .icon-button, .gnav .actions--masthead .icon-link { padding: 8px; }
}

@media screen and (max-width: 320px) {
  .gnav .actions--masthead .icon-link { padding: 4px; }
  .gnav .actions--masthead .actions__item { padding: 0px; }
  .gnav .actions--masthead .toggle-mobile-menu { margin-left: 8px; }
}

.gnav .actions--mobile .icon-link { display: block; width: 100%; margin-bottom: 0px; margin-top: 0px; padding: 16px; }

.gnav .actions__item { position: relative; list-style-type: none; }

@media screen and (max-width: 991px) {
  .gnav .actions__item.account-link { position: absolute; top: 0px; display: flex; align-items: center; width: 100%; }
}

.gnav .actions--masthead .icon-link, .gnav .actions--mobile .icon-link { text-decoration: none; }

.gnav .actions--masthead .icon-link:focus, .gnav .actions--masthead .icon-link:hover, .gnav .actions--mobile .icon-link:focus, .gnav .actions--mobile .icon-link:hover { text-decoration: underline; }

.gnav .actions--masthead .icon-link.two-story-text:focus, .gnav .actions--masthead .icon-link.two-story-text:hover, .gnav .actions--mobile .icon-link.two-story-text:focus, .gnav .actions--mobile .icon-link.two-story-text:hover { text-decoration: none; }

.gnav[data-toggle="closed"] .close-button, .gnav[data-toggle="open"] .open-button { display: none; }

.gnav[data-toggle="open"] .close-button::after { position: absolute; top: calc(100% + 12px); left: 0px; width: 100%; height: 4px; background-color: rgb(41, 41, 41); content: ""; }

@media screen and (max-width: 767px) {
  .gnav[data-toggle="open"] .close-button::after { top: calc(100% + 8px); }
}

@media screen and (max-width: 320px) {
  .gnav[data-toggle="open"] .close-button::after { top: calc(100% + 9px); }
}

.gnav [data-js="cart-button"] { position: relative; }

.gnav [data-js="cart-button"]:not([data-count-label])::before { display: none; }

.gnav [data-js="cart-button"]::before { font-style: normal; font-weight: 400; letter-spacing: -0.08px; font-family: Roboto, Graphik, "Helvetica Neue", sans-serif; font-size: 12px; line-height: 12px; content: attr(data-count-label); position: absolute; top: -4px; left: 25px; transform: translateX(-30%); color: rgb(255, 255, 255); padding: 1px 2px; background: rgb(31, 81, 63); border: 1px solid rgb(31, 81, 63); box-sizing: border-box; box-shadow: rgba(12, 11, 8, 0.2) 0px 4px 4px 0px; border-radius: 2px; }

@media (min-width: 992px) {
  .gnav [data-js="cart-button"]::before { top: -1px; left: 32px; }
}

@media screen and (max-width: 320px) {
  .gnav [data-js="cart-button"]::before { top: -8px; left: 21px; }
}

@media screen and (max-width: 991px) {
  .gnav .backdrop, .gnav[data-toggle="open"] .backdrop { width: 100%; height: 150%; transition: visibility 0.75s ease-in-out 0s, background-color 0.75s ease-in-out 0s; }
  .gnav .subsite-navigation, .gnav .subsite-navigation__list[data-nav-level="2"], .gnav .subsite-navigation__list[data-nav-level="3"], .gnav[data-toggle="open"] .subsite-navigation { transition: visibility 0.75s ease-in-out 0s, left 0.75s ease-in-out 0s; }
  .gnav .backdrop { position: fixed; visibility: hidden; background-color: transparent; border: 0px; padding: 0px; box-shadow: rgba(0, 0, 0, 0.3) -3px 1px 2px 0px; content: ""; cursor: pointer; }
  .gnav .subsite-navigation { position: fixed; visibility: hidden; margin-left: calc(100% - 319px); width: 319px; bottom: 0px; overflow: hidden scroll; background-color: rgb(255, 255, 255); z-index: 1; left: 100%; letter-spacing: -0.16px; color: rgb(41, 41, 41); box-sizing: border-box; font-weight: 400; }
  .gnav .subsite-navigation.hide-level-1 > [data-nav-level="1"] { visibility: hidden; transition: visibility 0.75s ease-in-out 0s; }
  .gnav .subsite-navigation__list { list-style-type: none; margin-bottom: 0px; margin-top: 0px; padding-left: 0px; }
  .gnav .subsite-navigation__list[data-nav-level="2"], .gnav .subsite-navigation__list[data-nav-level="3"] { position: absolute; visibility: hidden; left: 100%; top: 0px; width: 100%; min-height: 100%; background-color: rgb(255, 255, 255); }
  .gnav .subsite-navigation__list[data-nav-level="2"][data-toggle="open"], .gnav .subsite-navigation__list[data-nav-level="3"][data-toggle="open"] { overflow-x: hidden; visibility: visible; left: 0px; }
  .gnav .secondary-navigation { position: relative; display: block; width: 100%; z-index: 0; }
  .gnav .secondary-navigation__middle { display: block; visibility: hidden; position: relative; width: 100%; transition: visibility 0.75s ease-in-out 0s; z-index: 9996; }
  .gnav[data-toggle="open"] .secondary-navigation__middle { visibility: visible; }
  .gnav[data-toggle="open"] .backdrop { background-color: rgba(0, 0, 0, 0.5); visibility: visible; }
  .gnav[data-toggle="open"] .subsite-navigation { visibility: visible; left: 0px; }
}

@media screen and (max-width: 991px) {
  .gnav .subsite-navigation .actions__item { background-color: rgb(244, 242, 237); border-bottom: 1px solid rgb(218, 218, 218); }
  .gnav .subsite-navigation .actions__item .icon-link { display: flex; justify-content: flex-start; }
  .gnav .subsite-navigation .subsite-category__custom--sale .subsite-category__title, .gnav .subsite-navigation .subsite-category__custom--sale:focus .subsite-category__title, .gnav .subsite-navigation .subsite-category__custom--sale:hover .subsite-category__title { color: rgb(199, 55, 15); text-shadow: rgb(199, 55, 15) 0.5px 0px 0px; }
  .gnav .subsite-navigation .mobile-submenu-title__item, .gnav .subsite-navigation__item { border-bottom: 1px solid rgb(218, 218, 218); }
  .gnav .subsite-navigation .mobile-submenu-title__text:active, .gnav .subsite-navigation .mobile-submenu-title__text:focus { text-decoration-line: underline; outline: none; color: rgba(12, 11, 8, 0.75); box-shadow: rgb(32, 32, 29) 0px 0px 0px 2px inset; border-radius: 2px; }
  .gnav .subsite-navigation .mobile-submenu-title__text:hover { color: rgba(3, 3, 1, 0.9); text-decoration-line: underline; }
  .gnav .subsite-navigation .mobile-submenu-title__text:hover .subsite-navigation__text { color: rgba(3, 3, 1, 0.9); }
  .gnav .subsite-navigation .icon-link, .gnav .subsite-navigation__link { text-decoration: none; border: none; padding: 16px 16px 17px; width: 100%; display: flex; background-color: inherit; justify-content: space-between; align-items: center; font-family: Graphik, "Helvetica Neue", sans-serif; font-size: 16px; }
  .gnav .subsite-navigation .icon-link:active, .gnav .subsite-navigation .icon-link:focus, .gnav .subsite-navigation__link:active, .gnav .subsite-navigation__link:focus { outline: none; color: rgba(12, 11, 8, 0.75); box-shadow: rgb(32, 32, 29) 0px 0px 0px 2px inset; border-radius: 2px; }
  .gnav .subsite-navigation .icon-link:active .subsite-navigation__text, .gnav .subsite-navigation .icon-link:focus .subsite-navigation__text, .gnav .subsite-navigation__link:active .subsite-navigation__text, .gnav .subsite-navigation__link:focus .subsite-navigation__text { color: rgba(3, 3, 1, 0.9); }
  .gnav .subsite-navigation .icon-link:hover, .gnav .subsite-navigation__link:hover { cursor: pointer; color: rgba(3, 3, 1, 0.9); }
  .gnav .subsite-navigation .icon-link:hover .subsite-navigation__text, .gnav .subsite-navigation__link:hover .subsite-navigation__text { color: rgba(3, 3, 1, 0.9); }
  .gnav .subsite-navigation .icon-link[data-is-leaf="true"], .gnav .subsite-navigation__link[data-is-leaf="true"] { padding-top: 16px; padding-bottom: 16px; }
  .gnav .subsite-navigation .icon-link[data-is-leaf="true"]:active, .gnav .subsite-navigation .icon-link[data-is-leaf="true"]:focus, .gnav .subsite-navigation .icon-link[data-is-leaf="true"]:hover, .gnav .subsite-navigation__link[data-is-leaf="true"]:active, .gnav .subsite-navigation__link[data-is-leaf="true"]:focus, .gnav .subsite-navigation__link[data-is-leaf="true"]:hover { text-decoration-line: underline; }
  .gnav .subsite-navigation .icon-link.mobile-menu-header, .gnav .subsite-navigation__link.mobile-menu-header { font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 500; letter-spacing: 0px; font-size: 16px; color: rgba(12, 11, 8, 0.75); line-height: 24px; padding-left: 40px; background: rgb(244, 242, 237); align-items: center; justify-content: center; position: relative; }
  .gnav .subsite-navigation .icon-link.mobile-menu-header .gnav-icon, .gnav .subsite-navigation__link.mobile-menu-header .gnav-icon { position: absolute; left: 16px; }
  .gnav .subsite-navigation .icon-link.mobile-submenu-title__text, .gnav .subsite-navigation__link.mobile-submenu-title__text { font-weight: 500; line-height: 24px; color: rgba(12, 11, 8, 0.75); }
  .gnav .subsite-navigation__text { color: rgba(12, 11, 8, 0.75); height: auto; line-height: 24px; }
}

.gnav .extra { list-style-type: none; width: 100%; padding-left: 0px; }

.gnav .merch-zone { background-color: rgb(244, 242, 237); padding-left: 0px; }

.gnav .merch-zone__text { font-family: Graphik, "Helvetica Neue", sans-serif; font-weight: 600; font-size: 14px; line-height: 18px; letter-spacing: -0.08px; color: rgba(12, 11, 8, 0.75); }

.gnav .merch-zone__list { list-style-type: none; margin: 0px 16px 16px; padding: 8px 0px; }

.gnav .merch-zone__item { padding-left: 0px; font-family: Graphik, "Helvetica Neue", sans-serif; font-size: 14px; font-weight: 500; min-height: 20px; margin-top: 8px; }

.gnav .merch-zone__link { color: rgba(12, 11, 8, 0.75); text-decoration: none; }

.gnav .merch-zone__img { width: 100%; display: none; }

.gnav .merch-zone__img.loaded { display: block; }

@media screen and (max-width: 991px) {
  .gnav .merch-zone__list { margin: 0px; padding: 0px; }
  .gnav .merch-zone__item { margin: 0px; border-bottom: 1px solid rgb(218, 218, 218); }
  .gnav .merch-zone__link { display: block; text-decoration: none; color: rgb(41, 41, 41); padding: 14px 16px; }
  .gnav .merch-zone__link:active, .gnav .merch-zone__link:focus { text-decoration-line: underline; outline: none; color: rgba(12, 11, 8, 0.75); box-shadow: rgb(32, 32, 29) 0px 0px 0px 2px inset; border-radius: 2px; }
  .gnav .merch-zone__link:hover { color: rgba(3, 3, 1, 0.9); text-decoration-line: underline; }
  .gnav .merch-zone__link:hover .subsite-navigation__text { color: rgba(3, 3, 1, 0.9); }
  .gnav .merch-zone__text { margin-bottom: 0px; font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 500; letter-spacing: 0px; line-height: 24px; font-size: 16px; }
}

.gnav[data-toggle="open"] .merch-zone__img { display: block; opacity: 1; }

.gnav .explore__item { font-family: Graphik, "Helvetica Neue", sans-serif; font-size: 14px; font-weight: 500; height: 20px; line-height: 20px; }

.gnav .explore__item.left { margin: 8px 16px 8px 0px; }

.gnav .explore__item.right { margin: 8px 0px 8px 16px; }

.gnav .explore__link { font-family: Graphik, "Helvetica Neue", sans-serif; font-weight: 600; font-size: 14px; line-height: 24px; letter-spacing: -0.08px; color: rgba(12, 11, 8, 0.75); }

@media screen and (max-width: 991px) {
  .gnav .explore__link:active, .gnav .explore__link:focus { text-decoration-line: underline; outline: none; color: rgba(12, 11, 8, 0.75); box-shadow: rgb(32, 32, 29) 0px 0px 0px 2px inset; border-radius: 2px; }
  .gnav .explore__link:hover { text-decoration-line: underline; }
  .gnav .explore__link:hover, .gnav .explore__link:hover .subsite-navigation__text { color: rgba(3, 3, 1, 0.9); }
}

@media screen and (max-width: 991px) {
  .gnav .subsite-navigation .help-center { display: flow-root; margin: 32px 0px 32px 15px; }
  .gnav .subsite-navigation .help-center-title { margin: unset; }
  .gnav .subsite-navigation .help-center__header { margin-bottom: 24px; color: rgba(12, 11, 8, 0.75); font-size: 18px; line-height: 24px; }
  .gnav .subsite-navigation .help-center__header, .gnav .subsite-navigation .help-center__link { font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 500; letter-spacing: 0px; }
  .gnav .subsite-navigation .help-center__link { font-size: 16px; line-height: 22px; display: flex; justify-content: flex-start; margin-left: 8px; margin-bottom: 10px; padding: 0px 8px 0px 0px; width: fit-content; color: rgb(64, 110, 181); text-decoration: revert; }
  .gnav .subsite-navigation .help-center__link.has-details { margin-bottom: 8px; }
  .gnav .subsite-navigation .help-center__link:active, .gnav .subsite-navigation .help-center__link:focus, .gnav .subsite-navigation .help-center__link:hover { font-weight: 600; color: rgb(64, 110, 181); }
  .gnav .subsite-navigation .help-center__text { margin: 0px 0px 0px 8px; font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 400; letter-spacing: 0.08px; font-size: 16px; line-height: 26px; }
  .gnav .subsite-navigation .help-center__text--last { margin-bottom: 16px; }
}

.gnav [data-visible="hidden"] { display: none; }

.gnav .recent-search-box, .gnav .suggestion-box { position: absolute; z-index: 1; top: 100%; left: 0px; width: 100%; }

.gnav .recent-search-list, .gnav .suggestion-list { padding: 0px; margin: 0px; border-right: 1px solid rgb(218, 218, 218); border-bottom: 1px solid rgb(218, 218, 218); border-left: 1px solid rgb(218, 218, 218); background-color: rgb(255, 255, 255); cursor: pointer; }

.gnav .searchbox-result { display: block; padding-left: 10px; font-weight: 400; line-height: 35px; list-style-type: none; }

.gnav .searchbox-result:last-child { border-bottom: none; }

.gnav .searchbox-term { background-color: rgb(233, 233, 233); text-decoration: underline; }

.gnav .search-history__entry { list-style-type: none; cursor: auto; }

.gnav .search-history__entry.searchbox-term > .search-history__button { text-decoration: underline; }

.gnav .search-history__title { padding-left: 10px; line-height: 35px; font-weight: 700; margin: 0px; pointer-events: none; border-bottom: 1px solid rgb(218, 218, 218); }

.gnav .search-history__button { color: rgb(50, 120, 174); font-size: 16px; width: 100%; text-align: left; background: none; cursor: pointer; border-right: none; border-bottom: none; border-left: none; border-image: initial; border-top: 1px solid rgb(218, 218, 218); padding: 0px 0px 0px 10px; line-height: 35px; }

.gnav::-webkit-search-cancel-button, .gnav::-webkit-search-decoration { appearance: none; }

.gnav [type="search"] { outline-offset: -2px; appearance: none; }

.gnav [type="search"]::-webkit-search-cancel-button, .gnav [type="search"]::-webkit-search-decoration { appearance: none; }

.gnav .search { display: flex; align-items: center; justify-content: flex-end; margin-bottom: 0px; width: 100%; margin-right: 2px; }

.gnav .search__search-button--disabled { pointer-events: none; color: rgb(209, 203, 189); }

.gnav .search__search-button--disabled svg { fill: rgb(209, 203, 189); }

.gnav .search__body { display: flex; align-items: center; position: relative; }

.gnav .search__body .cdr-display-sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px; }

.gnav .search__icon-button, .gnav .search__icon-button--last { position: relative; margin-left: -46px; padding: 8px 10px; order: 1; transition: order 1s step-end 0s; }

@media screen and (max-width: 320px) {
  .gnav .search__icon-button, .gnav .search__icon-button--last { padding: 4px; }
}

.gnav .search__icon-button:active, .gnav .search__icon-button:focus { border-radius: 0px; }

.gnav .search__icon-button--last:active, .gnav .search__icon-button--last:focus { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }

.gnav .search__input { display: block; visibility: visible; overflow: visible; height: 46px; padding: 0px 90px 0px 10px; background-color: rgba(255, 255, 255, 0.85); color: rgb(32, 32, 29); font-family: Graphik, "Helvetica Neue", sans-serif; font-style: normal; font-weight: 400; letter-spacing: -0.16px; font-size: 16px; line-height: 22px; border: 0px; box-shadow: rgb(146, 139, 128) 0px 0px 0px 1px inset; border-radius: 4px; position: relative; }

.gnav .search__input::placeholder { font-size: 16px; color: rgba(66, 59, 47, 0.75); opacity: 1; }

.gnav .search__input:active, .gnav .search__input:focus { outline: none; box-shadow: rgb(32, 32, 29) 0px 0px 0px 2px inset, rgba(12, 11, 8, 0.2) 0px 2px 2px 0px; }

.gnav .search__cancel { display: none; visibility: hidden; font-size: 16px; opacity: 0; width: 0px; padding: 0px; border: none; background-color: transparent; transition: width 0.6s ease 0s, visibility 0s ease 0s; }

.gnav .search__cancel:active, .gnav .search__cancel:focus { outline: none; color: rgba(12, 11, 8, 0.75); box-shadow: rgb(32, 32, 29) 0px 0px 0px 2px; border-radius: 2px; }

.gnav .search #clear-button { order: 1; visibility: hidden; }

.gnav .search #clear-button[data-visible="visible"] { visibility: visible; }

.gnav .search #clear-button[data-visible="hidden"] { visibility: hidden; }

@media screen and (min-width: 992px) {
  .gnav .search--static { padding-left: 36px; }
}

.gnav .search--static .search__body { width: 100%; }

@media screen and (min-width: 992px) {
  .gnav .search--static .search__body { max-width: 480px; }
}

.gnav .search--static .search__input { width: 100%; margin-right: -44px; box-sizing: border-box; }

.gnav .search--dynamic .search__input { transition: width 0.6s ease 0s, padding 0.6s ease 0s; }

@media screen and (min-width: 992px) {
  .gnav .search--dynamic .search__input { width: 100px; }
}

@media screen and (min-width: 992px) {
  .gnav .masthead[data-expanded="true"] .search--dynamic .search__input, .gnav .search--dynamic .search__input:focus { width: 370px; }
}

@media screen and (max-width: 991px) {
  .gnav .masthead:not(.search-open-on-mobile) .search__icon-button:active, .gnav .masthead:not(.search-open-on-mobile) .search__icon-button:focus { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
  .gnav .masthead:not(.search-open-on-mobile) .search__icon-button--last:active, .gnav .masthead:not(.search-open-on-mobile) .search__icon-button--last:focus { border-radius: 2px; }
  .gnav .masthead:not(.search-open-on-mobile) .search #clear-button { height: 42px; width: 42px; }
}

@media screen and (max-width: 991px) {
  .gnav .masthead:not(.search-open-on-mobile)[data-expanded="true"] .search .icon-button { order: -1; margin-left: 0px; }
  .gnav .masthead:not(.search-open-on-mobile)[data-expanded="true"] .search__body { width: 90%; justify-content: flex-end; transition: width 1s ease 0s; }
  .gnav .masthead:not(.search-open-on-mobile)[data-expanded="true"] .search__input { width: 100%; transition: width 0.6s ease 0s; padding: 0px 44px 0px 10px; }
  .gnav .masthead:not(.search-open-on-mobile)[data-expanded="true"] .search__cancel { width: auto; display: unset; visibility: visible; opacity: 1; margin-left: 16px; margin-right: 8px; }
}

@media screen and (max-width: 991px) {
  .gnav .masthead:not(.search-open-on-mobile)[data-expanded="false"] .search .icon-button { margin-left: 0px; order: -1; }
  .gnav .masthead:not(.search-open-on-mobile)[data-expanded="false"] .search__body { width: 0px; transition: width 0.6s ease 0s; }
  .gnav .masthead:not(.search-open-on-mobile)[data-expanded="false"] .search__input { visibility: hidden; width: 0px; padding-left: 0px; padding-right: 0px; border: none; transition: all 0.6s ease 0s; }
  .gnav .masthead:not(.search-open-on-mobile)[data-expanded="false"] .search #clear-button { visibility: hidden; }
}
