@charset "utf-8";

.Skin .LanguageSelectorContainer { margin-top: 0px; margin-bottom: 0px; text-align: right; }

.Skin #Logo { margin-bottom: 0px; }

.Skin #HeaderContainer { margin: 0px; }

.LanguageSelectorContainer { display: none; }
