@charset "utf-8";

.error-field .form-control-label { color: rgb(220, 0, 25); }

.error-field input { border-color: rgb(220, 0, 25); }

.sf-page__silho .js-recommendation-wrapper .js-swiper-wrapper a { text-decoration: none; padding: 0px !important; }

@media screen and (min-width: 1024px) {
  .fitguide-container .g-carousel-slide { width: 330px; }
}

.a_stylesize { text-decoration: none; }

.b-loyalty-checkbox-group_label-logo .b-logo-image { display: block; margin: 0px 0px 0.5rem; }

.b-loyalty-checkbox-group .checkbox-loyalty .g-checkbox-label { display: flex; flex-flow: column nowrap; align-items: flex-start; justify-content: center; text-align: left; }

.b-loyalty-checkbox-group .checkbox-loyalty .g-checkbox-label::after { top: 0px; }

.b-loyalty-checkbox-group .checkbox-loyalty .g-checkbox-label::before { top: 0.5rem; }

.b-loyalty-checkbox-group .custom-checkbox { margin: 0px 0px 1.25rem; }

@media screen and (min-width: 1024px) {
  .b-loyalty-checkbox-group .custom-checkbox { margin: 0px 0px 0.625rem; }
}

.g-modal-loyalty .g-modal-dialog { max-width: 26.5625rem; margin: 2rem auto; min-height: calc(100% - 4rem); text-align: center; }

.g-modal-loyalty .g-modal-header { text-align: center; }

.g-modal-loyalty .g-modal-content { padding: 3.625rem 2.8125rem 2.8125rem; }

.g-modal-loyalty .g-modal-close { top: 0.875rem; right: 0.875rem; }

.g-modal-loyalty .g-modal-close .g-modal-close-button { width: 1.375rem; height: 1.375rem; }

.g-modal-loyalty .g-modal-close .g-modal-close-button::after, .g-modal-loyalty .g-modal-close .g-modal-close-button::before { width: 1.375rem; height: 0.125rem; }

.g-modal-loyalty .b-alert-icon::before { content: ""; font-style: normal; font-weight: 400; line-height: 1; font-variant: normal; color: inherit; speak: none; text-transform: none; -webkit-font-smoothing: antialiased; font-size: 2rem; font-family: icomoon !important; }

.g-loyalty-enrolled-success .g-modal-content { padding: 3.625rem 0px 1.5rem; }

.g-loyalty-enrolled-success .g-modal-header { margin: 0px 0px 1rem; }

.g-loyalty-enrolled-success .g-modal-header_title { font-size: 1.5rem; }

.g-loyalty-enrolled-success .g-modal-body p { font-size: 0.875rem; line-height: 1.25rem; }

.g-loyalty-enrolled-success .g-modal-footer { margin: 1.5rem 0px 0px; }

.g-loyalty-enrolled-success_inner-wrapper { text-align: center; padding: 0px 2.5rem; }

.g-loyalty-enrolled-success_btn-group { display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; gap: 1rem 0px; }

.g-loyalty-enrolled-success_img { width: 100%; margin: 0px 0px 1.5rem; }

.g-loyalty-enrolled-success_img img { display: block; width: 100%; }

.g-loyalty-enrolled-success_icon { margin: 0px 0px 0.5rem; }

.b-gated-enrollment { display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; margin: 6.25rem auto; text-align: center; }

.b-gated-enrollment .b-gated-enrollment_form { width: 100%; }

.b-gated-enrollment_header { text-align: center; margin: 0px 0px 1rem; font-weight: 400; font-size: 0.875rem; line-height: 1.25rem; }

.b-gated-enrollment_header-login { margin: 0px 0px 1.5rem; max-width: 20rem; }

.b-gated-enrollment_header-waitlist { margin: 0px 0px 1.5rem; }

.b-gated-enrollment_header_bold { margin: 1.5rem 0px 1rem; font-weight: 700; font-size: 1.5rem; line-height: 2rem; }

.b-gated-enrollment_header_extended { margin: 0px 0px 1.5rem; }

.b-gated-enrollment_intro { font-weight: 500; font-size: 1rem; line-height: 1.25rem; }

.b-gated-enrollment_callout { font-stretch: condensed; letter-spacing: 0.0625rem; margin: 1.5rem 0px; font-weight: 700; font-size: 4rem; line-height: 4rem; }

@media screen and (max-width: 1023px) {
  .b-gated-enrollment_callout { font-size: 1.5rem; line-height: 1.5rem; }
}

.b-gated-enrollment_tq { margin: 1.5rem auto 0px; max-width: 23.4375rem; font-weight: 400; font-size: 0.75rem; line-height: 1.25rem; }

.b-gated-enrollment_waitlist-form { max-width: 23.4375rem; padding: 0px 1.5rem; }

.b-gated-enrollment .form-group { width: 100%; }

.b-gated-enrollment_input-zip { margin: 0px 0px 1.5rem; }

.b-gated-enrollment_input-waitlist { margin: 0px 0px 1rem; }

.b-gated-enrollment_icon-status { margin: 0px 0px 0.5rem; line-height: 1; }

.b-gated-enrollment_submit { margin: 0px 0px 1.5rem; }

.b-gated-enrollment .register-login { margin: 1rem 0px 0px; font-size: 0.75rem; }

.b-gated-enrollment .register-login a { font-weight: 400; }

.b-gated-enrollment_fixed-width { max-width: 20.4375rem; margin-left: auto; margin-right: auto; }

.b-block-group { width: 100%; max-width: 16rem; display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; gap: 1rem 0px; }

.b-block-group_create-account { margin: 0px 0px 1.5rem; }

.g-modal-loyalty-enroll-repeat .g-modal-content { padding: 3.625rem 0px 1.5rem; }

.g-modal-loyalty-enroll-repeat .modal-body { text-align: center; }

.g-modal-loyalty-enroll-repeat .b-gated-enrollment { max-width: 100%; margin: 0px; }

.g-checkbox_loyalty-hide { visibility: hidden !important; height: 0px !important; margin: 0px !important; padding: 0px !important; }

.g-modal-loginform .g-modal-dialog .login_enroll-rewards .b-input_row-combine { padding: 0px 0px 1.5rem; }

.g-modal-loginform .g-modal-dialog .login_enroll-rewards .g-checkbox_loyalty-enroll { margin: 0px 0px 1.5rem; }
