@charset "utf-8";

.css-19u26w1 { cursor: pointer; color: rgb(0, 107, 194); text-decoration: none; }

.css-19u26w1:hover { text-decoration: underline; }

.css-19u26w1:focus { border-radius: 4px; box-shadow: rgb(0, 107, 194) 0px 0px 8px; text-decoration: none; }

.css-19u26w1:active { border-radius: 4px; box-shadow: none; background-color: rgba(192, 192, 192, 0.4); text-decoration: none; }

h1 .css-19u26w1, h2 .css-19u26w1, h3 .css-19u26w1, h4 .css-19u26w1, h5 .css-19u26w1, h6 .css-19u26w1 { color: inherit; text-decoration: none; }

h1 .css-19u26w1:hover, h2 .css-19u26w1:hover, h3 .css-19u26w1:hover, h4 .css-19u26w1:hover, h5 .css-19u26w1:hover, h6 .css-19u26w1:hover { color: rgb(0, 107, 194); text-decoration: none; }
