@charset "utf-8";

.css-4dypq0 { box-sizing: initial; height: 0px; background-color: rgb(235, 235, 235); padding: 16px 0px; background-image: linear-gradient(103deg, transparent 33%, rgba(255, 255, 255, 0.6) 50%, transparent 66%); background-size: 300% 100%; animation: 1.5s ease 0s infinite normal none running animation-ztunu2; margin-bottom: 16px; width: 50%; }

@media (max-width: 564px) {
  .css-4dypq0 { width: 100%; }
}
