@charset "utf-8";

.css-cje431 { -webkit-box-align: center; align-items: center; display: flex; box-sizing: border-box; font-family: Montserrat, sans-serif; line-height: 24px; font-weight: 800; letter-spacing: 0px; min-height: 48px; font-size: 18px; padding-left: 32px; padding-right: 32px; background: rgb(243, 188, 42); color: rgb(0, 0, 0); transition: background 0.25s ease 0s, box-shadow 0.25s ease 0s; transform: scale(1); }

.css-cje431 span { height: 24px; }

.css-cje431::after { content: ""; min-height: inherit; }

.css-cje431[disabled], .css-cje431[disabled]:hover, .css-cje431.disabled, .css-cje431.disabled:hover, .css-cje431:disabled { pointer-events: none; }
