@charset "utf-8";

.css-mn48vc { font-family: "Open Sans", sans-serif, Tahoma, Arial; font-size: 16px; font-weight: 400; letter-spacing: 0px; color: rgb(80, 80, 80); line-height: 26px; margin-bottom: 12px; break-inside: avoid; padding-bottom: 4px; padding-top: 4px; }

.css-mn48vc a { display: block; padding: 7px 0px; }
