@charset "utf-8";

.css-1raiahy { box-sizing: initial; height: 0px; background-color: rgb(235, 235, 235); padding: 16px; background-image: linear-gradient(103deg, transparent 33%, rgba(255, 255, 255, 0.6) 50%, transparent 66%); background-size: 300% 100%; animation: 1.5s ease 0s infinite normal none running animation-ztunu2; width: 100px; }
