@charset "utf-8";

.css-p2lm8j { padding-left: 0px; margin: 0px; list-style-type: none; }

@media (min-width: 360px) {
  .css-p2lm8j { column-count: 2; column-gap: 8px; }
}

@media (min-width: 564px) {
  .css-p2lm8j { column-count: 2; column-gap: 8px; }
}

@media (min-width: 768px) {
  .css-p2lm8j { column-count: 2; column-gap: 8px; }
}

@media (min-width: 1024px) {
  .css-p2lm8j { column-count: 2; column-gap: 8px; }
}

@media (min-width: 1280px) {
  .css-p2lm8j { column-count: 2; column-gap: 8px; }
}
