@charset "utf-8";

.fc-modal { background-color: rgba(0, 0, 0, 0.5); display: none; font-family: Arial, Helvetica, sans-serif; height: 100%; left: 0px; overflow: auto; padding-top: 100px; position: fixed; top: 0px; width: 100%; z-index: 2147483601; }

.fc-modal-content { animation-duration: 0.4s; animation-name: zoomIn; background-color: rgb(254, 254, 254); border: 1px solid rgb(136, 136, 136); border-radius: 5px; inset: 0px; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px; height: 200px; margin: auto; padding: 0px; position: fixed; width: 450px; }

@-webkit-keyframes zoomIn { 
  0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
  50% { opacity: 1; }
}

@keyframes zoomIn { 
  0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
  50% { opacity: 1; }
}

.fc-modal-header { background-color: rgb(255, 255, 255); height: 30px; padding: 2px 16px; }

.fc-modal-header h2 { font-size: 14px; height: 30px; margin-left: 25px; margin-right: 25px; margin-top: 20px; }

.fc-modal-body { height: 130px; margin-top: 20px; padding: 2px 16px; }

.fc-modal-body p { font-size: 14px; margin-left: 25px; margin-right: 25px; }

.fc-micro-phone-container .fc-modal-content { min-height: 250px; }

.fc-micro-phone-container .fc-micro-phone-desc { display: block; }

.fc-modal-footer { color: rgb(255, 255, 255); height: 60px; margin-right: 20px; padding: 2px 16px; text-align: right; }

.fc-modal-footer input:first-child { background: transparent; border: 0px; color: rgb(65, 61, 61); cursor: pointer; font-size: 12px; height: 30px; margin-right: 20px; width: 60px; }

.fc-modal-footer input:last-child { background-color: rgb(74, 144, 226); border: 0px; border-radius: 5px; cursor: pointer; font-size: 14px; height: 35px; }
