@charset "utf-8";

#Mr_CookieDisclaimer { position: relative; z-index: 2147483647; }

#Mr_CookieDisclaimer .content .left > a { font-weight: bold; color: rgb(0, 0, 0); text-decoration: underline; }

#Mr_CookieDisclaimer .content { background-color: rgb(255, 255, 255); position: fixed; left: 0px; bottom: 0px; margin: auto; right: 0px; max-width: 1400px; display: flex; align-items: center; box-shadow: rgb(46, 46, 46) 0px 0px 5px 0px; text-align: left; padding: 0px; min-height: unset; font-family: "Proxima Nova", Arial, Helvetica, sans-serif; color: rgb(65, 65, 65); font-weight: normal; }

.ie #Mr_CookieDisclaimer .content { width: 100%; }

#Mr_CookieDisclaimer .content .left { padding: 30px; flex: 1 1 65%; font-size: 18px; }

#Mr_CookieDisclaimer .content .right { padding: 10px 30px 10px 10px; text-align: center; }

#Mr_CookieDisclaimer .content .right > a { margin: 5px 0px; background-color: rgb(0, 0, 0); border: 1px solid rgb(0, 0, 0); padding: 5px 10px; border-radius: 5px; color: white; text-decoration: none; line-height: 18px; font-size: 16px; display: inline-block; }

@media only screen and (max-width: 650px) {
  #Mr_CookieDisclaimer .content { flex-wrap: wrap; }
  #Mr_CookieDisclaimer .content .left { padding: 15px; font-size: 16px; }
  #Mr_CookieDisclaimer .content .right { width: 100%; padding: 0px 15px 15px; font-size: 16px; }
}
