@charset "utf-8";

.payment-bank-card--warning { color: var(--tds-color--red10); }

.payment-bank-card--header { align-items: center; display: flex; height: 60px; }

.payment-bank-card--header > .payment-bank-card--edit-link { margin-left: 20px; }

.payment-bank-card--body { display: flex; overflow: hidden; }

.payment-bank-card--body > .card-issuer { margin-right: 20px; }
