@charset "utf-8";

#oo_feedback_fl_spacer { display: block; height: 1px; position: absolute; top: 0px; width: 100px; }

.oo_feedback_float { overflow: hidden; font-size: 1em; text-align: center; cursor: pointer; z-index: 999997; bottom: 0px; transition: -webkit-transform 0.3s ease 0s; position: fixed !important; top: auto !important; right: 35px !important; }

.oo_transparent { height: 0px !important; }

.oo_feedback_float .screen_reader { color: transparent; display: block; position: relative; height: 0px; width: 0px; line-height: 0; font-size: 0px; }

.oo_feedback_float .olUp:hover { transform: translate(-1.5px, -1.5px); box-shadow: rgb(199, 199, 199) 2.5px 2.5px 0px 0px; border: 1px solid rgb(215, 215, 215); background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(215, 215, 215) 100%); text-decoration: none; }

.oo_feedback_float .olUp { width: 100%; border: 1px solid rgb(215, 215, 215); background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(215, 215, 215) 100%); padding: 3px 15px 5px 35px; font-weight: 400; line-height: 1.42857; text-decoration: none; color: rgb(0, 0, 0); text-align: center; position: relative; touch-action: manipulation; cursor: pointer; user-select: none; white-space: nowrap; vertical-align: middle; z-index: 2; opacity: 1; transition: opacity 0.5s ease 0s; }

.oo_feedback_float .olUp::before { background: url("/etc/designs/avis/reservationlib/clientlib/images/oo_float_icon.gif") 0% 0% / 15px no-repeat; content: " "; width: 25px; height: 25px; padding: 0px; position: absolute; display: inline-block; left: 15px; top: 10px; }

.oo_feedback_float .olUp img { margin-bottom: 5px; }

.oo_feedback_float .fbText { display: block; }

.oo_feedback_float .olOver { display: none; }

.oo_cc_wrapper { left: 0px; padding: 0px; position: fixed; text-align: center; top: 25px; width: 100%; z-index: 999999; }

.oo_cc_wrapper .screen_reader { color: transparent; display: block; position: relative; height: 0px; width: 0px; line-height: 0; font-size: 0px; }

.oo_cc_wrapper span { width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; z-index: 1; }

.oo_cc_wrapper .iwrapper { background-color: rgb(255, 255, 255); margin: 0px auto; position: relative; width: 535px; z-index: 2; box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 15px; }

.oo_cc_wrapper iframe { position: relative; border: 0px; width: 100%; z-index: 4; }

.oo_cc_wrapper .oo_cc_close { position: absolute; display: block; background: rgb(255, 255, 255); height: 20px; width: 20px; border: 1px solid rgb(204, 204, 204); cursor: pointer; right: 5px; top: 5px; border-radius: 5px; transition: background 0.5s ease 0s; font-size: 1em; text-align: center; z-index: 5; color: rgb(37, 37, 37); text-decoration: none; }

.oo_cc_wrapper .oo_cc_close:hover { background: rgb(238, 238, 238); }

.oo_bar { padding-bottom: 22px; }

#oo_bar { cursor: pointer; color: rgb(37, 37, 37); border-top: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255); bottom: 0px; display: block; font-size: 1em; height: 22px; left: 0px; line-height: 22px; position: fixed; text-align: left; width: 100%; z-index: 999997; transition: background 0.5s ease 0s; }

#oo_bar:hover { background: rgb(238, 238, 238); }

#oo_bar .screen_reader { color: transparent; display: block; position: relative; height: 0px; width: 0px; line-height: 0; font-size: 0px; }

#oo_bar span { display: block; margin: 0px 15px; height: 100%; padding-left: 17px; }

#oo_tab { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); display: block; position: fixed; top: 45%; height: 110px; width: 35px; z-index: 999995; cursor: pointer; }

#oo_tab span { bottom: 15px; display: block; height: 9px; position: absolute; width: 9px; }

#oo_tab div { background-repeat: no-repeat; position: absolute; display: block; height: 100%; left: 0px; top: 0px; width: 100%; }

.oo_tab_left { left: -13px; border-radius: 0px 9px 9px 0px; transition: left 0.5s ease 0s; background-image: -webkit-linear-gradient(left, rgb(238, 238, 238), rgb(255, 255, 255)); }

.oo_tab_left span { right: 6px; }

.oo_tab_left div { background-position: 6px -10px; }

.oo_tab_left:hover { left: -5px; }

.oo_tab_right { right: -13px; border-radius: 9px 0px 0px 9px; transition: right 0.5s ease 0s; background-image: -webkit-linear-gradient(left, rgb(255, 255, 255), rgb(238, 238, 238)); }

.oo_tab_right span { left: 7px; }

.oo_tab_right div { background-position: -6px -10px; }

.oo_tab_right:hover { right: -5px; }

.oo_tab_ie_right { right: 1px; border-right: none !important; width: 25px !important; }

.oo_tab_ie_right:hover { right: 6px; width: 30px !important; }

#oo_container { position: fixed; height: 100%; width: 100%; top: 0px; left: 0px; z-index: 999999; }

#oo_invitation_prompt { background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 8px; border-radius: 9px; color: rgb(37, 37, 37); font: 14px / 20px Tahoma, Arial, san-serif; margin: 50px auto; text-align: left; padding: 20px 10px; position: relative; width: 350px; z-index: 999999; }

#oo_invitation_prompt h1 { font-size: 1.55em; font-weight: 100; margin-bottom: 0.6em; }

#oo_invitation_prompt p { margin-bottom: 1.5em; }

#oo_invitation_prompt #prompt_buttons { padding-bottom: 15px; position: relative; z-index: 5; }

#oo_invitation_prompt #oo_launch_prompt { text-decoration: none; color: rgb(255, 255, 255); border: 1px solid rgb(0, 102, 51); padding: 5px 11px; margin-right: 17px; }

#oo_invitation_prompt #oo_no_thanks { text-decoration: none; color: rgb(37, 37, 37); border: 1px solid rgb(204, 204, 204); padding: 5px 11px; margin-right: 18px; }

#oo_ol_brand { display: block; height: 22px; }

#oo_ol_brand { border-top: 1px solid rgb(204, 204, 204); }

#oo_invitation_prompt a { background: rgb(255, 255, 255); border-radius: 5px; transition: background 0.5s ease 0s; }

#oo_invitation_prompt a:hover { background: rgb(238, 238, 238); }

a#oo_launch_prompt { background: rgb(0, 102, 51); }

a#oo_launch_prompt:hover { background: rgb(0, 153, 102); }

#oo_close_prompt { position: absolute; display: block; background: rgb(255, 255, 255); height: 20px; width: 20px; border: 1px solid rgb(204, 204, 204); cursor: pointer; right: 5px; top: 5px; border-radius: 5px; transition: background 0.5s ease 0s; font: 14px / 20px Tahoma, Arial, Helvetica, sans-serif; text-align: center; }

#oo_close_prompt:hover { background: rgb(238, 238, 238); }

#oo_close_prompt .screen_reader { color: transparent; display: block; position: relative; height: 0px; width: 0px; line-height: 0; font-size: 0px; }

@media only screen and (max-device-width: 480px) {
  #oo_invitation_prompt { text-size-adjust: none; box-sizing: border-box; width: 90%; padding: 3%; }
}

@media (max-width: 767px) {
  .oo_feedback_float { display: none; }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  #oo_ol_brand { background-size: 85px 13px; }
}

#oo_invitation_overlay, #oo_overlay { display: block; height: 1000%; left: 0px; position: fixed; top: 0px; width: 100%; z-index: 999998; opacity: 0.5; }

#oo_invitation_overlay.no_loading, #oo_overlay.no_loading { background: rgb(0, 0, 0); opacity: 0.5; }

@media print {
  #oo_bar, #oo_tab, .oo_feedback_float { display: none; }
}

#oo_feedback_fl_spacer { display: block; height: 1px; position: absolute; top: 0px; width: 100px; }

.oo_feedback_float { overflow: hidden; font-size: 1em; text-align: center; cursor: pointer; z-index: 999997; bottom: 0px; transition: -webkit-transform 0.3s ease 0s; position: fixed !important; top: auto !important; right: 35px !important; }

.oo_transparent { height: 0px !important; }

.oo_feedback_float .screen_reader { color: transparent; display: block; position: relative; height: 0px; width: 0px; line-height: 0; font-size: 0px; }

.oo_feedback_float .olUp:hover { transform: translate(-1.5px, -1.5px); box-shadow: rgb(199, 199, 199) 2.5px 2.5px 0px 0px; border: 1px solid rgb(215, 215, 215); background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(215, 215, 215) 100%); text-decoration: none; }

.oo_feedback_float .olUp { width: 100%; border: 1px solid rgb(215, 215, 215); background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(215, 215, 215) 100%); padding: 3px 15px 5px 35px; font-weight: 400; line-height: 1.42857; text-decoration: none; color: rgb(0, 0, 0); text-align: center; position: relative; touch-action: manipulation; cursor: pointer; user-select: none; white-space: nowrap; vertical-align: middle; z-index: 2; opacity: 1; transition: opacity 0.5s ease 0s; }

.oo_feedback_float .olUp::before { background: url("/etc/designs/avis/reservationlib/clientlib/images/oo_float_icon.gif") 0% 0% / 15px no-repeat; content: " "; width: 25px; height: 25px; padding: 0px; position: absolute; display: inline-block; left: 15px; top: 10px; }

.oo_feedback_float .olUp img { margin-bottom: 5px; }

.oo_feedback_float .fbText { display: block; }

.oo_feedback_float .olOver { display: none; }

.oo_cc_wrapper { left: 0px; padding: 0px; position: fixed; text-align: center; top: 25px; width: 100%; z-index: 999999; }

.oo_cc_wrapper .screen_reader { color: transparent; display: block; position: relative; height: 0px; width: 0px; line-height: 0; font-size: 0px; }

.oo_cc_wrapper span { width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; z-index: 1; }

.oo_cc_wrapper .iwrapper { background-color: rgb(255, 255, 255); margin: 0px auto; position: relative; width: 535px; z-index: 2; box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 15px; }

.oo_cc_wrapper iframe { position: relative; border: 0px; width: 100%; z-index: 4; }

.oo_cc_wrapper .oo_cc_close { position: absolute; display: block; background: rgb(255, 255, 255); height: 20px; width: 20px; border: 1px solid rgb(204, 204, 204); cursor: pointer; right: 5px; top: 5px; border-radius: 5px; transition: background 0.5s ease 0s; font-size: 1em; text-align: center; z-index: 5; color: rgb(37, 37, 37); text-decoration: none; }

.oo_cc_wrapper .oo_cc_close:hover { background: rgb(238, 238, 238); }

.oo_bar { padding-bottom: 22px; }

#oo_bar { cursor: pointer; color: rgb(37, 37, 37); border-top: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255); bottom: 0px; display: block; font-size: 1em; height: 22px; left: 0px; line-height: 22px; position: fixed; text-align: left; width: 100%; z-index: 999997; transition: background 0.5s ease 0s; }

#oo_bar:hover { background: rgb(238, 238, 238); }

#oo_bar .screen_reader { color: transparent; display: block; position: relative; height: 0px; width: 0px; line-height: 0; font-size: 0px; }

#oo_bar span { display: block; margin: 0px 15px; height: 100%; padding-left: 17px; }

#oo_tab { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); display: block; position: fixed; top: 45%; height: 110px; width: 35px; z-index: 999995; cursor: pointer; }

#oo_tab span { bottom: 15px; display: block; height: 9px; position: absolute; width: 9px; }

#oo_tab div { background-repeat: no-repeat; position: absolute; display: block; height: 100%; left: 0px; top: 0px; width: 100%; }

.oo_tab_left { left: -13px; border-radius: 0px 9px 9px 0px; transition: left 0.5s ease 0s; background-image: -webkit-linear-gradient(left, rgb(238, 238, 238), rgb(255, 255, 255)); }

.oo_tab_left span { right: 6px; }

.oo_tab_left div { background-position: 6px -10px; }

.oo_tab_left:hover { left: -5px; }

.oo_tab_right { right: -13px; border-radius: 9px 0px 0px 9px; transition: right 0.5s ease 0s; background-image: -webkit-linear-gradient(left, rgb(255, 255, 255), rgb(238, 238, 238)); }

.oo_tab_right span { left: 7px; }

.oo_tab_right div { background-position: -6px -10px; }

.oo_tab_right:hover { right: -5px; }

.oo_tab_ie_right { right: 1px; border-right: none !important; width: 25px !important; }

.oo_tab_ie_right:hover { right: 6px; width: 30px !important; }

#oo_container { position: fixed; height: 100%; width: 100%; top: 0px; left: 0px; z-index: 999999; }

#oo_invitation_prompt { background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 8px; border-radius: 9px; color: rgb(37, 37, 37); font: 14px / 20px Tahoma, Arial, san-serif; margin: 50px auto; text-align: left; padding: 20px 10px; position: relative; width: 350px; z-index: 999999; }

#oo_invitation_prompt h1 { font-size: 1.55em; font-weight: 100; margin-bottom: 0.6em; }

#oo_invitation_prompt p { margin-bottom: 1.5em; }

#oo_invitation_prompt #prompt_buttons { padding-bottom: 15px; position: relative; z-index: 5; }

#oo_invitation_prompt #oo_launch_prompt { text-decoration: none; color: rgb(255, 255, 255); border: 1px solid rgb(0, 102, 51); padding: 5px 11px; margin-right: 17px; }

#oo_invitation_prompt #oo_no_thanks { text-decoration: none; color: rgb(37, 37, 37); border: 1px solid rgb(204, 204, 204); padding: 5px 11px; margin-right: 18px; }

#oo_ol_brand { display: block; height: 22px; }

#oo_ol_brand { border-top: 1px solid rgb(204, 204, 204); }

#oo_invitation_prompt a { background: rgb(255, 255, 255); border-radius: 5px; transition: background 0.5s ease 0s; }

#oo_invitation_prompt a:hover { background: rgb(238, 238, 238); }

a#oo_launch_prompt { background: rgb(0, 102, 51); }

a#oo_launch_prompt:hover { background: rgb(0, 153, 102); }

#oo_close_prompt { position: absolute; display: block; background: rgb(255, 255, 255); height: 20px; width: 20px; border: 1px solid rgb(204, 204, 204); cursor: pointer; right: 5px; top: 5px; border-radius: 5px; transition: background 0.5s ease 0s; font: 14px / 20px Tahoma, Arial, Helvetica, sans-serif; text-align: center; }

#oo_close_prompt:hover { background: rgb(238, 238, 238); }

#oo_close_prompt .screen_reader { color: transparent; display: block; position: relative; height: 0px; width: 0px; line-height: 0; font-size: 0px; }

@media only screen and (max-device-width: 480px) {
  #oo_invitation_prompt { text-size-adjust: none; box-sizing: border-box; width: 90%; padding: 3%; }
}

@media (max-width: 767px) {
  .oo_feedback_float { display: none; }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  #oo_ol_brand { background-size: 85px 13px; }
}

#oo_invitation_overlay, #oo_overlay { display: block; height: 1000%; left: 0px; position: fixed; top: 0px; width: 100%; z-index: 999998; opacity: 0.5; }

#oo_invitation_overlay.no_loading, #oo_overlay.no_loading { background: rgb(0, 0, 0); opacity: 0.5; }

@media print {
  #oo_bar, #oo_tab, .oo_feedback_float { display: none; }
}

#oo_waypoint_container { position: fixed; height: 100%; width: 100%; top: 0px; left: 0px; z-index: 999999; }

#oo_waypoint_prompt { background: rgb(255, 255, 255); box-shadow: rgba(102, 102, 102, 0.3) 0px 1px 3px 0px; margin: 5% auto; text-align: left; position: relative; max-width: 400px; z-index: 999999; outline: rgb(204, 204, 204) solid 1px; }

#oo_waypoint_prompt #oo_waypoint_company_logo { width: 100%; background-color: rgb(255, 255, 255); padding: 15px 0px 20px; text-align: center; }

#oo_waypoint_prompt #oo_waypoint_company_logo img { max-height: 70px; }

#oo_waypoint_prompt #oo_waypoint_content { width: auto; padding: 7px 0px 20px; background-color: rgb(248, 248, 248); }

#oo_waypoint_prompt #oo_waypoint_content a { cursor: pointer; }

#oo_waypoint_prompt #oo_waypoint_content a:focus { outline: rgb(81, 172, 233) solid 3px; }

#oo_waypoint_prompt #oo_waypoint_content p { color: rgb(0, 0, 0); font: 1em / 1.5em Lato, HelveticaNeue-Medium, Helvetica, Arial, sans-serif; margin: 0px; padding: 10px 0px 20px; text-align: center; }

#oo_waypoint_prompt #oo_waypoint_content p#oo_waypoint_message { font-family: Lato, Arial, Helvetica, sans-serif; font-size: 15px; margin-top: 10px; color: rgb(0, 0, 0); font-weight: 700; }

#oo_waypoint_prompt #oo_waypoint_content a.waypoint_icon { cursor: pointer; text-decoration: none; font-size: 14px; line-height: 1.2em; padding: 14px 28px 13px 44px; height: auto; color: rgb(255, 255, 255); background-color: rgb(0, 40, 95); text-align: left; background-repeat: no-repeat; background-position: 12px center; background-size: 25px 17px; }

#oo_waypoint_prompt #oo_waypoint_content a.waypoint_icon.last { margin-bottom: 0px; margin-left: 15px; background-color: rgb(247, 139, 0); }

#oo_waypoint_prompt #oo_waypoint_content #ol_waypoint_brand_logo { border-top: 1px solid rgb(204, 204, 204); line-height: 1.5em; margin: 10px 0px 0px; padding: 20px 0px 0px; }

#oo_waypoint_prompt #oo_waypoint_content #ol_waypoint_brand_logo img { height: 25px; width: 146px; border: 0px; }

#oo_waypoint_prompt #oo_waypoint_content #ol_waypoint_brand_logo a { display: block; height: 25px; }

#oo_waypoint_prompt #oo_waypoint_close_prompt { position: absolute; display: block; right: 13px; top: 13px; line-height: 1em; font-size: 1em; font-family: "Zapf Dingbats"; color: rgb(0, 0, 0); text-decoration: none; }

#oo_waypoint_prompt #oo_waypoint_close_prompt:focus { outline: 0px; }

#oo_waypoint_prompt #oo_waypoint_close_prompt:focus span { outline: rgb(81, 172, 233) solid 3px; }

#oo_waypoint_prompt .screen_reader { position: absolute; clip: rect(1px, 1px, 1px, 1px); padding: 0px; border: 0px; height: 1px; width: 1px; overflow: hidden; }

#oo_logo_verbiage { display: block; font-size: 18px; font-family: Lato, Helvetica, sans-serif; font-weight: 300; line-height: 35px; color: rgb(0, 0, 0); text-decoration: none; text-align: center; margin: -25px 0px 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255); }

@media only screen and (max-width: 450px) {
  #oo_waypoint_prompt #oo_waypoint_content a.waypoint_icon { display: block; padding: 12px 15px 13px 115px; margin-bottom: 15px; background-position: 85px center; }
  #oo_waypoint_prompt #oo_waypoint_content p { padding: 10px 20px 15px; }
  #oo_waypoint_prompt #oo_waypoint_content a.waypoint_icon.last { margin-left: 0px; }
}

@media only screen and (max-device-width: 480px), screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  #oo_waypoint_prompt { width: 90%; }
  #oo_waypoint_prompt #oo_waypoint_company_logo { height: auto; }
}

@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2), screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
  #oo_waypoint_prompt { width: 90%; height: 90%; overflow: hidden scroll; }
  #oo_waypoint_prompt #oo_waypoint_company_logo { height: auto; }
  #oo_waypoint_prompt #oo_waypoint_content { padding: 20px 10%; }
  #oo_waypoint_prompt #oo_waypoint_content #ol_waypoint_brand_logo { margin: 0px; }
}
