@charset "utf-8";

.ib-booking-app__main .ib-booking_wizard-progress-wrapper { border-top: var(--ib-border-progress-wrapper) solid #cfdde2; }

.ib-booking-app__main .ib-booking_wizard-progress { position: relative; padding: 20px 0px; }

.ib-booking-app__main .ib-booking_wizard-progress span.ib-booking_wizard-back { font-size: var(--ib-booking-app-font-smallest); display: block; font-weight: var(--ib-booking-app-nav-font-weight); color: var(--ib-booking-app-nav-color); position: absolute; left: 2%; cursor: pointer; }

.ib-booking-app__main .ib-booking_wizard-progress span.ib-booking_wizard-back.ib-booking_center-aligned { left: 12%; }

.ib-booking-app__main .ib-booking_wizard-progress-bar { display: flex; margin: 3.5% 17%; counter-reset: step 0; }

.ib-booking-app__main .ib-booking_wizard-progress-bar .ib-booking_wizard-step { list-style-type: none; width: 33.3%; float: left; font-size: 15px; position: relative; text-align: center; color: rgb(125, 125, 125); margin-top: 10px; }

.ib-booking-app__main .ib-booking_wizard-progress-bar .ib-booking_wizard-step::before { width: 24px; height: 24px; content: counter(step); counter-increment: step 1; line-height: 24px; display: block; text-align: center; margin: 0px auto 10px; border-radius: 50%; background-color: rgb(207, 221, 226); color: rgb(255, 255, 255); font-weight: bold; font-size: 12px; }

.ib-booking-app__main .ib-booking_wizard-progress-bar .ib-booking_wizard-step::after { width: calc(100% - 44px); margin-left: 6px; height: 2px; content: ""; position: absolute; background-color: rgb(207, 221, 226); top: 11px; left: calc(-50% + 15px); }

.ib-booking-app__main .ib-booking_wizard-progress-bar .ib-booking_wizard-step:first-child::after { content: none; }

.ib-booking-app__main .ib-booking_wizard-progress-bar .ib-booking_wizard-step.ib-booking_active-step { color: var(--ib-booking-app-main-color); }

.ib-booking-app__main .ib-booking_wizard-progress-bar .ib-booking_wizard-step.ib-booking_active-step::before { background-color: var(--ib-booking-app-main-color); }

.ib-booking-app__main .ib-booking_wizard-progress-bar .ib-booking_wizard-step.ib-booking_active-step::after { background-color: var(--ib-booking-app-main-color); }
