@charset "utf-8";

.smb-uikit__modal { align-items: center; background: rgba(0, 0, 0, 0.5); display: flex; height: 100%; justify-content: center; left: 0px; position: fixed; top: 0px; width: 100%; z-index: 90; }

.smb-uikit__modal.smb-uikit__danger .smb-uikit__modal-main__headline { color: rgb(244, 88, 76); }

.smb-uikit__modal-container { background-color: rgb(255, 255, 255); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 44px 0px; display: flex; flex-direction: column; max-width: 32rem; min-height: 22rem; position: relative; }

.smb-uikit__modal .smb-uikit__preview-alert-modal { max-height: 80vh; min-width: 40rem; }

.smb-uikit__modal .smb-uikit__preview-alert-modal-title { color: rgb(24, 164, 252); font-size: 1.375rem; margin-top: 35px; }

.smb-uikit__modal .smb-uikit__preview-alert-modal-container { display: flex; height: 65%; margin: auto; position: relative; width: 500px; }

.smb-uikit__modal .smb-uikit__preview-alert-modal-container__message { color: rgb(51, 51, 51); font-size: 0.75rem; line-height: 1.25; margin-left: 7.5rem; max-width: 350px; position: absolute; top: 52%; width: 17rem; z-index: 1; }

.smb-uikit__modal .smb-uikit__preview-alert-modal-container svg { height: 65vh; }

.smb-uikit__modal-main { display: flex; flex: 1 1 0%; flex-direction: column; justify-content: center; padding: 1.25rem; text-align: center; }

.smb-uikit__modal-main .smb-uikit__modal-main__icon { color: rgb(182, 191, 197); font-size: 2.5rem; }

.smb-uikit__modal-main .smb-uikit__modal-main__headline { color: rgb(24, 164, 252); font-weight: normal; }

.smb-uikit__modal-dismiss-button { position: absolute; right: 0px; top: 0px; }

.smb-uikit__modal-dismiss-button__icon { color: rgb(190, 199, 204); }

.smb-uikit__modal-footer { border-top: 1px solid rgb(238, 242, 247); display: flex; justify-content: flex-end; padding: 1.25rem; }
