@charset "utf-8";

.gray-color { color: rgb(229, 229, 229) !important; }

.gray-color-bg { background-color: rgb(229, 229, 229) !important; }

.gray-color-border { border-color: rgb(229, 229, 229) !important; }

.gray-lighter { color: rgb(239, 239, 239) !important; }

.gray-lighter-bg { background-color: rgb(239, 239, 239) !important; }

.gray-lighter-border { border-color: rgb(239, 239, 239) !important; }

.brand-color-secondary { color: rgb(0, 96, 128) !important; }

.brand-color-secondary-bg { background-color: rgb(0, 96, 128) !important; }

.brand-color-secondary-border { border-color: rgb(0, 96, 128) !important; }

.darkar { color: rgb(39, 39, 39) !important; }

.darkar-bg { background-color: rgb(39, 39, 39) !important; }

.darkar-border { border-color: rgb(39, 39, 39) !important; }

.dark-color-light { color: rgb(115, 115, 115) !important; }

.dark-color-light-bg { background-color: rgb(115, 115, 115) !important; }

.dark-color-light-border { border-color: rgb(115, 115, 115) !important; }

.gray-light { color: rgb(247, 247, 247) !important; }

.gray-light-bg { background-color: rgb(247, 247, 247) !important; }

.gray-light-border { border-color: rgb(247, 247, 247) !important; }

.dark-color { color: rgb(74, 74, 74) !important; }

.dark-color-bg { background-color: rgb(74, 74, 74) !important; }

.dark-color-border { border-color: rgb(74, 74, 74) !important; }

.dark-color-lighter { color: rgb(137, 137, 137) !important; }

.dark-color-lighter-bg { background-color: rgb(137, 137, 137) !important; }

.dark-color-lighter-border { border-color: rgb(137, 137, 137) !important; }

.gray-darkar { color: rgb(198, 198, 198) !important; }

.gray-darkar-bg { background-color: rgb(198, 198, 198) !important; }

.gray-darkar-border { border-color: rgb(198, 198, 198) !important; }

.brand-color-primary { color: rgb(0, 51, 160) !important; }

.brand-color-primary-bg { background-color: rgb(0, 51, 160) !important; }

.brand-color-primary-border { border-color: rgb(0, 51, 160) !important; }

.ph-4owZv { color: rgb(87, 44, 95) !important; }

.ph-4owZv-bg { background-color: rgb(87, 44, 95) !important; }

.ph-4owZv-border { border-color: rgb(87, 44, 95) !important; }

.ph-7pyZw { color: rgb(14, 130, 211) !important; }

.ph-7pyZw-bg { background-color: rgb(14, 130, 211) !important; }

.ph-7pyZw-border { border-color: rgb(14, 130, 211) !important; }

.ph-O3Nlc { color: rgb(98, 68, 187) !important; }

.ph-O3Nlc-bg { background-color: rgb(98, 68, 187) !important; }

.ph-O3Nlc-border { border-color: rgb(98, 68, 187) !important; }
