@charset "utf-8";

@-webkit-keyframes rotate { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotate { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dropbox-dropin-btn, .dropbox-dropin-btn:link, .dropbox-dropin-btn:hover { display: inline-block; height: 14px; font-family: "Lucida Grande", "Segoe UI", Tahoma, "Helvetica Neue", Helvetica, sans-serif; font-size: 11px; font-weight: 600; color: rgb(99, 99, 99); text-decoration: none; padding: 1px 7px 5px 3px; border-width: 1px; border-style: solid; border-color: rgb(235, 235, 235) rgb(235, 235, 235) rgb(212, 212, 212); border-image: initial; border-radius: 2px; background: linear-gradient(rgb(252, 252, 252) 0%, rgb(245, 245, 245) 100%); }

.dropbox-dropin-default:hover, .dropbox-dropin-error:hover { border-color: rgb(222, 222, 222) rgb(222, 222, 222) rgb(202, 202, 202); background: linear-gradient(rgb(253, 253, 253) 0%, rgb(245, 245, 245) 100%); }

.dropbox-dropin-default:active, .dropbox-dropin-error:active { border-color: rgb(209, 209, 209); box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px inset; }

.dropbox-dropin-btn .dropin-btn-status { display: inline-block; width: 15px; height: 14px; vertical-align: bottom; margin: 0px 5px 0px 2px; background: url("https://www.dropbox.com/static/metaserver/static/images/widgets/dbx-saver-status.png") no-repeat transparent; position: relative; top: 2px; }

.dropbox-dropin-default .dropin-btn-status { background-position: 0px 0px; }

.dropbox-dropin-progress .dropin-btn-status { width: 18px; margin: 0px 4px 0px 0px; background: url("https://www.dropbox.com/static/metaserver/static/images/widgets/dbx-progress.png") center center no-repeat; animation-name: rotate; animation-duration: 1.7s; animation-iteration-count: infinite; animation-timing-function: linear; }

.dropbox-dropin-success .dropin-btn-status { background-position: -15px 0px; }

.dropbox-dropin-disabled { background: rgb(224, 224, 224); border-width: 1px; border-style: solid; border-color: rgb(218, 218, 218) rgb(218, 218, 218) rgb(204, 204, 204); border-image: initial; box-shadow: none; }

.dropbox-dropin-disabled .dropin-btn-status { background-position: -30px 0px; }

.dropbox-dropin-error .dropin-btn-status { background-position: -45px 0px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.4) {
  .dropbox-dropin-btn .dropin-btn-status { background-image: url("https://www.dropbox.com/static/metaserver/static/images/widgets/dbx-saver-status-2x.png"); background-size: 60px 14px; }
  .dropbox-dropin-progress .dropin-btn-status { background: url("https://www.dropbox.com/static/metaserver/static/images/widgets/dbx-progress-2x.png") center center / 20px 20px no-repeat; }
}

.dropbox-saver:hover, .dropbox-chooser:hover { text-decoration: none; cursor: pointer; }

.dropbox-chooser, .dropbox-dropin-btn { line-height: 11px !important; text-decoration: none !important; box-sizing: content-box !important; }
