@charset "utf-8";

.m-taxi-index__hero-grey-container .lp-hero__bg-image { background: none rgb(245, 245, 245) !important; }

.m-taxi-index__hero-grey-container .lp-hero__bg-image .lp-hero__mask { background: none !important; }

.m-taxi-index__hero-grey-container .lp-hero .sb-searchbox__title-text { color: rgb(51, 51, 51); font-size: 24px; line-height: 32px; font-weight: 600; }

.m-taxi-index__hero-grey-container .lp-hero .sb-searchbox__subtitle-text { color: rgb(51, 51, 51); font-size: 14px; line-height: 20px; font-weight: 400; }

.m-taxi-index__hero-grey-container .rw-c-booking-search .rw-radio { color: rgb(51, 51, 51); font-size: 14px; line-height: 20px; font-weight: 400; }

.m-taxi-index__hero-grey-container .lp-hero .lp-hero__searchbox-container { padding-top: 44px; height: auto !important; }

.m-taxi-index__hero-grey-container .lp-hero .lp-hero__content::before { content: ""; display: block; padding-bottom: 24%; }

.lp-hero__bg-image { background-position: 0px -42px !important; }

.taxi-hero_header__container { position: relative; height: 256px; overflow: hidden; }

@supports (height:33vh) {
  .taxi-hero_header__container { min-height: 256px; height: 55vh; }
}

.taxi-hero_header__container-overlay { width: 100%; height: 100%; background: rgba(0, 52, 127, 0.36); display: flex; flex-flow: column; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }

.taxi-hero_header__content-container { margin: auto; width: 1100px; }

.taxi-hero_header__background-image { position: absolute; top: 0px; min-width: 100%; min-height: 100%; z-index: -1; }

.taxi-covid-banner__width-constraint { max-width: 1100px; margin: auto; }

.taxi-covid-banner__no-margin { margin: 0px; }

.taxi-covid-banner__container { background: rgb(254, 251, 240); }

.searchresults #rewards-landing { z-index: 1002; }

.rewards-modal-img { height: 160px; background: url("//cf.bstatic.com/static/img/incentives/offer/1153351bec46b78d420be4a4b3a3d63a60da5ed6.svg") 50% 50% / cover no-repeat; }

#rewards-landing .bui-modal__close { opacity: 1; }

#rewards-landing .bui-modal__slot > .bui-modal__close:first-child { display: none; visibility: hidden; }

#rewards-landing .bui-scrim { height: 70px; }
