@charset "utf-8";

.c7529e6d3b { max-width: 1110px; }

.c52e64baf7 { margin-left: auto; margin-right: auto; }

.ba22195900 { width: 100vw; }

@media screen and (min-width: 1110px) {
  .ba22195900 { margin-left: calc(-50vw + 555px); }
}

.de921f92c0 { background-color: var(--bui_color_white); margin: var(--bui_spacing_2x) 0; }

.a791fd97d6 { padding: var(--bui_spacing_4x) 0; }

.ed452f20a6 { padding: var(--bui_spacing_6x) 0; }

.b17f8a0025, .c428402c54, .fd540e6a15 { padding: 0 var(--bui_spacing_2x); }

.c428402c54, .fd540e6a15 { margin: 0px; }

.c428402c54 + .b17f8a0025, .fd540e6a15 + .b17f8a0025 { margin-top: var(--bui_spacing_2x); }

@media only screen and (min-device-width: 375px) {
  .b17f8a0025, .c428402c54, .fd540e6a15 { padding: 0 var(--bui_spacing_4x); }
}

.d4ccd9a5f8 { background-color: var(--bui_color_background_alt); margin-bottom: var(--bui_spacing_8x); padding: var(--bui_spacing_4x) 0; }

.dce851cf15 { display: flex; list-style: none; margin: 0px; padding: 0px; }

.de4df73de3 { flex-direction: column; margin: calc(var(--bui_spacing_4x)*-1) 0; }

.dbc4737519 { margin: 0px; }

.dcb9a51bcc { display: flex; margin: 0px; padding: 0px; }

.de4df73de3 .dcb9a51bcc { padding: var(--bui_spacing_4x) 0; }

.dbc4737519 .dcb9a51bcc { flex-basis: 0px; flex-grow: 1; padding: 0 var(--bui_spacing_4x); }

.f3e6980381 { flex-grow: 1; margin-left: var(--bui_spacing_4x); }

.f6243d8253 { border-radius: 100px; padding: var(--bui_spacing_2x); }

.be6dcef29b { border-radius: 100px; padding: var(--bui_spacing_4x); }

.df140dc59b { background-color: var(--bui_color_constructive_background_alt); }

.be04074e3b { background-color: var(--bui_color_callout_background_alt); }

.cbdc6e78e6 { background-color: rgb(235, 243, 255); }
