@charset "utf-8";

._18c05 { background-color: rgb(255, 255, 255); box-sizing: border-box; height: 56px; display: flex; justify-content: space-between; align-items: center; position: relative; pointer-events: auto; padding: 0px 15px; border-bottom: 1px solid rgb(204, 204, 204); width: 100vw; z-index: 13; }

._18c05:focus { outline: 0px; }

@media only screen and (min-width: 901px) {
  ._18c05 { z-index: 13; height: 60px; }
  ._18c05:hover { z-index: 12; }
}

.d3241 { position: fixed; top: 0px; }

@media (-ms-high-contrast:active), (-ms-high-contrast:none) {
  .d3241 { position: fixed; }
}

._393cd { height: 100%; text-align: left; }

.b1873 { width: 144px; height: 21px; }

@media only screen and (min-width: 901px) {
  .b1873 { width: 178px; height: 26px; }
}

.b1873 { display: inline-block; background: url("/assets/images/lw-logo.svg") 50% center / contain no-repeat; width: 150px; height: 50px; margin-left: 20px; }

._6deca { height: 100%; }

._6deca:focus { outline: none; }

.f43d9 { display: flex; justify-content: center; align-items: center; height: 100%; }

.f43d9:focus { outline: none; }

.f5bac { cursor: pointer; }

@media only screen and (min-width: 901px) {
  .f5bac { display: none; }
}

._44c05, .c6f17 { display: none; }

@media only screen and (min-width: 1401px) {
  ._44c05, .c6f17 { display: flex; justify-content: flex-start; align-items: center; flex-direction: row; height: inherit; }
}

.c6f17 { margin-left: auto; }

._71e7c, ._855c4, ._8527d { display: none; }

._2c1bb, ._9e29c, .e3680 { height: 100%; display: flex; justify-content: center; align-items: center; }

._2c1bb:hover ._8527d, ._9e29c:hover ._8527d, .e3680:hover ._8527d { display: block; z-index: 10; }

._2effd { padding-left: 25px; height: 22px; font-size: 16px; font-weight: 600; color: rgb(51, 51, 51); margin: 0px; cursor: pointer; }

._2effd a:hover, ._2effd span:hover { border-bottom: 2px solid rgb(255, 108, 44); }

.e2c07 { padding-right: 25px; }

._9e29c:hover ._71e7c { display: block; z-index: 10; }

._2c1bb { padding-right: 20px; }

._2c1bb:hover ._855c4 { display: block; z-index: 10; }

._4bd4d, ._4bd4d .a2fbc { display: flex; justify-content: center; align-items: center; }

._4bd4d .a2fbc { width: 140px; height: 40px; border-radius: 3px; font-weight: 700; }

.f5bac { margin-top: 3px; display: inline-block; background: url("/assets/images/menu-icon.svg") 50% center / contain no-repeat; width: 25px; height: 25px; }

@media only screen and (min-width: 1401px) {
  .f5bac { display: none; }
}

.dd403 { display: inline; }

@media (-ms-high-contrast:active), (-ms-high-contrast:none) {
  .dd403 { position: absolute; top: 11px; right: 15px; }
}

.dac15 { margin-top: 3px; display: inline-block; background: url("/assets/images/close.svg") 50% center / contain no-repeat; width: 25px; height: 25px; }

@media only screen and (min-width: 1401px) {
  .dac15 { display: none; }
}
