@charset "utf-8";

.app-components-SavedTrip-savedTrip__btnDefault--14YvJ { text-align: center; text-decoration: none; border-radius: 2px; height: 52px; line-height: 22px; width: 100%; font-size: 16px; }

@media (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__btnDefault--14YvJ { height: 56px; width: 160px; }
}

.app-components-SavedTrip-savedTrip__btnDefault--14YvJ:hover, .app-components-SavedTrip-savedTrip__btnDefault--14YvJ:focus { box-shadow: none; }

.app-components-SavedTrip-savedTrip__btnDefault--14YvJ:disabled, .app-components-SavedTrip-savedTrip__btnDefault--14YvJ[disabled] { box-shadow: none; border: none; background-color: rgb(230, 230, 230); color: rgb(102, 102, 102); }

.app-components-SavedTrip-savedTrip__primaryButton--35Dk5 { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); border: 1px solid rgb(33, 114, 186); box-shadow: rgb(102, 102, 102) -1px 1px 1px 0px; }

.app-components-SavedTrip-savedTrip__primaryButton--35Dk5:hover, .app-components-SavedTrip-savedTrip__primaryButton--35Dk5:focus { border: 1px solid rgb(0, 48, 87); box-shadow: none; }

.app-components-SavedTrip-savedTrip__ancillaryButton--3gDq5, .app-components-SavedTrip-savedTrip__primaryButton--35Dk5.app-components-SavedTrip-savedTrip__ancillaryButton--3gDq5, .app-components-SavedTrip-savedTrip__btnDefault--14YvJ.app-components-SavedTrip-savedTrip__ancillaryButton--3gDq5 { height: 30px; }

@media (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__ancillaryButton--3gDq5, .app-components-SavedTrip-savedTrip__primaryButton--35Dk5.app-components-SavedTrip-savedTrip__ancillaryButton--3gDq5, .app-components-SavedTrip-savedTrip__btnDefault--14YvJ.app-components-SavedTrip-savedTrip__ancillaryButton--3gDq5 { width: 160px; }
}

.app-components-SavedTrip-savedTrip__secondaryButton--16l7w { background-color: rgb(237, 183, 43); color: rgb(0, 0, 0); border: 1px solid rgb(237, 183, 43); }

.app-components-SavedTrip-savedTrip__secondaryButton--16l7w:hover { border: 1px solid rgb(0, 57, 100); box-shadow: none; }

.app-components-SavedTrip-savedTrip__inputFieldBorder--2WKEo { border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid rgb(102, 102, 102); background: rgba(0, 0, 0, 0); border-radius: 0px; }

.app-components-SavedTrip-savedTrip__textLink--1zvyi { font-size: 28px; letter-spacing: 0px; line-height: 18px; }

.app-components-SavedTrip-savedTrip__textLink--1zvyi:link { color: rgb(0, 34, 68); }

.app-components-SavedTrip-savedTrip__textLink--1zvyi:hover { color: rgb(33, 114, 186); border-bottom: 1px solid rgb(33, 114, 186); }

@media (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__textLink--1zvyi { font-size: 16px; }
}

.app-components-SavedTrip-savedTrip__textLinkCTA--1I1dx { letter-spacing: 0px; }

.app-components-SavedTrip-savedTrip__textLinkCTA--1I1dx:link { color: rgb(102, 102, 102); text-decoration: underline; }

.app-components-SavedTrip-savedTrip__textLinkCTA--1I1dx:hover { color: rgb(0, 0, 0); }

@media (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__textLinkCTA--1I1dx { line-height: 22px; }
}

.app-components-SavedTrip-savedTrip__inverse--HBxsJ { background-color: rgb(33, 114, 186); border-radius: 2px; color: rgb(255, 255, 255); }

.app-components-SavedTrip-savedTrip__inverse--HBxsJ.app-components-SavedTrip-savedTrip__secondary--RqIwp { color: rgb(237, 183, 43); }

.app-components-SavedTrip-savedTrip__inverse--HBxsJ input[type="text"], .app-components-SavedTrip-savedTrip__inverse--HBxsJ input[type="password"], .app-components-SavedTrip-savedTrip__inverse--HBxsJ input[type="tel"], .app-components-SavedTrip-savedTrip__inverse--HBxsJ input[type="number"] { color: rgb(255, 255, 255); }

.app-components-SavedTrip-savedTrip__inverse--HBxsJ input[type="text"].app-components-SavedTrip-savedTrip__secondary--RqIwp, .app-components-SavedTrip-savedTrip__inverse--HBxsJ input[type="password"].app-components-SavedTrip-savedTrip__secondary--RqIwp, .app-components-SavedTrip-savedTrip__inverse--HBxsJ input[type="tel"].app-components-SavedTrip-savedTrip__secondary--RqIwp, .app-components-SavedTrip-savedTrip__inverse--HBxsJ input[type="number"].app-components-SavedTrip-savedTrip__secondary--RqIwp { color: rgb(237, 183, 43); }

.app-components-SavedTrip-savedTrip__inverseDark--1pwJ4 { background-color: rgb(0, 34, 68); font-size: 16px; color: rgb(255, 255, 255); }

.app-components-SavedTrip-savedTrip__signInInput--18sRI { font-size: 24px; letter-spacing: -0.2px; line-height: 32px; }

.app-components-SavedTrip-savedTrip__roundedButton--2usV4, .app-components-SavedTrip-savedTrip__roundedButtonOn--3bOj7, .app-components-SavedTrip-savedTrip__roundedButtonPrimary--LdA5k { font-size: 16px; letter-spacing: 0px; border: 1px solid; border-radius: 200px; height: 72px; width: 94px; text-align: center; }

@media (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__roundedButton--2usV4, .app-components-SavedTrip-savedTrip__roundedButtonOn--3bOj7, .app-components-SavedTrip-savedTrip__roundedButtonPrimary--LdA5k { border-radius: 100px; height: 35px; }
}

.app-components-SavedTrip-savedTrip__roundedButtonPrimary--LdA5k { color: rgb(153, 153, 153); border: 2px solid rgb(211, 211, 211); }

@media (min-width: 1184px) {
  .app-components-SavedTrip-savedTrip__roundedButtonPrimary--LdA5k { border: 1px solid rgb(211, 211, 211); }
}

.app-components-SavedTrip-savedTrip__roundedButtonPrimary--LdA5k:hover { color: rgb(102, 102, 102); border: 2px solid rgb(102, 102, 102); }

@media (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__roundedButtonPrimary--LdA5k:hover { border: 1px solid rgb(102, 102, 102); }
}

.app-components-SavedTrip-savedTrip__roundedButtonOn--3bOj7 { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); }

.app-components-SavedTrip-savedTrip__alert--3RmtX, .app-components-SavedTrip-savedTrip__highLevelAlert--fGfAP, .app-components-SavedTrip-savedTrip__lowLevelAlert--3vRY5 { border-radius: 3px; height: 60px; width: 100%; font-size: 16px; line-height: 18px; letter-spacing: 0px; padding-left: 55px; padding-top: 20px; }

.app-components-SavedTrip-savedTrip__lowLevelAlert--3vRY5 { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }

.app-components-SavedTrip-savedTrip__highLevelAlert--fGfAP { background-color: rgb(213, 0, 50); color: rgb(255, 255, 255); }

.app-components-SavedTrip-savedTrip__alertTriangle--1C7bp, .app-components-SavedTrip-savedTrip__low-alert-triangle--uyJ_F, .app-components-SavedTrip-savedTrip__highAlertTriangle--2vuwr { padding-left: 48px; height: 19.96px; width: 22.01px; content: "!"; }

.app-components-SavedTrip-savedTrip__highAlertTriangle--2vuwr { color: rgb(255, 255, 255); }

.app-components-SavedTrip-savedTrip__low-alert-triangle--uyJ_F { color: rgb(102, 102, 102); }

.app-components-SavedTrip-savedTrip__dropdown--4jJUs { width: 100%; height: 100%; border: 1px solid rgb(229, 229, 229); }

@media (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__dropdown--4jJUs { border-radius: 3px; border: 1px solid rgb(200, 200, 200); box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px; }
}

.app-components-SavedTrip-savedTrip__dropdownContent--1oCKm { font-size: 32px; line-height: 72px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-components-SavedTrip-savedTrip__dropdownContent--1oCKm:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

@media (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__dropdownContent--1oCKm { font-size: 10px; line-height: 40px; }
}

.app-components-SavedTrip-savedTrip__dropdownExpand--1G-Eo { font-size: 24px; line-height: 44px; color: rgb(0, 34, 68); letter-spacing: 0px; }

@media (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__dropdownExpand--1G-Eo { font-size: 12px; line-height: 22px; }
}

.app-components-SavedTrip-savedTrip__simpleDropdownDefault--PNDgM, .app-components-SavedTrip-savedTrip__simpleDropdownOnBackground--Jo-Ai { border: 1px solid rgb(148, 148, 148); border-radius: 4px; font-size: 28px; color: rgb(51, 51, 51); letter-spacing: 0px; line-height: 24px; }

@media (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__simpleDropdownDefault--PNDgM, .app-components-SavedTrip-savedTrip__simpleDropdownOnBackground--Jo-Ai { font-size: 16px; color: rgb(0, 34, 68); border: none; }
  .app-components-SavedTrip-savedTrip__simpleDropdownDefault--PNDgM:hover, .app-components-SavedTrip-savedTrip__simpleDropdownOnBackground--Jo-Ai:hover { color: rgb(33, 114, 186); }
}

.app-components-SavedTrip-savedTrip__simpleDropdownOnBackground--Jo-Ai { opacity: 0.5; border: 1px solid rgb(255, 255, 255); border-radius: 6px; color: rgb(255, 255, 255); }

.app-components-SavedTrip-savedTrip__simpleDropdownActive--1YCR9 { font-size: 16px; line-height: 40px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-components-SavedTrip-savedTrip__simpleDropdownActive--1YCR9:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

.app-components-SavedTrip-savedTrip__simpleDropdownActive--1YCR9:checked { color: rgb(0, 34, 68); }

.app-components-SavedTrip-savedTrip__checkboxWrapper--1fZqy { position: relative; }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked), .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked), .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked { position: absolute; left: 0px; top: -1px; opacity: 0; }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked) + label, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked + label, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked) + label, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked + label { position: relative; cursor: pointer; font-size: 14px; }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked) + label::before, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked) + label::after, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked + label::before, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked + label::after, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked) + label::before, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked) + label::after, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked + label::before, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked + label::after { position: absolute; left: 0px; top: -1px; }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked) + label::before, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked + label::before, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked) + label::before, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked + label::before { content: ""; border: 2px solid rgb(0, 57, 100); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px inset; }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked) + label::after, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked + label::after, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked) + label::after, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked + label::after { content: ""; display: block; border-style: solid; border-color: rgb(255, 255, 255); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(45deg); position: absolute; text-align: center; }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked), .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:disabled) + label::after, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked), .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:disabled) + label::after { opacity: 0; border-color: rgb(0, 34, 68); }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked + label::after, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked + label::after { opacity: 1; border-color: rgb(255, 255, 255); }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked + label::before, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked + label::before { background: rgb(0, 34, 68); }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked) + label::before, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked) + label::before { background: rgb(255, 255, 255); }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:disabled:not(:checked) + label::before, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:disabled:checked + label::before, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:disabled:not(:checked) + label::before, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:disabled:checked + label::before { box-shadow: none; border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:disabled:checked + label::after, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:disabled:checked + label::after { color: rgb(153, 153, 153); }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:disabled + label, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:disabled + label { color: rgb(170, 170, 170); }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked:focus + label::before, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked):focus + label::before, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked:focus + label::before, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked):focus + label::before { outline: dotted 1px; }

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked) + label, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked + label { padding-left: 32px; line-height: 24px; }

@media screen and (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked) + label, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked + label { padding-left: 26px; line-height: 18px; }
}

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked) + label::before, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked + label::before { width: 24px; height: 24px; }

@media screen and (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked) + label::before, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked + label::before { width: 20px; height: 20px; }
}

.app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked) + label::after, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked + label::after { font-size: 14px; top: 5px; left: 9px; width: 5px; height: 11px; }

@media screen and (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:not(:checked) + label::after, .app-components-SavedTrip-savedTrip__customCheckbox--20eLX:checked + label::after { left: 8px; top: 3px; }
}

.app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked) + label, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked + label { padding-left: 25px; font-size: 12px; line-height: 15px; }

.app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked) + label::before, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked + label::before { width: 15px; height: 15px; }

.app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked) + label::after, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked + label::after { font-size: 10px; left: 6px; top: 2px; width: 4px; height: 9px; }

.app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked) + label:hover, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked) + label:focus, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked + label:hover, .app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked + label:focus { color: rgb(0, 34, 68); }

.app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:not(:checked) + label { color: rgb(137, 137, 137); }

.app-components-SavedTrip-savedTrip__customCheckboxSm--14aOr:checked + label { color: rgb(0, 34, 68); }

.app-components-SavedTrip-savedTrip__whiteAndBlackCustomCheckBox--2NvK1:checked + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-components-SavedTrip-savedTrip__whiteAndBlackCustomCheckBox--2NvK1:not(:checked) + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-components-SavedTrip-savedTrip__whiteAndBlackCustomCheckBox--2NvK1:checked + label::after { border-color: rgb(0, 0, 0); top: 5px; left: 10px; }

@media screen and (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__whiteAndBlackCustomCheckBox--2NvK1:checked + label::after { top: 3px; left: 8px; }
}

.app-components-SavedTrip-savedTrip__questionMarkToolTip--2CcPQ::before { content: "?"; display: inline-block; vertical-align: top; text-align: center; font-weight: bold; width: 24px; height: 24px; font-size: 14px; line-height: 1.4; margin-top: 0px; margin-left: 8px; border: 1px solid rgb(255, 255, 255); border-radius: 50%; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); }

@media screen and (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__questionMarkToolTip--2CcPQ::before { line-height: 1.3; margin-top: 4px; width: 16px; height: 16px; font-size: 10px; }
}

.app-components-SavedTrip-savedTrip__floatingLabel--tULhP { font-size: 12px; color: rgb(102, 102, 102); line-height: 13px; }

.app-components-SavedTrip-savedTrip__formLink--2PLVc { font-size: 16px; text-decoration: underline; }

.app-components-SavedTrip-savedTrip__formLink--2PLVc:hover { outline: rgb(33, 114, 186) dotted 1px; color: rgb(35, 82, 124); }

.app-components-SavedTrip-savedTrip__fieldErrorMessage--GUCbh { position: absolute; bottom: 0px; color: rgb(213, 0, 50); letter-spacing: 0px; font-size: 13px; line-height: 1.5; text-align: center; }

@media screen and (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__fieldErrorMessage--GUCbh { font-size: 11px; }
}

.app-components-SavedTrip-savedTrip__homepageTextField--3vc3G { line-height: 1; }

.app-components-SavedTrip-savedTrip__homepageTextField--3vc3G label { color: rgb(0, 34, 68); text-transform: none; font-weight: bold; font-size: 12px; letter-spacing: 1px; margin-bottom: -1px; }

.app-components-SavedTrip-savedTrip__homepageTextField--3vc3G input { transition: color 0.4s ease 0s; color: rgb(0, 34, 68); height: 46px; }

.app-components-SavedTrip-savedTrip__homepageTextField--3vc3G input::-webkit-input-placeholder { text-transform: none; font-style: normal; font-weight: normal; }

.app-components-SavedTrip-savedTrip__homepageTextField--3vc3G:focus { color: rgb(33, 114, 186); border-color: rgb(33, 114, 186); }

.app-components-SavedTrip-savedTrip__homepageTextField--3vc3G:focus > label { color: rgb(33, 114, 186); }

.app-components-SavedTrip-savedTrip__homepageTextField--3vc3G .atm-c-field-note.atm-c-textfield__note { position: absolute; margin: 0px; bottom: -24px; }

.app-components-SavedTrip-savedTrip__homepageTextField--3vc3G .atm-c-field-note.atm-c-textfield__note svg { display: none; }

.app-components-SavedTrip-savedTrip__savedTripButton--3iEbV { color: rgb(255, 255, 255); font-size: 12px; padding: 0px; position: relative; margin-top: -5px; }

@media (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__savedTripButton--3iEbV.app-components-SavedTrip-savedTrip__modalIsOpen--KgddC::before { position: absolute; content: ""; bottom: -6px; left: 45%; border-style: solid; border-width: 0px 10px 10px; border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255); }
}

.app-components-SavedTrip-savedTrip__savedTripCartButton--nhYnQ { color: rgb(255, 255, 255); font-size: 12px; padding: 0px; position: relative; }

@media (min-width: 944px) {
  .app-components-SavedTrip-savedTrip__savedTripCartButton--nhYnQ.app-components-SavedTrip-savedTrip__modalIsOpen--KgddC::before { position: absolute; content: ""; bottom: -6px; border-style: solid; border-width: 0px 10px 10px; border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255); }
}

.app-components-SavedTrip-savedTrip__savedTripsContainer--XaryM { position: relative; }

.app-components-SavedTrip-savedTrip__mobileModalMenu--1X92d { line-height: 1.15; font-size: 16px; text-transform: none; }

.app-components-SavedTrip-savedTrip__savedTripCartIcon--3nkki { display: inline-block; margin-right: 4px; margin-bottom: 3px; }

.app-components-SavedTrip-savedTrip__savedTripsItems--2Figo { display: inline-block; background-color: rgb(98, 68, 187); padding: 2px; font-weight: 400; height: 20px; width: 20px; margin-top: 2px; }
