@charset "utf-8";

.atm-c-key-value-table { border-collapse: collapse; border-spacing: 0px; margin-bottom: 1rem; }

.atm-c-shopping-cart .atm-c-key-value-table { width: 100%; margin-bottom: 0px; }

.atm-c-accordion .atm-c-key-value-table { margin-left: 1rem; width: calc(100% - 1rem); }

.atm-c-key-value-table--full-width { width: 100%; }

.atm-c-key-value-table__row--lined-bottom { border-bottom: 1px solid rgb(204, 204, 204); }

.atm-c-key-value-table__cell { padding-bottom: 1rem; }

.atm-c-shopping-cart__total .atm-c-key-value-table__cell { text-align: right; }

.atm-c-key-value-table__key { padding-top: 0.5rem; padding-bottom: 0.5rem; padding-right: 1rem; font-size: 1rem; font-weight: 400; line-height: 1.5; margin-bottom: 0px; text-align: left; }

.atm-c-key-value-table--lined .atm-c-key-value-table__key { border-top: 1px solid rgb(204, 204, 204); border-right: 4px solid rgb(255, 255, 255); }

.atm-c-key-value-table--large .atm-c-key-value-table__key { padding-top: 1.5rem; padding-bottom: 1.5rem; }

.atm-c-key-value-table--small .atm-c-key-value-table__key { font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; }

.atm-c-key-value-table__footer .atm-c-key-value-table__key { font-size: 1rem; line-height: 1.5; margin-bottom: 0px; font-weight: 600; padding-bottom: 0px; border-top: 1px solid rgb(204, 204, 204); border-right: 4px solid rgb(255, 255, 255); }

.atm-c-shopping-cart .atm-c-key-value-table__key { vertical-align: top; border-right: none; }

.atm-c-shopping-cart__total .atm-c-key-value-table__key { vertical-align: top; white-space: nowrap; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; }

.atm-c-shopping-cart__panel .atm-c-key-value-table__row:first-child .atm-c-key-value-table__key { border-top: none; }

.atm-c-key-value-table__value { padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; text-align: right; }

.atm-c-key-value-table--lined .atm-c-key-value-table__value { border-top: 1px solid rgb(204, 204, 204); }

.atm-c-key-value-table--large .atm-c-key-value-table__value { padding-top: 1.5rem; padding-bottom: 1.5rem; }

.atm-c-key-value-table--small .atm-c-key-value-table__value { font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; }

.atm-c-key-value-table__footer .atm-c-key-value-table__value { font-size: 1rem; line-height: 1.5; margin-bottom: 0px; font-weight: 600; padding-bottom: 0px; border-top: 1px solid rgb(204, 204, 204); }

.atm-c-shopping-cart__total .atm-c-key-value-table__value { padding-top: 0px; padding-bottom: 0px; text-align: left; }

.atm-c-shopping-cart__panel .atm-c-key-value-table__row:first-child .atm-c-key-value-table__value { border-top: none; }
