@charset "utf-8";

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__container--3XCFB { display: flex; flex-direction: column; min-height: 100%; padding: 1px; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__containerForIe--Xgi2_ { height: 100%; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__content--3Ig5K { flex: 1 0 auto; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__headers--7hc9D > div:first-child { padding: 0px 15px; background: rgb(255, 255, 255); }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__headers--7hc9D > div:nth-child(2) { padding: 35px 16px 0px; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__headers--7hc9D ul { margin-top: 40px; box-shadow: rgb(212, 212, 208) 0px -4px 0px inset; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__headers--7hc9D ul li > a:first-child { text-decoration-line: none; color: rgb(51, 51, 51); }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__section--34V0y { display: inline-block; width: 100%; font-size: 14px; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__divLeft--2aGCm { float: left; width: 65%; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__divRight--36C5o { float: right; width: 35%; text-align: right; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__itemHeader--2au2N { text-transform: uppercase; letter-spacing: 1px; margin: 0px; font-size: 14px !important; font-weight: 900 !important; line-height: inherit !important; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__icon--2GusO svg { width: 24px; height: 24px; margin-right: 8px; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__subHeader--3iM4Y { margin-top: 4px; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__footerContainer--e7n9n { background-color: rgb(255, 255, 255); margin-top: auto; bottom: -1px !important; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__footerContainerPage--1-zW2 { background-color: rgb(255, 255, 255); margin-top: auto; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__fixedFooter--3j5oH { box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 2px 0px; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__accordionPanel--1mguV button { padding: 0px; margin: 0.8em 0px; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__accordionPanel--1mguV.atm-is-active { padding-bottom: 15px; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--checkout--ZXi4C .app-components-CommonShoppingCart-PostPurchasePathCart-styles__headers--7hc9D { display: none; }

@media screen and (min-width: 1184px) {
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--checkout--ZXi4C .app-components-CommonShoppingCart-PostPurchasePathCart-styles__container--3XCFB { padding: 0px; }
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--checkout--ZXi4C .app-components-CommonShoppingCart-PostPurchasePathCart-styles__headers--7hc9D { display: block; }
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--checkout--ZXi4C .app-components-CommonShoppingCart-PostPurchasePathCart-styles__headers--7hc9D ul { margin-top: 0px; }
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--checkout--ZXi4C .app-components-CommonShoppingCart-PostPurchasePathCart-styles__headers--7hc9D > div:first-child { position: sticky; top: 0px; z-index: 1; }
}

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--page--16M-u .app-components-CommonShoppingCart-PostPurchasePathCart-styles__headers--7hc9D { display: none; }

@media screen and (min-width: 1184px) {
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--page--16M-u .app-components-CommonShoppingCart-PostPurchasePathCart-styles__container--3XCFB { padding: 0px; }
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--page--16M-u .app-components-CommonShoppingCart-PostPurchasePathCart-styles__headers--7hc9D { display: block; }
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--page--16M-u .app-components-CommonShoppingCart-PostPurchasePathCart-styles__headers--7hc9D ul { margin-top: 0px; }
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--page--16M-u .app-components-CommonShoppingCart-PostPurchasePathCart-styles__headers--7hc9D > div:first-child { position: sticky; top: 0px; z-index: 1; }
}

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--checkout--ZXi4C .app-components-CommonShoppingCart-PostPurchasePathCart-styles__content--3Ig5K { display: none; }

@media screen and (min-width: 1184px) {
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--checkout--ZXi4C .app-components-CommonShoppingCart-PostPurchasePathCart-styles__container--3XCFB { padding: 0px; }
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--checkout--ZXi4C .app-components-CommonShoppingCart-PostPurchasePathCart-styles__content--3Ig5K { display: block; }
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--checkout--ZXi4C .app-components-CommonShoppingCart-PostPurchasePathCart-styles__content--3Ig5K ul { margin-top: 0px; }
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--checkout--ZXi4C .app-components-CommonShoppingCart-PostPurchasePathCart-styles__content--3Ig5K > div:first-child { position: sticky; top: 0px; z-index: 1; }
}

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--checkout--ZXi4C .app-components-CommonShoppingCart-PostPurchasePathCart-styles__footerPostPurchaseContainer--3HazQ { background-color: rgb(255, 255, 255); margin-top: auto; bottom: -1px !important; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--page--16M-u .app-components-CommonShoppingCart-PostPurchasePathCart-styles__content--3Ig5K { display: none; }

@media screen and (min-width: 1184px) {
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--page--16M-u .app-components-CommonShoppingCart-PostPurchasePathCart-styles__container--3XCFB { padding: 0px; }
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--page--16M-u .app-components-CommonShoppingCart-PostPurchasePathCart-styles__content--3Ig5K { display: block; }
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--page--16M-u .app-components-CommonShoppingCart-PostPurchasePathCart-styles__content--3Ig5K ul { margin-top: 0px; }
  .app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--page--16M-u .app-components-CommonShoppingCart-PostPurchasePathCart-styles__content--3Ig5K > div:first-child { position: sticky; top: 0px; z-index: 1; }
}

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--page--16M-u .app-components-CommonShoppingCart-PostPurchasePathCart-styles__footerPostPurchaseContainer--3HazQ { background-color: rgb(255, 255, 255); margin-top: auto; }

.app-components-CommonShoppingCart-PostPurchasePathCart-styles__variant--modal--1n3b7 .app-components-CommonShoppingCart-PostPurchasePathCart-styles__footerPostPurchaseContainer--3HazQ { background-color: rgb(255, 255, 255); margin-top: auto; bottom: -1px !important; }
