@charset "utf-8";

.app-containers-LocalizationContent-localizationContent__btnDefault--249uC { text-align: center; text-decoration: none; border-radius: 2px; height: 52px; line-height: 22px; width: 100%; font-size: 16px; }

@media (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__btnDefault--249uC { height: 56px; width: 160px; }
}

.app-containers-LocalizationContent-localizationContent__btnDefault--249uC:hover, .app-containers-LocalizationContent-localizationContent__btnDefault--249uC:focus { box-shadow: none; }

.app-containers-LocalizationContent-localizationContent__btnDefault--249uC:disabled, .app-containers-LocalizationContent-localizationContent__btnDefault--249uC[disabled] { box-shadow: none; border: none; background-color: rgb(230, 230, 230); color: rgb(102, 102, 102); }

.app-containers-LocalizationContent-localizationContent__primaryButton--2MaIh { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); border: 1px solid rgb(33, 114, 186); box-shadow: rgb(102, 102, 102) -1px 1px 1px 0px; }

.app-containers-LocalizationContent-localizationContent__primaryButton--2MaIh:hover, .app-containers-LocalizationContent-localizationContent__primaryButton--2MaIh:focus { border: 1px solid rgb(0, 48, 87); box-shadow: none; }

.app-containers-LocalizationContent-localizationContent__ancillaryButton--3UBKv, .app-containers-LocalizationContent-localizationContent__primaryButton--2MaIh.app-containers-LocalizationContent-localizationContent__ancillaryButton--3UBKv, .app-containers-LocalizationContent-localizationContent__btnDefault--249uC.app-containers-LocalizationContent-localizationContent__ancillaryButton--3UBKv { height: 30px; }

@media (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__ancillaryButton--3UBKv, .app-containers-LocalizationContent-localizationContent__primaryButton--2MaIh.app-containers-LocalizationContent-localizationContent__ancillaryButton--3UBKv, .app-containers-LocalizationContent-localizationContent__btnDefault--249uC.app-containers-LocalizationContent-localizationContent__ancillaryButton--3UBKv { width: 160px; }
}

.app-containers-LocalizationContent-localizationContent__secondaryButton--22s7r { background-color: rgb(237, 183, 43); color: rgb(0, 0, 0); border: 1px solid rgb(237, 183, 43); }

.app-containers-LocalizationContent-localizationContent__secondaryButton--22s7r:hover { border: 1px solid rgb(0, 57, 100); box-shadow: none; }

.app-containers-LocalizationContent-localizationContent__inputFieldBorder--1TUsz { border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid rgb(102, 102, 102); background: rgba(0, 0, 0, 0); border-radius: 0px; }

.app-containers-LocalizationContent-localizationContent__textLink--3A_l8 { font-size: 28px; letter-spacing: 0px; line-height: 18px; }

.app-containers-LocalizationContent-localizationContent__textLink--3A_l8:link { color: rgb(0, 34, 68); }

.app-containers-LocalizationContent-localizationContent__textLink--3A_l8:hover { color: rgb(33, 114, 186); border-bottom: 1px solid rgb(33, 114, 186); }

@media (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__textLink--3A_l8 { font-size: 16px; }
}

.app-containers-LocalizationContent-localizationContent__textLinkCTA--1cnjA { letter-spacing: 0px; }

.app-containers-LocalizationContent-localizationContent__textLinkCTA--1cnjA:link { color: rgb(102, 102, 102); text-decoration: underline; }

.app-containers-LocalizationContent-localizationContent__textLinkCTA--1cnjA:hover { color: rgb(0, 0, 0); }

@media (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__textLinkCTA--1cnjA { line-height: 22px; }
}

.app-containers-LocalizationContent-localizationContent__inverse--1MtKV { background-color: rgb(33, 114, 186); border-radius: 2px; color: rgb(255, 255, 255); }

.app-containers-LocalizationContent-localizationContent__inverse--1MtKV.app-containers-LocalizationContent-localizationContent__secondary--2fiXK { color: rgb(237, 183, 43); }

.app-containers-LocalizationContent-localizationContent__inverse--1MtKV input[type="text"], .app-containers-LocalizationContent-localizationContent__inverse--1MtKV input[type="password"], .app-containers-LocalizationContent-localizationContent__inverse--1MtKV input[type="tel"], .app-containers-LocalizationContent-localizationContent__inverse--1MtKV input[type="number"] { color: rgb(255, 255, 255); }

.app-containers-LocalizationContent-localizationContent__inverse--1MtKV input[type="text"].app-containers-LocalizationContent-localizationContent__secondary--2fiXK, .app-containers-LocalizationContent-localizationContent__inverse--1MtKV input[type="password"].app-containers-LocalizationContent-localizationContent__secondary--2fiXK, .app-containers-LocalizationContent-localizationContent__inverse--1MtKV input[type="tel"].app-containers-LocalizationContent-localizationContent__secondary--2fiXK, .app-containers-LocalizationContent-localizationContent__inverse--1MtKV input[type="number"].app-containers-LocalizationContent-localizationContent__secondary--2fiXK { color: rgb(237, 183, 43); }

.app-containers-LocalizationContent-localizationContent__inverseDark--1Fli3 { background-color: rgb(0, 34, 68); font-size: 16px; color: rgb(255, 255, 255); }

.app-containers-LocalizationContent-localizationContent__signInInput--1dcrJ { font-size: 24px; letter-spacing: -0.2px; line-height: 32px; }

.app-containers-LocalizationContent-localizationContent__roundedButton--3uT1g, .app-containers-LocalizationContent-localizationContent__roundedButtonOn--3zDpJ, .app-containers-LocalizationContent-localizationContent__roundedButtonPrimary--1G9Iy { font-size: 16px; letter-spacing: 0px; border: 1px solid; border-radius: 200px; height: 72px; width: 94px; text-align: center; }

@media (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__roundedButton--3uT1g, .app-containers-LocalizationContent-localizationContent__roundedButtonOn--3zDpJ, .app-containers-LocalizationContent-localizationContent__roundedButtonPrimary--1G9Iy { border-radius: 100px; height: 35px; }
}

.app-containers-LocalizationContent-localizationContent__roundedButtonPrimary--1G9Iy { color: rgb(153, 153, 153); border: 2px solid rgb(211, 211, 211); }

@media (min-width: 1184px) {
  .app-containers-LocalizationContent-localizationContent__roundedButtonPrimary--1G9Iy { border: 1px solid rgb(211, 211, 211); }
}

.app-containers-LocalizationContent-localizationContent__roundedButtonPrimary--1G9Iy:hover { color: rgb(102, 102, 102); border: 2px solid rgb(102, 102, 102); }

@media (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__roundedButtonPrimary--1G9Iy:hover { border: 1px solid rgb(102, 102, 102); }
}

.app-containers-LocalizationContent-localizationContent__roundedButtonOn--3zDpJ { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); }

.app-containers-LocalizationContent-localizationContent__alert--x_byV, .app-containers-LocalizationContent-localizationContent__highLevelAlert--1cyft, .app-containers-LocalizationContent-localizationContent__lowLevelAlert--xiOaT { border-radius: 3px; height: 60px; width: 100%; font-size: 16px; line-height: 18px; letter-spacing: 0px; padding-left: 55px; padding-top: 20px; }

.app-containers-LocalizationContent-localizationContent__lowLevelAlert--xiOaT { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }

.app-containers-LocalizationContent-localizationContent__highLevelAlert--1cyft { background-color: rgb(213, 0, 50); color: rgb(255, 255, 255); }

.app-containers-LocalizationContent-localizationContent__alertTriangle--yxsT-, .app-containers-LocalizationContent-localizationContent__low-alert-triangle--3OZfB, .app-containers-LocalizationContent-localizationContent__highAlertTriangle--3rk_I { padding-left: 48px; height: 19.96px; width: 22.01px; content: "!"; }

.app-containers-LocalizationContent-localizationContent__highAlertTriangle--3rk_I { color: rgb(255, 255, 255); }

.app-containers-LocalizationContent-localizationContent__low-alert-triangle--3OZfB { color: rgb(102, 102, 102); }

.app-containers-LocalizationContent-localizationContent__dropdown--2pYly { width: 100%; height: 100%; border: 1px solid rgb(229, 229, 229); }

@media (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__dropdown--2pYly { border-radius: 3px; border: 1px solid rgb(200, 200, 200); box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px; }
}

.app-containers-LocalizationContent-localizationContent__dropdownContent--2IHrI { font-size: 32px; line-height: 72px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-LocalizationContent-localizationContent__dropdownContent--2IHrI:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

@media (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__dropdownContent--2IHrI { font-size: 10px; line-height: 40px; }
}

.app-containers-LocalizationContent-localizationContent__dropdownExpand--2R_8I { font-size: 24px; line-height: 44px; color: rgb(0, 34, 68); letter-spacing: 0px; }

@media (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__dropdownExpand--2R_8I { font-size: 12px; line-height: 22px; }
}

.app-containers-LocalizationContent-localizationContent__simpleDropdownDefault--39C4_, .app-containers-LocalizationContent-localizationContent__simpleDropdownOnBackground--26p7s { border: 1px solid rgb(148, 148, 148); border-radius: 4px; font-size: 28px; color: rgb(51, 51, 51); letter-spacing: 0px; line-height: 24px; }

@media (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__simpleDropdownDefault--39C4_, .app-containers-LocalizationContent-localizationContent__simpleDropdownOnBackground--26p7s { font-size: 16px; color: rgb(0, 34, 68); border: none; }
  .app-containers-LocalizationContent-localizationContent__simpleDropdownDefault--39C4_:hover, .app-containers-LocalizationContent-localizationContent__simpleDropdownOnBackground--26p7s:hover { color: rgb(33, 114, 186); }
}

.app-containers-LocalizationContent-localizationContent__simpleDropdownOnBackground--26p7s { opacity: 0.5; border: 1px solid rgb(255, 255, 255); border-radius: 6px; color: rgb(255, 255, 255); }

.app-containers-LocalizationContent-localizationContent__simpleDropdownActive--1ZToG { font-size: 16px; line-height: 40px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-LocalizationContent-localizationContent__simpleDropdownActive--1ZToG:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

.app-containers-LocalizationContent-localizationContent__simpleDropdownActive--1ZToG:checked { color: rgb(0, 34, 68); }

.app-containers-LocalizationContent-localizationContent__checkboxWrapper--3PwlN { position: relative; }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked), .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked), .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked { position: absolute; left: 0px; top: -1px; opacity: 0; }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked) + label, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked + label, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked) + label, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked + label { position: relative; cursor: pointer; font-size: 14px; }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked) + label::before, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked) + label::after, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked + label::before, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked + label::after, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked) + label::before, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked) + label::after, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked + label::before, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked + label::after { position: absolute; left: 0px; top: -1px; }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked) + label::before, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked + label::before, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked) + label::before, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked + label::before { content: ""; border: 2px solid rgb(0, 57, 100); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px inset; }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked) + label::after, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked + label::after, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked) + label::after, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked + label::after { content: ""; display: block; border-style: solid; border-color: rgb(255, 255, 255); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(45deg); position: absolute; text-align: center; }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked), .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:disabled) + label::after, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked), .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:disabled) + label::after { opacity: 0; border-color: rgb(0, 34, 68); }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked + label::after, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked + label::after { opacity: 1; border-color: rgb(255, 255, 255); }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked + label::before, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked + label::before { background: rgb(0, 34, 68); }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked) + label::before, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked) + label::before { background: rgb(255, 255, 255); }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:disabled:not(:checked) + label::before, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:disabled:checked + label::before, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:disabled:not(:checked) + label::before, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:disabled:checked + label::before { box-shadow: none; border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:disabled:checked + label::after, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:disabled:checked + label::after { color: rgb(153, 153, 153); }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:disabled + label, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:disabled + label { color: rgb(170, 170, 170); }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked:focus + label::before, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked):focus + label::before, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked:focus + label::before, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked):focus + label::before { outline: dotted 1px; }

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked) + label, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked + label { padding-left: 32px; line-height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked) + label, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked + label { padding-left: 26px; line-height: 18px; }
}

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked) + label::before, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked + label::before { width: 24px; height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked) + label::before, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked + label::before { width: 20px; height: 20px; }
}

.app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked) + label::after, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked + label::after { font-size: 14px; top: 5px; left: 9px; width: 5px; height: 11px; }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:not(:checked) + label::after, .app-containers-LocalizationContent-localizationContent__customCheckbox--36aja:checked + label::after { left: 8px; top: 3px; }
}

.app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked) + label, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked + label { padding-left: 25px; font-size: 12px; line-height: 15px; }

.app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked) + label::before, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked + label::before { width: 15px; height: 15px; }

.app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked) + label::after, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked + label::after { font-size: 10px; left: 6px; top: 2px; width: 4px; height: 9px; }

.app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked) + label:hover, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked) + label:focus, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked + label:hover, .app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked + label:focus { color: rgb(0, 34, 68); }

.app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:not(:checked) + label { color: rgb(137, 137, 137); }

.app-containers-LocalizationContent-localizationContent__customCheckboxSm--2bYFY:checked + label { color: rgb(0, 34, 68); }

.app-containers-LocalizationContent-localizationContent__whiteAndBlackCustomCheckBox--t0YHb:checked + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-LocalizationContent-localizationContent__whiteAndBlackCustomCheckBox--t0YHb:not(:checked) + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-LocalizationContent-localizationContent__whiteAndBlackCustomCheckBox--t0YHb:checked + label::after { border-color: rgb(0, 0, 0); top: 5px; left: 10px; }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__whiteAndBlackCustomCheckBox--t0YHb:checked + label::after { top: 3px; left: 8px; }
}

.app-containers-LocalizationContent-localizationContent__questionMarkToolTip--IXKff::before { content: "?"; display: inline-block; vertical-align: top; text-align: center; font-weight: bold; width: 24px; height: 24px; font-size: 14px; line-height: 1.4; margin-top: 0px; margin-left: 8px; border: 1px solid rgb(255, 255, 255); border-radius: 50%; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__questionMarkToolTip--IXKff::before { line-height: 1.3; margin-top: 4px; width: 16px; height: 16px; font-size: 10px; }
}

.app-containers-LocalizationContent-localizationContent__floatingLabel--3ts9X { font-size: 12px; color: rgb(102, 102, 102); line-height: 13px; }

.app-containers-LocalizationContent-localizationContent__formLink--NyQ8t { font-size: 16px; text-decoration: underline; }

.app-containers-LocalizationContent-localizationContent__formLink--NyQ8t:hover { outline: rgb(33, 114, 186) dotted 1px; color: rgb(35, 82, 124); }

.app-containers-LocalizationContent-localizationContent__fieldErrorMessage--b8eUE { position: absolute; bottom: 0px; color: rgb(213, 0, 50); letter-spacing: 0px; font-size: 13px; line-height: 1.5; text-align: center; }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__fieldErrorMessage--b8eUE { font-size: 11px; }
}

.app-containers-LocalizationContent-localizationContent__homepageTextField--EP4nj { line-height: 1; }

.app-containers-LocalizationContent-localizationContent__homepageTextField--EP4nj label { color: rgb(0, 34, 68); text-transform: none; font-weight: bold; font-size: 12px; letter-spacing: 1px; margin-bottom: -1px; }

.app-containers-LocalizationContent-localizationContent__homepageTextField--EP4nj input { transition: color 0.4s ease 0s; color: rgb(0, 34, 68); height: 46px; }

.app-containers-LocalizationContent-localizationContent__homepageTextField--EP4nj input::-webkit-input-placeholder { text-transform: none; font-style: normal; font-weight: normal; }

.app-containers-LocalizationContent-localizationContent__homepageTextField--EP4nj:focus { color: rgb(33, 114, 186); border-color: rgb(33, 114, 186); }

.app-containers-LocalizationContent-localizationContent__homepageTextField--EP4nj:focus > label { color: rgb(33, 114, 186); }

.app-containers-LocalizationContent-localizationContent__homepageTextField--EP4nj .atm-c-field-note.atm-c-textfield__note { position: absolute; margin: 0px; bottom: -24px; }

.app-containers-LocalizationContent-localizationContent__homepageTextField--EP4nj .atm-c-field-note.atm-c-textfield__note svg { display: none; }

.app-containers-LocalizationContent-localizationContent__contentContainer--2FXyw { display: flex; flex-flow: column nowrap; justify-content: flex-start; align-items: stretch; color: rgb(0, 34, 68); text-align: left; font-size: 14px; }

.app-containers-LocalizationContent-localizationContent__contentContainer--2FXyw .app-containers-LocalizationContent-localizationContent__languageSelector--rZp0f, .app-containers-LocalizationContent-localizationContent__contentContainer--2FXyw .app-containers-LocalizationContent-localizationContent__regionSelector--2Z2B1 { padding: 13px; flex: 1 1 50%; }

.app-containers-LocalizationContent-localizationContent__contentContainer--2FXyw .app-containers-LocalizationContent-localizationContent__dialogActions--3hn_2 { padding: 13px; flex: 1 1 auto; }

.app-containers-LocalizationContent-localizationContent__contentContainer--2FXyw .app-containers-LocalizationContent-localizationContent__instructionText--4sxsZ { padding: 13px; white-space: normal; }

.app-containers-LocalizationContent-localizationContent__contentContainer--2FXyw .app-containers-LocalizationContent-localizationContent__regionAndLanguage--29a5A { display: flex; flex-direction: column; justify-content: space-between; }

.app-containers-LocalizationContent-localizationContent__contentContainer--2FXyw .app-containers-LocalizationContent-localizationContent__regionSelector--2Z2B1 ul > li[aria-selected="true"]::after { right: 20px; }

.app-containers-LocalizationContent-localizationContent__contentContainer--2FXyw .app-containers-LocalizationContent-localizationContent__dialogActions--3hn_2 { display: flex; flex-flow: row nowrap; justify-content: flex-end; }

@media screen and (min-width: 944px) {
  .app-containers-LocalizationContent-localizationContent__contentContainer--2FXyw .app-containers-LocalizationContent-localizationContent__regionAndLanguage--29a5A { flex-direction: row; }
  .app-containers-LocalizationContent-localizationContent__contentContainer--2FXyw .app-containers-LocalizationContent-localizationContent__instructionText--4sxsZ p { padding: 0px; text-transform: none; }
  .app-containers-LocalizationContent-localizationContent__contentContainer--2FXyw .app-containers-LocalizationContent-localizationContent__dialogActions--3hn_2 { justify-items: end; display: flex; flex-flow: row nowrap; justify-content: flex-end; }
}

.app-containers-LocalizationContent-localizationContent__submitLocalizationButton--2QfPo { background-color: rgb(98, 68, 187); border-color: rgb(116, 90, 196); border-radius: 4px; }

.app-containers-LocalizationContent-localizationContent__submitLocalizationButton--2QfPo:hover, .app-containers-LocalizationContent-localizationContent__submitLocalizationButton--2QfPo:focus { background-color: rgb(65, 45, 125); border-color: rgb(65, 45, 125); box-shadow: none; }
