@charset "utf-8";

.atm-c-tabs--boxed { border-right: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); border-radius: 4px; }

.atm-c-tabs__header { width: 100%; overflow: auto hidden; position: relative; background: linear-gradient(to right, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0)) 0% 0% / 40px 100% no-repeat local, linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 70%) right center / 40px 100% local, linear-gradient(to right, rgba(0, 0, 0, 0.2) 0px, transparent 70%) 0% 0% / 14px 100% scroll, linear-gradient(to left, rgba(0, 0, 0, 0.2) 0px, transparent 70%) right center / 14px 100% scroll; }

.atm-c-tabs--boxed .atm-c-tabs__header { overflow: visible; background: none; }

.atm-c-tabs--inverted .atm-c-tabs__header { background: none; }

.atm-c-tabs__list { margin: 0px; padding: 0px; list-style: none; display: flex; font-size: 1rem; font-weight: 400; line-height: 1.5; }

.atm-c-footer .atm-c-tabs__list { overflow: auto; }

.atm-c-tabs__item { flex-shrink: 0; margin-top: 1rem; margin-right: 3rem; }

.atm-c-tabs--boxed .atm-c-tabs__item { -webkit-box-flex: 1; flex: 1 1 0%; margin-top: 0px; margin-right: 0px; }

.atm-c-tabs--small .atm-c-tabs__item { font-size: 0.75rem; font-weight: 400; margin-right: 1rem; line-height: 1.5rem; }

.atm-c-tabs .atm-c-tabs .atm-c-tabs__item { -webkit-box-flex: 0; flex: 0 0 auto; margin-top: 1rem; margin-right: 3rem; }

.atm-c-tabs__link { display: block; padding: 0px 0px 0.75rem; transition: color 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s, background-color 0.15s ease-out 0s; }

.atm-c-tabs__link:focus { outline: rgb(98, 68, 187) solid 4px; }

.atm-c-tabs--small .atm-c-tabs__link { padding-left: 0.5rem; padding-right: 0.5rem; padding-bottom: 0.25rem; }

.atm-c-tabs__item.atm-is-active .atm-c-tabs__link { color: rgb(0, 34, 68); box-shadow: rgb(0, 34, 68) 0px -4px 0px 0px inset; }

.atm-c-tabs--small .atm-c-tabs__item.atm-is-active .atm-c-tabs__link { box-shadow: rgb(0, 34, 68) 0px -2px 0px 0px inset; }

.atm-c-tabs--boxed .atm-c-tabs__item .atm-c-tabs__link { padding: 1rem; background: rgb(0, 34, 68); color: rgb(255, 255, 255); text-align: center; box-shadow: none; border-right: 1px solid rgb(255, 255, 255); height: 100%; }

.atm-c-tabs--boxed .atm-c-tabs__item .atm-c-tabs__link:hover, .atm-c-tabs--boxed .atm-c-tabs__item .atm-c-tabs__link:focus { background: rgb(0, 47, 94); }

.atm-c-tabs--boxed .atm-c-tabs__item:first-child .atm-c-tabs__link { border-top-left-radius: 4px; }

.atm-c-tabs--boxed .atm-c-tabs__item:last-child .atm-c-tabs__link { border-right: none; border-top-right-radius: 4px; }

.atm-c-tabs--boxed .atm-c-tabs__item.atm-is-active .atm-c-tabs__link { padding-top: calc(1rem - 4px); color: rgb(0, 34, 68); background-color: rgb(255, 255, 255); box-shadow: none; border-top: 4px solid rgb(0, 34, 68); }

.atm-c-tabs .atm-c-tabs .atm-c-tabs__item .atm-c-tabs__link { display: block; padding: 0px 0px 0.75rem; background-color: rgb(255, 255, 255); color: rgb(0, 34, 68); border-top: none; transition: color 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s, background-color 0.15s ease-out 0s; }

.atm-c-tabs .atm-c-tabs .atm-c-tabs__item .atm-c-tabs__link:hover, .atm-c-tabs .atm-c-tabs .atm-c-tabs__item .atm-c-tabs__link:focus { background: none; }

.atm-c-tabs .atm-c-tabs .atm-c-tabs__item.atm-is-active .atm-c-tabs__link { color: rgb(0, 34, 68); box-shadow: rgb(0, 34, 68) 0px -4px 0px 0px inset; }

.atm-c-tabs--inverted .atm-c-tabs__link { color: rgb(255, 255, 255); }

.atm-c-tabs--inverted .atm-c-tabs__link:focus, .atm-c-tabs--inverted .atm-c-tabs__link:hover { color: rgb(204, 204, 204); }

.atm-c-tabs--inverted .atm-c-tabs__link:focus { outline: rgb(179, 165, 223) solid 4px; }

.atm-c-tabs--inverted .atm-c-tabs__item.atm-is-active .atm-c-tabs__link { color: rgb(105, 179, 231); box-shadow: rgb(105, 179, 231) 0px -4px 0px 0px inset; }

.atm-c-tabs__body { padding-top: 1rem; padding-right: 0px; padding-left: 0px; border-bottom-left-radius: 0.25rem; border-bottom-right-radius: 0.25rem; }

.atm-c-tabs--boxed > .atm-c-tabs__body { padding: 1rem; background: rgb(255, 255, 255); }

.atm-c-footer .atm-c-tabs__body { padding: 0px; }

.atm-c-tabs--inverted .atm-c-tabs__body { background: none; }
