@charset "utf-8";

.dropdown[_ngcontent-nke-c91] { position: relative; width: 100%; }

.dropdown__toggle[_ngcontent-nke-c91] { align-items: center; background-color: var(--light-base, #fff); border: solid 0.0625rem var(--light-grey, #c3c7cc); border-radius: 0.25rem; color: var(--standard-grey, #6c7079); cursor: pointer; display: flex; height: 2.5rem; outline: none; padding: 0px 0.5rem; position: relative; width: 100%; }

.dropdown__toggle[_ngcontent-nke-c91]:hover, .dropdown__toggle[_ngcontent-nke-c91]:focus { border-color: var(--light-blue, #166bc8); }

.dropdown__toggle--selected[_ngcontent-nke-c91] { color: inherit; }

.dropdown__label[_ngcontent-nke-c91] { color: var(--standard-grey, #6c7079); padding-bottom: 0.25rem; }

.dropdown__error[_ngcontent-nke-c91] { padding-top: 0.25rem; }

.dropdown__toggle-text[_ngcontent-nke-c91] { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.dropdown__toggle-chevron[_ngcontent-nke-c91] { fill: var(--light-blue, #166bc8); margin-left: auto; transform: rotate(-90deg); transition: transform 0.2s cubic-bezier(0.2, 0, 0.2, 1) 0s; }

.dropdown__menu[_ngcontent-nke-c91] { align-items: center; background-color: var(--light-base, #fff); border-radius: 0.125rem; box-shadow: rgba(46, 46, 46, 0.1) 0px 4px 4px; clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem); display: block; left: 0px; opacity: 0.1; overflow: hidden; pointer-events: none; position: absolute; top: 100%; transform: translateY(-0.625rem) scaleY(0.5); transform-origin: center top; transition: transform 0.2s cubic-bezier(0.2, 0, 0.2, 1) 0s, opacity 0.3s cubic-bezier(0.2, 0, 0.2, 1) 0s; width: 100%; z-index: 2; }

.dropdown__menu-items[_ngcontent-nke-c91] { max-height: 21.875rem; overflow-y: auto; }

.dropdown--opened[_ngcontent-nke-c91] .dropdown__menu[_ngcontent-nke-c91] { clip: auto; opacity: 1; pointer-events: all; transform: scaleY(1); will-change: transform; }

.dropdown--opened[_ngcontent-nke-c91] .dropdown__menu[_ngcontent-nke-c91]:hover { background-color: transparent; }

.dropdown--opened[_ngcontent-nke-c91] .dropdown__toggle[_ngcontent-nke-c91] { border-color: var(--light-blue, #166bc8); }

.dropdown--opened[_ngcontent-nke-c91] .dropdown__toggle-chevron[_ngcontent-nke-c91] { transform: rotate(90deg); }

.dropdown--borderless[_ngcontent-nke-c91] .dropdown__toggle[_ngcontent-nke-c91] { border: none; color: var(--light-blue, #166bc8); font-size: 1rem; font-weight: 700; justify-content: flex-start; padding: 0px; }

.dropdown--borderless[_ngcontent-nke-c91] .dropdown__toggle-chevron[_ngcontent-nke-c91] { margin-left: 0.5rem; }

.dropdown[_ngcontent-nke-c91]:hover .dropdown__menu[_ngcontent-nke-c91] { will-change: transform; }

[disabled][_nghost-nke-c91] .dropdown[_ngcontent-nke-c91], .dropdown.disabled[_ngcontent-nke-c91] { opacity: 0.3; pointer-events: none; }

.ng-invalid[_nghost-nke-c91] .dropdown__error[_ngcontent-nke-c91], .ng-invalid[_nghost-nke-c91] .dropdown__label--error[_ngcontent-nke-c91] { color: var(--error-red, #cf2e1d); }

.ng-invalid[_nghost-nke-c91] .dropdown__toggle--error[_ngcontent-nke-c91] { border-color: var(--error-red, #cf2e1d); }
