@charset "utf-8";

body.content--stretch[_nghost-nke-c51], body.content--stretch [_nghost-nke-c51] { display: flex; flex-direction: column; justify-items: stretch; }

[_nghost-nke-c51] { display: block; flex: 1 0 auto; }
