@charset "utf-8";

.tabs__menu[_ngcontent-nke-c113] { display: flex; overflow: auto; }

.tabs__menu--overflow-visible[_ngcontent-nke-c113] { overflow: visible; }

.tabs__menu--shadowed[_ngcontent-nke-c113] { box-shadow: rgba(46, 46, 46, 0.1) 0px 2px 2px; }

.tabs__menu--fixed[_ngcontent-nke-c113] { position: fixed; transform: translateZ(0px); width: 100%; z-index: 1; }

.tabs__menu-item[_ngcontent-nke-c113] { align-items: center; cursor: default; display: flex; flex: 1 1 auto; justify-content: center; text-align: center; }

.tabs__menu-item[_ngcontent-nke-c113]:hover, .tabs__menu-item--active[_ngcontent-nke-c113] { cursor: pointer; }

.tabs__menu-item--disabled[_ngcontent-nke-c113], .tabs__menu-item--disabled[_ngcontent-nke-c113]:hover { cursor: default; opacity: 0.4; }

.tabs__menu-item--content-align-left[_ngcontent-nke-c113] { justify-content: flex-start; text-align: left; }

.tabs__menu-item--same-size[_ngcontent-nke-c113] { flex: 1 1 0%; }

.tabs__content--fixed[_ngcontent-nke-c113] { padding-top: 2.5rem; }
