@charset "utf-8";

[_nghost-nke-c157] { align-items: center; cursor: pointer; display: flex; justify-content: flex-end; position: relative; }

.basket-total[_ngcontent-nke-c157] { align-items: flex-end; display: flex; }

.basket-total--has-items[_ngcontent-nke-c157] { justify-content: space-between; }

.basket-total-price[_ngcontent-nke-c157] { display: inline-block; font-size: 1.125rem; opacity: 1; transition: opacity 0.35s ease 0s; }

.basket-total-price--loading[_ngcontent-nke-c157] { opacity: 0.5; }

.basket-total-icon[_ngcontent-nke-c157] { float: right; height: 1.25rem; margin-left: 0.75rem; position: relative; width: 1.25rem; }

.basket-total-icon[_ngcontent-nke-c157] > .basket-total-icon__state[_ngcontent-nke-c157] { height: 1.25rem; left: 0px; position: absolute; top: 0px; width: 1.25rem; }

.basket-total-icon__badge[_ngcontent-nke-c157] { background-color: var(--error-red, #cf2e1d); border: 0.0625rem solid var(--light-base, #fff); border-radius: 0.5rem; height: 0.5rem; position: absolute; right: -0.125rem; top: -0.125rem; width: 0.5rem; z-index: 1; }

.theme-lauda[_nghost-nke-c157] .basket-total-icon__badge[_ngcontent-nke-c157], .theme-lauda [_nghost-nke-c157] .basket-total-icon__badge[_ngcontent-nke-c157] { background-color: var(--primary-blue, #073590); }

.basket-total-icon__cart[_ngcontent-nke-c157] { left: 0px; position: absolute; top: 0px; }

.basket-total-icon__spinner[_ngcontent-nke-c157] { opacity: 0; }

.basket-total-icon__tick[_ngcontent-nke-c157] { fill: var(--light-base, #fff); left: -0.125rem; position: absolute; top: -0.1875rem; }

[dir="rtl"][_nghost-nke-c157] .basket-total-icon[_ngcontent-nke-c157], [dir="rtl"] [_nghost-nke-c157] .basket-total-icon[_ngcontent-nke-c157] { float: left; margin-left: 0px; margin-right: 0.5rem; }

[dir="rtl"][_nghost-nke-c157] .basket-total-icon__badge[_ngcontent-nke-c157], [dir="rtl"] [_nghost-nke-c157] .basket-total-icon__badge[_ngcontent-nke-c157] { left: -0.125rem; right: inherit; }

[dir="rtl"][_nghost-nke-c157] .basket-total-icon__cart[_ngcontent-nke-c157], [dir="rtl"] [_nghost-nke-c157] .basket-total-icon__cart[_ngcontent-nke-c157] { transform: scaleX(-1); }
