@charset "utf-8";

@-webkit-keyframes _ngcontent-nke-c84_rotation { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

@keyframes _ngcontent-nke-c84_rotation { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.spinner[_ngcontent-nke-c84] { color: var(--standard-grey, #6c7079); text-align: center; }

.spinner__icon[_ngcontent-nke-c84] { animation: 1s linear 0s infinite normal none running _ngcontent-nke-c84_rotation; border-radius: 100%; margin: 0px auto; border: 0.1875rem solid rgb(208, 225, 244); height: 2rem; width: 2rem; }

.spinner__icon[_ngcontent-nke-c84]::before { border: 0.1875rem solid transparent; height: 2rem; left: -0.1875rem; top: -0.1875rem; width: 2rem; }

.spinner__icon[_ngcontent-nke-c84]::before { border-right-color: var(--light-blue, #166bc8); border-top-color: var(--light-blue, #166bc8); }

.spinner__icon.fixed[_ngcontent-nke-c84] { margin: -1.09375rem; }

.spinner__icon[_ngcontent-nke-c84]::before { border-radius: 100%; content: ""; display: block; position: absolute; }

.spinner__icon[_ngcontent-nke-c84]:not(:last-child) { margin-bottom: 0.5rem; }

.ry-spinner--cover[_nghost-nke-c84] > .spinner[_ngcontent-nke-c84] { align-items: center; display: flex; flex-direction: column; height: 100%; justify-content: center; position: absolute; top: 0px; width: 100%; z-index: 100; }

.ry-spinner--cover-fixed[_nghost-nke-c84] > .spinner[_ngcontent-nke-c84] { align-items: center; display: flex; flex-direction: column; height: 100%; justify-content: center; position: fixed; top: 0px; width: 100%; z-index: 100; }
