@charset "utf-8";

[_nghost-nke-c118] { align-items: center; display: flex; flex-direction: column; justify-content: center; position: relative; user-select: none; width: 100%; }

.carousel-item[_ngcontent-nke-c118] { border-radius: 0.5rem; display: flex; height: 2.5rem; overflow: hidden; width: 3.75rem; }

@media only screen and (min-width: 48em) {
  .carousel-item[_ngcontent-nke-c118] { height: 4.25rem; width: 6.375rem; }
}

.carousel-item__image[_ngcontent-nke-c118] { object-fit: cover; object-position: center center; width: 100%; }
