@charset "utf-8";

*, ::before, ::after { box-sizing: border-box; }

html { tab-size: 4; }

html { line-height: 1.15; text-size-adjust: 100%; }

body { margin: 0px; }

body { font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; }

*, ::before, ::after { box-sizing: border-box; }

@font-face { font-display: swap; font-family: Roboto; font-style: normal; font-weight: 300; src: local(""), url("https://assets.ryanair.com/resources/ui/fonts/roboto-300.woff2") format("woff2"), url("https://assets.ryanair.com/resources/ui/fonts/roboto-300.woff") format("woff"); }

@font-face { font-display: swap; font-family: Roboto; font-style: normal; font-weight: 400; src: local(""), url("https://assets.ryanair.com/resources/ui/fonts/roboto.woff2") format("woff2"), url("https://assets.ryanair.com/resources/ui/fonts/roboto.woff") format("woff"); }

@font-face { font-display: swap; font-family: Roboto; font-style: normal; font-weight: 500; src: local(""), url("https://assets.ryanair.com/resources/ui/fonts/roboto-500.woff2") format("woff2"), url("https://assets.ryanair.com/resources/ui/fonts/roboto-500.woff") format("woff"); }

@font-face { font-display: swap; font-family: Roboto; font-style: normal; font-weight: 700; src: local(""), url("https://assets.ryanair.com/resources/ui/fonts/roboto-700.woff2") format("woff2"), url("https://assets.ryanair.com/resources/ui/fonts/roboto-700.woff") format("woff"); }

html, body { font-family: Roboto, sans-serif; -webkit-font-smoothing: antialiased; height: 100%; margin: 0px; padding: 0px; }

html { font-size: 100%; line-height: 1.3rem; }

* { -webkit-font-smoothing: antialiased; text-size-adjust: 100%; }

html, body { background-color: var(--bg-grey, #f4f4f4); color: var(--very-dark-grey, #2e2e2e); font-family: Roboto, sans-serif; height: 100%; margin: 0px; min-width: 58.375rem; overflow-anchor: auto; padding: 0px; }
