@charset "utf-8";

.JFEScope .questionFocused .advanceButtonContainer { visibility: unset; opacity: 1; transition: opacity 0.3s ease 0s !important; }

.JFEScope .questionUnfocused .advanceButtonContainer, .advanceButtonContainer { visibility: hidden; opacity: 0; transition: opacity 0.3s ease 0s !important; }

.Skin .Bipolar .bipolar-mobile-header, .Skin .Bipolar .desktop .bipolar-mobile-header, .Skin .Bipolar .mobile .ColumnLabelHeader { display: none; }

html.MobilePreviewFrame::-webkit-scrollbar { display: none; }

html.MobilePreviewFrame { }
