@charset "utf-8";

#ensModalWrapper { position: fixed; margin: auto; z-index: 9999; overflow-x: hidden; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.5) !important; top: 0rem !important; max-width: 100% !important; padding: 0px !important; }

#ensModalWrapper.hide { display: none !important; }

.ensModal { margin: auto; position: relative; top: 1rem; max-width: 625px; padding: 0px !important; }

.ens-body-wrap { padding: 1rem 1.5rem 1.5rem; }

.ensModal-header { height: 55px; background: rgb(16, 23, 46); display: flex; justify-content: space-between; align-items: center; padding: 0px 30px; }

.tooltipClose { margin-top: 1.5rem; height: 40px; border: none; position: relative; background: url("https://www.delta.com/content/dam/delta-tnt/delta-opt/NewBasicModal/close-icon.png") 0% 0% / 100% no-repeat; cursor: pointer; }

.header-text { font-family: Whitney-book !important; }

.ensModal-header > h1 { font-style: normal; line-height: 24px; margin-right: 30px; color: rgb(255, 255, 255); font-size: 20px !important; }

.info-text { padding: 0px; margin-top: 0px; font-family: Whitney-light; font-style: normal; font-weight: 300; line-height: 24px; color: rgb(11, 31, 102); font-size: 16px !important; }

.info-text a { text-decoration: none; font-family: Whitney-Semibold; }

.top { padding-bottom: 1rem; margin-top: 0px; }

.info-text.top { padding-left: 0.8rem; }

.p-link-text.info-text { margin-top: 0.5rem; margin-left: 1.5rem; cursor: pointer; margin-bottom: 1rem; }

.req-cookies-header-text { margin-top: 1rem; margin-bottom: 0.5rem; font-family: Whitney-bold; font-style: normal; font-weight: bold; line-height: 18px; letter-spacing: 1.4px; text-transform: uppercase; color: rgb(11, 31, 102); font-size: 15px !important; }

.mt { margin-top: 1.5rem; }

.radio-div { margin: 0.5rem; }

.radio-div > label { font-family: Whitney-light; line-height: 14px; color: rgb(11, 31, 102); font-size: 14px !important; }

.more-details { display: inline; font-family: Whitney-medium; font-style: normal; font-weight: 600; line-height: 16px; letter-spacing: 1px; color: rgb(11, 31, 102); font-size: 14px !important; }

.ds-checkbox { margin: 0px; display: flex; }

.ds-checkbox label { margin-left: 10px; font-family: Whitney-light; font-weight: 500; line-height: 18px; color: rgb(11, 31, 102); font-size: 15px !important; }

.gdprSquare { position: relative; width: 16px; height: 16px; border: 1px solid black; display: inline-block; margin-right: 10px !important; }

.checkmark { position: absolute; bottom: -5px; left: 0px; }

#dontShow { left: -9999px; }

label[for="dontShow"] { margin-left: -5px; }

.btns { margin-top: 0.5rem; flex-direction: column; justify-content: flex-end; }

.gdpr-btn { width: 50%; cursor: pointer; height: 54px; color: rgb(0, 0, 0); font-style: normal; font-weight: 600; line-height: 14px; text-align: center; letter-spacing: 1.5px; text-transform: uppercase; font-family: Whitney-Semibold !important; font-size: 12px !important; }

#no { margin-left: 1rem; }

.white { height: 57px; border: 2px solid rgb(11, 31, 102); }

.gdpr-btn-div { display: flex; flex-direction: row; justify-content: center; }

.ensButtons { height: 60px; margin-top: 0.5rem; }

.md-req-cookies-header { display: none; }

.arrow, .radio-div > input, .radio-div > label, .gdprSquare, label[for="dontShow"], .checkmark, .more-details { cursor: pointer; }

.bottom-border { border-bottom: 1px solid rgb(222, 223, 225); }

.sep { margin-top: 0.5rem; }

.btn-div.sep { margin-top: 0.5rem; }

.ul-list { padding-left: 1.5rem; margin-bottom: 0px; }

.input-div { display: inline-block; margin-right: 15px; }

.testCon { display: block; position: relative; padding-left: 35px; padding-top: 5px; margin-bottom: 12px; font-family: Whitney-light; line-height: 14px; color: rgb(11, 31, 102); cursor: pointer; user-select: none; font-size: 14px !important; }

.testCon input { position: absolute; opacity: 0; cursor: pointer; height: 0px; width: 0px; }

.testMark { position: absolute; top: 0px; left: 0px; height: 25px; width: 25px; background-color: rgb(255, 255, 255); border-radius: 50%; border: 2px solid rgb(11, 31, 102); }

.testCon:hover input ~ .testMark { background-color: rgb(204, 204, 204); }

.testCon input:checked ~ .testMark { background-color: rgb(255, 255, 255); }

.testMark::after { content: ""; position: absolute; display: none; }

.testCon input:checked ~ .testMark::after { display: block; }

.testCon .testMark::after { top: 4px; left: 4px; width: 13px; height: 13px; border-radius: 50%; background: rgb(11, 31, 102); }

.fresh-air .icon-Dropdown-caret::before { color: rgb(223, 30, 51); content: ""; font-style: normal; font-weight: 400; font-variant: normal; line-height: 1; text-transform: none; speak: none; font-family: icomoon !important; }

#gdpr-banner-blurred-background { display: none; background: rgba(0, 0, 0, 0.5); top: 0rem; position: fixed; margin: auto; z-index: 2200000; max-width: 100%; overflow-x: hidden; max-height: calc(100vh - 1px); height: 100%; width: 100%; padding: 0px; }

.gdpr-banner { padding: 0rem 1rem; position: fixed; bottom: 0px; background: rgb(255, 255, 255); z-index: 10000; width: 100%; }

.gdpr-body-wrapper { display: flex; flex-direction: row; padding: 1.5rem; margin: auto; width: 60%; }

.text-div { width: 75%; }

.text-div > .text-div-p { margin-left: 2.5rem; padding: 0rem 3rem; font-style: normal; font-weight: normal; font-family: Whitney-Book; color: rgb(11, 31, 102); font-size: 13px; line-height: 16px; margin-bottom: 0px !important; }

.modal-buttons-div { position: relative; margin-left: 1rem; width: 25%; display: flex; flex-direction: row; align-self: flex-end; font-size: 12px !important; }

.gdpr-banner-btn { justify-content: center !important; height: 1.7rem !important; font-weight: 600 !important; line-height: 17px !important; display: flex !important; text-align: center !important; align-items: center !important; letter-spacing: 1.3px !important; text-transform: uppercase !important; font-family: Whitney-Semibold !important; cursor: pointer !important; }

.gdpr-banner-accept-btn { margin-right: 0.8rem; font-size: 12px !important; width: 50% !important; cursor: pointer !important; }

.gdpr-banner-settings-btn { font-size: 12px !important; border-radius: 0px !important; background: rgb(255, 255, 255) !important; border: 1.5px solid rgb(11, 31, 102) !important; width: 50% !important; cursor: pointer !important; }

.gdpr-close { height: 15px; position: absolute; right: 30px; top: 24px; cursor: pointer; }

.gdpr-close { top: -2rem; right: 0px; position: absolute; width: 1rem; height: 1rem; padding: 0.625rem; cursor: pointer; background: url("/content/dam/delta-applications/fresh-air-core/20.7.0/images/flyout-close.svg") 0.125rem center no-repeat scroll transparent; border: 0px; }

@media only screen and (max-width: 320px) {
  #ensModalWrapper { margin-left: 0px !important; width: 320px !important; max-width: 320px !important; }
  .ens-body-wrap { padding: 10px !important; margin-left: 0px !important; }
  .p-link-text.info-text { margin-left: 36px !important; }
}

@media only screen and (max-width: 375px) {
  #ensModalWrapper { max-height: fit-content; max-width: 375px !important; margin-left: 0px !important; }
  .btns { margin-left: 0px !important; }
  .gdpr-btn-div { flex-direction: column !important; }
  .p-link-text.info-text { margin-left: 1.2rem !important; }
  .gdpr-btn { width: 100% !important; }
}

@media only screen and (max-width: 425px) {
  #ensModalWrapper { max-height: fit-content; }
  .ensModal { top: 0rem !important; }
  .ensModal-header { height: 42px !important; }
  .tooltipClose { background-size: 100%; margin-right: -0.5rem; }
  .ens-body-wrap { padding-right: 0.8rem; padding-bottom: 0.8rem; padding-left: 0.8rem; padding-top: 0.4rem !important; }
  .bottom-border { border: none !important; }
  .top { padding-bottom: 0rem !important; }
  .sep { margin-top: 0rem !important; }
  .info-text { font-size: 14px !important; line-height: 18px !important; margin-top: 0px !important; margin-bottom: 0px !important; padding-bottom: 0rem !important; }
  .req-cookies-header-text { margin-bottom: 0rem !important; margin-top: 0.5rem !important; }
  .p-link-text.info-text { margin-top: 0rem !important; margin-bottom: 0rem !important; font-size: 14px !important; line-height: 16px !important; }
  .ensButtons { margin-top: 0px !important; height: 45px !important; }
  .gdpr-btn { width: 100% !important; }
  .btns { margin-left: 0px !important; }
  .gdpr-btn-div { flex-direction: column !important; }
  .white { margin-top: 8px !important; }
  .gdpr-body-wrapper { padding: 0.5rem; width: 100%; display: flex; flex-direction: column; }
  .text-div { width: 100%; }
  .text-div > .text-div-p { margin-left: 0px; padding: 0px 2rem 0px 0px; }
  .gdpr-close { top: -4rem; }
  .modal-buttons-div { margin-bottom: 1rem; margin-top: 0.5rem; margin-left: 0px; padding-right: 0px; width: 100% !important; }
}

@media only screen and (max-width: 589px) and (min-width: 426px) {
  .gdpr-close { top: -3rem !important; }
  .text-div > .text-div-p { padding-right: 4rem !important; }
  .modal-buttons-div { width: 80% !important; }
}

@media only screen and (max-width: 637px) and (min-width: 590px) {
  .text-div > .text-div-p { padding-right: 5rem !important; }
  .gdpr-close { top: -3rem !important; }
}

@media only screen and (max-width: 767px) and (min-width: 638px) {
  .gdpr-close { top: -2rem !important; }
}

@media only screen and (max-width: 1099px) and (min-width: 900px) {
  .gdpr-body-wrapper { width: 90% !important; }
}

@media only screen and (max-width: 1199px) and (min-width: 1100px) {
  .gdpr-body-wrapper { width: 80% !important; padding-top: 1rem !important; }
  .modal-buttons-div { margin-top: 0rem !important; }
}

@media only screen and (min-width: 1669px) {
  .gdpr-body-wrapper { width: 60% !important; padding: 2rem !important; }
  .modal-buttons-div { margin-top: 0rem !important; }
  .gdpr-btn-div { flex-direction: row !important; justify-content: flex-end !important; }
}

@media only screen and (max-width: 1668px) and (min-width: 1200px) {
  .gdpr-body-wrapper { padding-top: 2.5rem; padding-right: 2.5rem; padding-left: 2.5rem; width: 60% !important; padding-bottom: 0.5rem !important; }
  .modal-buttons-div { margin-top: 0rem !important; }
}

@media only screen and (max-width: 1668px) and (min-width: 768px) {
  .modal-buttons-div { width: 45% !important; margin-top: -0.5rem !important; margin-bottom: 0.5rem !important; }
  .text-div { width: 55% !important; }
  .gdpr-close { top: -2.5rem !important; }
  .gdpr-body-wrapper { padding: 1rem !important; }
}

@media only screen and (max-width: 1099px) and (min-width: 1071px) {
  .gdpr-body-wrapper { padding-top: 1.5rem !important; }
}

@media only screen and (max-width: 401px) {
  .gdpr-btn-div { flex-direction: row !important; justify-content: flex-end !important; }
  .white { margin-top: 8px !important; }
  .gdpr-body-wrapper { padding: 0.5rem; width: 100%; display: flex; flex-direction: column; }
  .text-div { width: 100%; }
  .text-div > .text-div-p { margin-left: 0px; padding: 0px 2rem 0px 0px; letter-spacing: 0.3px; }
  .gdpr-close { top: -4rem; }
  .modal-buttons-div { margin-bottom: 1rem; margin-top: 0.5rem; margin-left: 0px; width: 100%; padding-right: 0px; cursor: pointer !important; }
}

@media only screen and (max-width: 1668px) and (min-width: 402px) {
  .gdpr-btn-div { flex-direction: row !important; justify-content: flex-end !important; }
  .white { margin-top: 8px !important; }
  .gdpr-body-wrapper { padding: 0.5rem; width: 100%; display: flex; flex-direction: column; }
  .text-div { width: 100%; }
  .text-div > .text-div-p { margin-left: 0px; padding: 0px 2rem 0px 0px; letter-spacing: 0.3px; }
  .gdpr-close { top: -4rem; }
  .modal-buttons-div { margin-bottom: 1rem; margin-top: 0.5rem; margin-left: 0px; width: 60%; padding-right: 0px; cursor: pointer !important; }
}

@media only screen and (min-width: 1669px) {
  .modal-buttons-div { width: 45% !important; }
}

@media only screen and (min-width: 821px) {
  #ensModalWrapper { left: 0px !important; right: 0px !important; }
}
