@charset "utf-8";

.css-d3dm36 { display: flex; height: 24px; width: 24px; -webkit-box-align: center; align-items: center; box-sizing: content-box; border-radius: 50%; background-color: rgb(242, 242, 242); }
