@charset "utf-8";

.css-wn16a8 { background-color: white; display: block; margin: 0px auto; min-height: 90vh; }

.css-wn16a8 main:first-child { gap: 0px; }

.css-wn16a8 .css-1dhbxz9-StyledIcon-Alert { box-sizing: content-box; }

@media (max-width: 600px) {
  .css-wn16a8 input, .css-wn16a8 select, .css-wn16a8 option, .css-wn16a8 [class*="PopulatedMenyuItem"], .css-wn16a8 [class*="EmptyPlaceholder"], .css-wn16a8 [class*="input-label"] { font-size: 16px; }
}
