@charset "utf-8";

.css-1tickdi { display: flex; -webkit-box-pack: justify; justify-content: space-between; flex-wrap: wrap; width: 100%; margin: 0px 0px 24px; }

@media (min-width: 564px) {
  .css-1tickdi { width: 60%; }
}

@media (min-width: 1200px) {
  .css-1tickdi { width: 30%; margin: 0px; }
}

.css-1tickdi > a { height: 48px; padding: 12px; }

.css-1tickdi > a:hover { cursor: pointer; }

.css-1tickdi span { margin: 0px 4px 0px 0px; }

.css-1tickdi > a:last-child > svg { width: 60px; }
