@charset "utf-8";

.css-12qpdbn { display: inline-block; margin: 0px; font-family: Montserrat, sans-serif; font-size: 14px; font-weight: 800; letter-spacing: 0.5px; color: rgb(0, 0, 0); line-height: 16px; }

@media (max-width: 564px) {
  .css-12qpdbn { display: block; }
}
