@charset "utf-8";

.css-1brs0bc { background: linear-gradient(to left, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0) 100%); height: calc(100% - 4px); right: -1px; position: absolute; top: 0px; transform: translate3d(0px, 0px, 0px); width: 40px; z-index: 2; pointer-events: none; }
