@charset "utf-8";

.css-1xa3jk0 { cursor: pointer; display: inline-block; position: relative; width: 24px; height: 24px; padding: 20px 8px; margin-right: 8px; transform: rotateY(0deg); }

.css-1xa3jk0 > svg { position: absolute; }

.css-1xa3jk0 > svg:first-of-type { display: inline-block; }

.css-1xa3jk0 > svg:last-of-type { display: none; }

@media (min-width: 768px) {
  .css-1xa3jk0 { padding-right: 12px; padding-left: 12px; margin-right: 12px; }
}
