@charset "utf-8";

.css-10l4gd1 { -webkit-box-align: center; align-items: center; display: flex; flex: 0 0 auto; padding: 0px 2px; text-align: left; font-family: "Open Sans", sans-serif, Tahoma, Arial; font-size: 12px; font-weight: 400; letter-spacing: 0.5px; color: rgb(0, 107, 194); line-height: 21px; }

.css-10l4gd1:first-of-type { padding-left: 0px; }
