@charset "utf-8";

.css-175mbcq { margin-bottom: 4px; font-family: Montserrat, sans-serif; font-size: 12px; font-weight: 500; letter-spacing: 0.5px; color: rgb(0, 0, 0); line-height: 16px; }

.css-175mbcq > span { margin-bottom: 4px; }

@media (max-width: 564px) {
  .css-175mbcq > span { display: block; font-size: 12px; }
}

.css-175mbcq > span:not(:last-child) { margin-right: 16px; }

.css-175mbcq b { font-family: Montserrat, sans-serif; font-size: 12px; font-weight: 800; letter-spacing: 0.5px; color: rgb(0, 0, 0); line-height: 16px; }

@media (max-width: 564px) {
  .css-175mbcq b { font-size: 12px; }
}
