@charset "utf-8";

.css-zym4bb { display: flex; flex-wrap: wrap; justify-content: stretch; margin: -8px; }

.css-zym4bb * { box-sizing: content-box; }

.css-zym4bb .privacyPolicyLink { display: flex; -webkit-box-pack: justify; justify-content: space-between; margin-top: 0px; }

.css-zym4bb .privacyPolicyLink p { flex: 1 1 auto; }

.css-zym4bb .privacyPolicyLink button { flex: 1 1 auto; }

.css-zym4bb .emailInput { margin-bottom: 0px; }

.css-zym4bb > *, .css-zym4bb button, .css-zym4bb .year, .css-zym4bb .make, .css-zym4bb .model, .css-zym4bb .style { flex: 1 1 100%; overflow: hidden; }

.css-zym4bb > * { margin: 8px; }

.css-zym4bb > .text-input { display: inline-flex; flex: 1 1 40%; width: 100px; }

.css-zym4bb .privacyPolicyLink { flex-direction: column; }

.css-zym4bb .privacyPolicyLink p { margin: 0px 0px 8px; }

.css-zym4bb .privacyPolicyLink button { margin-top: 8px; }

@media (min-width: 564px) {
  .css-zym4bb { -webkit-box-pack: end; justify-content: flex-end; }
  .css-zym4bb .year, .css-zym4bb .make, .css-zym4bb .model, .css-zym4bb .style { flex: 1 1 40%; }
  .css-zym4bb > :not(button) { flex: 1 1 25%; }
  .css-zym4bb button { -webkit-box-flex: 0; flex-grow: 0; flex-basis: auto; }
  .css-zym4bb .emailInput { margin-bottom: 8px; }
  .css-zym4bb .privacyPolicyLink { flex: 1 1 40%; flex-direction: row; margin-top: 8px; }
  .css-zym4bb .privacyPolicyLink p { align-self: flex-end; margin-bottom: 0px; position: relative; }
  .css-zym4bb .privacyPolicyLink p a { position: absolute; bottom: 0px; }
  .css-zym4bb .privacyPolicyLink button { margin-top: 0px; }
}

@media (min-width: 768px) {
  .css-zym4bb .year { flex: 1 1 12%; }
  .css-zym4bb .make, .css-zym4bb .model { flex: 1 1 18%; }
  .css-zym4bb .style { flex: 1 1 30%; }
  .css-zym4bb > :not(button) { flex: 1 1 25%; }
  .css-zym4bb button { -webkit-box-flex: 0; flex-grow: 0; flex-basis: auto; }
}

@media (min-width: 1024px) {
  .css-zym4bb .year { flex: 1 1 12%; }
  .css-zym4bb .make { flex: 1 1 18%; }
  .css-zym4bb .model { flex: 1 1 22%; }
  .css-zym4bb .style { flex: 1 1 21%; }
  .css-zym4bb > :not(button) { flex: 1 1 25%; }
  .css-zym4bb button { -webkit-box-flex: 0; flex-grow: 0; flex-basis: auto; }
}
