@charset "utf-8";

.noOutline { outline: none !important; }

.wcagOutline:focus { outline: rgb(89, 89, 89) dashed 1px !important; outline-offset: 2px !important; transition: none 0s ease 0s !important; }

button#nebula_div_btn { height: auto !important; }

.kampyle_vertical_button { font-family: "Open Sans", sans-serif; cursor: pointer; position: fixed; top: 45%; z-index: 99999990; transform: rotate(90deg); background-color: transparent !important; height: 35px !important; min-height: 35px !important; max-height: 35px !important; width: 125px !important; max-width: 125px !important; min-width: 125px !important; }

.kampyle_vertical_button .kampyle_button { height: 35px; background: rgb(51, 51, 102); color: rgb(255, 255, 255); position: absolute; top: 0px; left: 0px; z-index: -1; min-height: 35px !important; max-height: 35px !important; width: 125px !important; min-width: 125px !important; max-width: 125px !important; }

.kampyle_vertical_button .kampyle_button-text { color: rgb(255, 255, 255); font-size: 14px; line-height: 35px; text-align: center; font-weight: normal !important; }

.kampyle_vertical_button.kampyle_left .kampyle_button { border-radius: 3px 3px 0px 0px; }

.kampyle_vertical_button.kampyle_right { right: -45px; }

.kampyle_vertical_button.kampyle_left { left: -45px; }

.kampyle_vertical_button.kampyle_right .kampyle_button { border-radius: 0px 0px 3px 3px; }

.kampyle_vertical_button.kampyle_right, .kampyle_vertical_button.kampyle_left { padding: 0px !important; }

.kampyle_vertical_button:hover .kampyle_button-text { color: rgb(255, 255, 255); }

.kampyle_vertical_button:hover .kampyle_button { background-color: rgb(51, 51, 102); }
