@charset "utf-8";

@media only screen and (max-width: 750px) {
  .policy-comp, .register-comp, .terms-comp { position: relative !important; bottom: 0px !important; left: 0px !important; top: 0px !important; margin-top: 0px !important; margin-bottom: 0px !important; margin-left: 0px !important; z-index: 3000 !important; background: rgb(255, 255, 255) !important; overflow: hidden scroll !important; height: 100% !important; }
  .policy-comp .ibu-online-lr-account-input input, .policy-comp .ibu-online-lr-pwd-input input, .register-comp .ibu-online-lr-account-input input, .register-comp .ibu-online-lr-pwd-input input, .terms-comp .ibu-online-lr-account-input input, .terms-comp .ibu-online-lr-pwd-input input { min-width: 200px !important; }
}
