@charset "utf-8";

[_nghost-iyw-c78] { flex-shrink: 0; }

.guest-rating[_ngcontent-iyw-c78] { align-items: center; display: flex; }

.guest-rating__label[_ngcontent-iyw-c78] { color: var(--very-dark-grey, #2e2e2e); margin: 0px; }
