@charset "utf-8";

@font-face { font-display: swap; font-family: Roboto; font-style: normal; font-weight: 300; src: local(""), url("https://assets.ryanair.com/resources/ui/fonts/roboto-300.woff2") format("woff2"), url("https://assets.ryanair.com/resources/ui/fonts/roboto-300.woff") format("woff"); }

@font-face { font-display: swap; font-family: Roboto; font-style: normal; font-weight: normal; src: local(""), url("https://assets.ryanair.com/resources/ui/fonts/roboto.woff2") format("woff2"), url("https://assets.ryanair.com/resources/ui/fonts/roboto.woff") format("woff"); }

@font-face { font-display: swap; font-family: Roboto; font-style: normal; font-weight: 500; src: local(""), url("https://assets.ryanair.com/resources/ui/fonts/roboto-500.woff2") format("woff2"), url("https://assets.ryanair.com/resources/ui/fonts/roboto-500.woff") format("woff"); }

@font-face { font-display: swap; font-family: Roboto; font-style: normal; font-weight: bold; src: local(""), url("https://assets.ryanair.com/resources/ui/fonts/roboto-700.woff2") format("woff2"), url("https://assets.ryanair.com/resources/ui/fonts/roboto-700.woff") format("woff"); }

html[_ngcontent-iyw-c275], body[_ngcontent-iyw-c275] { font-family: Roboto, sans-serif; -webkit-font-smoothing: antialiased; height: 100%; margin: 0px; padding: 0px; }

html[_ngcontent-iyw-c275] { font-size: 100%; line-height: 1.3rem; }

h1[_ngcontent-iyw-c275], .h1[_ngcontent-iyw-c275] { font-size: 1.25rem; line-height: 1.375rem; margin: 0px; }

@media only screen and (min-width: 48em) {
  h1[_ngcontent-iyw-c275], .h1[_ngcontent-iyw-c275] { font-size: 2.25rem; line-height: 2.625rem; }
}

h2[_ngcontent-iyw-c275], .h2[_ngcontent-iyw-c275] { font-size: 1.125rem; line-height: 1.2375rem; margin: 0px; }

@media only screen and (min-width: 48em) {
  h2[_ngcontent-iyw-c275], .h2[_ngcontent-iyw-c275] { font-size: 1.875rem; line-height: 2.25rem; }
}

h3[_ngcontent-iyw-c275], .h3[_ngcontent-iyw-c275] { font-size: 1rem; line-height: 1.1rem; margin: 0px; }

@media only screen and (min-width: 48em) {
  h3[_ngcontent-iyw-c275], .h3[_ngcontent-iyw-c275] { font-size: 1.5rem; line-height: 1.75rem; }
}

h4[_ngcontent-iyw-c275], .h4[_ngcontent-iyw-c275] { font-size: 0.875rem; line-height: 0.9625rem; margin: 0px; }

@media only screen and (min-width: 48em) {
  h4[_ngcontent-iyw-c275], .h4[_ngcontent-iyw-c275] { font-size: 1.25rem; line-height: 1.5rem; }
}

.b2[_ngcontent-iyw-c275] { font-size: 0.875rem; line-height: 1.1375rem; }

.b3[_ngcontent-iyw-c275], .check-in-out__label[_ngcontent-iyw-c275] { font-size: 0.75rem; line-height: 0.975rem; }

.b4[_ngcontent-iyw-c275] { font-size: 0.625rem; line-height: 0.8125rem; }

@media only screen and (min-width: 48em) {
  .title-xl-lg[_ngcontent-iyw-c275] { font-size: 2.25rem; line-height: 2.5rem; font-weight: bold; }
}

@media only screen and (max-width: 48em) {
  .title-xl-sm[_ngcontent-iyw-c275] { font-size: 1.25rem; line-height: 1.5rem; font-weight: bold; }
}

@media only screen and (min-width: 48em) {
  .title-l-lg[_ngcontent-iyw-c275] { font-size: 1.75rem; line-height: 2.25rem; font-weight: bold; }
}

@media only screen and (max-width: 48em) {
  .title-l-sm[_ngcontent-iyw-c275] { font-size: 1.125rem; line-height: 1.25rem; font-weight: bold; }
}

@media only screen and (min-width: 48em) {
  .title-m-lg[_ngcontent-iyw-c275] { font-size: 1.5rem; line-height: 1.75rem; font-weight: bold; }
}

@media only screen and (max-width: 48em) {
  .title-m-sm[_ngcontent-iyw-c275] { font-size: 1rem; line-height: 1.25rem; font-weight: bold; }
}

@media only screen and (min-width: 48em) {
  .title-s-lg[_ngcontent-iyw-c275] { font-size: 1.25rem; line-height: 1.5rem; font-weight: bold; }
}

@media only screen and (max-width: 48em) {
  .title-s-sm[_ngcontent-iyw-c275] { font-size: 0.875rem; line-height: 1.25rem; font-weight: bold; }
}

@media only screen and (min-width: 48em) {
  .subtitle-l-lg[_ngcontent-iyw-c275] { font-size: 1rem; line-height: 1.25rem; font-weight: bold; }
}

@media only screen and (max-width: 48em) {
  .subtitle-l-sm[_ngcontent-iyw-c275] { font-size: 1rem; line-height: 1.25rem; font-weight: bold; }
}

@media only screen and (min-width: 48em) {
  .subtitle-m-lg[_ngcontent-iyw-c275] { font-size: 0.875rem; line-height: 1.25rem; font-weight: bold; }
}

@media only screen and (max-width: 48em) {
  .subtitle-m-sm[_ngcontent-iyw-c275] { font-size: 0.875rem; line-height: 1.25rem; font-weight: bold; }
}

@media only screen and (min-width: 48em) {
  .subtitle-s-lg[_ngcontent-iyw-c275] { font-size: 0.75rem; line-height: 1rem; font-weight: bold; }
}

@media only screen and (max-width: 48em) {
  .subtitle-s-sm[_ngcontent-iyw-c275] { font-size: 0.75rem; line-height: 1rem; font-weight: bold; }
}

@media only screen and (min-width: 48em) {
  .body-xl-lg[_ngcontent-iyw-c275] { font-size: 1rem; line-height: 1.25rem; }
}

@media only screen and (max-width: 48em) {
  .body-xl-sm[_ngcontent-iyw-c275] { font-size: 1rem; line-height: 1.25rem; }
}

@media only screen and (min-width: 48em) {
  .body-l-lg[_ngcontent-iyw-c275] { font-size: 0.875rem; line-height: 1.25rem; }
}

@media only screen and (max-width: 48em) {
  .body-l-sm[_ngcontent-iyw-c275] { font-size: 0.875rem; line-height: 1.25rem; }
}

@media only screen and (min-width: 48em) {
  .body-m-lg[_ngcontent-iyw-c275] { font-size: 0.75rem; line-height: 1rem; }
}

@media only screen and (max-width: 48em) {
  .body-m-sm[_ngcontent-iyw-c275] { font-size: 0.75rem; line-height: 1rem; }
}

@media only screen and (min-width: 48em) {
  .body-s-lg[_ngcontent-iyw-c275] { font-size: 0.625rem; line-height: 0.75rem; }
}

@media only screen and (max-width: 48em) {
  .body-s-sm[_ngcontent-iyw-c275] { font-size: 0.625rem; line-height: 0.75rem; }
}

@media only screen and (min-width: 48em) {
  .OVERLINE-lg[_ngcontent-iyw-c275] { font-size: 0.75rem; line-height: 1rem; font-weight: bold; }
}

@media only screen and (max-width: 48em) {
  .OVERLINE-sm[_ngcontent-iyw-c275] { font-size: 0.75rem; line-height: 1rem; font-weight: bold; }
}

@media only screen and (min-width: 48em) {
  .tagline-lg[_ngcontent-iyw-c275] { font-size: 0.875rem; line-height: 1rem; font-weight: bold; }
}

@media only screen and (max-width: 48em) {
  .tagline-sm[_ngcontent-iyw-c275] { font-size: 0.875rem; line-height: 1rem; font-weight: bold; }
}

.display-0[_ngcontent-iyw-c275] { font-size: 4.5rem; line-height: 4.5rem; }

.display-1[_ngcontent-iyw-c275] { font-size: 3.25rem; line-height: 3.25rem; }

.display-2[_ngcontent-iyw-c275] { font-size: 2.5rem; line-height: 2.5rem; }

.display-3[_ngcontent-iyw-c275] { font-size: 2rem; }

.display-4[_ngcontent-iyw-c275] { font-size: 1.25rem; line-height: 1.15rem; }

.display-5[_ngcontent-iyw-c275] { font-size: 1rem; }

.icon-20[_ngcontent-iyw-c275] { height: 1.25rem; width: 1.25rem; }

.icon-30[_ngcontent-iyw-c275] { height: 1.875rem; width: 1.875rem; }

.b0[_ngcontent-iyw-c275] { font-size: 1.125rem; line-height: 1.325rem; }

.check-in-out[_ngcontent-iyw-c275] { display: flex; flex-direction: column; position: relative; width: 100%; }

.check-in-out__wrapper[_ngcontent-iyw-c275] { display: flex; flex-direction: row; }

.check-in-out__box[_ngcontent-iyw-c275] { flex-grow: 1; padding: 0.625rem; text-align: center; font-size: 0.875rem; font-weight: 400; }

.check-in-out__box[_ngcontent-iyw-c275]:first-child { border-right: 1px solid rgba(195, 199, 204, 0.6); }

.check-in-out__nights-container[_ngcontent-iyw-c275] { align-items: center; color: var(--primary-blue, #073590); display: flex; height: 100%; justify-content: center; left: 0px; position: absolute; top: 0px; width: 100%; }

.check-in-out__nights-icon[_ngcontent-iyw-c275] { background: var(--light-base, #fff); padding: 0.5rem 0.25rem; }

.check-in-out__label[_ngcontent-iyw-c275] { color: var(--standard-grey, #6c7079); margin: 0px; font-size: 0.75rem; font-weight: 400; }

.check-in-out__date[_ngcontent-iyw-c275] { margin: 0.25rem 0px 0px; font-size: 1.125rem; font-weight: 500; }

.check-in-out__time[_ngcontent-iyw-c275] { font-size: 0.75rem; font-weight: 400; }

.check-in-out__summary[_ngcontent-iyw-c275] { background-color: var(--bg-grey, #f4f4f4); padding: 0.5rem; text-align: center; font-size: 0.875rem; font-weight: 400; }
