@charset "utf-8";

[_nghost-iyw-c171] { display: flex; flex-wrap: wrap; justify-content: center; }

.vendors__subtitle[_ngcontent-iyw-c171] { display: flex; flex-direction: column; justify-content: center; }

.vendors__logo[_ngcontent-iyw-c171] { margin: 0.5rem 0px 0.5rem 1.5rem; }
