@charset "utf-8";

.css-1dugof5 { animation: 0.8s linear 0s infinite normal none running animation-1q8eu9e; }

@-webkit-keyframes animation-1q8eu9e { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes animation-1q8eu9e { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.css-1127glu { margin: 0px; -webkit-box-align: center; align-items: center; flex-direction: column; display: flex; gap: 16px; }

.css-1080uv1 { position: absolute; width: 1px; height: 1px; padding: 0px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border: 0px; clip-path: inset(50%); }

.css-1kkc9gh { margin: 0px; background-color: rgb(241, 244, 247); width: 100%; padding: 16px 2.5vw 64px; }

.css-fk4clc { margin: 0px auto; width: 100%; height: 100%; max-width: 1440px; }

.css-1fhe9dx { margin: 0px; -webkit-box-align: center; align-items: center; flex-direction: column; display: flex; padding: 24px 8px 16px; }

.css-1aretbn { margin: 0px; flex-direction: column; display: flex; }

.css-m9mejd { margin: 0px; -webkit-box-align: center; align-items: center; flex-direction: row; display: flex; gap: 8px; }

.css-qjes45 { color: rgb(23, 104, 201); font-family: "Amazon Ember", Helvetica, sans-serif; font-weight: 500; hyphens: none; text-decoration: underline; }

.css-qjes45 em { font-style: italic; }

.css-qjes45 strong { font-weight: 700; }

@media screen and (max-width: 600px) {
}

@media screen and (min-width: 601px) and (max-width: 970px) {
}

@media screen and (min-width: 971px) and (max-width: 1280px) {
}

@media screen and (min-width: 1281px) {
}

.css-qjes45:focus { outline: rgb(23, 104, 201) solid 2px; outline-offset: 2px; }

.css-qjes45:hover { color: rgb(23, 104, 201); text-decoration: none; }

.css-qjes45:visited { color: rgb(23, 104, 201); }

.css-qjes45:active { color: rgb(22, 89, 169); }

.css-19lpl0p { margin: 0px; background-color: rgb(255, 255, 255); flex-direction: column; display: flex; min-height: 56px; }

.css-1ps2p3o { margin: 0px; }

.css-mz3hfc { -webkit-box-align: center; align-items: center; background-color: rgb(35, 47, 62); box-shadow: none; display: inline-block; height: 56px; left: 0px; min-width: 100%; top: 0px; }

.css-1tfk6w4 { margin: 0px; -webkit-box-align: center; align-items: center; background-color: rgb(35, 47, 62); box-shadow: none; display: inline-block; height: 56px; left: 0px; min-width: 100%; top: 0px; }

.css-12yfdue { margin: 0px; -webkit-box-align: center; align-items: center; width: 100%; height: 100%; padding: 0px 2.5vw; }

.css-neapno { margin: 0px auto; display: flex; width: 100%; height: 100%; max-width: 1440px; }

.css-86hjqd { margin: 0px; color: rgb(35, 47, 62); padding: 16px; }

.css-14wvfj0 { display: block; flex-shrink: 0; }

.css-1r7i0zl { margin: 0px; -webkit-box-pack: center; justify-content: center; flex-direction: column; display: flex; padding: 0px 8px; }

.css-5jmd9i { border-color: transparent; background-color: transparent; color: rgb(23, 104, 201); -webkit-box-align: center; align-items: center; border-radius: 1000px; border-style: solid; border-width: 2px; box-shadow: none; box-sizing: border-box; cursor: pointer; display: flex; font-family: "Amazon Ember", Helvetica, sans-serif; font-weight: 500; -webkit-box-pack: center; justify-content: center; min-height: 36px; outline: none; position: relative; text-align: center; transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s; user-select: none; white-space: nowrap; }

.css-5jmd9i:active { border-color: rgb(22, 89, 169); }

.css-5jmd9i:focus { border-color: rgb(22, 89, 169); }

.css-5jmd9i:focus::before { border-color: rgb(22, 89, 169); }

.css-5jmd9i:hover { border-color: rgb(23, 104, 201); }

@media screen and (max-width: 600px) {
  .css-5jmd9i { font-size: 0.875rem; line-height: 1.57143; padding: 11px 16px; }
}

@media screen and (max-width: 970px) and (min-width: 601px) {
  .css-5jmd9i { font-size: 0.875rem; line-height: 1.57143; padding: 11px 16px; }
}

@media screen and (max-width: 1280px) and (min-width: 971px) {
  .css-5jmd9i { font-size: 1rem; line-height: 1.5; padding: 10px 16px; }
}

@media screen and (min-width: 1281px) {
  .css-5jmd9i { font-size: 1rem; line-height: 1.5; padding: 10px 16px; }
}

.css-5jmd9i:focus::before { content: ""; position: absolute; inset: -5px; background-color: transparent; border-radius: 1000px; border-width: 2px; border-style: solid; transition: border 0.2s ease 0s; }

.css-fpj0yv { margin: 0px; -webkit-box-align: center; align-items: center; flex-direction: row; display: flex; gap: 4px; }

.css-16gdf82 { flex: 1 1 0%; }

.css-7nklka { margin: 0px; -webkit-box-align: center; align-items: center; flex-direction: row; display: flex; gap: 8px; padding-right: 4px; padding-left: 4px; }

.css-3s7n97 { color: rgb(23, 104, 201); display: block; flex-shrink: 0; }

.css-i16h77 { margin: 0px; width: 100%; }

.css-1rryzs9 { display: block; appearance: none; padding: 8px; margin: 0px; width: 100%; background-color: rgb(255, 255, 255); border: 2px solid rgb(139, 150, 163); outline: none; cursor: pointer; transition: border-color 0.2s ease 0s, box-shadow 0.2s ease 0s; font-family: "Amazon Ember", Helvetica, sans-serif; font-size: 1rem; line-height: 1.5; color: rgb(35, 47, 62); text-align: start; word-break: break-word; }

.css-1rryzs9:hover { border-color: rgb(0, 119, 217); }

.css-1rryzs9:focus { border-color: rgb(22, 89, 169); outline: rgb(22, 89, 169) solid 2px; outline-offset: 2px; }

.css-eizmz { margin: 0px; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: center; align-items: center; flex-direction: row; display: flex; gap: 8px; }

.css-1a01sc2 { margin: 0px; -webkit-box-align: center; align-items: center; flex-direction: row; display: flex; gap: 8px; width: 100%; }

.css-mtbjwo { transition: transform 0.2s ease 0s; transform: rotate(0deg); }

.css-14rt272 { color: rgb(23, 104, 201); display: block; flex-shrink: 0; }

.css-1ow4kgd { z-index: 0; }

.css-1jeqgjy { display: flex; flex-direction: column; max-height: 100vh; width: 100%; border: 2px solid transparent; box-shadow: none; }

.css-pp8rwa { list-style-type: none; padding: 0px; margin: 0px; overflow-y: auto; }

.css-pp8rwa:focus { outline: none; }

.css-1uk1gs8 { margin: 0px; }

.css-1kpwjl9 { border-radius: 0px; color: rgb(255, 255, 255); padding: 0px 16px; height: 100%; font-weight: 400; transition: none 0s ease 0s; }

.css-1kpwjl9:focus::before { border-color: transparent; border-radius: 0px; transition: none 0s ease 0s; }

.css-1kpwjl9:focus, .css-1kpwjl9:visited, .css-1kpwjl9:active { border-color: rgb(255, 255, 255); }

.css-1kpwjl9:hover { background-color: rgb(0, 119, 217); border-color: rgb(255, 255, 255); }

.css-1umc9e5 { border-color: transparent; background-color: transparent; font-size: 1rem; line-height: 1.5; -webkit-box-align: center; align-items: center; border-style: solid; border-width: 2px; box-shadow: none; box-sizing: border-box; cursor: pointer; display: flex; font-family: "Amazon Ember", Helvetica, sans-serif; -webkit-box-pack: center; justify-content: center; min-height: 36px; outline: none; position: relative; text-align: center; user-select: none; white-space: nowrap; border-radius: 0px; color: rgb(255, 255, 255); padding: 0px 16px; height: 100%; font-weight: 400; transition: none 0s ease 0s; }

.css-1umc9e5:active { border-color: rgb(95, 174, 240); }

.css-1umc9e5:focus { border-color: rgb(95, 174, 240); }

.css-1umc9e5:focus::before { border-color: rgb(95, 174, 240); }

.css-1umc9e5:hover { border-color: rgb(135, 194, 244); }

.css-1umc9e5:focus::before { content: ""; position: absolute; inset: -5px; background-color: transparent; border-radius: 1000px; border-width: 2px; border-style: solid; transition: border 0.2s ease 0s; }

.css-1umc9e5:focus::before { border-color: transparent; border-radius: 0px; transition: none 0s ease 0s; }

.css-1umc9e5:focus, .css-1umc9e5:visited, .css-1umc9e5:active { border-color: rgb(255, 255, 255); }

.css-1umc9e5:hover { background-color: rgb(0, 119, 217); border-color: rgb(255, 255, 255); }

.css-197qivn { margin: 0px; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; flex-direction: column; align-self: center; display: flex; width: 100%; max-width: 100%; padding-top: 16px; }

.css-1duraut { margin: 0px; align-items: flex-start; flex-flow: row wrap; display: flex; gap: 16px; width: 100%; max-width: 1440px; padding: 0px 32px 16px; }

.css-1i9qyzd { margin: 0px; flex: 3 1 0%; flex-direction: row; display: flex; gap: 16px; width: 100%; }

.css-1gomreu { position: relative; display: inline-block; }

.css-69gmkp { margin: 0px; width: 100%; position: relative; display: inline-block; }

.css-gz5rcq { transition: border 0.2s ease 0s, box-shadow 0.2s ease 0s; box-sizing: border-box; padding: 8px 8px 8px 44px; font-size: 1rem; line-height: 1.5; border: 2px solid rgb(139, 150, 163); z-index: 1; box-shadow: none; outline: none; color: rgb(35, 47, 62); background-color: rgb(255, 255, 255); font-family: "Amazon Ember", Helvetica, sans-serif; width: 100%; display: block; }

.css-gz5rcq:focus { border-color: rgb(22, 89, 169); box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgb(22, 89, 169) 0px 0px 0px 3px; outline: transparent solid 2px; outline-offset: 1px; }

.css-gz5rcq::-webkit-input-placeholder { color: rgb(86, 97, 108); font-style: italic; }

.css-gz5rcq::placeholder { color: rgb(86, 97, 108); font-style: italic; }

.css-gz5rcq:hover { border: 2px solid rgb(0, 119, 217); }

.css-di9o3n { position: absolute; top: 50%; left: 14px; transform: translateY(-50%); }

.css-7uch4i { font-family: "Amazon Ember", Helvetica, sans-serif; font-size: 1rem; line-height: 1.5; color: rgb(35, 47, 62); background-color: rgb(255, 255, 255); padding: 8px; }

.css-1mz0ngh { margin: 0px; display: none; font-family: "Amazon Ember", Helvetica, sans-serif; font-size: 1rem; line-height: 1.5; color: rgb(35, 47, 62); background-color: rgb(255, 255, 255); padding: 8px; }

.css-mbdkqw { margin: 0px; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; flex-direction: row; display: flex; }

.css-1msjh1x { font-style: italic; }

.css-1ecewek { color: rgb(86, 97, 108); font-family: "Amazon Ember", Helvetica, sans-serif; hyphens: none; font-style: italic; }

.css-1ecewek em { font-style: italic; }

.css-1ecewek strong { font-weight: 700; }

@media screen and (max-width: 600px) {
  .css-1ecewek { font-size: 0.875rem; line-height: 1.57143; }
}

@media screen and (min-width: 601px) and (max-width: 970px) {
  .css-1ecewek { font-size: 0.875rem; line-height: 1.57143; }
}

@media screen and (min-width: 971px) and (max-width: 1280px) {
  .css-1ecewek { font-size: 1rem; line-height: 1.5; }
}

@media screen and (min-width: 1281px) {
  .css-1ecewek { font-size: 1rem; line-height: 1.5; }
}

.css-ss5tzm { margin: 0px; flex: 1 1 0%; flex-direction: column; align-self: normal; display: flex; }

.css-jl8r4v { margin: 0px; flex-direction: column; display: flex; gap: 16px; }

.css-gay50x { transition: border 0.2s ease 0s, box-shadow 0.2s ease 0s; box-sizing: border-box; padding: 8px 44px; font-size: 1rem; line-height: 1.5; border: 2px solid rgb(139, 150, 163); z-index: 1; box-shadow: none; outline: none; color: rgb(35, 47, 62); background-color: rgb(255, 255, 255); font-family: "Amazon Ember", Helvetica, sans-serif; width: 100%; display: block; }

.css-gay50x:focus { border-color: rgb(22, 89, 169); box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgb(22, 89, 169) 0px 0px 0px 3px; outline: transparent solid 2px; outline-offset: 1px; }

.css-gay50x::-webkit-input-placeholder { color: rgb(86, 97, 108); font-style: italic; }

.css-gay50x::placeholder { color: rgb(86, 97, 108); font-style: italic; }

.css-gay50x:hover { border: 2px solid rgb(0, 119, 217); }

.css-up1ori { position: absolute; top: 50%; right: 14px; transform: translateY(-50%); }

.css-1goyt5p { border: none; }

.css-1goyt5p:focus::before { inset: -2px; border-radius: 0px; }

.css-ca0yg6 { min-width: 36px; background-color: transparent; color: rgb(23, 104, 201); padding: 6px; -webkit-box-align: center; align-items: center; border-radius: 1000px; box-shadow: none; box-sizing: border-box; cursor: pointer; display: flex; font-family: "Amazon Ember", Helvetica, sans-serif; font-weight: 500; -webkit-box-pack: center; justify-content: center; min-height: 36px; outline: none; position: relative; text-align: center; transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s; user-select: none; white-space: nowrap; border: none; }

.css-ca0yg6:active { border-color: rgb(22, 89, 169); }

.css-ca0yg6:focus { border-color: rgb(22, 89, 169); }

.css-ca0yg6:focus::before { border-color: rgb(22, 89, 169); }

.css-ca0yg6:hover { border-color: rgb(23, 104, 201); }

@media screen and (max-width: 600px) {
  .css-ca0yg6 { font-size: 0.75rem; line-height: 1.66667; }
}

@media screen and (max-width: 970px) and (min-width: 601px) {
  .css-ca0yg6 { font-size: 0.75rem; line-height: 1.66667; }
}

@media screen and (max-width: 1280px) and (min-width: 971px) {
  .css-ca0yg6 { font-size: 0.875rem; line-height: 1.57143; }
}

@media screen and (min-width: 1281px) {
  .css-ca0yg6 { font-size: 0.875rem; line-height: 1.57143; }
}

.css-ca0yg6:focus::before { content: ""; position: absolute; inset: -5px; background-color: transparent; border-radius: 1000px; border-width: 2px; border-style: solid; transition: border 0.2s ease 0s; }

.css-ca0yg6:focus::before { inset: -2px; border-radius: 0px; }

.css-hjjfh8 { background-color: rgb(255, 255, 255); display: block; flex-shrink: 0; }

.css-b9a2q3 { margin: 0px; flex-direction: row; display: flex; }

.css-dmdezn { margin: 0px; background-color: rgb(255, 255, 255); width: 100%; padding: 0px 8px 16px; }

.css-h80f4j { margin: 0px; -webkit-box-align: center; align-items: center; flex-direction: column; display: flex; padding-top: 16px; padding-bottom: 16px; }

.css-xxb1lw { margin: 0px; -webkit-box-pack: center; justify-content: center; flex-direction: row-reverse; display: flex; }

.css-3n60vx { margin: 0px; flex-direction: column; display: flex; gap: 16px; max-width: calc(100% - 60px); }

.css-5mrmps { font-family: "Amazon Ember", Helvetica, sans-serif; hyphens: none; }

.css-5mrmps em { font-style: italic; }

.css-5mrmps strong { font-weight: 700; }

@media screen and (max-width: 600px) {
  .css-5mrmps { font-size: 1rem; line-height: 1.5; }
}

@media screen and (min-width: 601px) and (max-width: 970px) {
  .css-5mrmps { font-size: 1rem; line-height: 1.5; }
}

@media screen and (min-width: 971px) and (max-width: 1280px) {
  .css-5mrmps { font-size: 1.125rem; line-height: 1.55556; }
}

@media screen and (min-width: 1281px) {
  .css-5mrmps { font-size: 1.125rem; line-height: 1.55556; }
}

.css-ijhduk { color: rgb(86, 97, 108); font-family: "Amazon Ember", Helvetica, sans-serif; hyphens: none; }

.css-ijhduk em { font-style: italic; }

.css-ijhduk strong { font-weight: 700; }

@media screen and (max-width: 600px) {
  .css-ijhduk { font-size: 1rem; line-height: 1.5; }
}

@media screen and (min-width: 601px) and (max-width: 970px) {
  .css-ijhduk { font-size: 1rem; line-height: 1.5; }
}

@media screen and (min-width: 971px) and (max-width: 1280px) {
  .css-ijhduk { font-size: 1.125rem; line-height: 1.55556; }
}

@media screen and (min-width: 1281px) {
  .css-ijhduk { font-size: 1.125rem; line-height: 1.55556; }
}

.css-lfwppu { height: 32px; flex-shrink: 1; }

.css-1tkcrl7 { margin: 0px; flex-direction: row; display: flex; gap: 8px; }

.css-1mymv5z { border-color: transparent; background-color: transparent; color: rgb(23, 104, 201); -webkit-box-align: center; align-items: center; border-radius: 1000px; border-style: solid; border-width: 2px; box-shadow: none; box-sizing: border-box; cursor: pointer; display: flex; font-family: "Amazon Ember", Helvetica, sans-serif; font-weight: 500; -webkit-box-pack: center; justify-content: center; min-height: 36px; outline: none; position: relative; text-align: center; transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s; user-select: none; white-space: nowrap; }

.css-1mymv5z:active { border-color: rgb(22, 89, 169); }

.css-1mymv5z:focus { border-color: rgb(22, 89, 169); }

.css-1mymv5z:focus::before { border-color: rgb(22, 89, 169); }

.css-1mymv5z:hover { border-color: rgb(23, 104, 201); }

@media screen and (max-width: 600px) {
  .css-1mymv5z { font-size: 0.75rem; line-height: 1.66667; padding: 4px 16px; }
}

@media screen and (max-width: 970px) and (min-width: 601px) {
  .css-1mymv5z { font-size: 0.75rem; line-height: 1.66667; padding: 4px 16px; }
}

@media screen and (max-width: 1280px) and (min-width: 971px) {
  .css-1mymv5z { font-size: 0.875rem; line-height: 1.57143; padding: 3px 16px; }
}

@media screen and (min-width: 1281px) {
  .css-1mymv5z { font-size: 0.875rem; line-height: 1.57143; padding: 3px 16px; }
}

.css-1mymv5z:focus::before { content: ""; position: absolute; inset: -5px; background-color: transparent; border-radius: 1000px; border-width: 2px; border-style: solid; transition: border 0.2s ease 0s; }

.css-1lf4574 { border-color: transparent; min-width: 96px; background-color: rgb(23, 104, 201); color: rgb(255, 255, 255); -webkit-box-align: center; align-items: center; border-radius: 1000px; border-style: solid; border-width: 2px; box-shadow: none; box-sizing: border-box; cursor: pointer; display: flex; font-family: "Amazon Ember", Helvetica, sans-serif; font-weight: 500; -webkit-box-pack: center; justify-content: center; min-height: 36px; outline: none; position: relative; text-align: center; transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s; user-select: none; white-space: nowrap; }

.css-1lf4574:active { background-color: rgb(22, 89, 169); }

.css-1lf4574:focus { background-color: rgb(22, 89, 169); }

.css-1lf4574:focus::before { border-color: rgb(22, 89, 169); }

.css-1lf4574:hover { background-color: rgb(0, 119, 217); }

@media screen and (max-width: 600px) {
  .css-1lf4574 { font-size: 0.75rem; line-height: 1.66667; padding: 4px 16px; }
}

@media screen and (max-width: 970px) and (min-width: 601px) {
  .css-1lf4574 { font-size: 0.75rem; line-height: 1.66667; padding: 4px 16px; }
}

@media screen and (max-width: 1280px) and (min-width: 971px) {
  .css-1lf4574 { font-size: 0.875rem; line-height: 1.57143; padding: 3px 16px; }
}

@media screen and (min-width: 1281px) {
  .css-1lf4574 { font-size: 0.875rem; line-height: 1.57143; padding: 3px 16px; }
}

.css-1lf4574:focus::before { content: ""; position: absolute; inset: -5px; background-color: transparent; border-radius: 1000px; border-width: 2px; border-style: solid; transition: border 0.2s ease 0s; }

.css-d4m4e7 { margin: 0px; flex: 1 1 0%; flex-direction: column; display: flex; }

.css-1r47fig { color: rgb(22, 30, 45); font-family: "Amazon Ember", Helvetica, sans-serif; font-weight: 400; hyphens: none; }

.css-1r47fig em { font-style: italic; }

.css-1r47fig strong { font-weight: 700; }

@media screen and (max-width: 600px) {
  .css-1r47fig { font-size: 1rem; line-height: 1.5; }
}

@media screen and (min-width: 601px) and (max-width: 970px) {
  .css-1r47fig { font-size: 1rem; line-height: 1.5; }
}

@media screen and (min-width: 971px) and (max-width: 1280px) {
  .css-1r47fig { font-size: 1.125rem; line-height: 1.55556; }
}

@media screen and (min-width: 1281px) {
  .css-1r47fig { font-size: 1.125rem; line-height: 1.55556; }
}

.css-o6arb4 { margin: 0px 0px 16px; flex-direction: row; align-self: center; display: flex; }

.css-1lvroem { margin: 0px; flex-direction: row; display: flex; height: 60px; padding-right: 10px; padding-left: 10px; }

.css-elwjao { margin: 0px; flex-direction: column; display: flex; gap: 8px; }

.css-t97te4 { margin: auto; flex-direction: column; display: flex; width: 100%; max-width: 700px; padding-top: 16px; padding-bottom: 0px; }

.css-1amyvhr { color: rgb(35, 47, 62); font-family: "Amazon Ember", Helvetica, sans-serif; font-weight: 300; hyphens: auto; margin: 0px; }

.css-1amyvhr em { font-style: italic; }

.css-1amyvhr strong { font-weight: 700; }

@media screen and (max-width: 600px) {
  .css-1amyvhr { font-size: 1.125rem; line-height: 1.55556; }
}

@media screen and (min-width: 601px) and (max-width: 970px) {
  .css-1amyvhr { font-size: 1.25rem; line-height: 1.4; }
}

@media screen and (min-width: 971px) and (max-width: 1280px) {
  .css-1amyvhr { font-size: 1.375rem; line-height: 1.54545; }
}

@media screen and (min-width: 1281px) {
  .css-1amyvhr { font-size: 1.5rem; line-height: 1.5; }
}

.css-rh3mco { font-family: "Amazon Ember", Helvetica, sans-serif; hyphens: auto; }

.css-rh3mco em { font-style: italic; }

.css-rh3mco strong { font-weight: 700; }

@media screen and (max-width: 600px) {
  .css-rh3mco { font-size: 1rem; line-height: 1.5; }
}

@media screen and (min-width: 601px) and (max-width: 970px) {
  .css-rh3mco { font-size: 1rem; line-height: 1.5; }
}

@media screen and (min-width: 971px) and (max-width: 1280px) {
  .css-rh3mco { font-size: 1.125rem; line-height: 1.55556; }
}

@media screen and (min-width: 1281px) {
  .css-rh3mco { font-size: 1.125rem; line-height: 1.55556; }
}

.css-1dgsu1u { margin: 20px 0px 0px; flex-direction: column; display: flex; }

.css-a4c277 { margin: 0px; padding: 0px; border-right: none; border-bottom: none; border-left: none; border-image: initial; border-top: 1px solid grey; }

.css-1knaqtu { position: relative; border: 1px solid rgb(139, 150, 163); box-sizing: border-box; }

.css-2wjvjm { margin: 0px; background-color: rgb(255, 255, 255); display: flex; width: 100%; padding: 16px; position: relative; border: 1px solid rgb(139, 150, 163); box-sizing: border-box; }

.css-2cq9p { margin: auto; flex-direction: column; display: flex; width: 100%; max-width: 700px; padding-top: 0px; padding-bottom: 0px; }

.css-kyen4s { font-family: "Amazon Ember", Helvetica, sans-serif; hyphens: none; }

.css-kyen4s em { font-style: italic; }

.css-kyen4s strong { font-weight: 700; }

@media screen and (max-width: 600px) {
  .css-kyen4s { font-size: 0.875rem; line-height: 1.57143; }
}

@media screen and (min-width: 601px) and (max-width: 970px) {
  .css-kyen4s { font-size: 0.875rem; line-height: 1.57143; }
}

@media screen and (min-width: 971px) and (max-width: 1280px) {
  .css-kyen4s { font-size: 1rem; line-height: 1.5; }
}

@media screen and (min-width: 1281px) {
  .css-kyen4s { font-size: 1rem; line-height: 1.5; }
}

.css-52qvm8 { margin: 0px; -webkit-box-align: start; align-items: start; flex-direction: row; display: flex; width: 100%; }

.css-3l2dn3 { margin: 0px; flex: 2 1 0%; flex-direction: column; display: flex; }

.css-6750wj { color: rgb(35, 47, 62); font-family: "Amazon Ember", Helvetica, sans-serif; font-weight: 400; hyphens: none; }

.css-6750wj em { font-style: italic; }

.css-6750wj strong { font-weight: 700; }

@media screen and (max-width: 600px) {
  .css-6750wj { font-size: 0.875rem; line-height: 1.57143; }
}

@media screen and (min-width: 601px) and (max-width: 970px) {
  .css-6750wj { font-size: 0.875rem; line-height: 1.57143; }
}

@media screen and (min-width: 971px) and (max-width: 1280px) {
  .css-6750wj { font-size: 1rem; line-height: 1.5; }
}

@media screen and (min-width: 1281px) {
  .css-6750wj { font-size: 1rem; line-height: 1.5; }
}

.css-1g65hzz { margin: 0px; display: inline; min-height: 24px; }

.css-65uptv { transition: border 0.2s ease 0s, box-shadow 0.2s ease 0s; box-sizing: border-box; padding: 8px; font-size: 1rem; line-height: 1.5; border: 2px solid rgb(139, 150, 163); z-index: 1; box-shadow: none; outline: none; color: rgb(35, 47, 62); background-color: rgb(255, 255, 255); font-family: "Amazon Ember", Helvetica, sans-serif; display: block; }

.css-65uptv:focus { border-color: rgb(22, 89, 169); box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgb(22, 89, 169) 0px 0px 0px 3px; outline: transparent solid 2px; outline-offset: 1px; }

.css-65uptv::-webkit-input-placeholder { color: rgb(86, 97, 108); font-style: italic; }

.css-65uptv::placeholder { color: rgb(86, 97, 108); font-style: italic; }

.css-65uptv:hover { border: 2px solid rgb(0, 119, 217); }

.css-18ws40i { margin: 0px 0px 0px 16px; flex: 1 1 0%; -webkit-box-pack: center; justify-content: center; flex-direction: row; display: flex; padding-top: 16px; padding-bottom: 16px; }

.css-1pgvxm3 { font-family: "Amazon Ember", Helvetica, sans-serif; font-weight: 400; hyphens: none; }

.css-1pgvxm3 em { font-style: italic; }

.css-1pgvxm3 strong { font-weight: 700; }

@media screen and (max-width: 600px) {
  .css-1pgvxm3 { font-size: 1.125rem; line-height: 1.55556; }
}

@media screen and (min-width: 601px) and (max-width: 970px) {
  .css-1pgvxm3 { font-size: 1.25rem; line-height: 1.4; }
}

@media screen and (min-width: 971px) and (max-width: 1280px) {
  .css-1pgvxm3 { font-size: 1.375rem; line-height: 1.54545; }
}

@media screen and (min-width: 1281px) {
  .css-1pgvxm3 { font-size: 1.5rem; line-height: 1.5; }
}

.css-ypyd2s { margin: 0px; flex: 3 1 0%; }

.css-1z8p01 { margin: 0px; background-color: rgb(255, 255, 255); -webkit-box-pack: justify; justify-content: space-between; flex-direction: column; display: flex; max-width: 100%; padding: 16px; position: relative; border: 1px solid rgb(139, 150, 163); box-sizing: border-box; }

.css-932wri { margin: 0px; justify-content: left; flex-direction: row; display: flex; gap: 32px; }

.css-8g0jdg { margin: 0px; flex-direction: column; display: flex; gap: 4px; }

.css-1km9bxq { margin: 0px; -webkit-box-align: center; align-items: center; flex-direction: row; display: flex; gap: 16px; }

.css-123e2hx { margin: 0px; background-color: rgb(215, 235, 251); align-self: baseline; padding: 2px 8px; }

.css-18pjltw { color: rgb(86, 97, 108); font-family: "Amazon Ember", Helvetica, sans-serif; hyphens: none; }

.css-18pjltw em { font-style: italic; }

.css-18pjltw strong { font-weight: 700; }

@media screen and (max-width: 600px) {
  .css-18pjltw { font-size: 0.75rem; line-height: 1.66667; }
}

@media screen and (min-width: 601px) and (max-width: 970px) {
  .css-18pjltw { font-size: 0.75rem; line-height: 1.66667; }
}

@media screen and (min-width: 971px) and (max-width: 1280px) {
  .css-18pjltw { font-size: 0.875rem; line-height: 1.57143; }
}

@media screen and (min-width: 1281px) {
  .css-18pjltw { font-size: 0.875rem; line-height: 1.57143; }
}

.css-m68ht5 { color: rgb(86, 97, 108); font-family: "Amazon Ember", Helvetica, sans-serif; hyphens: none; }

.css-m68ht5 em { font-style: italic; }

.css-m68ht5 strong { font-weight: 700; }

@media screen and (max-width: 600px) {
  .css-m68ht5 { font-size: 0.75rem; line-height: 1.66667; }
}

@media screen and (min-width: 601px) and (max-width: 970px) {
  .css-m68ht5 { font-size: 0.75rem; line-height: 1.66667; }
}

@media screen and (min-width: 971px) and (max-width: 1280px) {
  .css-m68ht5 { font-size: 0.875rem; line-height: 1.57143; }
}

@media screen and (min-width: 1281px) {
  .css-m68ht5 { font-size: 0.875rem; line-height: 1.57143; }
}

.css-rk5py4 { height: 50px; flex-shrink: 1; }

.css-x5uzzq { margin: 0px; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; flex-flow: row wrap; display: flex; gap: 4px; }

.css-h43lni { margin: 0px; -webkit-box-pack: center; justify-content: center; flex-direction: row; display: flex; }

.css-lrd5er { color: rgb(255, 255, 255); font-family: "Amazon Ember", Helvetica, sans-serif; font-weight: 500; hyphens: none; }

.css-lrd5er em { font-style: italic; }

.css-lrd5er strong { font-weight: 700; }

@media screen and (max-width: 600px) {
  .css-lrd5er { font-size: 0.875rem; line-height: 1.57143; }
}

@media screen and (min-width: 601px) and (max-width: 970px) {
  .css-lrd5er { font-size: 0.875rem; line-height: 1.57143; }
}

@media screen and (min-width: 971px) and (max-width: 1280px) {
  .css-lrd5er { font-size: 1rem; line-height: 1.5; }
}

@media screen and (min-width: 1281px) {
  .css-lrd5er { font-size: 1rem; line-height: 1.5; }
}

.css-14878v { -webkit-box-align: center; align-items: center; background-color: rgb(35, 47, 62); box-shadow: rgba(35, 47, 62, 0.2) 0px 0px 10px; display: inline-block; height: 56px; left: 0px; min-width: 100%; top: 0px; position: fixed; z-index: 700; }

.css-ytbc83 { margin: 0px; -webkit-box-align: center; align-items: center; background-color: rgb(35, 47, 62); box-shadow: rgba(35, 47, 62, 0.2) 0px 0px 10px; display: inline-block; height: 56px; left: 0px; min-width: 100%; top: 0px; position: fixed; z-index: 700; }

.css-yu1ijh { height: 56px; flex-shrink: 1; }
