@charset "utf-8";

body, html { margin: 0px; padding: 0px; }

body { background: rgb(255, 255, 255); color: rgb(51, 51, 51); font-size: 16px; font-style: normal; line-height: normal; -webkit-font-smoothing: antialiased; touch-action: auto; overflow: hidden overlay; }

a { text-decoration: none; color: inherit; }

::-webkit-scrollbar { appearance: none; }

::-webkit-scrollbar:vertical { width: 12px; }

::-webkit-scrollbar:horizontal { height: 12px; }

::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.4); border-radius: 10px; border: 2px solid rgba(0, 0, 0, 0.4); background-clip: padding-box; }

::-webkit-scrollbar-track { border-radius: 10px; background-color: transparent; opacity: 0; }

::-webkit-scrollbar-button { width: 0px; height: 0px; display: none; }

::-webkit-scrollbar-corner { background-color: transparent; }

::-webkit-input-placeholder { color: rgb(170, 170, 170); }

.loa-global-theme .c15d7 { height: 56px; }

.loa-global-theme .Home .c15d7 { height: 0px; }

.laf-global-theme .c15d7 { height: 65px; }

.lw-global-theme .c15d7 { height: 56px; }

@media only screen and (min-width: 901px) {
  .lw-global-theme .c15d7 { height: 60px; }
}

._47e51 { border: 1px solid rgb(0, 0, 0); width: 100%; height: 70px; text-align: center; color: red; }

.d0d45 { min-height: 100vh; }

body.lw-global-theme { -webkit-font-smoothing: antialiased; -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1); }

body.lw-global-theme, body.lw-global-theme input, body.lw-global-theme textarea { font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif; }

body.loa-global-theme { font-family: Roboto, "Franklin Gothic Medium", Tahoma, sans-serif; }

body.laf-global-theme, body.loa-global-theme { -webkit-font-smoothing: antialiased; -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1); }

body.laf-global-theme { font-family: Poppins, sans-serif; }

body.laf-global-theme .phone { margin-bottom: 10px; }

body.laf-global-theme input, body.laf-global-theme textarea { font-family: Poppins, sans-serif; border-radius: 0px; }

body.laf-global-theme a { cursor: pointer; color: rgb(0, 0, 0); font-weight: 400; }

@media (hover: hover) {
  body.laf-global-theme a:hover { color: rgb(185, 152, 63); border-bottom: none; }
}

body.laf-global-theme a:hover { color: rgb(211, 174, 72); border-bottom: none; }

body.laf-global-theme .ccmp-mpt-header { background-color: rgb(23, 63, 63); color: rgb(255, 255, 255); }

body.laf-global-theme .ccmp-mpt-header a { cursor: pointer; color: rgb(255, 255, 255); font-weight: 400; }

@media (hover: hover) {
  body.laf-global-theme .ccmp-mpt-header a:hover { color: rgb(185, 152, 63); border-bottom: none; }
}

body.laf-global-theme #root { background: linear-gradient(rgb(255, 255, 255) 8.11%, rgba(255, 255, 255, 0) 188.19%); }

body.laf-global-theme #root h5 { font: 700 22px / 29px Poppins, sans-serif; }

body.laf-global-theme #root > footer { background-color: rgb(23, 63, 63); color: rgb(255, 255, 255); text-transform: none; }

body.laf-global-theme #root > footer > div { background-color: rgb(23, 63, 63); color: rgb(211, 174, 72); }

body.laf-global-theme #root > footer > div > a { background-color: transparent; }

body.laf-global-theme .input { border-radius: 0px; height: 40px; }
