@charset "utf-8";

.d8431 { display: none; cursor: default; }

.d8431[data-expanded="true"] { display: block; outline: 0px; }

._0f962 { width: 100%; }

._78cbe { display: flex; justify-content: center; align-items: center; position: fixed; top: 0px; left: 0px; right: 0px; height: 100%; z-index: 30; overflow: hidden auto; }

.loa-global-theme ._78cbe { background: rgba(255, 255, 255, 0.6); }

.laf-global-theme ._78cbe, .lw-global-theme ._78cbe { background-color: rgba(0, 0, 0, 0.5); }

._132be { height: 100%; left: 0px; display: flex; justify-content: center; align-items: center; top: 0px; width: 100%; z-index: 10; opacity: 0.6; }

.dd54a { display: inline-block; position: relative; width: 64px; height: 11px; }

.dd54a div { position: absolute; width: 11px; height: 11px; border-radius: 50%; background: rgb(255, 255, 255); animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.dd54a div.ac872 { background: rgb(136, 136, 136); }

.dd54a div._7c2d1 { background: rgb(51, 51, 51); }

.dd54a div._295d9 { width: 21px; height: 21px; }

.dd54a div:first-child { left: 6px; animation: 0.6s ease 0s infinite normal none running _61293; }

.dd54a div:first-child._295d9 { left: -10px; }

.dd54a div:nth-child(2) { left: 6px; animation: 0.6s ease 0s infinite normal none running _32509; }

.dd54a div:nth-child(2)._295d9 { left: -3px; }

.dd54a div:nth-child(3) { left: 26px; animation: 0.6s ease 0s infinite normal none running _32509; }

.dd54a div:nth-child(3)._295d9 { left: 23px; }

.dd54a div:nth-child(4) { left: 45px; animation: 0.6s ease 0s infinite normal none running ce785; }

.dd54a div:nth-child(4)._295d9 { left: 52px; }

@-webkit-keyframes _61293 { 
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes _61293 { 
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@-webkit-keyframes ce785 { 
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}

@keyframes ce785 { 
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}

@-webkit-keyframes _32509 { 
  0% { transform: translate(0px); }
  100% { transform: translate(19px); }
}

@keyframes _32509 { 
  0% { transform: translate(0px); }
  100% { transform: translate(19px); }
}

.cc0ec { box-sizing: border-box; background-color: transparent; border-radius: 3px; border: none; cursor: pointer; font-size: 1em; height: 48px; display: flex; justify-content: center; align-items: center; padding: 0px 10px; text-align: center; transition: all 0.2s ease 0s; margin: 0px; }

.cc0ec, .cc0ec:focus { box-shadow: none; }

.cc0ec:focus { outline: 0px; }

.cc0ec:disabled { opacity: 0.4; }

.d6162 { width: 40px; height: 40px; display: inline-block; align-self: center; font-size: 17px; font-weight: 400; padding: 0.2em; border-radius: 100%; border: 1px solid rgb(170, 170, 170); }

._9c2dd, ._3379f, ._57939, .d6162 { cursor: pointer; }

._9c2dd:hover, ._3379f:hover, .d6162:hover { filter: brightness(70%); }

._57939:hover { background: rgba(255, 255, 255, 0.2); }

._57939:active { background: rgba(14, 13, 12, 0.2); }

.loa-global-theme ._9c2dd, .loa-global-theme ._3379f { font-family: Roboto, "Franklin Gothic Medium", Tahoma, sans-serif; border-radius: 6px; font-weight: 500; }

.loa-global-theme ._3379f { color: rgb(255, 255, 255); background-color: rgb(0, 109, 49); border: 1px solid rgb(0, 109, 49); }

.loa-global-theme ._3379f:hover { background-color: rgb(21, 84, 67); filter: brightness(100%); }

.loa-global-theme ._3379f:active { background-color: rgb(37, 55, 50); filter: brightness(100%); }

.loa-global-theme ._9c2dd { color: rgb(48, 44, 45); border: 1px solid rgb(48, 44, 45); background-color: rgb(255, 255, 255); }

.loa-global-theme ._9c2dd:hover { background-color: rgba(203, 203, 203, 0.2); filter: brightness(100%); }

.loa-global-theme ._9c2dd:active { background-color: rgba(203, 203, 203, 0.298); filter: brightness(100%); }

.lw-global-theme ._9c2dd, .lw-global-theme ._3379f, .lw-global-theme ._57939 { font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif; }

.lw-global-theme ._3379f { color: rgb(255, 255, 255); background-color: rgb(250, 100, 1); border: 1px solid rgb(250, 100, 1); }

.lw-global-theme ._3379f:hover { filter: brightness(70%); }

.lw-global-theme ._9c2dd, .lw-global-theme ._57939 { font-weight: 600; background: none; }

.lw-global-theme ._9c2dd:hover, .lw-global-theme ._57939:hover { color: rgb(255, 255, 255); filter: brightness(100%); }

.lw-global-theme ._9c2dd { color: rgb(250, 100, 1); border: 2px solid rgb(250, 100, 1); }

.lw-global-theme ._9c2dd:hover { background-color: rgb(250, 100, 1); }

.lw-global-theme ._57939 { color: rgb(51, 51, 51); border: 2px solid rgb(51, 51, 51); }

.lw-global-theme ._57939:hover { background-color: rgb(51, 51, 51); }

.laf-global-theme ._9c2dd, .laf-global-theme ._3379f, .laf-global-theme ._57939 { border-radius: 0px; font-family: Poppins, sans-serif; }

.laf-global-theme ._3379f { color: rgb(51, 51, 51); background-color: rgb(211, 174, 72); font-weight: 600; }

.laf-global-theme ._3379f:hover { filter: brightness(100%); background-color: rgb(185, 152, 63); }

.laf-global-theme ._9c2dd, .laf-global-theme ._57939 { border: 1px solid rgb(0, 0, 0); color: rgb(0, 0, 0); font-weight: 400; background: none; }

.laf-global-theme ._9c2dd:hover, .laf-global-theme ._57939:hover { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); filter: brightness(100%); }

button._866e7 { border-radius: 3px; box-sizing: border-box; display: flex; justify-content: center; align-items: center; margin: 10px auto; padding: 5px 0px; transition: all 0.2s ease 0s; }

button._866e7._6200a { cursor: not-allowed; opacity: 0.5; }

._10f95 { width: 100%; }

._10f95 .f2124 { border-radius: 3px; box-sizing: border-box; display: flex; justify-content: center; align-items: center; margin: 10px auto; padding: 5px 0px; cursor: pointer; transition: all 0.2s ease 0s; }

.loa-global-theme ._866e7, .loa-global-theme .f2124 { width: 190px; height: 48px; }

.laf-global-theme ._866e7, .laf-global-theme .f2124, .lw-global-theme ._866e7, .lw-global-theme .f2124 { width: 100%; height: 40px; }

._24850 { font-size: 12px; line-height: 17px; color: rgb(51, 51, 51); }

._33ce7 { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-radius: 4px; font-size: 16px; padding: 7px 12px 8px; box-sizing: border-box; color: rgb(51, 51, 51); height: 48px; width: 100%; margin-bottom: 15px; }

._33ce7:focus { outline: rgb(23, 132, 235); border: 1px solid rgb(23, 132, 235); }

.c5c86 { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-radius: 4px; font-size: 16px; padding: 7px 12px 8px; box-sizing: border-box; color: rgb(51, 51, 51); width: 100%; height: 140px; resize: none; }

.c5c86:focus { outline: rgb(23, 132, 235); border: 1px solid rgb(23, 132, 235); }

._740f5 { margin-bottom: 0px; border: 1px solid rgb(255, 76, 76) !important; }

.loa-global-theme ._5a488 { font-size: 12px; color: rgb(255, 76, 76); text-align: left; }

.laf-global-theme ._5a488 { font-size: 12px; color: rgb(219, 27, 27); font-weight: 400; text-align: left; }

.laf-global-theme ._33ce7 { height: 40px; color: rgb(0, 0, 0); margin: 0px 0px 10px; border-color: rgb(0, 0, 0); }

.laf-global-theme ._33ce7 ::-webkit-input-placeholder { color: rgb(0, 0, 0); }

.laf-global-theme ._33ce7 ::placeholder { color: rgb(0, 0, 0); }

.laf-global-theme ._24850 { font-size: 14px; color: rgb(0, 0, 0); }

.laf-global-theme .c5c86 { border: 0.5px solid rgb(0, 0, 0); }

.lw-global-theme ._5a488 { font-size: 12px; color: rgb(217, 0, 27); text-align: left; margin-top: -6px; }

.lw-global-theme ._33ce7 { height: 40px; font-size: 16px; font-weight: 300; color: rgb(51, 51, 51); margin-bottom: 10px; }

.lw-global-theme ._33ce7, .lw-global-theme .c5c86 { padding: 9px 15px; border: 0.5px solid rgb(51, 51, 51); }

._5d922 { align-self: flex-start; box-sizing: border-box; box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px 0px; background: rgb(255, 255, 255); position: relative; width: 100vw; color: rgb(51, 51, 51); font-size: 16px; overflow: hidden auto; padding: 0px 20px 20px; border-radius: 3px; height: 100%; }

@media only screen and (min-width: 601px) {
  ._5d922 { min-height: auto; height: auto; align-self: center; width: 400px; }
}

@media only screen and (min-width: 601px) {
  .loa-global-theme ._5d922 { padding: 0px 30px 15px; }
}

.lw-global-theme ._5d922 { max-height: none; min-height: 0px; height: auto; }

@media only screen and (min-width: 601px) {
  .lw-global-theme ._5d922 { padding: 0px 40px 35px; }
}

@media only screen and (min-width: 601px) {
  .f358f { width: auto; }
}

._9612f { padding: 0px; }

._59914 { text-align: center; }

.c7143 { z-index: 100; position: absolute; top: 13px; right: 10px; display: inline-block; background: url("/assets/images/close.svg") 50% center / contain no-repeat; width: 32px; height: 28px; cursor: pointer; }

._2cb3d { margin: 0px; font-size: 24px; font-weight: 600; line-height: 33px; text-align: center; padding: 15px 30px; }

.edc17 { display: none; }

._06b82 { font-size: 12px; color: rgb(51, 51, 51); line-height: 19px; font-weight: 400; padding-left: 45px; padding-right: 45px; }

.lw-global-theme ._2cb3d { font-family: "Noto Serif", serif; font-size: 25px; color: rgb(51, 51, 51); margin: 0px 0px 13px; font-weight: 400; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; padding: 30px 30px 0px; }

@media only screen and (min-width: 601px) {
  .lw-global-theme ._2cb3d { padding: 35px 20px 0px; }
}

.lw-global-theme .edc17 { display: block; width: 150px; height: 0.5px; color: rgb(51, 51, 51); background-color: rgb(51, 51, 51); margin-bottom: 40px; margin-top: 0px; }

.lw-global-theme ._06b82 { margin: 0px 0px 11px; text-align: left; }

.laf-global-theme ._2cb3d { margin-top: 16px; font-weight: 700; color: rgb(0, 0, 0); font-size: 24px; }

.laf-global-theme ._06b82 { font-size: 12px; color: rgb(0, 0, 0); line-height: 19px; font-weight: 400; }

.aefe5 { text-align: center; cursor: pointer; }

._7b693 { font-size: 16px; margin-top: 20px; }

.lw-global-theme .aefe5 { cursor: pointer; color: rgb(250, 100, 1); font-size: 12px; font-weight: 700; margin: 1px 0px -4px; }

.lw-global-theme ._7b693 { color: rgb(250, 100, 1); text-decoration: underline; cursor: pointer; }

.lw-global-theme .b6159 { font-size: 12px; color: rgb(217, 0, 27); text-align: left; }

._3b95d { padding-top: 10px; }

.b7486 { box-sizing: border-box; display: flex; justify-content: center; flex-direction: column; position: relative; width: 100%; align-items: center; }

.laf-global-theme .aefe5 { font-size: 16px; margin: 15px 0px 5px; cursor: pointer; color: rgb(0, 0, 0); font-weight: 400; }

@media (hover: hover) {
  .laf-global-theme .aefe5:hover { color: rgb(185, 152, 63); border-bottom: none; }
}

.laf-global-theme ._7b693 { cursor: pointer; color: rgb(0, 0, 0); font-weight: 400; }

@media (hover: hover) {
  .laf-global-theme ._7b693:hover { color: rgb(185, 152, 63); border-bottom: none; }
}

.laf-global-theme .b6159 { font-size: 12px; color: rgb(219, 27, 27); text-align: center; font-weight: 400; }

._1026a { font-size: 14px; }

._646bd { font-size: 12px; line-height: 18px; color: rgb(51, 51, 51); }

._83427 { margin-top: 5px; float: right; }

.d57e4 { font-size: 12px; color: rgb(255, 76, 76); text-align: left; }

._2292f { box-sizing: border-box; display: flex; justify-content: center; flex-direction: column; position: relative; width: 100%; align-items: center; }

._77d6a { cursor: pointer; color: rgb(23, 132, 235); }

._39b23 { font-size: 16px; margin-top: 24px; text-decoration: underline; cursor: pointer; }

.fd261 { margin: 0px; }

._94a73 { padding-top: 10px; }

.bf54b { font-size: 12px; color: rgb(217, 0, 27); text-align: left; }

._8c440 { box-sizing: border-box; display: flex; justify-content: center; flex-direction: column; position: relative; width: 100%; align-items: center; }

.lw-global-theme .dfb83 { cursor: pointer; color: rgb(250, 100, 1); }

.laf-global-theme .dfb83 { cursor: pointer; color: rgb(0, 0, 0); font-weight: 400; }

@media (hover: hover) {
  .laf-global-theme .dfb83:hover { color: rgb(185, 152, 63); border-bottom: none; }
}

.ee19a { font-size: 12px; color: rgb(255, 76, 76); text-align: left; }

._7b234 { box-sizing: border-box; display: flex; justify-content: center; flex-direction: column; position: relative; width: 100%; align-items: center; }

._12567 { font-size: 16px; margin-top: 24px; text-decoration: underline; }

._18e02 { margin-bottom: 24px; }

._40f11 { box-sizing: border-box; display: flex; justify-content: center; flex-direction: column; position: relative; width: 100%; align-items: center; }

.lw-global-theme ._0b13d { cursor: pointer; color: rgb(51, 51, 51); }

.lw-global-theme ._82328 { font-size: 12px; color: rgb(217, 0, 27); text-align: left; }

.lw-global-theme ._18e02 { font-size: 12px; color: rgb(51, 51, 51); line-height: 19px; font-weight: 400; }

.laf-global-theme ._0b13d { cursor: pointer; color: rgb(0, 0, 0); font-weight: 400; }

@media (hover: hover) {
  .laf-global-theme ._0b13d:hover { color: rgb(185, 152, 63); border-bottom: none; }
}

.laf-global-theme ._82328 { font-size: 12px; color: rgb(219, 27, 27); text-align: center; font-weight: 400; }

.laf-global-theme ._18e02 { font-size: 12px; color: rgb(0, 0, 0); line-height: 19px; font-weight: 400; text-align: center; margin-top: 20px; }

._3970d { margin-left: 5px; }

.loa-global-theme ._1300f { cursor: pointer; color: rgb(23, 132, 235); }

.loa-global-theme ._3970d { font-size: 12px; color: rgb(51, 51, 51); line-height: 19px; font-weight: 400; }

.lw-global-theme ._1300f { cursor: pointer; color: rgb(250, 100, 1); }

.lw-global-theme ._3970d { font-size: 12px; color: rgb(51, 51, 51); line-height: 19px; font-weight: 400; }

.laf-global-theme ._1300f { cursor: pointer; color: rgb(211, 174, 72); font-weight: 400; }

@media (hover: hover) {
  .laf-global-theme ._1300f:hover { color: rgb(185, 152, 63); border-bottom: none; }
}

.laf-global-theme ._3970d { font-size: 12px; color: rgb(0, 0, 0); line-height: 19px; font-weight: 400; }

._4490c { height: 17px; width: 17px; cursor: pointer; position: absolute; left: 0px; border-radius: 3px; border-width: 0.5px; border-style: solid; top: 50%; transform: translateY(-50%); z-index: 1; opacity: 0; margin: 0px; }

._4490c, .e3220 { box-sizing: border-box; }

.e3220 { display: flex; justify-content: flex-start; align-items: center; font-size: 12px; position: relative; width: 100%; margin-top: 5px; padding-left: 22px; }

._13b64 { background-color: rgb(255, 255, 255); }

._2e074, ._13b64 { content: ""; box-sizing: border-box; height: 17px; width: 17px; cursor: pointer; position: absolute; left: 0px; margin: 0px; border-radius: 3px; border-width: 0.5px; border-style: solid; z-index: 0; top: 50%; transform: translateY(-50%); }

._2e074::before { content: ""; margin: 0px 0px 2px 1.5px; display: inline-block; z-index: 5; }

._3f974 { font-size: 12px; color: rgb(51, 51, 51); line-height: 19px; font-weight: 400; }

.lw-global-theme ._13b64 { border-color: rgb(51, 51, 51); }

.lw-global-theme ._2e074 { background-color: rgb(51, 51, 51); border-color: rgb(51, 51, 51); }

.lw-global-theme ._2e074::before { display: inline-block; background: url("/assets/images/checkmark.svg") 50% center / contain no-repeat; width: 13px; height: 13px; }

.laf-global-theme ._2e074, .laf-global-theme ._13b64 { border-color: rgb(0, 0, 0); border-radius: 0px; }

.laf-global-theme ._2e074 { background-color: rgb(0, 0, 0); }

.laf-global-theme ._2e074::before { margin-top: 2px; display: inline-block; background: url("/assets/images/checkmark-rectangular.svg") 50% center / contain no-repeat; width: 13px; height: 13px; }

.laf-global-theme ._4490c { margin: 2px 0px 2px 1.5px; border-radius: 0px; }

.laf-global-theme ._3f974 { font-size: 12px; color: rgb(0, 0, 0); line-height: 19px; font-weight: 400; margin-left: 5px; text-align: left; }

.loa-global-theme ._13b64 { border-color: rgb(204, 204, 204); }

.loa-global-theme ._2e074 { background-color: rgb(23, 132, 235); border-color: rgb(23, 132, 235); }

.loa-global-theme ._2e074::before { display: inline-block; background: url("/assets/images/checkmark.svg") 50% center / contain no-repeat; width: 13px; height: 13px; }

._3748c { cursor: pointer; position: relative; padding: 5px; }

._3748c .bcf07 { justify-content: center; align-items: center; width: 15px; height: 15px; border: 1px solid rgb(204, 204, 204); border-radius: 100%; color: rgb(51, 51, 51); z-index: 3; display: inline-flex; font-size: 11px; }

._3748c ._604cb { display: none; width: 300px; position: absolute; left: -275px; top: -60px; }

._3748c .d5fd2 { display: block; outline: none; }

@media only screen and (min-width: 901px) {
  ._3748c ._3748c:hover ._604cb { display: block; }
}

._3748c ._207dd { width: 300px; box-sizing: border-box; padding: 10px; box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px; border-radius: 4px; background: rgb(255, 255, 255); height: auto; border: 1px solid rgb(204, 204, 204); color: rgb(51, 51, 51); z-index: 2; position: relative; font-size: 12px; }

.dfd42 { font-size: 14px; }

.b8a8e { font-size: 12px; color: rgb(255, 76, 76); text-align: left; }

._6113a { box-sizing: border-box; display: flex; justify-content: center; flex-direction: column; position: relative; width: 100%; align-items: center; }

._80a00 { cursor: pointer; color: rgb(23, 132, 235); }

._106a0 { padding: 0px 30px 15px; }

._1ab65 { font-size: 10px; line-height: 16px; margin-top: 10px; color: rgb(169, 169, 169); width: 90%; }

._00915 { margin-top: 10px; width: 100%; border: none; background-color: rgb(255, 255, 255); }

._00915 a { margin-bottom: 10px; }

.c6e6e, .e19e7 { display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center; background-color: rgb(255, 255, 255); color: rgb(14, 112, 128); width: 100%; min-height: 48px; margin-bottom: 5px; }

.c6e6e { height: 46px; min-height: 46px; border-radius: 3px; }

@media only screen and (min-width: 601px) {
  .c6e6e { width: 145px; margin-bottom: 0px; }
}

@media only screen and (min-width: 601px) {
  .e19e7 { width: 295px; }
}

._351b7, .d57e6 { width: 100%; }

.d57e6 { text-align: center; }

.b312e { word-break: break-word; box-sizing: border-box; border-radius: 16px; cursor: pointer; justify-content: center; align-items: center; display: inline-flex; border: none; }

.loa-global-theme .b312e { font-size: 14px; color: rgb(14, 112, 128); }

.loa-global-theme .b312e.c6e6e, .loa-global-theme .b312e.e19e7 { border: 1px solid rgb(14, 112, 128); }

.lw-global-theme .b312e { font-size: 16px; color: rgb(250, 100, 1); }

.lw-global-theme .b312e.c6e6e, .lw-global-theme .b312e.e19e7 { border: 2px solid rgb(250, 100, 1); margin-bottom: 10px; }

.lw-global-theme .b312e.c6e6e { width: 136px; }

._37bed { margin-bottom: 10px; padding-top: 15px; background: rgb(255, 255, 255); box-shadow: rgb(233, 238, 242) 0px 3px 4px; border: 1px solid rgb(194, 194, 194); flex-direction: column; align-items: center; }

@media only screen and (min-width: 601px) {
  ._37bed { padding-top: 0px; }
}

._37bed ._3af9f { flex-direction: column; align-items: center; text-align: center; }

@media only screen and (min-width: 601px) {
  ._37bed ._3af9f { display: flex; flex-flow: row nowrap; place-content: stretch flex-start; align-items: flex-start; text-align: left; }
}

._37bed ._3af9f .bcfba { order: 1; flex: 0 1 auto; align-self: auto; }

._37bed ._3af9f .bcfba .f2b96 { width: 150px; height: 150px; border-radius: 3px; object-fit: cover; background-size: contain; background-position: 50% center; background-repeat: no-repeat; margin: auto; }

@media only screen and (min-width: 601px) {
  ._37bed ._3af9f .bcfba .f2b96 { margin: 15px 5px 3px 15px; }
}

._37bed ._3af9f ._9345c { order: 2; flex: 1 1 auto; align-self: auto; }

@media only screen and (min-width: 601px) {
  ._37bed ._3af9f ._9345c .b5d9b { margin-left: 15px; }
}

._37bed ._3af9f ._9345c .b5d9b .cadbd { color: rgb(51, 51, 51); font-size: 20px; font-weight: 700; line-height: 26px; margin: 10px 0px 2px; }

._37bed ._3af9f ._9345c .b5d9b ._328d0, ._37bed ._3af9f ._9345c .b5d9b ._918c0 { color: rgb(51, 51, 51); font-size: 14px; font-weight: 700; line-height: 24px; }

._37bed ._3af9f ._9345c ._314cb { margin-left: 15px; }

._37bed ._3af9f ._9345c ._6a1cc { display: flex; align-items: center; flex-flow: column wrap; margin: 10px 15px 0px; }

._37bed ._3af9f ._9345c ._6a1cc ._29cb1 { width: 140px; height: 30px; margin-bottom: 10px; font-size: 16px; font-weight: 600; }

._37bed ._3af9f ._9345c ._6a1cc .f91a3 { justify-content: center; align-items: center; display: inline-flex; padding: 0px 5px; margin: 5px 0px 10px; }

._37bed ._3af9f ._9345c ._6a1cc ._04d97, ._37bed ._3af9f ._9345c ._6a1cc ._8d290 { display: inline-flex; width: 140px; justify-content: center; }

@media only screen and (min-width: 601px) {
  ._37bed ._3af9f ._9345c ._6a1cc ._04d97, ._37bed ._3af9f ._9345c ._6a1cc ._8d290 { width: 140px; }
}

._37bed ._3af9f ._9345c ._6a1cc ._8d290 { width: 140px; }

@media only screen and (min-width: 601px) {
  ._37bed ._3af9f ._9345c ._6a1cc { margin: 10px 0px 0px 15px; justify-content: flex-start; align-items: flex-start; }
}

._37bed ._3af9f .a7d94 { order: 3; flex: 0 1 auto; align-self: auto; }

._37bed ._3af9f .a7d94 .bfe0f { background: rgb(255, 255, 255); min-height: 70px; height: 70px; margin: 5px 5px 10px; }

@media only screen and (min-width: 601px) {
  ._37bed ._3af9f .a7d94 .bfe0f { margin: 15px 15px 3px 5px; }
}

._37bed ._3af9f .a7d94 .bfe0f ._7a0f6 { object-fit: contain; }

._37bed ._56752 { margin: 10px 0px; }

._37bed ._56752 .d1b40 { cursor: pointer; margin-left: 15px; outline: none; font-weight: 700; }

._37bed ._56752 ._95219 { margin-left: 15px; margin-bottom: 5px; font-size: 16px; font-weight: 700; }

._37bed ._56752 ._3963b, ._37bed ._56752 .af2c5 { margin: 0px 25px 10px 15px; font-size: 14px; }

@media only screen and (min-width: 601px) {
  ._37bed ._56752 ._3963b, ._37bed ._56752 .af2c5 { margin-left: 15px; line-height: 24px; margin-top: 0px; }
}

._37bed ._56752 .af2c5 { max-height: 100px; overflow: hidden; text-overflow: ellipsis; content: ""; background: -webkit-linear-gradient(top, rgb(0, 0, 0) 40%, rgb(255, 255, 255)) text; -webkit-text-fill-color: transparent; }

._14cfc ._3af9f { display: flex; }

._14cfc .bcfba { height: auto; }

._14cfc .f2b96 { width: 90px; height: 90px; border-radius: 3px; background-size: contain; background-position: 50% center; background-repeat: no-repeat; margin: auto 10px auto auto; }

._14cfc .cadbd { margin: 0px; }

._14cfc ._314cb { margin: 14px auto; height: auto; text-align: left; }

@media only screen and (min-width: 901px) {
  ._14cfc ._314cb { text-align: center; }
}

._14cfc ._39459 { font-size: 16px; color: rgb(51, 51, 51); height: 22px; text-decoration: underline; cursor: pointer; }

.b5df6 { display: none; }

.e2f50 { display: inline-block; }

._2b19a { height: 41px; padding-top: 16px; }

img + ._2b19a { margin-left: 24px; }

._5f6f9 { cursor: pointer; height: 22px; }

.laf-global-theme ._9345c ._6a1cc ._29cb1 { border-radius: 0px; }

.laf-global-theme ._5f6f9, .laf-global-theme ._39459 { font: 600 16px / 24px Poppins, sans-serif; cursor: pointer; color: rgb(211, 174, 72); -webkit-text-stroke: 0px; }

.laf-global-theme ._5f6f9:active, .laf-global-theme ._5f6f9:hover, .laf-global-theme ._39459:active, .laf-global-theme ._39459:hover { color: rgb(185, 152, 63); border-bottom: none; }

.laf-global-theme ._56752 .d1b40 { color: rgb(211, 174, 72); }

.laf-global-theme ._56752 .d1b40:hover { color: rgb(185, 152, 63); }

.laf-global-theme .b5d9b .cadbd { text-align: center; }

@media only screen and (min-width: 601px) {
  .laf-global-theme .b5d9b .cadbd { text-align: left; }
}

.lw-global-theme ._9345c ._6a1cc .f91a3 { color: rgb(74, 74, 74); text-decoration: underline; font-size: 16px; }

.lw-global-theme ._9345c ._6a1cc .f91a3:hover { color: rgb(250, 100, 1); }

.lw-global-theme ._9345c ._29cb1 { border-radius: 4px; }

.lw-global-theme ._56752 .d1b40 { color: rgb(250, 100, 1); }

._54fc3 { display: block; width: 100%; max-height: 100%; }

._7f3d7 { display: flex; justify-content: flex-start; align-items: flex-start; margin-bottom: 10px; padding-top: 15px; }

@media only screen and (min-width: 601px) {
  ._7f3d7 { padding-top: 0px; }
}

._7f3d7 ._5a941 { color: rgb(51, 51, 51); font-size: 20px; line-height: 26px; font-weight: 500; margin-bottom: 2px; }

._7f3d7 ._8f008, ._7f3d7 ._305b8 { color: rgb(102, 102, 102); font-size: 14px; line-height: 24px; }

._7f3d7 ._6e7fd { padding-left: 15px; }

._7f3d7._1b3e2 { flex-direction: column; align-items: center; margin-top: 10px; }

@media only screen and (min-width: 601px) {
  ._7f3d7._1b3e2 { align-items: flex-start; flex-direction: row; }
}

._7f3d7._1b3e2 .e4ead { margin-left: 0px; margin-top: 10px; }

@media only screen and (min-width: 601px) {
  ._7f3d7._1b3e2 .e4ead { margin-left: 15px; margin-top: 0px; }
}

._7f3d7._1b3e2 .c968a { width: 150px; height: 150px; border-radius: 3px; object-fit: cover; }

._7f3d7._1b3e2 .c968a, .c968a { background-size: contain; background-position: 50% center; background-repeat: no-repeat; }

.c968a { width: 97px; height: 97px; margin: 0px 5px 3px 0px; border-radius: 4px; }

@media only screen and (min-width: 601px) {
  .c968a { margin-top: 20px; }
}

._479e5 { display: inline-block; background: url("/assets/images/avatar.svg") 50% center / contain no-repeat; width: 97px; height: 97px; margin: 15px 15px 0px 0px; }

._26658 { width: 100%; text-align: left; }

.loa-global-theme ._893a2 ._893a2, .loa-global-theme ._6242c ._893a2 { word-break: break-word; box-sizing: border-box; font-size: 14px; border: 1px solid rgb(48, 44, 45); min-height: 35px; min-width: 100px; border-radius: 16px; cursor: pointer; color: rgb(48, 44, 45); justify-content: center; align-items: center; display: inline-flex; padding: 0px 5px; margin-top: 5px; height: 33px; }

.b9c2f, .c0187 { display: flex; justify-content: center; flex-wrap: wrap; margin: 10px 15px 0px; }

@media only screen and (min-width: 601px) {
  .b9c2f, .c0187 { margin: 10px 0px 0px 15px; justify-content: flex-start; }
  .b9c2f button:nth-child(2), .b9c2f button:nth-child(3), .c0187 button:nth-child(2), .c0187 button:nth-child(3) { margin-left: 5px; }
}

@media only screen and (min-width: 601px) {
  .b9c2f { width: 300px; }
  .b9c2f * { margin-left: 0px; }
  .b9c2f button:nth-child(2) { margin-left: 0px; width: 145px; }
  .b9c2f button:nth-child(3) { width: 145px; }
}

.b9c2f ._48a69 { margin-bottom: 5px; }

._3275c { width: 100%; }

@media only screen and (min-width: 601px) {
  ._3275c { width: auto; }
}

._05936 { width: 100%; height: 48px; margin-bottom: 5px !important; }

@media only screen and (min-width: 601px) {
  ._05936 { width: 140px; margin-bottom: 0px !important; }
}

._48a69 { width: 100%; }

@media only screen and (min-width: 601px) {
  ._48a69 { width: 295px; }
}

._374f2, .ac519 { width: 295px; min-height: 48px; text-align: center; }

@media only screen and (min-width: 601px) {
  ._374f2, .ac519 { width: 140px; }
}

._374f2 { width: 295px; }

._3252f { color: rgb(48, 44, 45); cursor: pointer; margin-left: 12px; outline: none; }

._91788 { margin-left: 15px; margin-bottom: 5px; font-weight: 500; }

.d3654, .e4ead { margin: 0px 25px 10px 15px; height: auto; width: 90%; font-size: 14px; }

@media only screen and (min-width: 601px) {
  .d3654, .e4ead { line-height: 24px; }
}

.d3654 { max-height: 100px; overflow: hidden; text-overflow: ellipsis; content: ""; background: -webkit-linear-gradient(top, rgb(0, 0, 0) 40%, rgb(255, 255, 255)) text; -webkit-text-fill-color: transparent; }

.ae1bd { background: rgb(255, 255, 255); width: 100%; min-height: 70px; height: 70px; display: flex; justify-content: center; align-self: baseline; margin-top: 10px; }

._76301 { height: 41px; padding-top: 16px; }

img + ._76301 { margin-left: 24px; }

.grecaptcha-badge { display: none; }

._3b4c9 { display: flex; justify-content: center; width: 100%; }

._145d0 { display: block; width: 100%; }

@media only screen and (min-width: 901px) {
  ._145d0 { width: 49%; }
}

.fa814 { border: none; padding: 0px; margin: 0px; position: relative; }

._5f0ea { background: url("/assets/images/circle-checked.svg") 50% center / contain no-repeat; width: 50px; height: 50px; margin-top: 30px; }

._5f0ea, ._28dec { display: inline-block; }

._28dec { background: url("/assets/images/arrow-right-green-long.svg") 50% center / contain no-repeat; width: 14px; height: 13px; }

._884a3 { display: inline-block; background: url("/assets/images/circle-failed.svg") 50% center / contain no-repeat; width: 50px; height: 50px; margin-top: 30px; }

.f5cc2 { font-weight: 600; font-size: 28px; color: rgb(51, 51, 51); margin-top: 25px; margin-bottom: 25px; text-align: center; }

._9c09b { font-size: 16px; color: rgb(51, 51, 51); }

.ef822 { color: rgb(33, 104, 105); }

.ef822:hover { text-decoration: underline; }

._1d6a1 { font-size: 16px; color: rgb(33, 104, 105); margin-top: 170px; margin-bottom: 40px; cursor: pointer; }

._1d6a1:hover { text-decoration: underline; }

.cd3ff { text-align: center; }

._942df { width: 100%; border: none; margin: 0px; box-shadow: none; max-width: none; padding: 25px 0px 65px; }

@media only screen and (min-width: 601px) {
  ._942df { padding: 25px 0px 0px; }
}

.loa-global-theme ._2100d { border: 1px solid rgb(194, 194, 194); border-radius: 4px; padding: 25px 20px 20px; box-sizing: border-box; background-color: rgb(255, 255, 255); width: 100%; }

@media only screen and (min-width: 601px) {
  .loa-global-theme ._2100d { max-width: 400px; }
}

.loa-global-theme ._2100d .a97cc { height: 100px; font-size: 14px; }

@media only screen and (min-height: 900px) {
  .loa-global-theme ._2100d .a97cc { height: 140px; font-size: 16px; }
}

.loa-global-theme ._2100d ._6f8c3 { display: flex; justify-content: space-between; }

.lw-global-theme ._2100d { box-sizing: border-box; background-color: rgb(255, 255, 255); width: 100%; padding: 20px; }

@media only screen and (min-width: 601px) {
  .lw-global-theme ._2100d { max-width: 400px; }
}

.lw-global-theme ._2100d .a97cc { height: 135px; box-sizing: border-box; font-size: 16px; }

@media only screen and (min-height: 900px) {
  .lw-global-theme ._2100d .a97cc { height: 140px; }
}

.laf-global-theme ._2100d { box-sizing: border-box; background-color: rgb(255, 255, 255); width: 100%; padding: 20px; }

@media only screen and (min-width: 601px) {
  .laf-global-theme ._2100d { max-width: 400px; }
}

.laf-global-theme ._2100d .a97cc { height: 135px; box-sizing: border-box; font-size: 16px; }

@media only screen and (min-height: 900px) {
  .laf-global-theme ._2100d .a97cc { height: 140px; }
}

.lw-global-theme ._2100d { box-shadow: rgb(51, 51, 51) 0px 0px 4px 0px; border-radius: 3px; }

.lw-global-theme ._2100d .a97cc { padding: 9px 15px; }

.lw-global-theme ._2100d ._1d6a1, .lw-global-theme ._2100d .ef822 { color: rgb(250, 100, 1); }

.laf-global-theme ._2100d { border: 0.3px solid rgb(151, 151, 151); }

.laf-global-theme ._2100d ._1d6a1, .laf-global-theme ._2100d .ef822 { color: rgb(211, 174, 72); }

.cf471 { background: rgba(255, 255, 255, 0.95); }

._777c6 { font-weight: 600; font-size: 24px; margin-top: 25px; margin-bottom: 25px; }

._0c1e0, ._777c6 { color: rgb(51, 51, 51); text-align: center; }

._0c1e0 { font-size: 16px; }

.d5f11 { text-align: center; padding-top: 50px; padding-bottom: 50px; }

.e766c { box-sizing: border-box; display: flex; justify-content: center; flex-direction: column; position: relative; width: 100%; align-items: center; }

.b05e7 { max-width: 370px; }

._20e81 { padding-top: 15px; }

.e3f77 { display: flex; flex-direction: column; justify-content: center; box-sizing: border-box; margin: 0px auto; width: 100%; }

@media only screen and (min-width: 601px) {
  .e3f77 { flex-direction: row; max-width: 800px; }
}

._5de8c { display: flex; justify-content: space-between; }

._2b58a { width: 48%; }

.ba76e { width: 52%; }

.c6864 { width: 20%; }

.bb1e2 { width: 23%; }

._13ee0 { text-align: center; }

.c4cfe { justify-content: flex-end; }

.babe6 { display: inline-block; background: url("/assets/images/circle-failed.svg") 50% center / contain no-repeat; width: 50px; height: 50px; margin-top: 30px; }

.f7973 { font-weight: 600; font-size: 27px; margin-top: 25px; margin-bottom: 25px; }

._7e417, .f7973 { color: rgb(51, 51, 51); text-align: center; }

._7e417 { font-size: 16px; }

.bfdb2 { text-align: center; padding-top: 50px; padding-bottom: 50px; }

._0f10c { display: inline-block; background: url("/assets/images/circle-checked.svg") 50% center / contain no-repeat; width: 50px; height: 50px; margin-top: 30px; }

._52a1d { box-sizing: border-box; display: flex; justify-content: center; flex-direction: column; position: relative; width: 100%; align-items: center; }

._6cbde { width: 54px; height: 54px; transform-origin: 50% 50%; animation: 1s linear 0s infinite normal none running aee34; }

@-webkit-keyframes aee34 { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(1turn); }
}

@keyframes aee34 { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(1turn); }
}

._9a0ce { width: auto; height: 26px; font-size: 20px; line-height: 1.3; color: rgb(74, 74, 74); margin-top: 21px; }

._8ed40 { padding: 30px 30px 10px; }

._5e838, ._8ed40 { display: flex; justify-content: center; align-items: center; }

._5e838 { box-sizing: border-box; flex-direction: column; position: relative; width: 100%; }

.loa-global-theme ._4fa73 { cursor: pointer; color: rgb(23, 132, 235); }

.lw-global-theme ._4fa73 { cursor: pointer; color: rgb(250, 100, 1); }
