@charset "utf-8";

@keyframes T0I61v6LunHRKky6LBR13 { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}

._2akOoT1dzMj9SryHV4D-oa { display: inline-flex; }

._3_QHoBNWV9Gm4GzRfjQxFZ { animation: 0.15s cubic-bezier(0, 0, 0.4, 1) 0s 1 normal none running T0I61v6LunHRKky6LBR13; box-shadow: rgba(47, 48, 51, 0.5) 0px 1px 3px 0px; font-size: 12px; font-weight: 400; line-height: 18px; padding: 8px 16px; border-radius: 4px; max-width: 235px; }

._20snzt5E2jDFrcXTAhs8m6 { background: rgb(47, 48, 51); color: rgb(255, 255, 255); }

.T3vv8eZwcdEK3_lGbNyyC { background: rgb(255, 255, 255); color: rgb(47, 48, 51); }

._1fNwnA8PAcVhYWo3ykFaMh { width: 0px; height: 0px; border-style: solid; position: absolute; border-width: 8px 8px 0px; border-left-color: transparent; border-right-color: transparent; border-bottom-color: transparent; margin: 0px 8px; }

._3tQnJbYztfuBD5tlsB8FBu { transform: rotate(0deg); bottom: -8px; }

._2kV02XkTTsofk9IMQpMUTV { transform: scale(-1); top: -8px; }

._34Gtt_8qvcBj6omqixJPBC { border-top-color: rgb(47, 48, 51); }

._2s1Dn1KTXITLNSfwv27rFC { border-top-color: rgb(255, 255, 255); }
