@charset "utf-8";

.C3ZJ7tn6y7IAgBqmOsKqd { display: flex; align-items: center; font-weight: 700; font-size: 16px; line-height: 24px; margin-bottom: 8px; }

.znrfwaAgUyDnkgY3_E4oq { color: rgb(211, 212, 213); }

._18zQh3eI_GYhYX2vRPyZKq { color: rgb(255, 90, 95); }

.CMcV-FHKJ-vRPLskO7Cbi { color: rgb(47, 48, 51); }

._2jez1iSAB_ru295giS9QcW { position: relative; display: flex; }

.Z5ND9JuBqrycKQC4W9LBg { align-items: flex-start; }

._2ANKo7WFi2hX5ONSwGiSRM { align-items: center; }

._3GwjJS9m5UBW8GlqSRNCnp { position: absolute; opacity: 0; z-index: -1; width: 1px; height: 1px; }

._3GwjJS9m5UBW8GlqSRNCnp:focus ~ ._2dsfKPRUMy6nJuktGxnJNn { box-shadow: rgb(233, 236, 237) 0px 0px 0px 4px; }

._2dsfKPRUMy6nJuktGxnJNn { width: 20px; height: 20px; border-radius: 50%; }

.Z5ND9JuBqrycKQC4W9LBg ._2dsfKPRUMy6nJuktGxnJNn { margin-top: 1px; }

._2ANKo7WFi2hX5ONSwGiSRM ._2dsfKPRUMy6nJuktGxnJNn { margin-top: -1px; }

._37U_bzvs7afSgHPfv8qi2C { flex: 1 0 0%; min-width: 0px; font-size: 16px; font-weight: 400; padding-left: 8px; }
