@charset "utf-8";

#infoIcon { display: inline-flex; height: 0px; width: 3rem; padding: 0px; color: rgb(240, 241, 244); }

#infoIcon, #infoMsg { background-color: rgb(240, 241, 244); }

#infoMsg { display: flex; box-shadow: none; margin-top: -0.4rem; position: relative; flex-direction: column; padding: 1.25rem; background-clip: border-box; border: 1px solid rgb(240, 241, 244); border-radius: 0.5rem; }

.appNum, .dataTables { table-layout: auto; }

.table1 { width: 80%; margin-left: 10%; }

.table1 td, .table1 th { border: 1px solid rgb(0, 0, 0); border-collapse: collapse; padding: 5px; text-align: start; width: 50%; }

.table1 th:nth-child(2n+1) { background-color: rgb(232, 232, 232); }

.headerLogoS7 { margin-left: 13%; max-width: 90%; max-height: 120px; margin-top: 18%; }

.border-custom { border: 10px solid rgb(222, 226, 230); }

.logo { width: 75%; max-width: 270px; }

.border-right-custom { border-right: 1px solid rgb(222, 226, 230); }

#receiptSection { border: 10px solid rgb(222, 226, 230); padding-bottom: 15%; }

.headerLogoDCF { max-width: 90%; max-height: 220px; }

#headerSection { margin-left: 7%; margin-right: 7%; }

#headerTextDCF { font-size: 2rem; font-family: "Nunito Sans", sans-serif; color: rgb(17, 70, 100); font-weight: 900; line-height: 140%; margin-bottom: 2.875rem; }

#firstCol { border-right: 1px solid rgb(222, 226, 230); }

.appNum { width: 100%; table-layout: fixed; }

.appNum tbody td, .appNum tbody th { padding: 5px; text-align: start; width: 50%; }

.appNum thead { background-color: rgb(232, 232, 232); border-collapse: collapse; }

.appNum thead th { text-align: left; }

.appNum thead td { text-align: right; }

.calfresh-modal-list { font-size: 1.25rem; color: rgb(7, 20, 43); }

.headerLogo { max-width: 120%; max-height: 120px; margin-left: 10%; margin-top: 25%; }

#headerData { width: 60%; position: relative; top: 63%; left: 30%; }

#headerData th { width: 70%; }

#headerData td { vertical-align: top; }

#iconSection { margin-left: 8%; }

#iconsBody { background-color: rgb(232, 232, 232); }

#iconsText { padding-top: 0.8rem; padding-right: 20px; color: rgb(17, 70, 100); }

#iconTable { padding-right: 0.2rem; padding-left: 0.9rem; width: 35%; }

.sectionData, .sectionHeading { margin-left: 8%; margin-right: 7%; }

.program { margin-left: 10%; }

.program { background-color: rgb(232, 232, 232); width: 35%; }

.dataTables { width: 100%; table-layout: fixed; }

.dataTables tbody td, .dataTables tbody th { border: 1px solid rgb(0, 0, 0); border-collapse: collapse; padding: 5px; text-align: start; width: 50%; }

#dataHeader { font-weight: 700; color: rgb(0, 0, 0); margin: 1%; }

#dataValue { font-weight: 400; color: rgb(0, 0, 0); margin: 2%; }

#dataFirstCol { padding: 5px; color: rgb(0, 0, 0); margin: 1%; }

.dataTables thead { border: 1px solid rgb(0, 0, 0); background-color: rgb(232, 232, 232); border-collapse: collapse; }

.dataTables thead th { text-align: left; }

.dataTables thead td { text-align: right; }

.header { margin-left: 13%; max-width: 120%; max-height: 120px; margin-top: 18%; }

.confirmationHeader { margin-left: 10%; }

#text { color: rgb(0, 0, 0); }

.table1 { border-collapse: collapse; }

.table1 tr:first-child td { border-top: 0px; }

.table1 tr td:first-child { border-left: 0px; }

.table1 tr:last-child td { border-bottom: 0px; }

.table1 tr td:last-child { border-right: 0px; }

.table1 tr:first-child th { border-top: 0px; }

.table1 tr th:first-child { border-left: 0px; }

.table1 tr:last-child th { border-bottom: 0px; }

.table1 tr th:last-child { border-right: 0px; }

#th { background-color: transparent; }

.columnLeft { padding-top: 23px; }

.circular-progress { margin: 12px !important; }

.circular-progress-bar { border-width: 5px !important; }

.medical_table_review table { width: 80%; }

.medical_table_review th { width: 20%; }

.medical_table_review td { width: 30%; vertical-align: top; text-align: right; }

.ux-btn-link { display: inline-block; }

#summary_table { width: 100%; }

#summary_table th { width: 20%; }

#summary_table td { width: 30%; vertical-align: top; text-align: right; }
