@charset "utf-8";

#amtField label, #cws_lbl_gcBuyAmtFixed, #bundleNote { display: none; }

#cws_lbl_gcBuyAmtFixed { font-size: 14px; line-height: 120%; margin: 0px 0px 10px; font-weight: bold; }

#subpageContent > h2 { display: inline-block; }

#customCardsLink { display: none; font-weight: normal; padding: 0px 0px 0px 20px; margin: 0px 0px 0px 20px; border-left: 1px solid rgb(172, 172, 172); font-size: 17px; position: relative; top: -1px; }

#msgContainer { display: none; }

#loadingCards { width: 50px; height: 50px; background-repeat: no-repeat; background-size: 100%; margin: auto; }

#amtLoading, #qtyLoading { width: 36px; height: 36px; background-repeat: no-repeat; background-size: 100%; }

.borderBox { box-sizing: border-box; }

#cws_val_cartSize { position: absolute; inset: -60px auto auto 0px; background-color: rgb(255, 230, 230); padding: 10px; border: 1px solid rgb(170, 13, 13); z-index: 500; }

#cws_val_cartSize.rightAligned { left: auto; right: 0px; }

#cws_val_cartSize::after { content: ""; display: block; width: 0px; height: 10px; border-top: 10px solid rgb(170, 13, 13); border-left: 10px solid transparent; border-right: 10px solid transparent; position: absolute; left: 0px; right: 0px; bottom: -20px; margin: auto; }

#cardsContainer { width: 100%; position: relative; font-size: 0px; padding: 0px 0px 10px; margin: 0px 0px 15px; }

#leftColumn { width: 56%; float: left; margin: 0px 4% 0px 0px; border: 1px solid rgb(204, 204, 204); padding: 0px 2%; box-sizing: border-box; }

#cardSummary { text-align: center; min-height: 325px; position: relative; background-size: 50px; background-position: 50% 50%; background-repeat: no-repeat; }

#cardPreview { margin: 0px 0px 15px; max-width: 300px; max-height: 250px; }

#previewBox { position: absolute; top: 50%; transform: translateY(-50%); left: 0px; right: 0px; background-size: 50px; background-repeat: no-repeat; background-position: 50% center; }

#cardPreviewName { display: block; }

#editCardInfo { width: 40%; float: left; }

#editCardInfo form { position: relative; }

.field { margin: 0px 0px 25px; }

#cardCategories { width: 100%; margin: 0px 0px 20px; display: none; }

#cardCategories .filter { color: rgb(117, 117, 117); margin: 0px 2% 0px 0px; font-size: 12px; line-height: 135%; cursor: pointer; display: inline-block; padding: 5px 10px; border: 1px solid rgb(204, 204, 204); text-decoration: none; background-color: rgb(255, 255, 255); }

body.allowHover #cardCategories .filter:hover { color: rgb(0, 0, 0); background-color: rgb(204, 204, 204); }

#cardCategories .filter.active { color: rgb(0, 0, 0); border: 1px solid rgb(0, 0, 0); font-weight: bold; }

.fieldHint { text-align: left; font-size: 13px; font-style: italic; }

#amtField { min-height: 62px; }

#cws_list_gcBuyAmt, #cws_txt_gcBuyAmt, #amtHint, #qtyHint, #cws_list_gcBuyQty, #singleAmtLine, #cws_txt_gcBuyQty { display: none; }

#amtHint { margin: 0px 0px 0px 5px; }

#cws_list_gcBuyAmt, #cws_list_gcBuyQty, #cws_txt_gcBuyAmt, #cws_txt_gcBuyQty { width: 38%; }

#cws_list_gcBuyAmt, #cws_btn_gcBuyAdd, #cws_list_gcBuyQty { margin-right: 2%; }

#editCardInfo .btn { display: inline-block; box-sizing: border-box; padding: 15px; }

#btnField .btn { margin-bottom: 20px; float: left; display: block; }

#cws_btn_gcBuyAdd { width: 42%; }

#cws_btn_gcBuyCheckout { width: 56%; }

html[lang="pt"] #cws_btn_gcBuyAdd { width: 50%; }

html[lang="pt"] #cws_btn_gcBuyCheckout { width: 48%; }

#cws_btn_gcBuyCheckout:disabled { background-color: rgb(196, 196, 196); }

#cws_val_gcBuyAmt, #cws_val_gcBuyQty, #cws_val_gcBuyAmtOther, #cws_val_gcBuyQtyTxt { right: auto; }

#goToCart { display: inline-block; float: right; }

.scrollBtn { display: none; padding: 20px 0px; }

.btn.inactive { background-color: rgb(228, 228, 228); }

#expandCards { display: none; margin: 0px 0px 15px; }

button#expandCards { width: 100%; }

#cws_val_gcBuyAdd { position: absolute; right: 0px; bottom: -25px; }

#btnField { margin: 0px 0px 55px; max-width: 100%; }

#msgContainer { background-color: rgb(247, 247, 247); padding: 35px 35px 35px 20px; }

#msgContainer input, #msgContainer textarea { width: 75%; float: right; background-color: rgb(255, 255, 255); vertical-align: middle; }

#msgContainer label { display: inline-block; width: 20%; text-align: right; margin: 0px 3% 0px 0px; vertical-align: middle; }

#msgContainer .field:last-child { margin: 0px; }

.cardDesign { display: inline-block; width: 24%; margin: 0px 0.5% 15px; position: relative; border-radius: 5px; vertical-align: top; box-sizing: border-box; border: 1px solid rgb(234, 234, 234); height: 123px; background-repeat: no-repeat; background-size: 50px; background-position: 50% center; }

.cardImg { opacity: 0; transition: opacity 0.3s linear 0s; }

.fadeIn { opacity: 1; }

.cardDesign input[type="radio"] + label::before { background: none; border: none; }

body.allowHover .cardDesign input[type="radio"] + label:hover::before, .cardDesign input[type="radio"]:checked + label::before { content: ""; position: absolute; inset: 0px; width: 100%; height: 100%; box-shadow: rgb(151, 151, 151) 0px 0px 0px 2px inset, rgb(255, 255, 255) 0px 0px 10px 7px inset; border-radius: 2px; }

.cardDesign img { height: auto; width: auto; max-width: 90%; max-height: 90%; display: block; margin: auto; position: absolute; inset: 0px; }

.cardDesign input[type="radio"] + label { background-image: none; margin: 0px; width: 100%; height: 100%; position: relative; left: 50%; transform: translateX(-50%); box-sizing: border-box; padding: 1%; }

.cardDesign:focus { outline: none; }

.cardName { display: none; text-align: center; }

body.allowHover .cardDesign:hover .cardName { display: block; background-color: rgb(255, 255, 255); border: 1px solid rgb(151, 151, 151); position: absolute; bottom: 115%; font-size: 11px; z-index: 888; padding: 2%; width: 150%; left: -25%; box-sizing: border-box; }

body.allowHover .cardDesign:hover .cardName::after { content: ""; display: block; border-top: 10px solid rgb(151, 151, 151); border-left: 10px solid transparent; border-right: 10px solid transparent; position: absolute; bottom: -10px; left: 0px; right: 0px; margin: 0px auto; width: 0px; }

#cws_val_cardDesign { bottom: 0px; }

#singleAmtLine { font-size: 20px; }

#cws_list_gcBuyAmt, #cws_list_gcBuyQty { float: left; }

#seeMore { width: 100%; font-size: 14px; }

#itemAddPopup { display: none; position: absolute; border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px; bottom: 90px; left: -65px; padding: 30px 20px 20px; }

#itemAddPopup::after { content: ""; display: block; border-top: 10px solid rgb(0, 0, 0); width: 0px; position: absolute; bottom: -10px; left: 0px; right: 0px; margin: 0px auto; border-left: 10px solid transparent; border-right: 10px solid transparent; }

#popupImg { width: 80px; display: inline-block; vertical-align: top; }

#itemPopupClose { position: absolute; top: 4px; right: 4px; width: 14px; height: 14px; cursor: pointer; z-index: 8040; background-image: url("/cws4.0/global-unix/images/gift-cards/x.png"); background-repeat: no-repeat; }

.btn#toCart { display: block; margin-top: 10px; float: none; width: 100%; }

html[lang="fr"] #cws_list_gcBuyAmt, html[lang="fr"] #cws_list_gcBuyQty, html[lang="fr"] #cws_txt_gcBuyAmt, html[lang="fr"] #cws_txt_gcBuyQty { width: 46%; }

#bundleSizeMsg { display: none; padding: 5px 10px; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }

#cws_val_gcBundleQty { left: 0px; top: 152%; white-space: nowrap; }

#presentersContainer { display: flex; flex-wrap: wrap; }

.presenter { display: inline-block; width: 30%; margin: 0px 3.33% 15px 0px; position: relative; background-repeat: no-repeat; background-size: 50px; background-position: 50% center; }

.presenter img { height: auto; width: auto; max-width: 90%; max-height: 90%; display: block; flex-shrink: 0; }

.presenter input[type="radio"] + label::before { display: none; }

.presenterImgWrapper { width: 100%; height: 100px; margin: 0px 0px 5px; display: flex; justify-content: flex-start; align-items: center; }

.presenterLbl { display: block; position: relative; margin: 0px 0px 0px 20px; font-size: 12px; }

.presenterLbl::before { content: ""; color: rgb(0, 0, 0); width: 12px; height: 12px; border: 1px solid rgb(189, 189, 189); border-radius: 100%; display: inline-block; vertical-align: middle; margin: 0px 5px 0px 0px; background-color: rgb(255, 255, 255); transition: border 0.25s ease 0s; position: absolute; left: -20px; }

.presenter input[type="radio"]:checked + label .presenterLbl::before { content: ""; background-color: rgb(45, 45, 45); box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px inset; border: 1px solid rgb(0, 0, 0); }

.presenterName { display: block; margin: 0px 0px 3px; }

.presenters-heading { margin: 0px 0px 10px; line-height: 130%; }

@media only screen and (min-width: 901px) {
  .field { width: 100%; }
}

@media only screen and (max-width: 1023px) {
  #pagination { margin: 0px 0px 15px; text-align: center; }
  .pager.btn { font-size: 13px; padding: 8px 13px; margin: 0px 10px 0px 0px; }
  .pager.btn.curPage { background-color: rgb(66, 66, 66); }
}

@media only screen and (max-width: 900px) {
  #leftColumn { margin: 0px 0px 15px; }
  #editCardInfo, #cardsContainer, #leftColumn { width: 100%; float: none; }
  .cardDesign img { max-height: 110px; max-width: 110px; }
  #itemAddPopup { left: 0px; }
  body.allowHover .cardDesign:hover .cardName, .cardDesign:hover .cardName { display: none; }
}

@media only screen and (max-width: 768px) {
  .cardDesign img { max-height: 135px; max-width: 135px; }
  #catDropdown { max-width: 300px; display: inline-block; }
  #filterLabel { display: inline-block; margin: 0px 19px 0px 0px; }
  .cardDesign img { max-height: 100px; max-width: 100px; }
  #cardsContainer { margin: 0px; max-height: 300px; overflow: scroll; border: 1px solid rgb(204, 204, 204); padding: 20px 10px 10px; box-sizing: border-box; }
  .scrollBtn { display: block; width: 100%; background-position: 50% 50%; background-size: 25px 12px; }
  #scrollDown { background-image: url("/cws4.0/global-unix/images/gift-cards/arrowDown.png"); margin: 0px 0px 20px; }
  #scrollUp { background-image: url("/cws4.0/global-unix/images/gift-cards/arrowUp.png"); }
  #expandCards { display: block; }
}

@media only screen and (max-width: 600px) {
  .cardDesign { width: 31.333%; margin: 0px 1% 5px; height: 90px; }
  .cardDesign img { max-height: 75px; max-width: 75px; }
  .cardDesign input[type="radio"] + label { padding: 0.5%; }
  #cardsContainer { max-height: 250px; padding: 10px 5px; }
  #cardSummary { min-height: 140px; }
  #previewBox { position: static; transform: none; margin: 20px 0px; }
  #cardPreview { position: static; margin: 0px auto 20px; max-height: 150px; max-width: 150px; }
  #customCardsLink { padding: 0px 0px 0px 10px; margin: 0px 0px 0px 10px; }
  .buyCardHdr { font-size: 16px; }
}

@media only screen and (max-width: 420px) {
  #cws_list_gcBuyAmt, #cws_list_gcBuyQty, #condOther, #cws_btn_gcBuyAdd { width: 48%; }
  #cws_btn_gcBuyCheckout { width: 50%; }
  #editCardInfo .btn { padding: 15px; font-size: 14px; width: 100%; }
  #cws_val_cartSize.rightAligned { top: 10px; right: auto; }
}
