@charset "utf-8";

.css-1potzn5 { position: relative; display: flex; width: 24px; height: 24px; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; --primary-color:#2000F0; --secondary-color:#FFFFFF; --tertiary-color:#E3E3E3; }
