@charset "utf-8";

.css-e4pgre { margin: 1em 4px 1em 0px; -webkit-box-flex: 1; flex-grow: 1; font-weight: 700; font-size: 0.9em; --primary-color:#2000F0; --secondary-color:#FFFFFF; --tertiary-color:#E3E3E3; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
