@charset "utf-8";

.app-components-Seatmap-FlightSelectTabs-FlightSelectTabs__tabs--1MT9A { margin-bottom: 10px; }

.app-components-Seatmap-FlightSelectTabs-FlightSelectTabs__tabs--1MT9A a.atm-c-tabs__link { text-decoration: none; }

.app-components-Seatmap-FlightSelectTabs-FlightSelectTabs__tabs--1MT9A div.atm-c-tabs__body { padding: 0px; }
