@charset "utf-8";

.app-components-Form-Input-styles__field--2sZlW { display: block; position: relative; }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__inputButton--3ShCr { position: absolute; bottom: 0px; top: 12px; right: 0px; padding: 1px; color: rgb(33, 114, 186); }

.app-components-Form-Input-styles__field--2sZlW label.app-components-Form-Input-styles__label---bS_n { position: absolute; display: block; transform: translate3d(0px, -50px, 0px); transition: color 0.4s ease 0s; color: rgb(0, 0, 0); text-transform: none; font-weight: 700; }

.app-components-Form-Input-styles__field--2sZlW label.app-components-Form-Input-styles__label---bS_n.app-components-Form-Input-styles__twoLineLabel--3_n1O { transform: translate3d(0px, -60px, 0px); }

.app-components-Form-Input-styles__field--2sZlW label.app-components-Form-Input-styles__label---bS_n.app-components-Form-Input-styles__whiteLabel--3jb_W { color: rgba(255, 255, 255, 0.7); padding-bottom: 5px; }

.app-components-Form-Input-styles__field--2sZlW label.app-components-Form-Input-styles__label---bS_n.app-components-Form-Input-styles__whiteLabel--3jb_W:hover { color: rgb(255, 255, 255); }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__error--2LnCO { color: rgb(213, 0, 50); font-size: 12px; }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__error--2LnCO.app-components-Form-Input-styles__isFixedError--3gBid { position: relative; grid-row: 3 / auto; }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__error--2LnCO.app-components-Form-Input-styles__whiteBackground--2Daye { background: rgb(255, 255, 255); font-size: 11px; }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__error--2LnCO .app-components-Form-Input-styles__errorIcon--3TbWH { width: 14px; height: 11px; margin-right: 2px; margin-bottom: 4px; }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__error--2LnCO .app-components-Form-Input-styles__errorLabel--2BFZZ.app-components-Form-Input-styles__blueBackground--1V23w { color: rgb(255, 255, 255); }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__helper--Qodgc { color: rgb(102, 102, 102); font-size: 12px; }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M { position: relative; font-size: 16px; outline-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__whiteBackground--2Daye { box-shadow: rgb(255, 255, 255) 0px 0px 0px 1000px inset !important; }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__blueBackground--1V23w { box-shadow: rgb(0, 34, 68) 0px 0px 0px 1000px inset; color: rgb(255, 255, 255); caret-color: rgb(255, 255, 255); font-size: 21.4px; border-color: rgb(255, 255, 255); }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__blueBackground--1V23w:-webkit-autofill { -webkit-text-fill-color: rgb(255, 255, 255); }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__blueBackground--1V23w:focus { outline: none; color: rgb(255, 255, 255); }

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__blueBackground--1V23w { color: rgb(255, 255, 255); }
}

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__blueBackground--1V23w:focus, .app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__blueBackground--1V23w:hover:not([disabled]) { color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__blueBackground--1V23w:focus + label.app-components-Form-Input-styles__whiteLabel--3jb_W, .app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__blueBackground--1V23w:hover:not([disabled]) + label.app-components-Form-Input-styles__whiteLabel--3jb_W { color: rgb(255, 255, 255); }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__blueBackground--1V23w:focus::-webkit-input-placeholder, .app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__blueBackground--1V23w:hover:not([disabled])::-webkit-input-placeholder { color: rgba(0, 0, 0, 0); }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__blueBackground--1V23w::-webkit-input-placeholder { color: rgb(255, 255, 255); }

@media screen and (min--moz-device-pixel-ratio: 0) {
  .app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__blueBackground--1V23w { box-shadow: none; }
  .app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__whiteBackground--2Daye { box-shadow: none !important; }
}

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M[value=""] + label.app-components-Form-Input-styles__noFixedLabel--ELyBO { opacity: 0; transition: opacity 0.8s ease 0s, transform 0.4s ease 0s; transform: translate3d(0px, -35px, 0px); }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M:focus + label.app-components-Form-Input-styles__label---bS_n, .app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M:hover:not([disabled]) + label.app-components-Form-Input-styles__label---bS_n { opacity: 1; color: rgb(0, 0, 0); transform: translate3d(0px, -50px, 0px); }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__twoLineLabel--3_n1O:focus + label.app-components-Form-Input-styles__label---bS_n, .app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__twoLineLabel--3_n1O:hover:not([disabled]) + label.app-components-Form-Input-styles__label---bS_n { opacity: 1; color: rgb(0, 0, 0); transform: translate3d(0px, -60px, 0px); }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M:disabled { color: rgb(153, 153, 153); }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M:disabled + label.app-components-Form-Input-styles__label---bS_n { color: rgb(153, 153, 153); border-color: rgb(153, 153, 153); }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M:focus, .app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M:hover:not([disabled]) { color: rgb(0, 0, 0); border-color: rgb(33, 114, 186); }

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M:focus.app-components-Form-Input-styles__blueBackground--1V23w, .app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M:hover:not([disabled]).app-components-Form-Input-styles__blueBackground--1V23w { color: rgb(255, 255, 255); }
}

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M:focus + label.app-components-Form-Input-styles__label---bS_n, .app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M:hover:not([disabled]) + label.app-components-Form-Input-styles__label---bS_n { color: rgb(33, 114, 186); }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M::placeholder { color: rgb(102, 102, 102); font-size: 16px; }

.app-components-Form-Input-styles__field--2sZlW .app-components-Form-Input-styles__input--VLE8M::-webkit-input-placeholder { color: rgb(102, 102, 102); font-size: 16px; }

.app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q .app-components-Form-Input-styles__inputButton--3ShCr { color: rgb(213, 0, 50); }

.app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q label { color: rgb(213, 0, 50); }

.app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q ::placeholder { color: rgb(213, 0, 50); }

.app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q .app-components-Form-Input-styles__helper--Qodgc { padding-top: 36px; }

.app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q .app-components-Form-Input-styles__input--VLE8M { border-color: rgb(213, 0, 50); }

.app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q .app-components-Form-Input-styles__input--VLE8M:focus::-webkit-input-placeholder { color: rgba(0, 0, 0, 0); }

.app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q .app-components-Form-Input-styles__input--VLE8M.app-components-Form-Input-styles__blur--DOTx_::-webkit-input-placeholder { color: rgb(213, 0, 50); }

.app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q .app-components-Form-Input-styles__input--VLE8M:focus, .app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q .app-components-Form-Input-styles__input--VLE8M:hover:not([disabled]) { color: rgb(0, 0, 0); border-color: rgb(213, 0, 50); }

.app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q .app-components-Form-Input-styles__input--VLE8M:focus + label.app-components-Form-Input-styles__label---bS_n, .app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q .app-components-Form-Input-styles__input--VLE8M:hover:not([disabled]) + label.app-components-Form-Input-styles__label---bS_n { color: rgb(213, 0, 50); }

.app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q .app-components-Form-Input-styles__blueBackground--1V23w:focus, .app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q .app-components-Form-Input-styles__blueBackground--1V23w:hover:not([disabled]) { color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); }

.app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q .app-components-Form-Input-styles__blueBackground--1V23w:focus + label.app-components-Form-Input-styles__whiteLabel--3jb_W, .app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q .app-components-Form-Input-styles__blueBackground--1V23w:hover:not([disabled]) + label.app-components-Form-Input-styles__whiteLabel--3jb_W { color: rgb(255, 255, 255); }

.app-components-Form-Input-styles__field--2sZlW > .app-components-Form-Input-styles__isError--3_D6Q label.app-components-Form-Input-styles__labelUpdatedStyle--2lNeQ { color: rgb(213, 0, 50); transition: none 0s ease 0s; }

.app-components-Form-Input-styles__field--2sZlW.app-components-Form-Input-styles__rootUpdatedStyle--2ZXGR { position: relative; max-width: 400px; }

.app-components-Form-Input-styles__field--2sZlW.app-components-Form-Input-styles__rootUpdatedStyle--2ZXGR .app-components-Form-Input-styles__error--2LnCO { margin-top: 10px; }

.app-components-Form-Input-styles__field--2sZlW label.app-components-Form-Input-styles__labelUpdatedStyle--2lNeQ { transform: translate3d(0px, -46px, 0px); transition: color 0.4s ease 0s; color: rgb(98, 68, 187); font-weight: normal; }

.app-components-Form-Input-styles__field--2sZlW label.app-components-Form-Input-styles__labelUpdatedErrorStyle--3ePnF { color: rgb(213, 0, 50); transition: none 0s ease 0s; }

.app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedStyle--2zp6u { color: rgb(102, 102, 102); height: 47px; padding: 14px 0px 1px; border-bottom-color: rgba(0, 0, 0, 0.42); }

.app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedStyle--2zp6u:disabled { -webkit-text-fill-color: rgb(153, 153, 153); opacity: 1; }

.app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedStyle--2zp6u:disabled + label.app-components-Form-Input-styles__label---bS_n { color: rgb(153, 153, 153); border-color: rgb(153, 153, 153); }

.app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedStyle--2zp6u:focus, .app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedStyle--2zp6u:hover:not([disabled]) { border-color: rgb(98, 68, 187); padding: 14px 0px 0px; }

.app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedStyle--2zp6u:focus + label.app-components-Form-Input-styles__label---bS_n, .app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedStyle--2zp6u:hover:not([disabled]) + label.app-components-Form-Input-styles__label---bS_n { color: rgb(98, 68, 187); transform: translate3d(0px, -46px, 0px); }

.app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedStyle--2zp6u::-webkit-input-placeholder { font-size: 16px; }

.app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedErrorStyle--2wnii { border-bottom-color: rgb(213, 0, 50); }

.app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedErrorStyle--2wnii:focus, .app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedErrorStyle--2wnii:hover:not([disabled]) { border-color: rgb(213, 0, 50); }

.app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedErrorStyle--2wnii:focus + label.app-components-Form-Input-styles__label---bS_n, .app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedErrorStyle--2wnii:hover:not([disabled]) + label.app-components-Form-Input-styles__label---bS_n { color: rgb(213, 0, 50); }

.app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedErrorStyle--2wnii ::placeholder { color: rgb(213, 0, 50); }

.app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedErrorStyle--2wnii::-webkit-input-placeholder { color: rgb(213, 0, 50); }

.app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedErrorStyle--2wnii:focus ::placeholder { color: rgba(0, 0, 0, 0); }

.app-components-Form-Input-styles__field--2sZlW input.app-components-Form-Input-styles__inputUpdatedErrorStyle--2wnii:focus::-webkit-input-placeholder { color: rgba(0, 0, 0, 0); }
