@charset "utf-8";

.atm-c-megamenu { display: none; position: absolute; visibility: hidden; top: -100vh; left: 0px; width: 100%; background: rgb(0, 34, 68); padding-top: 8rem; padding-bottom: 2rem; z-index: -1; }

.atm-c-primary-nav__item.atm-is-active .atm-c-megamenu { display: block; visibility: visible; top: 0px; z-index: 1; }

@media (min-width: 70em) {
  .atm-c-megamenu { display: block; }
}

.atm-c-megamenu__heading { font-size: 1rem; line-height: 1.5; font-weight: 600; margin-bottom: 1rem; color: rgb(105, 179, 231); text-transform: uppercase; letter-spacing: 1px; }
