@charset "utf-8";

.app-components-Seatmap-Monument-Monument__small--3DPNb.app-components-Seatmap-Monument-Monument__monument__icon--3Nvp2 { width: 80%; padding: 0px; }

.app-components-Seatmap-Monument-Monument__small--3DPNb.app-components-Seatmap-Monument-Monument__monument--vertical-no-seat--2NQ7Q { min-height: 27px; width: 25px; }

.app-components-Seatmap-Monument-Monument__small--3DPNb.app-components-Seatmap-Monument-Monument__monument--horizontal-no-seat--2Jkcb { min-width: 27px; }

.app-components-Seatmap-Monument-Monument__monument--3O4RX { background-color: rgb(242, 242, 242); border-radius: 4px; border: 1px solid rgb(172, 172, 172); height: 100%; position: relative; width: 100%; }

.app-components-Seatmap-Monument-Monument__monument__icon--3Nvp2 { font-size: 0px; position: absolute; width: 100%; padding: 1px; display: flex; align-items: center; justify-content: center; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); pointer-events: none; -webkit-user-drag: none; user-select: none; }

.app-components-Seatmap-Monument-Monument__monument__icon--3Nvp2 svg { max-width: 100%; }

.app-components-Seatmap-Monument-Monument__monument__label--240Hz { height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); position: absolute !important; }

.app-components-Seatmap-Monument-Monument__monument--no-background--2hfdD { background: none; border: 0px; }

.app-components-Seatmap-Monument-Monument__monument--vertical-no-seat--2NQ7Q { min-height: 36px; }

.app-components-Seatmap-Monument-Monument__monument--horizontal-no-seat--2Jkcb { min-width: 36px; }
