@charset "utf-8";

.atm-c-btn-group { display: flex; -webkit-box-align: center; align-items: center; }

.atm-c-btn-group > * { margin-right: 1rem; }

.atm-c-btn-group > :last-child { margin-right: 0px; }

.atm-c-btn-group--align-right { -webkit-box-pack: end; justify-content: flex-end; }

@media (max-width: 28em) {
  .atm-c-btn-group--responsive { display: block; }
  .atm-c-btn-group--responsive > * { width: 100%; margin-right: 0px; margin-bottom: 1rem; }
}

.atm-c-btn-group--stacked { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-box-align: start; align-items: flex-start; }

.atm-c-btn-group--stacked > * { margin-right: 0px; margin-bottom: 0.5rem; }
