@charset "utf-8";

.app-components-Calendar-index__modalOverlay--3iF1N { background-color: rgba(0, 0, 0, 0); }

.app-components-Calendar-index__topComponent--2K0de { padding: 23px 34px; background-color: rgb(240, 241, 248); border: 2px solid rgba(0, 0, 0, 0); }

.app-components-Calendar-index__topComponent--2K0de:focus-within { border: 2px solid rgb(98, 68, 187); }

.app-components-Calendar-index__expander--ySOvt { flex: 1 1 0%; }

.app-components-Calendar-index__bottomComponent--3ofiw { display: flex; flex-direction: column; text-align: center; }

.app-components-Calendar-index__bottomComponent--3ofiw p { margin: 0px 0px 8px; }

.app-components-Calendar-index__flexibleCalendarContainer--3oJpV { border: 1px solid rgb(102, 102, 102); border-radius: 5px; padding: 5px 14px 5px 8px; font-size: 16px; color: rgb(0, 0, 0); width: 100%; display: flex; }

@media screen and (min-width: 720px) {
  .app-components-Calendar-index__flexibleCalendarContainer--3oJpV { padding: 5px 14px; }
}

.app-components-Calendar-index__flexibleCalendarContainer--3oJpV .app-components-Calendar-index__flightToggler--pjGMu { padding: 0px; }

.app-components-Calendar-index__flexibleCalendarContainer--3oJpV .app-components-Calendar-index__flightToggler--pjGMu:focus { box-shadow: rgb(98, 68, 187) 0px 0px 0px 2px inset; }

.app-components-Calendar-index__flexibleCalendarContainer--3oJpV .app-components-Calendar-index__inputSeparator--1oGqg { margin: 0px; }

.app-components-Calendar-index__flexibleCalendarContainer--3oJpV input[type="text"].app-components-Calendar-index__calendarInput--3z0e6 { min-width: 50px; width: 65px; }

.app-components-Calendar-index__modalContainer--2pmrU { position: absolute; top: 50px; right: 0px; width: 670px; background-color: rgb(255, 255, 255); z-index: 999; border: 1px solid rgb(102, 102, 102); border-radius: 4px; overflow: hidden; }

@media screen and (min-width: 1184px) {
  .app-components-Calendar-index__modalContainer--2pmrU { left: 0px; right: auto; }
}

.app-components-Calendar-index__modalContainer--2pmrU.app-components-Calendar-index__isTablet--1M5QX { top: 0px; width: 100%; overflow-y: scroll; height: 100vh; }

.app-components-Calendar-index__modalContainer--2pmrU.app-components-Calendar-index__isTablet--1M5QX .app-components-Calendar-index__topComponent--2K0de { display: none; }

.app-components-Calendar-index__modalContainer--2pmrU .DayPicker_transitionContainer__horizontal { transition: none 0s ease 0s; }

.app-components-Calendar-index__modalContainer--2pmrU .DayPicker__horizontal { box-shadow: none; border: none; }

@media screen and (min-width: 944px) {
  .app-components-Calendar-index__modalContainer--2pmrU .DayPicker__horizontal { width: 668px; padding: 0px 25px; }
}

@media only screen and (min-width: 320px) and (max-width: 667px) and (orientation: landscape) {
  .app-components-Calendar-index__modalContainer--2pmrU .DayPicker__horizontal { width: 368px; margin-left: -184px; padding: 0px 25px; }
}

@media only screen and (min-width: 668px) and (max-width: 812px) and (orientation: landscape) {
  .app-components-Calendar-index__modalContainer--2pmrU .DayPicker__horizontal { width: 668px; margin-left: -334px; padding: 0px 25px; }
}

.app-components-Calendar-index__modalContainer--2pmrU .CalendarDay { border-color: rgba(0, 0, 0, 0); }

.app-components-Calendar-index__modalContainer--2pmrU .CalendarDay.CalendarDay__blocked_out_of_range, .app-components-Calendar-index__modalContainer--2pmrU .CalendarDay.CalendarDay__blocked_out_of_range:hover { border-color: rgba(0, 0, 0, 0); }

.app-components-Calendar-index__modalContainer--2pmrU .CalendarDay.CalendarDay__selected_span { background-color: rgb(238, 242, 249); border-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); }

.app-components-Calendar-index__modalContainer--2pmrU .CalendarDay.CalendarDay__hovered_span { background-color: rgb(238, 242, 249); border-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); }

.app-components-Calendar-index__modalContainer--2pmrU .CalendarDay.CalendarDay__hovered_span:hover { background-color: rgb(0, 34, 68); color: rgb(255, 255, 255); }

.app-components-Calendar-index__modalContainer--2pmrU .CalendarDay.CalendarDay__hovered_span:hover + .CalendarDay__selected_span { color: rgb(0, 0, 0); }

.app-components-Calendar-index__modalContainer--2pmrU .CalendarDay.CalendarDay__selected, .app-components-Calendar-index__modalContainer--2pmrU .CalendarDay.CalendarDay__selected.CalendarDay__hovered_span, .app-components-Calendar-index__modalContainer--2pmrU .CalendarDay.CalendarDay__selected_span:active, .app-components-Calendar-index__modalContainer--2pmrU .CalendarDay.CalendarDay__selected_span:hover { background-color: rgb(0, 34, 68); border-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); }

.app-components-Calendar-index__modalContainer--2pmrU .CalendarDay:hover { background-color: rgb(0, 34, 68); border-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); }

.app-components-Calendar-index__modalContainer--2pmrU .CalendarDay:focus { border-color: rgb(98, 68, 187); }

.app-components-Calendar-index__modalContainer--2pmrU .DayPicker_weekHeader_li { font-weight: bold; color: rgb(0, 0, 0); }

.app-components-Calendar-index__modalContainer--2pmrU .DayPicker_weekHeader_li { font-weight: bold; color: rgb(0, 0, 0); }

.app-components-Calendar-index__modalContainer--2pmrU .CalendarMonth_caption { text-align: left; padding-left: 8px; }

.app-components-Calendar-index__prevIconContainer--1vH6P { width: 50%; height: 100%; }

@media screen and (min-width: 944px) {
  .app-components-Calendar-index__prevIconContainer--1vH6P { position: absolute; top: 138px; left: -13px; padding: 6px 9px; width: auto; height: auto; }
}

.app-components-Calendar-index__prevIcon--cChK8 { border-style: solid; border-color: rgb(0, 34, 68); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(135deg); width: 12px; height: 12px; display: inline-block; }

.app-components-Calendar-index__nextIconContainer--3aUiX { width: 50%; height: 100%; }

@media screen and (min-width: 944px) {
  .app-components-Calendar-index__nextIconContainer--3aUiX { position: absolute; top: 138px; right: -13px; padding: 6px 9px; width: auto; height: auto; }
}

.app-components-Calendar-index__nextIcon--3jAHE { border-style: solid; border-color: rgb(0, 34, 68); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(315deg); width: 12px; height: 12px; display: inline-block; }

.app-components-Calendar-index__calendar--3z_F4 { position: relative; flex-direction: row; display: flex; align-items: center; border: 1px solid rgb(0, 0, 0); padding: 5px 9px; border-radius: 4px; }

.app-components-Calendar-index__calendar--3z_F4:focus-within { border-color: rgb(98, 68, 187); }

input[type="text"].app-components-Calendar-index__calendarInput--3z0e6 { height: auto; font-size: 1rem; color: rgb(0, 0, 0); padding: 6px; border: none; max-width: none; width: 90px; min-width: 88px; outline: none; }

input[type="text"].app-components-Calendar-index__calendarInput--3z0e6:focus { box-shadow: rgb(98, 68, 187) 0px 0px 0px 2px inset; }

.app-components-Calendar-index__calendarButton--dQVUq { align-self: center; }

.app-components-Calendar-index__visuallyHidden--Wehop { height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); position: absolute !important; }

.app-components-Calendar-index__mobileCloseButton--3rPKv { position: absolute; top: 2px; right: 2px; padding: 15px; z-index: 1; }

.app-components-Calendar-index__errorWrapper--NTH3T { position: absolute; }

.app-components-Calendar-index__errorMsg--2-N_h { color: rgb(213, 0, 50); }

.app-components-Calendar-index__day--20-qi, .app-components-Calendar-index__pricing--4MqXq { display: block; }

.app-components-Calendar-index__pricing--4MqXq { font-size: 11px; font-weight: bold; }

.app-components-Calendar-index__pricing--4MqXq.app-components-Calendar-index__best--13Qm- { color: rgb(68, 136, 62); }

.app-components-Calendar-index__pricingDisclaimer--12ihp { margin: 0px; font-size: 12px; color: rgb(51, 51, 51); line-height: 1.5; text-align: center; padding: 0px 0px 24px; }

.app-components-Calendar-index__pricingDisclaimer--12ihp hr { margin: 0px 24px; }

.app-components-Calendar-index__pricingTitle--3eXk8 { margin: 8px 0px 4px; color: rgb(68, 136, 62); font-weight: bold; font-size: 14px; }

.app-components-Calendar-index__pricingContent--_ZaTO { margin: 0px auto; max-width: 590px; text-align: center; }
