@charset "utf-8";

.app-components-FlightCheckinForm-flightCheckinForm__btnDefault--4GZC_ { text-align: center; text-decoration: none; border-radius: 2px; height: 52px; line-height: 22px; width: 100%; font-size: 16px; }

@media (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__btnDefault--4GZC_ { height: 56px; width: 160px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__btnDefault--4GZC_:hover, .app-components-FlightCheckinForm-flightCheckinForm__btnDefault--4GZC_:focus { box-shadow: none; }

.app-components-FlightCheckinForm-flightCheckinForm__btnDefault--4GZC_:disabled, .app-components-FlightCheckinForm-flightCheckinForm__btnDefault--4GZC_[disabled] { box-shadow: none; border: none; background-color: rgb(230, 230, 230); color: rgb(102, 102, 102); }

.app-components-FlightCheckinForm-flightCheckinForm__primaryButton--1Cp35 { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); border: 1px solid rgb(33, 114, 186); box-shadow: rgb(102, 102, 102) -1px 1px 1px 0px; }

.app-components-FlightCheckinForm-flightCheckinForm__primaryButton--1Cp35:hover, .app-components-FlightCheckinForm-flightCheckinForm__primaryButton--1Cp35:focus { border: 1px solid rgb(0, 48, 87); box-shadow: none; }

.app-components-FlightCheckinForm-flightCheckinForm__ancillaryButton--2w3Hn, .app-components-FlightCheckinForm-flightCheckinForm__primaryButton--1Cp35.app-components-FlightCheckinForm-flightCheckinForm__ancillaryButton--2w3Hn, .app-components-FlightCheckinForm-flightCheckinForm__btnDefault--4GZC_.app-components-FlightCheckinForm-flightCheckinForm__ancillaryButton--2w3Hn { height: 30px; }

@media (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__ancillaryButton--2w3Hn, .app-components-FlightCheckinForm-flightCheckinForm__primaryButton--1Cp35.app-components-FlightCheckinForm-flightCheckinForm__ancillaryButton--2w3Hn, .app-components-FlightCheckinForm-flightCheckinForm__btnDefault--4GZC_.app-components-FlightCheckinForm-flightCheckinForm__ancillaryButton--2w3Hn { width: 160px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__secondaryButton--3LP_1 { background-color: rgb(237, 183, 43); color: rgb(0, 0, 0); border: 1px solid rgb(237, 183, 43); }

.app-components-FlightCheckinForm-flightCheckinForm__secondaryButton--3LP_1:hover { border: 1px solid rgb(0, 57, 100); box-shadow: none; }

.app-components-FlightCheckinForm-flightCheckinForm__inputFieldBorder--sdOVV { border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid rgb(102, 102, 102); background: rgba(0, 0, 0, 0); border-radius: 0px; }

.app-components-FlightCheckinForm-flightCheckinForm__textLink--eI03- { font-size: 28px; letter-spacing: 0px; line-height: 18px; }

.app-components-FlightCheckinForm-flightCheckinForm__textLink--eI03-:link { color: rgb(0, 34, 68); }

.app-components-FlightCheckinForm-flightCheckinForm__textLink--eI03-:hover { color: rgb(33, 114, 186); border-bottom: 1px solid rgb(33, 114, 186); }

@media (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__textLink--eI03- { font-size: 16px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__textLinkCTA--RnH4n { letter-spacing: 0px; }

.app-components-FlightCheckinForm-flightCheckinForm__textLinkCTA--RnH4n:link { color: rgb(102, 102, 102); text-decoration: underline; }

.app-components-FlightCheckinForm-flightCheckinForm__textLinkCTA--RnH4n:hover { color: rgb(0, 0, 0); }

@media (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__textLinkCTA--RnH4n { line-height: 22px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__inverse--1ew59 { background-color: rgb(33, 114, 186); border-radius: 2px; color: rgb(255, 255, 255); }

.app-components-FlightCheckinForm-flightCheckinForm__inverse--1ew59.app-components-FlightCheckinForm-flightCheckinForm__secondary--2TOLF { color: rgb(237, 183, 43); }

.app-components-FlightCheckinForm-flightCheckinForm__inverse--1ew59 input[type="text"], .app-components-FlightCheckinForm-flightCheckinForm__inverse--1ew59 input[type="password"], .app-components-FlightCheckinForm-flightCheckinForm__inverse--1ew59 input[type="tel"], .app-components-FlightCheckinForm-flightCheckinForm__inverse--1ew59 input[type="number"] { color: rgb(255, 255, 255); }

.app-components-FlightCheckinForm-flightCheckinForm__inverse--1ew59 input[type="text"].app-components-FlightCheckinForm-flightCheckinForm__secondary--2TOLF, .app-components-FlightCheckinForm-flightCheckinForm__inverse--1ew59 input[type="password"].app-components-FlightCheckinForm-flightCheckinForm__secondary--2TOLF, .app-components-FlightCheckinForm-flightCheckinForm__inverse--1ew59 input[type="tel"].app-components-FlightCheckinForm-flightCheckinForm__secondary--2TOLF, .app-components-FlightCheckinForm-flightCheckinForm__inverse--1ew59 input[type="number"].app-components-FlightCheckinForm-flightCheckinForm__secondary--2TOLF { color: rgb(237, 183, 43); }

.app-components-FlightCheckinForm-flightCheckinForm__inverseDark--jcg59 { background-color: rgb(0, 34, 68); font-size: 16px; color: rgb(255, 255, 255); }

.app-components-FlightCheckinForm-flightCheckinForm__signInInput--1T79d { font-size: 24px; letter-spacing: -0.2px; line-height: 32px; }

.app-components-FlightCheckinForm-flightCheckinForm__roundedButton--3EQ6Q, .app-components-FlightCheckinForm-flightCheckinForm__roundedButtonOn--2ZM9a, .app-components-FlightCheckinForm-flightCheckinForm__roundedButtonPrimary--2FZIO { font-size: 16px; letter-spacing: 0px; border: 1px solid; border-radius: 200px; height: 72px; width: 94px; text-align: center; }

@media (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__roundedButton--3EQ6Q, .app-components-FlightCheckinForm-flightCheckinForm__roundedButtonOn--2ZM9a, .app-components-FlightCheckinForm-flightCheckinForm__roundedButtonPrimary--2FZIO { border-radius: 100px; height: 35px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__roundedButtonPrimary--2FZIO { color: rgb(153, 153, 153); border: 2px solid rgb(211, 211, 211); }

@media (min-width: 1184px) {
  .app-components-FlightCheckinForm-flightCheckinForm__roundedButtonPrimary--2FZIO { border: 1px solid rgb(211, 211, 211); }
}

.app-components-FlightCheckinForm-flightCheckinForm__roundedButtonPrimary--2FZIO:hover { color: rgb(102, 102, 102); border: 2px solid rgb(102, 102, 102); }

@media (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__roundedButtonPrimary--2FZIO:hover { border: 1px solid rgb(102, 102, 102); }
}

.app-components-FlightCheckinForm-flightCheckinForm__roundedButtonOn--2ZM9a { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); }

.app-components-FlightCheckinForm-flightCheckinForm__alert--35tQA, .app-components-FlightCheckinForm-flightCheckinForm__highLevelAlert--2bcir, .app-components-FlightCheckinForm-flightCheckinForm__lowLevelAlert--3Qe2t { border-radius: 3px; height: 60px; width: 100%; font-size: 16px; line-height: 18px; letter-spacing: 0px; padding-left: 55px; padding-top: 20px; }

.app-components-FlightCheckinForm-flightCheckinForm__lowLevelAlert--3Qe2t { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }

.app-components-FlightCheckinForm-flightCheckinForm__highLevelAlert--2bcir { background-color: rgb(213, 0, 50); color: rgb(255, 255, 255); }

.app-components-FlightCheckinForm-flightCheckinForm__alertTriangle--1GRtu, .app-components-FlightCheckinForm-flightCheckinForm__low-alert-triangle--iIr7k, .app-components-FlightCheckinForm-flightCheckinForm__highAlertTriangle--24nJ- { padding-left: 48px; height: 19.96px; width: 22.01px; content: "!"; }

.app-components-FlightCheckinForm-flightCheckinForm__highAlertTriangle--24nJ- { color: rgb(255, 255, 255); }

.app-components-FlightCheckinForm-flightCheckinForm__low-alert-triangle--iIr7k { color: rgb(102, 102, 102); }

.app-components-FlightCheckinForm-flightCheckinForm__dropdown--2q-Rn { width: 100%; height: 100%; border: 1px solid rgb(229, 229, 229); }

@media (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__dropdown--2q-Rn { border-radius: 3px; border: 1px solid rgb(200, 200, 200); box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__dropdownContent--3p9sI { font-size: 32px; line-height: 72px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-components-FlightCheckinForm-flightCheckinForm__dropdownContent--3p9sI:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

@media (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__dropdownContent--3p9sI { font-size: 10px; line-height: 40px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__dropdownExpand--3WQ6F { font-size: 24px; line-height: 44px; color: rgb(0, 34, 68); letter-spacing: 0px; }

@media (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__dropdownExpand--3WQ6F { font-size: 12px; line-height: 22px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__simpleDropdownDefault--1a08y, .app-components-FlightCheckinForm-flightCheckinForm__simpleDropdownOnBackground--12ZC6 { border: 1px solid rgb(148, 148, 148); border-radius: 4px; font-size: 28px; color: rgb(51, 51, 51); letter-spacing: 0px; line-height: 24px; }

@media (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__simpleDropdownDefault--1a08y, .app-components-FlightCheckinForm-flightCheckinForm__simpleDropdownOnBackground--12ZC6 { font-size: 16px; color: rgb(0, 34, 68); border: none; }
  .app-components-FlightCheckinForm-flightCheckinForm__simpleDropdownDefault--1a08y:hover, .app-components-FlightCheckinForm-flightCheckinForm__simpleDropdownOnBackground--12ZC6:hover { color: rgb(33, 114, 186); }
}

.app-components-FlightCheckinForm-flightCheckinForm__simpleDropdownOnBackground--12ZC6 { opacity: 0.5; border: 1px solid rgb(255, 255, 255); border-radius: 6px; color: rgb(255, 255, 255); }

.app-components-FlightCheckinForm-flightCheckinForm__simpleDropdownActive--3mhrs { font-size: 16px; line-height: 40px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-components-FlightCheckinForm-flightCheckinForm__simpleDropdownActive--3mhrs:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

.app-components-FlightCheckinForm-flightCheckinForm__simpleDropdownActive--3mhrs:checked { color: rgb(0, 34, 68); }

.app-components-FlightCheckinForm-flightCheckinForm__checkboxWrapper--1blNP { position: relative; }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked), .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked), .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked { position: absolute; left: 0px; top: -1px; opacity: 0; }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked) + label, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked + label, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked) + label, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked + label { position: relative; cursor: pointer; font-size: 14px; }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked) + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked) + label::after, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked + label::after, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked) + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked) + label::after, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked + label::after { position: absolute; left: 0px; top: -1px; }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked) + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked) + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked + label::before { content: ""; border: 2px solid rgb(0, 57, 100); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px inset; }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked) + label::after, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked + label::after, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked) + label::after, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked + label::after { content: ""; display: block; border-style: solid; border-color: rgb(255, 255, 255); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(45deg); position: absolute; text-align: center; }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked), .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:disabled) + label::after, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked), .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:disabled) + label::after { opacity: 0; border-color: rgb(0, 34, 68); }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked + label::after, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked + label::after { opacity: 1; border-color: rgb(255, 255, 255); }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked + label::before { background: rgb(0, 34, 68); }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked) + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked) + label::before { background: rgb(255, 255, 255); }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:disabled:not(:checked) + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:disabled:checked + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:disabled:not(:checked) + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:disabled:checked + label::before { box-shadow: none; border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:disabled:checked + label::after, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:disabled:checked + label::after { color: rgb(153, 153, 153); }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:disabled + label, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:disabled + label { color: rgb(170, 170, 170); }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked:focus + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked):focus + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked:focus + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked):focus + label::before { outline: dotted 1px; }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked) + label, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked + label { padding-left: 32px; line-height: 24px; }

@media screen and (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked) + label, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked + label { padding-left: 26px; line-height: 18px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked) + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked + label::before { width: 24px; height: 24px; }

@media screen and (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked) + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked + label::before { width: 20px; height: 20px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked) + label::after, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked + label::after { font-size: 14px; top: 5px; left: 9px; width: 5px; height: 11px; }

@media screen and (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:not(:checked) + label::after, .app-components-FlightCheckinForm-flightCheckinForm__customCheckbox--KzTkT:checked + label::after { left: 8px; top: 3px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked) + label, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked + label { padding-left: 25px; font-size: 12px; line-height: 15px; }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked) + label::before, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked + label::before { width: 15px; height: 15px; }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked) + label::after, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked + label::after { font-size: 10px; left: 6px; top: 2px; width: 4px; height: 9px; }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked) + label:hover, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked) + label:focus, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked + label:hover, .app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked + label:focus { color: rgb(0, 34, 68); }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:not(:checked) + label { color: rgb(137, 137, 137); }

.app-components-FlightCheckinForm-flightCheckinForm__customCheckboxSm--3VYuY:checked + label { color: rgb(0, 34, 68); }

.app-components-FlightCheckinForm-flightCheckinForm__whiteAndBlackCustomCheckBox--3BJ6M:checked + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-components-FlightCheckinForm-flightCheckinForm__whiteAndBlackCustomCheckBox--3BJ6M:not(:checked) + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-components-FlightCheckinForm-flightCheckinForm__whiteAndBlackCustomCheckBox--3BJ6M:checked + label::after { border-color: rgb(0, 0, 0); top: 5px; left: 10px; }

@media screen and (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__whiteAndBlackCustomCheckBox--3BJ6M:checked + label::after { top: 3px; left: 8px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__questionMarkToolTip--xlNtX::before { content: "?"; display: inline-block; vertical-align: top; text-align: center; font-weight: bold; width: 24px; height: 24px; font-size: 14px; line-height: 1.4; margin-top: 0px; margin-left: 8px; border: 1px solid rgb(255, 255, 255); border-radius: 50%; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); }

@media screen and (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__questionMarkToolTip--xlNtX::before { line-height: 1.3; margin-top: 4px; width: 16px; height: 16px; font-size: 10px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__floatingLabel--TjuvS { font-size: 12px; color: rgb(102, 102, 102); line-height: 13px; }

.app-components-FlightCheckinForm-flightCheckinForm__formLink--3fHa3 { font-size: 16px; text-decoration: underline; }

.app-components-FlightCheckinForm-flightCheckinForm__formLink--3fHa3:hover { outline: rgb(33, 114, 186) dotted 1px; color: rgb(35, 82, 124); }

.app-components-FlightCheckinForm-flightCheckinForm__fieldErrorMessage--3z3bk { position: absolute; bottom: 0px; color: rgb(213, 0, 50); letter-spacing: 0px; font-size: 13px; line-height: 1.5; text-align: center; }

@media screen and (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__fieldErrorMessage--3z3bk { font-size: 11px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__homepageTextField---Tvbk { line-height: 1; }

.app-components-FlightCheckinForm-flightCheckinForm__homepageTextField---Tvbk label { color: rgb(0, 34, 68); text-transform: none; font-weight: bold; font-size: 12px; letter-spacing: 1px; margin-bottom: -1px; }

.app-components-FlightCheckinForm-flightCheckinForm__homepageTextField---Tvbk input { transition: color 0.4s ease 0s; color: rgb(0, 34, 68); height: 46px; }

.app-components-FlightCheckinForm-flightCheckinForm__homepageTextField---Tvbk input::-webkit-input-placeholder { text-transform: none; font-style: normal; font-weight: normal; }

.app-components-FlightCheckinForm-flightCheckinForm__homepageTextField---Tvbk:focus { color: rgb(33, 114, 186); border-color: rgb(33, 114, 186); }

.app-components-FlightCheckinForm-flightCheckinForm__homepageTextField---Tvbk:focus > label { color: rgb(33, 114, 186); }

.app-components-FlightCheckinForm-flightCheckinForm__homepageTextField---Tvbk .atm-c-field-note.atm-c-textfield__note { position: absolute; margin: 0px; bottom: -24px; }

.app-components-FlightCheckinForm-flightCheckinForm__homepageTextField---Tvbk .atm-c-field-note.atm-c-textfield__note svg { display: none; }

.app-components-FlightCheckinForm-flightCheckinForm__bookCheckinForm--30PN_ { }

@supports (display: grid) {
  .app-components-FlightCheckinForm-flightCheckinForm__bookCheckinForm--30PN_ { display: grid; grid-template-columns: repeat(12, 1fr); }
}

.app-components-FlightCheckinForm-flightCheckinForm__checkinHeader--14nzi { font-size: 24px; margin-bottom: 38px; margin-top: 4px; font-weight: normal; }

@supports (display: grid) {
  .app-components-FlightCheckinForm-flightCheckinForm__checkinHeader--14nzi { grid-area: 1 / 1 / 2 / 13; }
}

@media screen and (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__checkinHeader--14nzi { margin: 24px 0px; font-size: 24px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__confirmationNumberField--2Jst- { margin-bottom: 35px; }

@supports (display: grid) {
  .app-components-FlightCheckinForm-flightCheckinForm__confirmationNumberField--2Jst- { grid-area: 2 / 1 / 3 / 13; }
}

@media screen and (min-width: 720px) and (max-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__confirmationNumberField--2Jst- input[type="text"] { top: 0px; }
}

@media screen and (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__confirmationNumberField--2Jst- { margin-bottom: 27px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__lastNameField--38fQ- { margin-bottom: 40px; }

@supports (display: grid) {
  .app-components-FlightCheckinForm-flightCheckinForm__lastNameField--38fQ- { grid-area: 3 / 1 / 4 / 13; }
}

@media screen and (min-width: 720px) and (max-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__lastNameField--38fQ- input[type="text"] { top: 0px; }
}

@media screen and (min-width: 1184px) {
  .app-components-FlightCheckinForm-flightCheckinForm__lastNameField--38fQ- { margin-bottom: 59px; }
}

.app-components-FlightCheckinForm-flightCheckinForm__checkinWithMPlinkContainer--1l8YL { margin-bottom: 24px; margin-top: 32px; }

@supports (display: grid) {
  .app-components-FlightCheckinForm-flightCheckinForm__checkinWithMPlinkContainer--1l8YL { grid-area: 5 / 1 / 6 / 13; }
}

@media screen and (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__checkinWithMPlinkContainer--1l8YL { margin-top: auto; margin-right: 8px; }
  @supports (display: grid) {
  .app-components-FlightCheckinForm-flightCheckinForm__checkinWithMPlinkContainer--1l8YL { grid-area: 4 / 1 / 5 / 7; }
}
}

.app-components-FlightCheckinForm-flightCheckinForm__checkinWithMPlink--2yTPY { text-decoration: none; font-size: 14px; transition: color 0.4s ease 0s; color: rgb(33, 114, 186); text-align: left; }

.app-components-FlightCheckinForm-flightCheckinForm__checkinWithMPlink--2yTPY:hover, .app-components-FlightCheckinForm-flightCheckinForm__checkinWithMPlink--2yTPY:focus { text-decoration: underline; }

.app-components-FlightCheckinForm-flightCheckinForm__checkinWithMPlink--2yTPY::after { content: ""; display: inline-block; margin-left: 4px; border-style: solid; border-color: rgb(33, 114, 186); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(315deg); width: 8px; height: 8px; transition: border-color 0.4s ease 0s; }

.app-components-FlightCheckinForm-flightCheckinForm__submitCheckinBtnContainer--2tOl2 { }

@supports (display: grid) {
  .app-components-FlightCheckinForm-flightCheckinForm__submitCheckinBtnContainer--2tOl2 { grid-area: 4 / 1 / 5 / 13; }
}

@media screen and (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__submitCheckinBtnContainer--2tOl2 { margin-left: 8px; }
  @supports (display: grid) {
  .app-components-FlightCheckinForm-flightCheckinForm__submitCheckinBtnContainer--2tOl2 { grid-area: 4 / 7 / 5 / 13; }
}
}

.app-components-FlightCheckinForm-flightCheckinForm__submitCheckinBtn--3xMfM { background-color: rgb(98, 68, 187); border-color: rgb(116, 90, 196); border-radius: 4px; }

.app-components-FlightCheckinForm-flightCheckinForm__submitCheckinBtn--3xMfM:hover, .app-components-FlightCheckinForm-flightCheckinForm__submitCheckinBtn--3xMfM:focus { background-color: rgb(65, 45, 125); border-color: rgb(65, 45, 125); box-shadow: none; }

.app-components-FlightCheckinForm-flightCheckinForm__submitCheckinBtn--3xMfM:hover { margin-bottom: auto; }

@media screen and (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__submitCheckinBtn--3xMfM { margin-bottom: 0px; width: 248px; height: 45px; }
}

@media (min-width: 944px) and (max-width: 1184px) {
  .app-components-FlightCheckinForm-flightCheckinForm__submitCheckinBtn--3xMfM { width: 100%; }
}

.app-components-FlightCheckinForm-flightCheckinForm__checkinDetails--2tuPM { font-size: 12px; color: rgb(51, 51, 51); }

@supports (display: grid) {
  .app-components-FlightCheckinForm-flightCheckinForm__checkinDetails--2tuPM { grid-area: 6 / 1 / 7 / 13; }
}

@media screen and (min-width: 944px) {
  .app-components-FlightCheckinForm-flightCheckinForm__checkinDetails--2tuPM { }
  @supports (display: grid) {
  .app-components-FlightCheckinForm-flightCheckinForm__checkinDetails--2tuPM { grid-area: 5 / 1 / 6 / 13; }
}
}

.app-components-FlightCheckinForm-flightCheckinForm__checkinDetailsLink--3ld1Q { font-size: 12px; color: rgb(51, 51, 51); text-decoration: underline; }

.app-components-FlightCheckinForm-flightCheckinForm__checkinDetailsLink--3ld1Q:hover, .app-components-FlightCheckinForm-flightCheckinForm__checkinDetailsLink--3ld1Q:focus { text-decoration: none; }
