@charset "utf-8";

.atm-c-flight-block { padding: 1rem; border-radius: 4px; }

.atm-c-flight-block--condensed { display: block; }

.atm-c-flight-block--bare { border: 0px; padding: 0px; }

.atm-c-flight-block__core + .atm-c-flight-block__secondary { margin-top: 2rem; }

.atm-c-flight-block__header { display: flex; -webkit-box-align: start; align-items: flex-start; margin-bottom: 1rem; width: 100%; }

.atm-c-flight-block--condensed .atm-c-flight-block__header { margin-bottom: 0.5rem; }

.atm-c-flight-block__footer { display: flex; -webkit-box-align: start; align-items: flex-start; margin-top: 1rem; width: 100%; }

.atm-c-flight-block--condensed .atm-c-flight-block__footer { margin-top: 0.5rem; }

.atm-c-flight-block__header-left, .atm-c-flight-block__footer-left { margin-right: 1rem; }

.atm-c-flight-block__header-right, .atm-c-flight-block__footer-right { margin-left: auto; }

.atm-c-flight-block__extras { margin-top: 2rem; }

.atm-c-flight-block__header-date { font-size: 1rem; line-height: 1.5; font-weight: 600; margin: 0px; }

.atm-c-flight-block__header-flight-number { font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; }

.atm-c-flight-block__header-flight-equipment { font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; color: rgb(148, 148, 148); }

.atm-c-flight-block__header-flight-equipment::before { content: ", "; color: rgb(0, 0, 0); font-size: 1rem; font-weight: 400; line-height: 1.5; margin-bottom: 0px; }

.atm-c-flight-block__badge { margin-left: auto; }

.atm-c-flight-block__leg { display: grid; grid-template-columns: minmax(80px, 120px) 1fr minmax(80px, 120px); }

.atm-c-flight-block__depart-block { display: block; }

.atm-c-flight-block__depart-header-kicker { display: inline-block; font-size: 1rem; font-weight: 400; line-height: 1.5; margin-bottom: 0px; }

.atm-c-flight-block--error .atm-c-flight-block__depart-header-kicker { color: rgb(213, 0, 50); }

.atm-c-flight-block--emphasize-time .atm-c-flight-block__depart-header-kicker { font-size: 2.5rem; font-weight: 300; line-height: 1.2; margin-bottom: 0px; }

@media screen and (max-width: 47em) {
  .atm-c-flight-block--emphasize-time .atm-c-flight-block__depart-header-kicker { font-size: 2rem; line-height: 1.25; }
}

.atm-c-flight-block--condensed.atm-c-flight-block--emphasize-time .atm-c-flight-block__depart-header-kicker { font-size: 1.5rem; font-weight: 300; line-height: 1.33333; margin-bottom: 0px; }

.atm-c-flight-block__depart-description, .atm-c-flight-block__arrive-description { word-break: break-word; }

.atm-c-flight-block__depart-header-description { display: block; font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; }

.atm-c-flight-block__arrive-block { display: block; }

.atm-c-flight-block__arrive-header { grid-column: 3 / span 2; text-align: right; }

.atm-c-flight-block__arrive-header-kicker { display: inline-block; font-size: 1rem; font-weight: 400; line-height: 1.5; margin-bottom: 0px; }

.atm-c-flight-block--error .atm-c-flight-block__arrive-header-kicker { color: rgb(213, 0, 50); }

.atm-c-flight-block--emphasize-time .atm-c-flight-block__arrive-header-kicker { font-size: 2.5rem; font-weight: 300; line-height: 1.2; margin-bottom: 0px; }

@media screen and (max-width: 47em) {
  .atm-c-flight-block--emphasize-time .atm-c-flight-block__arrive-header-kicker { font-size: 2rem; line-height: 1.25; }
}

.atm-c-flight-block--condensed.atm-c-flight-block--emphasize-time .atm-c-flight-block__arrive-header-kicker { font-size: 1.5rem; font-weight: 300; line-height: 1.33333; margin-bottom: 0px; }

.atm-c-flight-block__arrive-header-description { display: block; font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; }

.atm-c-flight-block__depart-title { font-size: 2.5rem; font-weight: 300; line-height: 1.2; margin-bottom: 0px; }

@media screen and (max-width: 47em) {
  .atm-c-flight-block__depart-title { font-size: 2rem; line-height: 1.25; }
}

.atm-c-flight-block--small .atm-c-flight-block__depart-title { font-size: 1.5rem; font-weight: 300; line-height: 1.33333; margin-bottom: 0px; }

.atm-c-flight-block--emphasize-time .atm-c-flight-block__depart-title { font-size: 1rem; font-weight: 400; line-height: 1.5; margin-bottom: 0px; align-self: center; }

.atm-c-flight-block--condensed .atm-c-flight-block__depart-title { align-self: center; font-size: 1rem; font-weight: 400; line-height: 1.5; margin-bottom: 0px; }

.atm-c-flight-block--condensed.atm-c-flight-block--emphasize-location .atm-c-flight-block__depart-title { align-self: initial; font-size: 1.5rem; font-weight: 300; line-height: 1.33333; margin-bottom: 0px; }

.atm-c-flight-block__arrive-title { font-size: 2.5rem; font-weight: 300; line-height: 1.2; margin-bottom: 0px; text-align: right; }

@media screen and (max-width: 47em) {
  .atm-c-flight-block__arrive-title { font-size: 2rem; line-height: 1.25; }
}

.atm-c-flight-block--small .atm-c-flight-block__arrive-title { font-size: 1.5rem; font-weight: 300; line-height: 1.33333; margin-bottom: 0px; }

.atm-c-flight-block--emphasize-time .atm-c-flight-block__arrive-title { font-size: 1rem; font-weight: 400; line-height: 1.5; margin-bottom: 0px; align-self: center; }

.atm-c-flight-block--condensed .atm-c-flight-block__arrive-title { align-self: center; font-size: 1rem; font-weight: 400; line-height: 1.5; margin-bottom: 0px; }

.atm-c-flight-block--condensed.atm-c-flight-block--emphasize-location .atm-c-flight-block__arrive-title { align-self: initial; font-size: 1.5rem; font-weight: 300; line-height: 1.33333; margin-bottom: 0px; }

.atm-c-flight-block__divider { padding: 0px 1rem; -webkit-box-align: center; align-items: center; }

.atm-c-flight-block__depart-terminal { display: block; font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; }

.atm-c-flight-block__arrive-description { text-align: right; }

.atm-c-flight-block__arrive-terminal { display: block; font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; }

.atm-c-flight-block__meta-heading { font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; text-transform: uppercase; letter-spacing: 1px; color: gray; }

.atm-c-flight-block__arrive-icon, .atm-c-flight-block__depart-icon { display: inline-block; position: relative; top: 1px; margin-right: 0.25rem; }

.atm-c-flight-block--warning .atm-c-flight-block__arrive-icon, .atm-c-flight-block--warning .atm-c-flight-block__depart-icon { fill: rgb(255, 198, 88); }

.atm-c-flight-block--error .atm-c-flight-block__arrive-icon, .atm-c-flight-block--error .atm-c-flight-block__depart-icon { fill: rgb(213, 0, 50); }

.atm-c-flight-block__arrive-alert { -webkit-box-pack: end; justify-content: flex-end; }

.atm-c-flight-block__location--hidden { position: absolute !important; overflow: hidden !important; width: 1px !important; height: 1px !important; padding: 0px !important; border: 0px !important; clip: rect(1px, 1px, 1px, 1px) !important; }

@media (min-width: 60em) {
  .atm-c-flight-block { display: grid; grid-auto-columns: 3fr 2fr; column-gap: 4rem; }
  .atm-c-flight-block__core { grid-column: 1 / auto; width: 100%; }
  .atm-c-flight-block__core + .atm-c-flight-block__secondary { margin-top: 2rem; width: 100%; margin-left: 0px; }
  .atm-c-flight-block__extras { grid-area: 2 / 1 / auto / 2; margin-right: 4rem; }
  .atm-c-flight-block__top { display: flex; }
  .atm-c-flight-block__left { margin-right: 4rem; width: 55%; }
  .atm-c-flight-block__right { margin-left: auto; -webkit-box-flex: 1; flex: 1 1 0%; }
}

@media (min-width: 47em) {
  .atm-c-flight-block__header-left, .atm-c-flight-block__footer-left { margin-right: 2rem; }
}

@media (min-width: 28em) {
  .atm-c-flight-block__leg { grid-template-columns: auto 1fr auto; }
}

@media (max-width: 28em) {
  .atm-c-flight-block__depart-header-kicker, .atm-c-flight-block__arrive-header-kicker { white-space: nowrap; display: inline; }
  .atm-c-flight-block--emphasize-time .atm-c-flight-block__depart-header-kicker, .atm-c-flight-block--emphasize-time .atm-c-flight-block__arrive-header-kicker { font-size: 1.2rem; }
  .atm-c-flight-block--condensed.atm-c-flight-block--emphasize-time .atm-c-flight-block__depart-header-kicker, .atm-c-flight-block--condensed.atm-c-flight-block--emphasize-time .atm-c-flight-block__arrive-header-kicker { font-size: 1.2rem; }
  .atm-c-flight-block__depart-icon-kicker, .atm-c-flight-block__arrive-icon-kicker { display: inline-flex; -webkit-box-align: center; align-items: center; }
  .atm-c-flight-block__depart-icon-kicker span, .atm-c-flight-block__arrive-icon-kicker span { width: 80%; }
}
