@charset "utf-8";

.atm-c-mileage-plus-balance-summary__box { display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; }

.atm-c-mileage-plus-balance-summary--small-layout .atm-c-mileage-plus-balance-summary__box, .atm-c-mileage-plus-balance-summary--medium-layout .atm-c-mileage-plus-balance-summary__box, .atm-c-mileage-plus-balance-summary--large-layout .atm-c-mileage-plus-balance-summary__box { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }

.atm-c-mileage-plus-balance-summary__header { display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; margin-right: 4rem; }

.atm-c-mileage-plus-balance-summary--small-layout .atm-c-mileage-plus-balance-summary__header, .atm-c-mileage-plus-balance-summary--medium-layout .atm-c-mileage-plus-balance-summary__header { margin-right: 0px; margin-bottom: 1rem; }

.atm-c-mileage-plus-balance-summary--small-layout .atm-c-mileage-plus-balance-summary__header { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; flex-direction: row-reverse; -webkit-box-pack: justify; justify-content: space-between; border-bottom: 1px solid rgb(204, 204, 204); padding-bottom: 1.5rem; }

.atm-c-mileage-plus-balance-summary__header-icon-badge { margin-right: 1rem; margin-left: -0.5rem; }

.atm-c-mileage-plus-balance-summary--small-layout .atm-c-mileage-plus-balance-summary__header-icon-badge { margin-right: 0px; margin-left: 0px; }

.atm-c-mileage-plus-balance-summary__header-icon { width: 6rem; height: 6rem; }

.atm-c-mileage-plus-balance-summary--small-layout .atm-c-mileage-plus-balance-summary__header-icon, .atm-c-mileage-plus-balance-summary--medium-layout .atm-c-mileage-plus-balance-summary__header-icon { width: 4rem; height: 4rem; }

.atm-c-mileage-plus-balance-summary--premier-gold .atm-c-mileage-plus-balance-summary__header-icon { fill: rgb(159, 125, 35); }

.atm-c-mileage-plus-balance-summary--premier-silver .atm-c-mileage-plus-balance-summary__header-icon { fill: rgb(193, 198, 200); }

.atm-c-mileage-plus-balance-summary--premier-platinum .atm-c-mileage-plus-balance-summary__header-icon { fill: rgb(124, 135, 142); }

.atm-c-mileage-plus-balance-summary--premier-1k .atm-c-mileage-plus-balance-summary__header-icon { fill: rgb(212, 212, 208); }

.atm-c-mileage-plus-balance-summary--global-services .atm-c-mileage-plus-balance-summary__header-icon { fill: rgb(37, 40, 42); }

.atm-c-mileage-plus-balance-summary__header-status-letter { font-size: 2.5rem; font-weight: 600; line-height: 1; position: absolute; width: 6rem; height: 5.5rem; display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; }

.atm-c-mileage-plus-balance-summary--small-layout .atm-c-mileage-plus-balance-summary__header-status-letter, .atm-c-mileage-plus-balance-summary--medium-layout .atm-c-mileage-plus-balance-summary__header-status-letter { width: 4rem; height: 3.5rem; font-size: 1.5rem; }

.atm-c-mileage-plus-balance-summary--global-services .atm-c-mileage-plus-balance-summary__header-status-letter { color: rgb(255, 255, 255); }

.atm-c-mileage-plus-balance-summary__text-link-button { -webkit-box-pack: start; justify-content: flex-start; }

.atm-c-mileage-plus-balance-summary__list { list-style: none; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; margin: 0px; padding: 0px; -webkit-box-pack: start; justify-content: flex-start; }

.atm-c-mileage-plus-balance-summary--small-layout .atm-c-mileage-plus-balance-summary__list { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }

.atm-c-mileage-plus-balance-summary--medium-layout .atm-c-mileage-plus-balance-summary__list { flex-wrap: wrap; }

.atm-c-mileage-plus-balance-summary--large-layout .atm-c-mileage-plus-balance-summary__list { margin-top: 2rem; }

.atm-c-mileage-plus-balance-summary__list-item { margin: 0px 1rem; padding-left: 2rem; border-left: 1px solid rgb(204, 204, 204); display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-box-pack: justify; justify-content: space-between; }

.atm-c-mileage-plus-balance-summary--small-layout .atm-c-mileage-plus-balance-summary__list-item { margin: 0px 0px 1rem; padding: 0px 0px 1rem; border-left: none; border-bottom: 1px solid rgb(204, 204, 204); height: 100%; }

.atm-c-mileage-plus-balance-summary--medium-layout .atm-c-mileage-plus-balance-summary__list-item { width: 50%; margin: 0px; }

.atm-c-mileage-plus-balance-summary__list-item:first-child { margin-left: 0px; padding-left: 0px; border-left: 0px; }

.atm-c-mileage-plus-balance-summary--medium-layout .atm-c-mileage-plus-balance-summary__list-item:nth-child(3n) { margin-left: 0px; padding-left: 0px; border-left: none; }

.atm-c-mileage-plus-balance-summary--medium-layout .atm-c-mileage-plus-balance-summary__list-item:nth-child(n), .atm-c-mileage-plus-balance-summary--medium-layout .atm-c-mileage-plus-balance-summary__list-item:nth-child(2n) { padding-bottom: 2rem; }

.atm-c-mileage-plus-balance-summary--medium-layout .atm-c-mileage-plus-balance-summary__list-item:nth-child(3n), .atm-c-mileage-plus-balance-summary--medium-layout .atm-c-mileage-plus-balance-summary__list-item:nth-child(4n) { border-top: 1px solid rgb(204, 204, 204); padding-top: 2rem; }

.atm-c-mileage-plus-balance-summary--small-layout .atm-c-mileage-plus-balance-summary__list-item:last-child { border-bottom: none; margin-bottom: 0px; padding-bottom: 0px; }
