@charset "utf-8";

.atm-c-footer { margin-top: 4rem; padding: 1rem; min-height: 800px; color: rgb(255, 255, 255); background: rgb(0, 34, 68); display: flex; -webkit-box-pack: center; justify-content: center; }
