@charset "utf-8";

.app-components-Seatmap-Seat-Seat__seat--15olI { display: block; }

.app-components-Seatmap-Seat-Seat__seat__button--1iIQe { background: rgba(0, 0, 0, 0); border: none; display: block; margin: 0px auto; padding: 0px; width: 100%; outline: 0px; }

.app-components-Seatmap-Seat-Seat__seat__button__interactive--1AfU-:active { outline: -webkit-focus-ring-color auto 1px; }

.app-components-Seatmap-Seat-Seat__seat__button--1iIQe:disabled { background: rgba(0, 0, 0, 0); cursor: default; }

.app-components-Seatmap-Seat-Seat__seat__aria-label--2dIgn { height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); position: absolute !important; }
