@charset "utf-8";

.atm-c-sliding-panels__header { padding-top: 1.5rem; padding-left: 2rem; padding-right: 2rem; margin-bottom: 1rem; }

.atm-c-sliding-panels__body { padding-left: 2rem; padding-right: 2rem; }

.atm-c-sliding-panels__footer { padding-left: 2rem; padding-right: 2rem; margin-top: 1rem; }

.atm-c-sliding-panels__list { display: flex; }

.atm-c-sliding-panels__panel { visibility: hidden; position: fixed; transform: translateX(30rem); width: 100%; opacity: 0; transition: opacity 0s ease-out 0s, transform 0s ease-out 0s, -webkit-transform 0s ease-out 0s; }

.atm-c-sliding-panels__panel:first-child { transform: translateX(-30rem); }

.atm-c-sliding-panels__panel:first-child.atm-is-active { visibility: visible; display: block; position: static; transform: translateX(0px); opacity: 1; transition: transform 0.3s ease-out 0s, opacity 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s; }

.atm-c-sliding-panels__panel.atm-is-active { visibility: visible; display: block; position: static; transform: translateX(0px); opacity: 1; transition: transform 0.3s ease-out 0s, opacity 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s; }
