@charset "utf-8";

.atm-c-primary-nav { display: none; }

@media (min-width: 70em) {
  .atm-c-primary-nav { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: end; justify-content: flex-end; }
  .atm-c-header .atm-c-primary-nav { grid-area: 2 / 4 / auto / 13; }
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .atm-c-primary-nav { margin-left: auto; }
}

.atm-c-primary-nav__list { margin: 0px; padding: 0px; display: flex; list-style: none; z-index: 2; }

.atm-c-primary-nav__item { margin-left: 2rem; }

.atm-c-primary-nav__item:first-child { margin-left: 0px; }

.atm-c-primary-nav__link { display: flex; padding-top: 0.5rem; padding-bottom: 1rem; color: rgb(255, 255, 255); font-size: 0.875rem; line-height: 1.71429; letter-spacing: 0.0625rem; text-transform: uppercase; font-weight: 600; z-index: 2; position: relative; }

.atm-c-primary-nav__link::after { content: ""; width: 100%; height: 0.25rem; position: absolute; bottom: -0.125rem; left: 0px; background: rgb(255, 255, 255); opacity: 0; transform: scaleY(0) translateY(0.5rem); transition: transform 0.15s ease 0s, opacity 0.4s ease 0s, -webkit-transform 0.15s ease 0s; }

.atm-c-primary-nav__link:hover::after, .atm-c-primary-nav__link:focus::after { transform: scaleY(1) translateY(0px); opacity: 1; }

.atm-c-primary-nav__link:focus { outline: rgb(179, 165, 223) solid 4px; }

.atm-primary-nav__item.atm-is-active .atm-c-primary-nav__link::after { transform: scaleY(1) translateY(0px); opacity: 1; }

.atm-c-primary-nav__icon { position: relative; height: 0.5rem; width: 0.5rem; top: 0.5rem; fill: rgb(255, 255, 255); transition: transform 0.15s ease-out 0s, -webkit-transform 0.15s ease-out 0s; }

.atm-c-primary-nav__item.atm-is-active .atm-c-primary-nav__icon { transform: rotate(-180deg); }

.atm-c-primary-nav__text + .atm-c-primary-nav__icon { margin-left: 0.5rem; }
