@charset "utf-8";

.atm-c-calendar { margin-bottom: 1rem; }

.atm-c-calendar__title-header { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; margin-bottom: 1rem; }

.atm-c-calendar--progress .atm-c-calendar__title-header { position: sticky; top: 0px; background: rgb(255, 255, 255); z-index: 2; }

@media (min-width: 47em) {
  .atm-c-calendar--progress .atm-c-calendar__title-header { position: static; }
}

.atm-c-calendar__btn + .atm-c-calendar__title { margin-left: 1rem; }

.atm-c-calendar__title + .atm-c-calendar__btn { margin-left: 1rem; }

.atm-c-calendar--matrix .atm-c-calendar__container { overflow: auto hidden; background: linear-gradient(to right, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0)) 0% 0% / 40px 100% no-repeat local, linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 70%) right center / 40px 100% local, linear-gradient(to right, rgba(0, 0, 0, 0.2) 0px, transparent 70%) 0% 0% / 14px 100% scroll, linear-gradient(to left, rgba(0, 0, 0, 0.2) 0px, transparent 70%) right center / 14px 100% scroll; }

.atm-c-calendar__table { border-collapse: collapse; border-spacing: 0px; width: 100%; height: 100%; }

.atm-c-calendar--list .atm-c-calendar__table { display: block; }

@media (min-width: 47em) {
  .atm-c-calendar--list .atm-c-calendar__table { display: table; }
}

.atm-c-calendar--matrix .atm-c-calendar__table { position: relative; min-width: 600px; }

.atm-c-calendar__caption { font-size: 0.75rem; font-weight: 300; line-height: 1.66667; text-align: left; margin-bottom: 0.5rem; }

.atm-c-calendar--progress .atm-c-calendar__caption, .atm-c-calendar--list .atm-c-calendar__caption { display: block; }

@media (min-width: 47em) {
  .atm-c-calendar--progress .atm-c-calendar__caption, .atm-c-calendar--list .atm-c-calendar__caption { display: table-caption; }
}

.atm-c-calendar__title { font-size: 1.25rem; line-height: 1.6; font-weight: 600; margin: 0px; padding: 0px; display: block; text-align: center; }

@media screen and (max-width: 47em) {
  .atm-c-calendar__title { font-size: 1rem; line-height: 1.5; }
}

.atm-c-calendar--list .atm-c-calendar__header, .atm-c-calendar--progress .atm-c-calendar__header { display: none; }

@media (min-width: 47em) {
  .atm-c-calendar--list .atm-c-calendar__header, .atm-c-calendar--progress .atm-c-calendar__header { display: table-header-group; }
}

.atm-c-calendar--list .atm-c-calendar__body, .atm-c-calendar--progress .atm-c-calendar__body { display: block; }

@media (min-width: 47em) {
  .atm-c-calendar--list .atm-c-calendar__body, .atm-c-calendar--progress .atm-c-calendar__body { display: table-row-group; }
}

.atm-c-calendar__row { vertical-align: top; width: 100%; }

.atm-c-calendar__row:last-child { border-bottom: 0px; }

.atm-c-calendar__header .atm-c-calendar__row { border-right: 1px solid transparent; }

.atm-c-calendar--list .atm-c-calendar__row { display: block; margin-bottom: 2rem; }

@media (min-width: 47em) {
  .atm-c-calendar--list .atm-c-calendar__row { display: table-row; margin-bottom: 0px; }
}

.atm-c-calendar--progress .atm-c-calendar__row { display: block; margin-bottom: 1rem; padding-bottom: 1rem; border-bottom: 1px dashed rgb(204, 204, 204); }

@media (min-width: 47em) {
  .atm-c-calendar--progress .atm-c-calendar__row { display: table-row; margin-bottom: 0px; border: inherit; }
}

.atm-c-calendar--matrix .atm-c-calendar__row:hover { background: rgb(242, 242, 242); }

.atm-c-calendar--matrix .atm-c-calendar__header .atm-c-calendar__row:hover { background: none; }

.atm-c-calendar__link { display: block; height: 100%; width: 100%; padding: 0.25rem 0.25rem 0.5rem; cursor: pointer; }

.atm-c-calendar__cell.atm-is-active .atm-c-calendar__link { color: rgb(255, 255, 255); }

.atm-c-calendar__cell.atm-is-active .atm-c-calendar__link:hover { background: rgb(0, 34, 68); }

.atm-c-calendar--list .atm-c-calendar__link, .atm-c-calendar--progress .atm-c-calendar__link { padding: 0.5rem; }

.atm-c-calendar--list .atm-c-calendar__link::before, .atm-c-calendar--progress .atm-c-calendar__link::before { font-size: 0.875rem; line-height: 1.71429; font-weight: 600; content: attr(data-heading); display: block; margin-bottom: 0.25rem; }

@media (min-width: 47em) {
  .atm-c-calendar--list .atm-c-calendar__link, .atm-c-calendar--progress .atm-c-calendar__link { padding: 0.25rem 0.25rem 0.5rem; }
  .atm-c-calendar--list .atm-c-calendar__link::before, .atm-c-calendar--progress .atm-c-calendar__link::before { position: absolute !important; overflow: hidden !important; width: 1px !important; height: 1px !important; padding: 0px !important; border: 0px !important; clip: rect(1px, 1px, 1px, 1px) !important; }
}

th.atm-c-calendar__cell .atm-c-calendar__link { position: static; }

.atm-c-calendar__link:hover, .atm-c-calendar__link:focus { background-color: rgb(242, 242, 242); }

.atm-c-calendar__link:focus { outline: rgb(98, 68, 187) solid 4px; }

@media (min-width: 47em) {
  .atm-c-calendar__link { padding: 0.5rem 0.5rem 1rem; }
}

.atm-c-calendar__cell { font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; position: relative; height: 100%; text-align: center; padding: 0px; border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204); transition: color 0.15s ease-out 0s, background-color 0.15s ease-out 0s; }

.atm-c-calendar__cell.atm-is-active { color: rgb(255, 255, 255); background-color: rgb(0, 34, 68); }

.atm-c-calendar__cell.atm-is-disabled { display: none; }

@media (min-width: 47em) {
  .atm-c-calendar__cell.atm-is-disabled { display: table-cell; background-color: rgb(230, 230, 230); padding: 0.25rem 0.25rem 0.5rem; }
}

.atm-c-calendar__header .atm-c-calendar__cell { width: 14.28%; border-top: none; border-right: none; border-left: none; border-bottom: 4px solid rgb(124, 135, 142); cursor: default; }

.atm-c-calendar__header .atm-c-calendar__cell:hover, .atm-c-calendar__header .atm-c-calendar__cell:focus { color: initial; background: none; }

.atm-c-calendar--list .atm-c-calendar__header .atm-c-calendar__cell, .atm-c-calendar--progress .atm-c-calendar__header .atm-c-calendar__cell { border-bottom: 4px solid rgb(124, 135, 142); }

.atm-c-calendar--list .atm-c-calendar__header .atm-c-calendar__cell:last-child, .atm-c-calendar--progress .atm-c-calendar__header .atm-c-calendar__cell:last-child { border-bottom: 4px solid rgb(124, 135, 142); }

.atm-c-calendar--matrix .atm-c-calendar__header .atm-c-calendar__cell { width: auto; }

.atm-c-calendar--matrix .atm-c-calendar__header .atm-c-calendar__cell:first-child { box-shadow: none; }

.atm-c-calendar--list .atm-c-calendar__cell { display: block; text-align: left; border-bottom: none; }

.atm-c-calendar--list .atm-c-calendar__cell:last-child { border-bottom: 1px solid rgb(204, 204, 204); }

@media (min-width: 47em) {
  .atm-c-calendar--list .atm-c-calendar__cell { display: table-cell; text-align: center; border-bottom: 1px solid rgb(204, 204, 204); }
}

.atm-c-calendar--progress .atm-c-calendar__cell { display: block; text-align: left; border: none; }

@media (min-width: 47em) {
  .atm-c-calendar--progress .atm-c-calendar__cell { display: table-cell; text-align: center; border: 1px solid rgb(204, 204, 204); }
}

.atm-c-calendar--matrix .atm-c-calendar__cell:hover::before { content: ""; position: absolute; left: 0px; bottom: 0px; height: 999999px; width: 100%; background: rgb(242, 242, 242); z-index: -1; }

.atm-c-calendar--matrix .atm-c-calendar__cell:hover::after { content: ""; position: absolute; top: 0px; left: 0px; height: 999999px; width: 100%; background: rgb(242, 242, 242); z-index: -1; }

.atm-c-calendar--matrix .atm-c-calendar__cell:first-child:hover::before { content: none; }

.atm-c-calendar--matrix .atm-c-calendar__cell:first-child:hover::after { content: none; }

@media (min-width: 47em) {
  .atm-c-calendar__cell { font-size: 1rem; font-weight: 400; line-height: 1.5; margin-bottom: 0px; }
}

th.atm-c-calendar__cell { font-size: 1rem; line-height: 1.5; margin-bottom: 0px; font-weight: 600; }

.atm-c-calendar--matrix th.atm-c-calendar__cell { border-top: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); font-size: 0.875rem; line-height: 1.71429; margin-bottom: 0px; font-weight: 600; transition: background-color 0.15s ease-out 0s; cursor: default; }

.atm-c-calendar--matrix th.atm-c-calendar__cell:hover { background-color: rgb(242, 242, 242); color: inherit; }

.atm-c-calendar--matrix th.atm-c-calendar__cell:first-child { position: sticky; left: 0px; border-bottom: 1px solid rgb(204, 204, 204); box-shadow: rgb(124, 135, 142) 4px 0px 0px 0px; background-color: rgb(255, 255, 255); background-clip: padding-box; z-index: 2; }

.atm-c-calendar--matrix th.atm-c-calendar__cell:first-child.atm-is-active { color: rgb(255, 255, 255); background-color: rgb(0, 34, 68); }

@media (min-width: 600px) {
  .atm-c-calendar--matrix th.atm-c-calendar__cell:first-child { position: inherit; box-shadow: none; }
}

@media (min-width: 47em) {
  .atm-c-calendar--matrix th.atm-c-calendar__cell { font-size: 1rem; line-height: 1.5; margin-bottom: 0px; font-weight: 600; padding: 0.25rem 0.25rem 0.5rem; }
}

.atm-c-calendar--matrix .atm-c-calendar__row:hover th.atm-c-calendar__cell { background: rgb(242, 242, 242); }

.atm-c-calendar--matrix .atm-c-calendar__row:hover th.atm-c-calendar__cell.atm-is-active { color: rgb(255, 255, 255); background-color: rgb(0, 34, 68); }

@media (min-width: 600px) {
  th.atm-c-calendar__cell + td.atm-c-calendar__cell { border-left: 4px solid rgb(124, 135, 142); }
}

.atm-c-calendar__number { font-size: 0.75rem; font-weight: 300; line-height: 1.66667; display: block; }

.atm-c-calendar--list .atm-c-calendar__number, .atm-c-calendar--progress .atm-c-calendar__number { display: none; }

@media (min-width: 47em) {
  .atm-c-calendar--list .atm-c-calendar__number, .atm-c-calendar--progress .atm-c-calendar__number { display: block; }
}

@media (min-width: 47em) {
  .atm-c-calendar__number { font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; text-align: left; }
}

.atm-c-calendar__prefix { display: block; }

@media (max-width: 47em) {
  .atm-c-calendar__prefix { position: absolute !important; overflow: hidden !important; width: 1px !important; height: 1px !important; padding: 0px !important; border: 0px !important; clip: rect(1px, 1px, 1px, 1px) !important; }
}

.atm-c-calendar__price { display: block; font-size: 0.75rem; line-height: 1.66667; color: rgb(0, 96, 128); text-decoration: underline; font-weight: normal; transition: color 0.15s ease-out 0s; }

.atm-c-calendar__price:hover { color: rgb(0, 51, 160); }

.atm-c-calendar__price:focus { outline: rgb(98, 68, 187) solid 4px; }

.atm-c-calendar__cell.atm-is-active .atm-c-calendar__price { color: rgb(255, 255, 255); }

.atm-c-calendar__cell:hover .atm-c-calendar__price { color: rgb(0, 51, 160); }

.atm-c-calendar__cell.atm-is-active:hover .atm-c-calendar__price { color: inherit; }

.atm-c-calendar--list .atm-c-calendar__price, .atm-c-calendar--progress .atm-c-calendar__price { font-size: 1.25rem; line-height: 1.6; margin-bottom: 0px; font-weight: 600; }

.atm-c-calendar--progress .atm-c-calendar__price { display: none; }

@media (min-width: 47em) {
  .atm-c-calendar--progress .atm-c-calendar__price { display: block; }
}

@media (min-width: 47em) {
  .atm-c-calendar__price { font-size: 1.25rem; line-height: 1.6; margin-bottom: 0px; font-weight: 600; }
}

.atm-c-calendar__cell-title { display: flex; -webkit-box-pack: center; justify-content: center; }

.atm-c-calendar__cell-title-icon { position: relative; top: 4px; margin-left: 0.25rem; }

.atm-c-calendar__meta { display: flex; -webkit-box-pack: center; justify-content: center; }

.atm-c-calendar__meta-icon { position: relative; top: 4px; margin-left: 0.25rem; }

.atm-c-calendar__not-available { text-align: center; color: rgb(148, 148, 148); }

@media (max-width: 47em) {
  .atm-c-calendar__not-available { visibility: hidden; height: 0px; font-size: 1px; }
  .atm-c-calendar__not-available::before { content: "N/A"; display: block; visibility: visible; font-size: 0.75rem; font-weight: 300; line-height: 1.66667; }
  .atm-c-calendar--list .atm-c-calendar__not-available, .atm-c-calendar--progress .atm-c-calendar__not-available { font-size: 1rem; font-weight: 400; line-height: 1.5; margin-bottom: 0px; text-align: left; visibility: visible; height: auto; }
  .atm-c-calendar--list .atm-c-calendar__not-available::before, .atm-c-calendar--progress .atm-c-calendar__not-available::before { content: none; }
}

.atm-c-calendar__badge { display: block; width: 100%; margin-top: 1rem; }

.atm-c-calendar--list .atm-c-calendar__badge { display: inline-block; }

@media (max-width: 47em) {
  .atm-c-calendar--list .atm-c-calendar__badge { width: auto; font-size: 0.75rem; font-weight: 300; line-height: 1.66667; }
}

.atm-c-calendar--progress .atm-c-calendar__badge { display: none; }

@media (min-width: 47em) {
  .atm-c-calendar--progress .atm-c-calendar__badge { display: block; }
}

@media (max-width: 47em) {
  .atm-c-calendar:not(.atm-c-calendar--list) .atm-c-calendar__badge { margin-top: 0.5rem; padding: 0px; background-color: transparent; color: rgb(0, 0, 0); font-size: 0.625rem; transition: color 0.15s ease-out 0s; }
}

.atm-c-calendar__cell-container { position: relative; height: 100%; }

th.atm-c-calendar__cell .atm-c-calendar__cell-container { position: static; overflow: inherit; }

@media (min-width: 47em) {
  .atm-c-calendar__progress { display: none; }
}
