@charset "utf-8";

.atm-c-icon-with-description { display: flex; }

.atm-c-icon-with-description--small { font-size: 0.75rem; font-weight: 300; line-height: 1.66667; }

.atm-c-icon-with-description__icon { position: relative; top: 3px; fill: rgb(0, 34, 68); margin-right: 1rem; }

.atm-c-icon-with-description--small .atm-c-icon-with-description__icon { top: 1px; margin-right: 0.5rem; }

.atm-c-icon-with-description__description { -webkit-box-flex: 1; flex: 1 1 0%; }
