@charset "utf-8";

.atm-c-shopping-cart-wrapper { z-index: 5; margin-bottom: 2rem; overflow: hidden; transition: height 0.15s ease-out 0s; }

.atm-c-shopping-cart { width: 100%; border-bottom: 1px solid rgb(204, 204, 204); top: 0px; left: 0px; right: 0px; z-index: 5; }

.atm-c-shopping-cart .atm-c-key-value-table__value { vertical-align: top; }

.atm-c-shopping-cart.atm-is-scrolled { transition: transform 0.4s ease-out 0s, -webkit-transform 0.4s ease-out 0s; }

.atm-c-shopping-cart.atm-is-unpinned { position: fixed; transform: translateY(-100%); }

.atm-c-shopping-cart.atm-is-pinned { position: fixed; transform: translateY(0%); }

.odometer  { position: relative; }

 .odometer.odometer-auto-theme,  .odometer.odometer-theme-default  { font-family: inherit; }

.odometer-inside { position: relative; top: -2px; }

.odometer-formatting-mark, .odometer-radix-mark  { position: relative; top: 1px; }

@media (min-width: 60em) {
  .odometer-formatting-mark, .odometer-radix-mark  { top: 2px; }
}

.odometer .odometer-inside .odometer-digit:first-child, .odometer .odometer-inside .odometer-formatting-mark:nth-child(2), .odometer .odometer-inside .odometer-digit:last-child { display: none; }

.atm-c-shopping-cart--miles .odometer .odometer-inside .odometer-digit:first-child, .atm-c-shopping-cart--miles .odometer .odometer-inside .odometer-formatting-mark:nth-child(2), .atm-c-shopping-cart--miles .odometer .odometer-inside .odometer-digit:last-child { display: inline-block; }

.atm-c-shopping-cart__top { display: flex; -webkit-box-align: center; align-items: center; position: relative; overflow: hidden; }

.atm-c-shopping-cart__title-header { display: flex; -webkit-box-align: center; align-items: center; }

@media (min-width: 47em) {
  .atm-c-shopping-cart__title-header { line-height: 4; }
}

@media (min-width: 60em) {
  .atm-c-shopping-cart__title-header { line-height: 3.5; }
}

.atm-c-shopping-cart__icon { display: inline; height: 12px; width: 12px; margin-right: 0.5rem; fill: rgb(255, 255, 255); transition: transform 0.15s ease-out 0s, -webkit-transform 0.15s ease-out 0s; }

.atm-c-shopping-cart.atm-is-active .atm-c-shopping-cart__icon { transform: rotate(90deg); }

@media (min-width: 47em) {
  .atm-c-shopping-cart__icon { height: 1rem; width: 1rem; }
}

.atm-c-shopping-cart__title { margin: 0px; padding: 0px; font-size: 1rem; line-height: 1.5; font-weight: normal; display: inline; text-align: left; }

.atm-c-shopping-cart__title-after { display: inline; margin-left: 0.5rem; }

.atm-c-shopping-cart__header { display: none; -webkit-box-flex: 1; flex: 1 1 0%; padding: 1rem 0px 0.5rem; }

.atm-is-updating .atm-c-shopping-cart__header { animation: 4s linear 0s 1 normal none running slideOutAround; }

@media (min-width: 47em) {
  .atm-c-shopping-cart__header { display: flex; -webkit-box-align: center; align-items: center; padding-top: 0.5rem; }
}

.atm-c-shopping-cart__alert { font-size: 1rem; font-weight: 400; line-height: 1.5; margin-bottom: 0px; display: flex; position: absolute; top: 100%; left: 0px; width: 60%; opacity: 0; visibility: hidden; padding-right: 1.5rem; transform: translateY(100%); }

@media (min-width: 47em) {
  .atm-is-updating .atm-c-shopping-cart__alert { opacity: 1; visibility: visible; animation: 4s linear 0s 1 normal none running slideInAround; }
}

.atm-c-shopping-cart__alert-icon { position: relative; top: 3px; margin-right: 1rem; fill: rgb(255, 255, 255); }

.atm-c-shopping-cart__alert-text { -webkit-box-flex: 1; flex: 1 1 0%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.atm-c-shopping-cart__flight-meta { display: none; position: relative; margin-left: 0.5rem; padding-left: 0.75rem; font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; }

@media (min-width: 60em) {
  .atm-c-shopping-cart__flight-meta { display: flex; position: relative; top: 1px; }
  .atm-c-shopping-cart__flight-meta::before { content: ""; display: block; position: absolute; left: 0px; top: 0.625rem; height: 0.25rem; width: 0.25rem; background: rgb(255, 255, 255); border-radius: 50%; }
}

.atm-c-shopping-cart__body { display: flex; -webkit-box-align: center; align-items: center; width: 100%; padding: 0.5rem 0px; }

@media (min-width: 47em) {
  .atm-c-shopping-cart__body { -webkit-box-pack: end; justify-content: flex-end; width: 50%; padding: 0.5rem 0px; }
}

@media (min-width: 60em) {
  .atm-c-shopping-cart__body { width: 45%; }
}

.atm-c-shopping-cart__footer { width: 100%; padding-top: 0.5rem; padding-bottom: 0.5rem; background: rgb(233, 233, 243); color: rgb(0, 0, 0); }

.atm-c-shopping-cart.atm-is-active .atm-c-shopping-cart__footer { border-bottom: 1px solid rgb(204, 204, 204); }

.atm-c-shopping-cart__total { display: flex; -webkit-box-align: baseline; align-items: baseline; }

.atm-c-shopping-cart__description { font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; }

.atm-c-shopping-cart__total-symbol { display: inline; position: relative; top: -1px; }

@media (min-width: 60em) {
  .atm-c-shopping-cart__total-symbol { top: 0px; }
}

.atm-c-shopping-cart__total-label-text { font-size: 0.875rem; font-weight: 300; line-height: 1.71429; letter-spacing: 0.0625rem; text-transform: uppercase; display: block; position: relative; bottom: 1px; margin-right: 0.25rem; }

@media (max-width: 47em) {
  .atm-c-shopping-cart--label-only .atm-c-shopping-cart__total-label-text { line-height: 1.7; }
}

@media (max-width: 47em) {
  .atm-c-shopping-cart--label-only .atm-c-shopping-cart__total-label-text { display: block; position: static; width: auto; height: auto; padding: initial; }
}

@media (min-width: 47em) {
  .atm-c-shopping-cart__total-label-text { margin-right: 0.5rem; }
}

.atm-c-shopping-cart__total-text { display: block; font-size: 0.875rem; line-height: 1.71429; margin-bottom: 0px; font-weight: 600; }

@media (min-width: 47em) {
  .atm-c-shopping-cart__total-text { font-size: 1rem; line-height: 1.5; margin-bottom: 0px; font-weight: 600; }
}

@media (min-width: 60em) {
  .atm-c-shopping-cart__total-text { font-size: 1.25rem; margin-bottom: 0px; font-weight: 600; line-height: 1; }
}

.atm-c-shopping-cart__total-currency { display: inline; position: relative; bottom: 1px; font-size: 0.875rem; font-weight: 300; line-height: 1.71429; letter-spacing: 0.0625rem; text-transform: uppercase; }

.atm-c-shopping-cart__total-caption { font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; }

@media (min-width: 47em) {
  .atm-c-shopping-cart__total-caption { text-align: right; }
}

.atm-c-shopping-cart__total-note { font-size: 0.75rem; font-weight: 300; line-height: 1.5; }

@media (min-width: 47em) {
  .atm-c-shopping-cart__total-note { text-align: right; }
}

.atm-c-shopping-cart__total + .atm-c-shopping-cart__total-caption, .atm-c-shopping-cart__total + .atm-c-shopping-cart__total-note { margin-top: -0.25rem; }

.atm-c-shopping-cart__cart-text { margin-right: 0.25rem; }

.atm-c-shopping-cart__panel-header { margin: 0px; padding: 0px; cursor: pointer; appearance: none; border: none; width: 100%; font-family: inherit; text-align: left; background: rgb(98, 68, 187); color: rgb(255, 255, 255); }

.atm-c-shopping-cart__panel-header:focus { outline: rgb(255, 255, 255) solid 2px; outline-offset: -4px; }

.atm-c-shopping-cart__panel { display: block; overflow: hidden; visibility: hidden; margin-left: 0px; opacity: 0; background: rgb(233, 233, 243); box-shadow: transparent 1px 10px 20px 0px; transition: height 0.15s ease-out 0s, opacity 0.4s ease-out 0s, box-shadow 0.4s ease-out 0s; }

.atm-c-shopping-cart.atm-is-active .atm-c-shopping-cart__panel { display: block; opacity: 1; overflow: visible; visibility: visible; box-shadow: rgb(204, 204, 204) 1px 10px 20px 0px; }

@media (min-width: 47em) {
  .atm-c-shopping-cart__panel { background: linear-gradient(90deg, rgb(240, 241, 248) 55%, rgb(233, 233, 243) 45%); }
}

.atm-c-shopping-cart__btn { font-size: 0.75rem; font-weight: 600; display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; margin: 0px 0px 0px auto; padding: 0.5rem 1rem; font-family: inherit; line-height: 1.9; border-width: 2px; border-style: solid; border-color: rgb(98, 68, 187); border-radius: 4px; background-color: rgb(255, 255, 255); color: rgb(98, 68, 187); cursor: pointer; transition: background-color 0.15s ease-out 0s, border-color 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s, transform 0.15s ease-out 0s, -webkit-transform 0.15s ease-out 0s; }

.atm-c-shopping-cart__panel-header:hover .atm-c-shopping-cart__btn, .atm-c-shopping-cart__panel-header:focus .atm-c-shopping-cart__btn { background-color: rgb(255, 255, 255); color: rgb(65, 45, 123); border-color: rgb(65, 45, 123); }

@media (min-width: 47em) {
  .atm-c-shopping-cart__btn { margin-left: 2rem; }
}

@-webkit-keyframes slideOutAround { 
  0% { opacity: 1; transform: translateY(0px); }
  10% { opacity: 0; transform: translateY(-100%); }
  90% { opacity: 0; transform: translateY(100%); }
  100% { opacity: 1; transform: translateY(0px); }
}

@keyframes slideOutAround { 
  0% { opacity: 1; transform: translateY(0px); }
  10% { opacity: 0; transform: translateY(-100%); }
  90% { opacity: 0; transform: translateY(100%); }
  100% { opacity: 1; transform: translateY(0px); }
}

@-webkit-keyframes slideInAround { 
  0% { top: 100%; opacity: 0; transform: translateY(100%); }
  10% { top: 50%; transform: translateY(-50%); opacity: 1; }
  90% { top: 50%; transform: translateY(-50%); opacity: 1; }
  100% { top: 0px; opacity: 0; transform: translateY(-100%); }
}

@keyframes slideInAround { 
  0% { top: 100%; opacity: 0; transform: translateY(100%); }
  10% { top: 50%; transform: translateY(-50%); opacity: 1; }
  90% { top: 50%; transform: translateY(-50%); opacity: 1; }
  100% { top: 0px; opacity: 0; transform: translateY(-100%); }
}
