@charset "utf-8";

.atm-c-selectable-card-checkbox { height: 100%; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-box-pack: justify; justify-content: space-between; position: relative; transition: border-color 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s; }

.atm-c-selectable-card-checkbox.atm-is-selected { border-color: rgb(0, 51, 160); box-shadow: rgb(0, 51, 160) 0px 0px 0px 1px inset; }

.atm-box-border-with-badge { border: 2px solid rgb(0, 34, 68); }

.atm-badge-position { position: absolute; top: -18px; left: 10px; }

.atm-badge-position-small { top: -14px; }
