@charset "utf-8";

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ { background-color: rgb(255, 255, 255); border-radius: 4px; border: 1px solid rgb(204, 204, 204); display: flex; flex-direction: column; justify-content: space-between; margin-bottom: 24px; padding: 34px 22px 22px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__left--2bjuJ .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs { font-size: 14px; font-weight: 400; line-height: 24px; margin-bottom: 32px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__left--2bjuJ .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs strong { font-size: 20px; font-weight: 600; line-height: 32px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__left--2bjuJ .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs del { font-weight: 400; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__left--2bjuJ .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs .app-containers-PickupContainer-PickupTiles-PickupTile__bodyText--29zJm { margin: 0px 0px 5px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__left--2bjuJ .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs span { display: block; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__title--3EQN_ { display: flex; margin-bottom: 8px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__title--3EQN_ .app-containers-PickupContainer-PickupTiles-PickupTile__icon--3cPJ- { display: none; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__title--3EQN_ .app-containers-PickupContainer-PickupTiles-PickupTile__icon--3cPJ- svg { width: 32px; height: 32px; margin-right: 24px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__title--3EQN_ h4 { font-size: 20px; font-weight: 600; line-height: 32px; margin: 0px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__datesContainer--2Ri-N { margin-bottom: 24px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__datesContainer--2Ri-N p { font-size: 16px; line-height: 24px; margin: 0px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__datesContainer--2Ri-N .app-containers-PickupContainer-PickupTiles-PickupTile__hours--1gHyS { display: flex; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__right--2CK1y { display: flex; flex-direction: column; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__right--2CK1y .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs { display: none; text-align: right; font-size: 14px; font-weight: 400; line-height: 24px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__right--2CK1y .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs strong { font-size: 20px; font-weight: 600; line-height: 32px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__right--2CK1y .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs del { font-weight: 400; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__right--2CK1y .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs .app-containers-PickupContainer-PickupTiles-PickupTile__bodyText--29zJm { margin: 0px 0px 5px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__actions--2MQIP { display: flex; flex-direction: column; width: 100%; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__actions--2MQIP button { max-height: 52px; white-space: nowrap; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__actions--2MQIP button:not(:last-child) { margin-bottom: 16px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__actions--2MQIP .app-containers-PickupContainer-PickupTiles-PickupTile__link--1rXJR { justify-content: flex-start; }

.app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__actions--2MQIP .app-containers-PickupContainer-PickupTiles-PickupTile__link--1rXJR svg { width: 12px; height: 12px; top: 7px; }

@media (min-width: 720px) {
  .app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ { flex-direction: row; padding: 16px; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__left--2bjuJ .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs { margin-left: 57px; margin-bottom: 0px; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__left--2bjuJ .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs span { display: inline; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__datesContainer--2Ri-N { margin-left: 57px; margin-bottom: 0px; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__title--3EQN_ .app-containers-PickupContainer-PickupTiles-PickupTile__icon--3cPJ- { display: block; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__actions--2MQIP .app-containers-PickupContainer-PickupTiles-PickupTile__link--1rXJR { justify-content: flex-end; }
}

@media (min-width: 944px) {
  .app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__left--2bjuJ .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs { display: none; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__right--2CK1y .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs { display: block; margin-bottom: 16px; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__actions--2MQIP { width: 250px; align-self: flex-start; }
}

@media (min-width: 1184px) {
  .app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__right--2CK1y { display: flex; flex-direction: row; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__right--2CK1y .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs { margin-right: 20px; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__pickupTile--XkZYZ .app-containers-PickupContainer-PickupTiles-PickupTile__actions--2MQIP { width: auto; }
}

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz { display: grid; grid-template-columns: 1fr auto; align-items: center; justify-content: flex-start; gap: 6px 3px; border: 1px solid rgb(212, 212, 208); border-radius: 4px; padding: 12px 15px 15px; font-size: 0.75rem; text-align: left; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz:focus, .app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz:hover { outline: rgb(98, 68, 187) solid 2px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz p { margin: 0px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__titleContainer--3vyyn { grid-area: 1 / 1 / 2 / 2; display: flex; align-items: center; justify-content: flex-start; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__titleContainer--3vyyn > :not(:last-child) { margin-right: 8px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__subtitleContainer--1TUjQ { grid-area: 2 / 1 / 3 / 2; display: flex; flex-direction: row; align-items: center; justify-content: flex-start; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__subtitleContainer--1TUjQ > :not(:last-child) { margin-right: 8px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__bodyText--29zJm { grid-column: 1 / 2; display: grid; grid-auto-flow: row; gap: 8px; align-items: center; justify-content: flex-start; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__bodyText--29zJm del { font-weight: 400; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__bodyText1--3l3-z { grid-row: 3 / 4; font-size: 14px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__bodyText2--3X2C4 { grid-row: 4 / 5; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__arrow--3L-iY, .app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__caret--2Asi2 { grid-column: 2 / 3; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__withBodyText2--hBawM { grid-row: 2 / 4; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__withOutBodyText2--2ZPmH { grid-row: 1 / 3; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__arrow--3L-iY { display: none; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__titleDesktop--2KUpt, .app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__titleMobile--2psU0 { margin: 0px; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__titleMobile--2psU0 { word-break: break-word; }

.app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__titleDesktop--2KUpt { display: none; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

@media (min-width: 720px) {
  .app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__arrow--3L-iY { width: 24px; height: 24px; }
}

@media (min-width: 944px) {
  .app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__arrow--3L-iY { display: block; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__caret--2Asi2 { display: none; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__titleContainer--3vyyn .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs { display: inline; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__subtitleContainer--1TUjQ .app-containers-PickupContainer-PickupTiles-PickupTile__price--2Y0vs { display: none; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__titleMobile--2psU0 { display: none; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__titleDesktop--2KUpt { display: block; }
  .app-containers-PickupContainer-PickupTiles-PickupTile__leanTile--3AbMz .app-containers-PickupContainer-PickupTiles-PickupTile__summary--1HxLj { border-left: 1px solid rgb(102, 102, 102); padding-left: 8px; }
}
