@charset "utf-8";

.app-containers-Home-components-HotelTravelers-styles__btnDefault--1OS3P { text-align: center; text-decoration: none; border-radius: 2px; height: 52px; line-height: 22px; width: 100%; font-size: 16px; }

@media (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__btnDefault--1OS3P { height: 56px; width: 160px; }
}

.app-containers-Home-components-HotelTravelers-styles__btnDefault--1OS3P:hover, .app-containers-Home-components-HotelTravelers-styles__btnDefault--1OS3P:focus { box-shadow: none; }

.app-containers-Home-components-HotelTravelers-styles__btnDefault--1OS3P:disabled, .app-containers-Home-components-HotelTravelers-styles__btnDefault--1OS3P[disabled] { box-shadow: none; border: none; background-color: rgb(230, 230, 230); color: rgb(102, 102, 102); }

.app-containers-Home-components-HotelTravelers-styles__primaryButton--2JrJL { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); border: 1px solid rgb(33, 114, 186); box-shadow: rgb(102, 102, 102) -1px 1px 1px 0px; }

.app-containers-Home-components-HotelTravelers-styles__primaryButton--2JrJL:hover, .app-containers-Home-components-HotelTravelers-styles__primaryButton--2JrJL:focus { border: 1px solid rgb(0, 48, 87); box-shadow: none; }

.app-containers-Home-components-HotelTravelers-styles__ancillaryButton--CF-wm, .app-containers-Home-components-HotelTravelers-styles__primaryButton--2JrJL.app-containers-Home-components-HotelTravelers-styles__ancillaryButton--CF-wm, .app-containers-Home-components-HotelTravelers-styles__btnDefault--1OS3P.app-containers-Home-components-HotelTravelers-styles__ancillaryButton--CF-wm { height: 30px; }

@media (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__ancillaryButton--CF-wm, .app-containers-Home-components-HotelTravelers-styles__primaryButton--2JrJL.app-containers-Home-components-HotelTravelers-styles__ancillaryButton--CF-wm, .app-containers-Home-components-HotelTravelers-styles__btnDefault--1OS3P.app-containers-Home-components-HotelTravelers-styles__ancillaryButton--CF-wm { width: 160px; }
}

.app-containers-Home-components-HotelTravelers-styles__secondaryButton--3Q1Re { background-color: rgb(237, 183, 43); color: rgb(0, 0, 0); border: 1px solid rgb(237, 183, 43); }

.app-containers-Home-components-HotelTravelers-styles__secondaryButton--3Q1Re:hover { border: 1px solid rgb(0, 57, 100); box-shadow: none; }

.app-containers-Home-components-HotelTravelers-styles__inputFieldBorder--558wV { border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid rgb(102, 102, 102); background: rgba(0, 0, 0, 0); border-radius: 0px; }

.app-containers-Home-components-HotelTravelers-styles__textLink--dZmwP { font-size: 28px; letter-spacing: 0px; line-height: 18px; }

.app-containers-Home-components-HotelTravelers-styles__textLink--dZmwP:link { color: rgb(0, 34, 68); }

.app-containers-Home-components-HotelTravelers-styles__textLink--dZmwP:hover { color: rgb(33, 114, 186); border-bottom: 1px solid rgb(33, 114, 186); }

@media (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__textLink--dZmwP { font-size: 16px; }
}

.app-containers-Home-components-HotelTravelers-styles__textLinkCTA--a6iob { letter-spacing: 0px; }

.app-containers-Home-components-HotelTravelers-styles__textLinkCTA--a6iob:link { color: rgb(102, 102, 102); text-decoration: underline; }

.app-containers-Home-components-HotelTravelers-styles__textLinkCTA--a6iob:hover { color: rgb(0, 0, 0); }

@media (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__textLinkCTA--a6iob { line-height: 22px; }
}

.app-containers-Home-components-HotelTravelers-styles__inverse--1tamG { background-color: rgb(33, 114, 186); border-radius: 2px; color: rgb(255, 255, 255); }

.app-containers-Home-components-HotelTravelers-styles__inverse--1tamG.app-containers-Home-components-HotelTravelers-styles__secondary--2y6yX { color: rgb(237, 183, 43); }

.app-containers-Home-components-HotelTravelers-styles__inverse--1tamG input[type="text"], .app-containers-Home-components-HotelTravelers-styles__inverse--1tamG input[type="password"], .app-containers-Home-components-HotelTravelers-styles__inverse--1tamG input[type="tel"], .app-containers-Home-components-HotelTravelers-styles__inverse--1tamG input[type="number"] { color: rgb(255, 255, 255); }

.app-containers-Home-components-HotelTravelers-styles__inverse--1tamG input[type="text"].app-containers-Home-components-HotelTravelers-styles__secondary--2y6yX, .app-containers-Home-components-HotelTravelers-styles__inverse--1tamG input[type="password"].app-containers-Home-components-HotelTravelers-styles__secondary--2y6yX, .app-containers-Home-components-HotelTravelers-styles__inverse--1tamG input[type="tel"].app-containers-Home-components-HotelTravelers-styles__secondary--2y6yX, .app-containers-Home-components-HotelTravelers-styles__inverse--1tamG input[type="number"].app-containers-Home-components-HotelTravelers-styles__secondary--2y6yX { color: rgb(237, 183, 43); }

.app-containers-Home-components-HotelTravelers-styles__inverseDark--1M_Ly { background-color: rgb(0, 34, 68); font-size: 16px; color: rgb(255, 255, 255); }

.app-containers-Home-components-HotelTravelers-styles__signInInput--30YX8 { font-size: 24px; letter-spacing: -0.2px; line-height: 32px; }

.app-containers-Home-components-HotelTravelers-styles__roundedButton--2zi1i, .app-containers-Home-components-HotelTravelers-styles__roundedButtonOn--TIy1z, .app-containers-Home-components-HotelTravelers-styles__roundedButtonPrimary--fFsju { font-size: 16px; letter-spacing: 0px; border: 1px solid; border-radius: 200px; height: 72px; width: 94px; text-align: center; }

@media (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__roundedButton--2zi1i, .app-containers-Home-components-HotelTravelers-styles__roundedButtonOn--TIy1z, .app-containers-Home-components-HotelTravelers-styles__roundedButtonPrimary--fFsju { border-radius: 100px; height: 35px; }
}

.app-containers-Home-components-HotelTravelers-styles__roundedButtonPrimary--fFsju { color: rgb(153, 153, 153); border: 2px solid rgb(211, 211, 211); }

@media (min-width: 1184px) {
  .app-containers-Home-components-HotelTravelers-styles__roundedButtonPrimary--fFsju { border: 1px solid rgb(211, 211, 211); }
}

.app-containers-Home-components-HotelTravelers-styles__roundedButtonPrimary--fFsju:hover { color: rgb(102, 102, 102); border: 2px solid rgb(102, 102, 102); }

@media (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__roundedButtonPrimary--fFsju:hover { border: 1px solid rgb(102, 102, 102); }
}

.app-containers-Home-components-HotelTravelers-styles__roundedButtonOn--TIy1z { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); }

.app-containers-Home-components-HotelTravelers-styles__alert--3ivoz, .app-containers-Home-components-HotelTravelers-styles__highLevelAlert--1rpeW, .app-containers-Home-components-HotelTravelers-styles__lowLevelAlert--3GG1Z { border-radius: 3px; height: 60px; width: 100%; font-size: 16px; line-height: 18px; letter-spacing: 0px; padding-left: 55px; padding-top: 20px; }

.app-containers-Home-components-HotelTravelers-styles__lowLevelAlert--3GG1Z { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }

.app-containers-Home-components-HotelTravelers-styles__highLevelAlert--1rpeW { background-color: rgb(213, 0, 50); color: rgb(255, 255, 255); }

.app-containers-Home-components-HotelTravelers-styles__alertTriangle--2c-uv, .app-containers-Home-components-HotelTravelers-styles__low-alert-triangle--3mRAv, .app-containers-Home-components-HotelTravelers-styles__highAlertTriangle--2qgMD { padding-left: 48px; height: 19.96px; width: 22.01px; content: "!"; }

.app-containers-Home-components-HotelTravelers-styles__highAlertTriangle--2qgMD { color: rgb(255, 255, 255); }

.app-containers-Home-components-HotelTravelers-styles__low-alert-triangle--3mRAv { color: rgb(102, 102, 102); }

.app-containers-Home-components-HotelTravelers-styles__dropdown--2Q0n2 { width: 100%; height: 100%; border: 1px solid rgb(229, 229, 229); }

@media (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__dropdown--2Q0n2 { border-radius: 3px; border: 1px solid rgb(200, 200, 200); box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px; }
}

.app-containers-Home-components-HotelTravelers-styles__dropdownContent--1hZaI { font-size: 32px; line-height: 72px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-Home-components-HotelTravelers-styles__dropdownContent--1hZaI:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

@media (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__dropdownContent--1hZaI { font-size: 10px; line-height: 40px; }
}

.app-containers-Home-components-HotelTravelers-styles__dropdownExpand--11Ugz { font-size: 24px; line-height: 44px; color: rgb(0, 34, 68); letter-spacing: 0px; }

@media (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__dropdownExpand--11Ugz { font-size: 12px; line-height: 22px; }
}

.app-containers-Home-components-HotelTravelers-styles__simpleDropdownDefault--7GRv_, .app-containers-Home-components-HotelTravelers-styles__simpleDropdownOnBackground--3wp4J { border: 1px solid rgb(148, 148, 148); border-radius: 4px; font-size: 28px; color: rgb(51, 51, 51); letter-spacing: 0px; line-height: 24px; }

@media (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__simpleDropdownDefault--7GRv_, .app-containers-Home-components-HotelTravelers-styles__simpleDropdownOnBackground--3wp4J { font-size: 16px; color: rgb(0, 34, 68); border: none; }
  .app-containers-Home-components-HotelTravelers-styles__simpleDropdownDefault--7GRv_:hover, .app-containers-Home-components-HotelTravelers-styles__simpleDropdownOnBackground--3wp4J:hover { color: rgb(33, 114, 186); }
}

.app-containers-Home-components-HotelTravelers-styles__simpleDropdownOnBackground--3wp4J { opacity: 0.5; border: 1px solid rgb(255, 255, 255); border-radius: 6px; color: rgb(255, 255, 255); }

.app-containers-Home-components-HotelTravelers-styles__simpleDropdownActive--2Ay-q { font-size: 16px; line-height: 40px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-Home-components-HotelTravelers-styles__simpleDropdownActive--2Ay-q:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

.app-containers-Home-components-HotelTravelers-styles__simpleDropdownActive--2Ay-q:checked { color: rgb(0, 34, 68); }

.app-containers-Home-components-HotelTravelers-styles__checkboxWrapper--vegez { position: relative; }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked), .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked), .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked { position: absolute; left: 0px; top: -1px; opacity: 0; }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked) + label, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked + label, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked) + label, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked + label { position: relative; cursor: pointer; font-size: 14px; }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked) + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked) + label::after, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked + label::after, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked) + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked) + label::after, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked + label::after { position: absolute; left: 0px; top: -1px; }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked) + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked) + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked + label::before { content: ""; border: 2px solid rgb(0, 57, 100); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px inset; }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked) + label::after, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked + label::after, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked) + label::after, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked + label::after { content: ""; display: block; border-style: solid; border-color: rgb(255, 255, 255); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(45deg); position: absolute; text-align: center; }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked), .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:disabled) + label::after, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked), .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:disabled) + label::after { opacity: 0; border-color: rgb(0, 34, 68); }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked + label::after, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked + label::after { opacity: 1; border-color: rgb(255, 255, 255); }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked + label::before { background: rgb(0, 34, 68); }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked) + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked) + label::before { background: rgb(255, 255, 255); }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:disabled:not(:checked) + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:disabled:checked + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:disabled:not(:checked) + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:disabled:checked + label::before { box-shadow: none; border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:disabled:checked + label::after, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:disabled:checked + label::after { color: rgb(153, 153, 153); }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:disabled + label, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:disabled + label { color: rgb(170, 170, 170); }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked:focus + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked):focus + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked:focus + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked):focus + label::before { outline: dotted 1px; }

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked) + label, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked + label { padding-left: 32px; line-height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked) + label, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked + label { padding-left: 26px; line-height: 18px; }
}

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked) + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked + label::before { width: 24px; height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked) + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked + label::before { width: 20px; height: 20px; }
}

.app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked) + label::after, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked + label::after { font-size: 14px; top: 5px; left: 9px; width: 5px; height: 11px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:not(:checked) + label::after, .app-containers-Home-components-HotelTravelers-styles__customCheckbox--2koRU:checked + label::after { left: 8px; top: 3px; }
}

.app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked) + label, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked + label { padding-left: 25px; font-size: 12px; line-height: 15px; }

.app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked) + label::before, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked + label::before { width: 15px; height: 15px; }

.app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked) + label::after, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked + label::after { font-size: 10px; left: 6px; top: 2px; width: 4px; height: 9px; }

.app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked) + label:hover, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked) + label:focus, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked + label:hover, .app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked + label:focus { color: rgb(0, 34, 68); }

.app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:not(:checked) + label { color: rgb(137, 137, 137); }

.app-containers-Home-components-HotelTravelers-styles__customCheckboxSm--14e3Y:checked + label { color: rgb(0, 34, 68); }

.app-containers-Home-components-HotelTravelers-styles__whiteAndBlackCustomCheckBox--27w-A:checked + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-Home-components-HotelTravelers-styles__whiteAndBlackCustomCheckBox--27w-A:not(:checked) + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-Home-components-HotelTravelers-styles__whiteAndBlackCustomCheckBox--27w-A:checked + label::after { border-color: rgb(0, 0, 0); top: 5px; left: 10px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__whiteAndBlackCustomCheckBox--27w-A:checked + label::after { top: 3px; left: 8px; }
}

.app-containers-Home-components-HotelTravelers-styles__questionMarkToolTip--X8U-w::before { content: "?"; display: inline-block; vertical-align: top; text-align: center; font-weight: bold; width: 24px; height: 24px; font-size: 14px; line-height: 1.4; margin-top: 0px; margin-left: 8px; border: 1px solid rgb(255, 255, 255); border-radius: 50%; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); }

@media screen and (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__questionMarkToolTip--X8U-w::before { line-height: 1.3; margin-top: 4px; width: 16px; height: 16px; font-size: 10px; }
}

.app-containers-Home-components-HotelTravelers-styles__floatingLabel--3sm3g { font-size: 12px; color: rgb(102, 102, 102); line-height: 13px; }

.app-containers-Home-components-HotelTravelers-styles__formLink--1FYpt { font-size: 16px; text-decoration: underline; }

.app-containers-Home-components-HotelTravelers-styles__formLink--1FYpt:hover { outline: rgb(33, 114, 186) dotted 1px; color: rgb(35, 82, 124); }

.app-containers-Home-components-HotelTravelers-styles__fieldErrorMessage--2p9_A { position: absolute; bottom: 0px; color: rgb(213, 0, 50); letter-spacing: 0px; font-size: 13px; line-height: 1.5; text-align: center; }

@media screen and (min-width: 944px) {
  .app-containers-Home-components-HotelTravelers-styles__fieldErrorMessage--2p9_A { font-size: 11px; }
}

.app-containers-Home-components-HotelTravelers-styles__homepageTextField--1r7qi { line-height: 1; }

.app-containers-Home-components-HotelTravelers-styles__homepageTextField--1r7qi label { color: rgb(0, 34, 68); text-transform: none; font-weight: bold; font-size: 12px; letter-spacing: 1px; margin-bottom: -1px; }

.app-containers-Home-components-HotelTravelers-styles__homepageTextField--1r7qi input { transition: color 0.4s ease 0s; color: rgb(0, 34, 68); height: 46px; }

.app-containers-Home-components-HotelTravelers-styles__homepageTextField--1r7qi input::-webkit-input-placeholder { text-transform: none; font-style: normal; font-weight: normal; }

.app-containers-Home-components-HotelTravelers-styles__homepageTextField--1r7qi:focus { color: rgb(33, 114, 186); border-color: rgb(33, 114, 186); }

.app-containers-Home-components-HotelTravelers-styles__homepageTextField--1r7qi:focus > label { color: rgb(33, 114, 186); }

.app-containers-Home-components-HotelTravelers-styles__homepageTextField--1r7qi .atm-c-field-note.atm-c-textfield__note { position: absolute; margin: 0px; bottom: -24px; }

.app-containers-Home-components-HotelTravelers-styles__homepageTextField--1r7qi .atm-c-field-note.atm-c-textfield__note svg { display: none; }

.app-containers-Home-components-HotelTravelers-styles__mainButton--1tlA- { display: block; padding: 14px 10px; font-size: 16px; border: 1px solid rgb(102, 102, 102); border-radius: 5px; color: rgb(0, 0, 0); outline: none; min-width: 110px; }

.app-containers-Home-components-HotelTravelers-styles__mainButton--1tlA-:focus { outline: rgb(98, 68, 187) solid 4px; }

input[type="text"].app-containers-Home-components-HotelTravelers-styles__inputDetail--1M7mW { outline: none; padding: 4px; }

input[type="text"].app-containers-Home-components-HotelTravelers-styles__inputDetail--1M7mW:focus { outline: rgb(98, 68, 187) solid 4px; }

.app-containers-Home-components-HotelTravelers-styles__mainButtonText--289kr { display: flex; justify-content: space-between; }

.app-containers-Home-components-HotelTravelers-styles__mainButtonText--289kr span { margin-right: 16px; }
