@charset "utf-8";

@media screen and (min-width: 720px) {
  .app-components-Seatmap-FlightDetails-FlightDetails__segment--3ZKFX { padding-top: 24px; }
}

.app-components-Seatmap-FlightDetails-FlightDetails__segment-info--q0cVZ { font-size: 14px; }

@media screen and (min-width: 720px) {
  .app-components-Seatmap-FlightDetails-FlightDetails__segment-info--q0cVZ { border-left: 1px solid gray; padding-left: 20px; }
}

.app-components-Seatmap-FlightDetails-FlightDetails__segment-info__details--1Rh5K { margin: 0px; }

@supports (display: grid) {
  .app-components-Seatmap-FlightDetails-FlightDetails__segment-info__details--1Rh5K { display: inline-grid; grid-template-columns: auto auto; grid-template-rows: auto; }
}

@media screen and (min-width: 720px) {
  .app-components-Seatmap-FlightDetails-FlightDetails__segment-info__operated-by--3ELYF { flex-shrink: 1; }
}

.app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(1) { }

@supports (display: grid) {
  .app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(1) { grid-area: 1 / 1 / auto / auto; }
}

.app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(2) { }

@supports (display: grid) {
  .app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(2) { grid-area: 1 / 2 / auto / auto; }
}

.app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(3) { }

@supports (display: grid) {
  .app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(3) { grid-area: 2 / 1 / auto / auto; }
}

.app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(4) { }

@supports (display: grid) {
  .app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(4) { grid-area: 2 / 2 / auto / auto; }
}

.app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(5) { }

@supports (display: grid) {
  .app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(5) { grid-area: 3 / 1 / auto / auto; }
}

.app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(6) { }

@supports (display: grid) {
  .app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(6) { grid-area: 3 / 2 / auto / auto; }
}

.app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(7) { }

@supports (display: grid) {
  .app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(7) { grid-area: 4 / 1 / auto / auto; }
}

.app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(8) { }

@supports (display: grid) {
  .app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--7KSBR:nth-child(8) { grid-area: 4 / 2 / auto / auto; }
}

.app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--title--2w8Af { float: left; clear: left; }

.app-components-Seatmap-FlightDetails-FlightDetails__segment-info__item--value--3SmQ- { margin: 0px; }
