@charset "utf-8";

.app-containers-Home-components-FlightBlockCard-styles__btnDefault--28B7A { text-align: center; text-decoration: none; border-radius: 2px; height: 52px; line-height: 22px; width: 100%; font-size: 16px; }

@media (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__btnDefault--28B7A { height: 56px; width: 160px; }
}

.app-containers-Home-components-FlightBlockCard-styles__btnDefault--28B7A:hover, .app-containers-Home-components-FlightBlockCard-styles__btnDefault--28B7A:focus { box-shadow: none; }

.app-containers-Home-components-FlightBlockCard-styles__btnDefault--28B7A:disabled, .app-containers-Home-components-FlightBlockCard-styles__btnDefault--28B7A[disabled] { box-shadow: none; border: none; background-color: rgb(230, 230, 230); color: rgb(102, 102, 102); }

.app-containers-Home-components-FlightBlockCard-styles__primaryButton--3YCKL { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); border: 1px solid rgb(33, 114, 186); box-shadow: rgb(102, 102, 102) -1px 1px 1px 0px; }

.app-containers-Home-components-FlightBlockCard-styles__primaryButton--3YCKL:hover, .app-containers-Home-components-FlightBlockCard-styles__primaryButton--3YCKL:focus { border: 1px solid rgb(0, 48, 87); box-shadow: none; }

.app-containers-Home-components-FlightBlockCard-styles__ancillaryButton--1KF9g, .app-containers-Home-components-FlightBlockCard-styles__primaryButton--3YCKL.app-containers-Home-components-FlightBlockCard-styles__ancillaryButton--1KF9g, .app-containers-Home-components-FlightBlockCard-styles__btnDefault--28B7A.app-containers-Home-components-FlightBlockCard-styles__ancillaryButton--1KF9g { height: 30px; }

@media (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__ancillaryButton--1KF9g, .app-containers-Home-components-FlightBlockCard-styles__primaryButton--3YCKL.app-containers-Home-components-FlightBlockCard-styles__ancillaryButton--1KF9g, .app-containers-Home-components-FlightBlockCard-styles__btnDefault--28B7A.app-containers-Home-components-FlightBlockCard-styles__ancillaryButton--1KF9g { width: 160px; }
}

.app-containers-Home-components-FlightBlockCard-styles__secondaryButton--3RC9p { background-color: rgb(237, 183, 43); color: rgb(0, 0, 0); border: 1px solid rgb(237, 183, 43); }

.app-containers-Home-components-FlightBlockCard-styles__secondaryButton--3RC9p:hover { border: 1px solid rgb(0, 57, 100); box-shadow: none; }

.app-containers-Home-components-FlightBlockCard-styles__inputFieldBorder--3Iu4t { border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid rgb(102, 102, 102); background: rgba(0, 0, 0, 0); border-radius: 0px; }

.app-containers-Home-components-FlightBlockCard-styles__textLink--1tjZe { font-size: 28px; letter-spacing: 0px; line-height: 18px; }

.app-containers-Home-components-FlightBlockCard-styles__textLink--1tjZe:link { color: rgb(0, 34, 68); }

.app-containers-Home-components-FlightBlockCard-styles__textLink--1tjZe:hover { color: rgb(33, 114, 186); border-bottom: 1px solid rgb(33, 114, 186); }

@media (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__textLink--1tjZe { font-size: 16px; }
}

.app-containers-Home-components-FlightBlockCard-styles__textLinkCTA--1w1ui { letter-spacing: 0px; }

.app-containers-Home-components-FlightBlockCard-styles__textLinkCTA--1w1ui:link { color: rgb(102, 102, 102); text-decoration: underline; }

.app-containers-Home-components-FlightBlockCard-styles__textLinkCTA--1w1ui:hover { color: rgb(0, 0, 0); }

@media (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__textLinkCTA--1w1ui { line-height: 22px; }
}

.app-containers-Home-components-FlightBlockCard-styles__inverse--rgc7j { background-color: rgb(33, 114, 186); border-radius: 2px; color: rgb(255, 255, 255); }

.app-containers-Home-components-FlightBlockCard-styles__inverse--rgc7j.app-containers-Home-components-FlightBlockCard-styles__secondary--2heXb { color: rgb(237, 183, 43); }

.app-containers-Home-components-FlightBlockCard-styles__inverse--rgc7j input[type="text"], .app-containers-Home-components-FlightBlockCard-styles__inverse--rgc7j input[type="password"], .app-containers-Home-components-FlightBlockCard-styles__inverse--rgc7j input[type="tel"], .app-containers-Home-components-FlightBlockCard-styles__inverse--rgc7j input[type="number"] { color: rgb(255, 255, 255); }

.app-containers-Home-components-FlightBlockCard-styles__inverse--rgc7j input[type="text"].app-containers-Home-components-FlightBlockCard-styles__secondary--2heXb, .app-containers-Home-components-FlightBlockCard-styles__inverse--rgc7j input[type="password"].app-containers-Home-components-FlightBlockCard-styles__secondary--2heXb, .app-containers-Home-components-FlightBlockCard-styles__inverse--rgc7j input[type="tel"].app-containers-Home-components-FlightBlockCard-styles__secondary--2heXb, .app-containers-Home-components-FlightBlockCard-styles__inverse--rgc7j input[type="number"].app-containers-Home-components-FlightBlockCard-styles__secondary--2heXb { color: rgb(237, 183, 43); }

.app-containers-Home-components-FlightBlockCard-styles__inverseDark--1ZS-n { background-color: rgb(0, 34, 68); font-size: 16px; color: rgb(255, 255, 255); }

.app-containers-Home-components-FlightBlockCard-styles__signInInput--2Cm4E { font-size: 24px; letter-spacing: -0.2px; line-height: 32px; }

.app-containers-Home-components-FlightBlockCard-styles__roundedButton--2xyH6, .app-containers-Home-components-FlightBlockCard-styles__roundedButtonOn--1Ps8a, .app-containers-Home-components-FlightBlockCard-styles__roundedButtonPrimary--2HUMp { font-size: 16px; letter-spacing: 0px; border: 1px solid; border-radius: 200px; height: 72px; width: 94px; text-align: center; }

@media (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__roundedButton--2xyH6, .app-containers-Home-components-FlightBlockCard-styles__roundedButtonOn--1Ps8a, .app-containers-Home-components-FlightBlockCard-styles__roundedButtonPrimary--2HUMp { border-radius: 100px; height: 35px; }
}

.app-containers-Home-components-FlightBlockCard-styles__roundedButtonPrimary--2HUMp { color: rgb(153, 153, 153); border: 2px solid rgb(211, 211, 211); }

@media (min-width: 1184px) {
  .app-containers-Home-components-FlightBlockCard-styles__roundedButtonPrimary--2HUMp { border: 1px solid rgb(211, 211, 211); }
}

.app-containers-Home-components-FlightBlockCard-styles__roundedButtonPrimary--2HUMp:hover { color: rgb(102, 102, 102); border: 2px solid rgb(102, 102, 102); }

@media (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__roundedButtonPrimary--2HUMp:hover { border: 1px solid rgb(102, 102, 102); }
}

.app-containers-Home-components-FlightBlockCard-styles__roundedButtonOn--1Ps8a { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); }

.app-containers-Home-components-FlightBlockCard-styles__alert--TIHVv, .app-containers-Home-components-FlightBlockCard-styles__highLevelAlert--2lp_-, .app-containers-Home-components-FlightBlockCard-styles__lowLevelAlert--XJhPc { border-radius: 3px; height: 60px; width: 100%; font-size: 16px; line-height: 18px; letter-spacing: 0px; padding-left: 55px; padding-top: 20px; }

.app-containers-Home-components-FlightBlockCard-styles__lowLevelAlert--XJhPc { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }

.app-containers-Home-components-FlightBlockCard-styles__highLevelAlert--2lp_- { background-color: rgb(213, 0, 50); color: rgb(255, 255, 255); }

.app-containers-Home-components-FlightBlockCard-styles__alertTriangle--3ZeN0, .app-containers-Home-components-FlightBlockCard-styles__low-alert-triangle--2MKIk, .app-containers-Home-components-FlightBlockCard-styles__highAlertTriangle--6B1nq { padding-left: 48px; height: 19.96px; width: 22.01px; content: "!"; }

.app-containers-Home-components-FlightBlockCard-styles__highAlertTriangle--6B1nq { color: rgb(255, 255, 255); }

.app-containers-Home-components-FlightBlockCard-styles__low-alert-triangle--2MKIk { color: rgb(102, 102, 102); }

.app-containers-Home-components-FlightBlockCard-styles__dropdown--3rzPi { width: 100%; height: 100%; border: 1px solid rgb(229, 229, 229); }

@media (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__dropdown--3rzPi { border-radius: 3px; border: 1px solid rgb(200, 200, 200); box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px; }
}

.app-containers-Home-components-FlightBlockCard-styles__dropdownContent--1kOdN { font-size: 32px; line-height: 72px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-Home-components-FlightBlockCard-styles__dropdownContent--1kOdN:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

@media (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__dropdownContent--1kOdN { font-size: 10px; line-height: 40px; }
}

.app-containers-Home-components-FlightBlockCard-styles__dropdownExpand--Eko5r { font-size: 24px; line-height: 44px; color: rgb(0, 34, 68); letter-spacing: 0px; }

@media (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__dropdownExpand--Eko5r { font-size: 12px; line-height: 22px; }
}

.app-containers-Home-components-FlightBlockCard-styles__simpleDropdownDefault--VRCPJ, .app-containers-Home-components-FlightBlockCard-styles__simpleDropdownOnBackground--3Qdtk { border: 1px solid rgb(148, 148, 148); border-radius: 4px; font-size: 28px; color: rgb(51, 51, 51); letter-spacing: 0px; line-height: 24px; }

@media (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__simpleDropdownDefault--VRCPJ, .app-containers-Home-components-FlightBlockCard-styles__simpleDropdownOnBackground--3Qdtk { font-size: 16px; color: rgb(0, 34, 68); border: none; }
  .app-containers-Home-components-FlightBlockCard-styles__simpleDropdownDefault--VRCPJ:hover, .app-containers-Home-components-FlightBlockCard-styles__simpleDropdownOnBackground--3Qdtk:hover { color: rgb(33, 114, 186); }
}

.app-containers-Home-components-FlightBlockCard-styles__simpleDropdownOnBackground--3Qdtk { opacity: 0.5; border: 1px solid rgb(255, 255, 255); border-radius: 6px; color: rgb(255, 255, 255); }

.app-containers-Home-components-FlightBlockCard-styles__simpleDropdownActive--2OyIK { font-size: 16px; line-height: 40px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-Home-components-FlightBlockCard-styles__simpleDropdownActive--2OyIK:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

.app-containers-Home-components-FlightBlockCard-styles__simpleDropdownActive--2OyIK:checked { color: rgb(0, 34, 68); }

.app-containers-Home-components-FlightBlockCard-styles__checkboxWrapper--RVwcl { position: relative; }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked), .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked), .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked { position: absolute; left: 0px; top: -1px; opacity: 0; }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked) + label, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked + label, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked) + label, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked + label { position: relative; cursor: pointer; font-size: 14px; }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked) + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked) + label::after, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked + label::after, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked) + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked) + label::after, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked + label::after { position: absolute; left: 0px; top: -1px; }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked) + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked) + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked + label::before { content: ""; border: 2px solid rgb(0, 57, 100); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px inset; }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked) + label::after, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked + label::after, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked) + label::after, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked + label::after { content: ""; display: block; border-style: solid; border-color: rgb(255, 255, 255); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(45deg); position: absolute; text-align: center; }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked), .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:disabled) + label::after, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked), .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:disabled) + label::after { opacity: 0; border-color: rgb(0, 34, 68); }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked + label::after, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked + label::after { opacity: 1; border-color: rgb(255, 255, 255); }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked + label::before { background: rgb(0, 34, 68); }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked) + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked) + label::before { background: rgb(255, 255, 255); }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:disabled:not(:checked) + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:disabled:checked + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:disabled:not(:checked) + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:disabled:checked + label::before { box-shadow: none; border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:disabled:checked + label::after, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:disabled:checked + label::after { color: rgb(153, 153, 153); }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:disabled + label, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:disabled + label { color: rgb(170, 170, 170); }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked:focus + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked):focus + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked:focus + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked):focus + label::before { outline: dotted 1px; }

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked) + label, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked + label { padding-left: 32px; line-height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked) + label, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked + label { padding-left: 26px; line-height: 18px; }
}

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked) + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked + label::before { width: 24px; height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked) + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked + label::before { width: 20px; height: 20px; }
}

.app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked) + label::after, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked + label::after { font-size: 14px; top: 5px; left: 9px; width: 5px; height: 11px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:not(:checked) + label::after, .app-containers-Home-components-FlightBlockCard-styles__customCheckbox--32sgn:checked + label::after { left: 8px; top: 3px; }
}

.app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked) + label, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked + label { padding-left: 25px; font-size: 12px; line-height: 15px; }

.app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked) + label::before, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked + label::before { width: 15px; height: 15px; }

.app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked) + label::after, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked + label::after { font-size: 10px; left: 6px; top: 2px; width: 4px; height: 9px; }

.app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked) + label:hover, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked) + label:focus, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked + label:hover, .app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked + label:focus { color: rgb(0, 34, 68); }

.app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:not(:checked) + label { color: rgb(137, 137, 137); }

.app-containers-Home-components-FlightBlockCard-styles__customCheckboxSm--1BUcf:checked + label { color: rgb(0, 34, 68); }

.app-containers-Home-components-FlightBlockCard-styles__whiteAndBlackCustomCheckBox--1Up5q:checked + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-Home-components-FlightBlockCard-styles__whiteAndBlackCustomCheckBox--1Up5q:not(:checked) + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-Home-components-FlightBlockCard-styles__whiteAndBlackCustomCheckBox--1Up5q:checked + label::after { border-color: rgb(0, 0, 0); top: 5px; left: 10px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__whiteAndBlackCustomCheckBox--1Up5q:checked + label::after { top: 3px; left: 8px; }
}

.app-containers-Home-components-FlightBlockCard-styles__questionMarkToolTip--BFQDK::before { content: "?"; display: inline-block; vertical-align: top; text-align: center; font-weight: bold; width: 24px; height: 24px; font-size: 14px; line-height: 1.4; margin-top: 0px; margin-left: 8px; border: 1px solid rgb(255, 255, 255); border-radius: 50%; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); }

@media screen and (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__questionMarkToolTip--BFQDK::before { line-height: 1.3; margin-top: 4px; width: 16px; height: 16px; font-size: 10px; }
}

.app-containers-Home-components-FlightBlockCard-styles__floatingLabel--bxEAT { font-size: 12px; color: rgb(102, 102, 102); line-height: 13px; }

.app-containers-Home-components-FlightBlockCard-styles__formLink--1JJFW { font-size: 16px; text-decoration: underline; }

.app-containers-Home-components-FlightBlockCard-styles__formLink--1JJFW:hover { outline: rgb(33, 114, 186) dotted 1px; color: rgb(35, 82, 124); }

.app-containers-Home-components-FlightBlockCard-styles__fieldErrorMessage--WZZRS { position: absolute; bottom: 0px; color: rgb(213, 0, 50); letter-spacing: 0px; font-size: 13px; line-height: 1.5; text-align: center; }

@media screen and (min-width: 944px) {
  .app-containers-Home-components-FlightBlockCard-styles__fieldErrorMessage--WZZRS { font-size: 11px; }
}

.app-containers-Home-components-FlightBlockCard-styles__homepageTextField--3tFZp { line-height: 1; }

.app-containers-Home-components-FlightBlockCard-styles__homepageTextField--3tFZp label { color: rgb(0, 34, 68); text-transform: none; font-weight: bold; font-size: 12px; letter-spacing: 1px; margin-bottom: -1px; }

.app-containers-Home-components-FlightBlockCard-styles__homepageTextField--3tFZp input { transition: color 0.4s ease 0s; color: rgb(0, 34, 68); height: 46px; }

.app-containers-Home-components-FlightBlockCard-styles__homepageTextField--3tFZp input::-webkit-input-placeholder { text-transform: none; font-style: normal; font-weight: normal; }

.app-containers-Home-components-FlightBlockCard-styles__homepageTextField--3tFZp:focus { color: rgb(33, 114, 186); border-color: rgb(33, 114, 186); }

.app-containers-Home-components-FlightBlockCard-styles__homepageTextField--3tFZp:focus > label { color: rgb(33, 114, 186); }

.app-containers-Home-components-FlightBlockCard-styles__homepageTextField--3tFZp .atm-c-field-note.atm-c-textfield__note { position: absolute; margin: 0px; bottom: -24px; }

.app-containers-Home-components-FlightBlockCard-styles__homepageTextField--3tFZp .atm-c-field-note.atm-c-textfield__note svg { display: none; }

.app-containers-Home-components-FlightBlockCard-styles__cardElement---Q7Ue { min-height: 171px; }

.app-containers-Home-components-FlightBlockCard-styles__cardElement---Q7Ue .app-containers-Home-components-FlightBlockCard-styles__tripInfo--38t1R:not(:last-child) { border-bottom: 1px solid rgb(204, 204, 204); margin-bottom: 8px; }

.app-containers-Home-components-FlightBlockCard-styles__cardElement---Q7Ue .app-containers-Home-components-FlightBlockCard-styles__headingContainer--1ZSlt { display: flex; }

.app-containers-Home-components-FlightBlockCard-styles__confirmationNumber--3hFux { line-height: 24px; font-size: 14px; }

.app-containers-Home-components-FlightBlockCard-styles__flightBlock--38pKZ { padding: 0px; }

h5.app-containers-Home-components-FlightBlockCard-styles__cardTitle--3742O { margin-bottom: 0px; }

.app-containers-Home-components-FlightBlockCard-styles__departDate--3qqCm { font-size: 1rem; font-weight: 600; }

.app-containers-Home-components-FlightBlockCard-styles__stopDetailsContainer--3HQ1y { color: rgb(102, 102, 102); font-size: 0.75rem; text-align: center; padding: 0px 16px; margin-bottom: 8px; }

.app-containers-Home-components-FlightBlockCard-styles__stopDetailsContainer--3HQ1y strong { font-weight: 600; }

.app-containers-Home-components-FlightBlockCard-styles__stopDetailsContainer--3HQ1y .app-containers-Home-components-FlightBlockCard-styles__stopDetail---FCmd:not(:last-child) { margin-right: 8px; }

.app-containers-Home-components-FlightBlockCard-styles__customRadio--3A6z3 { cursor: pointer; }

.app-containers-Home-components-FlightBlockCard-styles__customRadio--3A6z3 input[type="radio"] { position: absolute; opacity: 0; }

.app-containers-Home-components-FlightBlockCard-styles__customRadio--3A6z3 input[type="radio"] + span { position: relative; text-transform: none; display: inline; margin-right: 0px; font-weight: normal; letter-spacing: normal; }

.app-containers-Home-components-FlightBlockCard-styles__customRadio--3A6z3 input[type="radio"] + span::before { content: ""; position: relative; top: 2px; display: inline-block; height: 16px; width: 16px; margin-right: 7px; background: rgba(0, 0, 0, 0); border: 2px solid rgb(0, 57, 100); border-radius: 8px; box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px inset; }

@media screen and (min-width: 1184px) {
  .app-containers-Home-components-FlightBlockCard-styles__customRadio--3A6z3 input[type="radio"] + span::before { box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px inset; }
}

.app-containers-Home-components-FlightBlockCard-styles__customRadio--3A6z3 input[type="radio"]:checked + span::before { background: rgb(0, 57, 100); }
