@charset "utf-8";

.app-containers-BaggageCalculator-styles__btnDefault--2gE6c { text-align: center; text-decoration: none; border-radius: 2px; height: 52px; line-height: 22px; width: 100%; font-size: 16px; }

@media (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__btnDefault--2gE6c { height: 56px; width: 160px; }
}

.app-containers-BaggageCalculator-styles__btnDefault--2gE6c:hover, .app-containers-BaggageCalculator-styles__btnDefault--2gE6c:focus { box-shadow: none; }

.app-containers-BaggageCalculator-styles__btnDefault--2gE6c:disabled, .app-containers-BaggageCalculator-styles__btnDefault--2gE6c[disabled] { box-shadow: none; border: none; background-color: rgb(230, 230, 230); color: rgb(102, 102, 102); }

.app-containers-BaggageCalculator-styles__primaryButton--3du8m { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); border: 1px solid rgb(33, 114, 186); box-shadow: rgb(102, 102, 102) -1px 1px 1px 0px; }

.app-containers-BaggageCalculator-styles__primaryButton--3du8m:hover, .app-containers-BaggageCalculator-styles__primaryButton--3du8m:focus { border: 1px solid rgb(0, 48, 87); box-shadow: none; }

.app-containers-BaggageCalculator-styles__ancillaryButton--3Gbx4, .app-containers-BaggageCalculator-styles__primaryButton--3du8m.app-containers-BaggageCalculator-styles__ancillaryButton--3Gbx4, .app-containers-BaggageCalculator-styles__btnDefault--2gE6c.app-containers-BaggageCalculator-styles__ancillaryButton--3Gbx4 { height: 30px; }

@media (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__ancillaryButton--3Gbx4, .app-containers-BaggageCalculator-styles__primaryButton--3du8m.app-containers-BaggageCalculator-styles__ancillaryButton--3Gbx4, .app-containers-BaggageCalculator-styles__btnDefault--2gE6c.app-containers-BaggageCalculator-styles__ancillaryButton--3Gbx4 { width: 160px; }
}

.app-containers-BaggageCalculator-styles__secondaryButton--3nWsR { background-color: rgb(237, 183, 43); color: rgb(0, 0, 0); border: 1px solid rgb(237, 183, 43); }

.app-containers-BaggageCalculator-styles__secondaryButton--3nWsR:hover { border: 1px solid rgb(0, 57, 100); box-shadow: none; }

.app-containers-BaggageCalculator-styles__inputFieldBorder--Ca809 { border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid rgb(102, 102, 102); background: rgba(0, 0, 0, 0); border-radius: 0px; }

.app-containers-BaggageCalculator-styles__textLink--4GZzs { font-size: 28px; letter-spacing: 0px; line-height: 18px; }

.app-containers-BaggageCalculator-styles__textLink--4GZzs:link { color: rgb(0, 34, 68); }

.app-containers-BaggageCalculator-styles__textLink--4GZzs:hover { color: rgb(33, 114, 186); border-bottom: 1px solid rgb(33, 114, 186); }

@media (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__textLink--4GZzs { font-size: 16px; }
}

.app-containers-BaggageCalculator-styles__textLinkCTA--2GC2E { letter-spacing: 0px; }

.app-containers-BaggageCalculator-styles__textLinkCTA--2GC2E:link { color: rgb(102, 102, 102); text-decoration: underline; }

.app-containers-BaggageCalculator-styles__textLinkCTA--2GC2E:hover { color: rgb(0, 0, 0); }

@media (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__textLinkCTA--2GC2E { line-height: 22px; }
}

.app-containers-BaggageCalculator-styles__inverse--1dNPB { background-color: rgb(33, 114, 186); border-radius: 2px; color: rgb(255, 255, 255); }

.app-containers-BaggageCalculator-styles__inverse--1dNPB.app-containers-BaggageCalculator-styles__secondary--3m63Q { color: rgb(237, 183, 43); }

.app-containers-BaggageCalculator-styles__inverse--1dNPB input[type="text"], .app-containers-BaggageCalculator-styles__inverse--1dNPB input[type="password"], .app-containers-BaggageCalculator-styles__inverse--1dNPB input[type="tel"], .app-containers-BaggageCalculator-styles__inverse--1dNPB input[type="number"] { color: rgb(255, 255, 255); }

.app-containers-BaggageCalculator-styles__inverse--1dNPB input[type="text"].app-containers-BaggageCalculator-styles__secondary--3m63Q, .app-containers-BaggageCalculator-styles__inverse--1dNPB input[type="password"].app-containers-BaggageCalculator-styles__secondary--3m63Q, .app-containers-BaggageCalculator-styles__inverse--1dNPB input[type="tel"].app-containers-BaggageCalculator-styles__secondary--3m63Q, .app-containers-BaggageCalculator-styles__inverse--1dNPB input[type="number"].app-containers-BaggageCalculator-styles__secondary--3m63Q { color: rgb(237, 183, 43); }

.app-containers-BaggageCalculator-styles__inverseDark--297YY { background-color: rgb(0, 34, 68); font-size: 16px; color: rgb(255, 255, 255); }

.app-containers-BaggageCalculator-styles__signInInput--1ddcL { font-size: 24px; letter-spacing: -0.2px; line-height: 32px; }

.app-containers-BaggageCalculator-styles__roundedButton--WeGLa, .app-containers-BaggageCalculator-styles__roundedButtonOn--9iOga, .app-containers-BaggageCalculator-styles__roundedButtonPrimary--1J166 { font-size: 16px; letter-spacing: 0px; border: 1px solid; border-radius: 200px; height: 72px; width: 94px; text-align: center; }

@media (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__roundedButton--WeGLa, .app-containers-BaggageCalculator-styles__roundedButtonOn--9iOga, .app-containers-BaggageCalculator-styles__roundedButtonPrimary--1J166 { border-radius: 100px; height: 35px; }
}

.app-containers-BaggageCalculator-styles__roundedButtonPrimary--1J166 { color: rgb(153, 153, 153); border: 2px solid rgb(211, 211, 211); }

@media (min-width: 1184px) {
  .app-containers-BaggageCalculator-styles__roundedButtonPrimary--1J166 { border: 1px solid rgb(211, 211, 211); }
}

.app-containers-BaggageCalculator-styles__roundedButtonPrimary--1J166:hover { color: rgb(102, 102, 102); border: 2px solid rgb(102, 102, 102); }

@media (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__roundedButtonPrimary--1J166:hover { border: 1px solid rgb(102, 102, 102); }
}

.app-containers-BaggageCalculator-styles__roundedButtonOn--9iOga { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); }

.app-containers-BaggageCalculator-styles__alert--cfRuM, .app-containers-BaggageCalculator-styles__highLevelAlert--1yQ2j, .app-containers-BaggageCalculator-styles__lowLevelAlert--QdUjk { border-radius: 3px; height: 60px; width: 100%; font-size: 16px; line-height: 18px; letter-spacing: 0px; padding-left: 55px; padding-top: 20px; }

.app-containers-BaggageCalculator-styles__lowLevelAlert--QdUjk { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }

.app-containers-BaggageCalculator-styles__highLevelAlert--1yQ2j { background-color: rgb(213, 0, 50); color: rgb(255, 255, 255); }

.app-containers-BaggageCalculator-styles__alertTriangle--2uyXz, .app-containers-BaggageCalculator-styles__low-alert-triangle--24cUW, .app-containers-BaggageCalculator-styles__highAlertTriangle--leNNP { padding-left: 48px; height: 19.96px; width: 22.01px; content: "!"; }

.app-containers-BaggageCalculator-styles__highAlertTriangle--leNNP { color: rgb(255, 255, 255); }

.app-containers-BaggageCalculator-styles__low-alert-triangle--24cUW { color: rgb(102, 102, 102); }

.app-containers-BaggageCalculator-styles__dropdown--hlZF3 { width: 100%; height: 100%; border: 1px solid rgb(229, 229, 229); }

@media (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__dropdown--hlZF3 { border-radius: 3px; border: 1px solid rgb(200, 200, 200); box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px; }
}

.app-containers-BaggageCalculator-styles__dropdownContent--1fZHW { font-size: 32px; line-height: 72px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-BaggageCalculator-styles__dropdownContent--1fZHW:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

@media (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__dropdownContent--1fZHW { font-size: 10px; line-height: 40px; }
}

.app-containers-BaggageCalculator-styles__dropdownExpand--3VraX { font-size: 24px; line-height: 44px; color: rgb(0, 34, 68); letter-spacing: 0px; }

@media (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__dropdownExpand--3VraX { font-size: 12px; line-height: 22px; }
}

.app-containers-BaggageCalculator-styles__simpleDropdownDefault--9-m0T, .app-containers-BaggageCalculator-styles__simpleDropdownOnBackground--BHdkz { border: 1px solid rgb(148, 148, 148); border-radius: 4px; font-size: 28px; color: rgb(51, 51, 51); letter-spacing: 0px; line-height: 24px; }

@media (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__simpleDropdownDefault--9-m0T, .app-containers-BaggageCalculator-styles__simpleDropdownOnBackground--BHdkz { font-size: 16px; color: rgb(0, 34, 68); border: none; }
  .app-containers-BaggageCalculator-styles__simpleDropdownDefault--9-m0T:hover, .app-containers-BaggageCalculator-styles__simpleDropdownOnBackground--BHdkz:hover { color: rgb(33, 114, 186); }
}

.app-containers-BaggageCalculator-styles__simpleDropdownOnBackground--BHdkz { opacity: 0.5; border: 1px solid rgb(255, 255, 255); border-radius: 6px; color: rgb(255, 255, 255); }

.app-containers-BaggageCalculator-styles__simpleDropdownActive--2ZZIX { font-size: 16px; line-height: 40px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-BaggageCalculator-styles__simpleDropdownActive--2ZZIX:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

.app-containers-BaggageCalculator-styles__simpleDropdownActive--2ZZIX:checked { color: rgb(0, 34, 68); }

.app-containers-BaggageCalculator-styles__checkboxWrapper--33vWW { position: relative; }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked), .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked), .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked { position: absolute; left: 0px; top: -1px; opacity: 0; }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked) + label, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked + label, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked) + label, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked + label { position: relative; cursor: pointer; font-size: 14px; }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked) + label::before, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked) + label::after, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked + label::before, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked + label::after, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked) + label::before, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked) + label::after, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked + label::before, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked + label::after { position: absolute; left: 0px; top: -1px; }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked) + label::before, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked + label::before, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked) + label::before, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked + label::before { content: ""; border: 2px solid rgb(0, 57, 100); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px inset; }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked) + label::after, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked + label::after, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked) + label::after, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked + label::after { content: ""; display: block; border-style: solid; border-color: rgb(255, 255, 255); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(45deg); position: absolute; text-align: center; }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked), .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:disabled) + label::after, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked), .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:disabled) + label::after { opacity: 0; border-color: rgb(0, 34, 68); }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked + label::after, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked + label::after { opacity: 1; border-color: rgb(255, 255, 255); }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked + label::before, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked + label::before { background: rgb(0, 34, 68); }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked) + label::before, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked) + label::before { background: rgb(255, 255, 255); }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:disabled:not(:checked) + label::before, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:disabled:checked + label::before, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:disabled:not(:checked) + label::before, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:disabled:checked + label::before { box-shadow: none; border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:disabled:checked + label::after, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:disabled:checked + label::after { color: rgb(153, 153, 153); }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:disabled + label, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:disabled + label { color: rgb(170, 170, 170); }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked:focus + label::before, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked):focus + label::before, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked:focus + label::before, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked):focus + label::before { outline: dotted 1px; }

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked) + label, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked + label { padding-left: 32px; line-height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked) + label, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked + label { padding-left: 26px; line-height: 18px; }
}

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked) + label::before, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked + label::before { width: 24px; height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked) + label::before, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked + label::before { width: 20px; height: 20px; }
}

.app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked) + label::after, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked + label::after { font-size: 14px; top: 5px; left: 9px; width: 5px; height: 11px; }

@media screen and (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:not(:checked) + label::after, .app-containers-BaggageCalculator-styles__customCheckbox--3xxG7:checked + label::after { left: 8px; top: 3px; }
}

.app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked) + label, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked + label { padding-left: 25px; font-size: 12px; line-height: 15px; }

.app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked) + label::before, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked + label::before { width: 15px; height: 15px; }

.app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked) + label::after, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked + label::after { font-size: 10px; left: 6px; top: 2px; width: 4px; height: 9px; }

.app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked) + label:hover, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked) + label:focus, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked + label:hover, .app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked + label:focus { color: rgb(0, 34, 68); }

.app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:not(:checked) + label { color: rgb(137, 137, 137); }

.app-containers-BaggageCalculator-styles__customCheckboxSm--3GGfD:checked + label { color: rgb(0, 34, 68); }

.app-containers-BaggageCalculator-styles__whiteAndBlackCustomCheckBox--2ltEa:checked + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-BaggageCalculator-styles__whiteAndBlackCustomCheckBox--2ltEa:not(:checked) + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-BaggageCalculator-styles__whiteAndBlackCustomCheckBox--2ltEa:checked + label::after { border-color: rgb(0, 0, 0); top: 5px; left: 10px; }

@media screen and (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__whiteAndBlackCustomCheckBox--2ltEa:checked + label::after { top: 3px; left: 8px; }
}

.app-containers-BaggageCalculator-styles__questionMarkToolTip--LAlVU::before { content: "?"; display: inline-block; vertical-align: top; text-align: center; font-weight: bold; width: 24px; height: 24px; font-size: 14px; line-height: 1.4; margin-top: 0px; margin-left: 8px; border: 1px solid rgb(255, 255, 255); border-radius: 50%; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); }

@media screen and (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__questionMarkToolTip--LAlVU::before { line-height: 1.3; margin-top: 4px; width: 16px; height: 16px; font-size: 10px; }
}

.app-containers-BaggageCalculator-styles__floatingLabel--3a86q { font-size: 12px; color: rgb(102, 102, 102); line-height: 13px; }

.app-containers-BaggageCalculator-styles__formLink--2HQNf { font-size: 16px; text-decoration: underline; }

.app-containers-BaggageCalculator-styles__formLink--2HQNf:hover { outline: rgb(33, 114, 186) dotted 1px; color: rgb(35, 82, 124); }

.app-containers-BaggageCalculator-styles__fieldErrorMessage--2JmpG { position: absolute; bottom: 0px; color: rgb(213, 0, 50); letter-spacing: 0px; font-size: 13px; line-height: 1.5; text-align: center; }

@media screen and (min-width: 944px) {
  .app-containers-BaggageCalculator-styles__fieldErrorMessage--2JmpG { font-size: 11px; }
}

.app-containers-BaggageCalculator-styles__homepageTextField--2--mf { line-height: 1; }

.app-containers-BaggageCalculator-styles__homepageTextField--2--mf label { color: rgb(0, 34, 68); text-transform: none; font-weight: bold; font-size: 12px; letter-spacing: 1px; margin-bottom: -1px; }

.app-containers-BaggageCalculator-styles__homepageTextField--2--mf input { transition: color 0.4s ease 0s; color: rgb(0, 34, 68); height: 46px; }

.app-containers-BaggageCalculator-styles__homepageTextField--2--mf input::-webkit-input-placeholder { text-transform: none; font-style: normal; font-weight: normal; }

.app-containers-BaggageCalculator-styles__homepageTextField--2--mf:focus { color: rgb(33, 114, 186); border-color: rgb(33, 114, 186); }

.app-containers-BaggageCalculator-styles__homepageTextField--2--mf:focus > label { color: rgb(33, 114, 186); }

.app-containers-BaggageCalculator-styles__homepageTextField--2--mf .atm-c-field-note.atm-c-textfield__note { position: absolute; margin: 0px; bottom: -24px; }

.app-containers-BaggageCalculator-styles__homepageTextField--2--mf .atm-c-field-note.atm-c-textfield__note svg { display: none; }

.app-containers-BaggageCalculator-styles__container--1oAoh { height: auto; min-height: 660px; background-color: rgb(255, 255, 255); padding: 24px; }

.app-containers-BaggageCalculator-styles__container--1oAoh .app-containers-BaggageCalculator-styles__content--1zW4t { max-width: 1136px; margin: 0px auto; }

.app-containers-BaggageCalculator-styles__container--1oAoh a:focus, .app-containers-BaggageCalculator-styles__container--1oAoh button:focus { outline: rgb(98, 68, 187) solid 4px; }

.app-containers-BaggageCalculator-styles__container--1oAoh .atm-c-text-input:focus { box-shadow: rgb(98, 68, 187) 0px 0px 0px 2px inset; border-color: rgba(0, 0, 0, 0); }

.app-containers-BaggageCalculator-styles__noUnderlineInTabs--3oeGJ a.atm-c-tabs__link { text-decoration: none; }

.app-containers-BaggageCalculator-styles__breathe--1pV3F { margin-bottom: 30px; }

.app-containers-BaggageCalculator-styles__srOnly--Z9L7z { height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); position: absolute !important; }
