@charset "utf-8";

.app-components-ListBox-ListBox__listbox--2-kSS { position: relative; display: flex; flex-direction: column; }

.app-components-ListBox-ListBox__listbox--2-kSS:hover .app-components-ListBox-ListBox__listboxLabel--2kquh { color: rgb(33, 114, 186); }

.app-components-ListBox-ListBox__modalContainer--X4AuP { position: fixed; display: block; inset: 0px; height: 100%; overflow-y: auto; background: rgb(255, 255, 255); }

.app-components-ListBox-ListBox__listBoxMainButton--6Hfoi { width: 100%; position: relative; background-color: rgba(0, 0, 0, 0); color: rgb(0, 34, 68); letter-spacing: 0px; line-height: 1; transition: border-color 0.4s ease 0s, color 0.4s ease 0s; border: none; font-size: 24px; padding: 11px 30px 0px 0px; text-align: left; height: 50px; outline: none; }

.app-components-ListBox-ListBox__listBoxMainButton--6Hfoi.app-components-ListBox-ListBox__withEllipsis--1eyPM > div { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

@media screen and (min-width: 944px) {
  .app-components-ListBox-ListBox__listBoxMainButton--6Hfoi { height: 46px; }
}

.app-components-ListBox-ListBox__listBoxMainButton--6Hfoi.app-components-ListBox-ListBox__withBorder--2ZPqA { border-bottom: 1px solid rgb(102, 102, 102); }

.app-components-ListBox-ListBox__listBoxMainButton--6Hfoi.app-components-ListBox-ListBox__isBlack--2whev { color: rgb(0, 0, 0); }

.app-components-ListBox-ListBox__listBoxMainButton--6Hfoi.app-components-ListBox-ListBox__withErrorBorder--1-gym { border-bottom: 1px solid rgb(213, 0, 50); }

@media screen and (max-width: 944px) {
  .app-components-ListBox-ListBox__listBoxMainButton--6Hfoi.app-components-ListBox-ListBox__withFullBorder--YxIQL { border: 1px solid rgb(0, 0, 0); border-radius: 4px; padding-left: 6px; }
}

.app-components-ListBox-ListBox__listBoxMainButton--6Hfoi:hover, .app-components-ListBox-ListBox__listBoxMainButton--6Hfoi:focus { color: rgb(33, 114, 186); border-color: rgb(33, 114, 186); border-width: 2px; }

.app-components-ListBox-ListBox__listBoxMainButton--6Hfoi:hover + .app-components-ListBox-ListBox__listboxLabel--2kquh, .app-components-ListBox-ListBox__listBoxMainButton--6Hfoi:focus + .app-components-ListBox-ListBox__listboxLabel--2kquh { color: rgb(33, 114, 186); }

.app-components-ListBox-ListBox__listBoxMainButton--6Hfoi.app-components-ListBox-ListBox__dynamicFont--Sc02h { font-size: calc(-0.0331126vw + 17.4351px); }

.app-components-ListBox-ListBox__listBoxMainButton--6Hfoi.app-components-ListBox-ListBox__bigFont--1BMQW { font-size: 32px; }

.app-components-ListBox-ListBox__listBoxMainButton--6Hfoi.app-components-ListBox-ListBox__smallFont--3qtIt { font-size: 16px; }

.app-components-ListBox-ListBox__listBoxMainButton--6Hfoi.app-components-ListBox-ListBox__smallFont--3qtIt.app-components-ListBox-ListBox__withEllipsis--1eyPM > div { line-height: 20px; }

@media screen and (min-width: 944px) {
  .app-components-ListBox-ListBox__listBoxMainButton--6Hfoi.app-components-ListBox-ListBox__shorterOnDesktop--1_8VT { min-height: 43px; }
}

.app-components-ListBox-ListBox__midFont--3Enf8 { font-size: 20px; line-height: 1.2; }

.app-components-ListBox-ListBox__listBoxExpandableContainer--1Ej5Y { position: absolute; margin-top: 8px; left: 0px; right: 0px; top: 100%; background-color: rgb(255, 255, 255); border: 1px solid rgb(102, 102, 102); box-shadow: rgb(51, 51, 51) -1px 1px 1px 0px; border-radius: 5px; z-index: 10; overflow-y: auto; }

.app-components-ListBox-ListBox__listBoxExpandableContainer--1Ej5Y.app-components-ListBox-ListBox__listBoxExpandableContainerHidden--3ODPi { display: none; }

.app-components-ListBox-ListBox__listBoxExpandableContainer--1Ej5Y.app-components-ListBox-ListBox__listBoxExpandableContainerCompact--2Dy3u { right: inherit; margin-top: 8px; min-width: 180px; }

@media screen and (min-width: 944px) {
  .app-components-ListBox-ListBox__listBoxExpandableContainer--1Ej5Y.app-components-ListBox-ListBox__listBoxExpandableContainerWide--1NSI3 { width: calc(100% + 30px); }
}

@media screen and (max-width: 944px) {
  .app-components-ListBox-ListBox__listBoxExpandableContainer--1Ej5Y { position: fixed; top: 0px; bottom: 0px; margin: 0px; }
  .app-components-ListBox-ListBox__listBoxExpandableContainer--1Ej5Y .app-components-ListBox-ListBox__closeDialogContainer--1x_6K { display: block; }
  .app-components-ListBox-ListBox__listBoxExpandableContainer--1Ej5Y .app-components-ListBox-ListBox__listBoxExpandable--38-ZN { max-height: 100vh; overflow: visible; }
}

.app-components-ListBox-ListBox__listBoxExpandable--38-ZN { max-height: 200px; overflow-y: auto; list-style: none; margin: 0px; padding: 0px; outline: none; }

.app-components-ListBox-ListBox__listBoxOption--31Teu { padding: 16px 32px 16px 16px; position: relative; }

.app-components-ListBox-ListBox__listBoxOption--31Teu.app-components-ListBox-ListBox__listBoxOptionDisabled--1vABM { pointer-events: none; color: rgb(170, 170, 170); }

@media screen and (max-width: 944px) {
  .app-components-ListBox-ListBox__listBoxOption--31Teu { padding: 13px 42px 13px 16px; }
}

.app-components-ListBox-ListBox__listBoxOption--31Teu.app-components-ListBox-ListBox__listBoxOptionHighlighted--3mJv- { background-color: rgb(242, 249, 252); }

.app-components-ListBox-ListBox__listBoxOption--31Teu.app-components-ListBox-ListBox__listBoxOptionSelected--bIivP::after { content: ""; display: block; width: 5px; height: 9px; border-style: solid; border-color: rgb(0, 0, 0); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(45deg); position: absolute; right: 16px; top: calc(50% - 5px); }

@media screen and (max-width: 944px) {
  .app-components-ListBox-ListBox__listBoxOption--31Teu.app-components-ListBox-ListBox__listBoxOptionSelected--bIivP::after { right: 32px; }
}

.app-components-ListBox-ListBox__listBoxOption--31Teu.app-components-ListBox-ListBox__listBoxWordBreaking--tqreV { word-break: break-all; }

.app-components-ListBox-ListBox__dropdownArrow--km0Ko { position: absolute; right: 12px; pointer-events: none; }

.app-components-ListBox-ListBox__dropdownArrow--km0Ko.app-components-ListBox-ListBox__dropdownArrowOpen--3F_ec { border-style: solid; border-color: rgb(0, 34, 68); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(225deg); width: 12px; height: 12px; top: calc(50% - 4px); }

.app-components-ListBox-ListBox__dropdownArrow--km0Ko.app-components-ListBox-ListBox__dropdownArrowClosed--3Lgf8 { border-style: solid; border-color: rgb(0, 34, 68); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(45deg); width: 12px; height: 12px; top: calc(50% - 9px); }

.app-components-ListBox-ListBox__dropdownArrow--km0Ko.app-components-ListBox-ListBox__dropdownArrowDisabled--bg91C { border-style: solid; border-color: rgb(204, 204, 204); border-image: initial; border-width: 0px 2px 2px 0px; }

.app-components-ListBox-ListBox__closeDialogContainer--1x_6K { display: none; text-align: right; border-bottom: 1px solid rgb(204, 204, 204); }

.app-components-ListBox-ListBox__closeDialog--1HRJJ { display: inline-block; padding: 16px 24px 16px 16px; line-height: 0; color: rgb(0, 0, 0); }

.app-components-ListBox-ListBox__closeDialogIcon--r04pr { width: 16px; height: 16px; }

.app-components-ListBox-ListBox__listboxLabel--2kquh { display: block; transition: color 0.4s ease 0s; color: rgb(0, 34, 68); text-transform: none; order: -1; }

.app-components-ListBox-ListBox__listboxLabel--2kquh.app-components-ListBox-ListBox__isBlack--2whev { color: rgb(0, 0, 0); }

.app-components-ListBox-ListBox__listboxLabel--2kquh.app-components-ListBox-ListBox__withMargin--3nkos { margin-bottom: 5px; }

@media screen and (max-width: 944px) {
  .app-components-ListBox-ListBox__listboxLabel--2kquh.app-components-ListBox-ListBox__withMargin--3nkos { margin-bottom: 15px; }
}

.app-components-ListBox-ListBox__isUppercase--cLw1j { text-transform: uppercase; }

div.app-components-ListBox-ListBox__rootUpdatedStyle--39mNN { position: relative; }

div.app-components-ListBox-ListBox__rootUpdatedStyle--39mNN .app-components-ListBox-ListBox__listboxLabel--2kquh { font-size: 12px; color: rgb(98, 68, 187); font-weight: normal; }

div.app-components-ListBox-ListBox__rootUpdatedStyle--39mNN:hover .app-components-ListBox-ListBox__listboxLabel--2kquh { color: rgb(98, 68, 187); }

div.app-components-ListBox-ListBox__rootUpdatedStyle--39mNN button.app-components-ListBox-ListBox__placeholderUpdatedStyle--3gnNF:hover { color: rgb(98, 68, 187); }

button.app-components-ListBox-ListBox__buttonUpdatedStyle--31K-d { color: rgb(102, 102, 102); padding: 14px 30px 1px 3px; line-height: 1.2; }

@media screen and (min-width: 944px) {
  button.app-components-ListBox-ListBox__buttonUpdatedStyle--31K-d { height: 47px; }
}

button.app-components-ListBox-ListBox__buttonUpdatedStyle--31K-d.app-components-ListBox-ListBox__withBorder--2ZPqA { border-bottom: 1px solid rgba(0, 0, 0, 0.42); }

button.app-components-ListBox-ListBox__buttonUpdatedStyle--31K-d.app-components-ListBox-ListBox__isBlack--2whev { color: rgb(102, 102, 102); }

button.app-components-ListBox-ListBox__buttonUpdatedStyle--31K-d:hover, button.app-components-ListBox-ListBox__buttonUpdatedStyle--31K-d:focus { color: rgb(98, 68, 187); border-color: rgb(98, 68, 187); }

button.app-components-ListBox-ListBox__buttonUpdatedStyle--31K-d:disabled { color: rgb(204, 204, 204); background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(204, 204, 204); }

div.app-components-ListBox-ListBox__expandableContainerUpdatedStyle--1R93M { box-shadow: none; border-radius: 0px; }
