@charset "utf-8";

.app-containers-CurrencyExchangeRate-ToolTip-styles__container--3dQiz { margin-left: 8px; text-align: left; }

.app-containers-CurrencyExchangeRate-ToolTip-styles__content--3TQdB .atm-c-tooltip__content { right: 0px; left: auto; width: 300px; }

.app-containers-CurrencyExchangeRate-ToolTip-styles__noContent--rb8HA .atm-c-tooltip__content { right: 0px; left: auto; width: 150px; }

.app-containers-CurrencyExchangeRate-ToolTip-styles__loading--3F-JX svg { fill: rgb(255, 255, 255); height: 40px; }
