@charset "utf-8";

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__formContainer--PjF4r { max-width: 630px; padding-top: 32px; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__formContainer--PjF4r .app-containers-BaggageCalculator-Forms-AnyFlight-styles__row--ojXQK { display: flex; margin-bottom: 40px; flex-direction: column; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__formContainer--PjF4r .app-containers-BaggageCalculator-Forms-AnyFlight-styles__row--ojXQK:not(.app-containers-BaggageCalculator-Forms-AnyFlight-styles__fullRow--1BcWC) > * { width: 100%; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__formContainer--PjF4r .app-containers-BaggageCalculator-Forms-AnyFlight-styles__row--ojXQK:not(.app-containers-BaggageCalculator-Forms-AnyFlight-styles__fullRow--1BcWC) > :first-child { margin-bottom: 40px; }

@media screen and (min-width: 720px) {
  .app-containers-BaggageCalculator-Forms-AnyFlight-styles__formContainer--PjF4r .app-containers-BaggageCalculator-Forms-AnyFlight-styles__row--ojXQK { flex-direction: row; }
  .app-containers-BaggageCalculator-Forms-AnyFlight-styles__formContainer--PjF4r .app-containers-BaggageCalculator-Forms-AnyFlight-styles__row--ojXQK:not(.app-containers-BaggageCalculator-Forms-AnyFlight-styles__fullRow--1BcWC) > * { width: calc(50% - 8px); }
  .app-containers-BaggageCalculator-Forms-AnyFlight-styles__formContainer--PjF4r .app-containers-BaggageCalculator-Forms-AnyFlight-styles__row--ojXQK:not(.app-containers-BaggageCalculator-Forms-AnyFlight-styles__fullRow--1BcWC) > :first-child { margin-right: 16px; margin-bottom: 0px; }
}

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__formContainer--PjF4r .app-containers-BaggageCalculator-Forms-AnyFlight-styles__checkboxFix--vNMmY input { z-index: 2; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__breatheInAndOut--1s0l7 { margin-bottom: 40px; margin-top: 40px; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__breathe--3YR3B { margin-bottom: 40px; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__input--YJj2e input[type="text"] { font-size: 1rem; line-height: 1.5; font-family: inherit; width: 100%; border: 1px solid gray; border-radius: 4px; padding: 0.5rem; color: rgb(0, 0, 0); transition: box-shadow 0.15s ease-out 0s, border-color 0.15s ease-out 0s; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__fixme--RqgU3 select { height: 46px; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__noInnerMargin--1SOnW p { margin: 0px; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__disclaimerContainer--1An43:not(:empty) { margin-bottom: 32px; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__disclaimerContainer--1An43 .app-containers-BaggageCalculator-Forms-AnyFlight-styles__disclaimer--1Lq-V { margin-top: 0px; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__disclaimerContainer--1An43 .app-containers-BaggageCalculator-Forms-AnyFlight-styles__disclaimer--1Lq-V:last-child { margin-bottom: 0px; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__disclaimerContainerTop--6Af0_ { border-radius: 5px; display: flex; align-items: center; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__disclaimerContainerTop--6Af0_ img { margin-right: 45px; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__disclaimerContainerTop--6Af0_ h3 { margin-bottom: 10px; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__disclaimerContainerTop--6Af0_ p { margin: 0px; }

.app-containers-BaggageCalculator-Forms-AnyFlight-styles__disclaimerContainerTop--6Af0_:not(:empty) { padding: 18px 26px; margin-bottom: 32px; }
