@charset "utf-8";

.services-container { transition: background-color 100ms ease-in-out 0s, padding-bottom 100ms ease-in-out 0s, margin-bottom 100ms ease-in-out 0s, margin-top 100ms ease-in-out 0s; }

.services-container-color-background { background-color: rgb(211, 251, 255); padding-bottom: 8px; margin-bottom: 8px; margin-top: 0px; }

.partner-error-service-cards .services-container-color-background { margin-top: 0px; }

.service-cards-container { padding-top: 16px; margin-bottom: 16px; }

@media (min-width: 540px) {
  .service-cards-container { margin-top: 0px; }
}

@media (min-width: 540px) {
  .partner-error-service-cards .service-cards-container { margin-top: 0px; }
}

.service-cards-all-other { padding-top: 8px; }

@media (min-width: 540px) {
  .service-cards-all-other { padding-top: 16px; }
}
