@charset "utf-8";

.suggestion__current-location-link { color: rgb(2, 2, 234); fill: rgb(2, 2, 234); }

.search-attribution { padding-bottom: 25px !important; }

.search-attribution--hg { padding-bottom: 10px !important; }

.search-attribution--hg::after { height: 0px; width: 0px; }

.search-attribution::after { content: ""; height: 22px; width: 100%; right: 0px; display: inline-block; position: absolute; background: url("//d26ua9paks4zq.cloudfront.net/c0/f4/bd502bd84b3c83d0f5f62c43867a/image-search-attribution.png") center -88px no-repeat rgb(255, 255, 255); }

@media (min-width: 768px) {
  .search-attribution::after { right: 0.75rem; width: 150px; }
}

.search-attribution--google::after { background-position: center 2px; }

.search-attribution--osm::after { background-position: center -19px; }

.search-attribution--zillow::after { background-position: center -40px; }

.search-attribution--open-address::after { content: "Data collected by OpenAddresses"; width: auto; right: 1rem; font-size: 0.75rem; color: rgb(98, 99, 102); background: none; }
