@charset "utf-8";

.login-container { width: 100%; }

.login-title { text-align: center; margin-bottom: 40px; }

.login-email { margin-bottom: 12px; }

.login-password { margin-bottom: 8px; }

.login-reset-password { text-align: right; margin-bottom: 16px; }

.login-button { width: 100%; }

.login-privacy-policy { text-align: center; margin-bottom: 24px; }

.login-divider { border: 0px; height: 2px; background: rgb(227, 227, 227); margin-bottom: 24px; }

.icon-circle-background { margin-bottom: 8px; }

.login-oas-title { margin-bottom: 16px; }

.login-oas-create-message { text-align: center; margin-bottom: 24px; }

.login-oas-create-account { text-align: center; }

.login-create-account-cta { width: 100%; margin-bottom: 24px; }

.login-divider-oas { border: 0px; height: 2px; background: rgb(227, 227, 227); margin: 24px 0px; }

.login-error { color: rgb(236, 88, 91); font-size: 0.875rem; margin-bottom: 16px; }
