@charset "utf-8";

.warning-message { color: rgb(236, 88, 91); padding-top: 4px; margin-bottom: 8px; }

@media (min-width: 540px) {
  .warning-message { margin-bottom: 24px; }
}

.warning-message.warning-message-show { visibility: visible; }

.warning-message.warning-message-hide { visibility: hidden; }
