@charset "utf-8";

.simpleSpinner-mo_👩‍👧‍👧____1mv5o { font-size: 0.75rem; }

.simpleSpinner-mo_👨🏿‍⚖️____1L2gX { font-size: 1rem; }

.simpleSpinner-mo_🏖️____3iWXu { font-size: 1.5rem; }

.simpleSpinner-mo_👴🏾____2FXA- { font-size: 2rem; }

.simpleSpinner-mo_🇱🇨____z5fVw { font-size: 2.5rem; }

.simpleSpinner-mo_📢____JwZFa { display: block; animation: 2s linear 0s infinite normal none running simpleSpinner-mo_😖____1Z_J9; min-width: 1em; min-height: 1em; width: 1em; height: 1em; }

.simpleSpinner-mo_📢____JwZFa circle { stroke-dasharray: 65, 131; stroke-dashoffset: 0; animation: 2s ease-in-out 0s infinite normal none running simpleSpinner-mo_🙎🏽‍♂️____u47dd; }

@keyframes simpleSpinner-mo_😖____1Z_J9 { 
  100% { transform: rotate(360deg); }
}

@keyframes simpleSpinner-mo_🙎🏽‍♂️____u47dd { 
  0% { stroke-dasharray: 1, 131; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 102, 131; stroke-dashoffset: -44px; }
  100% { stroke-dasharray: 88, 131; stroke-dashoffset: -131px; }
}
