@charset "utf-8";

.card-mo_⛷🏿____3keTj { background: rgb(255, 255, 255); border: 1px solid rgb(227, 227, 227); border-radius: 0.125rem; margin-bottom: 1rem; padding: 1rem 1.125rem; position: relative; }

.card-mo_⛷🏿____3keTj.card-mo_🤸🏽____300cD { border-color: transparent; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; transition: box-shadow 250ms ease 0s; }

.card-mo_⛷🏿____3keTj.card-mo_🤸🏽____300cD:hover, .card-mo_⛷🏿____3keTj.card-mo_🤸🏽____300cD:focus-within { box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px; }

.card-mo_🌘____2YLqr { inset: 0px; position: absolute; }

.card-mo_🇳🇦____15jvz { pointer-events: none; }

.card-mo_🇳🇦____15jvz a, .card-mo_🇳🇦____15jvz button { pointer-events: all; position: relative; }
