@charset "utf-8";

.autosuggester__suggestions { position: absolute; width: 100%; left: 0px; padding: 0px; margin: 0px; list-style: none; background: rgb(255, 255, 255); line-height: 1.25; z-index: 1000001; overflow: auto; text-align: left; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; }

.autosuggester__suggestions .suggestion__suggestion-info { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; }

.sub-suggestion { position: relative; padding-left: 5px; }

.sub-suggestion div { margin-left: 20px; }

.sub-suggestion::before { content: " ●"; display: inline-block; position: absolute; font-size: 17px; top: 7px; left: 16px; color: rgb(227, 227, 227); }

.sub-suggestion::after { content: ""; position: absolute; left: 20px; top: 0px; height: 100%; width: 1px; background: rgb(227, 227, 227); }

.sub-suggestion--last::after { height: 50%; }

.sub-suggestion--first::after { top: 20px; height: 50%; }

.suggestion { display: flex; padding: 0.5em 1em; color: rgb(98, 99, 102); -webkit-tap-highlight-color: rgb(247, 247, 247); cursor: pointer; line-height: initial; }

.suggestion--Provider, .suggestion--Facility, .suggestion--Practice { display: flex; align-items: center; padding: 0.375em 1em; }

.suggestion__image { height: 48px; width: 36px; margin-right: 1rem; }

.suggestion__image.--placeholder { display: flex; justify-content: center; align-items: center; background: rgb(227, 227, 227); color: rgb(159, 161, 162); }

.suggestion__suggestion-info { flex: 1 1 0%; }

.suggestion__suggestion-icon { padding-left: 0.5rem; padding-top: 0.25rem; }

@media (min-width: 768px) {
  .suggestion__suggestion-icon { display: none; }
}

.suggestion--category-title { font-size: 0.875rem; font-weight: 500; color: rgb(0, 0, 80); border-top: 1px solid rgb(227, 227, 227); padding-top: 1rem; margin-top: 0.75rem; }

.suggestion--category-title:first-of-type { border-top: none; margin-top: 0px; }

.suggestion--category-title .suggestion__suggestion-icon { display: none; }

.--has-borders .suggestion { border-width: 0px 1px 1px; border-color: rgb(227, 227, 227); border-style: solid; }

.suggestion--is-highlighted:not(.suggestion--category-title):not(.suggestion--help-text) { background: rgb(247, 247, 247); }

.suggestion:hover:not(.suggestion--category-title):not(.suggestion--help-text) { background: rgb(247, 247, 247); }

.suggestion .name, .suggestion .specialty, .suggestion .location { padding: 0px 0.5em; }

.suggestion .name:first-of-type, .suggestion .specialty:first-of-type, .suggestion .location:first-of-type { padding-left: 0px; }

.suggestion .specialist-info { font-size: 0.875rem; color: rgb(159, 161, 162); }

.suggestion em { font-style: normal; font-weight: 500; }

.suggestion-info__details { margin-top: 0.25em; font-size: 0.875rem; }

.suggestion-info__suggestion-primary-name { align-items: flex-end; display: flex; font-size: 0.875rem; }

.suggestion-primary-name__related-icon { position: relative; top: 0.25rem; margin-right: 0.25rem; font-size: 1.5rem; line-height: 0; }
