@charset "utf-8";

.innerInput-mo_💪____1XvN7 { align-items: center; display: inline-flex; }

.innerInput-mo_🤽🏾‍♀️____KXcWc { display: grid; justify-items: center; row-gap: 0.25rem; }

.innerInput-mo_🦖____2wXQr { display: flex; column-gap: 0.75rem; }

.innerInput-mo_👱🏼‍♀️____19Zl3 { display: flex; cursor: pointer; }

.innerInput-mo_👱🏼‍♀️____19Zl3:focus-within { outline: -webkit-focus-ring-color auto 5px; }

.innerInput-mo_🇲🇱____1i1of { }

.innerInput-mo_🚵🏻‍♂️____yNwnW { color: rgb(205, 208, 209); }

.innerInput-mo_🧚🏿____aLkS7 .innerInput-mo_🚵🏻‍♂️____yNwnW { color: rgb(255, 199, 79); opacity: 1; }

.innerInput-mo_👱🏼‍♀️____19Zl3:first-child .innerInput-mo_🚵🏻‍♂️____yNwnW { margin-left: -0.125em; }

.innerInput-mo_👱🏼‍♀️____19Zl3:last-child .innerInput-mo_🚵🏻‍♂️____yNwnW { margin-right: -0.125em; }

.innerInput-mo_🇲🇱____1i1of ~ .innerInput-mo_👱🏼‍♀️____19Zl3 .innerInput-mo_🚵🏻‍♂️____yNwnW { color: rgb(205, 208, 209); }

.innerInput-mo_💪____1XvN7:hover .innerInput-mo_🚵🏻‍♂️____yNwnW { color: rgb(255, 199, 79); opacity: 1; }

.innerInput-mo_👱🏼‍♀️____19Zl3:hover ~ .innerInput-mo_👱🏼‍♀️____19Zl3 .innerInput-mo_🚵🏻‍♂️____yNwnW { color: rgb(205, 208, 209); }

.innerInput-mo_🕺🏼____3kN6s { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px; }

.innerInput-mo_👨‍👧‍👧____11H5k .innerInput-mo_👱🏼‍♀️____19Zl3 { display: inline-block; }

.innerInput-mo_🇻🇮____1rsyD { display: inline-flex; }

.innerInput-mo_🚵🏾____3Be1W.innerInput-mo_🧼____3Henb { font-size: 0.5rem; }

.innerInput-mo_🚵🏾____3Be1W.innerInput-mo_🧍🏽____1TekG { font-size: 0.625rem; }

.innerInput-mo_🚵🏾____3Be1W.innerInput-mo_💩____NwHul { font-size: 0.875rem; }

.innerInput-mo_🚵🏾____3Be1W.innerInput-mo_📕____2YW2a { font-size: 0.875rem; }

.innerInput-mo_🚵🏾____3Be1W.innerInput-mo_🇨🇼____2K_p- { font-size: 1.5rem; }
