@charset "utf-8";

.card-empty { border: none; width: 100%; height: 242px; }

.partner-card { padding: 16px; margin-bottom: 32px; border-color: transparent; box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px; transition: box-shadow 250ms ease 0s; }

.partner-card p { margin-bottom: 8px; }

.partner-card .partner-info { display: flex; flex-direction: row; justify-content: space-between; }

.partner-card .partner-info .partner-details { display: flex; flex-direction: column; }

.partner-card .partner-info .partner-visit { display: flex; flex-direction: column; align-items: flex-end; }

.partner-card .partner-info .partner-visit .partner-logo { margin-bottom: 16px; width: 170px; }

@media (min-width: 768px) {
  .partner-card .partner-star-rating { display: inline-flex; }
}

.partner-card .partner-star-rating .rating-average-desktop { display: none; }

@media (min-width: 540px) {
  .partner-card .partner-star-rating .rating-average-desktop { display: block; }
}

.partner-card .rating-average-mobile { margin-top: 8px; display: block; }

@media (min-width: 540px) {
  .partner-card .rating-average-mobile { display: none; }
}

.partner-card .partner-price { margin-top: 8px; }

@media (min-width: 540px) {
  .partner-card .partner-price { text-align: right; margin-top: 0px; }
}

.partner-card .partner-bottom-section { display: flex; flex-direction: column; margin-top: 14px; }

@media (min-width: 540px) {
  .partner-card .partner-bottom-section { justify-content: space-between; flex-direction: row; margin-top: 0px; }
}

.partner-card .partner-bottom-section .partner-features { max-width: 520px; margin-bottom: 32px; }

@media (min-width: 540px) {
  .partner-card .partner-bottom-section .partner-features { margin-bottom: 0px; }
}

.partner-card .partner-bottom-section .partner-features .partner-feature-list { margin-top: 0px; margin-bottom: 0px; padding-left: 18px; }

.partner-card .partner-bottom-section .partner-features .provider-availability { display: flex; flex-direction: row; color: rgb(98, 99, 102); }

.partner-card .partner-bottom-section .partner-features .clock-icon { margin-bottom: -6px; margin-right: 8px; }

.partner-card .partner-bottom-section .partner-features .factory-icon { margin-bottom: -6px; }

.partner-card .partner-bottom-section .partner-features .availability-emphasis { font-weight: 500; }

.partner-card .partner-bottom-section .visit-start-button { width: 150px; margin: auto; flex-shrink: 0; }

@media (min-width: 540px) {
  .partner-card .partner-bottom-section .visit-start-button { margin: 0px; align-self: flex-end; }
}
