@charset "utf-8";

.innerDisplay-mo_🆕____s6RLV { display: inline-block; position: relative; }

.innerDisplay-mo_🆕____s6RLV svg:first-child { margin-left: -0.125em; }

.innerDisplay-mo_🆕____s6RLV svg:last-child { margin-right: -0.125em; }

.innerDisplay-mo_💇‍♂️____3U-mf { color: rgb(205, 208, 209); }

.innerDisplay-mo_🚴‍♀️____QqtdQ { position: absolute; top: 0px; left: 0px; color: rgb(255, 199, 79); }

.innerDisplay-mo_💇‍♂️____3U-mf, .innerDisplay-mo_🚴‍♀️____QqtdQ { display: flex; }
