@charset "utf-8";

.services-container { margin-top: 0px; }

@media (min-width: 540px) {
  .services-container { margin-bottom: 0px; }
}

.services-type-header-location-holder { min-height: 60px; }

@media (min-width: 540px) {
  .services-type-header-location-holder { min-height: 32px; }
}

.services-type-header-holder { margin-bottom: 16px; }

@media (min-width: 540px) {
  .services-type-header-holder { margin-bottom: 0px; }
}

.services-type-header { margin-bottom: 0px; color: rgb(0, 0, 80); display: inline-block; }

@media (min-width: 540px) {
  .services-type-header { margin-bottom: 24px; }
}

.header-location { display: inline-block; }

.services-holder { margin-left: -1rem; margin-right: -1rem; }

@media (min-width: 1200px) {
  .services-holder { margin-left: -20px; margin-right: -20px; }
}

@media (min-width: 540px) {
  .services-holder { display: flex; flex-wrap: wrap; }
}

.partner-related-service-cards .services-holder { margin-bottom: 16px; }

@media (min-width: 540px) {
  .partner-related-service-cards .services-holder { margin-bottom: 0px; }
}
