@charset "utf-8";

.optout-notice-wrapper { width: 100%; display: none; position: relative; }

.optout-notice-container { padding: 24px 48px 24px 24px; }

.meeting-disabledpmi-alert { min-width: 415px; }

.meeting-edit-disabledpmi-alert { min-width: 553px; }

.meeting-edit-disabledpmi-alert p, .meeting-disabledpmi-alert p { line-height: inherit; }

@media only screen and (max-width: 414px) {
  .optout-notice-container { padding: 10px 20px; }
}

.optout-notice-container div { display: inline-block; }

.optout-notice-title { font-weight: bold; line-height: 150%; }

.optout-notice-medium { background-color: rgb(252, 246, 237); color: rgb(119, 81, 17); }

.optout-notice-low { background-color: rgb(228, 247, 235); color: rgb(28, 126, 65); }

.optout-notice-high { background-color: rgb(255, 232, 232); color: rgb(178, 36, 36); }

.optout-notice-container a { color: rgb(0, 101, 242); font-weight: bold; text-decoration: none; }

.optout-notice-content { padding-right: 24px; }

.optout-notice-close { position: absolute; top: 10px; right: 23px; font-size: 30px; color: rgb(35, 35, 51); cursor: pointer; border: none; background: transparent; }

.optout-notice-close::before { content: "×"; }

#content_container.content_container_hide_header { padding-top: 0px; }

.body_hide_footer { background: rgb(255, 255, 255); }

.tesla_night_mode { background: rgb(19, 22, 25); }

#extole_zone_global_footer a { font-size: inherit !important; color: rgb(255, 255, 255) !important; }
