@charset "utf-8";

.skeleton-loader { animation: 2s ease 0s infinite normal none running loadingBackground; background: linear-gradient(90deg, rgb(195, 195, 195), rgb(243, 243, 243)) 0% 0% / 400% 400%; border-radius: 0.1875rem; display: inline-block; line-height: 1; width: 100%; }

@keyframes loadingBackground { 
  0% { background-position: 0px 50%; }
  50% { background-position: 100% 51%; }
  100% { background-position: 0px 50%; }
}

.skeleton-loader--circle { border-radius: 50%; }
