@charset "utf-8";

.airy-cursor { cursor: pointer !important; }

.airy-vertical-centering-table { height: 100%; width: 100%; left: 0px; top: 0px; display: table; text-align: left; }

.airy-vertical-centering-table .airy-vertical-centering-table-cell { left: 0px; top: 0px; display: table-cell; height: 100%; width: 100%; vertical-align: middle; }

.airy-vertical-centering-table .airy-vertical-centering-table-cell .airy-vertical-centering-wrapper { }

@-webkit-keyframes rotate { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotate { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.airy-animation-rotate { animation: 2s linear 0s infinite normal none running rotate; }

.airy.airy-pseudo-fullscreen { z-index: 1000; height: 100%; width: 100%; left: 0px; top: 0px; position: fixed !important; }

.airy .transparent { background-image: url("../images/transparent-pixel._TTW_.png"); }

.airy div { user-select: none; box-sizing: content-box; font-size: 0px; line-height: 0; cursor: default; -webkit-tap-highlight-color: transparent !important; }

.airy div:focus { outline: none !important; }

.airy .expand-to-parent-size { position: absolute; width: 100%; height: 100%; left: 0px; bottom: 0px; }

.airy .airy-scalable-hint-container { display: inline-block; position: relative; width: 20%; min-width: 80px; }

.airy.airy-svg .airy-scalable-dummy { padding-top: 100%; }

.airy .airy-hint { position: absolute; width: 100%; height: 100%; left: 0px; bottom: 0px; right: 0px; background-repeat: no-repeat; background-size: 100% 100%; cursor: pointer !important; }

.airy .airy-stage { position: absolute; bottom: 0px; background-image: url("../images/transparent-pixel._TTW_.png"); height: 100%; width: 100%; left: 0px; top: 0px; display: table; text-align: center; }

.airy .airy-stage .airy-vertical-centering-table-cell { left: 0px; top: 0px; display: table-cell; height: 100%; width: 100%; vertical-align: middle; }

.airy .airy-stage .airy-vertical-centering-table-cell .airy-vertical-centering-wrapper { }

.airy.airy-svg .airy-play-toggle-hint.airy-play-hint { background-position: 2.30548% 4.37158%; background-size: 314.198% 212.963%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-play-toggle-hint.airy-pause-hint { background-position: 2.30548% 94.5355%; background-size: 314.198% 212.963%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-initial-play-toggle-hint.airy-play-hint { background-position: 2.30548% 4.37158%; background-size: 314.198% 212.963%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-initial-play-toggle-hint.airy-pause-hint { background-position: 2.30548% 94.5355%; background-size: 314.198% 212.963%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-replay-hint { background-position: 49.8559% 4.37158%; background-size: 314.198% 212.963%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-autoplay-hint.airy-audio-hint { background-position: 49.8559% 94.5355%; background-size: 314.198% 212.963%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-autoplay-hint.airy-play-hint { background-position: 2.30548% 4.37158%; background-size: 314.198% 212.963%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-loading-spinner-container .airy-loading-spinner { background-position: 97.9827% 92.8962%; background-size: 314.198% 212.963%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-png .airy-play-toggle-hint.airy-play-hint { background-position: -8px -8px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); position: absolute; width: 162px; height: 162px; margin-left: -81px; margin-top: -81px; left: 50%; top: 50%; visibility: inherit; }

.airy.airy-png .airy-play-toggle-hint.airy-pause-hint { background-position: -8px -173px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); position: absolute; width: 162px; height: 162px; margin-left: -81px; margin-top: -81px; left: 50%; top: 50%; visibility: inherit; }

.airy.airy-png .airy-replay-hint { background-position: -173px -8px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); position: absolute; width: 162px; height: 162px; margin-left: -81px; margin-top: -81px; left: 50%; top: 50%; visibility: inherit; }

.airy.airy-png .airy-autoplay-hint.airy-audio-hint { background-position: -173px -173px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); position: absolute; width: 162px; height: 162px; margin-left: -81px; margin-top: -81px; left: 50%; top: 50%; visibility: inherit; }

.airy.airy-png .airy-autoplay-hint.airy-play-hint { background-position: -8px -8px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); position: absolute; width: 162px; height: 162px; margin-left: -81px; margin-top: -81px; left: 50%; top: 50%; visibility: inherit; }

.airy.airy-png .airy-loading-spinner-container .airy-loading-spinner { background-position: -340px -170px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); position: absolute; width: 162px; height: 162px; margin-left: -81px; margin-top: -81px; left: 50%; top: 50%; visibility: inherit; }

.airy .airy-screen-size-toggle { position: absolute; right: 0px; top: 0px; margin-top: 8px; margin-right: 9px; z-index: 10; filter: inherit; width: 28px; height: 28px; cursor: pointer !important; }

.airy.airy-svg .airy-screen-size-toggle.airy-fullscreen { background-position: 74.0125% 38.1703%; background-size: 1817.86% 1232.14%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-screen-size-toggle.airy-fullscreen-hover { background-position: 74.0125% 27.1293%; background-size: 1817.86% 1232.14%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-screen-size-toggle.airy-normalscreen { background-position: 81.289% 38.1703%; background-size: 1817.86% 1232.14%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-screen-size-toggle.airy-normalscreen-hover { background-position: 81.289% 27.1293%; background-size: 1817.86% 1232.14%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-screen-size-toggle.airy-inline.airy-fullscreen { background-position: 86.6935% 38.8554%; background-size: 3915.38% 2653.85%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-screen-size-toggle.airy-inline.airy-fullscreen-hover { background-position: 86.6935% 28.3133%; background-size: 3915.38% 2653.85%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-screen-size-toggle.airy-inline.airy-normalscreen { background-position: 92.5403% 38.8554%; background-size: 3915.38% 2653.85%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-screen-size-toggle.airy-inline.airy-normalscreen-hover { background-position: 92.5403% 28.3133%; background-size: 3915.38% 2653.85%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-png .airy-screen-size-toggle.airy-fullscreen { background-position: -356px -121px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-screen-size-toggle.airy-fullscreen-hover { background-position: -356px -86px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-screen-size-toggle.airy-normalscreen { background-position: -391px -121px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-screen-size-toggle.airy-normalscreen-hover { background-position: -391px -86px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-screen-size-toggle.airy-inline.airy-fullscreen { background-position: -356px -129px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-screen-size-toggle.airy-inline.airy-fullscreen-hover { background-position: -356px -96px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-screen-size-toggle.airy-inline.airy-normalscreen { background-position: -391px -129px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-screen-size-toggle.airy-inline.airy-normalscreen-hover { background-position: -391px -96px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy .airy-audio-toggle { position: relative; float: left; margin: 6px 9px 6px 4px; width: 21px; height: 18px; cursor: pointer !important; }

.airy.airy-svg .airy-audio-toggle.airy-on { background-position: 73.3607% 18.0428%; background-size: 2423.81% 1916.67%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-audio-toggle.airy-on-hover { background-position: 73.3607% 7.33945%; background-size: 2423.81% 1916.67%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-audio-toggle.airy-off { background-position: 80.5328% 18.0428%; background-size: 2423.81% 1916.67%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-audio-toggle.airy-off-hover { background-position: 80.5328% 7.33945%; background-size: 2423.81% 1916.67%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-png .airy-audio-toggle.airy-on { background-position: -358px -59px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-audio-toggle.airy-on-hover { background-position: -358px -24px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-audio-toggle.airy-off { background-position: -393px -59px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-audio-toggle.airy-off-hover { background-position: -393px -24px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy .airy-controls-container { position: absolute; width: 100%; height: 100%; left: 0px; bottom: 0px; }

.airy.airy-svg .airy-play-toggle.airy-play { background-position: 86.3179% 18.3735%; background-size: 4241.67% 2653.85%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-play-toggle.airy-play-hover { background-position: 86.3179% 7.83133%; background-size: 4241.67% 2653.85%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-play-toggle.airy-pause { background-position: 92.3541% 18.0723%; background-size: 4241.67% 2653.85%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-play-toggle.airy-pause-hover { background-position: 92.3541% 7.53012%; background-size: 4241.67% 2653.85%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-png .airy-play-toggle.airy-play { background-position: -429px -61px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-play-toggle.airy-play-hover { background-position: -429px -26px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-play-toggle.airy-pause { background-position: -459px -60px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-play-toggle.airy-pause-hover { background-position: -459px -25px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy .airy-container-bottom { position: absolute; width: 100%; left: 0px; right: 0px; bottom: 0px; background-color: rgb(34, 38, 42); z-index: 10; filter: inherit; height: 29px; min-height: 29px; max-height: 29px; }

.airy .airy-container-bottom .airy-duration-label { text-align: center; position: relative; top: 50%; margin-top: -6px; color: rgb(187, 187, 187); float: right; margin-right: 4px; width: 26px; font: 11px arial !important; }

.airy .airy-container-bottom .airy-live-label { text-align: center; position: relative; top: 50%; margin-top: -6px; color: rgb(228, 121, 17); letter-spacing: 0.5px; float: right; margin-right: 5px; width: 28px; font: bold 11px arial !important; }

.airy .airy-container-bottom .airy-play-toggle { position: relative; float: left; width: 12px; height: 13px; cursor: pointer !important; }

.airy .airy-container-bottom .airy-play-toggle.airy-play, .airy .airy-container-bottom .airy-play-toggle.airy-play-hover { margin: 8px 0px; }

.airy .airy-container-bottom .airy-play-toggle.airy-pause, .airy .airy-container-bottom .airy-play-toggle.airy-pause-hover { margin: 7px 0px; }

.airy .airy-container-bottom .airy-track-bar-spacer-left { position: relative; width: 11px; height: 100%; float: left; }

.airy .airy-container-bottom .airy-track-bar-spacer-right { position: relative; width: 11px; height: 100%; float: right; }

.airy .airy-container-bottom .airy-track-bar-container { height: 100%; margin-left: 40px; margin-right: 80px; }

.airy .airy-container-bottom .airy-track-bar-container .airy-track-bar-elements { position: relative; width: 100%; height: 20%; min-height: 6px; border: 1px solid rgb(0, 0, 0); background-color: rgb(0, 0, 0); border-radius: 30px; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px inset; }

.airy .airy-container-bottom .airy-track-bar-container .airy-track-bar-elements .airy-scrubber { position: absolute; left: 0px; height: 100%; }

.airy .airy-container-bottom .airy-track-bar-container .airy-track-bar-elements .airy-scrubber .airy-scrubber-icon { position: absolute; height: 15px; width: 15px; z-index: 1; margin-left: -8.5px; margin-top: -8.5px; border-radius: 30px; border-width: 1px; border-style: solid; border-color: rgb(210, 213, 219) rgb(183, 186, 190) rgb(158, 161, 165); border-image: initial; background: -webkit-linear-gradient(top, rgb(239, 241, 243), rgb(255, 255, 255)); box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.1) 0px 1px 3px inset, rgba(0, 0, 0, 0.07) 0px -1px 0px 0px inset, rgb(255, 255, 255) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.15) 0px 1px 2px; left: 0px; top: 50%; cursor: pointer !important; }

.airy .airy-container-bottom .airy-track-bar-container .airy-track-bar-elements .airy-scrubber .airy-adjusted-aui-tooltip { left: -31px; bottom: -5px; margin-bottom: 22px; position: absolute; z-index: 11; padding: 6px; width: 50px; opacity: 0.9; text-align: center; }

.airy .airy-container-bottom .airy-track-bar-container .airy-track-bar-elements .airy-scrubber .airy-adjusted-aui-tooltip .airy-adjusted-aui-tooltip-inner { height: 28px; line-height: 30px; background-color: rgb(68, 76, 85); border: 1px solid rgb(47, 53, 59); border-radius: 4px; }

.airy .airy-container-bottom .airy-track-bar-container .airy-track-bar-elements .airy-scrubber .airy-adjusted-aui-tooltip .airy-adjusted-aui-tooltip-inner .airy-current-time-label { line-height: 29px; font-family: arial; color: rgb(255, 255, 255); text-align: center; font-size: 11px !important; cursor: pointer !important; }

.airy .airy-container-bottom .airy-track-bar-container .airy-track-bar-elements .airy-scrubber .airy-adjusted-aui-tooltip .airy-adjusted-aui-arrow-border { bottom: 0px; left: 50%; position: absolute; content: ""; margin-left: -6px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid rgb(47, 53, 59); }

.airy .airy-container-bottom .airy-track-bar-container .airy-track-bar-elements .airy-scrubber .airy-adjusted-aui-tooltip .airy-adjusted-aui-arrow-border .airy-adjusted-aui-arrow { width: 0px; height: 0px; position: absolute; bottom: 1px; right: -6px; z-index: 11; display: block; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid rgb(68, 76, 85); content: ""; }

.airy .airy-container-bottom .airy-track-bar-container .airy-track-bar-elements .airy-scrubber-bar { position: absolute; height: 100%; left: 0px; width: 0px; background-color: rgb(228, 121, 17); border-radius: 4px; }

.airy .airy-container-bottom .airy-track-bar-container .airy-track-bar-elements .airy-progress-bar { position: absolute; height: 100%; left: 0px; width: 0px; background-color: rgb(69, 37, 5); border-radius: 4px; }

.airy .airy-container-bottom .airy-screen-size-toggle.airy-inline { position: relative; float: right; width: 13px; height: 13px; margin: 8px 11px 8px 1px; z-index: auto; cursor: pointer !important; }

.airy .airy-container-bottom .airy-audio-elements { float: right; position: relative; width: 36px; height: 100%; left: 0px; bottom: 0px; z-index: 12; }

.airy .airy-container-bottom .airy-audio-elements .airy-audio-container { position: absolute; bottom: 100%; width: 22px; height: 321%; left: 3px; background-color: rgb(34, 38, 42); opacity: 0.9; border-radius: 4px 4px 0px 0px; }

.airy .airy-container-bottom .airy-audio-elements .airy-audio-container .airy-audio-track-bar { position: absolute; width: 6px; height: 83%; top: 8.5%; left: 50%; margin-left: -4px; filter: inherit; background-color: rgb(0, 0, 0); border: 1px solid rgb(0, 0, 0); border-radius: 30px; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px inset; }

.airy .airy-container-bottom .airy-audio-elements .airy-audio-container .airy-audio-track-bar .airy-audio-scrubber { position: absolute; height: 12px; width: 12px; z-index: 1; margin-left: -7px; border-radius: 30px; border-width: 1px; border-style: solid; border-color: rgb(210, 213, 219) rgb(183, 186, 190) rgb(158, 161, 165); border-image: initial; background: -webkit-linear-gradient(top, rgb(239, 241, 243), rgb(255, 255, 255)); box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.1) 0px 1px 3px inset, rgba(0, 0, 0, 0.07) 0px -1px 0px 0px inset, rgb(255, 255, 255) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.15) 0px 1px 2px; filter: inherit; left: 50%; bottom: 0px; cursor: pointer !important; margin-top: 0px !important; }

.airy .airy-container-bottom .airy-audio-elements .airy-audio-container .airy-audio-track-bar .airy-audio-scrubber-bar { position: absolute; bottom: 0px; left: 0px; width: 100%; height: 0px; padding-top: 7px; filter: inherit; background-color: rgb(143, 148, 153); border-radius: 4px; }

.airy .airy-ads-screen-size-toggle { z-index: 9; }

.airy.airy-svg .airy-ads-screen-size-toggle.airy-fullscreen { background-position: 74.0125% 27.1293%; background-size: 1817.86% 1232.14%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-ads-screen-size-toggle.airy-fullscreen-hover { background-position: 74.0125% 38.1703%; background-size: 1817.86% 1232.14%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-ads-screen-size-toggle.airy-normalscreen { background-position: 81.289% 27.1293%; background-size: 1817.86% 1232.14%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-ads-screen-size-toggle.airy-normalscreen-hover { background-position: 81.289% 38.1703%; background-size: 1817.86% 1232.14%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-ads-controls-container .airy-audio-toggle.airy-on { background-position: 73.3607% 7.33945%; background-size: 2423.81% 1916.67%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-ads-controls-container .airy-audio-toggle.airy-on-hover { background-position: 73.3607% 18.0428%; background-size: 2423.81% 1916.67%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-ads-controls-container .airy-audio-toggle.airy-off { background-position: 80.5328% 7.33945%; background-size: 2423.81% 1916.67%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-svg .airy-ads-controls-container .airy-audio-toggle.airy-off-hover { background-position: 80.5328% 18.0428%; background-size: 2423.81% 1916.67%; background-image: url("../images/beacon._TTW_.svg"); }

.airy.airy-png .airy-ads-screen-size-toggle.airy-fullscreen { background-position: -356px -86px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-ads-screen-size-toggle.airy-fullscreen-hover { background-position: -356px -121px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-ads-screen-size-toggle.airy-normalscreen { background-position: -391px -86px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-ads-screen-size-toggle.airy-normalscreen-hover { background-position: -391px -121px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-ads-controls-container .airy-audio-toggle.airy-on { background-position: -358px -24px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-ads-controls-container .airy-audio-toggle.airy-on-hover { background-position: -358px -59px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-ads-controls-container .airy-audio-toggle.airy-off { background-position: -393px -24px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy.airy-png .airy-ads-controls-container .airy-audio-toggle.airy-off-hover { background-position: -393px -59px; background-size: 509px 345px; background-image: url("../images/beacon._TTW_.png"); }

.airy .airy-ad-prompt-container { position: absolute; height: 100%; width: 100%; left: 0px; right: 0px; bottom: 0px; background-color: rgb(0, 0, 0); text-align: center; z-index: 10; }

.airy .airy-ad-prompt-container .airy-ad-prompt-label { position: relative; vertical-align: middle; color: rgb(255, 255, 255); font: 16px arial; text-align: center; text-shadow: rgb(0, 0, 0) 1px 1px 2px; }

.airy .airy-ads-controls-container { position: absolute; width: 100%; left: 0px; right: 0px; bottom: 11px; text-align: left; height: 29px; }

.airy .airy-ads-controls-container .airy-learn-more { color: rgb(17, 17, 17); font: 13px arial; bottom: 0px; text-align: center; vertical-align: middle; position: absolute; right: 11px; width: 70px; height: 14px; padding: 8px 10px; z-index: 8; border-radius: 3px; border: 1px solid; cursor: pointer !important; }

.airy .airy-ads-controls-container .airy-learn-more { border-color: rgb(213, 143, 56) rgb(188, 122, 40) rgb(167, 109, 35); background: -webkit-linear-gradient(top, rgb(246, 200, 143), rgb(237, 146, 32)); }

.airy .airy-ads-controls-container .airy-learn-more:hover { border-color: rgb(201, 131, 43) rgb(167, 109, 35) rgb(146, 95, 31); background: -webkit-linear-gradient(top, rgb(244, 188, 119), rgb(225, 133, 18)); }

.airy .airy-ads-controls-container .airy-audio-toggle { position: absolute; left: 9px; z-index: 9; margin: 6px 0px !important; }

.airy .airy-ads-controls-container .airy-time-remaining-label-container { height: 100%; margin-right: 91px; padding-left: 40px; background-color: rgba(0, 0, 0, 0.2); text-align: left; left: 0px; display: inline-block; position: relative; z-index: 8; }

.airy .airy-ads-controls-container .airy-time-remaining-label-container .airy-ad-end, .airy .airy-ads-controls-container .airy-time-remaining-label-container .airy-ad-skip, .airy .airy-ads-controls-container .airy-time-remaining-label-container .airy-time-remaining-label { position: relative; float: left; padding-right: 7px; color: rgb(255, 255, 255); text-align: left; vertical-align: middle; text-shadow: rgb(0, 0, 0) 1px 1px 2px; font: 11px / 14px arial !important; }

.airy .airy-ads-controls-container .airy-time-remaining-label-container .airy-ad-end, .airy .airy-ads-controls-container .airy-time-remaining-label-container .airy-ad-skip { white-space: nowrap; overflow: hidden; height: 0px; width: 0px; cursor: pointer !important; }

.airy .airy-ads-controls-container .airy-time-remaining-label-container .airy-ad-end:hover, .airy .airy-ads-controls-container .airy-time-remaining-label-container .airy-ad-skip:hover { text-decoration: underline; }

.airy .airy-ads-controls-container .airy-time-remaining-label-container .airy-ad-end.airy-expanded, .airy .airy-ads-controls-container .airy-time-remaining-label-container .airy-ad-skip.airy-expanded { height: auto; width: 21px; transition: width 0.5s ease 0s; }

.airy .airy-click-through-stage { position: absolute; width: 100%; height: 100%; left: 0px; bottom: 0px; background-image: url("../images/transparent-pixel._TTW_.png"); z-index: 8; cursor: pointer !important; }

.airy .airy-click-through-stage-hover { box-shadow: rgb(0, 102, 192) 0px 0px 0px 2px inset; }

.airy .airy-overlay-container { position: absolute; overflow: hidden; z-index: 9; }

.airy .airy-overlay-container.airy-shifted-overlay-container { bottom: 40px; right: 40px; }

.airy .airy-overlay-container.airy-full-window-overlay-container { top: 0px; left: 0px; width: 100%; height: 100%; }

.airy .airy-overlay-container .airy-close { z-index: 10; position: absolute; top: 0px; right: 3px; font-size: 18px; line-height: 18px; color: rgb(136, 136, 136); cursor: pointer !important; }

.airy .airy-overlay-container .airy-close:hover { color: rgb(51, 51, 51); }

.airy .airy-overlay-container iframe { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; filter: inherit; }

.airy .airy-dialog { z-index: 20; }

.airy .airy-dialog.airy-denied .airy-dialog-elements { border-color: rgb(221, 0, 0); color: rgb(221, 0, 0); }

.airy .airy-dialog .airy-dialog-elements { position: relative; background-color: rgb(255, 255, 255); max-width: 458px; width: 80%; padding: 3.27511%; margin: 0px auto; border: 1px solid rgb(228, 151, 71); box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 4px; border-radius: 4px; text-align: center; }

.airy .airy-dialog .airy-dialog-elements div { font: 14px arial; }

.airy .airy-dialog .airy-dialog-elements .airy-dialog-inner-elements { margin-top: 18px; }

.airy .airy-dialog .airy-dialog-elements .airy-dialog-inner-elements .airy-button { font: 13px arial; vertical-align: middle; display: inline-block; height: 14px; padding: 8px 10px; border-radius: 3px; border: 1px solid; cursor: pointer !important; }

.airy .airy-install-flash-dialog .airy-install-flash-button { color: rgb(255, 255, 255); background: -webkit-linear-gradient(top, rgb(238, 95, 91), rgb(221, 0, 0)); border-color: rgb(221, 0, 0) rgb(221, 0, 0) rgb(128, 36, 32) !important; }

.airy .airy-install-flash-dialog .airy-install-flash-button:hover { border-color: rgb(193, 26, 6) rgb(193, 26, 6) rgb(128, 36, 32); background: -webkit-linear-gradient(top, rgb(238, 95, 91), rgb(193, 26, 6)); }

.airy .airy-age-gate .airy-submit { color: rgb(17, 17, 17); background: -webkit-linear-gradient(top, rgb(247, 223, 165), rgb(240, 193, 75)); border-color: rgb(203, 169, 87) rgb(191, 148, 42) rgb(170, 131, 38) !important; }

.airy .airy-age-gate .airy-submit:hover { border-color: rgb(197, 159, 67) rgb(170, 131, 38) rgb(149, 115, 33); background: -webkit-linear-gradient(top, rgb(245, 215, 142), rgb(238, 185, 51)); }

.airy .airy-age-gate select { background: -webkit-linear-gradient(top, rgb(247, 248, 250), rgb(231, 233, 236)); border: 1px solid rgb(188, 193, 200); border-radius: 3px; color: rgb(17, 17, 17); font: 13px arial; width: auto; height: 31px; padding: 6px; margin-right: 5px; margin-bottom: 7px; vertical-align: baseline; }
