@charset "utf-8";

.aplus-v2 .premium-aplus-module-8 .premium-aplus-module-8-video { position: relative; width: 100%; }

.aplus-v2 .premium-aplus-module-8 .video-placeholder { padding-bottom: 40.984%; }

.aplus-v2 .premium-aplus-module-8 .video-container { position: absolute; top: 0px; width: 100%; height: 100%; }
