@charset "utf-8";

html[_ngcontent-iyw-c229] { box-sizing: border-box; }

[_ngcontent-iyw-c229], [_ngcontent-iyw-c229]::before, [_ngcontent-iyw-c229]::after { box-sizing: inherit; }

[_ngcontent-iyw-c229]:root { tab-size: 4; }

html[_ngcontent-iyw-c229] { line-height: 1.15; text-size-adjust: 100%; }

body[_ngcontent-iyw-c229] { margin: 0px; }

body[_ngcontent-iyw-c229] { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

hr[_ngcontent-iyw-c229] { height: 0px; }

abbr[title][_ngcontent-iyw-c229] { text-decoration: underline dotted; }

b[_ngcontent-iyw-c229], strong[_ngcontent-iyw-c229] { font-weight: bolder; }

code[_ngcontent-iyw-c229], kbd[_ngcontent-iyw-c229], samp[_ngcontent-iyw-c229], pre[_ngcontent-iyw-c229] { font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 1em; }

small[_ngcontent-iyw-c229] { font-size: 80%; }

sub[_ngcontent-iyw-c229], sup[_ngcontent-iyw-c229] { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub[_ngcontent-iyw-c229] { bottom: -0.25em; }

sup[_ngcontent-iyw-c229] { top: -0.5em; }

button[_ngcontent-iyw-c229], input[_ngcontent-iyw-c229], optgroup[_ngcontent-iyw-c229], select[_ngcontent-iyw-c229], textarea[_ngcontent-iyw-c229] { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0px; }

button[_ngcontent-iyw-c229], select[_ngcontent-iyw-c229] { text-transform: none; }

button[_ngcontent-iyw-c229], [type="button"][_ngcontent-iyw-c229], [type="reset"][_ngcontent-iyw-c229], [type="submit"][_ngcontent-iyw-c229] { appearance: button; }

fieldset[_ngcontent-iyw-c229] { padding: 0.35em 0.75em 0.625em; }

legend[_ngcontent-iyw-c229] { padding: 0px; }

progress[_ngcontent-iyw-c229] { vertical-align: baseline; }

[type="number"][_ngcontent-iyw-c229]::-webkit-inner-spin-button, [type="number"][_ngcontent-iyw-c229]::-webkit-outer-spin-button { height: auto; }

[type="search"][_ngcontent-iyw-c229] { appearance: textfield; outline-offset: -2px; }

[type="search"][_ngcontent-iyw-c229]::-webkit-search-decoration { appearance: none; }

[_ngcontent-iyw-c229]::-webkit-file-upload-button { appearance: button; font: inherit; }

summary[_ngcontent-iyw-c229] { display: list-item; }

[_ngcontent-iyw-c229], [_ngcontent-iyw-c229]::before, [_ngcontent-iyw-c229]::after { box-sizing: border-box; }

.icon-8[_ngcontent-iyw-c229] { height: 0.5rem; vertical-align: initial; width: 0.5rem; }

.icon-10[_ngcontent-iyw-c229] { height: 0.625rem; width: 0.625rem; }

.icon-12[_ngcontent-iyw-c229] { height: 0.75rem; width: 0.75rem; }

.icon-14[_ngcontent-iyw-c229] { height: 0.875rem; width: 0.875rem; }

.icon-16[_ngcontent-iyw-c229] { height: 1rem; width: 1rem; }

.icon-18[_ngcontent-iyw-c229] { height: 1.125rem; width: 1.125rem; }

.icon-22[_ngcontent-iyw-c229] { height: 1.33rem; width: 1.33rem; }

.icon-24[_ngcontent-iyw-c229] { height: 1.5rem; width: 1.5rem; }

.icon-28[_ngcontent-iyw-c229] { height: 1.75rem; width: 1.75rem; }

.icon-32[_ngcontent-iyw-c229] { height: 2rem; width: 2rem; }

.icon-38[_ngcontent-iyw-c229] { height: 2.375rem; width: 2.375rem; }

.icon-40[_ngcontent-iyw-c229] { height: 2.5rem; width: 2.5rem; }

.icon-50[_ngcontent-iyw-c229] { height: 3.125rem; width: 3.125rem; }

.icon-82[_ngcontent-iyw-c229] { height: 5.125rem; width: 5.125rem; }

.icon-196[_ngcontent-iyw-c229] { height: 12.5rem; width: 12.5rem; }

.flexy[_ngcontent-iyw-c229] { display: flex; }

.box-centered[_ngcontent-iyw-c229] { margin: 0px auto; }

.ov-hidden[_ngcontent-iyw-c229] { overflow: hidden; }

.hidden-xs[_ngcontent-iyw-c229] { display: none !important; }

@media only screen and (max-width: 48em) {
  .hidden-xs[_ngcontent-iyw-c229] { display: block !important; }
}

.hidden-sm[_ngcontent-iyw-c229] { display: none !important; }

@media only screen and (min-width: 48em) {
  .hidden-sm[_ngcontent-iyw-c229] { display: block !important; }
}

.hidden-md[_ngcontent-iyw-c229] { display: none !important; }

@media only screen and (min-width: 48em) {
  .hidden-md[_ngcontent-iyw-c229] { display: block !important; }
}

.hidden-xs--ib[_ngcontent-iyw-c229] { display: none !important; }

@media only screen and (max-width: 48em) {
  .hidden-xs--ib[_ngcontent-iyw-c229] { display: inline-block !important; }
}

.hidden-sm--ib[_ngcontent-iyw-c229] { display: none !important; }

@media only screen and (min-width: 48em) {
  .hidden-sm--ib[_ngcontent-iyw-c229] { display: inline-block !important; }
}

.hidden-md--ib[_ngcontent-iyw-c229] { display: none !important; }

@media only screen and (min-width: 48em) {
  .hidden-md--ib[_ngcontent-iyw-c229] { display: inline-block !important; }
}

@media only screen and (max-width: 48em) {
  .visible-xs[_ngcontent-iyw-c229] { display: none !important; }
}

@media only screen and (min-width: 48em) {
  .visible-sm[_ngcontent-iyw-c229] { display: none !important; }
}

@media only screen and (min-width: 48em) {
  .visible-md[_ngcontent-iyw-c229] { display: none !important; }
}

.text-center[_ngcontent-iyw-c229] { text-align: center !important; }

.text-left[_ngcontent-iyw-c229] { text-align: left !important; }

.text-right[_ngcontent-iyw-c229] { text-align: right !important; }

.text-300[_ngcontent-iyw-c229] { font-weight: 300; }

.text-400[_ngcontent-iyw-c229] { font-weight: normal; }

.text-700[_ngcontent-iyw-c229] { font-weight: bold; }

.full-width[_ngcontent-iyw-c229] { width: 100%; }

.display-0[_ngcontent-iyw-c229] { font-size: 4.5rem; line-height: 4.5rem; }

.display-1[_ngcontent-iyw-c229] { font-size: 3.25rem; line-height: 3.25rem; }

.display-2[_ngcontent-iyw-c229] { font-size: 2.5rem; line-height: 2.5rem; }

.display-3[_ngcontent-iyw-c229] { font-size: 2rem; }

.display-4[_ngcontent-iyw-c229] { font-size: 1.25rem; line-height: 1.15rem; }

.display-5[_ngcontent-iyw-c229] { font-size: 1rem; }

.icon-20[_ngcontent-iyw-c229] { height: 1.25rem; width: 1.25rem; }

.icon-30[_ngcontent-iyw-c229] { height: 1.875rem; width: 1.875rem; }

.b0[_ngcontent-iyw-c229] { font-size: 1.125rem; line-height: 1.325rem; }

[_nghost-iyw-c229] { flex: 1 0 auto; text-align: left; width: 100%; }

.back-results__link[_ngcontent-iyw-c229] { color: var(--light-blue, #166bc8); cursor: pointer; text-decoration: none; }

.back-results__link__text[_ngcontent-iyw-c229] { font-size: 0.875rem; font-weight: 500; }
