@charset "utf-8";

body, html { background: rgb(244, 246, 247); font-family: Roboto, sans-serif; margin: 0px; padding: 0px; }

.header-placeholder { background: linear-gradient(to top, rgb(7, 53, 144), rgb(13, 73, 192)); box-sizing: border-box; height: 56px; }

.loading__background { background: rgb(244, 246, 244); height: 4px; width: 98%; }

.loading__animation { animation: 7s cubic-bezier(0.18, 0.27, 0, 1.02) 0s infinite normal none running loading-bar-animation; background: rgb(241, 201, 51); height: 4px; }

@keyframes loading-bar-animation { 
  0% { width: 0px; }
  100% { width: 100%; }
}
