@charset "utf-8";

html[_ngcontent-iyw-c202] { box-sizing: border-box; }

[_ngcontent-iyw-c202], [_ngcontent-iyw-c202]::before, [_ngcontent-iyw-c202]::after { box-sizing: inherit; }

[_ngcontent-iyw-c202]:root { tab-size: 4; }

html[_ngcontent-iyw-c202] { line-height: 1.15; text-size-adjust: 100%; }

body[_ngcontent-iyw-c202] { margin: 0px; }

body[_ngcontent-iyw-c202] { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

hr[_ngcontent-iyw-c202] { height: 0px; }

abbr[title][_ngcontent-iyw-c202] { text-decoration: underline dotted; }

b[_ngcontent-iyw-c202], strong[_ngcontent-iyw-c202] { font-weight: bolder; }

code[_ngcontent-iyw-c202], kbd[_ngcontent-iyw-c202], samp[_ngcontent-iyw-c202], pre[_ngcontent-iyw-c202] { font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 1em; }

small[_ngcontent-iyw-c202] { font-size: 80%; }

sub[_ngcontent-iyw-c202], sup[_ngcontent-iyw-c202] { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub[_ngcontent-iyw-c202] { bottom: -0.25em; }

sup[_ngcontent-iyw-c202] { top: -0.5em; }

button[_ngcontent-iyw-c202], input[_ngcontent-iyw-c202], optgroup[_ngcontent-iyw-c202], select[_ngcontent-iyw-c202], textarea[_ngcontent-iyw-c202] { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0px; }

button[_ngcontent-iyw-c202], select[_ngcontent-iyw-c202] { text-transform: none; }

button[_ngcontent-iyw-c202], [type="button"][_ngcontent-iyw-c202], [type="reset"][_ngcontent-iyw-c202], [type="submit"][_ngcontent-iyw-c202] { appearance: button; }

fieldset[_ngcontent-iyw-c202] { padding: 0.35em 0.75em 0.625em; }

legend[_ngcontent-iyw-c202] { padding: 0px; }

progress[_ngcontent-iyw-c202] { vertical-align: baseline; }

[type="number"][_ngcontent-iyw-c202]::-webkit-inner-spin-button, [type="number"][_ngcontent-iyw-c202]::-webkit-outer-spin-button { height: auto; }

[type="search"][_ngcontent-iyw-c202] { appearance: textfield; outline-offset: -2px; }

[type="search"][_ngcontent-iyw-c202]::-webkit-search-decoration { appearance: none; }

[_ngcontent-iyw-c202]::-webkit-file-upload-button { appearance: button; font: inherit; }

summary[_ngcontent-iyw-c202] { display: list-item; }

[_ngcontent-iyw-c202], [_ngcontent-iyw-c202]::before, [_ngcontent-iyw-c202]::after { box-sizing: border-box; }

.icon-8[_ngcontent-iyw-c202] { height: 0.5rem; vertical-align: initial; width: 0.5rem; }

.icon-10[_ngcontent-iyw-c202] { height: 0.625rem; width: 0.625rem; }

.icon-12[_ngcontent-iyw-c202] { height: 0.75rem; width: 0.75rem; }

.icon-14[_ngcontent-iyw-c202] { height: 0.875rem; width: 0.875rem; }

.icon-16[_ngcontent-iyw-c202] { height: 1rem; width: 1rem; }

.icon-18[_ngcontent-iyw-c202] { height: 1.125rem; width: 1.125rem; }

.icon-22[_ngcontent-iyw-c202] { height: 1.33rem; width: 1.33rem; }

.icon-24[_ngcontent-iyw-c202] { height: 1.5rem; width: 1.5rem; }

.icon-28[_ngcontent-iyw-c202] { height: 1.75rem; width: 1.75rem; }

.icon-32[_ngcontent-iyw-c202] { height: 2rem; width: 2rem; }

.icon-38[_ngcontent-iyw-c202] { height: 2.375rem; width: 2.375rem; }

.icon-40[_ngcontent-iyw-c202] { height: 2.5rem; width: 2.5rem; }

.icon-50[_ngcontent-iyw-c202] { height: 3.125rem; width: 3.125rem; }

.icon-82[_ngcontent-iyw-c202] { height: 5.125rem; width: 5.125rem; }

.icon-196[_ngcontent-iyw-c202] { height: 12.5rem; width: 12.5rem; }

.flexy[_ngcontent-iyw-c202] { display: flex; }

.box-centered[_ngcontent-iyw-c202] { margin: 0px auto; }

.ov-hidden[_ngcontent-iyw-c202] { overflow: hidden; }

.hidden-xs[_ngcontent-iyw-c202] { display: none !important; }

@media only screen and (max-width: 48em) {
  .hidden-xs[_ngcontent-iyw-c202] { display: block !important; }
}

.hidden-sm[_ngcontent-iyw-c202] { display: none !important; }

@media only screen and (min-width: 48em) {
  .hidden-sm[_ngcontent-iyw-c202] { display: block !important; }
}

.hidden-md[_ngcontent-iyw-c202] { display: none !important; }

@media only screen and (min-width: 48em) {
  .hidden-md[_ngcontent-iyw-c202] { display: block !important; }
}

.hidden-xs--ib[_ngcontent-iyw-c202] { display: none !important; }

@media only screen and (max-width: 48em) {
  .hidden-xs--ib[_ngcontent-iyw-c202] { display: inline-block !important; }
}

.hidden-sm--ib[_ngcontent-iyw-c202] { display: none !important; }

@media only screen and (min-width: 48em) {
  .hidden-sm--ib[_ngcontent-iyw-c202] { display: inline-block !important; }
}

.hidden-md--ib[_ngcontent-iyw-c202] { display: none !important; }

@media only screen and (min-width: 48em) {
  .hidden-md--ib[_ngcontent-iyw-c202] { display: inline-block !important; }
}

@media only screen and (max-width: 48em) {
  .visible-xs[_ngcontent-iyw-c202] { display: none !important; }
}

@media only screen and (min-width: 48em) {
  .visible-sm[_ngcontent-iyw-c202] { display: none !important; }
}

@media only screen and (min-width: 48em) {
  .visible-md[_ngcontent-iyw-c202] { display: none !important; }
}

.text-center[_ngcontent-iyw-c202] { text-align: center !important; }

.text-left[_ngcontent-iyw-c202] { text-align: left !important; }

.text-right[_ngcontent-iyw-c202] { text-align: right !important; }

.text-300[_ngcontent-iyw-c202] { font-weight: 300; }

.text-400[_ngcontent-iyw-c202] { font-weight: normal; }

.text-700[_ngcontent-iyw-c202] { font-weight: bold; }

.full-width[_ngcontent-iyw-c202] { width: 100%; }

.display-0[_ngcontent-iyw-c202] { font-size: 4.5rem; line-height: 4.5rem; }

.display-1[_ngcontent-iyw-c202] { font-size: 3.25rem; line-height: 3.25rem; }

.display-2[_ngcontent-iyw-c202] { font-size: 2.5rem; line-height: 2.5rem; }

.display-3[_ngcontent-iyw-c202] { font-size: 2rem; }

.display-4[_ngcontent-iyw-c202] { font-size: 1.25rem; line-height: 1.15rem; }

.display-5[_ngcontent-iyw-c202] { font-size: 1rem; }

.icon-20[_ngcontent-iyw-c202] { height: 1.25rem; width: 1.25rem; }

.icon-30[_ngcontent-iyw-c202] { height: 1.875rem; width: 1.875rem; }

.b0[_ngcontent-iyw-c202] { font-size: 1.125rem; line-height: 1.325rem; }

.gallery-desktop[_nghost-iyw-c202] { display: flex; flex: 0 1 auto; height: 450px; }

@media (min-width: 1024px) {
  .gallery-desktop[_nghost-iyw-c202] { height: inherit; }
}

.gallery-desktop__main[_ngcontent-iyw-c202] { flex-basis: 65%; max-width: 65%; }

.gallery-desktop__aside[_ngcontent-iyw-c202] { flex-basis: 35%; max-width: 35%; }

.gallery-desktop__first-image[_ngcontent-iyw-c202] { height: 350px; margin-bottom: 0.4rem; margin-right: 0.4rem; }

.gallery-desktop__thumbs-ribbon[_ngcontent-iyw-c202] { display: flex; flex: 0 1 auto; height: 100px; }

.gallery-desktop__thumb[_ngcontent-iyw-c202] { flex-basis: 20%; margin-right: 0.4rem; max-width: 20%; position: relative; }

.gallery-desktop__thumb--clickable[_ngcontent-iyw-c202] { cursor: pointer; }

.gallery-desktop__thumb--opaque[_ngcontent-iyw-c202] { color: var(--light-base, #fff); }

.gallery-desktop__thumb--opaque[_ngcontent-iyw-c202]::before { background-color: var(--primary-blue, #073590); content: ""; height: 100%; left: 0px; opacity: 0.8; position: absolute; top: 0px; transition: all 0.3s ease 0s; width: 100%; }

.gallery-desktop__thumb--opaque[_ngcontent-iyw-c202]:hover::before { opacity: 0.5; }

.gallery-desktop__thumb-label[_ngcontent-iyw-c202] { display: inline-block; left: 50%; position: absolute; text-align: center; top: 50%; transform: translate(-50%, -50%); width: 80%; }

.gallery-desktop__second-image[_ngcontent-iyw-c202] { border: 1px solid var(--light-grey, #c3c7cc); height: 225px; margin-bottom: 0.4rem; }

.gallery-desktop__map[_ngcontent-iyw-c202] { border: 1px solid var(--light-grey, #c3c7cc); cursor: pointer; height: 225px; padding: 0.5rem; }

.gallery-desktop__map-img[_ngcontent-iyw-c202] { background-image: ; background-position-x: ; background-position-y: ; background-attachment: ; background-origin: ; background-clip: ; background-color: ; background-repeat: no-repeat; background-size: cover; height: calc(225px - 1rem); }

.gallery-desktop__map-button[_ngcontent-iyw-c202] { font-size: 0.875rem; font-weight: bold; left: 50%; position: relative; top: -70px; transform: translate(-50%, -50%); }

.gallery-desktop__image[_ngcontent-iyw-c202] { height: 100%; object-fit: cover; width: 100%; }

.gallery-desktop__image--clickable[_ngcontent-iyw-c202] { cursor: pointer; }
