@charset "utf-8";

@keyframes fade-in-out { 
  0% { opacity: 0; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fade-in-fade-out { 
  0% { opacity: 0; transform: translateY(10px); }
  5% { opacity: 1; transform: translate(0px); }
  95% { opacity: 1; transform: translate(0px); }
  100% { opacity: 0; transform: translateY(10px); }
}

@keyframes fade-in-fade-out-extend-height { 
  0% { max-height: 0px; opacity: 0; }
  5% { max-height: 1000px; opacity: 1; }
  95% { max-height: 1000px; opacity: 1; }
  100% { max-height: 0px; opacity: 0; }
}

@keyframes fade-in { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fade-in-out-up-down { 
  0% { opacity: 0; transform: translateY(25px); }
  5% { opacity: 1; transform: translate(0px); }
  95% { opacity: 1; transform: translate(0px); }
  100% { opacity: 0; transform: translateY(25px); }
}

@keyframes fade-out-left-translate { 
  0% { opacity: 1; }
  100% { opacity: 0; transform: translate(-20px); }
}

.fade-out-left-translate[_ngcontent-iyw-c266] { animation: 0.3s ease 0s 1 normal none running fade-out-left-translate; }

@keyframes fade-out-right-translate { 
  0% { opacity: 1; }
  100% { opacity: 0; transform: translate(20px); }
}

.fade-out-right-translate[_ngcontent-iyw-c266] { animation: 0.3s ease 0s 1 normal none running fade-out-right-translate; }

@keyframes fade-in-right-translate { 
  0% { opacity: 0; transform: translate(20px); }
  100% { opacity: 1; transform: translate(0px); }
}

.fade-in-right-translate[_ngcontent-iyw-c266] { animation: 0.3s ease 0s 1 normal none running fade-in-right-translate; }

@keyframes fade-in-left-translate { 
  0% { opacity: 0; transform: translate(-20px); }
  100% { opacity: 1; transform: translate(0px); }
}

.fade-in-left-translate[_ngcontent-iyw-c266] { animation: 0.3s ease 0s 1 normal none running fade-in-left-translate; }

@keyframes fade-in-scale { 
  0% { opacity: 0; transform: translate(-50%) scale(0.9); }
  100% { opacity: 1; transform: translate(-50%) scale(1); }
}

.fade-in-scale[_ngcontent-iyw-c266] { animation: 0.15s ease 0.15s 1 normal none running fade-in-scale; opacity: 0; }

@keyframes fade-out-scale { 
  0% { opacity: 1; transform: translate(-50%) scale(1); }
  100% { opacity: 0; transform: translate(-50%) scale(0.9); }
}

.fade-out-scale[_ngcontent-iyw-c266] { animation: 0.15s ease 0s 1 normal none running fade-out-scale; }

@keyframes slide-from-right { 
  0% { transform: translate(100%); }
  100% { transform: translate(0px); }
}

.slide-from-right[_ngcontent-iyw-c266] { animation: 0.5s ease 0s 1 normal none running slide-from-right; }

@keyframes slide-from-left { 
  0% { transform: translate(-100%); }
  100% { transform: translate(0px); }
}

.slide-from-left[_ngcontent-iyw-c266] { animation: 0.5s ease 0s 1 normal none running slide-from-left; }

@keyframes slide-to-right { 
  0% { transform: translate(0px); }
  100% { transform: translate(100%); }
}

.slide-to-right[_ngcontent-iyw-c266] { animation: 0.5s ease 0s 1 normal none running slide-to-right; }

@keyframes slide-to-left { 
  0% { transform: translate(0px); }
  100% { transform: translate(-100%); }
}

.slide-to-left[_ngcontent-iyw-c266] { animation: 0.5s ease 0s 1 normal none running slide-to-left; }

@keyframes slide-from-bottom { 
  0% { opacity: 0; transform: translateY(100%); }
  100% { opacity: 1; transform: translate(0px); }
}

@keyframes fade-in-grow { 
  0% { opacity: 0; transform: scale(0); }
  80% { opacity: 0.5; }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes fade-in-grow-smooth { 
  0% { opacity: 0; transform: scale(0); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes fade-in-slide-from-top { 
  0% { opacity: 0; transform: translateY(-16px); }
  100% { opacity: 1; transform: translateY(0px); }
}

@keyframes fade-in-slide-from-bottom { 
  0% { opacity: 0; transform: translateY(5px); }
  100% { opacity: 1; transform: translateY(0px); }
}

@keyframes fade-in-slide-from-left { 
  0% { opacity: 0; transform: translate(-5px); }
  100% { opacity: 1; transform: translate(0px); }
}

@keyframes fade-in-slide-from-right { 
  0% { opacity: 0; transform: translate(5px); }
  100% { opacity: 1; transform: translate(0px); }
}

@keyframes loading-icon-animation { 
  0% { transform: rotate(-35deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(-35deg); }
}

@keyframes filter-background-transform { 
  0% { transform: scale(0.5); }
  100% { transform: scale(1); }
}

@keyframes loading-bar-animation { 
  0% { transform: scaleX(0); visibility: visible; }
  100% { transform: scaleX(1); }
}

@keyframes bouncedelay { 
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}

@keyframes fade-in-drop { 
  0% { opacity: 0; transform: translateY(-300px); }
  100% { opacity: 1; transform: translateY(0px); visibility: visible; }
}

[_nghost-iyw-c266] { display: block; position: relative; }

.labeled-field__label[_ngcontent-iyw-c266] { color: var(--standard-grey, #6c7079); left: 0.75rem; overflow: hidden; pointer-events: none; position: absolute; text-overflow: ellipsis; top: 1rem; transform-origin: 0px 0px; transition: transform 0.2s cubic-bezier(0.55, 0, 0.1, 1) 0s; white-space: nowrap; width: calc(100% - 2rem); }

input:-webkit-autofill ~ .labeled-field__label, input:focus ~ .labeled-field__label, select:focus ~ .labeled-field__label { color: var(--light-blue, #166bc8); transform: translateY(-0.5rem) scale(0.75) perspective(100px); width: calc(130% - 2rem); }

.labeled-field--pinned[_ngcontent-iyw-c266] .labeled-field__label[_ngcontent-iyw-c266] { transform: translateY(-0.5rem) scale(0.75) perspective(100px); width: calc(130% - 2rem); }

.labeled-field--error[_ngcontent-iyw-c266] .labeled-field__label[_ngcontent-iyw-c266] { color: var(--error-red, #cf2e1d); }

.labeled-field--error[_ngcontent-iyw-c266] input, .labeled-field--error[_ngcontent-iyw-c266] select { border-color: var(--error-red, #cf2e1d); }

.labeled-field__chevron[_ngcontent-iyw-c266] { align-items: center; color: var(--light-blue, #166bc8); cursor: pointer; display: flex; height: 100%; pointer-events: none; position: absolute; right: 15px; top: 0px; }
