@charset "utf-8";

.css-bvszx7 { position: relative; }

.css-bvszx7 .show-menu + div { transform: translateX(-100%); }

.css-bvszx7 .show-menu > svg { position: absolute; }

.css-bvszx7 .show-menu > svg:first-of-type { display: none; }

.css-bvszx7 .show-menu > svg:last-of-type { display: inline-block; }

@media (min-width: 1200px) {
  .css-bvszx7 .show-menu { background: rgb(64, 108, 180); }
  .css-bvszx7 .show-menu + div { display: inline-block; transform: none; max-height: 460px; transition: max-height 200ms cubic-bezier(0.55, 0.1, 1, 1) 0s; }
}
