@charset "utf-8";

.css-5svvxs { font-size: 10px; font-weight: 400; letter-spacing: 0.7px; line-height: 12px; font-family: "Open Sans", sans-serif, Tahoma, Arial; text-align: right; color: rgb(80, 80, 80); font-style: normal; margin: 0px; }
