@charset "utf-8";

.css-ztrswb { margin: -8px; display: flex; flex-flow: row wrap; }

.css-ztrswb > * { margin: 8px; }

.css-ztrswb > :nth-of-type(1) { flex: 0 1 calc(100% - 16px); }

.css-ztrswb > :nth-of-type(2) { flex: 0 0 calc(35% - 16px); }

.css-ztrswb > :nth-of-type(3) { flex: 0 1 calc(100% - 16px); }

.css-ztrswb > :nth-of-type(4) { flex: 0 1 calc(100% - 16px); }

.css-ztrswb > :nth-of-type(5) { flex: 0 1 calc(65% - 16px); }

.css-ztrswb > :nth-of-type(6) { flex: 0 1 calc(100% - 16px); }

.css-ztrswb > :nth-of-type(7) { flex: 0 1 calc(100% - 16px); }

.css-ztrswb > :nth-of-type(8) { flex: 0 1 calc(100% - 16px); }
