@charset "utf-8";

.css-1q5bpkt { position: relative; min-height: 0px; max-height: 216px; transition: max-height 0.5s ease 0s; margin: 16px 0px; display: -webkit-box; -webkit-line-clamp: 9; -webkit-box-orient: vertical; overflow: hidden; }

.css-1q5bpkt::after { content: ""; display: block; position: absolute; bottom: 0px; left: 0px; right: 0px; background-image: linear-gradient(rgba(242, 242, 242, 0) 0%, rgb(242, 242, 242) 100%); }
