@charset "utf-8";

.css-y0rk70 { -webkit-box-flex: 2; flex-grow: 2; position: relative; z-index: 11; }

.css-y0rk70 > a { display: inline-block; margin-left: 16px; height: 64px; }

.css-y0rk70 > a div { height: 64px; max-width: 250px; position: relative; -webkit-box-align: initial; align-items: initial; justify-content: left; }

.css-y0rk70 > a div > img { margin-top: -2px; }

@media (min-width: 564px) {
  .css-y0rk70 a div { max-width: 280px; }
}

@media (min-width: 768px) {
  .css-y0rk70 a { margin-left: 24px; }
}
