@charset "utf-8";

@import url("//fonts.googleapis.com/css?family=Lato");

.__fsr { font-family: Lato, sans-serif; font-size: 16px; color: rgb(0, 0, 0); }

.__fsr .fsrNoDisplay { display: none !important; visibility: hidden !important; }

.__fsr .fsrDisplay { display: block !important; visibility: visible !important; }

.__fsr a, .__fsr abbr, .__fsr acronym, .__fsr address, .__fsr applet, .__fsr article, .__fsr aside, .__fsr audio, .__fsr b, .__fsr big, .__fsr blockquote, .__fsr canvas, .__fsr caption, .__fsr center, .__fsr cite, .__fsr code, .__fsr dd, .__fsr del, .__fsr details, .__fsr dfn, .__fsr div, .__fsr dl, .__fsr dt, .__fsr em, .__fsr embed, .__fsr fieldset, .__fsr figcaption, .__fsr figure, .__fsr footer, .__fsr form, .__fsr h1, .__fsr h2, .__fsr h3, .__fsr h4, .__fsr h5, .__fsr h6, .__fsr header, .__fsr hgroup, .__fsr i, .__fsr iframe, .__fsr img, .__fsr ins, .__fsr kbd, .__fsr label, .__fsr legend, .__fsr li, .__fsr mark, .__fsr menu, .__fsr nav, .__fsr object, .__fsr ol, .__fsr output, .__fsr p, .__fsr pre, .__fsr q, .__fsr ruby, .__fsr s, .__fsr samp, .__fsr section, .__fsr select, .__fsr small, .__fsr span, .__fsr strike, .__fsr strong, .__fsr sub, .__fsr summary, .__fsr sup, .__fsr table, .__fsr tbody, .__fsr td, .__fsr tfoot, .__fsr th, .__fsr thead, .__fsr time, .__fsr tr, .__fsr tt, .__fsr u, .__fsr ul, .__fsr var, .__fsr video { margin: 0px; padding: 0px; border: 0px; border-radius: 0px; box-sizing: border-box; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; font-family: inherit; font-optical-sizing: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; font-weight: 400; line-height: normal; letter-spacing: 0px; vertical-align: baseline; text-transform: none; text-indent: 0px; color: inherit; width: auto; float: none; background: 0px 0px; }

.__fsr table { background-color: transparent; border-collapse: collapse; border-spacing: 0px; }

.__fsr caption, .__fsr td, .__fsr th { text-align: left; font-weight: 400; vertical-align: middle; }

.__fsr blockquote, .__fsr q { quotes: none; }

.__fsr blockquote::after, .__fsr blockquote::before, .__fsr q::after, .__fsr q::before { content: none; }

.__fsr a img { border: none; }

.__fsr ol, .__fsr ul { list-style: none; }

.__fsr .fsr_p { line-height: 1.3125em; }

.__fsr .fsr_p b, .__fsr .fsr_p strong { font-weight: 700; }

.__fsr .fsrModalBackdrop { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; text-align: center; background-repeat: repeat; background-color: rgba(0, 0, 0, 0.4); transform-style: preserve-3d; z-index: 2147483647; }

.__fsr .fsrInvite { max-width: 28.125em; min-width: 20em; top: 50%; position: relative; display: inline-block; transform: translateY(-50%); background-color: rgb(255, 255, 255); border-radius: 0.6em; box-shadow: rgba(34, 43, 60, 0.5) 0px 3px 5px 0px; -webkit-font-smoothing: initial; }

.__fsr .fsrInvite__heading { font-weight: 500; font-size: 1.75em; margin-top: 1.25em; margin-bottom: 0.714em; }

.__fsr .fsrInvite__closeWrapper { z-index: 2; display: flex; position: absolute; right: -0.5em; top: -0.5em; font-size: 2.1em; border: none; background: 0px 0px; padding: 0.2em; }

.__fsr .fsrBanner, .__fsr .fsrLeftSection { background-size: cover; background-position: center center; }

.__fsr .fsrInvite__buttons { display: flex; flex-direction: column; align-items: center; }

.__fsr .fsrInvite--margin { margin: 0.7em 1.5625em 1.5625em; }

.__fsr .fsrBanner { height: 7.8125em; border-top-left-radius: 0.6em; border-top-right-radius: 0.6em; position: relative; }

.__fsr .fsrClientLogo { width: 5.5em; height: 5.5em; padding: 0.3em; margin-top: -2.75em; margin-left: auto; margin-right: auto; display: block; background-color: rgb(255, 255, 255); position: relative; box-sizing: border-box; }

.__fsr .fsrClientLogo__img { width: 100%; }

.__fsr.fsrNoLogoBg picture.fsrClientLogo { margin-top: -6.7em; background-color: rgba(0, 0, 0, 0) !important; }

.__fsr.fsrNoLogo picture.fsrClientLogo { display: none !important; }

.__fsr.fsrLogoShadow .fsrClientLogo { box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 10px 0px; }

.__fsr.fsrBottomRight .fsrInvite { transform: none; top: auto; bottom: 1.5em; right: 1.5em; position: absolute; }

.__fsr.fsrBottomLeft .fsrInvite, .__fsr.fsrTopLeft .fsrInvite { transform: none; left: 1.5em; position: absolute; }

.__fsr.fsrBottomLeft .fsrInvite { transform: none; top: auto; bottom: 1.5em; }

.__fsr.fsrTopLeft .fsrInvite { transform: none; bottom: auto; top: 1.5em; }

.__fsr.fsrTopRight .fsrInvite { transform: none; bottom: auto; top: 1.5em; right: 1.5em; position: absolute; }

.__fsr.fsrTrackerBody { height: 100%; min-height: 20em; width: 100%; min-width: 30em; margin: 0px; }

.__fsr .fsrTracker { height: 100%; width: 100%; display: flex; }

.__fsr .fsrLeftSection { flex: 1 0 0%; position: relative; }

.__fsr .fsrLeftSection__colorDiv { width: 100%; height: 100%; position: absolute; background-color: rgb(89, 89, 89); opacity: 0.8; z-index: 1; }

.__fsr .fsrLeftSection__logo { width: 5em; height: 5em; left: 50%; top: 50%; margin-left: -2.5em; margin-top: -2.5em; display: block; position: absolute; border: 0.3125em solid rgb(255, 255, 255); z-index: 1; }

.__fsr .fsrLeftSection__logo__image { width: 100%; height: 100%; }

.__fsr .fsrLeftSection__offScreenHeading { position: absolute; left: -9999px; top: -9999px; opacity: 0; }

.__fsr .fsrRightSection { flex: 2 0 0%; display: flex; flex-direction: column; justify-content: center; }

.__fsr .fsrRightSection__wrapper { height: 100%; display: flex; flex-direction: column; justify-content: center; }

.__fsr .fsrRightSection__footerWrapper { padding: 0px 2em; margin: 0.4em 0px; }

.__fsr .fsrRightSection__section { padding: 0px 2em; margin: 0.7em 0px; font-weight: 300; color: rgb(34, 43, 60); }

.__fsr .fsrHeader__wrapper { border-bottom: 0.1em solid rgb(89, 89, 89); }

.__fsr .fsrHeader__heading { font-size: 2.375em; margin-bottom: 0.2em; font-weight: 600; }

.__fsr .fsrNoLogoBg .fsrLeftSection__logo { border: 0px solid rgb(255, 255, 255); }

.__fsr .fsrNoLogo .fsrLeftSection__logo { display: none !important; }

.__fsr .fsrLogoShadow .fsrLeftSection__logo { box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 10px 0px; }

.__fsr .fsrButton { margin: 0px; padding: 0.9em; min-width: 10em; font-family: Lato, sans-serif; font-size: 1em; font-weight: 400; text-transform: none; cursor: pointer; border: none; border-radius: 0.4em; }

.__fsr .fsrButton__inviteClose { width: 0.5em; min-width: inherit; height: 0.5em; box-sizing: content-box; box-shadow: rgb(34, 43, 60) 0px 2px 5px 0px; padding: 0.2em; border-radius: 50px; background: rgb(255, 255, 255) !important; color: rgb(0, 0, 0) !important; }

.__fsr .fsrButton__inviteDecline { min-width: 0px; background-color: transparent !important; color: rgb(89, 89, 89) !important; }

.__fsr .fsrButton__inviteDecline:hover { text-decoration: underline; }

.__fsr .fsrButton__inviteAccept { padding: 0.9em 3.125em; background-color: rgb(89, 89, 89) !important; color: rgb(255, 255, 255) !important; }

.__fsr .fsrButton__beginSurvey { padding: 0.9em 3.125em; background-color: rgb(89, 89, 89); color: rgb(255, 255, 255); }

.__fsr .fsrButton--hoverEffects { opacity: 1; transition: opacity 0.3s ease 0s; backface-visibility: hidden; }

.__fsr .fsrButton--hoverEffects:hover { opacity: 0.75; }

.__fsr .fsrFooter--invite { padding-bottom: 0.9375em; display: flex; justify-content: center; }

.__fsr .fsrFooter--tracker { padding-bottom: 0.9375em; padding-left: 2em; }

.__fsr .fsrFooter__privacy { color: rgb(89, 89, 89); margin: 0px 0.3em; font-size: 0.8em; cursor: pointer; text-decoration: none; }

.__fsr .fsrFooter__privacy:hover { text-decoration: underline; }

.__fsr .fsrFooter__poweredby { text-decoration: none; margin: 0px 0.3em; font-size: 0.8em; color: rgb(98, 112, 133); }

html._fsrclientInvokedHide .__fsr { display: none !important; visibility: hidden !important; }
