@charset "utf-8";

.unity-header { background-color: rgb(52, 58, 65); box-sizing: border-box; color: rgb(67, 82, 90); display: block; font-family: "Open Sans", sans-serif; font-size: 14px; font-weight: 400; line-height: 1.5; margin: 0px; text-align: left; outline: 0px !important; }

.unity-navbar-dark { background-color: rgb(52, 58, 65); justify-content: flex-start !important; }

.unity-navbar { -webkit-box-align: center; -webkit-box-direction: normal; -webkit-box-orient: horizontal; -webkit-box-pack: start; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); align-items: center; background-color: rgb(52, 58, 65); border-style: none; color: rgb(67, 82, 90); display: flex; flex-flow: row wrap; font-size: 14.4px; font-weight: 400; justify-content: flex-start; outline: rgb(67, 82, 90) none 0px; padding: 8px 16px; position: relative; text-align: left; }

.unity-navbar-collapse { -webkit-box-align: center; -webkit-box-direction: normal; -webkit-box-flex: 1; -webkit-box-pack: center; align-items: center; border-style: none; box-sizing: border-box; flex-wrap: wrap; flex-grow: 1; justify-content: flex-start; padding: 0px; }

.unity-navbar-ml-auto { -webkit-box-direction: normal; -webkit-box-orient: horizontal; display: flex; flex-flow: row wrap; flex-shrink: 0; float: right; list-style: outside none none; margin-left: auto !important; }

.unity-navbar-link { -webkit-box-direction: normal; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); background-color: rgba(0, 0, 0, 0); border-bottom: 1px solid rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: "Work Sans", sans-serif; font-size: 14px; font-weight: 600; line-height: 16px; list-style: outside none none; margin: 5px 20px; outline: rgb(255, 255, 255) none 0px; padding: 10px 0px 4px; text-align: left; text-decoration-color: rgb(255, 255, 255); text-decoration-line: none; text-decoration-style: solid; text-transform: uppercase; }

.unity-navbar-link:hover { border-bottom-color: rgb(255, 175, 26); color: white; list-style: none; text-decoration: none; }

.unity-footer { background: rgb(47, 60, 69); box-sizing: border-box; color: rgb(255, 255, 255); font: bold 12px "Open Sans", sans-serif; margin-left: auto; margin-right: auto; padding: 20px 15px 30px; text-align: left; text-transform: uppercase; width: 100%; outline: 0px !important; }

.unity-footer-row { display: flex; flex-wrap: wrap; margin-left: -15px; margin-right: -15px; }

.unity-footer-row li { padding-left: 0px; padding-right: 0px; }

.unity-footer strong { display: block; font-weight: normal; margin-bottom: 10px; }

.unity-footer-row .unity-col-lg-4 { display: block; flex: 0 0 33.3333%; line-height: normal; max-width: 33.3333%; min-height: 1px; outline: white none 0px; padding-left: 15px; padding-right: 15px; position: relative; width: 100%; }

.unity-footer-row .unity-col-lg-2 { flex: 0 0 16.6667%; max-width: 16.6667%; padding-left: 15px; padding-right: 15px; }

.unity-footer-ul { display: block; list-style-type: disc; margin-bottom: 1rem; margin-top: 0px; }

.unity-footer-li { list-style: none; padding: 1px 0px; }

.unity-footer-row a { background-color: transparent; box-sizing: border-box; color: white; list-style: none; text-align: -webkit-match-parent; text-decoration: none; }

.unity-footer-row a:hover { text-decoration: underline; }

.unity-footer-row .unity-footer-fa-cirle { color: rgb(255, 255, 255); }

.unity-footer-row .unity-footer-fa-icon { color: rgb(67, 82, 90); }

.unity-footer-row .list-inline-item:not(:last-child) { margin-right: 0.5rem; }

.unity-footer-row button { appearance: button; align-items: flex-start; background-color: rgb(242, 85, 92); border: 1px solid rgb(242, 85, 92); border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 0px; color: rgb(255, 255, 255); display: inline-block; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: 700; letter-spacing: normal; line-height: 22px; margin: 0px; padding: 0.375rem 25px; text-align: center; text-indent: 0px; text-rendering: auto; text-shadow: none; text-transform: uppercase; user-select: none; vertical-align: middle; white-space: nowrap; word-spacing: normal; outline: 0px !important; width: 100% !important; }
