@charset "utf-8";

.elementor-24891 .elementor-element.elementor-element-50f0af1c .elementor-alert { background-color: rgb(243, 243, 243); border-left-width: 0px; }

.elementor-24891 .elementor-element.elementor-element-50f0af1c .elementor-alert-title { color: rgb(0, 0, 0); font-weight: var( --e-global-typography-primary-font-weight ); }

.elementor-24891 .elementor-element.elementor-element-50f0af1c .elementor-alert-description { color: rgb(0, 0, 0); font-family: var( --e-global-typography-text-font-family ),Sans-serif; font-weight: var( --e-global-typography-text-font-weight ); }

.elementor-24891 .elementor-element.elementor-element-46a257b2 { padding: 0px; }

.elementor-24891 .elementor-element.elementor-element-161c1e1e > .elementor-element-populated > .elementor-widget-wrap { padding: 0px; }

.elementor-24891 .elementor-element.elementor-element-573f5fa0 > .elementor-widget-container { padding: 0px; }

.elementor-24891 .elementor-element.elementor-element-4c14252 > .elementor-container { max-width: 1750px; }

.elementor-24891 .elementor-element.elementor-element-4c14252 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap { align-content: center; align-items: center; }

.elementor-24891 .elementor-element.elementor-element-4c14252:not(.elementor-motion-effects-element-type-background), .elementor-24891 .elementor-element.elementor-element-4c14252 > .elementor-motion-effects-container > .elementor-motion-effects-layer { background-color: rgb(246, 197, 68); }

.elementor-24891 .elementor-element.elementor-element-4c14252 { transition: background 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s; color: rgb(0, 0, 0); margin-top: 0px; margin-bottom: 0px; padding: 9px 0px 9px 25px; }

.elementor-24891 .elementor-element.elementor-element-4c14252 > .elementor-background-overlay { transition: background 0.3s ease 0s, border-radius 0.3s ease 0s, opacity 0.3s ease 0s; }

.elementor-24891 .elementor-element.elementor-element-56c8b2e1.elementor-column > .elementor-column-wrap > .elementor-widget-wrap { justify-content: flex-end; }

.elementor-24891 .elementor-element.elementor-element-56c8b2e1 > .elementor-element-populated > .elementor-widget-wrap { padding: 0px; }

.elementor-24891 .elementor-element.elementor-element-241c8c9e > .elementor-element-populated { color: rgb(0, 0, 0); }

.elementor-24891 .elementor-element.elementor-element-99a3b9a .elementor-nav-menu .elementor-item { font-size: 20px; font-weight: 700; }

.elementor-24891 .elementor-element.elementor-element-99a3b9a .elementor-nav-menu--main .elementor-item { color: rgb(0, 0, 0); fill: rgb(0, 0, 0); }

.elementor-24891 .elementor-element.elementor-element-99a3b9a .elementor-nav-menu--dropdown a:hover, .elementor-24891 .elementor-element.elementor-element-99a3b9a .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-24891 .elementor-element.elementor-element-99a3b9a .elementor-nav-menu--dropdown a.highlighted { background-color: rgba(0, 0, 0, 0); }

.elementor-24891 .elementor-element.elementor-element-99a3b9a > .elementor-widget-container { padding: 0px; }

.elementor-24891 .elementor-element.elementor-element-74ca5d2 > .elementor-container { max-width: 1750px; }

.elementor-24891 .elementor-element.elementor-element-74ca5d2 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap { align-content: center; align-items: center; }

.elementor-24891 .elementor-element.elementor-element-74ca5d2:not(.elementor-motion-effects-element-type-background), .elementor-24891 .elementor-element.elementor-element-74ca5d2 > .elementor-motion-effects-container > .elementor-motion-effects-layer { background-color: rgb(255, 255, 255); }

.elementor-24891 .elementor-element.elementor-element-74ca5d2 { transition: background 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s; margin-top: 0px; margin-bottom: 0px; padding: 11px 0px 11px 25px; }

.elementor-24891 .elementor-element.elementor-element-74ca5d2 > .elementor-background-overlay { transition: background 0.3s ease 0s, border-radius 0.3s ease 0s, opacity 0.3s ease 0s; }

.elementor-bc-flex-widget .elementor-24891 .elementor-element.elementor-element-4b45d622.elementor-column .elementor-column-wrap { align-items: center; }

.elementor-24891 .elementor-element.elementor-element-4b45d622.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap { align-content: center; align-items: center; }

.elementor-24891 .elementor-element.elementor-element-4b45d622.elementor-column > .elementor-column-wrap > .elementor-widget-wrap { justify-content: flex-start; }

.elementor-24891 .elementor-element.elementor-element-4b45d622 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) { margin-bottom: 0px; }

.elementor-bc-flex-widget .elementor-24891 .elementor-element.elementor-element-68136eb5.elementor-column .elementor-column-wrap { align-items: center; }

.elementor-24891 .elementor-element.elementor-element-68136eb5.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap { align-content: center; align-items: center; }

.elementor-24891 .elementor-element.elementor-element-68136eb5.elementor-column > .elementor-column-wrap > .elementor-widget-wrap { justify-content: flex-start; }

.elementor-24891 .elementor-element.elementor-element-68136eb5 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) { margin-bottom: 0px; }

.elementor-24891 .elementor-element.elementor-element-4c24413:not(.elementor-motion-effects-element-type-background), .elementor-24891 .elementor-element.elementor-element-4c24413 > .elementor-motion-effects-container > .elementor-motion-effects-layer { background-color: var( --e-global-color-68212e90 ); }

.elementor-24891 .elementor-element.elementor-element-4c24413 { transition: background 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s; padding: 0px 25px; }

.elementor-24891 .elementor-element.elementor-element-4c24413 > .elementor-background-overlay { transition: background 0.3s ease 0s, border-radius 0.3s ease 0s, opacity 0.3s ease 0s; }

.elementor-24891 .elementor-element.elementor-element-36c3a1c6 .elementor-icon-wrapper { text-align: center; }

.elementor-24891 .elementor-element.elementor-element-36c3a1c6 .elementor-icon i, .elementor-24891 .elementor-element.elementor-element-36c3a1c6 .elementor-icon svg { transform: rotate(0deg); }

@media (max-width: 1023px) {
  .elementor-24891 .elementor-element.elementor-element-4c14252 { padding: 0px; }
  .elementor-24891 .elementor-element.elementor-element-74ca5d2 > .elementor-container { max-width: 1750px; }
  .elementor-24891 .elementor-element.elementor-element-74ca5d2 { margin-top: 0px; margin-bottom: 0px; padding: 0px; }
  .elementor-24891 .elementor-element.elementor-element-4b45d622 { width: 50%; }
  .elementor-24891 .elementor-element.elementor-element-4b45d622 > .elementor-element-populated > .elementor-widget-wrap { padding: 0px; }
  .elementor-24891 .elementor-element.elementor-element-68136eb5 > .elementor-element-populated > .elementor-widget-wrap { padding: 0px; }
  .elementor-24891 .elementor-element.elementor-element-5a9ef23a { width: 50%; }
  .elementor-24891 .elementor-element.elementor-element-6fc6fb73 { width: 100%; }
}

@media (min-width: 1024px) {
  .elementor-24891 .elementor-element.elementor-element-56c8b2e1 { width: 41.4%; }
  .elementor-24891 .elementor-element.elementor-element-241c8c9e { width: 58.6%; }
  .elementor-24891 .elementor-element.elementor-element-4b45d622 { width: 11.5%; }
  .elementor-24891 .elementor-element.elementor-element-68136eb5 { width: 31.838%; }
  .elementor-24891 .elementor-element.elementor-element-5a9ef23a { width: 60.26%; }
  .elementor-24891 .elementor-element.elementor-element-53cbf6a7 { width: 11.664%; }
}

@media (max-width: 1024px) and (min-width: 1024px) {
  .elementor-24891 .elementor-element.elementor-element-4b45d622 { width: 35%; }
  .elementor-24891 .elementor-element.elementor-element-68136eb5 { width: 35%; }
  .elementor-24891 .elementor-element.elementor-element-5a9ef23a { width: 35%; }
  .elementor-24891 .elementor-element.elementor-element-6fc6fb73 { width: 100%; }
}

.covid-banner .elementor-alert-description p { margin-bottom: 0px; }
