@charset "utf-8";

.elementor-23774 .elementor-element.elementor-element-7e7f3006:not(.elementor-motion-effects-element-type-background), .elementor-23774 .elementor-element.elementor-element-7e7f3006 > .elementor-motion-effects-container > .elementor-motion-effects-layer { background-color: rgb(198, 42, 28); }

.elementor-23774 .elementor-element.elementor-element-7e7f3006 { transition: background 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s; padding: 40px 0px 15px; }

.elementor-23774 .elementor-element.elementor-element-7e7f3006 > .elementor-background-overlay { transition: background 0.3s ease 0s, border-radius 0.3s ease 0s, opacity 0.3s ease 0s; }

.elementor-23774 .elementor-element.elementor-element-19649222 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) { margin-bottom: 0px; }

.elementor-bc-flex-widget .elementor-23774 .elementor-element.elementor-element-7a04b6ff.elementor-column .elementor-column-wrap { align-items: center; }

.elementor-23774 .elementor-element.elementor-element-7a04b6ff.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap { align-content: center; align-items: center; }

.elementor-23774 .elementor-element.elementor-element-7a04b6ff.elementor-column > .elementor-column-wrap > .elementor-widget-wrap { justify-content: center; }

.elementor-23774 .elementor-element.elementor-element-7a04b6ff > .elementor-element-populated > .elementor-widget-wrap { padding: 0px; }

.elementor-23774 .elementor-element.elementor-element-3f4b1d73 > .elementor-widget-container { margin: 0px; padding: 0px; }

.elementor-23774 .elementor-element.elementor-element-3f4b1d73 { width: 100%; max-width: 100%; align-self: center; }

.uamodal-1e313c1b .uael-content { width: 500px; background-color: rgb(255, 255, 255); }

.uamodal-1e313c1b .uael-overlay { background: rgba(0, 0, 0, 0.75); }

.uamodal-1e313c1b .uael-modal-close { font-size: 20px; line-height: 20px; height: 20px; width: 20px; }

.uamodal-1e313c1b .uael-modal-close i, .uamodal-1e313c1b .uael-modal-close svg { font-size: 20px; line-height: 20px; height: 20px; width: 20px; }

.uamodal-1e313c1b .uael-modal-close i { color: rgb(0, 0, 0); }

.uamodal-1e313c1b .uael-modal-close svg { fill: rgb(0, 0, 0); }

.elementor-23774 .elementor-element.elementor-element-1e313c1b .uael-modal-action-wrap { text-align: center; }

.uamodal-1e313c1b .uael-modal-title-wrap { text-align: left; padding: 15px 25px; }

.uamodal-1e313c1b .uael-content .uael-modal-content-data { padding: 25px; }

.elementor-23774 .elementor-element.elementor-element-1e313c1b .uael-modal-action { color: rgb(255, 255, 255); }

.elementor-23774 .elementor-element.elementor-element-1e313c1b .uael-modal-action:hover { color: rgb(200, 200, 200); }

.elementor-23774 .elementor-element.elementor-element-1e313c1b > .elementor-widget-container { border-style: solid; border-color: rgb(255, 255, 255); }

.elementor-23774 .elementor-element.elementor-element-f82d3d9 { text-align: center; }

.elementor-23774 .elementor-element.elementor-element-30785530 { text-align: center; color: rgb(255, 255, 255); font-size: 14px; }

.elementor-23774 .elementor-element.elementor-element-1516b4d1 .elementor-icon-wrapper { text-align: center; }

.elementor-23774 .elementor-element.elementor-element-1516b4d1.elementor-view-stacked .elementor-icon { background-color: rgb(255, 255, 255); }

.elementor-23774 .elementor-element.elementor-element-1516b4d1.elementor-view-framed .elementor-icon, .elementor-23774 .elementor-element.elementor-element-1516b4d1.elementor-view-default .elementor-icon { color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); }

.elementor-23774 .elementor-element.elementor-element-1516b4d1.elementor-view-framed .elementor-icon, .elementor-23774 .elementor-element.elementor-element-1516b4d1.elementor-view-default .elementor-icon svg { fill: rgb(255, 255, 255); }

.elementor-23774 .elementor-element.elementor-element-1516b4d1 .elementor-icon { font-size: 24px; }

.elementor-23774 .elementor-element.elementor-element-1516b4d1 .elementor-icon i, .elementor-23774 .elementor-element.elementor-element-1516b4d1 .elementor-icon svg { transform: rotate(0deg); }

.elementor-23774 .elementor-element.elementor-element-1516b4d1 > .elementor-widget-container { margin: 12px 0px 0px; }

@media (max-width: 1024px) {
  .elementor-23774 .elementor-element.elementor-element-7e7f3006 { padding: 30px 20px; }
  .elementor-23774 .elementor-element.elementor-element-316001de { text-align: center; }
  .elementor-23774 .elementor-element.elementor-element-316001de img { width: 200px; }
  .uamodal-1e313c1b .uael-content { width: 500px; }
}

@media (max-width: 1023px) {
  .elementor-23774 .elementor-element.elementor-element-7e7f3006 { padding: 30px 0px 0px; }
  .elementor-23774 .elementor-element.elementor-element-19649222 > .elementor-element-populated > .elementor-widget-wrap { padding: 0px; }
  .elementor-23774 .elementor-element.elementor-element-316001de img { width: 175px; max-width: 175px; }
  .elementor-23774 .elementor-element.elementor-element-6e927836 { padding: 20px 0px 0px; }
  .elementor-23774 .elementor-element.elementor-element-3f4b1d73 { align-self: center; }
  .uamodal-1e313c1b .uael-content { width: 300px; }
  .elementor-23774 .elementor-element.elementor-element-1e313c1b > .elementor-widget-container { border-width: 0px; }
}

.elementor-23774 .elementor-element.elementor-element-3f4b1d73 .sf-social-icons { text-align: center !important; margin: 0px !important; }

.elementor-23774 .elementor-element.elementor-element-3f4b1d73 a { color: rgb(255, 255, 255); }

.legal-footer > a { color: rgb(255, 255, 255); }
