@charset "utf-8";

a { color: rgb(202, 23, 30); }

.footer a { font-size: 11px; color: rgb(255, 255, 255); text-decoration: none; }

.footer a:link, #toptab a:visited { color: rgb(255, 255, 255); text-decoration: none; }

.footer a:link:hover, .footer a:visited:hover { color: rgb(254, 221, 22); text-decoration: none; }

.navbar-inverse { background-color: rgb(186, 22, 28); }

.navbar-inverse .navbar-nav > li > a { color: rgb(238, 238, 238); }

.navbar-inverse .navbar-brand { color: rgb(238, 238, 238); }

.navbar-inverse .navbar-toggle { border-color: rgb(255, 255, 255); }

.header { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: bolder; font-variant: normal; text-transform: uppercase; color: rgb(165, 170, 156); text-align: left; }

.section { border: 1px solid gray; min-height: 75px; margin-left: 8px; margin-right: 8px; margin-bottom: 10px; display: block; overflow: auto; }

.subheading { text-decoration: none; font-size: 12px; color: gray; font-style: italic; }

.section .detail { font-size: 12px; color: black; padding-left: 0px; }

.section .detail td { }

.section .detail a { text-decoration: none; font-size: 12px; }

.section .detail label { font-weight: bold; }

.section .header { padding-left: 8px; font-size: 22px; font-weight: bold; }

.ParkCentralLabel { border: 0px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; font-weight: bold; letter-spacing: normal; padding: 0px; }

.auto-style2 { width: 151px; height: 42px; }
