@charset "utf-8";

body { margin: 0px; padding: 0px; font-family: Arial, Verdana, sans-serif; }

.bodytext { background-color: white; font-family: Arial, Verdana, sans-serif; font-size: 10pt; padding: 0px; }

.clr { clear: both; }

.wrapper { background-color: rgb(255, 255, 255); width: 1000px; margin-left: auto; margin-right: auto; border-left: 1px solid black; border-right: 1px solid black; border-bottom: 0px solid black; height: 125px; }

#footer { background: url("../images/background-footer.jpg") left bottom repeat-x rgb(106, 106, 106); width: 780px; height: 39px; text-align: center; }

#footer p { font: 11px / 100% Arial, Verdana, sans-serif; color: rgb(255, 255, 255); padding: 11px 0px 0px; margin: 0px; text-align: center; }

#footer a { font: 11px Arial, verdana, sans-serif; color: rgb(255, 255, 255); text-decoration: none; }

#footer a:link, #toptab a:visited { color: rgb(255, 255, 255); text-decoration: none; }

#footer a:link:hover, #footer a:visited:hover { color: rgb(254, 221, 22); text-decoration: none; }

.ParkCentralContentDiv { background-color: white; border: 0px solid white; float: left; font-family: Arial, Verdana, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; margin: 0px auto; }

.ParkCentralContentDiv2 { background-color: white; border-right: 0px solid rgb(35, 31, 32); border-left: 0px solid rgb(35, 31, 32); float: left; font-family: Arial, Verdana, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; margin: 0px auto; width: 99%; }

.ParkCentralContentDiv3 { background-color: white; border-right: 0px solid rgb(35, 31, 32); border-left: 0px solid rgb(35, 31, 32); float: left; font-family: Arial, Verdana, sans-serif; font-size: 10pt; font-style: normal; font-weight: normal; margin: 0px auto; width: 99%; }

.ParkCentralEmphasizedContent { font-size: 24pt; font-family: Arial, "sans-serif"; color: black; }

.ParkCentralImage { text-align: left; vertical-align: top; border: 1px none black; width: 90%; }

.ParkCentralContentTable { border: 0px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; }

.ParkCentralContentRow { border: 0px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; }

.ParkCentralContentCell { border: 0px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; }

.ParkCentralContentDateCell { border: 0px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; width: 200px; }

.ParkCentralContentTableVehicle { background-color: rgb(255, 255, 255); border: 0px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; }

.ParkCentralContentRowVehicle { background-color: rgb(255, 255, 255); border: 0px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; }

.ParkCentralContentCellVehicle { background-color: rgb(203, 222, 246); border: 0px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; }

.ParkCentralCheckBoxList { font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; }

.ParkCentralComboBox { border: 1px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; }

.ParkCentralComboBoxState { border: 1px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; width: 25px; }

.ParkCentralSpacer { border: 0px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; }

.ParkCentralLabel { border: 0px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; font-weight: bold; letter-spacing: normal; padding: 0px; }

.ParkCentralLabelHeader { border: 0px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 12pt; font-weight: bold; letter-spacing: normal; padding: 0px; }

.ParkCentralTextBoxNoScrollbars { border: 0px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; }

.ParkCentralTextBox { border: 1px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; }

.ParkCentralTextBoxLabel { border: 0px solid rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; }

.ParkCentralError { color: red; font-family: Arial; font-size: 16px; }

.ParkCentralButton { font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; text-decoration: none; }

.ParkCentralLinkButton { border-width: 1px; border-style: inset outset; border-color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; text-decoration: none; }

.ParkCentralLinkButton a { }

.ParkCentralLinkButton a:link { color: rgb(255, 255, 255); }

.ParkCentralLinkButton a:visited { color: rgb(255, 255, 255); }

.ParkCentralLinkButton a:link:hover, .ParkCentralLinkButton a:visited:hover { background: rgb(255, 222, 0); color: rgb(35, 31, 32); border-top: 1px solid rgb(255, 255, 255); border-bottom: 0px solid rgb(218, 185, 16); }

.ParkCentralLinkButton1 { overflow: hidden; display: block; position: relative; outline: none; }

.ParkCentralMessageText { color: rgb(25, 119, 193); font-family: Arial; font-size: 8pt; text-decoration: none; }

#LinkButton { background-image: url("Content/Images/Next.jpg"); border-width: 2px; border-style: outset solid; border-color: rgb(0, 0, 0); width: 25px; }

#LinkButton a { background-position: left center; background-repeat: no-repeat; font-family: Arial, Verdana, sans-serif; font-size: 10pt; letter-spacing: normal; padding: 0px; text-decoration: none; }

#LinkButton a:link { color: rgb(0, 0, 0); }

#LinkButton a:visited { color: rgb(0, 0, 0); }

#LinkButton a:link:hover, #LinkButton a:visited:hover, #LinkButton div:hover { background: rgb(255, 222, 0); color: rgb(35, 31, 32); border-right: 1px outset rgb(255, 0, 0); border-bottom: 1px outset rgb(255, 0, 0); }

#LinkButton1 a { border: 4px outset; padding: 2px; text-decoration: none; }

#LinkButton1 a:active { border: 4px inset; }

.SpacerDiv { border: none; width: 20px; }

.ParkCentralGrid { font: 10pt Arial, Verdana, sans-serif; border: 1px solid black; margin: 1px 1px 1px 4px; width: 85%; }

.ParkCentralGridMasterTableView { font-family: Arial, Verdana, sans-serif; font-size: 10pt; padding: 0px; }

.ParkCentralGridHeaderStyle { border: none; padding: 0px; }

.ParkCentralGridFooterStyle { border: none; padding: 0px; }

.ParkCentralGridItemStyle { border: none; font: 10pt Arial, Verdana, sans-serif; padding: 0px; }

.ParkCentralGridAlernatingItemStyle { font: 10pt Arial, Verdana, sans-serif; background-color: rgb(84, 146, 180); padding: 0px; }

.ParkCentralGridDetailTableVehicle { font-family: Arial, Verdana, sans-serif; font-size: 10pt; padding: 0px; }

.ParkCentralGridEditFormParkerTable { background-color: rgb(84, 146, 180); }

.ParkCentralGridEditFormParker { }

.ParkCentralGridEditFormParker a { }

.ParkCentralGridEditFormParker a:hover { font-size: 10pt; }

.ParkCentralGridEditFormVehicle { }

.ParkCentralGridEditFormVehicle a { }

.ParkCentralGridEditFormVehicle a:hover { font-size: 10pt; }

.ParkCentralGridInnerHeaderStyle { border: none; padding: 0px; }

.ParkCentralGridInnerHeaderStyle a { }

.ParkCentralGridInnerHeaderStyle a:hover { font-size: 10pt; }

.ParkCentralGridInnerItemStyle { border: none; font: 10pt Arial, Verdana, sans-serif; padding: 0px; }

.ParkCentralGridInnerAlernatingItemStyle { font: 10pt Arial, Verdana, sans-serif; padding: 0px; }

.ParkCentralGridMostInnerHeaderStyle { font: bold 10pt Arial, Verdana, sans-serif; padding: 0px; }

.ParkCentralGridMostInnerFooterStyle { border: none; padding: 0px; }

.ParkCentralGridMostInnerItemStyle { font: 10pt Arial, Verdana, sans-serif; padding: 0px; }

.ParkCentralGridMostInnerAlernatingItemStyle { font: 10pt Arial, Verdana, sans-serif; padding: 0px; }

.ParkCentralGridMostInnerCommandStyle { }

.ParkCentralParkingCartContentDiv { background-color: white; border: 0px solid white; font-family: Arial, Verdana, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; margin: 0px auto; }

.ParkCentralPaymentContentDiv { background-color: white; border: 0px solid white; font-family: Arial, Verdana, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; margin: 0px auto; width: 778px; }

.ParkCentralParkingCartGridMasterTableView { font-family: Arial, Verdana, sans-serif; font-size: 10pt; padding: 0px; }

.ParkCentralParkingCartImage { text-align: left; vertical-align: top; border: 0px none black; width: 90%; }

.ParkCentralParkingCartInfo { font: 10pt Arial, Verdana, sans-serif; }

.ParkCentralParkingCartGrid { font: 10pt Arial, Verdana, sans-serif; border: 0px solid black; margin: 1px 1px 1px 4px; }

.ParkCentralParkingDeleteGrid { font: 10pt Arial, Verdana, sans-serif; border: 0px solid black; margin: 1px 1px 1px 4px; }

.ParkCentralParkingCardGridItemStyle { }

.ParkCentralParkingCartGridHeaderStyle { background-color: white; }

.ParkCentralParkingCartGridInnerItemStyle { }

.ParkCentralParkingCartGridInnerHeaderStyle { }

.ParkCentralParkingCartLabel { }

.ParkCentralParkingCartGridEditFormParkerTable { }

.ParkCentralParkingCartGridEditFormParker { }

.ParkCentralParkingCartCurrencyLabel { text-align: right; }

.ParkCentralParkingCartTextBoxLabel { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-variant: normal; font-weight: normal; }

.ParkCentralCheckBox { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-variant: normal; font-weight: normal; }

.ParkCentralGridDetailTableRateInfo { }

.ParkCentralTermsAndConditionsContentDiv { font-family: Arial, Helvetica, sans-serif; font-size: large; font-style: normal; font-variant: normal; font-weight: normal; }

.ParkCentralTermsAndConditionsDiv { font-family: Arial, Helvetica, sans-serif; font-size: large; font-style: normal; font-variant: normal; font-weight: normal; }

.ParkCentralTermsAndConditionsDivVersion { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-variant: normal; font-weight: normal; }

.ParkCentralTermsAndConditionsDivVersion { font-family: Arial, Helvetica, sans-serif; font-size: large; font-style: normal; font-variant: normal; font-weight: normal; }

.ParkCentralTextAlignRight { text-align: right; }

.ParkCentralLoginHeader { display: block; clear: both; background-image: url("/Content/Images/Login-Top.png"); background-repeat: no-repeat; margin: 6px auto auto; font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 0.95em; padding: 5px 8px 4px; }

.ParkCentralLoginDiv { width: 440px; margin-left: auto; margin-right: auto; }

.ParkCentralLoginBorder { height: 270px; border: 1px solid lightblue; }

.ParkCentralLoginForgotPasswordLink { text-decoration: none; font-family: Tahoma; font-size: 10px; }

.ParkCentralLoginArea { width: 390px; margin-left: auto; margin-right: auto; }

.ParkCentralGrayText { text-decoration: none; font-family: Tahoma; font-size: 12px; color: gray; }

.ParkCentralBlueLinks { text-decoration: none; font-family: Tahoma; font-size: 12px; color: blue; }

.ParkCentralLandingPageHeading { border-right: 1px solid lightblue; float: left; width: 220px; height: 75px; padding-left: 8px; }

.ParkCentralLandingPageHeadingNoHeight { border-right: 1px solid lightblue; float: left; width: 220px; padding-left: 8px; }

.ParkCentralManageHeading { font-family: Tahoma; font-size: 22px; font-weight: bold; }

.ParkCentralLoginStatus { text-decoration: none; font-family: Tahoma; font-size: 9px; color: yellow; }

.ParkCentralTableTitle { font-size: 12pt; font-weight: bold; color: white; background-color: rgb(128, 128, 128); border-width: 1px; border-color: rgb(0, 0, 0); border-style: solid; }

.ParkCentralTableHeader { font-size: 9pt; font-weight: bold; background-color: rgb(192, 192, 192); border-width: 1px; border-color: black; border-style: solid; text-align: center; }

.ParkCentralTableRow { font-size: 9pt; background-color: transparent; border-width: 1px; border-color: black; border-style: solid; text-align: center; }

.ParkCentralTextBoxFlat { border: none; }

.header { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: bolder; font-variant: normal; text-transform: uppercase; color: rgb(165, 170, 156); text-align: left; }

.copy { font-family: Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; color: rgb(51, 51, 51); text-align: left; line-height: normal; }

.main_header { font-family: "Times New Roman", Times, serif; font-size: large; color: rgb(115, 65, 32); font-weight: normal; }

.address { font-family: Arial, Helvetica, sans-serif; font-size: small; font-weight: bolder; color: rgb(255, 255, 255); background-position: center center; }

.centered { font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: rgb(51, 51, 51); text-align: center; }

.copy2 { font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: rgb(51, 51, 51); text-align: left; }

.copy3 { font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: rgb(51, 51, 51); text-align: left; }

.mainheadersm { font-family: "Times New Roman", Times, serif; font-size: medium; color: rgb(115, 65, 32); background-position: left center; }

.module { border: 1px solid rgb(218, 218, 218); padding: 12px; background: url("../Content/moduleBg.gif") repeat-x rgb(255, 255, 255); font-family: Arial, Verdana; font-size: 11px; color: rgb(51, 51, 51); vertical-align: top; margin-right: 3px; }
