@charset "utf-8";

.card[data-v-c460a2be] { width: 75vw; position: inherit; padding-bottom: 0.5em; box-shadow: none !important; background-color: unset !important; }

.card__title[data-v-c460a2be] { padding: 0.75em 0.5em 0.5em; }

.card__text[data-v-c460a2be] { padding: 0.33em; }

.button-row[data-v-c460a2be] { display: inline-block; }

.card__actions .btn[data-v-c460a2be] { margin: 4px; font-size: 1em; min-width: 44px; }

.card__actions.button-row[data-v-c460a2be] { justify-content: center; padding-bottom: 0.15em; }

.disable-button[data-v-c460a2be] { background-color: rgb(240, 241, 244); color: rgb(86, 92, 113); border: rgb(240, 241, 244); }
