@charset "utf-8";

.payment-chevron-button { align-items: center; display: flex; box-shadow: none !important; }

.payment-chevron-button > svg { stroke: rgb(0, 0, 0); }

.payment-chevron-button:focus { outline: currentcolor dotted 1px; }

.tds-scrim--black .payment-chevron-button > svg { stroke: rgb(255, 255, 255); }
