@charset "utf-8";

.btn-dogecoin { --doge-brand-color: #ba9f33; --doge-shadow-color: #e0cd81; --doge-button-color: #ffffff; --doge-button-color-selected: var(--doge-brand-color); --doge-text-color: #171a20; --doge-text-color-selected: #ffffff; border-color: var(--doge-brand-color)  !important; }

.btn-dogecoin::before { background: var(--doge-brand-color); border-radius: 100%; color: var(--doge-text-color); content: "Ɖ"; display: inline-block; font-size: 16px; font-weight: 600; height: 22px; line-height: 22px; margin-right: 5px; padding: 1px 0px 0px 2px; width: 21px; }

.btn-dogecoin .dogecoin-wordmark { fill: var(--doge-text-color); }

.btn-dogecoin:hover, .btn-dogecoin:focus { box-shadow: var(--doge-shadow-color) 0 0 8px; background: var(--doge-brand-color)  !important; border-color: var(--doge-brand-color)  !important; color: var(--doge-text-color-selected)  !important; }

.btn-dogecoin:hover svg, .btn-dogecoin:focus svg { filter: drop-shadow(0 0 8px var(--doge-shadow-color)); }

.btn-dogecoin { background: var(--doge-button-color)  !important; color: var(--doge-text-color)  !important; font-size: 14px !important; }

.btn-dogecoin:hover::before, .btn-dogecoin:focus::before { background: var(--doge-button-color)  !important; color: var(--doge-brand-color)  !important; }
