@charset "utf-8";

.choose-wallet-item-modal .tds-btn_group { align-items: flex-start; column-gap: 0px; display: flex; flex-wrap: wrap; }

.choose-wallet-item-modal .tds-btn_group .action-button_leading-icon { border-radius: 3px; height: 20px; margin-inline-end: 8px; min-inline-size: 0%; width: 30px; }

.choose-wallet-item-modal .tds-btn_group .button-wrapper { display: flex; flex-direction: column; margin: 12px; }

.choose-wallet-item-modal .tds-btn_group .button-wrapper .tds-btn { background-color: transparent; box-sizing: content-box; color: inherit; cursor: pointer; font: inherit; padding: 0px; border: 1px solid var(--tds-text--color--placeholder); border-radius: var(--tds-border-radius); height: 69px; text-align: center; width: 93px; align-items: center; display: flex; }

.choose-wallet-item-modal .tds-btn_group .button-wrapper .tds-btn.add-new-payment-method { color: rgb(162, 163, 165); font-size: 42px; }

.choose-wallet-item-modal .tds-btn_group .button-wrapper .tds-btn.add-new-payment-method .tds-icon { --tds-icon--size: 35px; }

.choose-wallet-item-modal .tds-btn_group .button-wrapper .wallet-status { text-align: center; }
