@charset "utf-8";

.payment-actions .tds-btn.hidden { visibility: hidden; }

.payment-actions > .tds-btn:only-child { margin-top: 20px; }

@media (min-width: 600px) {
  dialog .tds-btn { max-width: 318px; }
}
