@charset "utf-8";

.resultContent_d64f0529 { display: table-row; }

.resultContent_d64f0529 .resultItem_d64f0529 { display: table-cell; vertical-align: bottom; }

.peoplePickerPersona_d64f0529 { width: 180px; }

.peoplePickerPersona_d64f0529 .ms-Persona-details { width: 100%; }

.peoplePicker_d64f0529 .ms-BasePicker-text { min-height: 40px; }

.peoplePickerPersonaContent_d64f0529 { display: flex; width: 100%; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: center; align-items: center; }
