@charset "utf-8";

@media (min-width: 47em) {
  .atm-c-stacked-block--break { display: flex; -webkit-box-align: start; align-items: flex-start; }
}

.atm-c-stacked-block__link { color: rgb(0, 96, 128); text-decoration: underline; font-weight: normal; }

.atm-c-stacked-block__link:hover { color: rgb(0, 51, 160); }

.atm-c-stacked-block__link:focus { outline: rgb(98, 68, 187) solid 4px; }

.atm-c-stacked-block__media { margin-bottom: 0px; }

@media (min-width: 47em) {
  .atm-c-stacked-block--break .atm-c-stacked-block__media { margin-right: 2rem; }
}

.atm-c-stacked-block__img { border-radius: 4px; }

.atm-c-stacked-block__body { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; margin-right: 2rem; }

.atm-c-stacked-block__title { font-size: 1.5rem; line-height: 1.33333; font-weight: 600; margin-top: 0px; margin-bottom: 0.5rem; }
