@charset "utf-8";

.atm-c-booking-leg { display: grid; gap: 1rem; -webkit-box-align: center; align-items: center; grid-template-columns: 1fr; margin-top: 1rem; margin-bottom: 1rem; padding-bottom: 1.5rem; border-bottom: 1px solid rgba(159, 167, 173, 0.75); }

@media (min-width: 35em) {
  .atm-c-booking-leg { grid-template-columns: 1fr 18px 1fr 18px; }
}

@media (min-width: 70em) {
  .atm-c-booking-leg { margin-top: 0px; }
}

.atm-c-booking-bar__close-btn { display: none; }

@media (min-width: 35em) {
  .atm-c-booking-bar__close-btn { display: initial; margin-top: 1.5rem; }
}
