@charset "utf-8";

.atm-c-matrix__container { overflow: auto hidden; }

.atm-c-matrix__shadow-right { display: none; }

.atm-c-matrix.atm-is-overflow-right .atm-c-matrix__shadow-right { display: block; position: fixed; background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.2) 100%); width: 0.75rem; }

.atm-c-matrix__table { height: 100%; width: 100%; border-spacing: 0px; }

.atm-c-matrix.atm-is-overflow-right .atm-c-matrix__table, .atm-c-matrix.atm-is-overflow-left .atm-c-matrix__table { position: relative; }

.atm-c-matrix__table-caption { height: 1px; width: 1px; overflow: hidden; position: absolute !important; padding: 0px !important; border: 0px !important; white-space: nowrap !important; clip: rect(1px, 1px, 1px, 1px) !important; clip-path: inset(50%) !important; }

.atm-c-matrix__caption { font-size: 0.75rem; font-weight: 300; line-height: 1.66667; width: 100%; background: rgb(255, 255, 255); text-align: left; padding-bottom: 0.5rem; }

.atm-c-matrix__body { overflow: hidden; }

.atm-c-matrix__cell { text-align: center; border-spacing: 0px; }

.atm-c-matrix__btn { appearance: none; border-top: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); border-bottom: none; border-right: none; padding: 1rem 0px; outline: none; background: none; display: block; height: 100%; width: 100%; cursor: pointer; font-family: "Open Sans", HelveticaNeue, Helvetica, Arial, sans-serif; }

.atm-c-matrix__btn:active { color: inherit; }

.atm-c-matrix__btn::after { content: ""; display: block; position: relative; bottom: -0.75rem; height: 1px; width: 100%; background: transparent; }

.atm-c-matrix__btn:focus { background-color: rgb(239, 236, 248); border-top: 1px solid rgb(98, 68, 187); border-bottom: 1px solid rgb(98, 68, 187); border-left: 1px solid rgb(98, 68, 187); }

.atm-c-matrix__btn:hover { background-color: rgb(239, 236, 248); border-top: 1px solid rgb(98, 68, 187); border-bottom: 1px solid rgb(98, 68, 187); border-left: 1px solid rgb(98, 68, 187); }

.atm-c-matrix__btn:hover::before { content: ""; display: block; position: absolute; bottom: 100%; width: calc(100%); height: 999999px; background: rgb(239, 236, 248); z-index: -1; }

@media (hover: none) {
  .atm-c-matrix__btn:hover::before { background: transparent; }
}

.atm-c-matrix__btn:hover::after { content: ""; display: block; position: absolute; top: 100%; width: calc(100%); height: 999999px; background: rgb(239, 236, 248); z-index: -1; }

@media (hover: none) {
  .atm-c-matrix__btn:hover::after { background: transparent; }
}

.atm-c-matrix__cell.atm-is-active .atm-c-matrix__btn { border-color: rgb(98, 68, 187); background-color: rgb(98, 68, 187); color: rgb(255, 255, 255); }

.atm-c-matrix__cell.atm-is-active .atm-c-matrix__btn:hover, .atm-c-matrix__cell.atm-is-active .atm-c-matrix__btn:focus { border-top-color: rgb(98, 68, 187); border-right-color: rgb(98, 68, 187); border-left-color: rgb(98, 68, 187); background-color: rgb(98, 68, 187); color: rgb(255, 255, 255); border-bottom: none; }

.atm-c-matrix__cell.atm-is-active .atm-c-matrix__btn::before { content: ""; display: block; position: absolute; bottom: 100%; width: calc(100%); height: 999999px; background: rgb(239, 236, 248); z-index: -1; }

.atm-c-matrix__cell.atm-is-active .atm-c-matrix__btn::after { content: ""; display: block; position: absolute; top: 100%; width: calc(100%); height: 999999px; background: rgb(239, 236, 248); z-index: -1; }

.atm-c-matrix__body.atm-is-hovered .atm-c-matrix__cell.atm-is-active .atm-c-matrix__btn::before { content: none; }

.atm-c-matrix__body.atm-is-hovered .atm-c-matrix__cell.atm-is-active .atm-c-matrix__btn::after { content: none; }

.atm-c-matrix__body.atm-is-hovered .atm-c-matrix__cell.atm-is-active:hover .atm-c-matrix__btn::before, .atm-c-matrix__body.atm-is-hovered .atm-c-matrix__cell.atm-is-active:focus .atm-c-matrix__btn::before { content: ""; }

.atm-c-matrix__body.atm-is-hovered .atm-c-matrix__cell.atm-is-active:hover .atm-c-matrix__btn::after, .atm-c-matrix__body.atm-is-hovered .atm-c-matrix__cell.atm-is-active:focus .atm-c-matrix__btn::after { content: ""; }

td.atm-c-matrix__cell:last-of-type .atm-c-matrix__btn { border-right: 1px solid rgb(204, 204, 204); }

td.atm-c-matrix__cell:last-of-type .atm-c-matrix__btn:hover, td.atm-c-matrix__cell:last-of-type .atm-c-matrix__btn:focus { border-right-color: rgb(98, 68, 187); }

.atm-c-matrix__row:last-child .atm-c-matrix__btn { border-bottom: 1px solid rgb(204, 204, 204); }

.atm-c-matrix__row:last-child .atm-c-matrix__btn:hover, .atm-c-matrix__row:last-child .atm-c-matrix__btn:focus { border-bottom-color: rgb(98, 68, 187); position: relative; bottom: 1px; }

.atm-c-matrix__row:last-child td.atm-c-matrix__cell:first-of-type .atm-c-matrix__btn { border-bottom-left-radius: 4px; }

.atm-c-matrix__row:last-child td.atm-c-matrix__cell:last-of-type .atm-c-matrix__btn { border-bottom-right-radius: 4px; }

.atm-c-matrix__row:nth-child(2) td.atm-c-matrix__cell:first-of-type .atm-c-matrix__btn { border-top-left-radius: 4px; }

.atm-c-matrix__row:nth-child(2) td.atm-c-matrix__cell:last-of-type .atm-c-matrix__btn { border-top-right-radius: 4px; }

.atm-c-matrix__cell.atm-is-disabled .atm-c-matrix__btn:hover { background: inherit; border-top: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); border-bottom: none; cursor: not-allowed; }

.atm-c-matrix__cell-prefix { font-weight: 300; line-height: 1.71429; letter-spacing: 0.0625rem; text-transform: uppercase; position: absolute; left: 50%; transform: translate(-50%); top: 0.25rem; font-size: 0.625rem; }

.atm-c-matrix--hover .atm-c-matrix__cell-prefix { opacity: 0; transition: opacity 0.15s ease-out 0s; }

.atm-c-matrix--hover .atm-c-matrix__btn:hover .atm-c-matrix__cell-prefix, .atm-c-matrix--hover .atm-c-matrix__btn:focus .atm-c-matrix__cell-prefix { opacity: 1; }

th.atm-c-matrix__cell { text-align: center; font-size: 0.875rem; font-weight: 400; margin-bottom: 0px; line-height: 1.2; padding-top: 0.5rem; padding-bottom: 0.5rem; }

.atm-c-matrix__body th.atm-c-matrix__cell { padding: 0px 1rem 0px 0px; background: rgb(255, 255, 255); z-index: 1; text-align: left; }

.atm-c-matrix.atm-is-overflow-left .atm-c-matrix__body .atm-c-matrix__row:not(:first-child) th.atm-c-matrix__cell { position: fixed; background: rgb(255, 255, 255); padding: 0.5rem 0px; width: 83px; }

.atm-c-matrix.atm-is-overflow-left .atm-c-matrix__body .atm-c-matrix__row:not(:first-child) th.atm-c-matrix__cell::after { content: ""; position: absolute; top: 0px; right: -0.75rem; height: 100%; display: block; width: 0.75rem; background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.2) 100%); }

.atm-c-matrix__body .atm-c-matrix__row:hover th.atm-c-matrix__cell, .atm-c-matrix__body .atm-c-matrix__row:focus th.atm-c-matrix__cell { background: rgb(239, 236, 248); }

.atm-c-matrix__body .atm-c-matrix__row:first-child th.atm-c-matrix__cell { position: static; background: none; padding-left: 4px; padding-top: 1rem; padding-bottom: 1rem; }

.atm-c-matrix__body .atm-c-matrix__row:first-child th.atm-c-matrix__cell:first-of-type { background: rgb(255, 255, 255); }

.atm-c-matrix.atm-is-overflow-left .atm-c-matrix__body .atm-c-matrix__row:first-child th.atm-c-matrix__cell { height: 100%; }

.atm-c-matrix.atm-is-overflow-left .atm-c-matrix__body .atm-c-matrix__row:first-child th.atm-c-matrix__cell:first-of-type { position: fixed; background: rgb(255, 255, 255); padding: 0.5rem 0px; width: 83px; }

.atm-c-matrix.atm-is-overflow-left .atm-c-matrix__body .atm-c-matrix__row:first-child th.atm-c-matrix__cell:first-of-type::after { content: ""; position: absolute; top: 0px; right: -0.75rem; display: block; height: 100%; width: 0.75rem; background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.2) 100%); }

.atm-c-matrix__header th.atm-c-matrix__cell { text-align: left; padding-left: 0px; padding-right: 1rem; background: rgb(255, 255, 255); border-bottom: 4px solid rgb(148, 148, 148); }

.atm-c-matrix__header th.atm-c-matrix__cell:first-child { position: sticky; left: 0px; background: rgb(255, 255, 255); box-shadow: rgb(255, 255, 255) 4px 0px 0px 0px; z-index: 1; }

.atm-c-matrix__header th.atm-c-matrix__cell:nth-child(2) { padding-left: 4px; }

.atm-c-matrix__header th.atm-c-matrix__cell.atm-is-on-track { border-top: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); border-radius: 4px 4px 0px 0px; }

td.atm-c-matrix__cell { display: table-cell; position: relative; min-width: 6rem; padding: 0px; }

td.atm-c-matrix__cell.atm-is-disabled { background-color: rgb(242, 242, 242); color: rgb(148, 148, 148); font-size: 0.75rem; font-weight: 300; line-height: 1.66667; cursor: not-allowed; }

td.atm-c-matrix__cell.atm-is-disabled:hover, td.atm-c-matrix__cell.atm-is-disabled:focus { border-color: rgb(242, 242, 242); background-color: rgb(242, 242, 242); color: rgb(148, 148, 148); }

th.atm-c-matrix__cell .atm-c-matrix__cell-title-container { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }

.atm-c-matrix__btn:hover .atm-c-matrix__cell-title-container::after, .atm-c-matrix__btn:focus .atm-c-matrix__cell-title-container::after { content: ""; position: absolute; top: 0px; right: 0px; width: 1px; height: 100%; background: rgb(98, 68, 187); }

.atm-c-matrix__cell.atm-is-disabled .atm-c-matrix__btn:hover .atm-c-matrix__cell-title-container::after { content: none; }

.atm-c-matrix__cell-title { display: flex; -webkit-box-align: center; align-items: center; }

.atm-c-matrix__cell-meta { font-size: 0.75rem; font-weight: 300; line-height: 1.66667; display: flex; -webkit-box-pack: center; justify-content: center; }

.atm-c-matrix__body th.atm-c-matrix__cell .atm-c-matrix__cell-meta { -webkit-box-pack: start; justify-content: flex-start; }

.atm-c-matrix__cell-title-icon, .atm-c-matrix__cell-meta-icon { margin-left: 0.25rem; }

.atm-c-matrix__cell-title-text { font-size: 0.75rem; line-height: 1.66667; font-weight: 600; }

.atm-c-matrix__row { display: table-row; }

.atm-c-matrix__body .atm-c-matrix__row:first-child:hover, .atm-c-matrix__body .atm-c-matrix__row:first-child:focus { background: none; }

.atm-c-matrix__body .atm-c-matrix__row.atm-is-active { background: rgb(239, 236, 248); }

.atm-c-matrix__body .atm-c-matrix__row:hover, .atm-c-matrix__body .atm-c-matrix__row:focus { background: rgb(239, 236, 248); }

@media (hover: none) {
  .atm-c-matrix__body .atm-c-matrix__row:hover, .atm-c-matrix__body .atm-c-matrix__row:focus { background: transparent; }
}

.atm-c-matrix__body.atm-is-hovered .atm-c-matrix__row.atm-is-active { background: none; }

.atm-c-matrix__body.atm-is-hovered .atm-c-matrix__row.atm-is-active:hover, .atm-c-matrix__body.atm-is-hovered .atm-c-matrix__row.atm-is-active:focus { background: rgb(239, 236, 248); }

.atm-c-matrix__price { font-size: 1rem; line-height: 1.5; margin-bottom: 0px; font-weight: 600; }

@media screen and (max-width: 47em) {
  .atm-c-matrix__price { font-size: 0.875rem; line-height: 1.5; }
}

.atm-c-matrix--miles .atm-c-matrix__price { font-size: 0.875rem; margin-bottom: 0px; font-weight: 600; line-height: 1.3; }

.atm-c-matrix__cell.atm-is-lowest .atm-c-matrix__price { color: rgb(68, 136, 62); }

.atm-c-matrix__cell.atm-is-active .atm-c-matrix__price { color: rgb(255, 255, 255); }

.atm-c-matrix__icon { position: absolute; top: 0px; right: 0px; }

.atm-is-lowest .atm-c-matrix__icon { fill: rgb(68, 136, 62); }

.atm-c-matrix__status { font-weight: 300; line-height: 1.71429; letter-spacing: 0.0625rem; text-transform: uppercase; position: absolute; left: 50%; bottom: 0.25rem; transform: translate(-50%); font-size: 0.625rem; }

.atm-c-matrix__cell-container { position: relative; height: 100%; }
