@charset "utf-8";

.app-components-CommonShoppingCart-FlightBlock-styles__flightBox--1uti5 { padding: 10px 16px; margin: 15px 0px; font-size: 14px; }

.app-components-CommonShoppingCart-FlightBlock-styles__tooltipContainer--2AKoz { height: fit-content; font-size: 1em; right: 0px; left: auto; }

.app-components-CommonShoppingCart-FlightBlock-styles__tooltipContent--3D1Yh { top: 0.2em; margin-left: 6px; }

.app-components-CommonShoppingCart-FlightBlock-styles__time--3Gd0K { text-transform: lowercase; }

.app-components-CommonShoppingCart-FlightBlock-styles__time--3Gd0K::before { content: " •  "; }

.app-components-CommonShoppingCart-FlightBlock-styles__itinType--3J0J_::before { content: " •  "; }

.app-components-CommonShoppingCart-FlightBlock-styles__traveler--3yQlp { margin-top: 4px; text-transform: capitalize; }

.app-components-CommonShoppingCart-FlightBlock-styles__flightDetails--ZZrCs { margin-top: 8px; }

.app-components-CommonShoppingCart-FlightBlock-styles__connectionBlock--1XC6k { border-top: 1px solid rgb(204, 204, 204); }

.app-components-CommonShoppingCart-FlightBlock-styles__connectionDuration--2dcz4 { text-transform: uppercase; }

.app-components-CommonShoppingCart-FlightBlock-styles__connectionDuration--2dcz4 span { color: rgb(102, 102, 102); }

.app-components-CommonShoppingCart-FlightBlock-styles__detailsLink--2OvVG svg { width: 8px; height: 8px; margin-top: 6px; }

.app-components-CommonShoppingCart-FlightBlock-styles__itinContainer--N9oGr { position: relative; }

.app-components-CommonShoppingCart-FlightBlock-styles__itinContainer--N9oGr h3 { margin: 0px 0px 4px; }

.app-components-CommonShoppingCart-FlightBlock-styles__itinContainer--N9oGr .app-components-CommonShoppingCart-FlightBlock-styles__flightBlockInfo--13vFk { display: flex; font-size: 0.75em; flex-direction: row-reverse; }

.app-components-CommonShoppingCart-FlightBlock-styles__itinContainer--N9oGr .app-components-CommonShoppingCart-FlightBlock-styles__flightBlockInfo--13vFk .app-components-CommonShoppingCart-FlightBlock-styles__flightHeader--2HsgA { margin-bottom: 6px; font-size: 1rem; }

.app-components-CommonShoppingCart-FlightBlock-styles__itinContainer--N9oGr .app-components-CommonShoppingCart-FlightBlock-styles__flightBlockInfo--13vFk .app-components-CommonShoppingCart-FlightBlock-styles__flightInfoText--3jiyx { margin: auto 0px auto auto; }

.app-components-CommonShoppingCart-FlightBlock-styles__beSticker--1PYjS { position: absolute; right: 0px; }

.app-components-CommonShoppingCart-FlightBlock-styles__stopsIcon--2Pl8B { margin-bottom: 4px; }

.app-components-CommonShoppingCart-FlightBlock-styles__stopsIcon--2Pl8B svg { margin: 2px 8px 0px 0px; }

.app-components-CommonShoppingCart-FlightBlock-styles__dateChange--3tOmP { margin: 3px 0px 8px; font-size: 12px; }

.app-components-CommonShoppingCart-FlightBlock-styles__dateChange--3tOmP span { margin-left: 8px; position: relative; top: 1.5px; }

.app-components-CommonShoppingCart-FlightBlock-styles__operatedBy--1fK4d { font-size: 12px; }

.app-components-CommonShoppingCart-FlightBlock-styles__operatedBy--1fK4d .app-components-CommonShoppingCart-FlightBlock-styles__tooltipContainer--2AKoz { left: 50%; }

.app-components-CommonShoppingCart-FlightBlock-styles__itemLabel--1VvrO { display: inline; font-size: 14px; font-weight: 600; }

.app-components-CommonShoppingCart-FlightBlock-styles__oldTrip--1sZMd { background-color: rgb(242, 242, 242); }

.app-components-CommonShoppingCart-FlightBlock-styles__flightWarningMsg--3pg0x { list-style-type: none; display: contents; }

.app-components-CommonShoppingCart-FlightBlock-styles__showDetails--3oKpk { display: flex; margin-top: 8px; }

.app-components-CommonShoppingCart-FlightBlock-styles__showDetails--3oKpk .app-components-CommonShoppingCart-FlightBlock-styles__carbonEmissionBlock--3Qi2G { margin-left: auto; }

.app-components-CommonShoppingCart-FlightBlock-styles__showDetails--3oKpk .app-components-CommonShoppingCart-FlightBlock-styles__carbonEmissionBlock--3Qi2G .app-components-CommonShoppingCart-FlightBlock-styles__carbonEmissionToolTip--3pRTs { top: 3px; }

.app-components-CommonShoppingCart-FlightBlock-styles__showDetails--3oKpk .app-components-CommonShoppingCart-FlightBlock-styles__carbonEmissionBlock--3Qi2G .app-components-CommonShoppingCart-FlightBlock-styles__carbonEmissionToolTipContent--2C7Fx { width: 19rem; z-index: 999; font-size: 16px; }

.app-components-CommonShoppingCart-FlightBlock-styles__showDetailsBasicEconomy--1fndp { margin-top: 8px; }

.app-components-CommonShoppingCart-FlightBlock-styles__showDetailsBasicEconomy--1fndp .app-components-CommonShoppingCart-FlightBlock-styles__carbonEmissionBlock--3Qi2G { margin-left: auto; text-align: right; padding-top: 10px; }

.app-components-CommonShoppingCart-FlightBlock-styles__showDetailsBasicEconomy--1fndp .app-components-CommonShoppingCart-FlightBlock-styles__carbonEmissionBlock--3Qi2G .app-components-CommonShoppingCart-FlightBlock-styles__carbonEmissionToolTip--3pRTs { top: 3px; }

.app-components-CommonShoppingCart-FlightBlock-styles__showDetailsBasicEconomy--1fndp .app-components-CommonShoppingCart-FlightBlock-styles__carbonEmissionBlock--3Qi2G .app-components-CommonShoppingCart-FlightBlock-styles__carbonEmissionToolTipContent--2C7Fx { width: 19rem; z-index: 999; font-size: 16px; }
