@charset "utf-8";

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__btnDefault--2wzBw { text-align: center; text-decoration: none; border-radius: 2px; height: 52px; line-height: 22px; width: 100%; font-size: 16px; }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__btnDefault--2wzBw { height: 56px; width: 160px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__btnDefault--2wzBw:hover, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__btnDefault--2wzBw:focus { box-shadow: none; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__btnDefault--2wzBw:disabled, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__btnDefault--2wzBw[disabled] { box-shadow: none; border: none; background-color: rgb(230, 230, 230); color: rgb(102, 102, 102); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__primaryButton--ozWBb { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); border: 1px solid rgb(33, 114, 186); box-shadow: rgb(102, 102, 102) -1px 1px 1px 0px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__primaryButton--ozWBb:hover, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__primaryButton--ozWBb:focus { border: 1px solid rgb(0, 48, 87); box-shadow: none; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__ancillaryButton--3n6GX, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__primaryButton--ozWBb.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__ancillaryButton--3n6GX, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__btnDefault--2wzBw.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__ancillaryButton--3n6GX { height: 30px; }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__ancillaryButton--3n6GX, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__primaryButton--ozWBb.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__ancillaryButton--3n6GX, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__btnDefault--2wzBw.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__ancillaryButton--3n6GX { width: 160px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__secondaryButton--a2pY_ { background-color: rgb(237, 183, 43); color: rgb(0, 0, 0); border: 1px solid rgb(237, 183, 43); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__secondaryButton--a2pY_:hover { border: 1px solid rgb(0, 57, 100); box-shadow: none; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__inputFieldBorder--2m5Bt { border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid rgb(102, 102, 102); background: rgba(0, 0, 0, 0); border-radius: 0px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__textLink--1hnol { font-size: 28px; letter-spacing: 0px; line-height: 18px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__textLink--1hnol:link { color: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__textLink--1hnol:hover { color: rgb(33, 114, 186); border-bottom: 1px solid rgb(33, 114, 186); }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__textLink--1hnol { font-size: 16px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__textLinkCTA--W2gtQ { letter-spacing: 0px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__textLinkCTA--W2gtQ:link { color: rgb(102, 102, 102); text-decoration: underline; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__textLinkCTA--W2gtQ:hover { color: rgb(0, 0, 0); }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__textLinkCTA--W2gtQ { line-height: 22px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__inverse--2o2m9 { background-color: rgb(33, 114, 186); border-radius: 2px; color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__inverse--2o2m9.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__secondary--Pdo53 { color: rgb(237, 183, 43); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__inverse--2o2m9 input[type="text"], .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__inverse--2o2m9 input[type="password"], .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__inverse--2o2m9 input[type="tel"], .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__inverse--2o2m9 input[type="number"] { color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__inverse--2o2m9 input[type="text"].app-containers-Home-forms-MytripsTab-MyTripsForm-styles__secondary--Pdo53, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__inverse--2o2m9 input[type="password"].app-containers-Home-forms-MytripsTab-MyTripsForm-styles__secondary--Pdo53, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__inverse--2o2m9 input[type="tel"].app-containers-Home-forms-MytripsTab-MyTripsForm-styles__secondary--Pdo53, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__inverse--2o2m9 input[type="number"].app-containers-Home-forms-MytripsTab-MyTripsForm-styles__secondary--Pdo53 { color: rgb(237, 183, 43); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__inverseDark--31b8X { background-color: rgb(0, 34, 68); font-size: 16px; color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__signInInput--2nTnN { font-size: 24px; letter-spacing: -0.2px; line-height: 32px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__roundedButton--2b8oC, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__roundedButtonOn--3d4TS, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__roundedButtonPrimary--u_X3f { font-size: 16px; letter-spacing: 0px; border: 1px solid; border-radius: 200px; height: 72px; width: 94px; text-align: center; }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__roundedButton--2b8oC, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__roundedButtonOn--3d4TS, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__roundedButtonPrimary--u_X3f { border-radius: 100px; height: 35px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__roundedButtonPrimary--u_X3f { color: rgb(153, 153, 153); border: 2px solid rgb(211, 211, 211); }

@media (min-width: 1184px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__roundedButtonPrimary--u_X3f { border: 1px solid rgb(211, 211, 211); }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__roundedButtonPrimary--u_X3f:hover { color: rgb(102, 102, 102); border: 2px solid rgb(102, 102, 102); }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__roundedButtonPrimary--u_X3f:hover { border: 1px solid rgb(102, 102, 102); }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__roundedButtonOn--3d4TS { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__alert--3iMVU, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__highLevelAlert--1RQN5, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__lowLevelAlert--3Xe2y { border-radius: 3px; height: 60px; width: 100%; font-size: 16px; line-height: 18px; letter-spacing: 0px; padding-left: 55px; padding-top: 20px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__lowLevelAlert--3Xe2y { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__highLevelAlert--1RQN5 { background-color: rgb(213, 0, 50); color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__alertTriangle--1HgCz, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__low-alert-triangle--3eMCu, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__highAlertTriangle--1U9QB { padding-left: 48px; height: 19.96px; width: 22.01px; content: "!"; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__highAlertTriangle--1U9QB { color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__low-alert-triangle--3eMCu { color: rgb(102, 102, 102); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__dropdown--3eoq5 { width: 100%; height: 100%; border: 1px solid rgb(229, 229, 229); }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__dropdown--3eoq5 { border-radius: 3px; border: 1px solid rgb(200, 200, 200); box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__dropdownContent--UWHtN { font-size: 32px; line-height: 72px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__dropdownContent--UWHtN:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__dropdownContent--UWHtN { font-size: 10px; line-height: 40px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__dropdownExpand--29g8m { font-size: 24px; line-height: 44px; color: rgb(0, 34, 68); letter-spacing: 0px; }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__dropdownExpand--29g8m { font-size: 12px; line-height: 22px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__simpleDropdownDefault--C46PU, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__simpleDropdownOnBackground--3yzAN { border: 1px solid rgb(148, 148, 148); border-radius: 4px; font-size: 28px; color: rgb(51, 51, 51); letter-spacing: 0px; line-height: 24px; }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__simpleDropdownDefault--C46PU, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__simpleDropdownOnBackground--3yzAN { font-size: 16px; color: rgb(0, 34, 68); border: none; }
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__simpleDropdownDefault--C46PU:hover, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__simpleDropdownOnBackground--3yzAN:hover { color: rgb(33, 114, 186); }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__simpleDropdownOnBackground--3yzAN { opacity: 0.5; border: 1px solid rgb(255, 255, 255); border-radius: 6px; color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__simpleDropdownActive--2WOFy { font-size: 16px; line-height: 40px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__simpleDropdownActive--2WOFy:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__simpleDropdownActive--2WOFy:checked { color: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__checkboxWrapper--XDH0J { position: relative; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked), .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked), .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked { position: absolute; left: 0px; top: -1px; opacity: 0; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked) + label, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked + label, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked) + label, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked + label { position: relative; cursor: pointer; font-size: 14px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked + label::after, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked + label::after { position: absolute; left: 0px; top: -1px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked + label::before { content: ""; border: 2px solid rgb(0, 57, 100); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px inset; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked + label::after, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked + label::after { content: ""; display: block; border-style: solid; border-color: rgb(255, 255, 255); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(45deg); position: absolute; text-align: center; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked), .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:disabled) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked), .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:disabled) + label::after { opacity: 0; border-color: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked + label::after, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked + label::after { opacity: 1; border-color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked + label::before { background: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked) + label::before { background: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:disabled:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:disabled:checked + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:disabled:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:disabled:checked + label::before { box-shadow: none; border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:disabled:checked + label::after, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:disabled:checked + label::after { color: rgb(153, 153, 153); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:disabled + label, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:disabled + label { color: rgb(170, 170, 170); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked:focus + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked):focus + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked:focus + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked):focus + label::before { outline: dotted 1px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked) + label, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked + label { padding-left: 32px; line-height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked) + label, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked + label { padding-left: 26px; line-height: 18px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked + label::before { width: 24px; height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked + label::before { width: 20px; height: 20px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked + label::after { font-size: 14px; top: 5px; left: 9px; width: 5px; height: 11px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckbox--3eWDb:checked + label::after { left: 8px; top: 3px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked) + label, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked + label { padding-left: 25px; font-size: 12px; line-height: 15px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked + label::before { width: 15px; height: 15px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked + label::after { font-size: 10px; left: 6px; top: 2px; width: 4px; height: 9px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked) + label:hover, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked) + label:focus, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked + label:hover, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked + label:focus { color: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:not(:checked) + label { color: rgb(137, 137, 137); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__customCheckboxSm--S46P-:checked + label { color: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__whiteAndBlackCustomCheckBox--1ab4-:checked + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__whiteAndBlackCustomCheckBox--1ab4-:not(:checked) + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__whiteAndBlackCustomCheckBox--1ab4-:checked + label::after { border-color: rgb(0, 0, 0); top: 5px; left: 10px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__whiteAndBlackCustomCheckBox--1ab4-:checked + label::after { top: 3px; left: 8px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__questionMarkToolTip--1fOvm::before { content: "?"; display: inline-block; vertical-align: top; text-align: center; font-weight: bold; width: 24px; height: 24px; font-size: 14px; line-height: 1.4; margin-top: 0px; margin-left: 8px; border: 1px solid rgb(255, 255, 255); border-radius: 50%; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__questionMarkToolTip--1fOvm::before { line-height: 1.3; margin-top: 4px; width: 16px; height: 16px; font-size: 10px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__floatingLabel--cumc2 { font-size: 12px; color: rgb(102, 102, 102); line-height: 13px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formLink--1mEn7 { font-size: 16px; text-decoration: underline; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formLink--1mEn7:hover { outline: rgb(33, 114, 186) dotted 1px; color: rgb(35, 82, 124); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__fieldErrorMessage--2jo2y { position: absolute; bottom: 0px; color: rgb(213, 0, 50); letter-spacing: 0px; font-size: 13px; line-height: 1.5; text-align: center; }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__fieldErrorMessage--2jo2y { font-size: 11px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__homepageTextField--XIxL4 { line-height: 1; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__homepageTextField--XIxL4 label { color: rgb(0, 34, 68); text-transform: none; font-weight: bold; font-size: 12px; letter-spacing: 1px; margin-bottom: -1px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__homepageTextField--XIxL4 input { transition: color 0.4s ease 0s; color: rgb(0, 34, 68); height: 46px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__homepageTextField--XIxL4 input::-webkit-input-placeholder { text-transform: none; font-style: normal; font-weight: normal; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__homepageTextField--XIxL4:focus { color: rgb(33, 114, 186); border-color: rgb(33, 114, 186); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__homepageTextField--XIxL4:focus > label { color: rgb(33, 114, 186); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__homepageTextField--XIxL4 .atm-c-field-note.atm-c-textfield__note { position: absolute; margin: 0px; bottom: -24px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__homepageTextField--XIxL4 .atm-c-field-note.atm-c-textfield__note svg { display: none; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__findTravelCreditsLink---Toal { text-decoration: underline; transition: color 0.4s ease 0s; color: rgb(0, 96, 128); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__findTravelCreditsLink---Toal:focus { outline: rgb(98, 68, 187) solid 4px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__link--1zzmh { text-decoration: underline; transition: color 0.4s ease 0s; color: rgb(0, 96, 128); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__link--1zzmh:focus { outline: rgb(98, 68, 187) solid 4px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__link--1zzmh.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__noUnderline--Y0IQn { text-decoration: none; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__myTripsDetailsLink--1PTwZ { text-decoration: none; transition: color 0.4s ease 0s; color: rgb(0, 96, 128); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__myTripsDetailsLink--1PTwZ:hover, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__myTripsDetailsLink--1PTwZ:focus { text-decoration: underline; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__loggedOutText--UorMF { font-size: 16px; text-decoration: underline; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formContainer--VL4Vi { display: block; margin-bottom: 24px; align-items: flex-start; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formContainer--VL4Vi .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__submitBtn--2pWhq { width: 100%; margin-top: 1.5rem; }

@media screen and (min-width: 720px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formContainer--VL4Vi { display: flex; }
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formContainer--VL4Vi .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formTextField--1V-25 { max-width: 340px; margin-right: 16px; margin-bottom: 0px; }
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formContainer--VL4Vi .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__submitBtn--2pWhq { width: auto; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__linksSection--2-Nv0 { display: flex; flex-direction: column; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__linksSection--2-Nv0 a { margin-bottom: 24px; }

@media screen and (min-width: 720px) {
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__linksSection--2-Nv0 { flex-direction: row; grid-column: 1 / 4; }
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__linksSection--2-Nv0 a { margin: 0px; padding: 0px 32px; border-right: 1px solid rgb(204, 204, 204); }
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__linksSection--2-Nv0 a:last-child { padding-right: 0px; border-right: none; }
  .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__linksSection--2-Nv0 a:first-child { padding-left: 0px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formTextField--1V-25 { width: 100%; margin-bottom: 24px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formTextField--1V-25 input[type="text"] { font-size: 1rem; line-height: 1.5; font-family: inherit; width: 100%; border: 1px solid gray; border-radius: 4px; padding: 0.5rem; color: rgb(0, 0, 0); transition: box-shadow 0.15s ease-out 0s, border-color 0.15s ease-out 0s; height: 46px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formTextField--1V-25 input[type="text"]::placeholder { color: rgb(102, 102, 102); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formTextField--1V-25 input[type="text"]:hover::placeholder, .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formTextField--1V-25 input[type="text"]:focus::placeholder { color: rgb(102, 102, 102); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formTextField--1V-25 .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__toolTip--2-13G { font-size: 14px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__formTextField--1V-25 .app-containers-Home-forms-MytripsTab-MyTripsForm-styles__toolTip--2-13G .atm-c-tooltip__content { width: 16rem; margin-left: -100px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__tooltipInfo--1RTaV { display: inline-block; margin-top: 5px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__tooltipButton--12wYU { margin-left: 6px; }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__errorMsg--1haN9 { color: rgb(213, 0, 50); }

.app-containers-Home-forms-MytripsTab-MyTripsForm-styles__errorMsg--1haN9 svg { fill: rgb(213, 0, 50); top: 1px; margin-right: 5px; }
