@charset "utf-8";

.app-components-PlacesFilters-SignInButton-styles__signInAlert--3shsR { margin: 0px 0px 15px; }

.app-components-PlacesFilters-SignInButton-styles__signInAlert--3shsR p { font-size: 16px; }

.app-components-PlacesFilters-SignInButton-styles__signInButton--2LEFb { margin-right: 5px; }

.app-components-PlacesFilters-SignInButton-styles__signInDesktop--22RpH { padding: 10px; }

.app-components-PlacesFilters-SignInButton-styles__signInDesktop--22RpH p { margin: 0px; font-size: 14px; font-weight: 600; }

.app-components-PlacesFilters-SignInButton-styles__signInDesktop--22RpH .app-components-PlacesFilters-SignInButton-styles__signInButton--2LEFb { font-size: 14px; font-weight: 600; }
