@charset "utf-8";

.app-components-Seatmap-SeatMapVR3DRTour-SeatMapVR3DR__box--tZZUr { border-radius: 4px; padding-top: inherit; padding-right: inherit; padding-left: inherit; padding-bottom: 16px; margin-bottom: 16px; }

.app-components-Seatmap-SeatMapVR3DRTour-SeatMapVR3DR__box_no-shadow--2rpgT { box-shadow: none; }

.app-components-Seatmap-SeatMapVR3DRTour-SeatMapVR3DR__box_caption--345Bx { margin: 16px 16px 0px; }
