@charset "utf-8";

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__container--2s_kZ { display: flex; flex-direction: column; min-height: 100%; padding: 1px; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__containerForIe--17YAT { height: 100%; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__content--5zAwd { flex: 1 0 auto; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__headers--3wHwf > div:first-child { padding: 0px 15px; background: rgb(255, 255, 255); }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__headers--3wHwf > div:nth-child(2) { padding: 35px 16px 0px; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__headers--3wHwf ul { margin-top: 40px; box-shadow: rgb(212, 212, 208) 0px -4px 0px inset; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__headers--3wHwf ul li > a:first-child { text-decoration-line: none; color: rgb(51, 51, 51); }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__section--1zRjx { display: inline-block; width: 100%; font-size: 14px; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__divLeft--k0KXd { float: left; width: 65%; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__divRight--hVsHP { float: right; width: 35%; text-align: right; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__itemHeader--eu2lJ { text-transform: uppercase; letter-spacing: 1px; margin: 0px; font-size: 14px !important; font-weight: 900 !important; line-height: inherit !important; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__icon--3X5w0 svg { width: 24px; height: 24px; margin-right: 8px; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__subHeader--dSB9Q { margin-top: 4px; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__footerContainer--1E8Cp { background-color: rgb(255, 255, 255); margin-top: auto; bottom: -1px !important; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__footerContainerPage--1lQPc { background-color: rgb(255, 255, 255); margin-top: auto; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__fixedFooter--SVAlF { box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 2px 0px; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__accordionPanel--8Jmjf button { padding: 0px; margin: 0.8em 0px; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__accordionPanel--8Jmjf.atm-is-active { padding-bottom: 15px; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--checkout--32Rfu .app-components-CommonShoppingCart-SubscriptionPathCart-styles__headers--3wHwf { display: none; }

@media screen and (min-width: 1184px) {
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--checkout--32Rfu .app-components-CommonShoppingCart-SubscriptionPathCart-styles__container--2s_kZ { padding: 0px; }
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--checkout--32Rfu .app-components-CommonShoppingCart-SubscriptionPathCart-styles__headers--3wHwf { display: block; }
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--checkout--32Rfu .app-components-CommonShoppingCart-SubscriptionPathCart-styles__headers--3wHwf ul { margin-top: 0px; }
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--checkout--32Rfu .app-components-CommonShoppingCart-SubscriptionPathCart-styles__headers--3wHwf > div:first-child { position: sticky; top: 0px; z-index: 1; }
}

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--page--2XjCc .app-components-CommonShoppingCart-SubscriptionPathCart-styles__headers--3wHwf { display: none; }

@media screen and (min-width: 1184px) {
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--page--2XjCc .app-components-CommonShoppingCart-SubscriptionPathCart-styles__container--2s_kZ { padding: 0px; }
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--page--2XjCc .app-components-CommonShoppingCart-SubscriptionPathCart-styles__headers--3wHwf { display: block; }
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--page--2XjCc .app-components-CommonShoppingCart-SubscriptionPathCart-styles__headers--3wHwf ul { margin-top: 0px; }
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--page--2XjCc .app-components-CommonShoppingCart-SubscriptionPathCart-styles__headers--3wHwf > div:first-child { position: sticky; top: 0px; z-index: 1; }
}

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--checkout--32Rfu .app-components-CommonShoppingCart-SubscriptionPathCart-styles__content--5zAwd { display: none; }

@media screen and (min-width: 1184px) {
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--checkout--32Rfu .app-components-CommonShoppingCart-SubscriptionPathCart-styles__container--2s_kZ { padding: 0px; }
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--checkout--32Rfu .app-components-CommonShoppingCart-SubscriptionPathCart-styles__content--5zAwd { display: block; }
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--checkout--32Rfu .app-components-CommonShoppingCart-SubscriptionPathCart-styles__content--5zAwd ul { margin-top: 0px; }
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--checkout--32Rfu .app-components-CommonShoppingCart-SubscriptionPathCart-styles__content--5zAwd > div:first-child { position: sticky; top: 0px; z-index: 1; }
}

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--checkout--32Rfu .app-components-CommonShoppingCart-SubscriptionPathCart-styles__footerSubscriptionsContainer--2svPO { background-color: rgb(255, 255, 255); margin-top: auto; bottom: -1px !important; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--page--2XjCc .app-components-CommonShoppingCart-SubscriptionPathCart-styles__content--5zAwd { display: none; }

@media screen and (min-width: 1184px) {
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--page--2XjCc .app-components-CommonShoppingCart-SubscriptionPathCart-styles__container--2s_kZ { padding: 0px; }
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--page--2XjCc .app-components-CommonShoppingCart-SubscriptionPathCart-styles__content--5zAwd { display: block; }
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--page--2XjCc .app-components-CommonShoppingCart-SubscriptionPathCart-styles__content--5zAwd ul { margin-top: 0px; }
  .app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--page--2XjCc .app-components-CommonShoppingCart-SubscriptionPathCart-styles__content--5zAwd > div:first-child { position: sticky; top: 0px; z-index: 1; }
}

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--page--2XjCc .app-components-CommonShoppingCart-SubscriptionPathCart-styles__footerSubscriptionsContainer--2svPO { background-color: rgb(255, 255, 255); margin-top: auto; }

.app-components-CommonShoppingCart-SubscriptionPathCart-styles__variant--modal--3sCMG .app-components-CommonShoppingCart-SubscriptionPathCart-styles__footerSubscriptionsContainer--2svPO { background-color: rgb(255, 255, 255); margin-top: auto; bottom: -1px !important; }
