@charset "utf-8";

.atm-c-field-note { display: inline-block; font-size: 0.75rem; font-weight: 300; line-height: 1.66667; margin-top: 0.25rem; color: rgb(102, 102, 102); }

.atm-is-error .atm-c-field-note { color: rgb(213, 0, 50); }

.atm-is-error .atm-c-field-note__icon { display: inline-block; margin-right: 0.5rem; fill: rgb(213, 0, 50); position: relative; top: 3px; flex-shrink: 0; }

.atm-c-field-note--inverted { color: rgb(255, 255, 255); }
