@charset "utf-8";

.app-components-Seatmap-OptOutYbmConfirmation-OptOutYbmConfirmation__optoutybm--2x2Pk { color: rgb(0, 0, 0); display: flex; flex-direction: column; font-size: 14px; height: 100%; padding: 0px 16px; }

.app-components-Seatmap-OptOutYbmConfirmation-OptOutYbmConfirmation__optoutybm__container--10qjH { flex: 0 0 auto; line-height: 24px; margin: 16px 0px; overflow: auto; }

.app-components-Seatmap-OptOutYbmConfirmation-OptOutYbmConfirmation__optoutybm__container--10qjH p { margin: 0px; }

.app-components-Seatmap-OptOutYbmConfirmation-OptOutYbmConfirmation__optoutybm__container__item--NzSXz div { z-index: 0; }

@media screen and (min-width: 720px) {
  .app-components-Seatmap-OptOutYbmConfirmation-OptOutYbmConfirmation__optoutybm__container--10qjH { flex: 1 0 auto; min-height: 200px; max-height: 300px; padding: 10px; }
}

.app-components-Seatmap-OptOutYbmConfirmation-OptOutYbmConfirmation__optoutybm__acknowledgement--3BVht { font-weight: 600; flex: 0 0 auto; line-height: 20px; margin-bottom: 18px; }

.app-components-Seatmap-OptOutYbmConfirmation-OptOutYbmConfirmation__optoutybm__button-row--3EOdZ { display: flex; flex: 0 0 auto; flex-direction: row; justify-content: flex-end; }

@media screen and (max-width: 480px) {
  .app-components-Seatmap-OptOutYbmConfirmation-OptOutYbmConfirmation__optoutybm__button-row--3EOdZ { flex-direction: column-reverse; margin-bottom: 0px; }
}

.app-components-Seatmap-OptOutYbmConfirmation-OptOutYbmConfirmation__visuallyhidden--2n8jF { height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); position: absolute !important; }
