@charset "utf-8";

.app-components-FlightFlexibleDatesSelector-styles__btnDefault--3nCy_ { text-align: center; text-decoration: none; border-radius: 2px; height: 52px; line-height: 22px; width: 100%; font-size: 16px; }

@media (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__btnDefault--3nCy_ { height: 56px; width: 160px; }
}

.app-components-FlightFlexibleDatesSelector-styles__btnDefault--3nCy_:hover, .app-components-FlightFlexibleDatesSelector-styles__btnDefault--3nCy_:focus { box-shadow: none; }

.app-components-FlightFlexibleDatesSelector-styles__btnDefault--3nCy_:disabled, .app-components-FlightFlexibleDatesSelector-styles__btnDefault--3nCy_[disabled] { box-shadow: none; border: none; background-color: rgb(230, 230, 230); color: rgb(102, 102, 102); }

.app-components-FlightFlexibleDatesSelector-styles__primaryButton--1b_wl { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); border: 1px solid rgb(33, 114, 186); box-shadow: rgb(102, 102, 102) -1px 1px 1px 0px; }

.app-components-FlightFlexibleDatesSelector-styles__primaryButton--1b_wl:hover, .app-components-FlightFlexibleDatesSelector-styles__primaryButton--1b_wl:focus { border: 1px solid rgb(0, 48, 87); box-shadow: none; }

.app-components-FlightFlexibleDatesSelector-styles__ancillaryButton--3QNuj, .app-components-FlightFlexibleDatesSelector-styles__primaryButton--1b_wl.app-components-FlightFlexibleDatesSelector-styles__ancillaryButton--3QNuj, .app-components-FlightFlexibleDatesSelector-styles__btnDefault--3nCy_.app-components-FlightFlexibleDatesSelector-styles__ancillaryButton--3QNuj { height: 30px; }

@media (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__ancillaryButton--3QNuj, .app-components-FlightFlexibleDatesSelector-styles__primaryButton--1b_wl.app-components-FlightFlexibleDatesSelector-styles__ancillaryButton--3QNuj, .app-components-FlightFlexibleDatesSelector-styles__btnDefault--3nCy_.app-components-FlightFlexibleDatesSelector-styles__ancillaryButton--3QNuj { width: 160px; }
}

.app-components-FlightFlexibleDatesSelector-styles__secondaryButton--3raH4 { background-color: rgb(237, 183, 43); color: rgb(0, 0, 0); border: 1px solid rgb(237, 183, 43); }

.app-components-FlightFlexibleDatesSelector-styles__secondaryButton--3raH4:hover { border: 1px solid rgb(0, 57, 100); box-shadow: none; }

.app-components-FlightFlexibleDatesSelector-styles__inputFieldBorder--1hgJo { border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid rgb(102, 102, 102); background: rgba(0, 0, 0, 0); border-radius: 0px; }

.app-components-FlightFlexibleDatesSelector-styles__textLink--3PJQC { font-size: 28px; letter-spacing: 0px; line-height: 18px; }

.app-components-FlightFlexibleDatesSelector-styles__textLink--3PJQC:link { color: rgb(0, 34, 68); }

.app-components-FlightFlexibleDatesSelector-styles__textLink--3PJQC:hover { color: rgb(33, 114, 186); border-bottom: 1px solid rgb(33, 114, 186); }

@media (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__textLink--3PJQC { font-size: 16px; }
}

.app-components-FlightFlexibleDatesSelector-styles__textLinkCTA--1VaSN { letter-spacing: 0px; }

.app-components-FlightFlexibleDatesSelector-styles__textLinkCTA--1VaSN:link { color: rgb(102, 102, 102); text-decoration: underline; }

.app-components-FlightFlexibleDatesSelector-styles__textLinkCTA--1VaSN:hover { color: rgb(0, 0, 0); }

@media (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__textLinkCTA--1VaSN { line-height: 22px; }
}

.app-components-FlightFlexibleDatesSelector-styles__inverse--2HJ3N { background-color: rgb(33, 114, 186); border-radius: 2px; color: rgb(255, 255, 255); }

.app-components-FlightFlexibleDatesSelector-styles__inverse--2HJ3N.app-components-FlightFlexibleDatesSelector-styles__secondary--21hhr { color: rgb(237, 183, 43); }

.app-components-FlightFlexibleDatesSelector-styles__inverse--2HJ3N input[type="text"], .app-components-FlightFlexibleDatesSelector-styles__inverse--2HJ3N input[type="password"], .app-components-FlightFlexibleDatesSelector-styles__inverse--2HJ3N input[type="tel"], .app-components-FlightFlexibleDatesSelector-styles__inverse--2HJ3N input[type="number"] { color: rgb(255, 255, 255); }

.app-components-FlightFlexibleDatesSelector-styles__inverse--2HJ3N input[type="text"].app-components-FlightFlexibleDatesSelector-styles__secondary--21hhr, .app-components-FlightFlexibleDatesSelector-styles__inverse--2HJ3N input[type="password"].app-components-FlightFlexibleDatesSelector-styles__secondary--21hhr, .app-components-FlightFlexibleDatesSelector-styles__inverse--2HJ3N input[type="tel"].app-components-FlightFlexibleDatesSelector-styles__secondary--21hhr, .app-components-FlightFlexibleDatesSelector-styles__inverse--2HJ3N input[type="number"].app-components-FlightFlexibleDatesSelector-styles__secondary--21hhr { color: rgb(237, 183, 43); }

.app-components-FlightFlexibleDatesSelector-styles__inverseDark--VbeL2 { background-color: rgb(0, 34, 68); font-size: 16px; color: rgb(255, 255, 255); }

.app-components-FlightFlexibleDatesSelector-styles__signInInput--1OnZC { font-size: 24px; letter-spacing: -0.2px; line-height: 32px; }

.app-components-FlightFlexibleDatesSelector-styles__roundedButton--3OCmA, .app-components-FlightFlexibleDatesSelector-styles__roundedButtonOn--131j4, .app-components-FlightFlexibleDatesSelector-styles__roundedButtonPrimary--3htuX { font-size: 16px; letter-spacing: 0px; border: 1px solid; border-radius: 200px; height: 72px; width: 94px; text-align: center; }

@media (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__roundedButton--3OCmA, .app-components-FlightFlexibleDatesSelector-styles__roundedButtonOn--131j4, .app-components-FlightFlexibleDatesSelector-styles__roundedButtonPrimary--3htuX { border-radius: 100px; height: 35px; }
}

.app-components-FlightFlexibleDatesSelector-styles__roundedButtonPrimary--3htuX { color: rgb(153, 153, 153); border: 2px solid rgb(211, 211, 211); }

@media (min-width: 1184px) {
  .app-components-FlightFlexibleDatesSelector-styles__roundedButtonPrimary--3htuX { border: 1px solid rgb(211, 211, 211); }
}

.app-components-FlightFlexibleDatesSelector-styles__roundedButtonPrimary--3htuX:hover { color: rgb(102, 102, 102); border: 2px solid rgb(102, 102, 102); }

@media (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__roundedButtonPrimary--3htuX:hover { border: 1px solid rgb(102, 102, 102); }
}

.app-components-FlightFlexibleDatesSelector-styles__roundedButtonOn--131j4 { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); }

.app-components-FlightFlexibleDatesSelector-styles__alert--Yylez, .app-components-FlightFlexibleDatesSelector-styles__highLevelAlert--3jDSq, .app-components-FlightFlexibleDatesSelector-styles__lowLevelAlert--2YJaw { border-radius: 3px; height: 60px; width: 100%; font-size: 16px; line-height: 18px; letter-spacing: 0px; padding-left: 55px; padding-top: 20px; }

.app-components-FlightFlexibleDatesSelector-styles__lowLevelAlert--2YJaw { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }

.app-components-FlightFlexibleDatesSelector-styles__highLevelAlert--3jDSq { background-color: rgb(213, 0, 50); color: rgb(255, 255, 255); }

.app-components-FlightFlexibleDatesSelector-styles__alertTriangle--2YckU, .app-components-FlightFlexibleDatesSelector-styles__low-alert-triangle--10HBx, .app-components-FlightFlexibleDatesSelector-styles__highAlertTriangle--3LPSE { padding-left: 48px; height: 19.96px; width: 22.01px; content: "!"; }

.app-components-FlightFlexibleDatesSelector-styles__highAlertTriangle--3LPSE { color: rgb(255, 255, 255); }

.app-components-FlightFlexibleDatesSelector-styles__low-alert-triangle--10HBx { color: rgb(102, 102, 102); }

.app-components-FlightFlexibleDatesSelector-styles__dropdown--2tm5U { width: 100%; height: 100%; border: 1px solid rgb(229, 229, 229); }

@media (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__dropdown--2tm5U { border-radius: 3px; border: 1px solid rgb(200, 200, 200); box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px; }
}

.app-components-FlightFlexibleDatesSelector-styles__dropdownContent--3N-4P { font-size: 32px; line-height: 72px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-components-FlightFlexibleDatesSelector-styles__dropdownContent--3N-4P:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

@media (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__dropdownContent--3N-4P { font-size: 10px; line-height: 40px; }
}

.app-components-FlightFlexibleDatesSelector-styles__dropdownExpand--2vlL8 { font-size: 24px; line-height: 44px; color: rgb(0, 34, 68); letter-spacing: 0px; }

@media (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__dropdownExpand--2vlL8 { font-size: 12px; line-height: 22px; }
}

.app-components-FlightFlexibleDatesSelector-styles__simpleDropdownDefault--1svSI, .app-components-FlightFlexibleDatesSelector-styles__simpleDropdownOnBackground--uF7JJ { border: 1px solid rgb(148, 148, 148); border-radius: 4px; font-size: 28px; color: rgb(51, 51, 51); letter-spacing: 0px; line-height: 24px; }

@media (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__simpleDropdownDefault--1svSI, .app-components-FlightFlexibleDatesSelector-styles__simpleDropdownOnBackground--uF7JJ { font-size: 16px; color: rgb(0, 34, 68); border: none; }
  .app-components-FlightFlexibleDatesSelector-styles__simpleDropdownDefault--1svSI:hover, .app-components-FlightFlexibleDatesSelector-styles__simpleDropdownOnBackground--uF7JJ:hover { color: rgb(33, 114, 186); }
}

.app-components-FlightFlexibleDatesSelector-styles__simpleDropdownOnBackground--uF7JJ { opacity: 0.5; border: 1px solid rgb(255, 255, 255); border-radius: 6px; color: rgb(255, 255, 255); }

.app-components-FlightFlexibleDatesSelector-styles__simpleDropdownActive--aLteh { font-size: 16px; line-height: 40px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-components-FlightFlexibleDatesSelector-styles__simpleDropdownActive--aLteh:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

.app-components-FlightFlexibleDatesSelector-styles__simpleDropdownActive--aLteh:checked { color: rgb(0, 34, 68); }

.app-components-FlightFlexibleDatesSelector-styles__checkboxWrapper--36aGj { position: relative; }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked), .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked), .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked { position: absolute; left: 0px; top: -1px; opacity: 0; }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked) + label, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked + label, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked) + label, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked + label { position: relative; cursor: pointer; font-size: 14px; }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked) + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked) + label::after, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked + label::after, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked) + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked) + label::after, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked + label::after { position: absolute; left: 0px; top: -1px; }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked) + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked) + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked + label::before { content: ""; border: 2px solid rgb(0, 57, 100); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px inset; }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked) + label::after, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked + label::after, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked) + label::after, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked + label::after { content: ""; display: block; border-style: solid; border-color: rgb(255, 255, 255); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(45deg); position: absolute; text-align: center; }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked), .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:disabled) + label::after, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked), .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:disabled) + label::after { opacity: 0; border-color: rgb(0, 34, 68); }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked + label::after, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked + label::after { opacity: 1; border-color: rgb(255, 255, 255); }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked + label::before { background: rgb(0, 34, 68); }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked) + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked) + label::before { background: rgb(255, 255, 255); }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:disabled:not(:checked) + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:disabled:checked + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:disabled:not(:checked) + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:disabled:checked + label::before { box-shadow: none; border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:disabled:checked + label::after, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:disabled:checked + label::after { color: rgb(153, 153, 153); }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:disabled + label, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:disabled + label { color: rgb(170, 170, 170); }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked:focus + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked):focus + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked:focus + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked):focus + label::before { outline: dotted 1px; }

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked) + label, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked + label { padding-left: 32px; line-height: 24px; }

@media screen and (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked) + label, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked + label { padding-left: 26px; line-height: 18px; }
}

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked) + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked + label::before { width: 24px; height: 24px; }

@media screen and (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked) + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked + label::before { width: 20px; height: 20px; }
}

.app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked) + label::after, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked + label::after { font-size: 14px; top: 5px; left: 9px; width: 5px; height: 11px; }

@media screen and (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:not(:checked) + label::after, .app-components-FlightFlexibleDatesSelector-styles__customCheckbox--33Q9z:checked + label::after { left: 8px; top: 3px; }
}

.app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked) + label, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked + label { padding-left: 25px; font-size: 12px; line-height: 15px; }

.app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked) + label::before, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked + label::before { width: 15px; height: 15px; }

.app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked) + label::after, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked + label::after { font-size: 10px; left: 6px; top: 2px; width: 4px; height: 9px; }

.app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked) + label:hover, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked) + label:focus, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked + label:hover, .app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked + label:focus { color: rgb(0, 34, 68); }

.app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:not(:checked) + label { color: rgb(137, 137, 137); }

.app-components-FlightFlexibleDatesSelector-styles__customCheckboxSm--2uGny:checked + label { color: rgb(0, 34, 68); }

.app-components-FlightFlexibleDatesSelector-styles__whiteAndBlackCustomCheckBox--3lrVs:checked + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-components-FlightFlexibleDatesSelector-styles__whiteAndBlackCustomCheckBox--3lrVs:not(:checked) + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-components-FlightFlexibleDatesSelector-styles__whiteAndBlackCustomCheckBox--3lrVs:checked + label::after { border-color: rgb(0, 0, 0); top: 5px; left: 10px; }

@media screen and (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__whiteAndBlackCustomCheckBox--3lrVs:checked + label::after { top: 3px; left: 8px; }
}

.app-components-FlightFlexibleDatesSelector-styles__questionMarkToolTip--ca_GJ::before { content: "?"; display: inline-block; vertical-align: top; text-align: center; font-weight: bold; width: 24px; height: 24px; font-size: 14px; line-height: 1.4; margin-top: 0px; margin-left: 8px; border: 1px solid rgb(255, 255, 255); border-radius: 50%; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); }

@media screen and (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__questionMarkToolTip--ca_GJ::before { line-height: 1.3; margin-top: 4px; width: 16px; height: 16px; font-size: 10px; }
}

.app-components-FlightFlexibleDatesSelector-styles__floatingLabel--k9weC { font-size: 12px; color: rgb(102, 102, 102); line-height: 13px; }

.app-components-FlightFlexibleDatesSelector-styles__formLink--Z1eiU { font-size: 16px; text-decoration: underline; }

.app-components-FlightFlexibleDatesSelector-styles__formLink--Z1eiU:hover { outline: rgb(33, 114, 186) dotted 1px; color: rgb(35, 82, 124); }

.app-components-FlightFlexibleDatesSelector-styles__fieldErrorMessage--pHMCF { position: absolute; bottom: 0px; color: rgb(213, 0, 50); letter-spacing: 0px; font-size: 13px; line-height: 1.5; text-align: center; }

@media screen and (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__fieldErrorMessage--pHMCF { font-size: 11px; }
}

.app-components-FlightFlexibleDatesSelector-styles__homepageTextField--3I0m9 { line-height: 1; }

.app-components-FlightFlexibleDatesSelector-styles__homepageTextField--3I0m9 label { color: rgb(0, 34, 68); text-transform: none; font-weight: bold; font-size: 12px; letter-spacing: 1px; margin-bottom: -1px; }

.app-components-FlightFlexibleDatesSelector-styles__homepageTextField--3I0m9 input { transition: color 0.4s ease 0s; color: rgb(0, 34, 68); height: 46px; }

.app-components-FlightFlexibleDatesSelector-styles__homepageTextField--3I0m9 input::-webkit-input-placeholder { text-transform: none; font-style: normal; font-weight: normal; }

.app-components-FlightFlexibleDatesSelector-styles__homepageTextField--3I0m9:focus { color: rgb(33, 114, 186); border-color: rgb(33, 114, 186); }

.app-components-FlightFlexibleDatesSelector-styles__homepageTextField--3I0m9:focus > label { color: rgb(33, 114, 186); }

.app-components-FlightFlexibleDatesSelector-styles__homepageTextField--3I0m9 .atm-c-field-note.atm-c-textfield__note { position: absolute; margin: 0px; bottom: -24px; }

.app-components-FlightFlexibleDatesSelector-styles__homepageTextField--3I0m9 .atm-c-field-note.atm-c-textfield__note svg { display: none; }

.app-components-FlightFlexibleDatesSelector-styles__flexibleDatesContainer--1JwQ8 { margin: 24px 0px 0px; }

@media screen and (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__flexibleDatesContainer--1JwQ8 { position: relative; display: inline-block; text-align: left; margin: 0px; }
}

.app-components-FlightFlexibleDatesSelector-styles__flexibleDatesContainer--1JwQ8 { }

@supports (display: grid) {
  .app-components-FlightFlexibleDatesSelector-styles__flexibleDatesContainer--1JwQ8 { grid-area: 2 / 7 / 3 / 13; }
}

@media screen and (min-width: 944px) {
  .app-components-FlightFlexibleDatesSelector-styles__flexibleDatesContainer--1JwQ8 { }
  @supports (display: grid) {
  .app-components-FlightFlexibleDatesSelector-styles__flexibleDatesContainer--1JwQ8 { grid-area: 1 / 10 / 2 / 13; }
}
}
