@charset "utf-8";

.app-components-FlightNotFoundMessage-flightNotFoundMessage__flightNotFoundMessage--34pPa { align-items: center; display: flex; flex-direction: column; height: 508px; justify-content: center; text-align: center; }

@media screen and (max-width: 944px) {
  .app-components-FlightNotFoundMessage-flightNotFoundMessage__flightNotFoundMessage--34pPa { height: 100vh; }
}

.app-components-FlightNotFoundMessage-flightNotFoundMessage__message--KSn-O { width: 211px; font-size: 16px; line-height: 1.5; color: rgb(255, 255, 255); }

.app-components-FlightNotFoundMessage-flightNotFoundMessage__alertSymbol--s3th4 { width: 35px; height: 30.6px; }

.app-components-FlightNotFoundMessage-flightNotFoundMessage__closeButton--VFX6P { display: none; position: absolute; right: 10px; top: 15px; }

.app-components-FlightNotFoundMessage-flightNotFoundMessage__closeButton--VFX6P > img { width: 20px; height: 20px; }

@media screen and (max-width: 944px) {
  .app-components-FlightNotFoundMessage-flightNotFoundMessage__closeButton--VFX6P { display: block; }
}

.app-components-FlightNotFoundMessage-flightNotFoundMessage__closeIcon--1YzCi { width: 20px; height: 20px; }
