@charset "utf-8";

.atm-c-link-list { margin: 0px; padding: 0px; list-style: none; font-size: 1rem; font-weight: 400; line-height: 1.5; }

.atm-c-link-list__item { margin-bottom: 1rem; }

.atm-c-link-list--lined .atm-c-link-list__item { margin-bottom: 0px; }

.atm-c-link-list__link { display: flex; color: rgb(0, 96, 128); text-decoration: underline; font-weight: normal; }

.atm-c-link-list__link:hover { color: rgb(0, 51, 160); }

.atm-c-link-list__link:focus { outline: rgb(98, 68, 187) solid 4px; }

.atm-c-link-list__link:hover, .atm-c-link-list__link:focus { color: rgb(105, 179, 231); }

.atm-c-link-list__link:focus { outline: rgb(98, 68, 187) solid 4px; }

.atm-c-link-list--small .atm-c-link-list__link { font-size: 0.75rem; }

.atm-c-link-list--inverted .atm-c-link-list__link { color: rgb(255, 255, 255); text-decoration: none; }

.atm-c-link-list--inverted .atm-c-link-list__link:hover, .atm-c-link-list--inverted .atm-c-link-list__link:focus { color: rgb(105, 179, 231); }

.atm-c-link-list--inverted .atm-c-link-list__link:focus { outline: rgb(179, 165, 223) solid 4px; }

.atm-c-link-list--lined .atm-c-link-list__link { padding-top: 0.75rem; padding-bottom: 0.75rem; border-bottom: 1px solid rgb(204, 204, 204); }

.atm-c-link-list--lined .atm-c-link-list__item:last-child .atm-c-link-list__link { border-bottom: none; }

.atm-c-link-list__icon { position: relative; top: 5px; height: 14px; width: 14px; fill: rgb(0, 96, 128); transition: fill 0.15s ease-out 0s; }

.atm-c-link-list__link:hover .atm-c-link-list__icon, .atm-c-link-list__link:focus .atm-c-link-list__icon { fill: rgb(105, 179, 231); }

.atm-c-link-list--inverted .atm-c-link-list__icon { fill: rgb(255, 255, 255); }

.atm-c-link-list__text + .atm-c-link-list__icon { margin-left: 0.5rem; }

.atm-c-link-list__icon + .atm-c-link-list__text { margin-left: 0.5rem; }
