@charset "utf-8";

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__btnDefault--v5SCw { text-align: center; text-decoration: none; border-radius: 2px; height: 52px; line-height: 22px; width: 100%; font-size: 16px; }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__btnDefault--v5SCw { height: 56px; width: 160px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__btnDefault--v5SCw:hover, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__btnDefault--v5SCw:focus { box-shadow: none; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__btnDefault--v5SCw:disabled, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__btnDefault--v5SCw[disabled] { box-shadow: none; border: none; background-color: rgb(230, 230, 230); color: rgb(102, 102, 102); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__primaryButton--2s2By { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); border: 1px solid rgb(33, 114, 186); box-shadow: rgb(102, 102, 102) -1px 1px 1px 0px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__primaryButton--2s2By:hover, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__primaryButton--2s2By:focus { border: 1px solid rgb(0, 48, 87); box-shadow: none; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__ancillaryButton--3skVE, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__primaryButton--2s2By.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__ancillaryButton--3skVE, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__btnDefault--v5SCw.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__ancillaryButton--3skVE { height: 30px; }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__ancillaryButton--3skVE, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__primaryButton--2s2By.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__ancillaryButton--3skVE, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__btnDefault--v5SCw.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__ancillaryButton--3skVE { width: 160px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__secondaryButton--2GSWG { background-color: rgb(237, 183, 43); color: rgb(0, 0, 0); border: 1px solid rgb(237, 183, 43); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__secondaryButton--2GSWG:hover { border: 1px solid rgb(0, 57, 100); box-shadow: none; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__inputFieldBorder--3AZ_g { border-top: none; border-right: none; border-left: none; border-image: initial; border-bottom: 1px solid rgb(102, 102, 102); background: rgba(0, 0, 0, 0); border-radius: 0px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__textLink--1rsKZ { font-size: 28px; letter-spacing: 0px; line-height: 18px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__textLink--1rsKZ:link { color: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__textLink--1rsKZ:hover { color: rgb(33, 114, 186); border-bottom: 1px solid rgb(33, 114, 186); }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__textLink--1rsKZ { font-size: 16px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__textLinkCTA--2Qs-e { letter-spacing: 0px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__textLinkCTA--2Qs-e:link { color: rgb(102, 102, 102); text-decoration: underline; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__textLinkCTA--2Qs-e:hover { color: rgb(0, 0, 0); }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__textLinkCTA--2Qs-e { line-height: 22px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__inverse--hK78- { background-color: rgb(33, 114, 186); border-radius: 2px; color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__inverse--hK78-.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__secondary--16F35 { color: rgb(237, 183, 43); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__inverse--hK78- input[type="text"], .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__inverse--hK78- input[type="password"], .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__inverse--hK78- input[type="tel"], .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__inverse--hK78- input[type="number"] { color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__inverse--hK78- input[type="text"].app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__secondary--16F35, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__inverse--hK78- input[type="password"].app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__secondary--16F35, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__inverse--hK78- input[type="tel"].app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__secondary--16F35, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__inverse--hK78- input[type="number"].app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__secondary--16F35 { color: rgb(237, 183, 43); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__inverseDark--3JxgG { background-color: rgb(0, 34, 68); font-size: 16px; color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__signInInput--r7jyt { font-size: 24px; letter-spacing: -0.2px; line-height: 32px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__roundedButton--2yHEY, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__roundedButtonOn--1b1uL, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__roundedButtonPrimary--1bH7h { font-size: 16px; letter-spacing: 0px; border: 1px solid; border-radius: 200px; height: 72px; width: 94px; text-align: center; }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__roundedButton--2yHEY, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__roundedButtonOn--1b1uL, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__roundedButtonPrimary--1bH7h { border-radius: 100px; height: 35px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__roundedButtonPrimary--1bH7h { color: rgb(153, 153, 153); border: 2px solid rgb(211, 211, 211); }

@media (min-width: 1184px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__roundedButtonPrimary--1bH7h { border: 1px solid rgb(211, 211, 211); }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__roundedButtonPrimary--1bH7h:hover { color: rgb(102, 102, 102); border: 2px solid rgb(102, 102, 102); }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__roundedButtonPrimary--1bH7h:hover { border: 1px solid rgb(102, 102, 102); }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__roundedButtonOn--1b1uL { background-color: rgb(33, 114, 186); color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__alert--ITnmU, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__highLevelAlert--zykvd, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__lowLevelAlert--27LY4 { border-radius: 3px; height: 60px; width: 100%; font-size: 16px; line-height: 18px; letter-spacing: 0px; padding-left: 55px; padding-top: 20px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__lowLevelAlert--27LY4 { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__highLevelAlert--zykvd { background-color: rgb(213, 0, 50); color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__alertTriangle--3K84P, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__low-alert-triangle--3-Re8, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__highAlertTriangle--1yqM7 { padding-left: 48px; height: 19.96px; width: 22.01px; content: "!"; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__highAlertTriangle--1yqM7 { color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__low-alert-triangle--3-Re8 { color: rgb(102, 102, 102); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__dropdown--1uRxj { width: 100%; height: 100%; border: 1px solid rgb(229, 229, 229); }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__dropdown--1uRxj { border-radius: 3px; border: 1px solid rgb(200, 200, 200); box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__dropdownContent--1PkQl { font-size: 32px; line-height: 72px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__dropdownContent--1PkQl:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__dropdownContent--1PkQl { font-size: 10px; line-height: 40px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__dropdownExpand--cccn1 { font-size: 24px; line-height: 44px; color: rgb(0, 34, 68); letter-spacing: 0px; }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__dropdownExpand--cccn1 { font-size: 12px; line-height: 22px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__simpleDropdownDefault--1YKwg, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__simpleDropdownOnBackground--2Ynk9 { border: 1px solid rgb(148, 148, 148); border-radius: 4px; font-size: 28px; color: rgb(51, 51, 51); letter-spacing: 0px; line-height: 24px; }

@media (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__simpleDropdownDefault--1YKwg, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__simpleDropdownOnBackground--2Ynk9 { font-size: 16px; color: rgb(0, 34, 68); border: none; }
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__simpleDropdownDefault--1YKwg:hover, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__simpleDropdownOnBackground--2Ynk9:hover { color: rgb(33, 114, 186); }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__simpleDropdownOnBackground--2Ynk9 { opacity: 0.5; border: 1px solid rgb(255, 255, 255); border-radius: 6px; color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__simpleDropdownActive--1GVMg { font-size: 16px; line-height: 40px; letter-spacing: 0px; color: rgb(102, 102, 102); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__simpleDropdownActive--1GVMg:hover { background-color: rgb(242, 249, 252); color: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__simpleDropdownActive--1GVMg:checked { color: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__checkboxWrapper--jCY4F { position: relative; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked), .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked), .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked { position: absolute; left: 0px; top: -1px; opacity: 0; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked) + label, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked + label, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked) + label, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked + label { position: relative; cursor: pointer; font-size: 14px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked + label::after, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked + label::after { position: absolute; left: 0px; top: -1px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked + label::before { content: ""; border: 2px solid rgb(0, 57, 100); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px inset; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked + label::after, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked + label::after { content: ""; display: block; border-style: solid; border-color: rgb(255, 255, 255); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(45deg); position: absolute; text-align: center; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked), .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:disabled) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked), .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:disabled) + label::after { opacity: 0; border-color: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked + label::after, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked + label::after { opacity: 1; border-color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked + label::before { background: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked) + label::before { background: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:disabled:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:disabled:checked + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:disabled:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:disabled:checked + label::before { box-shadow: none; border-color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:disabled:checked + label::after, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:disabled:checked + label::after { color: rgb(153, 153, 153); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:disabled + label, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:disabled + label { color: rgb(170, 170, 170); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked:focus + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked):focus + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked:focus + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked):focus + label::before { outline: dotted 1px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked) + label, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked + label { padding-left: 32px; line-height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked) + label, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked + label { padding-left: 26px; line-height: 18px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked + label::before { width: 24px; height: 24px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked + label::before { width: 20px; height: 20px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked + label::after { font-size: 14px; top: 5px; left: 9px; width: 5px; height: 11px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckbox--LqhrC:checked + label::after { left: 8px; top: 3px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked) + label, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked + label { padding-left: 25px; font-size: 12px; line-height: 15px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked) + label::before, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked + label::before { width: 15px; height: 15px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked) + label::after, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked + label::after { font-size: 10px; left: 6px; top: 2px; width: 4px; height: 9px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked) + label:hover, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked) + label:focus, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked + label:hover, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked + label:focus { color: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:not(:checked) + label { color: rgb(137, 137, 137); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__customCheckboxSm--YQYHW:checked + label { color: rgb(0, 34, 68); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__whiteAndBlackCustomCheckBox--1O4xV:checked + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__whiteAndBlackCustomCheckBox--1O4xV:not(:checked) + label::before { background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__whiteAndBlackCustomCheckBox--1O4xV:checked + label::after { border-color: rgb(0, 0, 0); top: 5px; left: 10px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__whiteAndBlackCustomCheckBox--1O4xV:checked + label::after { top: 3px; left: 8px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__questionMarkToolTip--2YAX_::before { content: "?"; display: inline-block; vertical-align: top; text-align: center; font-weight: bold; width: 24px; height: 24px; font-size: 14px; line-height: 1.4; margin-top: 0px; margin-left: 8px; border: 1px solid rgb(255, 255, 255); border-radius: 50%; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0); }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__questionMarkToolTip--2YAX_::before { line-height: 1.3; margin-top: 4px; width: 16px; height: 16px; font-size: 10px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__floatingLabel--1Zjp6 { font-size: 12px; color: rgb(102, 102, 102); line-height: 13px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__formLink--gnOPm { font-size: 16px; text-decoration: underline; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__formLink--gnOPm:hover { outline: rgb(33, 114, 186) dotted 1px; color: rgb(35, 82, 124); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__fieldErrorMessage--36wmT { position: absolute; bottom: 0px; color: rgb(213, 0, 50); letter-spacing: 0px; font-size: 13px; line-height: 1.5; text-align: center; }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__fieldErrorMessage--36wmT { font-size: 11px; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__homepageTextField--2VHnq { line-height: 1; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__homepageTextField--2VHnq label { color: rgb(0, 34, 68); text-transform: none; font-weight: bold; font-size: 12px; letter-spacing: 1px; margin-bottom: -1px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__homepageTextField--2VHnq input { transition: color 0.4s ease 0s; color: rgb(0, 34, 68); height: 46px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__homepageTextField--2VHnq input::-webkit-input-placeholder { text-transform: none; font-style: normal; font-weight: normal; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__homepageTextField--2VHnq:focus { color: rgb(33, 114, 186); border-color: rgb(33, 114, 186); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__homepageTextField--2VHnq:focus > label { color: rgb(33, 114, 186); }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__homepageTextField--2VHnq .atm-c-field-note.atm-c-textfield__note { position: absolute; margin: 0px; bottom: -24px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__homepageTextField--2VHnq .atm-c-field-note.atm-c-textfield__note svg { display: none; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__myTripsContainer--2LE-w { display: grid; grid-template-columns: 1fr 1fr; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__tripsHeader--2T053 { padding-bottom: 24px; grid-area: 1 / 1 / 2 / 3; color: rgb(0, 0, 0); display: flex; flex-direction: column; }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__tripsHeader--2T053 { grid-area: 1 / 1 / 2 / 2; flex-direction: row; align-items: center; }
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__tripsHeader--2T053 .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__tripsHeaderTitle--1K8I8 { margin-bottom: 0px; }
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__tripsHeader--2T053 .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__tripsCount--1WYD3 { padding-left: 6px; border-left: 1px solid rgb(212, 212, 208); }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__tripsHeaderTitle--1K8I8 { font-size: 20px; font-weight: 600; margin-right: 8px; margin-bottom: 16px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__tripsSegmentContainer--1wrQr { grid-area: 2 / 1 / 3 / 3; display: flex; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__topHeaderLink--2M5eY { margin-top: 1px; background-color: rgba(212, 212, 208, 0.2); grid-area: 3 / 1 / 4 / 3; }

@media screen and (max-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__topHeaderLink--2M5eY { display: flex; flex-direction: column; align-items: baseline; padding: 16px 10px; }
}

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__topHeaderLink--2M5eY { display: flex; align-items: baseline; justify-content: flex-end; background-color: rgb(255, 255, 255); grid-area: 1 / 2 / 2 / 3; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__topHeaderLink--2M5eY button, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__topHeaderLink--2M5eY a { font-size: 14px; color: rgb(0, 96, 128); padding: 0px 10px; }

@media screen and (min-width: 944px) {
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__topHeaderLink--2M5eY button, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__topHeaderLink--2M5eY a { border-right: 1px solid rgb(212, 212, 208); }
  .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__topHeaderLink--2M5eY button:last-child, .app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__topHeaderLink--2M5eY a:last-child { margin-right: 0px; padding-right: 0px; border-right: none; }
}

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__topHeaderLink--2M5eY div:last-child button { border-right: 0px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__bottomAppImage--3Q3lW { margin: 16px 0px 24px 12px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__appTxtStyle--2zqJ3 { margin: 32px 24px 0px 0px; font-size: 12px; letter-spacing: 0px; line-height: 16px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__appLinkStyle--2ZGGx { position: absolute; font-size: 12px; letter-spacing: 0px; line-height: 9px; margin-top: 16px; right: 32px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__appLinkStyle--2ZGGx::after { content: ""; display: inline-block; margin-left: 4px; border-style: solid; border-color: rgb(33, 114, 186); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(315deg); width: 8px; height: 8px; transition: border-color 0.4s ease 0s; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__appIcon--1BTrS { height: 112px; }

.app-containers-Home-forms-MytripsTab-MyTripsSegmentList-styles__downloadBanner--14mD1 { grid-column: span 2 / auto; margin-top: 16px; }
