@charset "utf-8";

.atm-l-grid .atm-l-grid__item { padding: 0.75rem; width: 100%; }

@supports (display: grid) {
  .atm-l-grid .atm-l-grid__item { padding: 0px; }
}

.atm-l-grid__item.atm-l-grid__item.atm-l-grid__item--span-2 { width: 100%; }

@supports (display: grid) {
  .atm-l-grid__item.atm-l-grid__item.atm-l-grid__item--span-2 { grid-column: 1 / -1; }
}

.atm-l-grid--1-to-3up .atm-l-grid__item { margin: -0.75rem; }

@media (min-width: 60em) {
  .atm-l-grid--1-to-3up .atm-l-grid__item { width: 33.33%; }
}

@supports (display: grid) {
  .atm-l-grid--1-to-3up .atm-l-grid__item { width: 100%; margin: 0px; }
}

@media (min-width: 70em) {
  .atm-l-grid--1-to-3up--centered .atm-l-grid__item { width: 33.33%; }
}

@supports (display: grid) {
  .atm-l-grid--1-to-3up--centered .atm-l-grid__item { width: 100%; }
}

@media (min-width: 47em) {
  .atm-l-grid--2up .atm-l-grid__item { width: 50%; }
}

@supports (display: grid) {
  .atm-l-grid--2up .atm-l-grid__item { width: 100%; }
}

@media (min-width: 47em) {
  .atm-l-grid--3up .atm-l-grid__item { width: 50%; }
}

@media (min-width: 60em) {
  .atm-l-grid--3up .atm-l-grid__item { width: 33.33%; }
}

@supports (display: grid) {
  .atm-l-grid--3up .atm-l-grid__item { width: 100%; }
}

@media (min-width: 47em) {
  .atm-l-grid--3up-alt .atm-l-grid__item { width: 50%; }
}

@media (min-width: 60em) {
  .atm-l-grid--3up-alt .atm-l-grid__item { width: 33.33%; }
}

@supports (display: grid) {
  .atm-l-grid--3up-alt .atm-l-grid__item { width: 100%; }
}

@media (min-width: 47em) {
  .atm-l-grid--4up .atm-l-grid__item { width: 50%; }
}

@media (min-width: 60em) {
  .atm-l-grid--4up .atm-l-grid__item { width: 33.33%; }
}

@media (min-width: 70em) {
  .atm-l-grid--4up .atm-l-grid__item { width: 25%; }
}

@supports (display: grid) {
  .atm-l-grid--4up .atm-l-grid__item { width: 100%; }
}
