@charset "utf-8";

.atm-c-textarea-field { margin-bottom: 2rem; position: relative; padding-top: 0.75rem; }

.atm-is-disabled .atm-c-textarea-field__label { color: rgb(148, 148, 148); }

.atm-c-textarea-field__body { position: relative; margin-bottom: 0.25rem; }

.atm-is-error .atm-c-textarea-field__input { border-color: rgb(213, 0, 50); }

.atm-is-disabled .atm-c-textarea-field__input { border-color: gray; background: rgb(242, 242, 242); color: rgb(148, 148, 148); cursor: not-allowed; }

.atm-is-error .atm-c-textarea-field__note { display: inline-flex; }

.atm-is-error .atm-c-textarea-field__note-icon { margin-right: 0.5rem; fill: rgb(213, 0, 50); }
