@charset "utf-8";

.app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm { margin-left: 15px; }

.app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin__title--2CKGF { line-height: 15px; }

.app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin__title-container--1gcEO { min-width: 15px; }

.app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin__item-exit--1y25g { border-width: 0px 8px; }

.app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin__item-exit--left-exit--15okQ { border-top-width: 12px; bottom: -19px; }

.app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin__item-exit--right-exit--1Oe-M { border-bottom-width: 12px; top: -19px; }

.app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin__item--layout-letter--35J8j { padding: 0px 4px 0px 8px; }

.app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin__item--monument-no-seats--1HzBa { width: 27px; }

.app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin__item--spacer-no-seats--2X8o9 { width: 27px; }

.app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin__item--exit-no-seats--1DbnT { width: 27px; }

.app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin__table--3DMX9 td, .app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin__table--3DMX9 th { border-top: 3px solid rgba(0, 0, 0, 0); border-bottom: 3px solid rgba(0, 0, 0, 0); }

.app-components-Seatmap-CabinItem-CabinItem__cabin--vertical--1lbQu { margin-top: 20px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm { margin-left: 20px; display: flex; align-items: center; }

.app-components-Seatmap-CabinItem-CabinItem__cabin__table--3DMX9 { border-collapse: collapse; table-layout: fixed; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--vertical--1lbQu .app-components-Seatmap-CabinItem-CabinItem__cabin__table--3DMX9 { width: 100%; height: 1px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--vertical--1lbQu .app-components-Seatmap-CabinItem-CabinItem__cabin__table--3DMX9 td, .app-components-Seatmap-CabinItem-CabinItem__cabin--vertical--1lbQu .app-components-Seatmap-CabinItem-CabinItem__cabin__table--3DMX9 th { border-width: 0px 4px; border-top-style: initial; border-top-color: initial; border-bottom-style: initial; border-bottom-color: initial; border-right-style: solid; border-right-color: rgba(0, 0, 0, 0); border-left-style: solid; border-left-color: rgba(0, 0, 0, 0); }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__table--3DMX9 { height: 1px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__table--3DMX9 td, .app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__table--3DMX9 th { border-width: 4px 0px; border-top-style: solid; border-top-color: rgba(0, 0, 0, 0); border-bottom-style: solid; border-bottom-color: rgba(0, 0, 0, 0); border-right-style: initial; border-right-color: initial; border-left-style: initial; border-left-color: initial; }

.app-components-Seatmap-CabinItem-CabinItem__cabin__title--2CKGF { display: block; font-size: 16px; font-weight: 600; line-height: 20px; text-align: center; white-space: nowrap; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__title-container--1gcEO { position: relative; min-width: 20px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__title--2CKGF { position: absolute; transform: rotate(-90deg) translateX(-50%); transform-origin: left top; }

.app-components-Seatmap-CabinItem-CabinItem__cabin__caption--34SuE { height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); caption-side: bottom; position: absolute !important; }

.app-components-Seatmap-CabinItem-CabinItem__cabin__item-exit--1y25g { display: block; position: absolute; width: 0px; height: 0px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--vertical--1lbQu .app-components-Seatmap-CabinItem-CabinItem__cabin__item-exit--1y25g { border-color: rgba(0, 0, 0, 0); border-style: solid; border-width: 11px 0px; top: 50%; transform: translateY(-50%); }

.app-components-Seatmap-CabinItem-CabinItem__cabin--vertical--1lbQu .app-components-Seatmap-CabinItem-CabinItem__cabin__item-exit--left-exit--15okQ { border-right-color: rgb(213, 0, 50); border-right-width: 15px; left: -25px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--vertical--1lbQu .app-components-Seatmap-CabinItem-CabinItem__cabin__item-exit--right-exit--1Oe-M { border-left-color: rgb(213, 0, 50); border-left-width: 15px; right: -25px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__item-exit--1y25g { left: 50%; transform: translateX(-50%); border-color: rgba(0, 0, 0, 0); border-style: solid; border-width: 0px 11px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__item-exit--left-exit--15okQ { border-top-color: rgb(213, 0, 50); border-top-width: 15px; bottom: -25px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__item-exit--right-exit--1Oe-M { border-bottom-color: rgb(213, 0, 50); border-bottom-width: 15px; top: -25px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin__aria-item--2qw8p { height: 0.1px; width: 0.1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); font-size: 1px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin__item--1zPDn { padding: 0px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin__item--layout-letter--35J8j { font-weight: 600; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--vertical--1lbQu .app-components-Seatmap-CabinItem-CabinItem__cabin__item--1zPDn { text-align: center; vertical-align: bottom; height: 100%; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__item--1zPDn { text-align: right; vertical-align: middle; height: 100%; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--vertical--1lbQu .app-components-Seatmap-CabinItem-CabinItem__cabin__item--monument--1-xmX { padding-top: 2px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__item--monument--1-xmX { padding-left: 2px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__item--monument-no-seats--1HzBa { width: 36px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--vertical--1lbQu .app-components-Seatmap-CabinItem-CabinItem__cabin__item--layout-letter--35J8j { text-align: center; padding-top: 10px; padding-bottom: 5px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__item--layout-letter--35J8j { text-align: center; padding-left: 10px; padding-right: 5px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--vertical--1lbQu .app-components-Seatmap-CabinItem-CabinItem__cabin__item--aisle--1fP2y { vertical-align: middle; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__item--aisle--1fP2y { text-align: center; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--vertical--1lbQu .app-components-Seatmap-CabinItem-CabinItem__cabin__item--spacer-no-seats--2X8o9 { height: 36px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__item--spacer-no-seats--2X8o9 { width: 36px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--vertical--1lbQu .app-components-Seatmap-CabinItem-CabinItem__cabin__item--exit-no-seats--1DbnT { height: 36px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin--horizontal--3Stgm .app-components-Seatmap-CabinItem-CabinItem__cabin__item--exit-no-seats--1DbnT { width: 36px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin__item-inner--oGPVR { height: 100%; position: relative; display: flex; align-items: center; justify-content: center; }

.app-components-Seatmap-CabinItem-CabinItem__cabin__item-aria-content--20cDB { height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); position: absolute !important; }

.app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin-letter--2REyx { font-size: 10px; font-weight: 600; }

.app-components-Seatmap-CabinItem-CabinItem__small--1hNus.app-components-Seatmap-CabinItem-CabinItem__cabin-spacer--no-seats-horizontal--2K5gm { min-width: 27px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin-letter--2REyx { text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: 600; }

.app-components-Seatmap-CabinItem-CabinItem__cabin-spacer--1rdek { display: flex; }

.app-components-Seatmap-CabinItem-CabinItem__cabin-spacer--horizontal--3UxiE { height: 100%; }

.app-components-Seatmap-CabinItem-CabinItem__cabin-spacer--no-seats-horizontal--2K5gm { min-width: 36px; }

.app-components-Seatmap-CabinItem-CabinItem__cabin-spacer--no-seats-vertical--17WbJ { min-height: 36px; }
