@charset "utf-8";

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__parentContainer--199uY { border-top: 1px solid rgba(255, 255, 255, 0.5); }

@supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__parentContainer--199uY { display: grid; grid-template-columns: repeat(12, 1fr); }
}

@media (min-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__parentContainer--199uY { border-top: 1px solid rgba(255, 255, 255, 0.25); }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__headerStyle--3gHFf { color: rgb(255, 255, 255); text-transform: uppercase; font-weight: bold; }

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__headerStyle--3gHFf { font-size: 12px; letter-spacing: 1.08px; margin-bottom: 10px; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureHeader--gJmHt { margin-top: 8px; }

@supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureHeader--gJmHt { grid-area: 1 / 1 / 2 / 7; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalHeader--2r7or { text-align: right; margin-top: 8px; }

@supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalHeader--2r7or { grid-area: 1 / 7 / 2 / 13; }
}

@media (min-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalHeader--2r7or { margin-right: 8px; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__dates--1887x { font-size: 12px; letter-spacing: 0px; line-height: 11px; color: rgb(255, 255, 255); margin-top: 8px; margin-bottom: 8px; }

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__dates--1887x { font-size: 14px; line-height: 16px; }
}

@media (min-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__dates--1887x { margin-top: 0px; margin-bottom: 0px; }
}

@media (min-width: 1184px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__dates--1887x { margin-bottom: 8px; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureDate--15-oQ { text-align: left; }

@supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureDate--15-oQ { grid-area: 1 / 1 / 2 / 5; }
}

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureDate--15-oQ { }
  @supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureDate--15-oQ { grid-area: 2 / 1 / 3 / 5; }
}
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalDate--NYU3Z { text-align: right; }

@supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalDate--NYU3Z { grid-area: 1 / 9 / 2 / 13; }
}

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalDate--NYU3Z { }
  @supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalDate--NYU3Z { grid-area: 2 / 9 / 3 / 13; }
}
}

@media (min-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalDate--NYU3Z { margin-right: 8px; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__time--2r4mI { color: rgb(255, 255, 255); }

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__time--2r4mI { font-size: 24px; line-height: 32px; margin-top: -32px; }
}

@media (min-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__time--2r4mI { margin-top: -40px; }
}

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureTime--cJVRS { text-align: left; }
  @supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureTime--cJVRS { grid-area: 3 / 1 / 4 / 5; }
}
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__tripIcon--Ds2Vk { text-align: center; margin-right: 24px; margin-left: 24px; }

@supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__tripIcon--Ds2Vk { grid-area: 2 / 5 / 3 / 9; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__flightDurationTime--1r3mC { color: rgb(255, 255, 255); text-align: center; }

@media (min-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__flightDurationTime--1r3mC { font-size: 14px; line-height: 24px; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalTime--17tbR { text-align: right; }

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalTime--17tbR { }
  @supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalTime--17tbR { grid-area: 3 / 9 / 4 / 13; }
}
}

@media (min-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalTime--17tbR { margin-right: 8px; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__scheduled--_7g6K { color: rgb(255, 255, 255); }

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__scheduled--_7g6K { font-size: 12px; line-height: 16px; margin-top: 4px; }
}

@media (min-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__scheduled--_7g6K { margin-top: -4px; margin-bottom: 12px; }
}

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureScheduled--HaSAm { text-align: left; }
  @supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureScheduled--HaSAm { grid-area: 4 / 1 / 5 / 5; }
}
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalScheduled--dW16z { text-align: right; }

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalScheduled--dW16z { }
  @supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalScheduled--dW16z { grid-area: 4 / 9 / 5 / 13; }
}
}

@media (min-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalScheduled--dW16z { margin-right: 8px; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__airportCode--IeTgK { font-size: 24px; line-height: 24px; color: rgb(255, 255, 255); letter-spacing: 0px; margin-top: 8px; margin-bottom: 4px; }

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__airportCode--IeTgK { margin-top: 24px; font-size: 32px; line-height: 32px; }
}

@media (min-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__airportCode--IeTgK { margin-top: 0px; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureAirportCode--1cWuA { margin-right: 8px; margin-bottom: 8px; }

@supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureAirportCode--1cWuA { grid-area: 2 / 1 / 3 / 5; }
}

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureAirportCode--1cWuA { text-align: left; }
  @supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureAirportCode--1cWuA { grid-area: 5 / 1 / 6 / 4; }
}
}

@media (min-width: 720px) and (max-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureAirportCode--1cWuA { }
  @supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureAirportCode--1cWuA { grid-area: 5 / 1 / 6 / 3; }
}
}

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureAirportContainer--3byhF { text-align: left; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureTemperatureIcon--2a8C2 { text-align: left; margin-bottom: 2px; }

@supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureTemperatureIcon--2a8C2 { grid-area: 3 / 1 / 4 / 3; }
}

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureTemperatureIcon--2a8C2 { margin-top: 30px; margin-left: 45px; margin-bottom: auto; }
  @supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureTemperatureIcon--2a8C2 { grid-area: 5 / 3 / 6 / 5; }
}
}

@media (min-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureTemperatureIcon--2a8C2 { margin-top: 5px; margin-right: 24px; }
  @supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureTemperatureIcon--2a8C2 { grid-area: 5 / 3 / 6 / 6; }
}
}

@media (min-width: 720px) and (max-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureTemperatureIcon--2a8C2 { margin-left: 0px; }
  @supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__departureTemperatureIcon--2a8C2 { grid-area: 5 / 3 / 6 / 5; }
}
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalAirportCode--2kEg3 { text-align: right; margin-bottom: 8px; }

@supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalAirportCode--2kEg3 { grid-area: 2 / 9 / 3 / 13; }
}

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalAirportCode--2kEg3 { text-align: right; }
  @supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalAirportCode--2kEg3 { grid-area: 5 / 9 / 6 / 12; }
}
}

@media (min-width: 1184px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalAirportCode--2kEg3 { margin-left: 12px; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalTemperatureIcon--1P1jB { text-align: right; }

@supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalTemperatureIcon--1P1jB { grid-area: 3 / 10 / 4 / 13; }
}

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalTemperatureIcon--1P1jB { margin-top: 24px; }
  @supports (display: grid) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalTemperatureIcon--1P1jB { grid-area: 5 / 10 / 6 / 13; }
}
}

@media (min-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalTemperatureIcon--1P1jB { margin-right: 6px; margin-top: 5px; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__city--28Nla { font-size: 12px; letter-spacing: 0px; line-height: 13px; color: rgb(255, 255, 255); font-weight: normal; }

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__city--28Nla { font-size: 14px; line-height: 24px; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__temperature--36ygP { color: rgb(255, 255, 255); font-size: 16px; line-height: 27px; }

@media (min-width: 720px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__temperature--36ygP { margin-bottom: 16px; font-size: 14px; line-height: 24px; }
}

@media (min-width: 944px) {
  .app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__temperature--36ygP { margin-bottom: auto; }
}

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__arrivalTempImg--QSfif { margin-right: 2px; }

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__timePeriodStyle--1ZhFy { font-size: 14px; margin-left: 8px; }

.app-components-FlightStatusTimeAndTemp-flightStatusTimeAndTemp__srOnly--1XJAI { width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); text-transform: none; font-size: 0.5px; line-height: 0; height: 0px; position: absolute !important; }
