@charset "utf-8";

.app-components-Seatmap-Filter-Filter__filter--20cvx { padding: 16px 24px 0px; }

@media screen and (min-width: 720px) {
  .app-components-Seatmap-Filter-Filter__filter--20cvx { padding: 0px; margin: 0px 0px 32px; }
}

.app-components-Seatmap-Filter-Filter__filter__item--19PEP div { z-index: 0; }

.app-components-Seatmap-Filter-Filter__filter__info--3ofMg { display: flex; align-items: center; background: rgb(121, 110, 101); padding: 12px 8px; line-height: 24px; margin: 1rem 0px 0px; font-size: 14px; color: rgb(255, 255, 255); }

.app-components-Seatmap-Filter-Filter__filter__info-clear--29VzP { display: inline-block; text-decoration: underline; padding: 0px; margin: 0px; font-size: inherit; color: rgb(255, 255, 255); }

.app-components-Seatmap-Filter-Filter__filter__info-clear--29VzP:hover { color: rgb(255, 255, 255); }

.app-components-Seatmap-Filter-Filter__filter__info-clear--29VzP:focus { color: rgb(255, 255, 255); }

.app-components-Seatmap-Filter-Filter__visuallyhidden--22hzu { height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); position: absolute !important; }
