@charset "utf-8";

.app-components-PlacesFilters-CategoriesForm-categoriesForm__categoriesForm--1YXV7 legend { font-size: 16px; font-weight: 600; margin-bottom: 18px; }

.app-components-PlacesFilters-CategoriesForm-categoriesForm__categoriesForm--1YXV7.app-components-PlacesFilters-CategoriesForm-categoriesForm__popUp--jUDVw { position: absolute; width: 600px; left: 50%; transform: translateX(-50%); background-color: rgb(255, 255, 255); z-index: 999; border: 1px solid rgb(102, 102, 102); border-radius: 4px; padding: 24px; }

.app-components-PlacesFilters-CategoriesForm-categoriesForm__categoriesForm--1YXV7.app-components-PlacesFilters-CategoriesForm-categoriesForm__popUp--jUDVw .app-components-PlacesFilters-CategoriesForm-categoriesForm__controls--3Dk1Y legend { font-size: 32px; text-align: left; }

.app-components-PlacesFilters-CategoriesForm-categoriesForm__categoriesForm--1YXV7.app-components-PlacesFilters-CategoriesForm-categoriesForm__popUp--jUDVw .app-components-PlacesFilters-CategoriesForm-categoriesForm__closePopUpBtn--3JvO9 { position: absolute; top: 24px; right: 24px; z-index: 1; }

.app-components-PlacesFilters-CategoriesForm-categoriesForm__controls--3Dk1Y ul { column-count: 1; }

@media screen and (min-width: 720px) {
  .app-components-PlacesFilters-CategoriesForm-categoriesForm__categoriesForm--1YXV7 { width: 580px; }
  .app-components-PlacesFilters-CategoriesForm-categoriesForm__categoriesForm--1YXV7 legend { font-size: 20px; }
  .app-components-PlacesFilters-CategoriesForm-categoriesForm__controls--3Dk1Y ul { column-count: 2; }
  .app-components-PlacesFilters-CategoriesForm-categoriesForm__controls--3Dk1Y li { padding: 5px 0px; }
  .app-components-PlacesFilters-CategoriesForm-categoriesForm__controls--3Dk1Y li:nth-child(6) { margin-bottom: 60px; }
}
