@charset "utf-8";

.atm-c-tags { margin: -0.5rem 0px 0px; padding: 0px; display: flex; flex-wrap: wrap; list-style: none; }

.atm-c-tags__item { margin-right: 0.5rem; margin-top: 0.5rem; }

.atm-c-tags__tag { display: flex; appearance: none; border: none; border-radius: 4px; background: rgb(242, 242, 242); font-size: 0.875rem; font-weight: 400; line-height: 1.71429; margin-bottom: 0px; cursor: pointer; }

.atm-c-tags__tag:focus { outline: rgb(98, 68, 187) solid 4px; }

.atm-c-tags__icon { position: relative; top: 5px; padding: 2px; height: 14px; width: 14px; margin-left: 0.5rem; pointer-events: none; fill: rgb(0, 96, 128); transition: all 0.15s ease-out 0s; }

.atm-c-tags__tag:hover .atm-c-tags__icon { background: rgb(204, 204, 204); }
