@charset "utf-8";

.app-components-Seatmap-FlightSelectToggleable-FlightSelectToggleable__small__text--32gQ5 { font-size: 14px; font-weight: 600; line-height: 1.4; margin-bottom: 0px; }

.app-components-Seatmap-FlightSelectToggleable-FlightSelectToggleable__item--1eQ4E { height: 31px; }

.app-components-Seatmap-FlightSelectToggleable-FlightSelectToggleable__item--1eQ4E > label > div { margin-top: -3px; }

.app-components-Seatmap-FlightSelectToggleable-FlightSelectToggleable__item--1eQ4E > label > div:first-child { width: 1rem; height: 1rem; left: 0.5rem; }

.app-components-Seatmap-FlightSelectToggleable-FlightSelectToggleable__item--1eQ4E > label > div:first-child > span::after { inset: 5px; border: 3px solid rgb(0, 34, 68); }
