@charset "utf-8";

@media screen and (min-width: 720px) {
  .app-components-Seatmap-FlightSelect-FlightSelect__flight-select--2jimZ { padding-top: 24px; }
}

.app-components-Seatmap-FlightSelect-FlightSelect__list-box--1S90A { position: relative; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box--1S90A:hover, .app-components-Seatmap-FlightSelect-FlightSelect__list-box--1S90A:focus { color: rgb(33, 114, 186); }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__modal--28oi0 { position: fixed; display: block; inset: 0px; height: 100%; overflow-y: auto; background: rgb(255, 255, 255); }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__button--fX7cP { width: 100%; position: relative; background-color: rgba(0, 0, 0, 0); color: rgb(0, 34, 68); letter-spacing: 0px; line-height: 1.4; border: 0px; font-size: 24px; text-align: left; outline: none; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__button--fX7cP:focus { outline: rgb(98, 68, 187) solid 4px; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__button--dialog--PeU8z { border: 1px solid rgb(102, 102, 102); border-radius: 5px; padding: 8px 35px 8px 8px; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__button--drop-down--NzN5J { border-bottom: 1px solid rgb(102, 102, 102); padding: 0px 35px 0px 0px; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__options--1r50x { position: absolute; margin-top: -1px; left: 0px; right: 0px; background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(102, 102, 102) rgb(204, 204, 204) rgb(204, 204, 204); border-image: initial; z-index: 10; overflow-y: auto; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__options--hidden--2E62R { display: none; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__option-list--N5sJ4 { list-style: none; display: block; padding: 0px; margin: 0px; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__option-item--1Wu2D { padding: 8px 32px 8px 15px; line-height: 1.6; position: relative; display: block; color: rgb(102, 102, 102); cursor: pointer; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__option-item--selected--1Kgl2::after { content: ""; display: block; width: 8px; height: 15px; border-style: solid; border-color: rgb(0, 29, 72); border-image: initial; border-width: 0px 2px 2px 0px; transform: rotate(42deg) translate(-50%, -50%); transform-origin: 50% 50%; position: absolute; right: 20px; top: 50%; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__option-item--highlighted--VvQ1w { font-weight: 600; color: rgb(12, 35, 64); background-color: rgba(182, 184, 220, 0.5); }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__drop-down-arrow--d8k5O { display: block; position: absolute; top: 50%; transform-origin: 0px 0px; transition-property: transform; transition-duration: 250ms; pointer-events: none; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__drop-down-arrow--d8k5O::after { content: ""; display: block; border-style: solid; border-color: rgb(0, 34, 68); border-image: initial; border-width: 0px 2px 2px 0px; width: 17px; height: 17px; transform: rotate(45deg) translate(-50%, -50%); }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__drop-down-arrow--dialog--redZV { right: 20px; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__drop-down-arrow--drop-down--LZ409 { right: 10px; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__drop-down-arrow--open--3CoVD { transform: rotateX(180deg); }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__close--2YViG { text-align: right; border-bottom: 1px solid rgb(204, 204, 204); }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__close-btn--3eOk7 { display: inline-block; padding: 16px; }

.app-components-Seatmap-FlightSelect-FlightSelect__list-box__label--1Hjm2 { display: none; }
