@charset "utf-8";

.atm-c-table__cell.atm-c-table__cell--align-inset-left { padding-left: 4rem; text-align: left; }

@media (max-width: 47em) {
  .atm-c-table--condensed .atm-c-table__cell.atm-c-table__cell--align-inset-left { padding-left: 0.5rem; }
}

@media (max-width: 47em) {
  .atm-c-table:not(.atm-c-table--condensed) .atm-c-table__cell.atm-c-table__cell--align-inset-left { padding-left: 2rem; }
}

.atm-c-table__cell--align-left { text-align: left; }

.atm-c-table__cell--align-right { text-align: right; }

.atm-c-table__cell--align-center { text-align: center; }

.atm-c-table__cell--valign-center { vertical-align: middle; }
