@charset "utf-8";

.app-components-Seatmap-LegalConfirmation-LegalConfirmation__legal--1IINv { color: rgb(0, 0, 0); display: flex; flex-direction: column; font-size: 14px; height: 100%; padding: 0px 16px; }

.app-components-Seatmap-LegalConfirmation-LegalConfirmation__legal__container--2KFYY { flex: 0 0 auto; line-height: 24px; margin: 16px 0px; overflow: auto; }

.app-components-Seatmap-LegalConfirmation-LegalConfirmation__legal__container--2KFYY p { margin: 0px; }

.app-components-Seatmap-LegalConfirmation-LegalConfirmation__legal__container--2KFYY ul { padding-left: 20px; list-style-type: none; margin: 4px 0px 10px; text-indent: -18px; }

.app-components-Seatmap-LegalConfirmation-LegalConfirmation__legal__container--2KFYY li::before { content: "— "; }

@media screen and (min-width: 720px) {
  .app-components-Seatmap-LegalConfirmation-LegalConfirmation__legal__container--2KFYY { background-color: rgb(230, 230, 230); flex: 1 0 auto; height: 200px; padding: 10px; }
}

.app-components-Seatmap-LegalConfirmation-LegalConfirmation__legal__acknowledgement--2tJAn { font-weight: 600; flex: 0 0 auto; line-height: 20px; margin-bottom: 18px; }

.app-components-Seatmap-LegalConfirmation-LegalConfirmation__legal__button-row--K3GfR { display: flex; flex: 0 0 auto; flex-direction: row; justify-content: flex-end; }

@media screen and (max-width: 480px) {
  .app-components-Seatmap-LegalConfirmation-LegalConfirmation__legal__button-row--K3GfR { flex-direction: column-reverse; margin-bottom: 0px; }
}
