@charset "utf-8";

.ax-title-pretext { color: rgb(179, 182, 183); }

.ax-funnel-title__text { color: rgb(40, 45, 47); }

.ax-initials-container { background-color: rgba(0, 168, 225, 0.12); color: rgb(40, 45, 47); }

.ax-initials-text { color: rgb(0, 168, 225); }

.ax-applicant-name { color: rgb(40, 45, 47); }

.ax-calendar .applicant-calendar__date, .ax-calendar .applicant-calendar__slot { border: 1px solid rgb(220, 223, 224); }

.ax-calendar .applicant-calendar__slots { border-bottom: 1px solid rgb(220, 223, 224); }

.ax-calendar .applicant-calendar__date_active, .ax-calendar .applicant-calendar__slot_selected { box-shadow: rgba(0, 168, 225, 0.16) 0px 0px 0px 3px; border-color: rgb(0, 168, 225) !important; border-bottom-width: 1px !important; border-bottom-style: solid !important; }

.ax-calendar .applicant-calendar__date_active::before { background: rgb(0, 168, 225); }

.ax .portal-layout__content-calendar .ax-applicant-calendar__info-container, .ax-book-slots-confirm__address-container { background: rgb(245, 249, 250); }

.ax-book-slots-confirm__address-container.ax-book-slots-confirm__geo:hover, .ax-book-slots-confirm__address-container.ax-book-slots-confirm__url:hover { background: rgb(0, 168, 225); }

.ax .portal-layout__content-calendar .applicant-calendar__info-header, .ax .portal-layout__content-calendar .applicant-calendar__info-instructions { color: rgb(117, 121, 122); }

.ax-book-slots-confirmed::before { background: rgb(0, 168, 225); }

.ax-book-slots-confirmed::after { border: solid rgb(0, 168, 225); }

.ax-book-slots-confirmed .ax-inner-checkmark { border: 2px solid rgb(0, 168, 225); }

.ax-book-slots-confirmed .book-slots-confirm__header { color: rgb(179, 182, 183); }

.ax-book-slots-confirm__navigate, .ax.portal-layout__container .book-slots-confirm__section .applicant-calendar-button { color: rgb(0, 168, 225); }

.ax-book-slots-confirm__date-time-container::before { background: rgb(0, 168, 225); }

.ax-applicant-calendar__info-container .js-applicant-calendar__info-location, .ax-applicant-calendar__info-container .js-applicant-calendar__info-event, .ax-boot-slots-confirm__name, .ax-book-slots-confirm__location { color: rgb(40, 45, 47); }

.ax.portal-layout__container .book-slots-confirm__detail-header, .ax.portal-layout__container .book-slots-confirm__header { color: rgb(179, 182, 183); }

.ax.portal-layout__container .book-slots-confirm__actions .ax-btn { box-shadow: rgb(179, 182, 183) 0px 1px 3px 0px; }

.ax.portal-layout__container .book-slots-confirm__actions button { color: rgb(117, 121, 122); }

.ax-boot-slots-confirm__email, .ax-book-slots-confirm__date { color: rgb(0, 168, 225); }

.ax-question-steps { color: rgb(102, 111, 137); }

.ax-question-progress { background: rgb(220, 223, 224); }

.ax-question-progress.completed, .ax-question-progress.active { background-size: 200% 100%; background-image: linear-gradient(to right, rgb(220, 223, 224) 50%, rgb(0, 168, 225) 50%); background-position: -100% 0px; }

.ax-question-progress.fade-out { background-size: 200% 100%; background-image: linear-gradient(to right, rgb(220, 223, 224) 50%, rgb(0, 168, 225) 50%); background-position: 0px -100%; }

.ax-question-progress.active { box-shadow: rgba(0, 168, 225, 0.32) 0px 2px 8px 0px; }

.ax-next-container .ax-press-enter { color: rgb(179, 182, 183); }

.ax-next-container .ax-press-enter span { color: rgb(117, 121, 122); border: 1px solid rgb(220, 223, 224); }

.ax-next-container .ax-press-enter span::after { box-shadow: rgb(179, 182, 183) 0px 1px 3px 0px; }

.ax-portal-layout .data-collection-new__issues a { color: rgb(0, 168, 225); }

.ax-powered-by-container, .ax-powered-by-container a { color: rgb(179, 182, 183); }

.ax-powered-by-logo { color: rgb(179, 182, 183); }

.ax .availability-control__checkbox-input:checked + .availability-control__checkbox-label::after { background-color: rgb(0, 168, 225); }

.us-government-form-link { color: rgb(0, 168, 225); }

.ax-btn, .btn.ax-btn, .btn.ax-btn.btn-primary { box-shadow: rgba(117, 121, 122, 0.24) 0px 1px 3px 0px; background: linear-gradient(to left, rgb(0, 168, 225) 50%, rgb(66, 151, 179) 50%) right bottom / 200% 100% rgb(0, 168, 225); }

.ax-btn:not(.secondary):disabled, .btn.ax-btn:not(.secondary):disabled, .btn.ax-btn.btn-primary:not(.secondary):disabled { background: rgb(179, 182, 183); }

.ax-btn:disabled, .btn.ax-btn:disabled, .btn.ax-btn.btn-primary:disabled { box-shadow: rgba(117, 121, 122, 0.24) 0px 1px 3px 0px; }

.ax-btn.secondary { color: rgb(179, 182, 183); }

.ax-btn.secondary:hover { color: rgb(117, 121, 122); }

@media (max-width: 767px) {
  .ax-btn.secondary { color: rgb(40, 45, 47); }
  .ax-next-container .return-message { color: rgb(117, 121, 122); }
}

.ax-with-arrow { fill: rgb(179, 182, 183); }

.ax-btn.secondary:hover > .ax-with-arrow { fill: rgb(117, 121, 122); }

.ax-checkmark, .ax-radio-checkmark { box-shadow: rgb(220, 223, 224) 0px 0px 0px 1px inset; }

.form-group.ax label:hover input ~ .ax-radio-checkmark, .form-group.ax label:hover input ~ .ax-checkmark { background: rgb(220, 223, 224); }

@media (max-width: 767px) {
  .form-group.ax label:hover input ~ .ax-radio-checkmark, .form-group.ax label:hover input ~ .ax-checkmark { background: none; }
}

.ax-multi-screen .form-group.ax .checkbox, .ax-multi-screen .form-group.ax .radio { border: 1px solid rgb(220, 223, 224); }

.form-group.ax .radio label input:checked ~ .ax-radio-checkmark, .form-group.ax .checkbox label input:checked ~ .ax-checkmark { background: rgb(0, 168, 225); }

.form-group.ax .form-control, .form-group.ax .input-group.datetimepicker, .ax-checkr-input, .ax-checkr-input .selectize-input { border: 1px solid rgb(220, 223, 224); box-shadow: rgba(220, 223, 224, 0.698) 0px 1px 3px 0px inset; }

.form-group.ax .ax-select-selected { border: 1px solid rgb(220, 223, 224); box-shadow: rgba(220, 223, 224, 0.698) 0px -1px 3px 0px inset; color: rgb(40, 45, 47); }

.form-group.ax .ax-select-arrow-active { border-color: rgb(179, 182, 183); }

.form-group.ax .input-group-addon { border-color: rgb(220, 223, 224); }

.form-group.ax .input-group.datetimepicker, .form-group.ax input[data-datepicker], .form-group.ax input[type="text"].form-control:focus, .form-group.ax input[type="email"].form-control:focus, .form-group.ax input[type="tel"].form-control:focus { box-shadow: rgba(179, 182, 183, 0.12) 0px 0px 0px 3px; border-color: rgb(179, 182, 183); }

.form-group.ax .form-control ~ .ax-multi-screen-bottom-border { background: rgb(0, 168, 225); }

.ax-multi-question-screen .form-group.ax textarea.form-control, .ax-multi-question-screen .form-group.ax input[data-datepicker], .ax-multi-screen .form-group.ax .input-group.datetimepicker, .ax-multi-screen .form-group.ax input[type="text"].form-control, .ax-multi-screen .form-group.ax input[type="email"].form-control, .ax-multi-screen .form-group.ax input[type="number"].form-control, .ax-multi-screen .form-group.ax input[type="tel"].form-control { border-bottom: 2px solid rgb(245, 249, 250); }

.form-group.ax textarea.form-control, .form-group.ax input[data-datepicker], .form-group.ax .input-group.datetimepicker, .form-group.ax input[type="text"].form-control, .form-group.ax input[type="email"].form-control, .form-group.ax input[type="number"].form-control, .form-group.ax input[type="tel"].form-control { color: rgb(40, 45, 47); }

.form-group.ax .ax-select-items { border: 1px solid rgb(220, 223, 224); box-shadow: rgba(117, 121, 122, 0.08) 0px 8px 16px 0px; }

.form-group.ax .ax-select-items div:hover, .form-group.ax .ax-select-dropdown .ax-same-as-selected { background-color: rgb(245, 249, 250); }

.ax-panel-body, .ax-calendar .applicant-calendar__slot-detail { color: rgb(40, 45, 47); }

.w4-basic-employee-field__label, .i9-basic-employee-field__label, .form-group.ax .control-label { color: rgb(40, 42, 46); }

.form-group.ax .address2-label { color: rgb(117, 121, 122); }

.form-group.ax .input-group-addon i, .form-group.ax .ax-select-selected.placeholder, .ax-calendar .applicant-calendar__slot-detail:last-child { color: rgb(179, 182, 183); }

.ax-multi-screen .form-group.ax .ax-select-dropdown .ax-select-selected { border-bottom: 2px solid rgb(245, 249, 250); }

.ax-multi-screen .form-group.ax:hover .ax-select-dropdown .ax-select-selected:not(.ax-select-arrow-active) { border-bottom: 2px solid rgb(220, 223, 224); }

.ax-multi-screen .form-group.ax .ax-select-dropdown .ax-select-selected.ax-select-arrow-active { color: rgb(179, 182, 183); }

.form-group.ax .ax-select-selected::before { border: 1px solid rgb(179, 182, 183); }

.form-group.ax .form-control::placeholder { color: rgb(102, 111, 137) !important; }

.ax-loading-spinner div { background: rgb(117, 121, 122); }

.ax-multi-screen .form-group.ax .control-label { color: rgb(40, 45, 47); }

.ax-info-instructions ul, .ax-info-instructions ol { color: rgb(117, 121, 122); list-style-type: none; }

.ax-info-instructions li::after { background: rgb(0, 168, 225); }

.ax-info-instructions ul li::before { border: solid rgb(0, 168, 225); }

.ax-info-instructions ol li::before { color: rgb(0, 168, 225); }

.multi-stage-main-sub-stage-completed-check { background-color: rgb(0, 168, 225); }

.multi-stage-main-sub-stage-icon { box-shadow: rgba(117, 121, 122, 0.24) 0px 16px 32px 0px; }

.multi-stage-main-sub-stage-completed-check::before { background-color: rgb(0, 168, 225); }

.w4-basic-employee-fields-container, .i9-basic-employee-fields-container, .i9-section-three-fields-container, .InfoBoxWrapper, .ax-side-menu__content { background-color: rgb(245, 249, 250); }

.ax-menu-stages-container::-webkit-scrollbar-thumb { background: rgb(117, 121, 122); }

.ax-side-menu__progress.ax-stages-shadow::after { box-shadow: rgb(117, 121, 122) 0px 1px 1px 0px; opacity: 0.16; }

.ax-menu-stages-container::-webkit-scrollbar-thumb { background: rgb(220, 223, 224); border: 11px solid rgb(245, 249, 250); }

.ax-side-menu .bm-cross { background: rgb(179, 182, 183); }

.InfoBoxWrapper > p, .ax-side-menu .bm-item-list { color: rgb(117, 121, 122); }

.ax-menu-card { box-shadow: rgba(117, 121, 122, 0.08) 0px 1px 1px 0px; }

.ax-help-text { color: rgb(40, 45, 47); }

.ax-write { color: rgb(179, 182, 183); }

.ax-selected-text-circle, .ax-menu-chat-circle { background-color: rgb(0, 168, 225); }

.ax-side-menu-header::after, .ax-menu-item__selected .stage-circle::after, .ax-menu-item .stage-inner-circle::after { box-shadow: rgb(117, 121, 122) 0px 1px 1px 0px; }

.ax-menu-single-stage-container .ax-stage-icon g { stroke: rgb(0, 168, 225); }

.ax-menu-single-stage-container .ax-stage-icon.PartnerStage path { fill: rgb(0, 168, 225); }

.ax-stage-circle-container::after { background: rgb(220, 223, 224); opacity: 0.31; }

.ax-stage-circle::after { box-shadow: rgb(0, 168, 225) 0px 16px 32px 0px; }

.ax-menu-single-stage-container .ax-single-stage__you-are-in { color: rgb(179, 182, 183); }

.ax-menu-single-stage-container .ax-single-stage__title { color: rgb(40, 45, 47); }

.stage-circle__completed::before { background-color: rgb(0, 168, 225); }

.ax-slider { background: rgb(220, 223, 224); }

input:checked + .ax-slider { background: rgb(0, 168, 225); }

.form-group.ax.has-error .ax-checkmark-label, .form-group.ax.has-success .ax-checkmark-label, .form-group.ax.has-error .ax-radio-label, .form-group.ax.has-success .ax-radio-label { color: rgb(40, 45, 47); }

.form-group.ax.has-error ~ .ax-next-container .ax-next { background: rgb(179, 182, 183); }

.form-group.ax .form-control.ax-file-upload::after { box-shadow: rgba(0, 168, 225, 0.32) 0px 8px 32px 0px; }

.form-group.ax .form-control.ax-file-upload:hover::after, .form-group.ax.dragging-image .form-control.ax-file-upload::after { box-shadow: rgba(0, 168, 225, 0.48) 0px 16px 32px 0px; }

.form-group.ax .ax-file-upload-container.active .ax-file-upload::after, .form-group.ax.dragging-image .form-control.ax-file-upload::after, .form-group.ax .form-control.ax-file-upload:hover::after { background-color: rgb(0, 168, 225); }

.form-group.ax .ax-file-upload-container.active .ax-upload-percentage { color: rgb(0, 168, 225); }

.form-group.ax .form-control.ax-file-upload::before { background-color: rgb(245, 249, 250); }

.form-group.ax .ax-choose-file-text { color: rgb(0, 168, 225); }

.ax-uploaded-image-container .ax-right-content { color: rgb(179, 182, 183); }

.ax-uploaded-image { background: rgb(220, 223, 224); }

.form-group.ax .ax-file-type-text, .form-group.ax .ax-file-name-text { color: rgb(179, 182, 183); }

.form-group.ax .ax-upload-icon path { stroke: rgb(0, 168, 225); }

.ax-uploaded-image-content, .ax-stages-shadow-top, .ax-stages-shadow-cover { background: rgb(245, 249, 250); }

.ax-uploaded-checkmark { background: rgb(0, 168, 225); }

.ax-image-loading { background: rgb(220, 223, 224); }

.ax-modal-header .header-title { color: rgb(40, 45, 47); }

.ax-modal-header .header-subtitle { color: rgb(179, 182, 183); }

.ax-modal-header a, .ax-modal-body a { color: rgb(0, 168, 225); }

.ax-modal-header p, .ax-modal-body { color: rgb(40, 45, 47); }

.ax-modal-body .your-data { color: rgb(179, 182, 183); }

.ax-modal-header .header-description, .ax-modal-header .body-title { color: rgb(179, 182, 183); }

.ax-modal-circle { background: rgb(0, 168, 225); }

.ax-modal-circle::after { box-shadow: rgb(0, 168, 225) 0px 16px 32px 0px; }

.ax.app-navbar .app-navbar__logo::after { box-shadow: rgb(0, 168, 225) 0px 16px 32px 0px; }

.ax.app-navbar .ax-avatar-ring { border: 1px solid rgb(117, 121, 122); }

.ax.app-navbar .ax-navbar-header p { opacity: 0.7; }

.ax.application-page .funnel-application-form__description-content { background: rgb(245, 249, 250); color: rgb(117, 121, 122); }

.ax.application-page .funnel-application-form__description-content p { color: rgb(40, 42, 46); }

.ax.application-page .funnel-application-form__description-content h1, .ax.application-page .funnel-application-form__description-content h2, .ax.application-page .funnel-application-form__description-content h3, .ax.application-page .funnel-application-form__description-content h4, .ax.application-page .funnel-application-form__description-content h5, .ax.application-page .funnel-application-form__description-content h6 { color: rgb(40, 42, 46); }

.ax.application-page .funnel-application-form__information-label, .ax.application-page .funnel-application-form__description-label { color: rgb(40, 42, 46); }

.ax-application-form__description-container .ax-expand-button { background: rgb(0, 168, 225); }

.ax-same-as-selected::before { background: rgb(0, 168, 225); }
