@charset "utf-8";

.ib-booking-app_empty-state { padding: 2rem 5rem; }

.ib-booking-app_empty-state .ib-booking-app_empty-state__container { display: flex; justify-content: center; max-width: 1100px; margin: 0px auto; }

.ib-booking-app_empty-state .ib-booking-app_empty-state__wrapper { display: flex; flex-direction: column; justify-content: center; align-items: center; flex: 1.4 1 0%; }

.ib-booking-app_empty-state .ib-booking-app_empty-state__info { text-align: left; }

.ib-booking-app_empty-state .ib-booking-app_empty-state__title { color: rgb(28, 164, 254); font-size: 22px; line-height: 34px; margin-bottom: 11px; font-weight: bold; }

.ib-booking-app_empty-state .ib-booking-app_empty-state__message { color: rgb(86, 105, 134); font-size: 16px; line-height: 22px; margin-bottom: 30px; }

.ib-booking-app_empty-state .ib-booking-app_empty-state__message a { color: rgb(86, 105, 134); text-decoration: none; }

.ib-booking-app_empty-state .ib-booking-app_empty-state__image-wrapper { flex: 1.5 1 0%; text-align: right; position: relative; }

.ib-booking-app_empty-state .ib-booking-app_empty-state__image-wrapper .warnIcon { position: absolute; right: 50px; top: 190px; color: rgb(255, 255, 255); font-size: 20px; }

.ib-booking-app_empty-state .ib-booking-app_empty-state__image { width: 349px; }

.ib-booking-app_empty-state .ib-booking-app_empty-state__button { background-color: rgb(26, 164, 253); border-radius: 4px; width: 171px; height: 34px; display: block; color: rgb(255, 255, 255); text-align: center; line-height: 34px; font-size: 13px; letter-spacing: 0.5px; cursor: pointer; }
