@charset "utf-8";

.smb-uikit__tooltip { box-sizing: border-box; position: relative; display: inline-flex; }

.smb-uikit__tooltip > * { box-sizing: border-box; }

.smb-uikit__tooltip__container { background: transparent; position: absolute; display: flex; flex-direction: column; z-index: 9; padding: 1rem; }

.smb-uikit__tooltip__container[tooltip-size="small"] { min-height: 10rem; max-height: 10rem; min-width: 10rem; max-width: 10rem; }

.smb-uikit__tooltip__container[tooltip-size="medium"] { min-height: 12.5rem; max-height: 12.5rem; min-width: 12.5rem; max-width: 12.5rem; }

.smb-uikit__tooltip__container[tooltip-size="large"] { min-height: 15rem; max-height: 15rem; min-width: 15rem; max-width: 15rem; }

.smb-uikit__tooltip__content { box-shadow: rgba(58, 83, 119, 0.2) 0px 6px 8px 0px; display: flex; flex-direction: column; flex: 1 1 0%; margin: 0px; padding: 0.75rem 1rem; border-radius: 3px; position: relative; font-size: 0.875rem; }

.smb-uikit__tooltip__content::after { border-style: solid; border-width: 10px; content: ""; position: absolute; }

.smb-uikit__tooltip__content-header, .smb-uikit__tooltip__content-footer { font-size: 0.875rem; }

.smb-uikit__tooltip__content-header { margin-bottom: 4px; }

.smb-uikit__tooltip__content-main { flex: 1 1 0%; line-height: 19px; }

.smb-uikit__tooltip__content-footer { margin-top: 4px; }

.smb-uikit__tooltip__content-wrapper { overflow: auto; display: flex; flex: 1 1 0%; flex-direction: column; }

.smb-uikit__tooltip__container[type="light"] .smb-uikit__tooltip__content { background: rgb(255, 255, 255); color: rgb(86, 105, 134); }

.smb-uikit__tooltip__container[type="light"] .smb-uikit__tooltip__content-header, .smb-uikit__tooltip__container[type="light"] .smb-uikit__tooltip__content-footer { color: rgb(154, 171, 189); }

.smb-uikit__tooltip__container[type="light"] .smb-uikit__tooltip__content::after { border-color: rgb(255, 255, 255); }

.smb-uikit__tooltip__container[type="dark"] .smb-uikit__tooltip__content { background: rgb(66, 74, 84); color: rgb(255, 255, 255); }

.smb-uikit__tooltip__container[type="dark"] .smb-uikit__tooltip__content-header, .smb-uikit__tooltip__container[type="dark"] .smb-uikit__tooltip__content-footer { color: rgb(169, 178, 189); }

.smb-uikit__tooltip__container[type="dark"] .smb-uikit__tooltip__content::after { border-color: rgb(66, 74, 84); }

.smb-uikit__tooltip__container[position="top"] .smb-uikit__tooltip__content::after { border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; top: 100%; left: 50%; margin-left: -10px; }

.smb-uikit__tooltip__container[position="right"] .smb-uikit__tooltip__content::after { border-top-color: transparent; border-bottom-color: transparent; border-left-color: transparent; top: 50%; right: 100%; margin-top: -10px; }

.smb-uikit__tooltip__container[position="bottom"] .smb-uikit__tooltip__content::after { border-top-color: transparent; border-right-color: transparent; border-left-color: transparent; bottom: 100%; left: 50%; margin-left: -10px; }

.smb-uikit__tooltip__container[position="left"] .smb-uikit__tooltip__content::after { border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; top: 50%; left: 100%; margin-top: -10px; }

.smb-uikit__tooltip__trigger { cursor: pointer; }
